/*下方内容*/

.recharge-record-container {
  display: block;
  width: 100%;
  position: relative;
}

.border_box {
  overflow: hidden;
  min-height: 240px;
}

.detail-header {
  width: 100%;
  position: relative;
  padding: 0 25px;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  height: 35px;
  font-size: 1.2px;
  color: #6B7DA2;
}

.time {
  flex: 16;
  text-align: left;
}

.currency {
  flex: 12;
  text-align: left;
}

.type {
  flex: 12;
  text-align: left;
}


.total {
  flex: 12;
  text-align: left;
}

.address {
  flex: 10;
  text-align: left;
}

.address-detail {
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  color: #0D0E23;
}

.state {
  flex: 11;
  text-align: right;
}

/*暂无记录  begin*/
.detail-li-no-data {
  min-height: 200px;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-data-content img{
  /*width: 44px;*/
  vertical-align: middle;
  margin-bottom: 10px;
}

.no-record {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  text-align: center;
  font-weight:400;
  color: #6B7DA2;
}
/*暂无记录  end*/

/*列表*/
.detail-container {

}

.detail-li {
  height: auto;
  padding: 0 25px;
  background-color: #fff;
  color: #0D0E23;
}

.detail-li:hover {
  background-color: #F5F6FA;
}

.detail-li:hover .unit-input {
  background-color:rgba(196,62,78,0.03);
}

/*具体内容*/
.li-container {
  width: 100%;
  text-align: center;
  min-height: 55px;
  align-items: center;
  -webkit-align-items: center;
  /*border-top: 1px solid #f9f9f9;*/
  /*border: 1px solid #e5e5e5;*/
  /*border-bottom:1px solid #e5e5e5;*/
}

/*加载中*/
.recharge-record-loading-container {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

/*加载更多*/
.loading-more {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  /*background-color: #fff;*/
  color: #3576F5;
  /*border-radius: ;*/
  position: relative;
}

.loading-more span {
  cursor: pointer;
}

.copy-btn {
  padding: 0 20px;
  border: 1px solid #3576F5;
  border-radius: 4px;
  position: absolute;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
}

.unit-input {
  width: 450px;
  border: 0 solid transparent;
}

.uniqueId-input {

}

.address-title {
  width: 10%;
  display: inline-block;
}

/*加载下一页*/
.loadingNext {
  display: block;
  position: relative;
  width: 100%;
  min-height: 400px;
  background-color: #fff;
}
