.fund-buy-activity{
  background: #F7F8FA;
  height: 100%;
  overflow-y: hidden;
}


.record-container2 {
  height: 46px;
  line-height: 46px;
  background:rgba(255,255,255,1);
  box-shadow:0px 2px 6px 0px rgba(0,0,0,0.06);
}
.header {
  width: 1200px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 46px;
  color: #6B7DA2;
  /*margin-top: 70px;*/
  position: relative;
  /*padding-left: 15px;*/
}
.header-title {
  font-size: 14px;
  line-height: 18px;
  color: #6B7DA2;
  padding-right: 20px;
}
.header-title:hover {
  color: #3576F5;
}
.spanbf {
  padding-right: 20px;
}







.input-div input::-webkit-input-placeholder{
  /* WebKit browsers */
  font-size:12px;
  color:#ACBDDE;
}
.input-div input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size:12px;
  color:#ACBDDE;
}
.input-div input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size:12px;
  color:#ACBDDE;
}
.input-div input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-size:12px;
  color:#ACBDDE;
}


/*PC-----------------------------*/
.fund-buy-name {
  width: 1200px;
  height: 303px;
  margin: 0 auto;
  margin-top: 26px;
  background-color: #FFFFFF;
}
.fund-buy-draw {
  height: 50px;
  line-height: 50px;
  padding-left: 25px;
  color: #131F30;
  font-size:14px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  background-color: #FFFFFF;
  border-bottom: 1px solid #F5F6FA;
}
.fund-buy-con {
  display: inline-block;
  width: 64.5%;
}
.fund-buy-con-right {
  /*display: inline-block;*/
  float: right;
  width: 35%;
  height: 253px;
  /*background-color: pink;*/
  padding-left: 40px;
  border-left: 1px solid #F5F6FA;
}
.none-border {
  width: 33.33%;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 12px;
}
.fund-buy-per {
  width: 33.33%;
  text-align: center;
  border-right: 1px solid #F5F6FA;
  margin-top: 30px;
  padding-bottom: 12px;
}
.fund-buy-input-desc{
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#6A83A8;
  margin-bottom: 10px;
}
.fund-buy-p {
  font-size:24px;
  font-family:Roboto-Regular,Roboto;
  font-weight:400;
  color: #172841;
  margin-top: 6px;
}
.fund-status {
  padding: 25px;
  padding-bottom: 15px;
}
.fund-with {
  width: 50%;
}
.fund-bak {
  font-size:13px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#172841;
  padding-right: 25px;
}
.fund-cc {
  font-size:13px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #3E536C;
}
.fund-shou {
  padding-left: 25px;
  padding-bottom: 15px;
}
.fund-fen {
  padding-top: 30px;
  padding-bottom: 12px;
  font-size:14px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color: #131F30;
}
.input-div {
  width:345px;
  height:40px;
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);
  padding: 15px auto;
  color: #172841;
  font-size: 14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  margin-bottom: 25px;
}
.input-input {

}
.fund-buy-input-item-left {
  border: none;
  width: 50%;
  height: 38px;
  display: block;
  box-sizing: border-box;
  padding-left: 15px;
}
.fund-buy-input-item-account {
  align-items: center;
  font-size:14px;
}
.buy-currency {
  margin-left: 3px;
  padding-right: 15px;
  color: #86651F;
}
.buy-currency-fen {
  color: #86651F;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  padding-left: 3px;

}
.purchase-div {
  width:345px;
  height:44px;
  line-height: 44px;
  text-align: center;
  background:linear-gradient(90deg,rgba(255,221,111,1) 0%,rgba(254,200,83,1) 100%);
  border-radius:2px;
  font-size:14px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color: #86651F;
  cursor: pointer;
}
.purchase-div:hover {
  background-color: #F7DB80;
}
.fund-buy-se {
  width: 1200px;
  margin: 15px auto 26px;
  background-color: #FFFFFF;
}
.fund-buy-section-title{
  width:100%;
  height: 50px;
  font-size: 14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #131F30;
  line-height:50px;
  padding-left: 25px;
  border-bottom: 1px solid #F5F6FA;
  background-color: #ffffff;

}
.fund-buy-type-of-strategy{
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
}
.fund-buy-type-of-strategy-img{
  width: 100%;
}
