.mobile-fund-products {
  width: 7.5rem;
  height: 100%;
  background-color: #F7F8FA;
}
.product-name {
  padding: 0.5rem 0.3rem 0.32rem;
}
.product-vertical {
  padding: 0 0.3rem;
}
.TKF-take-the-lead {
  width: 6.9rem;
  height: 5.48rem;
  margin: 0 auto;
  padding: 0.4rem 0.3rem;
  background-color: #FFFFFF;
  margin-bottom: 0.3rem;
  box-shadow:0rem 0.08rem 0.24rem -0.08rem rgba(1,1,1,0.1);
}
.TKF-take-the {
  font-size:0.28rem;
  color: #131F30;
  padding-bottom: 0.4rem;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
}

.produc-selected {
  color: #A2B5D9;
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}
.h5-item-selected {
  color: #86651F;
  font-size:0.24rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
}
.each-copy {
  display: block;
}
.TKF-take-the-box {
  width: 33%;
}
.padding-top {
  padding-top: 0.1rem;
}
.TKF-strategy {
  width: 100%;
  font-size:0.24rem;
  color: #6A83A8;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  padding-top: 0.40rem;
  padding-bottom: 0.15rem;
}
.TKF-usdt {
  color: #172841;
  font-size: 0.28rem;
  font-family:Roboto-Regular,Roboto;
  font-weight:400;
}
.TKF-purchase {
  width: 6.3rem;
  height: 0.8rem;
  line-height: 0.8rem;
  color: #86651F;
  font-size: 0.28rem;
  text-align: center;
  background: linear-gradient(90deg,rgba(255,221,111,1) 0%,rgba(254,200,83,1) 100%);
  border-radius: 0.06rem;
  margin-top: 0.28rem;
}
.color-bik {
  color: #172841;
  font-size:0.36rem;
  font-family:Roboto-Regular,Roboto;
  font-weight:400;
}
.color-a8 {
  color: #6A83A8;
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}
