.fund-asset-container {
  width: 7.5rem;
  height: 100%;
  background: #F7F8FA;
}

.fund-asset-content {
  position: relative;
  /*background: #F7F8FA;*/
  width: 100%;
  height: 100%;
}

.fund-asset-background{
  width: 100%;
  height: 2.44rem;
  padding: 0.3rem 0.3rem 0;
  background: url("../assets/fund_asset_pic.png") no-repeat center;
  background-size: 100% auto;
}

.fund-asset-title {
  color: #172841;
  font-size:0.24rem;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  margin-bottom: 0.06rem;
}

.fund-asset-amount {
  color: #906D1C;
  font-size:0.64rem;
  font-family:Roboto-Bold,Roboto;
  font-weight:bold;
}

.fund-asset-income {
  position: absolute;
  top: 1.66rem;
  left: 0.32rem;
  width: 6.9rem;
  height: 1.56rem;
  background: #fff;
  padding: 0.38rem 0 0 0.6rem;
  box-shadow:0rem 0.08rem 0.24rem -0.08rem rgba(1,1,1,0.08);
  border-radius:0.06rem;
}

.fund-asset-total-income {
  flex: 1;
  font-size:0.24rem;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color: #172841;
}
.fund-asset-total-incom-amount {
  font-size:0.28rem;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color: #9D7A2B;
  margin-top: 0.04rem;
}

.fund-asset-null {
  width: 100%;
  height: 1.38rem;
  /*background: pink;*/
}

.fund-asset-status {
  padding: 0 0.3rem;
  margin-bottom: 0.32rem;
}

.fund-asset-status-title {
  height: 0.34rem;
  line-height: 0.34rem;
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #A2B5D9;
  margin-bottom: 0.32rem;
}

.selected {
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #86651F;
}

.line {
  /*width: 0.02rem;*/
  /*height: 0.24rem;*/
  /*background: #6A83A8;*/
  color: #6A83A8 ;
  margin: 0 0.3rem;
}

.fund-asset-status-containter {
  width: 6.9rem;
  height: 1.56rem;
  background: #fff;
  font-size:0.28rem;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  box-shadow:0rem 0.08rem 0.24rem -0.08rem rgba(1,1,1,0.08);
  border-radius:0.06rem;
  /*padding: 0.3rem 0.22rem 0 0.28rem;*/
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.fund-asset-status-containter-left {
  width: 4rem;
  padding: 0.3rem 0 0 0.28rem;
}


.fund-asset-status-acount {
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(23,40,65,0.6);
}

.fund-asset-status-number {
  font-size:0.48rem;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color: #86651F ;
  margin-right: 0.22rem;
}

.fund-asset-status-containter-right {
  padding: 0 0.3rem 0 0;
  justify-content: center;
  align-items: center;
}

.sub-scription {
  margin-right: 0.3rem;
}

.go-detail {
  width: 12px;
  vertical-align: inherit;
}

