.auth-state-container {
  width: 100%;
  display: block;
  background-color: #ffffff;
  min-height: 650px;
  position: relative;
  padding: 0 50px;
}

/*标题部分*/
.title-box {
  font-size: 16px;
  line-height: 16px;
  align-items: center;
  -webkit-align-items: center;
  letter-spacing: 1px;
  flex-direction: row;
  padding-top: 15px;
}

.title-block {
  display: block;
  width: 4px;
  height: 16px;
  background-color: #3576F5;
  margin-right: 6px;
}

.title-level-one {

}

.title-next {

}

.total-return-question-icon-box {
  position: relative;
}

.question-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  right: -22px;
  transform: translateY(-50%);
}

.reward-list-box {
  margin-top: 15px;
}

.reward-list-detail-box {
  color: #333;
  margin-top: 10px;
}

.loading-box {
  position: relative;
  min-height: 500px;
}

.reward-list-head-box {
  font-size: 14px;
  color: #333;
  height: 35px;
  line-height: 35px;
}

.reward-list-content-box {
  font-size: 14px;
  color: #666;
  height: 35px;
  line-height: 35px;
  border-top: 1px solid #f9f9f9;
}

/*表格*/
.order {
  flex: 10.8;
  text-align: center;
}

.user {
  flex: 18.3;
  text-align: center;

}

.auth {
  flex: 11.7;
  text-align: center;

}

.register-reward {
  flex: 18.8;
  text-align: center;

}

.month-return {
  flex: 18.3;
  text-align: center;

}

.total-return {
  flex: 21.6;
  text-align: center;

}

.popup-window-article {
  width: 500px;

}

.popup-window-article-detail-box {
  margin-top: 20px;
}

.popup-window-article-explain {
  font-size: 14px;
  color: #666;
  line-height: 14px;
  margin-top: 15px;
}

.popup-window-footer {
  padding: 25px 0 17px 0;
}

.popup-window-button {
  font-size: 14px;
}

.loading-more {
  border: 0 solid transparent;
  padding: 8px 0;
  text-align: center;
}
