.auth-state-container {
  width: 100%;
  display: block;
  background-color: #ffffff;
  min-height: 650px;
  position: relative;
  padding: 0 50px;
}

/*标题部分*/
.title-box {
  font-size: 16px;
  line-height: 16px;
  align-items: center;
  -webkit-align-items: center;
  letter-spacing: 1px;
  flex-direction: row;
  padding-top: 15px;
}

.title-block {
  display: block;
  width: 4px;
  height: 16px;
  background-color: #C43E4E;
  margin-right: 6px;
}

.title-level-one {

}

.title-next {

}

.total-get-box {
  font-size: 16px;
  line-height: 16px;
  height: 16px;
  margin-top: 20px;
}

.reward-list-box {
  margin-top: 20px;
}

.reward-list-title-box {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
}

.reward-list-title-explain {
  align-items: center;
}

.question-icon {
  width: 14px;
  height: 14px;
  margin-left: 8px;
}

.reward-list-detail-box {
  color: #333;
  margin-top: 10px;
}

.reward-list-head-box {
  font-size: 14px;
  color: #333;
  height: 35px;
  line-height: 35px;
}

.reward-list-content-box {
  font-size: 14px;
  color: #666;
  height: 35px;
  line-height: 35px;
  border-top: 1px solid #f9f9f9;
}

.date {
  /*width: 280px;*/
  flex: 28.1;
  padding-left: 90px;
}

.number {
  flex: 28.1;
  text-align: right;
}

.reward {
  /*width: 435px;*/
  flex: 43.7;
  padding-right: 90px;
  text-align: right;
}

.popup-window-article {
  width: 500px;
  min-height: 100px;
  position: relative;
}

.popup-window-article-detail-box {
  margin-top: 20px;
}

.popup-window-article-explain {
  font-size: 14px;
  color: #666;
  line-height: 14px;
  margin-top: 15px;
}

.popup-window-footer {
  padding: 25px 0 17px 0;
}

.popup-window-button {
  font-size: 14px;
}

.page-bar-box {

}
