/*隐藏的内容*/
.li-hidden {
  width: 1180px;
  margin: 0 auto;
  position: relative;
  min-height: 135px;
  background-color: #FBFBFB;
  box-shadow: 0 0 1px 1px rgba(118, 125, 127, 0.08) inset;
  padding-bottom: 50px;
}

.address-container {
  flex: 51.9;
  flex-direction: column;
  justify-content: space-between;
  /*padding: 15px 0;*/
  height: 100%;
}

.address-item2 {
  margin-top: 35px;
  margin-left: 15px;
}

.address-item3 {
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  margin-top: 10px;

}
.address-ERC {
  display: inline-block;
  text-align: center;
  width: 120px;
  height: 36px;
  line-height: 36px;
  background-color: #EFF0FF;
  color: #0D0E23;
  font-size: 14px;
  border-radius: 1px;
  cursor: pointer;
  margin-right: 25px;
  /*border: 1px solid #3576F5;*/
}

.address-OMNI-disabled {
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  width: 100px;
  height: 30px;
  line-height: 30px;
  background-color: #E5EBF5;
  color: #B5BCC6;
  border-radius: 2px;
  cursor: pointer;
  /*border: 1px solid #3576F5;*/
}

.address-OMNI {
  display: inline-block;
  text-align: center;
  width: 120px;
  height: 36px;
  line-height: 36px;
  background-color: #EFF0FF;
  color: #0D0E23;
  font-size: 14px;
  border-radius: 1px;
  cursor: pointer;
  /*border: 1px solid #3576F5;*/
}

.address-si {

  background:#3576F5;
  color: #fff;

  /*border: 1px solid #3576F5;*/
}

.address-item {
  padding-left: 15px;
  padding-top: 35px;
}

.address-item:nth-of-type(2),.address-item:nth-of-type(3) {
  /*margin-top: 29px;*/
}

.qr-code {
  position: absolute;
  display: none;
  height: 110px;
  width: 110px;
  text-align: center;
  padding-top: 5px;
  background-color: #fff;
  margin-left: 153px;
  box-shadow:0px 4px 14px -2px rgba(0,0,0,0.1);
}

.qr-code-public-key {
  position: absolute;
  display: none;
  height: 110px;
  width: 110px;
  text-align: center;
  padding-top: 5px;
  background-color: #fff;
  margin:110px 0 0 153px;
}


.address {
  width: 540px;
  /*margin-left: 20px;*/
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: space-between;
}

.address span {
  margin-bottom: 13px;
}

.address-input {
  width: 100%;
  height: 30px;
  text-align: left;
  outline: none;
  background: transparent;
  border: none;
  font-size: 18px;
  color: #A2B5D9;
  margin-bottom: 16px;
}

.address-button {
  width: 128px;
  height: 36px;
  margin-right: 21px;
  border: 1px solid #EFF0FF;
  background-color: #fff;
  color: #0D0E23;
  outline: none;
}

.address-button1 {
  width: 128px;
  height: 36px;
  margin-right: 21px;
  border: 1px solid #EFF0FF;
  background-color: #fff;
  color: #fff;
  outline: none;
}

.address-button img {
  vertical-align: sub;
  margin-right: 10px;
}

.show-QRCode {
  width: 128px;
  height: 36px;
  margin-right: 21px;
  border: 1px solid #EFF0FF;
  background-color: #fff;
  color: #0D0E23;
  outline: none;
}

.show-QRCode img {
  vertical-align: sub;
  margin-right: 10px;
}




.describe {
  flex: 30;
  font-size: 12px;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin-top: 35px;
  /*height:110px;*/
}

.describe li {
  width: 430px;
  position: relative;
  padding-left: 2%;
  color: #0D0E23;
  margin-bottom: 2px;
  line-height: 18px;
}

.describe li:last-of-type {
  margin-bottom: 0;
}

.describe li span {
  position: absolute;
  top: 9px;
  left: 0;
  transform: translateY(-50%);
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background-color: #0D0E23;
}

.close {
  flex: 2;
  height: 100%;
  position: relative;
}

.close-img {
  position: absolute;
  top: 10px;
  right: 10px;
}

/*弹窗*/
.pop-article {
  text-align: center;
  font-size: 1.6rem;
  padding: 40px 0 20px 0;
}

.pop-footer {
  width: 100%;
  justify-content: center;
  /*height:5px;*/
}

.pop-footer button {
  margin: 0 20px;
}

.usdt_notice {
  padding-left: 10px;
}

.usdt_notice_dot {
  background-color: #0D0E23 !important;
}

/*memo 弹窗提示*/
.memo-pop-header {
  font-size: 16px;
}

.memo-pop-article {
  width: 400px;
  padding: 20px 0;
}

.memo-pop-check {
  line-height: 18px;
  font-size: 12px;
  color: #666;
  margin: 10px 0;
}
#memo-pop-checkbox {
  vertical-align: text-top;
}

.memo-pop-article-text {
  font-size: 14px;
}

.memo-pop-btn-container {
  justify-content: center;
}

.memo-btn-not-agree {
  background: #B1B3B4;
}
