/*下方内容*/

.withdrawals-record-container {
  display: block;
  width: 100%;
  position: relative;
}

.border_box {
  overflow: hidden;
  min-height: 240px;
  /*border-top: 1px solid #EFF0FF;*/
  /*border-top-left-radius: 0 !important;*/
}

.detail-header {
  width: 100%;
  position: relative;
  padding: 0 25px;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  height: 40px;
  /*background-color: #cae7ea;*/
  /*border-left: 1px solid #e5e5e5;*/
  /*border-right: 1px solid #e5e5e5;*/
  font-size: 1.2px;
  /*text-align: center;*/
  color: #6B7DA2;
}


.time {
  flex: 14;
  /*flex:9.3;*/
  text-align: left;
}

.currency {
  flex: 7;
  text-align: left;
  /*flex:19.9;*/
}

.total {
  flex: 13;
  text-align: left;
}

.address {
  flex: 52.7;
  text-align: left;
}

.state {
  flex: 6;
  text-align: left;
}

.operation {
  flex: 10.8;
  text-align: right;
}
/*暂无记录  begin*/
.detail-li-no-data {
  min-height: 200px;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-data-content img{
  /*width: 44px;*/
  vertical-align: middle;
  margin-bottom: 10px;
}

.no-record {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  text-align: center;
  font-weight:400;
  color: #6B7DA2;
}
/*暂无记录  end*/

.address-detail {
  text-align: left;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  white-space: nowrap;
  justify-content: center;
  /*padding: 5px 0;*/
  min-height: 60px;
}

/*列表*/
.detail-container {
}

.detail-li {
  /*height:35px;*/
  height: auto;
  background-color: #fff;
  color: #0D0E23;
}

.detail-li:hover {
  background-color: #F5F6FA;
}

.detail-li:hover .unit-input {
  background-color:rgba(196,62,78,0.03);
}

/*具体内容*/
.li-container {
  width: 100%;
  text-align: center;
  padding: 0 25px;
  min-height: 55px;
  align-items: center;
  -webkit-align-items: center;
  /*border-top: 1px solid #f9f9f9;*/
  /*border: 1px solid #e5e5e5;*/
}

/*加载中*/
.withdrawals-record-loading-container {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.address-detail-item {
  line-height: 20px;
  height: 20px;
  /*margin-left: 10%;*/
  padding-right: 70px;
}

/*加载更多*/
.loading-more {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #3576F5;
  position: relative;
}

.loading-more span {
  cursor: pointer;
}

.empty-span {
  text-align: center;
}

.copy-btn {
  padding: 0 20px;
  /*border: 1px solid #3576F5;*/
  border-radius: 1px;
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
}

.unit-input {
  width: 450px;
  background-color: transparent;
  border: 0 solid transparent;
}

.memo-input {
  max-width: 500px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-content: center;
}

.inline-block {
  display: inline-block;
}

.uniqueId-input {

}

.address-title {
  /*width: 12%;*/
  display: inline-block;
}

.empty-span {
  text-align: center;
}

/*弹窗button*/
.button-base {
  width: 190px;
  height: 40px;
  /* background-color: #3576F5; */
  color: #fff;
  border-radius: 1px;
  border: 0 solid transparent;
  margin-right: 2px;
  outline: none;
  margin-right: 20px;
}

.button-base1 {
  width: 410px;
  height: 40px;
  /* background-color: #3576F5; */
  color: #fff;
  border-radius: 1px;
  border: 0 solid transparent;
  margin-right: 2px;
  outline: none;
  margin-right: 20px;
}

.button-base:last-of-type {
  margin-right: 0;
}

.confirm-title {
  padding: 0 25px;
}

.confirm-article {
  font-size:16px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#0D0E23;
  padding: 35px 25px;
}

.confirm-footer {
  margin-bottom: 15px;
}
