.createAGroup_conteainer {
  width: 1200px;
  margin: 0 auto;
}

/*.createAGroup {*/
/*  width: 1200px;*/
/*  margin: 0 auto;*/
/*}*/
.create {
  width: 100%;
  /*height:485px;*/
  margin-top: 20px;
  margin-bottom: 25px;
  border:1px solid rgba(239,240,255,1);
}
.create_conteainer {
  width: 520px;
  margin: 0 auto;
}
.create_a {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 18px;
}
.create_a_p {
  font-size:24px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #0D0E23;
}
.create_discount {
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
}
.account_number {
  width: 100%;
  /*margin-bottom: 20px;*/
  margin-top: 5px;
}
.account_number_p {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
  margin-bottom: 10px;
}
.account_number_div {
  width:100%;
  height:40px;
  line-height: 40px;
  padding-left: 15px;
  background:rgba(245,246,250,1);
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);
  margin-bottom: 20px;
}
.account_number_input {
  width:100%;
  height:40px;
  line-height: 40px;
  padding-left: 15px;
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);
  /*margin-bottom: 20px;*/
  box-sizing: border-box;
}

.PCtuanfei {
  width: 100%;
  text-align: right;
}

.mobilePCtuanfei {
  width: 6.9rem;
  text-align: right;
}

.tuanfeiSpan {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
}
.mobiletuanfeiSpan {
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
}

.tuanfeiSpan2 {
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #FF9F40;
  padding-left: 15px;
}
.mobiletuanfeiSpan2 {
  font-size:0.28rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #FF9F40;
  padding-left: 0.1rem;
}
.div_botton {
  width: 100%;
  height:44px;
  line-height: 44px;
  text-align: center;
  background:linear-gradient(270deg,rgba(53,118,245,1) 0%,rgba(69,154,245,1) 100%);
  box-shadow:0px 10px 12px -6px rgba(0,2,40,0.2);
  border-radius:1px;
  margin-top: 5px;
  margin-bottom: 40px;
  color: #FFFFFF;
  border-radius:1px;
}
.div_botton:hover {
  background:rgba(92,147,255,1);
  border-radius:1px;
}
.rules {
  width: 100%;
  margin-bottom: 10px;
}
.rules_p {
  font-size:16px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:#0D0E23;
  margin-bottom: 15px;
}
.rules_details {
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#6B7DA2;
}
input::-webkit-input-placeholder{
  color:#A2B5D9;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:#A2B5D9;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:#A2B5D9;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
  color:#A2B5D9;
}
.hig {
  height: 20px;
}

.header_xuzhi {
  padding-left: 25px;
}
.pop-recharge {
  padding: 35px 25px;
  font-size:16px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  /*padding-bottom: 25px;*/
}
.pop-recharge-bottom {
  margin-bottom: 15px;
}
.button-base33 {
  width: 190px;
  height: 35px;
  /* background-color: #3576F5; */
  color: #fff;
  border-radius: 1px;
  border: 0 solid transparent;
  margin-right: 2px;
  outline: none;
}
.consequences {
  font-size: 16px;
  color: #0D0E23;
}
.m-r {
  margin-left: 24px;
}
.mobileCreateAGroup_conteainer {
  width: 7.5rem;
  background-color: #FFFFFF;
  padding: 0 0.3rem;
}
.mobileCreate {
  width: 6.9rem;
  /*height:485px;*/
  margin-top: 0.2rem;
  margin-bottom: 0.46rem;
  /*border:1px solid rgba(239,240,255,1);*/
}
.isAppCreate {
  width: 6.9rem;
  /*height:485px;*/
  margin-top: -0.88rem;
  margin-bottom: 0.46rem;
  /*border:1px solid rgba(239,240,255,1);*/
}
.mobileCreate_conteainer {
  width: 6.9rem;
  /*margin: 0 auto;*/
}
.mobileCreate_a {
  width: 6.9rem;
  text-align: center;
  /*margin-top: 30px;*/
  padding-top: 0.6rem;
  margin-bottom: 0.46rem;
}
.mobileRules {
  width: 6.9rem;
  margin-top: 0.82rem;
  /*padding: 0 15px;*/
  padding-bottom: 0.68rem;
}



/*实名认证弹框*/
.lock-position-confirm-toast {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
}

.lock-position-confirm-toast-window {
  position: absolute;
  top: 50%;
  left: 25px;
  right: 25px;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 4px;
  padding: 0 20px;
}

.lock-position-confirm-toast-close-btn {
  position: absolute;
  top: -40px;
  right: -10px;
  width: 40px;
  height: 40px;
}

.lock-position-confirm-toast-close-btn-img {
  display: block;
  width: 20px;
  margin: 10px;
}

.lock-position-confirm-toast-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #3576F5;
  font-size: 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
}

.lock-position-confirm-toast-list {
  padding-top: 15px;

}

.lock-position-confirm-toast-item-title {
  color: rgba(0,0,0,0.4);
}

.lock-position-confirm-toast-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  /*justify-content: space-between;*/
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lock-position-confirm-toast-btn-confirm {
  width: 45%;
  background: #3576F5;
  height: 40px;
  line-height: 40px;
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
}

/*弹框结束*/


.mobileDiv_botton {
  width: 6.9rem;
  height:0.88rem;
  line-height: 0.88rem;
  font-size: 0.24rem;
  text-align: center;
  background:linear-gradient(270deg,rgba(53,118,245,1) 0%,rgba(69,154,245,1) 100%);
  box-shadow:0px 0.2rem 0.24rem -0.12rem rgba(0,2,40,0.2);
  border-radius:0.02rem;
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;
  color: #FFFFFF;
  border-radius:0.02rem;
}
.mobileCreate_a_p {
  font-size:0.48rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #0D0E23;
}
.mobileCreate_discount {
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
}

.mobileaccount_number {
  width: 6.9rem;
  /*margin-bottom: 20px;*/
  margin-top: 0.2rem;
}
.mobileaccount_number_p {
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
  margin-bottom: 0.2rem;
}
.mobileaccount_number_div {
  width:6.9rem;
  height:0.8rem;
  line-height: 0.8rem;
  font-size: 0.24rem;
  padding-left: 0.3rem;
  background:rgba(245,246,250,1);
  border-radius:0.02rem;
  border:0.02rem solid rgba(224,225,244,1);
  margin-bottom: 0.4rem;
}
.mobileaccount_number_input {
  width:6.9rem;
  height:0.8rem;
  line-height: 0.8rem;
  padding-left: 0.3rem;
  font-size: 0.24rem;
  border-radius:0.02rem;
  border:0.02rem solid rgba(224,225,244,1);
  /*margin-bottom: 20px;*/
  box-sizing: border-box;
}
.mobilehig {
  height: 0.4rem;
}
.mobileRules_p {
  font-size:0.32rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:#0D0E23;
  margin-bottom: 15px;
}
.mobileRules_details {
  font-size:0.28rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#6B7DA2;
}
