.detailsOf {
  width: 1200px;
  margin: 0 auto;
}
.of_the {
  width: 100%;
  margin-top: 20px;
  /*padding-top: 20px;*/
  /*height:161px;*/
  background:linear-gradient(270deg,rgba(22,98,245,1) 0%,rgba(53,146,246,1) 100%);
  border-radius:1px;
  box-sizing: border-box;
}
.of_the_img {
  width: 100%;
  text-align: right;
}
.of_the_img img {
  margin-right: 100px;
  margin-top: 51px;
}
ul {
  width: 1200px;
  position: absolute;
  top: -4px;

}
.information_li {
  width: 100%;
  margin-top: 20px;
  display: flex;
}
.information_div {
  /*display: flex;*/
  width: 24%;
  height: 25px;
  /*line-height: 30px;*/
  /*padding-left: 25px;*/
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
  justify-content:space-between;
}

.information_div_s {
  height: 25px;
  /*line-height: 30px;*/
  /*padding-left: 25px;*/
  display: inline-block;
  margin-bottom: 5px;
  justify-content:space-between;
}
.div_border {
  border-right: 1px solid #EFF0FF;
  padding-left: 25px;
}
.div_s {
  height: 64px;
  border-right: 1px solid #EFF0FF;
}
.color_img {
  margin-bottom: -5px;
  margin-right: 5px;
}
.color_bik {
  width: 59%;
  font-size:20px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #F5F6FA;
  margin-left: 25px;
}
.color_hui {
  width: 36%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #F5F6FA;
  text-align: right;
  margin-right: 25px;
  height: 25px;
  /*line-height: 30px;*/
  /*padding-left: 25px;*/
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
  justify-content:space-between;
}
.color_hui_s {
  width: 14%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #F5F6FA;
  text-align: right;
  margin-right: 25px;
  /*width: 24%;*/
  height: 25px;
  /*line-height: 30px;*/
  /*padding-left: 25px;*/
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 5px;
  justify-content:space-between;
}
.color_f5 {
  /*width: 19%;*/
  font-size:12px;
  line-height: 38px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #F5F6FA;
  margin-left: 25px;
}
.color_f4 {
  /*width: 14%;*/
  font-size:12px;
  line-height: 38px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #F5F6FA;
  margin-left: 50px;
}
.color_6 {
  display: flex;
  width: 59%;
  margin-left: 25px;
  color: #F5F6FA;
}
.color_bik_9 {
  /*width: 20%;*/
  color: #FF9F40;
  font-size:36px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  /*margin-right: 25px;*/
  text-align: right;
  line-height: 20px;
  margin-top: 15px;
  /*padding-bottom: 20px;*/
}
.color_8 {
  color: #FFC58B;
}
.information_span {
  display: inline-block;
  width:240px;
  height:11px;
  background:rgba(239,240,255,1);
  border-radius:6px;
  margin-left: 15px;
  margin-right: 15px;
}
.of_number {
  width: 100%;
  height:60px;
  line-height: 60px;
  background:rgba(255,255,255,1);
  border:1px solid rgba(239,240,255,1);
  margin-top: 15px;
  margin-bottom: 15px;
  }
.of_number_span {
  display: inline-block;
  margin-left: 25px;
  margin-right: 5px;
  color: #3576F5;
}
.of_number_span_time {
  margin-left: 118px;
  margin-right: 5px;
  color: #3576F5;
}
.cumulative {
  height:152px;
  border-radius:2px;
  border:1px solid rgba(239,240,255,1);
  margin-bottom: 15px;
}
.cumulative_div {
  width: 100%;
  margin-top: 40px;
}
.border-ling {
  border-right: 0px;
}
.color_e2 {
  color: #0D0E23;
  font-size:14px;
  margin-bottom: 10px;
 }
.color_e9 {
  color: #FF9F40;
  font-size:24px;
}
.list_directory_column {
  width: 100%;
  height:44px;
  line-height: 44px;
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  background:rgba(245,246,250,1);
  padding-left: 25px;
  color: #0D0E23;
}
.ul_ul {
  /*width: 100%;*/
  /*height: 284px;*/
  /*margin: 0 auto;*/
  overflow: hidden;
  min-height: 284px;
  border-right:1px solid #EFF0FF;
  border-left:1px solid #EFF0FF;
  border-bottom: 1px solid #EFF0FF;
  margin-bottom: 30px;
}
.list_directory_column_li {
  width: 100%;
  display: flex;
  /*margin-top: 455px;*/

}
.list_directory_column_li_div {
  justify-content:space-between;
  width: 23.6%;
  height: 50px;
  line-height: 50px;
  color: #0D0E23;
  border-bottom: 1px solid #EFF0FF;
  /*padding-left: 25px;*/
}
.list_directory_column_li_dii {
  justify-content:space-between;
  width: 24.6%;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #EFF0FF;
  /*padding-right: 25px;*/
  text-align: right;
}
.list_directory_column_li_div_li {
  width: 100%;
  height: 50px;
  display: flex;
}
.color_6 >>> .el-progress-bar__outer {
  display: inline-block;
  width: 240px;
  height:11px;
  background:rgba(239,240,255,1);
  /*margin-left: 15px;*/
  margin-right: 15px;
}

.progress_bar .el-progress__text {
  font-size: 0px;
}
.next_upgrade {
  /*width: 12.5%;*/
  margin-right: 15px;
  justify-content:space-between;
}
.progress_bar {
  /*width: 20%;*/
  /*margin-right: 30px;*/
  padding-top: 1px;
  justify-content:space-between;
}
.percentage {
  width: 42%;
  /*margin-left: 102px;*/
  justify-content:space-between;
}
.tupian {
  display: inline-block;
  /*width:44px;*/
  height:18px;
  line-height:18px;
  padding: 0 10px;
  border-radius:9px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  text-align: center;
  margin-top: -2px;
  vertical-align: middle;
}
.mobiletupian {
  display: inline-block;
  /*width:44px;*/
  height:18px;
  line-height:18px;
  padding: 0 10px;
  border-radius:9px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  text-align: center;
  margin-top: -2px;
  vertical-align: middle;
}
.tupian_zhong {
  color: #4F8F8B;
  background:linear-gradient(180deg,rgba(209,244,246,1) 0%,rgba(170,211,211,1) 100%);
}
.tupian_wei {
  color: #7D7D7D;
  background:linear-gradient(360deg,rgba(179,179,179,1) 0%,rgba(242,242,242,1) 100%);
}
.tupian_xiao {
  color: #A44739;
  background:linear-gradient(360deg,rgba(238,112,90,1) 0%,rgba(255,208,188,1) 100%);
}
.tupian_da {
  color: #67582F;
  background:linear-gradient(180deg,rgba(246,234,205,1) 0%,rgba(203,190,143,1) 100%);
}
.tupian_chao {
  color: #E07100;
  background:linear-gradient(180deg,rgba(255,245,95,1) 0%,rgba(255,239,87,1) 19%,rgba(255,178,0,1) 100%);
}
.tupian_img {
  width: 37px;
  margin-bottom: -10px;
}
.mobiletupian_img {
  width: 37px;
  margin-bottom: -10px;
}

.tuituan {
  float: right;
  margin-right: 25px;
  margin-top: 15px;
  height:28px;
  line-height: 28px;
  background:rgba(255,255,255,1);
  border-radius:1px;
  border:1px solid rgba(53,118,245,1);
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(53,118,245,1);
  padding-left: 10px;
  padding-right: 10px;
}
.tuituan:hover {
  background:rgba(53,118,245,1);
  color: #ffffff;
}
.color_a2 {
  color: #6B7DA2;
  height: 40px;
  line-height: 40px;

  border-bottom: 0px;
}
.m-t {
  margin-left: 25px;
}
.m-r {
  margin-right: 25px;

}

.m-to {
  margin: 0px;
}
/*加载更多*/
.loading-more {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #3576F5;
  position: relative;
  list-style-type:none;
}

.loading-more span {
  cursor: pointer;
}
.p-l {
  padding-left: 100px;
  /*text-align: center;*/
}

.popWindow-article {
  padding-top: 10px;
}
.header_xuzhi {
  padding-left: 25px;
}

.pop-recharge {
  padding: 35px 25px;
  font-size:16px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  /*padding-bottom: 25px;*/
}

.pop-recharge-bottom {
  margin-bottom: 15px;
}

.button-base33 {
  width: 191px;
  height: 35px;
  /* background-color: #3576F5; */
  color: #fff;
  border-radius: 1px;
  border: 0 solid transparent;
  /*margin-right: 2px;*/
  outline: none;
}
.m-l {
  margin-left: 24px;
}

.consequencesSpan {
  color: #3576F5;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:500;
}


/*H5样式*/

.mobileOf {
  width: 100%;
}
.mobileOfThe {
  width: 100%;
  height: 232px;
  /*margin-top: 10px;*/
  /*padding-top: 20px;*/
  /*height:161px;*/
  background:linear-gradient(270deg,rgba(22,98,245,1) 0%,rgba(53,146,246,1) 100%);
  border-radius:1px;
  box-sizing: border-box
}
.mobileinformation_li {
  width: 100%;
  margin-top: 10px;
  display: flex;
}
.mobilecolor_bik {
  width: 59%;
  font-size:20px;
  line-height: 68px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #F5F6FA;
  margin-left: 15px;
}
.mobileMasui {
  /*width: 100%;/*/
  /*padding: 0 15px;*/
  padding-left: 15px;
  padding-right: 15px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #F5F6FA;
  /*justify-content:space-between;*/
}
.mobileMasuiL {
  display: inline-block;

}
.mobileMasuiR {
  float: right;
  display: inline-block;
  /*margin-bottom: 3px;*/
}
.mobileMbar {
  margin-top: 3px;
}
.mobileFold {
  width: 100%;
  padding: 0 15px;
  margin-top: 28px;
}
.mobileFoldL {
  display: inline-block;
  width: 48.5%;
  text-align: center;
  justify-content:space-between;
}
.mobileFoldLdiv {
  /*width: 33%;*/
  /*margin: 0 auto;*/
  text-align: center;
}
.mobileFoldR {
  display: inline-block;
  /*width: 49.7%;*/
  justify-content:space-between;
}
.mobileX {
  justify-content:space-between;
  display: inline-block;
  width:1px;
  height:36px;
  /*margin-left: 14%;*/
  /*margin-right: 14%;*/
  background:rgba(255,255,255,0.2);
}
.mobileFoldSapn {
  display: block;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #E0E1F4;
}


.mobileFoldSapnF {
  font-size:24px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #FF9F40;
}
.mobileFoldLw {
  width: 48.5%;
  display: inline-block;
  text-align: center;
}
.mobileNumber {
  width:100%;
  height:30px;
  line-height: 30px;
  margin-top: 19px;
  padding: 0 15px;
  background:rgba(216,216,216,0.2);
}
.mobileNumberFu {
  /*width: 100%;*/
  display: inline-block;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #E0E1F4;
}
.numb {
  width: 60%;
  text-align: left;
}
.timef {
  width: 39%;
  text-align: right;
}
.mobilegeren {
  width: 100%;
  height: 58px;
  padding: 0 15px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #EFF0FF;

}
.mobilegerenI {
  display: inline-block;
  width: 25px;
  /*height: 20px;*/
  /*line-height: 20px;*/
  /*margin-right: 6px;*/
  /*margin-top: 18px;*/
  /*background-color: pink;*/
  vertical-align: middle;

}
.mobilegerenImg {
  width: 20px;
  margin: 19px 0px;
}
.mobilegerenSpan {
  display: inline-block;
  /*!*height: 58px;*!*/
  /*line-height: 20px;*/
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#0D0E23;
  /*padding-bottom: 20px;*/
  /*background-color: pink;*/
  /*line-height: 58px;*/
}
.mobileliangtuan {
  width: 100%;
}
.mobiletuituan {
  float: right;
  /*margin-right: 15px;*/
  margin-top: 15px;
  height:28px;
  line-height: 28px;
  background:rgba(255,255,255,1);
  border-radius:1px;
  border:1px solid rgba(53,118,245,1);
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(53,118,245,1);
  padding-left: 10px;
  padding-right: 10px;
}
.mobileliang {
  width: 100%;
  background-color: #FFFFFF;
}
.mobileFoldSapnF18 {
  font-size:18px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #FF9F40;
}
.mobileliangdiv {
  display: inline-block;
  width: 49%;
  text-align: center;
  margin-top: 20px;
}
.mobileFoldSapnB7 {
  display: block;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
}
.mt {
  padding-bottom: 20px;
}
.mobilelist_directory {
  width: 100%;
  /*height:44px;*/
  /*line-height: 44px;*/
  background:#FFFFFF;
  box-sizing: border-box;
  /*color: #0D0E23;*/
  /*padding-left: 15px;*/
}
.list_directory_column {
  width: 100%;
  height:44px;
  line-height: 44px;
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  background:rgba(245,246,250,1);
  padding-left: 25px;
  color: #0D0E23;
}
.mobilelist_directory_column {
  width: 100%;
  height:44px;
  line-height: 44px;
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  background:rgba(245,246,250,1);
  padding-left: 15px;
  color: #0D0E23;
  box-sizing: border-box;
}
.mobilelist_directory_column_li_div {
  justify-content:space-between;
  /*width: 23.6%;*/
  height: 50px;
  line-height: 50px;
  color: #0D0E23;
  /*border-bottom: 1px solid #EFF0FF;*/
  /*padding-left: 25px;*/
}
.mobilelist_directory_column_li_div_li {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 0 15px;
  border-bottom: 1px solid #EFF0FF;
  box-sizing: border-box;
}
.mobilelist_directory_column_li_dii {
  justify-content:space-between;
  /*width: 24.6%;*/
  height: 50px;
  line-height: 50px;
  /*border-bottom: 1px solid #EFF0FF;*/
  /*padding-right: 25px;*/
  text-align: right;
}
.mobilelist_directory_column_li {
  width: 100%;
  display: flex;
  padding: 0 15px;

  box-sizing: border-box;
}
.columnW {
  width: 46%;
}
.directoryW {
  width: 20%;
}
.listW {
  width: 33%;
}
/*.mobilePop-recharge {*/
/*  padding: 25px 15px;*/
/*  font-size:13px;*/
/*  font-family:PingFangSC-Regular,PingFang SC;*/
/*  font-weight:400;*/
/*  color: #0D0E23;*/
/*  !*padding-bottom: 25px;*!*/
/*}*/
/*.mobileHeader_xuzhi {*/
/*  padding-left: 15px;*/
/*}*/


.toast-window-nobind-email {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0,0,0,0.6);
}

.toast-box-nobind-email {
  min-height: 100px;
  width: 320px;
  padding: 0 20px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 8px;

}

.memo-toast-box-close-btn-box{
  position: absolute;
  top: -40px;
  right: -10px;
  width: 40px;
  height: 40px;
}
.memo-toast-box-close-btn {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  margin: 10px;
}

.toast-nobind-email-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #3576F5;
  border-bottom: 1px solid #F2F2F2;
}
.toast-nobind-email-body {
  margin-top: 18px;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}
.confirm-nobind-email-btn {
  height: 36px;
  width: 140px;
  border-radius: 4px;
  line-height: 36px;
  color: #fff;
  font-size: 15px;
  margin: 15px auto 20px;
  background: #3576F5;
  text-align: center;
}
.mobilebutton-base33 {
  width: 40%;
  height: 30px;
  /* background-color: #3576F5; */
  color: #fff;
  border-radius: 1px;
  border: 0 solid transparent;
  margin-top: 15px;
  margin-bottom: 15px;
  outline: none;
}
