/*下方内容*/

.recharge-record-container {
  display: block;
  width: 100%;
  position: relative;
}

.border_box {
  overflow: hidden;
  width:1200px;
  border:1px solid rgba(239,240,255,1);
  border-top: 0;
  min-height: 240px;
  margin-bottom: 30px;
  /*border-top-left-radius: 0 !important;*/
  /*border-top: 1px solid #EFF0FF;*/
  /*border-bottom: 1px solid #EFF0FF;*/
}

.selected {
  color: #3576F5;
}

.detail-header {
  width: 100%;
  /*position: relative;*/
  padding: 0 25px;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  height: 40px;
  font-size: 1.2px;
  /*text-align: center;*/
  color: #6B7DA2;
}


.order-number {
  flex: 16.4;
  text-align: left;
}

.currency {
  flex: 14.3;
  text-align: left;
  /*flex:19.9;*/
}

.total {
  flex: 20.7;
  text-align: left;
}

.lock-house-time {
  flex: 26.4;
  text-align: left;
  /*flex:9.3;*/
  /*text-align: left;*/
}

.dividend-time {
  flex: 22.4;
  text-align: left;
  /*flex:9.3;*/
  /*text-align: left;*/
}

.income {
  flex: 20.4;
  text-align: left;
  /*flex:9.3;*/
  /*text-align: left;*/
}

.accrue-interest-time {
  flex: 16.4;
  text-align: right;
}


/*暂无记录  begin*/
.detail-li-no-data {
  min-height: 200px;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-data-content img{
  /*width: 44px;*/
  vertical-align: middle;
  margin-bottom: 10px;
}

.no-record {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  text-align: center;
  font-weight:400;
  color: #6B7DA2;
}
/*暂无记录  end*/


.address-detail {
  /*text-align: left;*/
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  white-space: nowrap;
  justify-content: center;
  /*align-items: center;*/
  /*padding: 5px 0;*/
  min-height: 60px;
}

.address-detail-item {
  line-height: 20px;
  height: 20px;
  /*margin-left: 10%;*/
  /*padding-right: 70px;*/
}

.address-detail-item input {
  border: 0;
  color: transparent;
  min-width: 550px;
}

.state_text {
  width: 90%;
  display: inline-block;
}


/*列表*/
.detail-container {

  margin-bottom: 10px;
}

.detail-li {
  height: auto;
  padding: 0 25px;
  background-color: #fff;
  color: #0D0E23;
}

.detail-li:hover {
  background-color: #F5F6FA;
}

.detail-li:hover .unit-input {
  background-color:rgba(196,62,78,0.03);
}

/*具体内容*/
.li-container {
  width: 100%;
  text-align: center;
  min-height: 55px;
  align-items: center;
  -webkit-align-items: center;
  /*min-height: 200px;*/
  /*border-top: 1px solid #f9f9f9;*/
}

/*加载中*/
.recharge-record-loading-container {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

/*加载更多*/
.loading-more {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #3576F5;
  position: relative;
}

.loading-more span {
  cursor: pointer;
}

.copy-btn {
  padding: 0 20px;
  border: 1px solid #3576F5;
  border-radius: 1px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.memo-input {
  max-width: 500px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-content: center;
}

.address-title {
  /*width: 10%;*/
  margin-right: 8px;
  display: inline-block;
}


