.index_home_market_list_body1 {
  /*margin: 0 auto;*/
  width: 100%;
  min-height: 360px;
  margin: 30px 0 30px;
  /*padding-top: 44px;*/
  /*padding-bottom: 10px;*/
  box-sizing: border-box;
  background-color: #FFFFFF;

}

.index_home_market_list_body {
  margin: 0 auto;
  width: 1200px;
  min-height: 460px;
  /*margin-top: 44px;*/
  border:1px solid #EFF0FF;
  /*border-bottom:0;*/
  padding:0 0 0;
  background-color: #FFFFFF;
}

.index_home_market_list_body11 {
  border:1px solid #EFF0FF;
  border-bottom:0;
}

.title {
  width: 100%;
  height: auto;
  padding: 0 25px;
  margin-top: 28px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.home-market-title {
  font-size: 20px;
  color: #0D0E23;
}

.dark {
  background-color: #212439;
}

.light {
  background-color: #fff;
}

.showmany{
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #172A4D;
  letter-spacing: 0;
}

/*新样式*/
.tabs-container {
  width: 100%;
  height: 45px;
  line-height: 45px;
  font-size: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  /*border:1px solid red;*/
  color: rgba(255, 255, 255, 0.6);
}

.title-tab {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
 /* padding: 0 46px;*/

}

.light .tabs-container {
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.light .selected {
  color: #000000;
}

.dark .selected {
  color: #40A9FF;
}

.market-list-icon {
  width: 24px;
  display: block;
  margin-right: 8px;
}

/* 免图标 */
.reduce_icon {
  position: absolute;
  display: block;
  width: 28px;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  color: #fff;
  font-weight: 100;
  top: -10px;
  right: -3px;
  transform: translateX(100%);
  background-image: linear-gradient(90deg, #FF433A 0%, #FF9D17 100%);
  border-radius: 7px 7px 7px 0;
  z-index: 100;
  text-align: center;
}

.reduce_icon font {
}

.reduce_icon_line {
  position: absolute;
  height: 1px;
  left: 3px;
  right: 3px;
  top: 50%;
}

/*市场列表*/
.market-list-container {
  width: 1150px;
  /*padding-left: 3.5%;*/
  margin: 0 auto;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  background-color: #F5F6FA;
  /*padding: 0 25px;*/
  /*color: #666;*/
}

.light .market-list-container {
  /*color: rgba(0, 0, 0, 0.6);*/
}

.market-list-click-area {
  position: relative;
  padding-left: 30px;
  padding-right:30px;
  align-items: center;
  line-height: 36px;
  /*margin-top: 12px;*/
  color: #6B7DA2;
}
.imageRight {
  margin-right:4px
}

.selected-market {
  background-color: #3576F5;
  padding: 0 25px;
  text-align: center;
  /*border-bottom: 3px solid #3576F5;*/
  color: #FFFFFF;
}

.market-detail-container {
  flex-direction: column;
  width: 100%;
  margin-top: 2px;
}

.market-detail-item {
  height: 60px;
  line-height: 60px;
  width: 100%;
  /*padding: 0 46px;*/
  border-bottom: 1px solid #F7F8FA ;
  font-size: 14px;
  color: #A2B5D9;
  box-sizing: border-box;
  /*border-bottom-width: 1px;*/
  /*border-bottom-style: solid;*/
  /*border-bottom-color:#F7F8FA;*/
}
.market-detail-item1 {
  height: 60px;
  line-height: 60px;
  width: 100%;
  /*padding: 0 46px;*/
  font-size: 14px;
  box-sizing: border-box;
  border:1px solid #E0E1F4;
  border-top: 1px solid #F7F8FA;
  color: #3576F5;

}

.market-detail-item .imgSelect {
  height: 12px;
  line-height: 60px;
  /*margin-right: 2px;*/
  margin: 24px 8px 0 0;
  flex:1;
 }

.market-detail-title {

}

.market-detail-title-nav {
  padding: 0 25px;
  box-sizing: border-box;
  justify-content: space-between;
}

/*.light .market-detail-title {*/
/*  color: rgba(0, 0, 0, 0.4);*/
/*}*/

.self-chose {
  flex: 4.9;
  align-items: center;
}

.currency {
  flex: 13.6;
  font-family: Roboto-Medium;
  font-size: 14px;
  color: #172A4D;
  text-align: left;
  letter-spacing: 0;
}

.currency1 {
  flex: 14.9;
  font-family: Roboto-Medium;
  font-size: 14px;
  color: #172A4D;
  text-align: left;
  letter-spacing: 0;
}

.currency-title {
  flex: 14.9;
  /*font-weight: 600;*/
}

.currency-market {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.2);
}

.light .currency-market {
  color: rgba(0, 0, 0, 0.2);
}

.latest-price {
  flex: 19.9;
  font-family: Roboto-Regular;
  text-align: left;
  font-size: 14px;
  color: #172A4D;
  letter-spacing: 0;
}

.latest-price-title {
  flex: 19.9;
  /*font-weight: 600;*/
}

.rise-and-fall {
  flex: 14.1;
  text-align: left;
}

.rise-and-fall-title {
  flex: 14.1;
  /*font-weight: 600;*/
  text-align: left;
}

.rise-and-fall-title span{
  margin-right: 80px;
}

.rise-and-fall-green {
  color: #02987D;

}

.spanwailv{
  width: 94px;
  /*height: 60px;*/
  line-height: 60px;
  color: #08D0AC;
  /*background-color:rgba(2,152,125,0.08);*/
  border-radius: 1px;
  text-align: left;
  /*margin: 11px auto auto 3px;*/
}

.sctab{
  width: 100%;
}
.title-tab .shictab{
  float: left;
  text-align: left;
}
.shicseach{
  /*float: right;*/
}

.spanwaired{
  width: 94px;
  /*height: 60px;*/
  line-height: 60px;
  color: #EF5656;
  /*background-color:rgba(196,62,78,0.08);*/
  border-radius: 1px;
  text-align: left;
  /*margin: 11px auto auto 3px;*/
}

.rise-and-fall-green span{

}

.rise-and-fall-red {
  color: #3576F5;
}


.dialog-input-text >>> .el-input__inner {
  -web-kit-appearance: none;
  -moz-appearance: none;
  width: 271px;
  height: 32px;
  line-height: 32px;
  outline: 0;
  /*opacity: 0.7;*/
  border: 1px solid #E0E1F4;
  border-radius: 1px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #0D0E23;
  letter-spacing: 0;
  /*background-color: #F7F8FA;*/
}

.dialog-input-text >>> .el-input__inner::placeholder {
  color: #A2B5D9;
}

.dialog-input-text >>> .el-input__inner::-moz-placeholder {
  color: #A2B5D9;
}

.dialog-input-text >>> .el-input__inner::-webkit-input-placeholder {
  color: #A2B5D9;
}

.dialog-input-text >>> .el-input__inner::-ms-input-placeholder {
  color: #A2B5D9;
}

.dialog-input-text >>> .el-input__icon{
  line-height: 32px;
  color: #9ca9b5;
}


.highest-price {
  flex: 19.9;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #172A4D;
  letter-spacing: 0;
  text-align: left;
}

.highest-price-title {
  flex: 19.9;
  /*font-weight: 600;*/
}

.minimum-price {
  flex: 16.5;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #172A4D;
  letter-spacing: 0;
  text-align: left;
}

.minimum-price-title {
  flex: 16.5;
  /*font-weight: 600;*/
}

.volume-price {
  flex: 9.9;
  text-align: right;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #172A4D;
  letter-spacing: 0;
  text-align: right;
}

.volume-price-title {
  flex: 9.9;
  text-align: right;
  /*font-weight: 600;*/
}

.market-detail {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  padding: 0 25px;
}

.light .market-detail {
  color: #172A4D;
}

.valuation {
  padding-left: 10px;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #6B7DA2;
  letter-spacing: 0;
  line-height: 60px;
}

.light .valuation {
  /*color: rgba(0, 0, 0, 0.4);*/
}

.market-detail:nth-of-type(2n) {
  /*background-color: #23273C;*/
}

.light .market-detail:nth-of-type(2n) {
  /*background-color: rgba(64, 169, 255, 0.04);*/
}

.market-detail:hover {
  background-color: #F7F8FA;
}

.light .market-detail:hover {
  background-color: #F5F6FA;
}

.market-center {
  justify-content: center;

}

.market-center img {
  height: 16px;
  margin-top: 20px;
}

.no-record {
  text-align: center;
  padding: 40px 0;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.light .no-record {
  color: rgba(0, 0, 0, 0.6);
}
.bizhong {
  color: #172A4D !important;
  /*width: 80px !important;*/
  flex: 15.9;
}
