.body {
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 1280px;
  position: relative;
  height: 100%;
  /*overflow-x: hidden;*/
}

/*.body::-webkit-scrollbar {*/
/*  display: none;*/
/*  scrollbar-width:none;*/
/*  -ms-overflow-style: none;*/
/*}*/

.page {
  min-height: 100%;
  padding-bottom: 110px;
  box-sizing: border-box;
  background-color: #ffffff;
  /*background-image: radial-gradient(farthest-side ellipse at 10% 0, rgba(169, 188, 204, 0.8), rgba(185, 201, 214, 0.79), rgba(217, 226, 233, 0.85)), url();*/
}
.page-black {
  background-color: #131F30;
  /*background-image: radial-gradient(farthest-side ellipse at 10% 0, rgba(169, 188, 204, 0.8), rgba(185, 201, 214, 0.79), rgba(217, 226, 233, 0.85)), url();*/
}

/*最小宽*/
.min-width {
  min-width: 1200px;
}

/*头部*/
.index-header {
  width: 100%;
  min-width: 65px;
  z-index: 500;
  position: relative;
}

/*中间部分*/
.index-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
}

/*中间部分*/
.index-containerlogo {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #172A4D;
}

.index-footer {
  margin-top: -110px;
  display: block;
  width: 100%;
  height: 330px;
  z-index: 500;
}

/*弹窗*/
.pop-article {
  text-align: center;
  font-size: 14px;
  padding: 20px 0 0 0;
}

.pop-footer {
  width: 100%;
  justify-content: center;
  /*height:5px;*/
}

/*.pop-footer button {*/
/*  margin: 10px 25px 20px 25px;*/
/*}*/

.prompt_title {
  padding-left: 25px;
}
.button-base33 {
  width: 190px;
  height: 35px;
  /* background-color: #3576F5; */
  color: #fff;
  border-radius: 1px;
  border: 0 solid transparent;
  margin-right: 2px;
  margin-bottom: 15px;
  outline: none;
}
.m-r {
  margin-left: 24px;
}
.pop-recharge {
  padding: 35px 25px;
  font-size:16px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  /*padding-bottom: 25px;*/
}

.button-base {
  width: 140px;
  height: 35px;
  /*background-color: #3576F5;*/
  color: #fff;
  border-radius: 2px;
  border: 0 solid transparent;
}


.btn_sim {
  border: 1px solid #3576F5 !important;
  color: #3576F5 !important;
  background-color: transparent !important;
}

.btn_sim:hover {
  border: 1px solid #3576F5 !important;
  color: #fff !important;
  background-color: #3576F5 !important;
}


/*----------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  .body {
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 100%;
    position: relative;
    height: 100%;
  }

  .page {
    min-height: 100%;
    padding-bottom: 0;
    box-sizing: border-box;
    /*background-color: #f2f2f2;*/
    /*background-color: #f8f8f8;*/

  }

  /*最小宽*/
  .min-width {
    min-width: 100% !important;
  }

	/*头部*/
	.index-header {
		width: 100%;
		height: 0.88rem;
		background: #081724;
		z-index: 500;
		position: relative;
	}

  .headerFixed {
    position: fixed;
    z-index: 10;
  }

  /*中间部分*/
  .index-container {
		position: absolute;
		top: 0.88rem;
		bottom: 0;
		right: 0;
		left: 0;
		background: #081724;
		height: auto;
    z-index: 0;
		/*overflow: auto;*/
	}
	.index-containeri {
		position: absolute;
		/*top: 0;*/
		bottom: 0;
		right: 0;
		left: 0;
		background: #131F30;
		height: auto;
    z-index: 0;
		/*overflow: auto;*/
	}

  .index-container-app {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    /*background: #131F30;*/
    height: auto;
    z-index: 0;
    overflow: auto;
  }

  .index-footer {
    display: none;

  }

  /*弹窗*/
  .pop-article {
    text-align: center;
    font-size: 0.32rem;
    padding: 40px 0 20px 0;
  }

  .pop-article {
    text-align: center;
    font-size: 0.32rem;
    padding: 5px 0  0;
  }

  .pop-footer {
    width: 100%;
    justify-content: center;
    /*height:5px;*/
    margin-bottom: 15px;
  }

  .pop-footer button {
    margin: 10px 20px;
  }
  .button-base {
    width: 140px;
    height: 35px;
    /*background-color: #3576F5;*/
    color: #fff;
    border-radius: 2px;
    border: 0 solid transparent;
  }

}
