.index-home-market-rank-container {
  /*margin-top: 35px;*/
  background-color: #fff;
}

.dark {

}

.light {

}

.riqi{
  font-family: Roboto-Bold;
  font-size: 12px;
  color: #B5BCC6;
  letter-spacing: 0;
  text-align: right;
  margin-left: 20px;
}

.market-rank-container {
  width: 1200px;
  /*display: flex;*/
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  /*width: 95%;*/
  height: 146px;

}

#rankitemdiv {
  top: 100px;
}


.market-rank-item {
  position: relative;
  top: 0;
  width: 232px;
  height: 96px;
  background-size: 232px;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.08);
  border-radius:3px;
  /* background-color: #212439;
  white-space: nowrap;*/
  /*background-image: url("../../assets/");*/
  padding: 12px 0px 12px 10px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  float: left;
}

.market-rank-item-img-0 {
  /*
  background-color: #212439;
  white-space: nowrap;*/
  background-image: url("../../assets/indexHome/currency-bgc-1.png");
}

.market-rank-item-img-0:hover {
  position: relative;
  top: -11px;
  box-shadow:0px 5px 10px 0px rgba(0,0,0,0.1);
}

.market-rank-item-img-1 {
  /*
  background-color: #212439;
  white-space: nowrap;*/
  background-image: url("../../assets/indexHome/currency-bgc-2.png");
}

.market-rank-item-img-1:hover {
  position: relative;
  top: -11px;
  box-shadow:0px 5px 10px 0px rgba(0,0,0,0.1);
}

.market-rank-item-img-2 {
  /*
  background-color: #212439;
  white-space: nowrap;*/
  background-image: url("../../assets/indexHome/currency-bgc-3.png");
}

.market-rank-item-img-2:hover {
  position: relative;
  top: -11px;
  box-shadow:0px 5px 10px 0px rgba(0,0,0,0.1);
}

.market-rank-item-img-3 {
  /*
  background-color: #212439;
  white-space: nowrap;*/
  background-image: url("../../assets/indexHome/currency-bgc-4.png");
}

.market-rank-item-img-3:hover {
  position: relative;
  top: -11px;
  box-shadow:0px 5px 10px 0px rgba(0,0,0,0.1);
}

.market-rank-item-img-4 {
  background-size: 232px;
  /*
  background-color: #212439;
  white-space: nowrap;*/
  background-image: url("../../assets/indexHome/currency-bgc-5.png");
}

.market-rank-item-img-4:hover {
  position: relative;
  top: -11px;
  box-shadow:0px 5px 10px 0px rgba(0,0,0,0.1);
}

/*.market-rank-item :hover{*/
/*  !*box-shadow:none;*!*/
/*}*/
.line{
  width: 1px;
  height: 60px;
  margin-top: 20px;
  float: left;
  background: #F7F8FA;
}

.szhei{
  /*opacity: 0.8;*/
  font-family: PingFangSC-Semibold;
  font-size: 22px;
  color: #0D0E23;
  margin-right: 4px;
  margin-bottom: 13px;
}



.light .market-rank-item {
 /** background-color: #fff;
  box-shadow: #DCDCDC 0 2px 20px 2px;

  */
}

.market-price-container {
  font-size: 12px;
  color: #6B7DA2;
  justify-content: space-between;
  margin-bottom: 4px;
}

.market-price-container :hover{
  box-shadow:none;
}

#livalue :hover{

}

.light .market-price-container {
  /*color: rgba(0, 0, 0, 0.8);*/
  color: #6B7DA2;
}

.light .shuju{
  width: 90%;
  float: left;
}
.light .shuline{
  width: 10%;
  height: 100%;
  float: left;
}

.market-rise-and-fall-green {
  text-align: center;
  width:56px;
  height:18px;
  line-height: 18px;
  background:#08D0AC;
  border-radius:3px;
  color: #FFFFFF;
}

.market-rise-and-fall-red {
  text-align: center;
  width:56px;
  height:18px;
  line-height: 18px;
  background:#EF5656;
  border-radius:3px;
  color: #FFFFFF;
}



.market-turnover-container {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
}

.light .market-turnover-container {
  /*color: rgba(0, 0, 0, 0.4);*/
  color: #8994A5;
  position: relative;
}

.light .market-turnover-container .hqimg{
  position: absolute;
  right: 0;
  bottom: 0;

}
.light .market-turnover-container .hqimg img{
  width: 70px;
}
.kong5px{
  margin-top: 5px;
}



/*底部公告样式*/

.notice100{
  position: absolute;
  top: 396px;
  z-index:1;
  width:100%;
  height: 44px;
  background: rgba(13,14,35,0.5);
  justify-content: space-around;
  /*border-bottom-width: 1px;*/
  /*border-bottom-style: solid;*/
  /*border-bottom-color:rgb(0,0,0,0.08);*/
  /*border-top-width: 1px;*/
  /*border-top-style: solid;*/
  /*border-top-color:rgb(0,0,0,0.08);*/
}

.notice-box {
  width: 1200px;
  height: 44px;
  line-height: 44px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header-textswiper-address {

  height: 100%;
  width: 600px;
  display: block;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-textswiper-icon {
  height: 16px;
  /*vertical-align: middle;*/
}

.header-textswiper-container {
  float: left;
  height: 44px;
  width: 600px;
  /*margin-left: 0.1rem;*/
  /*margin-top: 0.2rem;*/
  line-height: 44px;
  font-size: 14px;
  color: #fff;


  /*position: absolute;*/
  /*top: 0;*/
  /*left: 176px;*/
  /*width: 500px;*/
  /*line-height: 44px;*/
  /*font-size: 12px;*/
  /*color: #fff;*/
}

.notice-box-list-left-icon {
  line-height: 44px;
  /*width: 25px;*/
  /*height: 22px;*/
}

.notice-box-list-left-icon-img {
  width: 16px;
  display: block;
}

.notice-box-list {
  width: 1200px;
  padding-left: 20px;
  box-sizing: border-box;
  height: 44px;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
}



.notice-box-item {
  /*width: 33.33%;*/
  /*max-width: 240px;*/
  color: #FFFFFF;
/*opacity: 0.8;*/
  text-align: left;
  font-size: 12px;
  line-height: 44px;
  /*margin-left: 70px;*/
  font-family: PingFangSC-Semibold;
  cursor:pointer;
  float: left;
  overflow: hidden;
  /*padding: 0 15px;*/
}

.notice-box-item:hover {
  color: #3576F5;
  font-family: PingFangSC-Semibold;
}

.notice-box-item a {
  color: #fff;
  font-size: 12px;
  /*width: 350px;*/
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.notice-box-item-title {
  display: inline-block;
  /*max-width: 480px;*/
  /*width: 25%;*/
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  /*color: #172A4D;*/
  letter-spacing: 0;
  /*margin-right: 15px;*/
}
.notice-box-item-title1 {
  padding-left: 42px;
  padding-right: 42px;
}
.notice-box-item-title:hover {
  color: #fff;
  opacity: 0.6;
}

.notice-box-list-right-icon {

  display: inline;
  width: 95px;
  height: 44px;
  cursor: pointer;
  /*text-align: right;*/
  /*opacity: 0.4;*/
  font-family: PingFangSC-Semibold;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.notice-box-list-right-icon:hover {
  opacity: 0.6;
}

.notice-box-list-right-icon-img {
  width: 14px;
  margin-left: 13px;
  display:inline;
  transform: translate(35%,7%);
  /* padding: 2.5px; */

}
