.joinAGroup {
  width: 1200px;
  margin: 0 auto;
}
.create {
  width: 100%;
  /*height:485px;*/
  margin-top: 20px;
  margin-bottom: 25px;
  border:1px solid rgba(239,240,255,1);
}
.create_conteainer {
  width: 520px;
  margin: 0 auto;
}
.create_a {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 18px;
}
.create_a_p {
  font-size:24px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #0D0E23;
}
.create_discount {
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
}
.account_number {
  width: 100%;
  /*margin-bottom: 20px;*/
  margin-top: 5px;
}
.account_number_p {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
  margin-bottom: 10px;
}
.account_number_div {
  width:100%;
  height:40px;
  line-height: 40px;
  padding-left: 15px;
  background:rgba(245,246,250,1);
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);
  margin-bottom: 20px;
}
.account_number_input {
  width:100%;
  height:40px;
  line-height: 40px;
  padding-left: 15px;
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);
  margin-bottom: 20px;
  box-sizing: border-box;
}
.div_botton {
  width: 100%;
  height:44px;
  line-height: 44px;
  text-align: center;
  background:linear-gradient(270deg,rgba(53,118,245,1) 0%,rgba(69,154,245,1) 100%);
  box-shadow:0px 10px 12px -6px rgba(0,2,40,0.2);
  border-radius:1px;
  margin-top: 15px;
  margin-bottom: 40px;
  color: #FFFFFF;
}
.rules {
  width: 100%;
}
.rules_p {
  font-size:16px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:#0D0E23;
  margin-bottom: 15px;
}
.rules_details {
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#6B7DA2;
}
input::-webkit-input-placeholder{
  color:#A2B5D9;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:#A2B5D9;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:#A2B5D9;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
  color:#A2B5D9;
}
.information {
  width: 100%;
  background:linear-gradient(180deg,rgba(255,255,255,1) 0%,rgba(243,247,255,1) 100%);
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);
}
ul {
  width: 100%;
}
.information_li {
  width: 100%;
  margin-top: 20px;
  display: flex;
}
.information_div {
  /*width: 30%;*/
  height: 30px;
  border: 4px solid pink;
  margin-left: 5px;
  margin-bottom: 5px;
  justify-content:space-between;
}
.inputsize {
  width: 520px;
  height: 40px;
  margin: 6px 10px;
  padding-left: 10px;
  font-size: 14px;
  color: #172A4D;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #E0E1F4;
}
.account_number_input >>> .el-input__inner {
  margin-top: 7px;
  -webkit-appearance: none;
  background-color: #FFF;
  background-image: none;
  /* border-radius: 4px; */
  border: 0px solid #DCDFE6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 20px;
  line-height: 20px;
  outline: 0;
  padding: 0 0px;
  -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 100%;
}
.color_bik {
  width: 59%;
  font-size:20px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #0D0E23;
  margin-left: 15px;
}
.color_hui {
  width: 20%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
  text-align: right;
  margin-right: 15px;
}
.color_6 {
  width: 59%;
  margin-left: 15px;
  color: #6B7DA2;
}
.color_bik_9 {
  width: 20%;
  color: #FF9F40;
  font-size:18px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  margin-right: 15px;
  text-align: right;
  margin-bottom: 20px;
}
