

/*.joinAGroup {*/
/*  width: 1200px;*/
/*  margin: 0 auto;*/
/*}*/
.createAGroup_conteainer {
  width: 1200px;
  margin: 0 auto;
}
.create {
  width: 100%;
  /*height:485px;*/
  margin-top: 20px;
  margin-bottom: 25px;
  border:1px solid rgba(239,240,255,1);
}
.create_conteainer {
  width: 520px;
  margin: 0 auto;
}
.create_a {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 23px;
}
.create_a_p {
  font-size:24px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #0D0E23;
  margin-bottom: 8px;
}
.create_discount {
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
}
.account_number {
  width: 100%;
  /*margin-bottom: 20px;*/
  margin-top: 5px;
}
.account_number_p {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
  margin-bottom: 10px;
}
.account_number_div {
  width:100%;
  height:40px;
  line-height: 40px;
  padding-left: 15px;
  background:rgba(245,246,250,1);
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);
  margin-bottom: 20px;
}
.account_number_input {
  width:100%;
  height:40px;
  line-height: 40px;
  font-size: 12px;
  /*padding-left: 15px;*/
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);
  margin-bottom: 20px;
  box-sizing: border-box;
}
.div_botton {
  width: 100%;
  height:44px;
  line-height: 44px;
  text-align: center;
  background:linear-gradient(270deg,rgba(53,118,245,1) 0%,rgba(69,154,245,1) 100%);
  box-shadow:0px 10px 12px -6px rgba(0,2,40,0.2);
  border-radius:1px;
  margin-top: 30px;
  margin-bottom: 40px;
  color: #FFFFFF;
  border-radius:1px;
}
.div_botton:hover {
  background:rgba(92,147,255,1);
  border-radius:1px;
}
.rules {
  width: 100%;
}
.rules_p {
   font-size:16px;
   font-family:PingFangSC-Medium,PingFang SC;
   font-weight:500;
   color:#0D0E23;
   margin-bottom: 15px;
 }
.rules_details {
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#6B7DA2;
}
input::-webkit-input-placeholder{
  color:#A2B5D9;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:#A2B5D9;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:#A2B5D9;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
  color:#A2B5D9;
}
.information {
  width: 100%;
  background:linear-gradient(180deg,rgba(255,255,255,1) 0%,rgba(243,247,255,1) 100%);
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);
}
ul {
  width: 100%;
}
.information_li {
  width: 100%;
  /*line-height: 50px;*/
  /*margin-top: 20px;*/
  display: flex;
}
.margin-top20 {
  margin-top: 17px;
}
.margin-top10 {
  margin-top: 15px;
}
.margin-bottom16 {
  margin-bottom: 20px;
}
.information_div {
  /*width: 30%;*/
  /*height: 30px;*/
  /*border: 4px solid pink;*/
  margin-left: 5px;
  justify-content:space-between;
}
.tupian_img {
  width: 26px;
  margin-bottom: -5px;
  margin-left: 6px;
}
.inputsize {
   width: 496px;
   height: 40px;
   margin: 6px 10px;
   padding-left: 10px;
   font-size: 12px;
   color: #172A4D;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   border-radius: 2px;
   border: 1px solid #E0E1F4;
 }
.inputsize2 {
  width: 520px;
  height: 40px;
  /*margin: 6px 10px;*/
  padding-left: 15px;
  font-size: 12px;
  color: #172A4D;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #E0E1F4;
}
.account_number_input >>> .el-input__inner {
  margin-top: 7px;
  font-size: 12px;
  -webkit-appearance: none;
  background-color: #FFF;
  background-image: none;
  /* border-radius: 4px; */
  border: 0px solid #E0E1F4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #0D0E23;
  display: inline-block;
  /*font-size: inherit;*/
  height: 20px;
  line-height: 20px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 100%;
}

.color_bik {
  width: 59%;
  font-size:18px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #0D0E23;
  margin-left: 15px;
}
.color_hui {
  width: 20%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
  text-align: right;
  margin-right: 15px;
  padding-top: 8px;
}
.color_6 {
  width: 59%;
  margin-left: 15px;
  padding-top: 5px;
  color: #6B7DA2;
}
.color_bik_9 {
  width: 20%;
  color: #FF9F40;
  font-size:18px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  margin-right: 15px;
  text-align: right;
  margin-bottom: 14px;
}
.m-t {
  margin-top: 0px;
}
.drowdown-box {
  margin-left: -10px;
}
.tupian {
  display: inline-block;
  /*width:44px;*/
  padding-left: 5px;
  padding-right: 5px;
  height:18px;
  line-height:18px;
  border-radius:9px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  text-align: center;
  margin-bottom: 3px;
}
/**/
.tupian_zhong {
  color: #4F8F8B;
  background:linear-gradient(180deg,rgba(209,244,246,1) 0%,rgba(170,211,211,1) 100%);
}
.tupian_wei {
  color: #7D7D7D;
  background:linear-gradient(360deg,rgba(179,179,179,1) 0%,rgba(242,242,242,1) 100%);
}
.tupian_xiao {
  color: #A44739;
  background:linear-gradient(360deg,rgba(238,112,90,1) 0%,rgba(255,208,188,1) 100%);
}
.tupian_da {
  color: #67582F;
  background:linear-gradient(180deg,rgba(246,234,205,1) 0%,rgba(203,190,143,1) 100%);
}
.tupian_chao {
  color: #E07100;
  background:linear-gradient(180deg,rgba(255,245,95,1) 0%,rgba(255,239,87,1) 19%,rgba(255,178,0,1) 100%);
}
.color_3 {
  color: #0D0E23;
}
.searchResult {
  display: inline-block;
}
.soan {
  /*padding-bottom: 3px;*/
}


/*placeholder 样式     begin*/
.el-select >>> .el-input__inner::placeholder {
  color: #A2B5D9;
}

.el-select >>> .el-input__inner::-moz-placeholder {
  color: #A2B5D9;
}

.el-select >>> .el-input__inner::-webkit-input-placeholder {
  color: #A2B5D9;
}

.el-select >>> .el-input__inner:-ms-input-placeholder {
  color: #A2B5D9;
}
/*placeholder 样式     end*/
.hig {
  height: 20px;
}

.header_xuzhi {
  padding-left: 25px;
}
.pop-recharge {
  padding: 35px 25px;
  font-size:16px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  /*padding-bottom: 25px;*/
}
.pop-recharge-bottom {
  margin-bottom: 15px;
}
.button-base33 {
  width: 190px;
  height: 35px;
  /* background-color: #3576F5; */
  color: #fff;
  border-radius: 1px;
  border: 0 solid transparent;
  margin-right: 2px;
  outline: none;
}
.consequences {
  font-size: 16px;
  color: #0D0E23;
}
.m-r {
  margin-left: 24px;
}
.mobileCreateAGroup_conteainer {
  width: 7.5rem;
  background-color: #FFFFFF;
  padding: 0 0.3rem;
}
.mobileCreate {
  width: 7.5rem;
  /*height:485px;*/
  margin-top: 0.2rem;
  margin-bottom: 0.45rem;
  /*border:1px solid rgba(239,240,255,1);*/
}
.mobileCreate_conteainer {
  width: 6.9rem;
  /*margin: 0 auto;*/
}
.mobileInputsize {
  width: 6.45rem;
  height: 0.8rem;
  margin: 0.12rem 0.2rem;
  padding-left: 0.3rem;
  font-size: 0.24rem;
  color: #172A4D;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0.04rem;
  border: 0.02rem solid #E0E1F4;
}
/*.inputsize2 {*/
/*  width: 100%;*/
/*  height: 40px;*/
/*  !*margin: 6px 10px;*!*/
/*  padding-left: 15px;*/
/*  font-size: 12px;*/
/*  color: #172A4D;*/
/*  -webkit-box-sizing: border-box;*/
/*  box-sizing: border-box;*/
/*  border-radius: 2px;*/
/*  border: 1px solid #E0E1F4;*/
/*}*/

.mobileCreate_a {
  width: 6.9rem;
  text-align: center;
  /*margin-top: 30px;*/
  padding-top: 0.6rem;
  margin-bottom: 0.46rem;
}
.mobileRules {
  width: 6.9rem;
  margin-top: 0.8rem;
  /*padding: 0 15px;*/
  padding-bottom: 0.68rem;
}
.mobile10 {
  margin-top: 0.1rem;
}
.mobilecommon {
  display: inline-block;
  width: 3.3rem;
  text-align: center;
  margin-top: 0.06rem;
}
.mobileCol {
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
  margin-bottom: 0.1rem;
}
.mobileColor_F {
  color: #FF9F40;
  font-size:0.48rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  margin-bottom: 0.4rem;
}
.mobileSpan {
  display: inline-block;
  width: 0.02rem;
  height:0.72rem;
  background:rgba(207,211,233,1);
}


/*实名认证弹框*/
.lock-position-confirm-toast {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
}

.lock-position-confirm-toast-window {
  position: absolute;
  top: 50%;
  left: 25px;
  right: 25px;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 4px;
  padding: 0 20px;
}

.lock-position-confirm-toast-close-btn {
  position: absolute;
  top: -40px;
  right: -10px;
  width: 40px;
  height: 40px;
}

.lock-position-confirm-toast-close-btn-img {
  display: block;
  width: 20px;
  margin: 10px;
}

.lock-position-confirm-toast-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #3576F5;
  font-size: 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
}

.lock-position-confirm-toast-list {
  padding-top: 15px;
}

.lock-position-confirm-toast-item-title {
  color: rgba(0,0,0,0.4);
}

.lock-position-confirm-toast-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  /*justify-content: space-between;*/
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lock-position-confirm-toast-btn-confirm {
  width: 45%;
  background: #3576F5;
  height: 40px;
  line-height: 40px;
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
}



/*h5实名弹框结束*/
.tupianAlign {
  vertical-align: text-bottom;
}
.mobileColor_bik {
  /*width: 59%;*/
  font-size:0.4rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #0D0E23;
  margin-left: 0.3rem;
}
.mobilecreate_a_p {
  font-size:0.48rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #0D0E23;
  margin-bottom: 0.16rem;
}
.mobilecreate_discount {
  font-size:0.28rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
}
.mobileaccount_number {
  width: 6.9rem;
  /*margin-bottom: 20px;*/
  margin-top: 0.1rem;
}
.mobileaccount_number_p {
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
  margin-bottom: 0.2rem;
}
/*.account_number_div {*/
/*  width:100%;*/
/*  height:40px;*/
/*  line-height: 40px;*/
/*  padding-left: 15px;*/
/*  background:rgba(245,246,250,1);*/
/*  border-radius:1px;*/
/*  border:1px solid rgba(224,225,244,1);*/
/*  margin-bottom: 20px;*/
/*}*/
.mobileaccount_number_input {
  width:6.9rem;
  height:0.8rem;
  line-height: 0.8rem;
  font-size: 0.24rem;
  /*padding-left: 15px;*/
  border-radius:0.02rem;
  border:0.02rem solid rgba(224,225,244,1);
  margin-bottom: 0.4rem;
  box-sizing: border-box;
}
.mobileaccount_number_input >>> .el-input__inner {
  margin-top: 0.14rem;
  font-size: 0.24rem;
  -webkit-appearance: none;
  background-color: #FFF;
  background-image: none;
  /* border-radius: 4px; */
  border: 0px solid #E0E1F4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #0D0E23;
  display: inline-block;
  /*font-size: inherit;*/
  height: 0.4rem;
  line-height: 0.4rem;
  outline: 0;
  padding: 0 0.3rem;
  -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  /*width: 6.9rem;*/
}
.mobiledrowdown-box {
  margin-left: -0.2rem;
  font-size: 0.28rem;
}
.mobileinformation {
  width: 6.9rem;
  background:linear-gradient(180deg,rgba(255,255,255,1) 0%,rgba(243,247,255,1) 100%);
  border-radius:0.02rem;
  border:0.02rem solid rgba(224,225,244,1);
}
remul {
  width: 7.5rem;
}
.mobileinformation_li {
  width: 6.9rem;
  /*line-height: 50px;*/
  /*margin-top: 20px;*/
  display: flex;
}
.mobilemargin-top20 {
  margin-top: 0.34rem;
}
.mobileinformation_div {
  /*width: 30%;*/
  /*height: 30px;*/
  /*border: 4px solid pink;*/
  margin-left: 0.3rem;
  justify-content:space-between;
}

.mobilediv_botton {
  width: 6.9rem;
  height:0.88rem;
  line-height: 0.88rem;
  font-size: 0.28rem;
  text-align: center;
  background:linear-gradient(270deg,rgba(53,118,245,1) 0%,rgba(69,154,245,1) 100%);
  box-shadow:0px 0.2rem 0.24rem -0.12rem rgba(0,2,40,0.2);
  border-radius:0.02rem;
  margin-top: 0.6rem;
  margin-bottom: 0.8rem;
  color: #FFFFFF;
  border-radius:0.02rem;
}
.mobilediv_botton:hover {
  background:rgba(92,147,255,1);
  border-radius:0.02rem;
}
.mobiletupian_img {
  width: 0.52rem;
  margin-bottom: -0.1rem;
  margin-left: 0.12rem;
}
.mobiletupian {
  display: inline-block;
  /*width:44px;*/
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  height:0.36rem;
  line-height:0.36rem;
  border-radius:0.18rem;
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  text-align: center;
  margin-bottom: 0.06rem;
}
.mobilecolor_6 {
  width: 6.9rem;
  font-size: 0.24rem;
  margin-left: 0.3rem;
  padding-top: 0.1rem;
  color: #6B7DA2;
}
.mobilemargin-bottom16 {
  margin-bottom: 0.4rem;
}
.mobileRules_p {
  font-size:0.32rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:#0D0E23;
  margin-bottom: 15px;
}
.mobileRules_details {
  font-size:0.28rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#6B7DA2;
}
