.joinAGroup {
  width: 1200px;
  margin: 0 auto;
}
.create {
  width: 100%;
  /*height:485px;*/
  margin-top: 20px;
  margin-bottom: 25px;
  border:1px solid rgba(239,240,255,1);
}
.create_conteainer {
  width: 520px;
  margin: 0 auto;
}
.create_a {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 23px;
}
.create_a_p {
  font-size:24px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #0D0E23;
  margin-bottom: 8px;
}
.create_discount {
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
}
.account_number {
  width: 100%;
  /*margin-bottom: 20px;*/
  margin-top: 5px;
}
.account_number_p {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
  margin-bottom: 10px;
}
.account_number_div {
  width:100%;
  height:40px;
  line-height: 40px;
  padding-left: 15px;
  background:rgba(245,246,250,1);
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);
  margin-bottom: 20px;
}
.account_number_input {
  width:100%;
  height:40px;
  line-height: 40px;
  font-size: 12px;
  /*padding-left: 15px;*/
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);
  margin-bottom: 20px;
  box-sizing: border-box;
}
.div_botton {
  width: 100%;
  height:44px;
  line-height: 44px;
  text-align: center;
  background:linear-gradient(270deg,rgba(53,118,245,1) 0%,rgba(69,154,245,1) 100%);
  box-shadow:0px 10px 12px -6px rgba(0,2,40,0.2);
  border-radius:1px;
  margin-top: 30px;
  margin-bottom: 40px;
  color: #FFFFFF;
  border-radius:1px;
}
.div_botton:hover {
  background:rgba(92,147,255,1);
  border-radius:1px;
}
.rules {
  width: 100%;
}
.rules_p {
   font-size:16px;
   font-family:PingFangSC-Medium,PingFang SC;
   font-weight:500;
   color:#0D0E23;
   margin-bottom: 15px;
 }
.rules_details {
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#6B7DA2;
}
input::-webkit-input-placeholder{
  color:#A2B5D9;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:#A2B5D9;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:#A2B5D9;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
  color:#A2B5D9;
}
.information {
  width: 100%;
  background:linear-gradient(180deg,rgba(255,255,255,1) 0%,rgba(243,247,255,1) 100%);
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);
}
ul {
  width: 100%;
}
.information_li {
  width: 100%;
  /*line-height: 50px;*/
  /*margin-top: 20px;*/
  display: flex;
}
.margin-top20 {
  margin-top: 17px;
}
.margin-top10 {
  margin-top: 15px;
}
.margin-bottom16 {
  margin-bottom: 20px;
}
.information_div {
  /*width: 30%;*/
  /*height: 30px;*/
  /*border: 4px solid pink;*/
  margin-left: 5px;
  justify-content:space-between;
}
.tupian_img {
  width: 26px;
  margin-bottom: -5px;
  margin-left: 6px;
}
.inputsize {
  width: 496px;
  height: 40px;
  margin: 6px 10px;
  padding-left: 10px;
  font-size: 12px;
  color: #172A4D;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #E0E1F4;
}
.account_number_input >>> .el-input__inner {
  margin-top: 7px;
  font-size: 12px;
  -webkit-appearance: none;
  background-color: #FFF;
  background-image: none;
  /* border-radius: 4px; */
  border: 0px solid #E0E1F4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #0D0E23;
  display: inline-block;
  /*font-size: inherit;*/
  height: 20px;
  line-height: 20px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 100%;
}

.color_bik {
  width: 59%;
  font-size:18px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #0D0E23;
  margin-left: 15px;
}
.color_hui {
  width: 20%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
  text-align: right;
  margin-right: 15px;
  padding-top: 8px;
}
.color_6 {
  width: 59%;
  margin-left: 15px;
  padding-top: 5px;
  color: #6B7DA2;
}
.color_bik_9 {
  width: 20%;
  color: #FF9F40;
  font-size:18px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  margin-right: 15px;
  text-align: right;
  margin-bottom: 14px;
}
.m-t {
  margin-top: 0px;
}
.drowdown-box {
  margin-left: -10px;
}
.tupian {
  display: inline-block;
  /*width:44px;*/
  padding-left: 5px;
  padding-right: 5px;
  height:18px;
  line-height:18px;
  border-radius:9px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  text-align: center;
  margin-bottom: 3px;
}
.tupian_wei {
  background:linear-gradient(360deg,rgba(179,179,179,1) 0%,rgba(242,242,242,1) 100%);
  border-radius:9px;
}
.tupian_zhong {
  color: #4F8F8B;
  background:linear-gradient(180deg,rgba(209,244,246,1) 0%,rgba(170,211,211,1) 100%);
}
.tupian_wei {
  color: #7D7D7D;
  background:linear-gradient(360deg,rgba(179,179,179,1) 0%,rgba(242,242,242,1) 100%);
}
.tupian_xiao {
  color: #A44739;
  background:linear-gradient(360deg,rgba(238,112,90,1) 0%,rgba(255,208,188,1) 100%);
}
.tupian_da {
  color: #67582F;
  background:linear-gradient(180deg,rgba(246,234,205,1) 0%,rgba(203,190,143,1) 100%);
}
.tupian_chao {
  color: #E07100;
  background:linear-gradient(180deg,rgba(255,245,95,1) 0%,rgba(255,239,87,1) 19%,rgba(255,178,0,1) 100%);
}
.color_3 {
  color: #0D0E23;
}
.searchResult {
  display: inline-block;
}
.soan {
  /*padding-bottom: 3px;*/
}


/*placeholder 样式     begin*/
.el-select >>> .el-input__inner::placeholder {
  color: #A2B5D9;
}

.el-select >>> .el-input__inner::-moz-placeholder {
  color: #A2B5D9;
}

.el-select >>> .el-input__inner::-webkit-input-placeholder {
  color: #A2B5D9;
}

.el-select >>> .el-input__inner:-ms-input-placeholder {
  color: #A2B5D9;
}
/*placeholder 样式     end*/
