/*下方内容*/

.lock-house-record-container {
  width: 100%;
  height: auto;
  /*border: 1px solid #EFF0FF;*/
}


/*.border_box {*/
/*  overflow: hidden;*/
/*  min-height: 240px;*/
/*  !*border-top-left-radius: 0 !important;*!*/
/*  !*border-top: 1px solid #EFF0FF;*!*/
/*  !*border-bottom: 1px solid #EFF0FF;*!*/
/*}*/

.selected {
  color: #3576F5;
}

.detail-header {
  width: 100%;
  /*position: relative;*/
  padding: 0 25px;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  height: 40px;
  font-size: 1.2px;
  /*text-align: center;*/
  color: #6B7DA2;
}

.flow-code {
  flex: 14;
  text-align: left;
}

.name {
  flex: 12;
  text-align: left;
}

.Payee {
  flex: 14;
  text-align: left;
}

.uid {
  flex: 10;
  text-align: left;
}

.currency {
  flex: 9.3;
  text-align: left;
  /*flex:19.9;*/
}

.total {
  flex: 14.7;
  text-align: left;
}

.type {
  flex: 10;
  text-align: left;
}

.time {
  flex: 12;
  text-align: left;
}

.state {
  flex: 13;
  text-align: right;
}

/*.address {*/
/*  flex: 52.5;*/
/*  text-align: left;*/
/*}*/


.address-detail {
  /*text-align: left;*/
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  white-space: nowrap;
  justify-content: center;
  /*align-items: center;*/
  /*padding: 5px 0;*/
  min-height: 60px;
}

.address-detail-item {
  line-height: 20px;
  height: 20px;
  margin-left: 10%;
  padding-right: 70px;
}

.state_text {
  width: 90%;
  display: inline-block;
}

.th-prompt {
}

/*暂无记录  begin*/
.detail-li-no-data {
  min-height: 200px;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-data-content img{
  /*width: 44px;*/
  vertical-align: middle;
  margin-bottom: 10px;
}

.no-record {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  text-align: center;
  font-weight:400;
  color: #6B7DA2;
}
/*暂无记录  end*/

.lock-house {
  width: 1200px;
  height: 100px;
  border: 1px solid #EFF0FF;
  padding: 24px 36px 24px 0;
  margin-bottom: 30px;
}

.lock-house-content {
  color: #0D0E23;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
}

.lock-house-content li {
  width: 264px;
  margin-left: 36px;
  border-right: 1px solid #EFF0FF;
}

.lock-house-content li:last-child {
  border: 0;
}

.locked-hose {
  margin-bottom: 10px;
}

.locked-num {
  color: #FF9F40;
  font-size:22px;
  font-family:Roboto-Medium,Roboto;
  font-weight:500;
}

.border-box {
  overflow: hidden;
  /*height: 55px;*/
  /*line-height: 55px;*/
  /*border-top-left-radius: 0 !important;*/
  border: 1px solid #EFF0FF;
  margin-bottom: 30px;
}

.lock-house-sel {
  border: 1px solid #EFF0FF;
  box-shadow:0px 3px 5px 0px rgba(0,0,0,0.04);
  height: 55px;
  line-height: 55px;
}

.title-tab {
  display: block;
  /*width: 10%;*/
  height: 100%;
  /*border: 1px solid #e5e5e5;*/
  /*background: #fafafa;*/
  box-sizing: border-box;
  margin-right: 25px;
  margin-left: 25px;
  border-bottom: 0 solid transparent;
  color: #6B7DA2;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  text-align: left;
}

.selected{
  /*border-bottom:2px solid #3576F5;*/
  box-sizing: border-box;
  z-index: 100;
}

.text_blue-7 {
  color: #3576F5;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  /*border-bottom: 2px solid #3576F5;*/
}

/*列表*/
.detail-container {

}

.detail-li {
  height: auto;
  padding: 0 25px;
  background-color: #fff;
  color: #0D0E23;
}

.detail-li:hover {
  background-color: #F5F6FA;
}

.detail-li:hover .unit-input {
  background-color:rgba(196,62,78,0.03);
}

/*具体内容*/
.li-container {
  width: 100%;
  text-align: center;
  min-height: 55px;
  align-items: center;
  -webkit-align-items: center;
  /*border-top: 1px solid #f9f9f9;*/
}

/*加载中*/
.recharge-record-loading-container {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

/*加载更多*/
.loading-more {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #3576F5;
  position: relative;
}

.loading-more span {
  cursor: pointer;
}

.copy-btn {
  padding: 0 20px;
  border: 1px solid #3576F5;
  border-radius: 4px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.memo-input {
  max-width: 500px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-content: center;
}


.address-title {
  width: 10%;
  display: inline-block;
}


