





.currency-total {
  font-size: 14px;
  color: #6B7DA2;
}

.what-transfer {
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #3576F5;
  line-height:20px;
}

.what-transfer:hover {
  opacity: 0.6;
}

.what-transfer img {
  width: 24px;
  vertical-align: middle;
  margin-right: 10px;
}



.currency-total {
  font-size: 14px;
  color: #6B7DA2;
}







.hide-zero-asset-checkbox { /*-webkit-appearance: none;*/
  /*background: #fff;*/
  /*width: 12px;*/
  /*height: 12px;*/
  /*border-radius: 2px;*/
  /*border: 1px solid #666;*/
}

.hide-zero-asset-checkbox:checked {
  /*background: #3576F5;*/
  /*background: url("") no-repeat;*/
  /*background-position: center;*/
  /*background-size: contain;*/
  /*-webkit-appearance: none;*/
  /*width: 12px;*/
  /*height: 12px;*/
  /*border-radius: 2px;*/

}















.li-select:hover {
  /*background-color: #fcfcfc;*/

}



/*充值提现按钮container*/
.rechargeAndWithdrawals {

}

/*充值提现按钮总*/
.buttons {
  display: inline-block;
  /*width: 50px;*/
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  margin-left: 10px;
  border-radius: 1px;
  cursor: pointer;
  /*margin: 0 5px*/
}
.button {
  display: inline-block;
  /*width: 50px;*/
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  margin-left: 10px;
  border-radius: 1px;
  cursor: pointer;
  /*margin: 0 5px*/
}

.button:hover {
  color: #fff;
  background: #3576F5;
}

/*充值按钮*/

.recharge-buttons {
  border: 1px solid #A2B5D9;
  color: #A2B5D9;
}




/*提现按钮*/
.withdrawals-button {
  border: 1px solid #3576F5;
  color: #3576F5;
}

/*提现选中*/
.withdrawals-button-select {
  color: white;
  background-color: #3576F5;
}




.not-margin {
  margin-left: 10px;
}

/*弹窗样式*/
.pop-footer {
  width: 100%;
  /*justify-content: space-around;*/
  /*-webkit-justify-content: space-around;*/
}






/*币种图标container*/
.currency-icon {
  width: 15px;
  height: 15px;
  /*border: 1px solid red;*/
  display: block;
  margin-right: 15px;
  vertical-align: middle;
  float: left;
  padding-left: 35%;
}

/*币种图标具体图片*/
.currency-icon-img {
  margin: 0 auto;
  height: 20px;
  display: block;
}

/*内部划转样式*/
.pop-article {
  padding: 20px 0;
}

.pop-qu{
  height: 40px;
  border-radius:1px;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #3576F5;
  /*outline: none;*/
}
.pop-qu:hover{
  color: #3576F5;
  opacity: 0.5;
}








.consequences {
  font-size: 16px;
  color: rgba(13,14,35,.6);
}

/*.wallet-to-account-content input {*/
/*  width: 100%;*/
/*  height: 44px;*/
/*  border: 0;*/
/*  box-sizing: border-box;*/
/*}*/

/*.wallet-to-account-content input:first-child {*/
/*  border-bottom: 1px solid #EFF0FF;*/
/*  box-sizing: border-box;*/
/*}*/






















.container {
  display: block;
  width: 100%;
  position: relative;
}

.total-transfer {
  justify-content: space-between;
}

.currency-total {
  font-size: 14px;
  color: #6B7DA2;
}

.what-transfer {
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #3576F5;
  line-height:20px;
}

.transfer-explain {
  position: absolute;
  top: 30px;
  right: 0px;
  display: none;
  width: 388px;
  height: 108px;
  font-size:12px;
  color: #0D0E23;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  /*text-align: center;*/
  padding: 20px;
  box-sizing: border-box;
  box-shadow:0px 0px 16px 0px rgba(0,0,0,0.1);
  background-color: #fff;
  /*margin-left: 153px;*/
}

.currency-total-assets {
  margin: 8px 0 20px;
}

.total-assets {
  font-size: 16px;
  font-family:Roboto-Medium,Roboto;
  font-weight:500;
  color: #0D0E23;
}

.hide-zero-asset-box {
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  color: #666;
  align-items: center;
  margin-bottom: 10px;
}

.hide-zero-asset-label {
  color: #6B7DA2;
  margin-left: 15px;
}

/*下方内容*/
.loading {
  width: 100%;
  background-color: #fff;
}

.border-box {
  overflow: hidden;
  /*border-top-left-radius: 0 !important;*/
  border: 1px solid #EFF0FF;
  margin-bottom: 30px;
}

.detail-header {
  width: 100%;
  padding: 0 25px;
  position: relative;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  height: 40px;
  font-size: 12px;
  text-align: center;
  color: #6B7DA2;
}

.currency {
  flex: 12.7;
  text-align: left;
}

.total {
  flex: 13.7;
  text-align: left;
}

.available {
  flex: 13.7;
  text-align: left;
}

.frozen {
  flex: 13.7;
  text-align: left;
}

.valuation {
  flex: 13.7;
  text-align: left;
}

.rechargeAndWithdrawals {
  flex: 33.3;
  text-align: right;
}

/*列表*/
.detail-li {
  height: auto;
  background-color: #fff;
  color: #0D0E23;
}

.detail-li:hover {
  background-color:#F5F6FA;
}

/*具体内容*/
.li-container {
  width: 100%;
  text-align: center;
  height: 60px;
  padding: 0 25px;
  align-items: center;
  -webkit-align-items: center;
  border-top: 1px solid #f9f9f9;
}

/*币种名称*/
.currency_name {
  display: block;
  vertical-align: middle;
  float: left;
}

.valuation_font {
  display: inline-block;
  /*cursor: pointer;*/
  height: 35px;
  line-height: 35px;
}


/* 2018-4-4 新加价格css start */
.show_tips {
  position: absolute;
  display: block;
  padding: 0px 10px;
  line-height: 24px;
  color: #fff;
  background-color: #3576F5;
  border: 1px solid #3576F5;
  border-radius: 1px;
  right: 83%;
  top: 4px;
  z-index: 1;
  display: none;
}

.show_tips font {
  position: absolute;
  right: -5px;
  top: 9px;
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-left: 4px solid #3576F5;
  border-bottom: 3px solid transparent;
}

.show_tips.show {
  display: block;
}

/* 2018-4-4 新加价格css end */



/*弹窗*/
.header_xuzhi {
  padding-left: 25px;
}

.pop-recharge {
  padding: 35px 25px;
  font-size:16px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: rgba(13,14,35,.6);
  padding-bottom: 25px;
}

.pop-recharge-bottom {
  margin-bottom: 15px;
}

/*弹窗button*/
.button-base {
  width: 195px;
  height: 35px;
  color: #fff;
  border-radius: 1px;
  border: 0 solid transparent;
  margin-right: 2px;
  outline: none;
}

.button-base:last-of-type {
  margin-right: 0;
}

.m-r {
  margin-right: 20px;
}

.button-base-email {
  width: 410px;
  height: 35px;
  /* background-color: #3576F5; */
  color: #fff;
  border-radius: 1px;
  border: 0 solid transparent;
  outline: none;
}

.recharge-button {
  border: 1px solid #3576F5;
  color: #3576F5;
}

/*充值选中*/
.recharge-button-select {
  color: white;
  background-color: #3576F5;
}

/*提现置灰色*/
.can-not-withdrawals {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  color: #e6e6e6;
  border: 1px solid #e6e6e6;
}


/*划转 begin*/

/*placeholder样式 begin*/
.wallet-to-account-content input::placeholder {
  color: #0D0E23;
}

.wallet-to-account-content input::-moz-placeholder {
  color: #0D0E23;
}

.wallet-to-account-content input::-webkit-input-placeholder {
  color: #0D0E23;
}

.wallet-to-account-content input:-ms-input-placeholder {
  color: #0D0E23;
}
/*placeholder样式 end*/

.wallet-to-account {
  width: 410px;
  height: 88px;
  background-color: #fff;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.08);
  margin-bottom: 15px;
}

.wallet-to-account-left {
  width: 87px;
  height: 100%;
  /*background-color: #ccc;*/
  /*text-align: center;*/
  align-items: center;
  justify-content: center;
}

.wallet-account-change {
  text-align: center;
}

.wallet-account-change img {
  width: 10px;
}

.wallet-to-account-content {
  flex: 1;
  /*width: 100%;*/
  line-height:44px;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  color: #0D0E23;
}

.wallet-to-account-content-line {
  border-bottom: 1px solid #EFF0FF;
  box-sizing: border-box;
}

.wallet-to-account-right {
  width: 92px;
  height: 100%;
  justify-content: center;
  align-items: center;
  /*background-color: #ccc;*/
}

.wallet-to-account-right img{
  width: 30px;
}

.block-input {
  width: 410px;
  height: 87px;
  font-size: 12px;
  color: #6B7DA2;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  margin-bottom: 5px;
}

.block-input-title {
  margin-bottom: 10px;
}

.block-input input {
  height: 40px;
  border: 1px solid #E0E1F4;
  padding-left: 15px;
  box-sizing: border-box;
  width: 100%;
}

.inputInner {
  display: inline-block;
  width: 100%;
  height: 40px;
}

.inputInner >>> .el-input__inner {
  width: 100%;
  height: 40px;
  line-height: 40px;
  /*margin-top: 7px;*/
  padding-left: 15px;
  -webkit-appearance: none;
  background-color: #FFF;
  background-image: none;
  border-radius: 1px;
  border: 1px solid #E0E1F4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  outline: 0;
  -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}

.amount-not-empty {
  color: #FD5555;
}

.available-right {
  float: right;
}

.amount-input {
  height: 40px;
  border: 1px solid #E0E1F4;
  background: #fff;
  border-radius: 1px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.amount-input .amount-input-box{
  flex: 9;
  border: transparent;
}

.amount-all {
  flex: 1;
  text-align: center;
  line-height: 40px;
  color: #3576F5;
}

.pop-footer {
  width: 100%;
  text-align: right;
  padding-right: 25px;
  /*margin-top: 15px;*/
}

.pop-qu-2 {
  height: 40px;
  margin-left: 40px;
  padding: 0 15px;
  background:linear-gradient(270deg,rgba(53,118,245,1) 0%,rgba(69,154,245,1) 100%);
  border-radius:1px;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(255,255,255,1);
  outline: none;
  border-color: transparent;
  border-style: hidden;
  border: 0;
}

.pop-qu-2:hover {
  background:#5C93FF;
}
