.membershipCard {
  width: 100%;
  /*height: 1500px;*/
  /*min-height: 600px;*/
}
.hukxq {
  width: 100%;
  height:160px;
  background:linear-gradient(360deg,rgba(32,29,28,1) 0%,rgba(30,27,27,1) 100%);
  background-image: url("../../assets/hykxq.png");
  background-size: 100% 100%;
}
.member {
  width: 520px;
  height: 100%;
  min-height: 600px;
  margin: 0 auto ;
}
.member_hy {
  width:100%;
  height:80px;
  background: url("../../assets/ygm_hy.png") no-repeat center center;
  background-size: 100% 100%;
  /*background:linear-gradient(90deg,rgba(155,138,100,1) 0%,rgba(215,196,131,1) 100%);*/
  border-radius:10px;
  padding: 0 0 15px 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-top: -40px ;
  font-size:24px;
  justify-content: space-between;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:#FFFFFF;
}

.WidthH {
  width: 7px;
  vertical-align: sub;
  margin-left: 5px;
}

.member_zr1 {
  width: 100%;
  /*line-height: 47px;*/
  font-size:12px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #0D0E23;
  text-align: right;
}
.member_zr {
  display: inline-block;
  line-height: 47px;
}

.member_hy2 {
  width:100%;
  height:80px;
  background: url("../../assets/weigoumai.png") no-repeat center center;
  background-size: 100% 100%;
  /*background:linear-gradient(90deg,rgba(155,138,100,1) 0%,rgba(215,196,131,1) 100%);*/
  border-radius:10px;
  padding: 0 0 15px 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-top: -40px ;
  font-size:24px;
  justify-content: space-between;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:#FFFFFF;
}

.member-left {
  line-height: 80px;
}

.member_right {
  font-size: 14px;
}
.VIP-icon {
  /*width:119px;*/
  height:34px;
  line-height: 34px;
  padding:  0 15px 0 14px;
  background:linear-gradient(277deg,rgba(227,220,204,1) 0%,rgba(252,251,250,1) 100%);
  border-radius:0px 10px 0px 10px;
}

.VIP-icon1 {
  height:34px;
  line-height: 34px;
  padding:  0 18px 0 11px;
  color: #FFFFFF;
  background:linear-gradient(270deg,rgba(178,184,194,1) 0%,rgba(156,170,194,1) 100%);
  border-radius:0px 10px 0px 10px;
}

.VIP-icon img {
  width: 21px;
  /*margin-right: 8px;*/
  vertical-align: sub;
}

.VIP_time {
  /*width:112px;*/
  height:20px;
  font-size:14px;
  margin: 16px 10px 0 0;
}
.VIP_span {
  color: #B9894A;
  font-size:16px;
}

.member_gr {
  display: inline-block;
  /*line-height: 80px;*/
  margin-left: 10px;
}

.member_gr img{
  width: 32px;
  /*line-height: 80px;*/
  margin-right: 6px;
  vertical-align: sub;
}


.member_xq {
  width: 100%;
  height: 280px;
  background:rgba(255,255,255,1);
  border-radius:10px;
  border:1px solid rgba(229,203,162,1);
  margin-bottom: 30px;
}

.viewRules {
  float: right;
  height:24px;
  line-height: 24px;
  font-size:12px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(238,200,165,1);
  background:linear-gradient(270deg,rgba(72,64,59,1) 0%,rgba(41,36,36,1) 100%);
  border-radius:100px 0px 0px 100px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 25px;
}
.enjoy {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 42px;
  font-size:28px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(185,137,74,1);
}

.housekeeping {
  width: 100%;
  /*justify-content:space-around;*/
}
.bonus {
  display: inline-block;
  text-align: center;
  margin-left: 70px;
  width: 80px;
  height: 80px;
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #0D0E23;
}
.bonus img {
  width: 100%;
  margin-bottom: 15px;
}
.year_month {
  width: 100%;
  margin-bottom: 30px;
  justify-content: space-between;
}

.month {
  display: inline-block;
  text-align: center;
  width: 48%;
  height:80px;
  /*line-height: 80px;*/
  background:rgba(255,255,255,1);
  border-radius:10px;
  border:1px solid rgba(224,225,244,1);
}
.month_p {
  font-size:18px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:#0D0E23;
  margin-top: -8px;
}
.month_p1 {
  font-size:18px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:#0D0E23;
  margin-top: 21px;
}
.month_p0 {
  font-size:12px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(174,164,150,1);
}

.month_span {
  display: inline-block;
  height:27px;
  line-height: 27px;
  background:rgba(255,159,64,1);
  border-radius:14px;
  padding: 0 15px;
  font-size: 14px;
  color: #ffffff;
  position: relative;
  top: -14px;
  /*bottom: 0;*/
  left: 69px;
  /*right: 15px;*/
}


.selected_cardType {
  background:rgba(249,246,237,1);
  /*border-radius:10px;*/
  border:2px solid rgba(229,203,162,1);
}
.application_record {
  min-height: 100px;
}

.application_title_ul {
  margin-bottom: 60px;
}

.application_title {
  font-size:16px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color: #0D0E23;
  margin-bottom: 22px;
}
.application_header {
  height:54px;
  background:rgba(250,250,250,1);
  border-radius:3px 3px 0px 0px;
  width: 100%;
  line-height: 54px;
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(13,14,35,1);
  display: flex;
  padding: 0 15px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(197,207,213,0.5);
  /*justify-content:space-between;*/
}
.application_header_div {

  display: inline-block;
  /*width: 23.5%;*/
}
.width1 {
  width: 35%;
}
.width2 {
  width: 25%;
}
.width3 {
  width: 23%;
}
.width4 {
  width: 20%;
}
.application_header1 {
  height:54px;
  border-radius:3px 3px 0px 0px;
  width: 100%;
  line-height: 54px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  display: flex;
  padding: 0 15px;
  box-sizing: border-box;
  color: #6B7DA2;
  border-bottom: 1px solid rgba(197,207,213,0.5);
  justify-content:space-between;
}
.tlc {
  text-align: right;
}
.weit{
  width: 100%;
  height: 200px;
  text-align: center;
  box-sizing: border-box;
}
.nhtu{
  width: 100%;
  /*height: 120px;*/
  margin: 0 auto;
  margin-top: 40px;
}

.nhtu_span {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
}
.year_month_div {
  height:44px;
  text-align: center;
  background:linear-gradient(90deg,rgba(189,168,119,1) 0%,rgba(219,197,121,1) 100%);
  border-radius:22px;
  line-height: 44px;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #ffffff;
  margin-bottom: 37px;
}
.year_month_div1 {
  height:44px;
  text-align: center;
  background: #DECE9D;
  border-radius:22px;
  line-height: 44px;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #ffffff;
  margin-bottom: 37px;
}


.popWindow-article {
  padding-top: 10px;
}
.header_xuzhi {
  padding-left: 25px;
}

.pop-recharge {
  padding: 35px 25px;
  font-size:16px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  /*padding-bottom: 25px;*/
}

.pop-recharge-bottom {
  margin-bottom: 15px;
}

.button-base33 {
  width: 191px;
  height: 35px;
  /* background-color: #3576F5; */
  color: #fff;
  border-radius: 1px;
  border: 0 solid transparent;
  /*margin-right: 2px;*/
  outline: none;
}
.m-l {
  margin-left: 24px;
}

.consequencesSpan {
  color: #3576F5;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:500;
}


/*会员卡转让样式*/
.zhuanzhang {
  height: 60px;
  line-height: 60px;
  /*margin-top: 80%;*/
  text-align: left;
  font-size:18px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  padding-left: 25px;
  border-bottom: 1px solid #E7EBEE;
}
.Internal_siding {
  /*width: 460px;*/
  margin: 0 auto;
  /*background-color: pink;*/
}
.Internal_siding_email {
  padding-left: 25px;
  /*padding-top: 25px;*/
  padding-bottom: 8px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
}

.m-t {
  margin-top: 25px;
}
.input_input {
  width: 410px;
  height: 40px;
  text-align: left;
  line-height: 40px;
  margin-left: 25px;
  padding-left: 15px;
  font-size: 12px;
  color: #0D0E23;
  border: 1px solid #E0E1F4;
  box-sizing: border-box;
}

.whit_0 {
  height: 23px;
}
.whit_ {
  height: 35px;
}
.prompt-span {
  display: inline-block;
  padding-left: 25px;
  /*padding-top: 15px;*/
  /*margin-bottom: 5px;*/
}
.wrong-msg {
  color: #C43E4E;
}

.email_span {
  float: right;
  display: inline-block;
  text-align: right;
  font-size: 12px;
  color: #6B7DA2;
}
.whiteListwhit {
  width: 60%;
}
.shouxu {
  float: right;
  width: 29%;
  display: inline-block;
  text-align: right;
  margin-right: 25px;
  /*margin-top: 8px;*/
  font-size: 12px;
  color: #6B7DA2;
}
.Internal_siding_email1 {
  width:410px;
  height:40px;
  background:linear-gradient(270deg,rgba(53,118,245,1) 0%,rgba(69,154,245,1) 100%);
  border-radius:1px;
  text-align: center;
  line-height: 40px;
  margin-left: 25px;
  outline: none;
  border: 0;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  /*margin-top: 30px;*/
  margin-bottom: 15px;
}
.zhu {
  margin-left: 25px;
  padding-bottom: 30px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #EF5656;
}
.back {
  background:rgba(245,246,250,1);
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);
}
.timeex {
  /*padding-left: 15px;*/
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
}
/*placeholder样式 begin*/
. input::placeholder {
  color: #A2B5D9;
}

. input::-moz-placeholder {
  color: #A2B5D9;
}

. input::-webkit-input-placeholder {
  color: #A2B5D9;
}

. input:-ms-input-placeholder {
  color: #A2B5D9;
}
/*placeholder样式 end*/

/*验证码*/
.popWindow-title0 {
  padding-left: 25px;
}
.popWindow-article {
  color: #0D0E23;
  padding-top:25px;
}
.prompt-title {
  font-size: 14px;
  /*padding-bottom: 30px;*/
  color: #C43E4E;
}
.verification-title {
  display: block;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
  margin-bottom: 10px;
  padding-left: 25px;
  padding-right: 10px;
}
.verification-container {
  /*padding-top: 10px;*/
  /*width: 100%;*/
  /*justify-content: space-around;*/
  /*-webkit-justify-content: space-around;*/
  align-items: center;
  -webkit-align-items: center;
  font-size: 14px;
  width:410px;
  height:40px;
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);

  margin-left: 25px;
}
.verification-input {
  /*height: 35px;*/
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  width: 70%;
  border: none;


}
.get-verification {
  display: inline-block;
  /*width: 70px;*/
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #3576F5;
}

/*弹窗button*/
.button-base {
  margin-right: 20px;
  outline: none;
}

.button-base:last-of-type {
  margin-right: 0;
}
.get-verifications {
  display: inline-block;
  /*width: 70px;*/
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  text-align: right;
  color: #A2B5D9;
}

.prompt-wrong {
  font-size: 12px;
  /*padding-top: 10px;*/
  margin: 5px 0px 10px 25px;
  height: 12px;
  display: block;
}
.prompt-show-picker {
  padding: 10px 0;
}
/*谷歌验证码和手机验证码选择*/
.prompt-show-picker-detail-box {
  display: inline-block;
  font-size: 14px;
  margin-left: 30px;
}

.prompt-show-picker-detail-box:last-child {
  margin-left: 20px;
}
.verification-container {
  /*padding-top: 10px;*/
  /*width: 100%;*/
  /*justify-content: space-around;*/
  /*-webkit-justify-content: space-around;*/
  align-items: center;
  -webkit-align-items: center;
  font-size: 14px;
  width:410px;
  height:40px;
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);

  margin-left: 25px;
}
.verification-title {
  display: block;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
  margin-bottom: 10px;
  padding-left: 25px;
  padding-right: 10px;
}
.verification-input {
  /*height: 35px;*/
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  width: 70%;
  border: none;


}
.double-input {
  width: 150px;
  border: none;
}
.get-verification {
  display: inline-block;
  /*width: 70px;*/
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #3576F5;
}
.btn-commit {
  margin-left: 16px;
}
.ssss1 {
  /*width:195px;*/
  height:40px;
  padding: 0 15px;
  background:rgba(53,118,245,1);
  color: #FFFFFF;
  border-radius:1px;
}
.button-base33 {
  width: 190px;
  height: 35px;
  /* background-color: #3576F5; */
  color: #fff;
  border-radius: 1px;
  border: 0 solid transparent;
  /*margin-right: 2px;*/
  outline: none;
}

.button-base22 {
  width: 410px;
  height: 35px;
  /* background-color: #3576F5; */
  color: #fff;
  border-radius: 1px;
  border: 0 solid transparent;
  margin-right: 2px;
  outline: none;
}
.btn-commit {
  margin-left: 2px;
  margin-bottom: 15px;
}
.ssss {
  margin-bottom: 15px;
  width:195px;
  height:40px;
  border-radius:1px;
  color: #3576F5;
  border:1px solid rgba(53,118,245,1);
}
.pop-qu{
  /*float: right;*/
  display: inline-block;
  height: 40px;
  border-radius:1px;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #3576F5;
}
.pop-qu:hover{
  color: #3576F5;
  opacity: 0.5;
}
.pop-qu-2 {
  /*float: right;*/
  height: 40px;
  margin-left: 40px;
  padding: 0 15px;
  background:linear-gradient(270deg,rgba(53,118,245,1) 0%,rgba(69,154,245,1) 100%);
  border-radius:1px;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  border: 0;
  color:rgba(255,255,255,1);
  outline: none;
  border: 0;
  margin-bottom: 15px;
}
.pop-qu-2:hover {
  background:#5C93FF;
  border: 0;
}

.popWindow-footer {
  width: 100%;
  text-align: right;
}
.G-pop {
  cursor: pointer;
  display: inline-block;
  /*width: 16%;*/
  padding-bottom: 10px;
  /*height: 40px;*/
  /*line-height: 40px;*/
  margin-right: 30px;
  font-size:16px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(162,181,217,1);
}
/*谷歌验证选中*/
.ge-button-select {
  color:rgba(53,118,245,1);
  border-bottom: 3px solid rgba(53,118,245,1);
  border-radius:1px;
}

/*手机验证选中*/
.mob-button-select {
  color:rgba(53,118,245,1);
  border-bottom: 2px solid rgba(53,118,245,1);
  border-radius:1px;
}
