.asset-header-title {
  /*height: 0.88rem;*/
  /*line-height: 0.88rem;*/
  margin: 0 auto;
  /*padding-top: 0.36rem;*/
  text-align: center;
  font-size: 0;
  background: #131F30;
}

.asset-header-total-asset-title {
  height: 0.3rem;
  line-height: 0.3rem;
  color: rgba(255,255,255,0.8);
  font-size: 0.24rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.asset-header-total-asset-title-text {
  /*display: inline-block;*/
  height: 0.3rem;
  /*vertical-align: bottom;*/
  line-height: 0.3rem;
  margin-right: 0.2rem;
  font-size: 0.28rem;
}

.asset-header-total-asset-title-eye-box{
  /*display: inline-block;*/
  height: 0.3rem;
  /*vertical-align: top;*/
}

.asset-header-total-asset-title-eye{
  width: 0.32rem;
  display: block;
}

.asset-header-total-asset-box{
  border-bottom: 1px solid #131F30;
  background: #131F30;
  padding: 15px 15px 15px 15px;
  height: 117px;
}

.asset-lan{
  width: 100%;
  height: 100%;
  background: #0F366D;
  border-radius: 4px;
  padding-left: 20px;
  padding-top: 20px;
}

/*.asset-header-total-asset {*/
  /*color: rgba(255,255,255,0.4);*/
  /*font-size: 0.24rem;*/
/*}*/

.asset-header-BTC-asset {
  font-family: Roboto-Regular;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 28px;
}

.asset-header-CHN-asset {
  opacity: 0.5;
  font-family: Roboto-Regular;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 12px;
}
.asset-header-total-asset-detail-box {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  padding: 15px;
  height: 30px;
  border-bottom: 1px solid  #081724;
}

.asset-header-total-asset-detail-box img{
  width: 15px;
  margin-right: 5px;
}

.tiao1{
  width: 100%;
  height: 10px;
  background: #081724;
}

.lan-title{
  width: 100%;
  height: 20px;
  float: left;
  opacity: 0.5;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #FFFFFF;
  line-height: 16px;
  text-align: left;
}

.landata{
  width: 100%;
  float: left;
  text-align: left;
}

.asset-header-total-asset-hide-box {
  display: flex;
  align-items: center;
}

.asset-header-total-asset-hide-text {
  font-size: 12px;
  font-family: PingFangSC-Regular;
  color: #6D87A8;
}

.asset-header-total-asset-hide-text-blue {
  color: #3576F5;
}

.asset-container{
  background: #131F30;
  height: 100%;
  /*margin-bottom: 50px;*/
}

/*.asset-keyong-right:last-child {*/
/*  margin-bottom: 100px;*/
/*}*/
.asset-container-item{
  height: 90px;
  border-bottom: 1px solid  #081724;
  font-size: 0.3rem;
  padding: 0 0.2rem;
  box-sizing: content-box;
}

.asset-container-item-title{
  float: left;
  font-family: Roboto-Bold;
  font-size: 15px;
  color: #CFD3E9;
  margin-left: 5px;
}

.asset-container-item-icon-box{
  display: inline-block;
  width: 0.5rem;
  text-align: center;
}

.asset-container-item-icon{
  height: 0.44rem;
  margin-top: 0.3rem;
  display: inline;
  vertical-align: top;
}

.asset-container-item-title-description{
  color: rgba(255,255,255,0.4);
  font-size: 0.24rem;
}

.asset-container-item-assetNum{
  float: right;
  color: #fff;
  font-size: 0.3rem;
}

.asset-container-item-assetNum img{
  width: 7px;
  margin-right: 5px;
}

.clearfix:after{
  clear: both;
  height: 0;
  display: block;
  content: '';
}









.asset-header-box {
  height: 0.88rem;
  background: #081724;
  text-align: center;
}

.asset-header-box-cutter-line {
  height: 0.4rem;
  width: 1px;
  background: #617082;
  display: inline-block;
  margin-top: 0.22rem;
}

.asset-header-left-box {
  float: left;
  width: 49%;
  height: 0.88rem;
}

.asset-header-right-box {
  float: right;
  width: 49%;
  height: 0.88rem;
}

.asset-header-box-title{
  height: 0.34rem;
  color: rgba(255,255,255,0.5);
  font-size: 0.24rem;
  line-height: 0.34rem;
}

.asset-header-left-box-price{
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.28rem;
  margin-top: 0.04rem;
  color: #39B496;
}

.asset-header-right-box-price{
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.28rem;
  margin-top: 0.04rem;
  color: #f93943;
}

.asset-header-container-table{
  color: #fff;
  text-align: left;
}

.asset-header-container-theadtr{
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.24rem;
  background: #0e1928;
  color: rgba(255,255,255,0.4);
}

.asset-header-container-theadtr th{
  padding-left: 20px;
  text-align: center;
}

.asset-header-container-tr {
  height: 0.92rem;
  line-height: 0.92rem;
  border-bottom: 1px solid #152C41;
  background: #01040a;
}



.asset-header-container-tr td{
  padding-left: 20px;
  text-align: center;
  font-size: 0.28rem;
}

.asset-header-container-td-logo-box{
  display: inline-block;
  /*todo*/
  /*min-width: 0.3rem;*/
  text-align: center;
  margin-right: 0.1rem;
}

.asset-header-container-td-logo{
  height: 0.3rem;
  /*width: 0.3rem;*/
  margin-top: 0.28rem;
  display: inline;
  vertical-align: top;
  /*todo*/
  display: none;
}

.asset-header-container-tr td:first-child{
  font-size: 0.3rem;
  padding-left: 10px;
}

.asset-header-container-tr td:nth-child(2){
  padding-left: 20px;
  text-align: left;
  font-size: 0.28rem;
}

.asset-header-container-tr td:nth-child(3){
  padding-right: 20px;
  text-align: right;
  font-size: 0.28rem;
}

.asset-header-container-box{
  /*margin: 0 0.2rem;*/
  /*position: relative;*/
  position: absolute;
  top: 1.76rem;
  bottom: 0;
  left: 0.2rem;
  right: 0.2rem;
}

.asset-header-container-box-title-logo{
  display: inline;
  vertical-align: top;
  /*width: 0.4rem;*/
  height: 0.4rem;
  margin-top: 0.3rem;
  margin-right: 0.04rem;
  /*todo*/
  display: none;
}

.asset-header-container-box-title{
  height: 1rem;
  line-height: 1rem;
  font-size: 0.28rem;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #152C41;
  position: relative;
}

.asset-header-container-box-title-img {
  position: absolute;
  top: 0.35rem;
  width: 0.3rem;
  right: 0.2rem;
}

.asset-container-box-list{
  margin-top: 0.1rem;
}

.asset-container-box-item {
  margin-top: 0.1rem;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.28rem;
}

.asset-container-box-list-left{
  float: left;
  height: 0.4rem;
  line-height: 0.4rem;
  color: #fff;
}

.asset-container-box-list-right{
  float: right;
  height: 0.4rem;
  line-height: 0.4rem;
  color: #fff;
}

.asset-container-box-btn-box{
  position: absolute;
  bottom: 0.6rem;
  left: 0.2rem;
  right: 0.2rem;
}

.asset-container-box-btn {
  width: 3.2rem;
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 0.3rem;
  color: #fff;
  text-align: center;
  border-radius: 4px;
}

.asset-container-box-btn-buy{
  float: left;
  background: #39B496;
}

.asset-container-box-btn-sale{
  float: right;
  background: #ff5044;
}

.asset-container-box-btn-operate {
  background: #192B41;
  border: 1px solid #274868;
  color:#92b2cc;
}

.tttt{
  width: 100%;
  margin-bottom: 50px;
}

.bottomenu1 {
  width: 100%;
  height: 50px;
  /*background-color: red;*/
}
.bottomenu{
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background-color:  #172841;
  z-index: 999;
}
.bottomenu table{
  width: 100%;
  height: 100%;
  text-align: center;
}

.bottomenu table td{
  width: 25%;
}

.bottomenu .menuimg{
  width: 100%;
  margin-top: 5px;
}

.bottomenu .menuimg img{
  width: 20px;
}

.bottomenu .menuinfo{
  width: 100%;
  font-family: PingFangSC-Regular;
  font-size: 10px;
  color: #3576F5;
  text-align: center;
}

.bottomenu .menuinfoh{
  width: 100%;
  font-family: PingFangSC-Regular;
  font-size: 10px;
  color: #6D87A8;
  text-align: center;
}

.asset-info-title{
  width: 100%;
  float: left;
  height: 20px;
  color: #fff;
  background-color: #131F30;
}
.asset-info{
  width: 100%;
  float: left;
  color: #fff;
  background-color: #131F30;
  padding-top: 15px;

}

.asset-keyong{
  width: 30%;
  float: left;
  height: 70px;
  color: #fff;
}

.asset-keyong-right{
  width: 30%;
  float: right;
  height: 70px;
  color: #fff;
  text-align: right;
}

.asset-keyong .asky-title{
   width: 100%;
   float: left;
   font-family: PingFangSC-Regular;
   font-size: 12px;
   color: #3E536C;
   padding-left: 15px;
 }
.asset-keyong-right .asky-title-right{
  width: 100%;
  float: right;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #3E536C;
  padding-right: 15px;
}

.asset-keyong .asky-title-val{
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #CFD3E9;
  margin-left: 15px;
  line-height: 44px;
}

.asset-keyong-right .asky-title-right-val{
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #CFD3E9;
  margin-right: 15px;
  line-height: 44px;
}
