.asset-container {
  /*padding: 0 0.2rem 0.2rem;*/
  background: #142030;
  color: #fff;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.asset-header {
  background-color: #142030;
}

.asset-header-title {
  text-align: center;
  font-size:16px;
  font-family:Roboto-Bold,Roboto;
  font-weight:bold;
  color:rgba(207,211,233,1);
  height: 0.88rem;
  line-height: 0.88rem;
  padding: 0 0.2rem 0 0.2rem;
  border-bottom: 1px solid #223349;
  /*margin-bottom: 0.56rem;*/
}

.asset-header-title-icon {
  height: 0.44rem;
  margin-top: 0rem;
  display: inline;
  vertical-align: top;
}

.asset-header-title-img-box {
  float: right;
  width: 0.34rem;
}

.asset-header-title-img{
  margin-top: 0.02rem;
  height: 0.4rem;
}

.asset-header-title-description {
  color: rgba(255,255,255,0.6);
  font-size: 0.24rem;
  margin-top: 0.06rem;
  line-height: 0.28rem;
}


.clearfix:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
}

.backgo{
  position: absolute;
  left: 0;
}

.backgo img{
  width: 16px;
  margin-left: 15px;
}

.asset-body {
  padding: 0 0.2rem 0 0.2rem;
  max-height: 100%;
  /*overflow-y: auto;*/
}

.asset-body li  {
  height: 66px;
  display: flex;
  align-items: center;
  color:#CFD3E9;
  font-size: 12px;
  /*border-bottom: 1px solid #223349;*/
}

.asset-body .firstLi {
  margin-top: 20px;
  height: 66px;
  display: flex;
  align-items: center;
  color:#CFD3E9;
  font-size: 12px;
}
/*.asset-body li:first-child  {*/
/*  height: 86px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  color:#CFD3E9;*/
/*  font-size: 12px;*/
/*  border-bottom: 1px solid #223349;*/
/*}*/

.asset-body .tishi {
  height: 0.4rem;
  border-top: 1px solid #223349;
}

.asset-body .tishi span {
  margin-top: 0.1rem;
}

.asset-body .topbox {
  margin: 6px 0 14px 0;
}



.emailJiaoYan {
  width: 100%;
  height: 20px;
  line-height: 20px;
  /*text-align: left;*/
  font-size: 12px;
  color: #C43E4E;
}

.wrong-answer {
  border: 1px solid #223349;
}

.asset-body .star {
  font-size: 12px;
  color: #C43E4E;
}

.asset-body li {
  padding-bottom:5px;
  box-sizing: border-box;
}



.asset-body li input {
  width: 5rem;
  height: 0.48rem;
  /*padding-left: 6px;*/
  border: 0;
  outline: none;
  background-color:#142030;
  color: #CFD3E9; /*输入文字、光标颜色*/
  /*-webkit-text-fill-color: #CFD3E9;!*输入文字、placeholder颜色*!*/
  /*caret-color: #CFD3E9;!*光标颜色*!*/
  font-size: 14px;
  font-family:Roboto-Regular,Roboto;
  font-weight:400;
}

.asset-body li input::-webkit-input-placeholder { /* WebKit browsers */
  color: #3E536C;
}

.asset-body li input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #3E536C;
}

.asset-body li input::-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #3E536C;
}





.asset-body li .email-placeholder {
  width: 5rem;
  height: 0.48rem;
  border: 0;
  outline: none;
  background-color:#142030;
  /*color: #CFD3E9;!*输入文字、光标颜色*!*/
  /*-webkit-text-fill-color: #3E536C;!*输入文字、placeholder颜色*!*/
  /*caret-color: #CFD3E9;!*光标颜色*!*/
  font-size: 14px;
  font-family:Roboto-Regular,Roboto;
  font-weight:400;
}

.amount {
  width: 100%;
}

.amount-top {
  width: 100%;
  margin: 6px 0 14px 0;
  display: flex;
  justify-content: space-between;
}

.amount-bottom {
  display: flex;
  justify-content: space-between;
}

.VerificationCode {
  width: 100%;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.total {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(62,83,108,1);
  /*margin-left: 2rem;*/
}

.Fees {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(62,83,108,1);

}

.Verification {
  /*width: 0.6rem;*/
  height: 0.28rem;
  /*border-left:1px solid #3E536C;*/
  text-align: right;
  font-size: 12px;
  color:#C43E4E;
  /*background-color: #fff;*/
  /*margin-left: 0.4rem;*/
}

.line {
  color:#3E536C;
}

.Attention {
  width: 100%;
  height: 116px;
  padding-top:20px;
  margin-bottom: 64px;
  /*background-color: #131F30;*/
}

.attention-text {
  height: 62px;
  background: #081724;
  text-align: center;
  color: #6D87A8;
  padding:14px 26px;
  box-sizing: border-box;
}

.asset-footer {
  width: 100%;
  height: 1.7rem;
  background-color: #131F30;
  padding: 0 0.2rem 0 0.2rem;
  font-size: 0.32rem;
  position: fixed;
  background-color: #131F30;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.asset-footer button{
  outline: 0;
  border:0;
  width: 100%;
  height:44px;
  background:#3E536C;
  border-radius:2px;
  color:rgba(255,255,255,1);
}














/*!*!*placeholder样式*!*!*/
/*.email-placeholder::placeholder {*/
/*  color: #CFD3E9;*/
/*  letter-spacing: 1px;*/
/*}*/

/*.email-placeholder::-moz-placeholder {*/
/*  color: #CFD3E9;*/
/*  letter-spacing: 1px;*/
/*}*/

/*.email-placeholder::-webkit-input-placeholder {*/
/*  color: #CFD3E9;*/
/*  letter-spacing: 1px;*/
/*}*/

/*.email-placeholder::-ms-input-placeholder {*/
/*  color: #CFD3E9;*/
/*  letter-spacing: 1px;*/
/*}*/








