.mobile-container-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 500px;
  background: #081724;
}

.mobile-asset-container{
  /*padding: 0 0.2rem;*/
  background: #081724;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.2rem;
  right:0.2rem;
  min-height: 500px;
}

.mobile-asset-detail {
  position: absolute;
  top: 0;
  bottom: 128px;
  overflow: scroll;
}

.mobile-asset-detail-header{
  padding-bottom: 0.34rem;
  border-bottom: 1px solid #131F30;
}

.mobile-asset-detail-title{
  margin-top: 0.54rem;
  height: 0.28rem;
  line-height: 0.28rem;
  font-size: 0.24rem;
  text-align: center;
  color: rgba(255,255,255,0.4);
}

.mobile-asset-detail-title-able{
  margin-top: 0.1rem;
  color: #fff;
  text-align: center;
  font-size: 0.32rem;
  font-weight: bold;
  line-height: 0.36rem;
  height: 0.36rem;
}




.mobile-asset-detail-least-num{
  color:#fff;
  height: 0.34rem;
  line-height: 0.34rem;
  text-align: center;
  margin-top: 0.14rem;
}

.mobile-asset-detail-title-asset{
  margin-top: 0.18rem;
  text-align: center;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #152c41;
}

.mobile-asset-detail-title-asset-title{
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.28rem;
  color: #fff;
  display: inline-block;
}

.mobile-asset-detail-title-asset-able {
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.28rem;
  color: #39B496;
  display: inline-block;
  margin-right: 0.64rem;
}

.mobile-asset-detail-title-asset-frozen{
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.28rem;
  color: #f93943;
  display: inline-block;
}


.wallet-to-account {
  height: 1.76rem;
  background-color: #172841;
  margin-bottom: 0.52rem;
  border-radius: 0.03rem;
}

.wallet-to-account-left {
  width: 1.74rem;
  height: 100%;
  /*background-color: #ccc;*/
  text-align: center;
  align-items: center;
  /*justify-content: center;*/
  padding-left: 0.3rem;
}

.wallet-account-change {
  text-align: center;
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  line-height:0.34rem;
  color: #CFD3E9;
}

.wallet-account-change img {
  margin: 0.13rem auto;
  width: 10px;
}

.wallet-to-account-content {
  flex:1;
  /*width: 100%;*/
  line-height: 0.88rem;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  color: #ffffff;
}

.wallet-to-account-content-line {
  border-bottom: 0.02rem solid #223349;
  box-sizing: border-box;
}

.wallet-to-account-right {
  width: 1.56rem;
  height: 100%;
  justify-content: center;
  align-items: center;
  /*background-color: #ccc;*/
}

.wallet-to-account-right img{
  width: 0.64rem;
}

.mobile-asset-detail-container{
  /*padding: 0 0.2rem;*/
  /*min-height: 8rem;*/
}

.mobile-address-container1 {

  margin-bottom: 8px;
  height: 0.36rem;
  margin-top: 0.34rem;
  color: #fff;
  line-height: 0.36rem;
  font-size: 0.26rem;
}

.mobile-address-ERC {
  display: inline-block;
  margin-right: 15px;
  /*margin-left: 30px;*/
  /*margin-bottom: 8px;*/
  text-align: center;
  width: 2rem;
  height: 0.68rem;
  line-height: 0.68rem;
  font-size: 12px;
  background-color: #3E536C;
  color: #CFD3E9;
  border-radius: 1.5px;
  /*border: 1px solid #3576F5;*/
}


.mobile-address-OMNI {
  display: inline-block;
  text-align: center;
  width: 2rem;
  height: 0.68rem;
  line-height: 0.68rem;
  font-size: 12px;
  background-color: #3E536C;
  color: #CFD3E9;
  border-radius: 1.5px;
  /*border: 1px solid #3576F5;*/
}

.mobile-address-OMNI-disabled {
  display: inline-block;
  text-align: center;
  width: 2rem;
  height: 0.68rem;
  line-height: 0.68rem;
  font-size: 12px;
  background-color: #131F30;
  color: rgba(255,255,255,0.4);
  border-radius: 1.5px;
  /*border: 1px solid #3576F5;*/
}

.mobile-address-si {
  display: inline-block;
  margin-right: 15px;
  /*margin-left: 30px;*/
  /*margin-bottom: 8px;*/
  text-align: center;
  width: 2rem;
  height: 0.68rem;
  line-height: 0.68rem;
  font-size: 12px;
  background-color: #3E536C;
  color: #FFFFFF;
  border-radius: 1.5px;
  border: 1px solid #3576F5;
}



.mobile-asset-detail-container-title{
  height: 0.36rem;
  margin-top: 0.34rem;
  color:#fff;
  line-height: 0.36rem;
  font-size: 0.26rem;
}

.mobile-asset-detail-container-title-right {
  float: right;
  color: rgba(255,255,255,0.4);
}

.mobile-asset-detail-container-title-right-container {
  color: #fff;
}

.mobile-asset-detail-container-title-right-icon {
  height: 0.36rem;
  display: inline-block;
  vertical-align: top;
  margin-right: 0.11rem;
}

.mobile-asset-detail-container-input-box {
  width: 7.1rem;
  height: 0.88rem;
  margin-top: 0.2rem;
  position: relative;
}

.mobile-asset-detail-container-input {
  box-sizing: border-box;
  width: 7.1rem;
  height: 0.88rem;
  border: 1px solid #303031;
  background: #131F30;
  padding-left: 0.3rem;
  padding-right: 1.2rem;
  font-size: 0.28rem;
  line-height: 0.88rem;
  border-radius: 4px;
  color: #fff;
}

.mobile-asset-detail-container-input-all{
  width: 1.2rem;
  height: 0.88rem;
  text-align: center;
  line-height: 0.88rem;
  color: #3576F5;
  font-size: 0.28rem;
  position: absolute;
  top: 0;
  right:0;
}

.mobile-asset-detail-container-price{
  margin-top: 0.18rem;
  font-size: 0.24rem;
  margin-bottom: 0.1rem;
}

.mobile-asset-detail-container-price-title{
  height: 0.34rem;
  line-height: 0.34rem;
  color: rgba(255,255,255,0.4);
}

.mobile-asset-detail-container-price-text{
  height: 0.34rem;
  line-height: 0.34rem;
  color: #fff;
}

.mobile-asset-detail-container-left{
  float: left;
}

.mobile-asset-detail-container-right{
  float: right;
}

.mobile-asset-detail-container-price-title.mobile-asset-detail-container-left{
  /*margin-right: 0.1rem;*/
}

.mobile-asset-detail-container-price-title.mobile-asset-detail-container-right{
  /*margin-right: 0.1rem;*/
}

.mobile-asset-detail-container-input-btn {
  box-sizing: border-box;
  width: 7.1rem;
  height: 0.88rem;
  border: 1px solid #303031;
  background: #131F30;
  /*padding-left: 0.3rem;*/
  font-size: 0.28rem;
  line-height: 0.88rem;
  border-radius: 4px;
  text-align: center;
  position: relative;
}

.mobile-asset-detail-container-input-btn-icon{
  display: inline-block;
  width: 0.3rem;
  height: 0.88rem;
  background: url("../../assets/mobile_icon_add.png") no-repeat center center;
  background-size: contain;
  vertical-align: top;
  margin-right: 0.1rem;
  /*position: absolute;*/
  /*left: 50%;*/
  /*transform: translateX(-320%);*/
}

.mobile-asset-detail-container-input-btn-text{
  display: inline-block;
  height: 0.88rem;
  line-height: 0.88rem;
  color: #3576F5;
  font-size: 0.28rem;
}

.memo-notice-info {
  margin-top: 20px;
  line-height: 17px;
  font-size: 12px;
  color: #EF5656;
}

.mobile-asset-detail-container-address-title{
  height: 0.34rem;
  margin-top: 0.32rem;
  color:#fff;
  line-height: 0.34rem;
  font-size: 0.24rem;
  margin-bottom: 0.22rem;
}

.mobile-asset-detail-container-address-title-right{
  float: right;
  color: #3576F5;
  width: 1.6rem;
  height: 0.4rem;
}

.mobile-asset-detail-container-address-title-icon-up {
  /*margin-left: 0.2rem;*/
  width: 0.4rem;
  height: 0.4rem;
  display: inline-block;
  vertical-align: top;
  background: url("../../assets/mobile_address_pull_up.png") no-repeat center center;
  background-size: contain;
  margin-top: -0.02rem;
}

.mobile-asset-detail-container-address-title-icon-down {
  /*margin-left: 0.2rem;*/
  width: 0.4rem;
  height: 0.4rem;
  display: inline-block;
  vertical-align: top;
  background: url("../../assets/mobile_address_pull_down.png") no-repeat center center;
  background-size: contain;
  margin-top: -0.02rem;
}

.mobile-asset-detail-container-address-box{
  width: 7.1rem;
  min-height: 1rem;
  position: relative;
  border: 1px solid #303031;
  background: #131F30;
  border-radius: 4px;
  margin-bottom: 10px;
}

.mobile-asset-detail-container-address-detail-name{
  display: flex;
  padding-left: 0.3rem;
  padding-right: 0.8rem;
  height: 0.42rem;
  line-height: 0.42rem;
  font-size: 0.24rem;
  margin-top: 0.08rem;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  justify-content: left;
  align-items: flex-start;
}

.mobile-asset-detail-container-address-detail-address{
  display: flex;
  padding-left: 0.3rem;
  padding-right: 0.8rem;
  min-height: 0.42rem;
  line-height: 0.42rem;
  font-size: 0.24rem;
  color: #fff;
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
  justify-content: left;
  align-items: flex-start;
}

.mobile-asset-detail-container-address-detail-left {
  min-width: 1.5rem;
  text-align: right;
  opacity: 0.3;
  margin-right: 0.2rem;
}

.mobile-asset-detail-container-address-detail-right{
  width: 4.4rem;
  word-wrap: break-word;
  /*opacity: 0.3;*/
}
.mobile-asset-detail-container-address-detail-address-delete {
  position: absolute;
  background: url("../../assets/mobile_address_delete.png") no-repeat center center;
  background-size: 50%;
  width: 0.6rem;
  /*height: 1rem;*/
  /*margin: 0 0.1rem;*/
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 30;
  border-radius: 0 4px 4px 0;
}

.mobile-asset-detail-container-address-detail-more {
  position: absolute;
  background: url("../../assets/mobile_pull_down.png") no-repeat center center;
  background-size: contain;
  width: 0.2rem;
  height: 1rem;
  margin: 0 0.1rem;
  top: 0;
  right: 0;

}

.mobile-asset-detail-container-address-input-box {
  width: 7.1rem;
  height: 0.88rem;
  position: relative;
}

.memo-notice-info-fixed {
  width: 7.1rem;
  position: absolute;
  bottom: 64px;

  line-height: 17px;
  font-size: 12px;
  color: #EF5656;
  background: #081724;
  padding-bottom: 20px;
  padding-top: 10px;
}

.mobile-asset-detail-container-commit-btn{
  width: 7.1rem;
  height: 44px;
  border-radius: 4px;
  line-height: 0.88rem;
  color: #fff;
  background: #3576F5;
  font-size: 0.3rem;
  text-align: center;
  /*margin: 0.2rem auto 0;*/
  position: absolute;
  bottom: 20px;
}

.mobile-asset-detail-address-input-box {
  width: 7.1rem;
  height: 0.88rem;
  position: relative;
}

.mobile-asset-detail-addressname-input {
  box-sizing: border-box;
  width: 7.1rem;
  height: 0.88rem;
  border: 1px solid #303031;
  background: #131F30;
  /*padding-left: 1rem;*/
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  font-size: 0.28rem;
  line-height: 0.88rem;
  border-radius: 4px;
  color: #fff;
  position: relative;
  z-index: 0;
}

.mobile-asset-detail-addressname-input:hover {
  border: 1px solid #3576F5;
  z-index: 1;
}

.mobile-asset-detail-address-input {
  margin-top: -1px;
  box-sizing: border-box;
  width: 7.1rem;
  height: 0.88rem;
  border: 1px solid #303031;
  background: #131F30;
  /*padding-left: 1rem;*/
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  font-size: 0.28rem;
  line-height: 0.88rem;
  border-radius: 4px;
  color: #fff;
  position: relative;
  z-index: 0;
}

.mobile-asset-detail-address-input:hover {
  border: 1px solid #3576F5;
  z-index: 1;
}

.mobile-asset-detail-address-input-title {
  position: absolute;
  left: 0;
  top: 0;
  height: 0.88rem;
  width: 1rem;
  line-height: 0.88rem;
  text-align: center;
  color: #fff;
}

/*弹窗效果*/
.window-toast {
  position: fixed;
  top: 0.88rem;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
  z-index:500;
}

.window-toast-box{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 6rem;
  height: 4rem;
  padding: 0.5rem;
  color: #333;
  background: #fff;
  border-radius: 0.08rem;
}

.window-toast-text {
  line-height: 0.34rem;
  font-size: 0.24rem;
  margin-bottom: 0.3rem;
}

.window-toast-close-btn {
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.24rem;
  color: #fff;
  background: #3576F5;
  text-align: center;
  border-radius: 0.04rem;
}



/*第一次点击提交 发送邮箱验证码*/
.mobile-toast-box {
  position: fixed;
  top: 0.88rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: #081724;

}

.mail-container-box-title{
  /*margin-top: 0.54rem;*/
  font-size: 0.26rem;
  width: 7.1rem;
  color: #fff;
  margin: 0.54rem auto 0;
  height: 0.3rem;
  line-height: 0.3rem;
}

.mail-container-box{
  position: relative;
  height: 0.88rem;
  width: 7.1rem;
  background: #131F30;
  border: 1px solid #303031;
  margin: 0.32rem auto 0;
  border-radius: 4px;
  color: #fff;
  box-sizing: content-box;
}

.mail-container-box.wrong-answer{
  border: 1px solid red;
}

/*.mail-input-title-icon-box{*/
  /*float: left;*/
  /*width: 1rem;*/
  /*height: 0.88rem;*/
  /*position: relative;*/
/*}*/

/*.mail-input-title-icon{*/
  /*position: absolute;*/
  /*width: 0.45rem;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*margin: auto;*/
/*}*/

.mail-input-container{
  float: left;
  width: 5.4rem;
  height: 0.88rem;
  line-height: 0.88rem;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  padding-left: 0.3rem;
}

.cutter-line{
  float: left;
  width: 0.2rem;
  height: 0.88rem;
  line-height: 0.88rem;
  color: #303031;
  text-align: center;
}

.mail-input-btn-on {
  float: left;
  width: 1.2rem;
  height: 0.88rem;
  line-height: 0.88rem;
  color: #3576F5;
  text-align: center;
}

.unit-input-interval{
  height: 0.4rem;
  line-height: 0.4rem;
  width: 100%;
}
.unit-input-interval span{
  display: block;
  height: 0.4rem;
  line-height: 0.4rem;
  width: 100%;
  text-align: center;
}

.mail-submit-btn{
  height: 0.88rem;
  line-height: 0.88rem;
  text-align: center;
  color: #fff;
  background: #3576F5;
  border-radius: 4px;
  width: 7.1rem;
  margin: 0.2rem auto;
}


/*第二次点击提交之后，进入的页面*/

/*顶部checkbox*/
.mobile-input-checkbox-box {
  /*position: relative;*/
  /*height: 0.88rem;*/
  /*width: 7.1rem;*/
  /*margin: 0.66rem auto 0;*/
  /*border-radius: 4px;*/
  /*color: #fff;*/
  /*text-align: center;*/
  height: 0.8rem;
  width: 7.5rem;
  color: #fff;
  background: #081724;
}

.mobile-input-checkbox-box-item {
  width: 1.6rem;
  text-align: center;
  margin: 0 1.07rem;
  color: #fff;
  height: 0.8rem;
  line-height: 0.8rem;
  border-bottom: 2px solid #131F30;
  box-sizing: border-box;
  float: left;
}

.mobile-input-checkbox-box-item-selector{
  border-bottom: 2px solid #3576F5;
  color: #3576F5;
}

/*顶部没有checkbox*/
/*.mobile-input-none-checkbox-box {*/
  /*height: 0.46rem;*/
/*}*/

.prompt-show-picker-detail-box{
  display: inline-block;
  margin: 0 0.2rem;
  height: 0.88rem;
  line-height: 0.88rem;
}

/*手机验证*/
.phone-container-box{
  position: relative;
  height: 0.88rem;
  width: 7.1rem;
  background: #131F30;
  border: 1px solid #303031;
  margin: 0.4rem auto 0;
  border-radius: 4px;
  color: #fff;
  box-sizing: content-box;
}

.phone-container-box.wrong-answer{
  border: 1px solid red;
}

/*.phone-input-title-icon-box{*/
  /*float: left;*/
  /*width: 1rem;*/
  /*height: 0.88rem;*/
  /*position: relative;*/
/*}*/

/*.phone-input-title-icon{*/
  /*position: absolute;*/
  /*width: 0.45rem;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*margin: auto;*/
/*}*/

.phone-input-container{
  float: left;
  width: 5.4rem;
  height: 0.88rem;
  line-height: 0.88rem;
  padding-left: 0.3rem;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
}

/*谷歌验证*/
.google-container-box{
  position: relative;
  height: 0.88rem;
  width: 7.1rem;
  background: #131F30;
  border: 1px solid #303031;
  margin: 0.4rem auto 0;
  border-radius: 4px;
  color: #fff;
  box-sizing: content-box;
}

.google-container-box.wrong-answer{
  border: 1px solid red;
}

/*.google-input-title-icon-box{*/
  /*float: left;*/
  /*width: 1rem;*/
  /*height: 0.88rem;*/
  /*position: relative;*/
/*}*/

/*.google-input-title-icon{*/
  /*position: absolute;*/
  /*width: 0.45rem;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*right: 0;*/
  /*margin: auto;*/
/*}*/

.google-input-container{
  float: left;
  width: 6.8rem;
  padding-left: 0.3rem;
  height: 0.88rem;
  line-height: 0.88rem;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
}

.cutter-line{
  float: left;
  width: 0.2rem;
  height: 0.88rem;
  line-height: 0.88rem;
  color: #303031;
  text-align: center;
}

.phone-input-btn-on {
  float: left;
  width: 1.2rem;
  height: 0.88rem;
  line-height: 0.88rem;
  color: #3576F5;
  text-align: center;
}

.unit-input-interval{
  height: 0.4rem;
  line-height: 0.4rem;
  width: 100%;
}
.unit-input-interval span{
  display: block;
  height: 0.4rem;
  line-height: 0.4rem;
  width: 100%;
  text-align: center;
}

.all-submit-btn{
  height: 0.88rem;
  line-height: 0.88rem;
  text-align: center;
  color: #fff;
  background: #3576F5;
  border-radius: 4px;
  width: 7.1rem;
  margin: 0.2rem auto;
  font-size: 0.3rem;
}

.memo-toast {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0,0,0,0.6);
}

.memo-toast-box {
  min-height: 100px;
  width: 320px;
  padding: 0 20px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 4px;

}

.memo-toast-box-close-btn-box{
  position: absolute;
  top: -40px;
  right: -10px;
  width: 40px;
  height: 40px;
}

.memo-toast-box-close-btn {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  margin: 10px;

}

.memo-toast-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #EF5656;
  border-bottom: 1px solid #F2F2F2;
}

.memo-toast-body {
  margin-top: 18px;
  color: #EF5656;
  font-size: 13px;
  /*line-height: 18px;*/
}

.memo-checkbox-box {
  margin-top: 6px;
}

.memo-checkbox {
  font-size: 12px;
  color: #666;
  height: 14px;
  line-height: 14px;
}

.memo-confirm-btn {
  height: 36px;
  width: 140px;
  border-radius: 1px;
  line-height: 36px;
  color: #fff;
  font-size: 15px;
  margin: 15px auto 20px;
  background: #3576F5;
  text-align: center;
}

.memo-confirm-btn-no-use {
  background: #A8C6FF;
}

