.mobile-notice-box{
  background: #131F30;
  height:100%
}
.mobile-notice-box1{
  background: #fff;
  height:100%
}

.mobile-notice-title-box {
  margin: 0.46rem auto 0.62rem ;
  width:6.9rem;
  /*height:0.74rem;*/
  font-size:0.52rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:#CFD3E9;
  line-height:0.74rem;
}

.mobile-notice-title-box1 {
  width: 7.1rem;
  min-height: 1.33rem;
  color: #242D3D;
  margin: 0 auto;
  position: relative;
  /*background: #fff;*/
  padding-top: 20px;
  font-size:15px;
  border-bottom:1px solid #152c41;
}

.mobile-notice-title {
  width: 7.1rem;
  font-size: 0.3rem;
  text-align: center;
  line-height: 0.42rem;
  padding-top: 0.38rem;
  padding-bottom: 0;
  margin-bottom: 0.53rem;
  max-height: 1.22rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  color:#fff;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

mobile-notice-title1 {
  width: 7.1rem;
  /*font-size: 0.3rem;*/
  text-align: center;
  line-height: 0.42rem;
  padding-top: 0.38rem;
  padding-bottom: 0;
  margin-bottom: 0.53rem;
  max-height: 1.22rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  color:#000;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.mobile-notice-time {
  /*position: absolute; *!*/
  /* bottom: 0.15rem; */
  /* right: 0; */
  margin-top: 0.6rem;
  /* font-size: 0.2rem; */
  line-height: 0.28rem;
  height: 0.28rem;
  font-size: 0.28rem;
  font-family: PingFangSC-Regular,PingFang SC;
  font-weight: 400;
  color: #6B7DA2;
}

.mobile-notice-content {
  /*color: #fff; *!*/
  /* width: 7.1rem; */
  margin: 0 auto;
  /* padding: 0.33rem 0 0; */
  overflow: hidden;
  /* background: #081724; */
  width: 6.9rem;
  height: 5.62rem;
  font-size: 0.28rem;
  font-family: PingFangSC-Regular,PingFang SC;
  font-weight: 400;
  color: #CFD3E9;
  line-height: 0.42rem;
 }

.mobile-notice-content1 {
  color: #fff;
  width: 7.1rem;
  margin: 0 auto;
  padding: 0.33rem 0 0;
  overflow: hidden;
  background: #fff;
}

.mobile-notice-content p {
  /*width: 7.1rem;*/
  display: block;
  /*color: #fff !important;*/
  /*background: #081724 !important;*/
}

.mobile-notice-content p strong{
  color: #fff!important;
  /*background: #081724 !important;*/
}

.mobile-notice-content p span{
  color: #242D3D !important;
  background: #fff !important;
}

.mobile-notice-content p span strong{
  color: #242D3D !important;
  background: #fff !important;
}

.mobile-notice-content a{
  color: #fff !important;
  /*text-decoration: #ccc;*/
  /*background: #fff !important;*/
}

.mobile-notice-content a strong{
  color: rgb(0,0,238) !important;
  background: #fff !important;
}

.mobile-notice-content p a{
  color: #ccc !important;
  /*text-decoration: #ccc;*/
  /*background: #fff !important;*/
}

.mobile-notice-content p a strong{
  color: rgb(0,0,238) !important;
  background: #fff !important;
}

.mobile-notice-content p a span{
  color: rgb(0,0,238) !important;
  background: #fff!important;
}

.mobile-notice-content p a span strong{
  color: rgb(0,0,238) !important;
  background: #fff !important;
}

.mobile-notice-content img {
  width: 100%;
  display: block;
}

