.mobile-asset-container {
  padding: 15px 15px 15px 15px;
  background: #131F30;
}

.mobile-asset-detail-title {
  margin-top: 0.2rem;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-family: Roboto-Bold;
  font-size: 16px;
  color: #CFD3E9;
}

.header-box-title-logo-box{
  display: inline-block;
  width: 0.6rem;
  text-align: center;
  /*margin-right: 0.1rem;*/
}

.header-box-title-logo{
  /*margin-top: 0.04rem;*/
  height: 0.4rem;
  margin-top: 0.2rem;
  display: inline;
  vertical-align: top;
}

.mobile-asset-detail-container {
  color: #fff;
  /*padding: 0 0 0 0.1rem;*/
  background: #081724;
  border-radius: 1.5px;
  padding-top: 20px;
}

.mobile-address-item1 {
  /*text-align: center;*/
}

.mobile-address-container1 {
  color: #CFD3E9;
  margin-left: 30px;
  margin-bottom: 15px;
}

.mobile-asset-detail-container-title {
  width: 100%;
  margin-top: 0.1rem;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #3576F5;
  text-align: center;
  line-height: 14px;
  margin-top: 15px;
}

.mobile-address-ERC {
  display: inline-block;
  margin-right: 15px;
  margin-left: 30px;
  margin-bottom: 15px;
  text-align: center;
  width: 80px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  background-color: #3E536C;
  color: #CFD3E9;
  border-radius: 1.5px;
  /*border: 1px solid #3576F5;*/
}

.mobile-address-OMNI-disabled {
  display: inline-block;
  margin-right: 15px;
  margin-left: 30px;
  margin-bottom: 15px;
  text-align: center;
  width: 80px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  background-color: #131F30;
  color: rgba(255,255,255,0.4);
  border-radius: 1.5px;
  /*border: 1px solid #3576F5;*/
}

.mobile-address-OMNI {
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  background-color: #3E536C;
  color: #CFD3E9;
  border-radius: 1.5px;
  /*border: 1px solid #3576F5;*/
}

.mobile-address-si {
  display: inline-block;
  margin-right: 15px;
  margin-left: 30px;
  margin-bottom: 15px;
  text-align: center;
  width: 80px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  background-color: #3E536C;
  color: #FFFFFF;
  border-radius: 1.5px;
  border: 1px solid #3576F5;
}


.mobile-asset-detail-container-title-cz {
  width: 100%;
  margin-top: 25px;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #6D87A8;
  text-align: center;
  line-height: 16px;
}

.mobile-asset-detail-container-box {
  margin-top: 15px;
  /*height: 0.44rem;*/
  line-height: 0.44rem;
  /*min-height: 2.16rem;*/
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #131F30;
  margin-bottom: 0.32rem;
}

.mobile-asset-detail-container-address {
  outline: none;
  /*float: left;*/
  border: 0 solid transparent;
  background: transparent;
  width:100%;
  /*min-height: 1.32rem;*/
  word-wrap: break-word;
  text-align: center;
  font-family: Roboto-Regular;
  font-size: 12px;
  color: #CFD3E9;
  letter-spacing: 0;
}

.mobile-asset-detail-container-usdt-address {
  min-height: 0.3rem;
  line-height: 0.3rem;
}

.mobile-asset-detail-container-rednotice {
  color: #3576F5;
  font-size: 0.2rem;
  line-height: 0.3rem;
  min-height: 1.12rem;
  text-align: center;
  margin-top: 50px;
}



.mobile-asset-detail-container-copy-btn {
  width: 66px;
  box-sizing: border-box;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #CFD3E9;
  background: #3E536C;
  border-radius: 1.5px;
  margin: 0 auto;
  margin-top: 15px;
}

.mobile-asset-detail-container-copy-memo-btn {
  float: right;
  color: #3576F5;
  width: 1.1rem;
  font-size: 0.24rem;
  border: 1px solid #3576F5;
  border-radius: 4px;
  box-sizing: border-box;
  height: 0.44rem;
  line-height: 0.44rem;
  text-align: center;
}

.mobile-asset-detail-container-copy-publicKey-btn {
  float: right;
  color: #3576F5;
  width: 1.1rem;
  font-size: 0.24rem;
  border: 1px solid #3576F5;
  border-radius: 4px;
  box-sizing: border-box;
  height: 0.44rem;
  line-height: 0.44rem;
  text-align: center;
}

.mobile-asset-detail-container-img {
  margin: 0.2rem auto;
  width: 2.2rem;
  display: block;
  height: 2.2rem;
}

.mobile-asset-detail-container-address-box {
  width: 110px;
  padding: 5px;
  background: #CFD3E9;
  margin: 0.2rem auto 0;
  height: 110px;
}

.mobile-cutter-line {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 1px;
  background: #081724;
}


.pop-detail {
  background: #fff;
  border-radius: 5px;
  width: 200px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pop-detail-img {
  display: block;
  width: 60px;
  margin: 0 auto 20px;
}

.pop-detail-text {
  text-align: center;
  color: #333;
  font-size: 12px;
  margin-top: 5px;
}

.pop-detail-btn {
  margin-top: 10px;
  background: #3576F5;
  border-radius: 5px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.alert-window {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
}

.alert-window-box {
  position: absolute;
  width: 80%;
  min-height: 100px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 8px;
}

.alert-window-box-close-btn-box {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -40px;
  right: -10px;
  /*background: #f00;*/
}

.alert-window-box-close-btn {
  width: 16px;
  height: 16px;
  display: block;
  margin: 12px 12px;
}

.alert-window-box-title {
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #f93943;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
}
.alert-window-box-container {
  padding: 10px 20px;
  line-height: 24px;
  font-size: 12px;
  border-bottom: 1px solid #e3e3e3;

}

.alert-window-box-container-red {
  color: #f93943;
}

.alert-window-box-btn {
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background: #f93943;
  border-radius: 0 0 8px 8px;
}

.memo-toast {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0,0,0,0.6);
}

.memo-toast-box {
  min-height: 100px;
  width: 320px;
  padding: 0 20px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 8px;

}

.memo-toast-box-close-btn-box{
  position: absolute;
  top: -40px;
  right: -10px;
  width: 40px;
  height: 40px;
}

.memo-toast-box-close-btn {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  margin: 10px;

}

.memo-toast-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #D83838;
  border-bottom: 1px solid #F2F2F2;
}

.memo-toast-body {
  margin-top: 18px;
  color: #D83838;
  font-size: 13px;
  line-height: 18px;
}

.memo-checkbox-box {
  margin-top: 6px;
}

.memo-checkbox {
  font-size: 12px;
  color: #666;
  height: 14px;
  line-height: 14px;
}

.memo-confirm-btn {
  height: 36px;
  width: 140px;
  border-radius: 4px;
  line-height: 36px;
  color: #fff;
  font-size: 15px;
  margin: 15px auto 20px;
  background: #3576F5;
  text-align: center;
}

.memo-confirm-btn-no-use {
  background: #b1b3b4;
}
