.recharge-box {
  padding: 0 0.2rem;
  color: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
}

.header-box {
  width: 7.1rem;
  border-bottom: 1px solid #131F30;
  height: 2.86rem;
  position: relative;
  padding-top: 0.6rem;
}
.header-box-height {
  height: auto;
}

.header-box-title {
  height: 0.48rem;
  /*position: absolute;*/
  /*top: 0.2rem;*/
  /*left: 0.56rem;*/
  line-height: 0.48rem;
  font-size: 0.32rem;
  font-weight: bold;
  text-align: center;
}


.header-box-title-logo-box{
  display: inline-block;
  width: 0.6rem;
  text-align: center;
  margin-right: 0.1rem;
}

.header-box-title-logo{
  margin-top: 0.04rem;
  height: 0.4rem;
  /*margin-top: 0.25rem;*/
  display: inline;
  vertical-align: top;
}

.header-box-num {
  /*position: absolute;*/
  margin-top: 0.52rem;
  height: 0.4rem;
  line-height: 0.4rem;
  /*top:0.35rem;*/
  /*left: 2.4rem;*/
}

.header-box-num-title{
  color: rgba(255,255,255,0.4);
  font-size: 0.26rem;
}

.header-box-num-container{
  float: right;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.3rem;
  font-weight: bold;
}

.header-box-state{
  /*right: 1rem;*/
  /*top: 0.35rem;*/
  /*position: absolute;*/
  /*font-size: 0.28rem;*/
  /*height: 0.4rem;*/
  /*line-height: 0.4rem;*/
  /*transform: translateX(50%);*/
  margin-top: 0.14rem;
  height: 0.4rem;
  line-height: 0.4rem;
}

.header-box-state-title{
  color: rgba(255,255,255,0.4);
  font-size: 0.26rem;
}

.header-box-state-container{
  float: right;
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.3rem;
}

.container-box{
  position: absolute;
  top: 2.86rem;
  bottom: 0;
  left: 0.2rem;
  right: 0.2rem;
}

.container-box-margin-top{
  top: 3.46rem;
}

.container-box-position{
  position: static;
}


.container-box-address{
  margin-top: 0.36rem;
  min-height: 0.36rem;
  line-height: 0.36rem;
}

.container-box-address-title{
  color: rgba(255,255,255,0.4);
  font-size: 0.26rem;
}

.container-box-address-container{
  float: right;
  max-width: 5.4rem;
  text-align: right;
  min-height: 0.36rem;
  line-height: 0.36rem;
  font-size: 0.26rem;
  word-wrap: break-word;
}

.container-box-address:after{
  clear: both;
  height: 0;
  display: block;
  content:'';
}

.container-box-txid {
  margin-top: 0.16rem;
  min-height: 0.36rem;
  line-height: 0.36rem;
}

.container-box-txid-title{
  color: rgba(255,255,255,0.4);
  font-size: 0.26rem;
}

.container-box-txid-container{
  float: right;
  max-width: 5.4rem;
  text-align: right;
  min-height: 0.36rem;
  line-height: 0.36rem;
  font-size: 0.26rem;
  word-wrap: break-word;
}

.container-box-txid:after{
  clear: both;
  height: 0;
  display: block;
  content:'';
}

.container-box-time {
  margin-top: 0.16rem;
  min-height: 0.36rem;
  line-height: 0.36rem;
}

.container-box-time-title{
  color: rgba(255,255,255,0.4);
  font-size: 0.26rem;
}

.container-box-time-container{
  float: right;
  max-width: 5.4rem;
  text-align: right;
  min-height: 0.36rem;
  line-height: 0.36rem;
  font-size: 0.26rem;
  word-wrap: break-word;
}

.container-box-time:after{
  clear: both;
  height: 0;
  display: block;
  content:'';
}

.container-box-reject {
  margin-top: 0.16rem;
  min-height: 0.36rem;
  line-height: 0.36rem;
}

.container-box-reject-title{
  color: rgba(255,255,255,0.4);
  font-size: 0.26rem;
}

.container-box-reject-container{
  float: right;
  max-width: 5.4rem;
  text-align: right;
  min-height: 0.36rem;
  line-height: 0.36rem;
  font-size: 0.26rem;
  word-wrap: break-word;
}

.container-box-reject:after{
  clear: both;
  height: 0;
  display: block;
  content:'';
}

.container-cancel-btn {
  position: absolute;
  bottom: 1.6rem;
  left: 0.2rem;
  right: 0.2rem;
  margin: 0 auto;
  height: 0.88rem;
  line-height: 0.88rem;
  border-radius: 4px;
  color: #fff;
  background: #3576F5;
  text-align: center;
  font-size: 0.32rem;
}

.container-box-btn{
  position: absolute;
  bottom: 0.4rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 0.32rem;
}

.container-box-address-btn {
  float: right;
  height: 0.8rem;
  width: 3.4rem;
  border: 1px solid #3576F5;
  color: #3576F5;
  text-align: center;
  line-height: 0.8rem;
  border-radius: 4px;
}

.container-box-copy-btn{
  float: left;
  height: 0.8rem;
  width: 3.4rem;
  border: 1px solid #3576F5;
  color: #3576F5;
  text-align: center;
  line-height: 0.8rem;
  border-radius: 4px;
}

.container-box-btn:after{
  clear: both;
  height: 0;
  display: block;
  content:'';
}





/*.container-box-title{*/
  /*height: 0.36rem;*/
  /*line-height: 0.36rem;*/
  /*font-size: 0.24rem;*/
  /*color: #537ba0;*/
  /*margin: 0.1rem 0;*/
/*}*/

/*.container-box-address{*/
  /*height: 0.36rem;*/
  /*line-height: 0.36rem;*/
  /*font-size: 0.24rem;*/
  /*color: #fff;*/
/*}*/

/*.container-box-txid{*/
  /*min-height: 0.36rem;*/
  /*line-height: 0.36rem;*/
  /*font-size: 0.24rem;*/
  /*color: #fff;*/
  /*position: relative;*/
/*}*/

/*.container-box-txid-text {*/
  /*min-height: 0.36rem;*/
  /*line-height: 0.36rem;*/
  /*display: block;*/
  /*word-break: break-all;*/
  /*background: transparent;*/
  /*color: #fff;*/
  /*border: none;*/
  /*width:  100%;*/

  /*width: 100%;*/
  /*border: none;*/
  /*outline: none;*/
  /*resize: none;*/
  /*overflow: hidden;*/
  /*!*padding-bottom: 100%;*!*/
  /*background-color: inherit;*/
/*}*/

/*.container-box-address-btn {*/
  /*height: 0.44rem;*/
  /*width: 0.96rem;*/
  /*text-align: center;*/
  /*line-height: 0.44rem;*/
  /*box-sizing: border-box;*/
  /*border: 1px solid #3576F5;*/
  /*bottom: -0.54rem;*/
  /*right: 0;*/
  /*position: absolute;*/
/*}*/

/*.container-box-copy-btn{*/
  /*height: 0.44rem;*/
  /*width: 0.96rem;*/
  /*text-align: center;*/
  /*line-height: 0.44rem;*/
  /*box-sizing: border-box;*/
  /*border: 1px solid #3576F5;*/
  /*bottom: -0.54rem;*/
  /*right: 1.06rem;*/
  /*position: absolute;*/
/*}*/

/*.container-reject-box{*/
  /*color: #fff;*/
/*}*/

/*.container-reject-title{*/

/*}*/

/*.container-reject-promote{*/

/*}*/







.mobile-popwindow-box{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;

}
.mobile-popwindow-window{
  background: #fff;
  width: 235px;
  border-radius: 15px;

}
.mobile-popwindow-txt{
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  color: rgba(0,0,0,0.7);
  border-bottom: 1px solid #e3e3e3;
}

.mobile-popwindow-btn-box{
  justify-content: space-around;
}
.mobile-popwindow-btn{
  width: 117px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 0 0 0 15px;
  font-size: 14px;
  color: #3576F5;
  border-right: 1px solid #e3e3e3;
}

.mobile-popwindow-btn:last-child{
  border-right: none;
}


/*过渡状态*/
.popWindow-enter {
  opacity: 0;
}

.popWindow-enter-active {
  transition: all .3s;
}

.popWindow-enter-to {
}

.popWindow-leave {
  opacity: 0;
}

.popWindow-leave-active {
  transition: all .3s;
}

.popWindow-leave-to {
  opacity: 0;
}

