.mobile-market-tr{
    border-bottom: 0.02rem solid #081724;
	height: 1.2rem;
  }

.mobile-market-tr-choosed {
  /*background: #081724;*/
}

  .mobile-market-tr:last-child{
    /*border-bottom: none;*/
  }

  .mobile-market-td-first{
    padding: 0 0 0 0.3rem;
  }

  .mobile-market-td-name{
    height: 0.4rem;
    line-height: 0.4rem;
  }

  .mobile-market-td-target-name{
    font-family: Roboto-Medium;
    font-size: 0.32rem;
    color: #CFD3E9;
    letter-spacing: 0;
  }

  .mobile-market-td-home-name{
    font-family: Roboto-Medium;
    font-size: 0.2rem;
    color: #3E536C;
    letter-spacing: 0;
  }

  .mobile-market-td-volume{
    height: 0.4rem;
    line-height: 0.4rem;
    font-family: Roboto-Regular;
    font-size: 0.24rem;
    color: #6D87A8;
    letter-spacing: 0;
  }

  /*.mobile-market-td-current-price{*/
    /*height: 0.4rem;*/
    /*line-height: 0.4rem;*/
    /*font-size: 0.28rem;*/
  /*}*/

  .mobile-market-td-second{
    /*padding-top: 0.32rem;*/
    padding-left: 0.4rem;
    /*padding-bottom: 0.4rem;*/
  }

  .mobile-market-td-current-price{
    height: 0.4rem;
    line-height: 0.4rem;
    /*font-family: Roboto-Medium;*/
    font-size: 0.32rem;
    color: #CFD3E9;
    letter-spacing: 0;
  }

  .mobile-market-td-current-price-fall{
    color: #f93943;
  }

  .mobile-market-td-current-price-up{
    color: #39B496;
  }

  .mobile-market-td-current-up-fall{
    height: 0.4rem;
    line-height: 0.4rem;
    font-family: Roboto-Regular;
    font-size: 0.24rem;
    color: #6D87A8;
    letter-spacing: 0;
  }

  .mobile-market-td-current-text{
    float: right;
  }

  .mobile-market-td-current-up .mobile-market-td-current-img{
    background: url("../../assets/mobile_market_up.png") no-repeat center center;
    background-size: 70% 70%;
    height: 0.4rem;
    display: block;
    float: right;
    width: 0.2rem;
    margin-left: 0.04rem;
  }

  .mobile-market-td-current-up{
    color: #39B496;
  }

  .mobile-market-td-current-fall .mobile-market-td-current-img{
    background: url("../../assets/mobile_market_down.png") no-repeat center center;
    background-size: 70% 70%;
    height: 0.4rem;
    display: block;
    float: right;
    width: 0.2rem;
    margin-left: 0.04rem;
  }


  .mobile-market-td-current-fall{
    color: #f93943;
  }

  .mobile-market-td-third{
    float: right;
    margin-right: 0.3rem;
  }

  .mobile-market-td-current-top-price{
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.28rem;
  }

  .mobile-market-td-current-low-price{
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.28rem;
  }
  ._m_3ud{
    width: 1.56rem;
    height: 0.58rem;
    line-height: 0.58rem;
    border-radius: 0.08rem;
    font-family: Roboto-Bold;
    font-size: 0.28rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    margin-top: 0.3rem;
  }
  .m_3ud_up{
    background: #39B496;
    border-radius: 0.03rem;
    width: 1.6rem;
    height: 0.66rem;
    line-height: 0.66rem;
    text-align: center;
  }
 .m_3ud_dw{
   background: #3576F5;
   border-radius: 0.03rem;
   width: 1.6rem;
   height: 0.66rem;
   line-height: 0.66rem;
   text-align: center;

 }

._m_3ud_{
  width: 1.6rem;
  height: 0.66rem;
  line-height: 0.66rem;
  border-radius: 0.08rem;
  /* font-family: Roboto-Bold; */
  font-size: 0.28rem;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  margin-top: 0.22rem;
  border-radius: 0.03rem;
  background: #294368;
}
.m_3ud_up_{
  background: #39B496;

}
.m_3ud_dw_{
  background: #EF5656;

}
