._m_stck_wt{
	/*border-bottom: 1px solid #131F30;*/
	height: 0.6rem;
  padding-bottom: 0px;
	padding-left:0.2rem;
  font-family: PingFangSC-Regular;
  font-size: 10px;
  color: #3E536C;
  line-height: 0.8rem;
}
._m_stck_wt>li{
	width: 50%;
}
._m_stck_wp{
	padding: 0 0.2rem;
}
