/*没有记录*/
.no-item-box {
  width: 4rem;
  padding: 2.04rem 0;
  margin: auto;
}

.no-item-box-item{
  width: 1.2rem;
  display: block;
  margin: 0 auto;
}

.no-item-box-text{
  margin-top: 0.12rem;
  text-align: center;
  font-size: 0.28rem;
  font-family: PingFangSC-Regular,PingFang SC;
  font-weight: 400;
  color: #6B7DA2;
}
.position-box-item{
  margin: auto 0.3rem;
  border-top: 0.02rem solid #172841;
  padding: 0.28rem 0 0.22rem;
}
.ps-symbol-box{
  width: 100%;
  align-items: center;
}
.ps-type{
  width: 0.44rem;
  height: 0.4rem;
  line-height: 0.4rem;
  border-radius: 0.03rem;
  /*opacity: 0.1;*/
  font-size: 0.28rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  text-align: center;
}
.ps-long{
  background-color: rgba(57,180,150,0.1);
  color: #86CB12;
}
.ps-short{
  background-color: rgba(239,86,86,0.1);
  color: #F60076;
}
.ps-symbol{
  margin-left: 0.12rem;
  height: 0.32rem;
  font-size: 0.28rem;
  font-family: Roboto-Medium, Roboto;
  font-weight: 500;
  color: #CFD3E9;
  line-height: 0.32rem;
}
.ps-reduce-positions{
  margin-left: 0.2rem;
  width: 0.42rem;
  height: 0.28rem;
}
.s-d-leverage-box{
  margin-top: 0.12rem;
  height: 0.34rem;
  font-size: 0.24rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #A2B5D9;
  line-height: 0.34rem;
}
.leverage-val{
  margin-left: 0.12rem;
}
.ps-detail-box{
  margin-top: 0.2rem;
  width: 100%;
}
.ps-detail-left{
  text-align: left;
  flex: 0.33;
}
.ps-detail-middle{
  text-align: left;
  flex: 0.34;
}
.ps-detail-right{
  text-align: right;
  flex: 0.33;
}
.ps-detail-tittle{
  height: 0.32rem;
  font-size: 0.24rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #8994A5;
  line-height: 0.32rem;
}
.ps-detail-amount{
  margin-top: 0.1rem;
  height: 0.28rem;
  font-size: 0.24rem;
  font-weight: 400;
  color: #CFD3E9;
  line-height: 0.28rem;
}
.ps-btn-box{
  margin-top: 0.34rem;
  width: 100%;
}
.ps-btn{
  width: 3.2rem;
  height: 0.64rem;
  border-radius: 0.03rem;
  border: 0.02rem solid #3576F5;
  line-height: 0.64rem;
  text-align: center;
  font-size: 0.24rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #CFD3E9;
}
.text-green{
  color: #86CB12;
}
.text-red{
  color: #F60076;
}

/*平仓弹窗*/
.header-bck {
  background: #142030;
}
.pop-lock-house {
  width: 100%;
  padding: 0.3rem;
  background: #142030;
}

.price-ipt {
  width: 4.48rem;
  height: 0.8rem;
  line-height: 0.8rem;
  padding: 0 0.3rem;
  border-radius: 0.03rem;
  border: 0.01rem solid #3E536C;
  color: #6B7DA2;
  box-sizing: border-box;
}
.currency-price-ipt {
  color: #CFD3E9;
  width: 3rem;
  background: none;
  border: 0;
}
.limit-market {
  width: 2.22rem;
  height: 0.8rem;
  line-height: 0.8rem;
  padding: 0 0.3rem;
  border: 0.01rem solid #3E536C;
  color: #CFD3E9;
}
.limit-market img {
  display: block;
  /*line-height: 0.8rem;*/
  margin: auto 0;
  width: 0.32rem;
  height: 0.32rem;
}
.amount-ipt {
  width: 6.9rem;
  height: 0.8rem;
  padding: 0 0.3rem;
  line-height: 0.8rem;
  border-radius: 0.03rem;
  background: #142030;
  border: 0.01rem solid #3E536C;
  /*padding-left: 0.3rem;*/
  color: #7688AC;
  box-sizing: border-box;
  margin-top: 0.4rem;
}
.currency-amount-ipt {
  color: #CFD3E9;
  width: 5.8rem;
  background: none;
  border: 0;

}

.progress-box-all {
  margin: 0.2rem 0;
}

.progress-box {
  width: 20%;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.28rem;
  font-family: Roboto-Medium, Roboto;
  font-weight: 500;
  color: #FFFFFF;
  /*opacity: 0.7;*/
  border: 0.01rem solid #3E536C;
}
.progress-box-blue {
  background: #3576F5;
}
.unrealized {
  margin-bottom: 0.2rem;
  font-size: 0.28rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #949EAE;
}
.unrealized-num {
  font-family: Roboto-Medium, Roboto;
  font-weight: 500;
}
.money-confirmation {
  width: 6.9rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.28rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  background: linear-gradient(270deg, #3576F5 0%, #459AF5 100%);
  border-radius: 0.02rem;
}
.pop-header {
  padding-left: 0.5rem;
}
.pop-article {
  width: 6rem;
  padding: 0.5rem 0.3rem;
  background: #FFF;
  color: #0D0E23;
  font-size: 0.32rem;
  font-family: PingFangSC-Regular,PingFang SC;
  font-weight: 400;
}
.pop-article-margin {
  padding: 0.5rem 0.3rem;
  background: #172841;
  color: #0D0E23;
  font-size: 0.32rem;
  font-family: PingFangSC-Regular,PingFang SC;
  font-weight: 400;
}
.btn-border {
  border: 1px solid #3576F5;
  background: #fff;
  color: #3576F5;
}
.mr-tempty {
  margin-right: 0.4rem;
}
.modify-margin {
  margin-top: -0.04rem;
  display: inline-block;
  width: 0.26rem;
  height: 0.26rem;
  vertical-align: sub;
  background: url("../../assets/modify-margin.png") no-repeat center;
  background-size: 100%;
}
.modify-margin:active {
  display: inline-block;
  width: 0.26rem;
  height: 0.26rem;
  vertical-align: sub;
  background: url("../../assets/modify-margin(hover).png") no-repeat center;
  background-size: 100%;
}

.calculator-title {
  font-size:0.32rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #A2B5D9;
  /*width: 655px;*/
  padding-left: 0.5rem;
  height: 1.08rem;
}
.positionMode-tit {
  margin-right: 0.8rem;
}
.border-bottom {
  color: #fff;
  border-bottom: 2px solid #3576F5;
}
.pop-article {
  padding: 0.5rem 0.5rem 0.4rem;
}

.modify-margin-box {
  /*width:6.5rem;*/
  height:1.74rem;
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#A2B5D9;
  margin-bottom: 0.3rem;
}
.total-money {
  margin-bottom: 0.2rem;
}
.modify-margin-input {
  height:0.8rem;
  line-height:0.8rem;
  border-radius:1px;
  justify-content: space-between;
  border:1px solid #384256;
  padding: 0 0.3rem;
  color: #A2B5D9;
  box-sizing: border-box;
}
.modify-margin-input input {
  background: transparent;
  border: none;
  color: #A2B5D9;
}
/*placeholder样式*/
.modify-margin-input input::placeholder {
  color: #A2B5D9;
}
.modify-margin-input input::-moz-placeholder {
  color: #A2B5D9;
}
.modify-margin-input input::-webkit-input-placeholder {
  color: #A2B5D9;
}
.modify-margin-input input:-ms-input-placeholder {
  color: #A2B5D9;
}

.modify-margin-des {
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #A2B5D9;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}
.pop-footer {
  width: 100%;
}
.modify-margin-commit {
  width: 100%;
  height:0.8rem;
  line-height:0.8rem;
  text-align:center;
  font-size:0.28rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#FFFFFF;
  background:linear-gradient(270deg,rgba(53,118,245,1) 0%,rgba(69,154,245,1) 100%);
  border-radius:1px;
  margin-bottom: 0.6rem;
  cursor: pointer;
}

