/*没有记录*/
.no-item-box {
  width: 4rem;
  margin: 2.04rem auto;
}

.no-item-box-item{
  width: 1.2rem;
  display: block;
  margin: 0 auto;
}

.no-item-box-text{
  margin-top: 0.12rem;
  text-align: center;
  font-size: 0.28rem;
  font-family: PingFangSC-Regular,PingFang SC;
  font-weight: 400;
  color: #6B7DA2;
}
.position-box-item{
  margin: auto 0.3rem;
  border-top: 0.02rem solid #172841;
  padding: 0.28rem 0 0.22rem;
}
.ps-symbol-box{
  width: 100%;
  align-items: center;
}
.ps-type{
  width: 0.44rem;
  height: 0.4rem;
  line-height: 0.4rem;
  border-radius: 0.03rem;
  /*opacity: 0.1;*/
  font-size: 0.28rem;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  text-align: center;
}
.ps-long{
  background-color: rgba(57,180,150,0.1);
  color: #39B496;
}
.ps-short{
  background-color: rgba(239,86,86,0.1);
  color: #EF5656;
}
.ps-symbol{
  margin-left: 0.12rem;
  height: 0.32rem;
  font-size: 0.28rem;
  font-family: Roboto-Medium, Roboto;
  font-weight: 500;
  color: #CFD3E9;
  line-height: 0.32rem;
}
.ps-reduce-positions{
  margin-left: 0.2rem;
  width: 0.42rem;
  height: 0.28rem;
}
.s-d-leverage-box{
  margin-top: 0.12rem;
  height: 0.34rem;
  font-size: 0.24rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #A2B5D9;
  line-height: 0.34rem;
}
.leverage-val{
  margin-left: 0.12rem;
}
.ps-detail-box{
  margin-top: 0.2rem;
  width: 100%;
}
.ps-detail-left{
  text-align: left;
  flex: 0.33;
}
.ps-detail-middle{
  text-align: left;
  flex: 0.34;
}
.ps-detail-right{
  text-align: right;
  flex: 0.33;
}
.ps-detail-tittle{
  height: 0.32rem;
  font-size: 0.24rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #8994A5;
  line-height: 0.32rem;
}
.ps-detail-amount{
  margin-top: 0.1rem;
  height: 0.28rem;
  font-size: 0.24rem;
  font-weight: 400;
  color: #CFD3E9;
  line-height: 0.28rem;
}
.ps-btn-box{
  margin-top: 0.34rem;
  width: 100%;
}
.ps-btn{
  width: 3.3rem;
  height: 0.64rem;
  border-radius: 0.03rem;
  border: 0.02rem solid #3576F5;
  line-height: 0.64rem;
  text-align: center;
  font-size: 0.24rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #CFD3E9;
}
.text-green{
  color: #39B496;
}
.text-red{
  color: #EF5656;
}
