.h5-homepage-container {

}

.homepage {
  background: #081724;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
}

.homepage-downloadShow {
  /*bottom: 1.2rem;*/
}

.homepage-header {
  height: auto;
  background: #081724;
  overflow: hidden;
}

.swiper-container {
  height: 100%;
}

.homepage-header-imgswiper {
  width: 100%;
  /*height: 4.5rem;*/
  overflow: hidden;
  /*margin: 0.3rem auto 0;*/
  /*border-radius: 4px;*/
  background-color: #081724;
}

.homepage-header-imgswiper-address {
  height: 100%;
  width: 100%;
  display: block;
  color: #fff;
}

.homepage-header-imgswiper-img {
  /*height: 4.5rem;*/
  width: 100%;
  display: block;
}

.homepage-textswiper-more {
  position: absolute;
  right: 0.3rem;
  z-index:100;
  /*width: 1.4rem;*/
  /*text-align: right;*/
  line-height: 0.8rem;
  /*margin-right: 0.3rem;*/
}

.homepage-header-textswiper-bidui {
  height: 1.6rem;
  /*margin-top: .3rem;*/
  /*margin-bottom: 0.3rem;*/
  background-color: #142030;
  /*border-bottom: 1px solid #172841;*/
}

.homepage-header-textswiper-xian {
  height: 2px;
}

.homepage-header-textswiper-xian .xian{
  width: 90%;
  height: 1px;
  background-color: #223349;
  margin: 0 auto;
}

.homepage-header-textswiper-bidui table{
  list-style: none;
  width: 100%;
  height: 100%;
  /*border: 1px solid #fff;*/
}

.homepage-header-textswiper-bidui table td{
  width: 33.3%;
  border-right: 1px solid #223349;
}

.td001{
  width: 100%;
  text-align: center;
  font-family: Roboto-Regular;
  font-size: 12px;
  color: #6D87A8;
  letter-spacing: 0;
}
.td002{
  width: 100%;
  text-align: center;
  /*font-family: Roboto-Medium;*/
  font-size: 0.36rem;
  color: #CFD3E9;
  letter-spacing: 0;
}
.td003{
  width: 100%;
  text-align: center;
  /*font-family: Roboto-Regular;*/
  font-size: 0.24rem;
  color: #39B496;
  letter-spacing: 0;
}
.td004{
  width: 100%;
  text-align: center;
  /*font-family: Roboto-Regular;*/
  font-size: 0.24rem;
  color: #EF5656;
  letter-spacing: 0;
}



.homepage-header-textswiper {
  height: 0.8rem;
  background-color: #131F30;
}

.homepage-header-textswiper-icon {
  height: 0.3rem;
  margin-top: 0.26rem;
  margin-left: 0.3rem;
  float: left;
}

.homepage-header-textswiper-container {
  float: left;
  height: 0.4rem;
  width: 6.5rem;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
  line-height: 0.4rem;
  font-size: 0.28rem;
  color: #fff;
}

.homepage-header-textswiper-address {
  height: 100%;
  width: 500px;
  display: block;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.homepage-header-textswiper-address-title {
  display: inline-block;
  max-width: 5rem;
  height: 0.4rem;
  line-height: 0.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  font-family: PingFangSC-Regular;
  font-size: 13px;
  color: #CFD3E9;
  letter-spacing: 0;
}

/*2018-05-20 添加币得宝入口*/
.homepage-icon-body {
  position: relative;
  min-height: 1.8rem;
  margin: 0.2rem 0 0;
  background: #131F30;
  padding-top: 0.3rem;
  padding-bottom: 0.2rem;
  /* padding: 10px 30px 8px;*/
}

.homepage-icon-body-list {
display: flex;
align-items: center;
justify-content: space-around;
}

.homepage-icon-body-item, .homepage-icon-body-item:link, .homepage-icon-body-item:visited, .homepage-icon-body-item:hover {
color: #fff;
}

.homepage-icon-body-item-img {
width: 0.72rem;
display: block;
margin: 0 auto;
}

.homepage-icon-body-item-text {
  display: block;
  text-align: center;
  margin-top: 0.16rem;
  font-family: PingFangSC-Regular;
  font-size: 0.24rem;
  letter-spacing: 0;
  font-weight:400;
  color:#6A83A8;
}

.homepage-bt {
position: relative;
margin-top: 0.2rem;
height: 1.64rem;
background: #081724;
padding: 0 0.18rem 0 0.04px;
display: flex;
justify-content: space-between;
align-items: center;
}

.homepage-bt-left {
display: flex;
align-items: center;
justify-content: left;
position: relative;
}

/*.homepage-bt-right {*/
  /*width: 73px;*/
  /*height: 28px;*/
  /*line-height: 28px;*/
  /*text-align: center;*/
  /*background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#FF433A), to(#FF9D17));*/
  /*border-radius: 4px;*/
  /*color: #fff;*/
  /*font-size: 13px;*/
/*}*/

.homepage-bt-img {
  display: block;
  margin-right: 10px;
  height: 73px;
  width: 116px;
}

.homepage-bt-left-text-fl {
  height: 21px;
  line-height: 21px;
  font-size: 15px;
  color: #fff;

}

.homepage-bt-left-text-sl {
  margin-top: 7px;
  height: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 11px;
}

.homepage-bt-left-text-tl {
  margin-top: 0;
  height: 22px;
  line-height: 22px;
  color: #3576F5;
  font-size: 16px;
}

.homepage-bt-right-img {
  display: block;
  width: 16px;
  height: 18px;
}

.homepage-bt-left-text-score {
  position: absolute;
  width: 100%;
  bottom: 3px;
  left: 128px;
}

.treasure-chest {
  width: 100%;
  padding: 0 0.3rem;
}

.treasure-chest img {
  width: 100%;
}

.homepage-body {
  position: relative;
  /*padding-top: 2px;*/
  /*margin-top: 10px;*/
  padding-bottom: 50px;
}

.mobile-market-area-title {
  height: 0.8rem;
  line-height: 0.8rem;
  background: #081724;
  font-size: 0.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mobile-market-area-title-item {
  width: 50%;
  height: 0.4rem;
  line-height: 0.4rem;
  border-right: 1px solid #222731;
  text-align: center;
  position: relative;
}

.mobile-market-area-title-item-active {
  color: #3576F5;
}

.mobile-market-area-title-item-span {
  position: relative;
}

.mobile-market-area-title-item-active .mobile-market-area-title-item-span:after {
  display: block;
  content: '';
  bottom: -0.2rem;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #3576F5;
  width: 100%;
}

.mobile-market-area-title-item:last-child {
  border-right: none;
}

.mobile-market-title {
  margin-top: 2px;
  height: 0.88rem;
  line-height: 0.88rem;
  /*top: 0.2rem;*/
  /*left: 0;*/
  /*right: 0;*/
  /*position: absolute;*/
  background: #081724;
  overflow: hidden;
  font-size: 0.24rem;
  padding: 0 0.1rem;
  display: flex;
  justify-content: space-around;
}

.mobile-market-title-item {
  width: 1.6rem;
  height: 0.88rem;
  box-sizing: border-box;
  text-align: center;
  float: left;
  border-bottom: 2px solid transparent;
  font-size: 0.3rem;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
}

.mobile-market-title-item-text {
  position: relative;
}

.mobile-market-title-item-text-reduce {
  position: absolute;
  right: -24px;
  top: -9px;
  background-image: linear-gradient(90deg, #FF433A 0%, #FF9D17 100%);
  border-radius: 7px 7px 7px 0;
  width: 22px;
  height: 15px;
  line-height: 14px;
  text-align: center;
  color: #fff;
  font-size: 10px;
}

.mobile-market-title-item-text-reduce font{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 10px;
}

.mobile-market-title-item-active {
  border-bottom: 2px solid #3576F5;
  color: #3576F5;
}

.mobile-market-table {
  width: 100%;
  background: #142030;
}

.mobile-market-title-first-tr {
  height: 36px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid #0A1824;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #3E536C;
}

.mobile-market-title-first-tr th:nth-child(1) {
  padding-left: 0.3rem;
  text-align: left;
}

.mobile-market-title-first-tr th:nth-child(2) {
  text-align: left;
}

.mobile-market-title-first-tr th:nth-child(3) {
  padding-right: 0.3rem;
  text-align: right;
}

.mobile-market-normal-tr {
  border-bottom: 1px solid #081724;
  margin-left:10px;
  height:1.1rem;
  background:#142030;
}


/*.mobile-market-normal-tr .imgSelect {*/
/*  margin: 0px 0px 0 0;*/
/*  height: 12px;*/
/*}*/

.mobile-market-normal-tr td {
  position: relative;
  font-size: 0;

}

.mobile-market-normal-td-symbol {
  position: absolute;
  top: 0.2rem;
  left: 0.3rem;
  height: 0.36rem;
  line-height: 0.36rem;
  max-width: 3rem;
}

.mobile-market-normal-td-symbol-first {
  /*color: #fff;*/
  /*font-size: 0.3rem;*/
  font-family: Roboto-Medium;
  font-size: 0.32rem;
  color: #CFD3E9;
  /*font-weight:500;*/
}

.mobile-market-normal-td-symbol-second {
  color: #3E536C;
  font-size:0.2rem;
  font-family:Roboto-Medium,Roboto;
  font-weight:500;
}

.mobile-market-normal-td-volume {
  position: absolute;
  top: 0.66rem;
  left: 0.3rem;
  height: 0.36rem;
  line-height: 0.36rem;
  color: #6D87A8;
  /*font-size: 0.26rem;*/
  max-width: 3rem;

  font-size:0.24rem;
  font-weight:400;
}

.mobile-market-normal-td-price {
  position: absolute;
  top: 0.2rem;
  height: 0.36rem;
  line-height: 0.36rem;
  max-width: 3rem;
  color: #fff;
  font-size:0.32rem;
  /*font-weight:500;*/
}

.mobile-market-normal-td-price-up {
  /*color: #39B496;*/
  color: #CFD3E9;
}

.mobile-market-normal-td-price-down {
  /*color: #3576F5;*/
  color: #CFD3E9;
}

.mobile-market-normal-td-cny {
  position: absolute;
  top: 0.66rem;
  height: 0.36rem;
  line-height: 0.36rem;
  font-size:0.24rem;
  font-weight:400;
  color:#6D87A8;
}

.mobile-market-normal-td-current {
  position: absolute;
  top: 0.22rem;
  /*left: 0.2rem;*/
  right: 0.3rem;
  height: 0.66rem;
  line-height: 0.66rem;
  color: #fff;
  font-size: 0.28rem;
  text-align: center;
  width:1.6rem;
  border-radius:0.03rem;
  background: #294368;
}

.mobile-market-normal-td-current-up {
  background: #39B496;
}

.mobile-market-normal-td-current-down {
  background: #EF5656;
}

.mobile-market-table-box-get-more {
  height: 116px;
  /*line-height: 91px;*/
  text-align: center;
  padding-bottom: 1.2rem;
  color: #6f7678;
  font-size: 0.28rem;
  /*margin-bottom: 50px;*/
}

.mobile-market-table-box-get-more .myinfos{
  width: 100%;
  height: 1rem;
  /*position: relative;*/
  margin-top: 0.62rem;
}

.mobile-market-table-box-get-more .myinfos .myheadimg{
  /*position: absolute;*/
  float: left;
  vertical-align: middle;
}

.mobile-market-table-box-get-more .myinfos .myheadinfo{
  width: auto;
  float: left;
  /*height: 30px;*/
  /*line-height: 1rem;*/
  /*position: absolute;*/
  margin-left: 0.2rem;
}

.mobile-market-table-box-get-more .myinfos .myheadinfo .info1{
  width: 100%;
  line-height: 0.24rem;
  text-align: left;
  font-family: Roboto-Medium;
  font-size: 0.28rem;
  color: #CFD3E9;
  margin-bottom: 0.1rem;
  font-weight: 500;
}

.mobile-market-table-box-get-more .myinfos .myheadinfo .info1 span{
  width: 100%;
  line-height: 0.24rem;
  text-align: left;
  font-family: Roboto-Regular;
  font-size: 0.24rem;
  color: #6D87A8;
}

.mobile-market-table-box-get-more .myinfos .myheadinfo .info-uid{
  display: inline-block;
  margin-top: 0.1rem;
  font-weight: 400;
  /*width:1.42rem;*/
  /*height:0.36rem;*/
  border-radius:0.26rem;
  border:0.01rem solid rgba(62,83,108,1);
  padding: 0.0rem 0.14rem;
  font-size:0.2rem;
  font-family:Roboto-Regular,Roboto;
  font-weight:400;
}
.mebile-left {
  margin-left: 0.01rem;
}

.uidHeatcolor {
  color: #3576F5;
}
.uidHeatImg {
  width: 0.2rem;
  vertical-align: sub;
  margin-bottom: 0.04rem;
}
.color-d9 {
  padding-left: 0.04rem;
  font-size:0.2rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#A2B5D9;
}
.uidHeatQian {
  width: 0.16rem;
  vertical-align: initial;
}

.mobile-market-table-box-get-more .myinfos .myheadinfo ul{
  width: auto;
}

.mobile-market-table-box-get-more .myinfos .myheadinfo ul li{
  height: 0.28rem;
}

.mobile-market-table-box-get-more .myinfos .myheadimg img{
  width: 0.6rem;
  margin-bottom: 0.5rem;
  margin-left: 0.4rem;
}

.mobile-market-table-box-get-more .myinfos .outqq{
  float: right;
  line-height: 0.6rem;
  width: 1.4rem;
  border: 1px solid #3E536C;
  border-radius: 0.03rem;
  /*margin-top: 0.1rem;*/
  margin-right: 0.4rem;
  font-family: PingFangSC-Medium;
  font-size: 0.28rem;
  color: #6D87A8;

}

.mobile-market-table-box-get-more-img {
  display: inline-block;
  height: 0.2rem;
  margin-left: 0.1rem;
}

.homepage-body-download {
  height: 1.2rem;
  position: fixed;
  width: 100%;
  bottom: 1rem;
  background: #F7F8FA;
}

.index-home-header-img {
  height: 0.8rem;
  display: block;
  position: absolute;
  top: 0.2rem;
  left: 0.6rem;
  z-index: 0;
}

.index-home-header-address {
  color: #3576F5;
  line-height: 0.68rem;
  position: absolute;
  text-align: center;
  top: 0.24rem;
  right: 0.3rem;
  letter-spacing: 0;
  width: 1.86rem;
  height: 0.68rem;
  border-radius: 0.04rem;
  border: 0.02rem solid #3576F5;
  font-size: 0.32rem;
  font-family: PingFangSC-Medium,PingFang SC;
}


.logofont{
  display: block;
  position: absolute;
  top: 0.2rem;
  left: 1.6rem;
  z-index: 0;
  letter-spacing: 0;
  font-weight: 600;
  font-size: 0.32rem;
  font-family: PingFangSC-Medium,PingFang SC;
  font-weight: 500;
  color: #131F30;
  line-height:0.44rem;
}

.logofont2{
  display: block;
  position: absolute;
  top: 0.66rem;
  left: 1.6rem;
  z-index: 0;
  letter-spacing: 0;
  font-size: 0.24rem;
  font-family: PingFangSC-Regular,PingFang SC;
  font-weight: 400;
  color: #131F30;
  line-height: 0.34rem;
}

.index-home-header-close {
  position: absolute;
  top: -25px;
  left: 0;
  width: 50px;
  height: 50px;
}

.index-home-header-img-close {
  position: absolute;
  top: 16px;
  left: 0.1rem;
  width: 0.36rem;

}

.homepage-toast {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.6);
  z-index: 9999;
}



.market-list-container {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}

.market-list-detail{
  color:#fff;
  /*padding-right: 45px;*/
  padding-left: 3.5%;
  align-items: center;
  justify-content: center;
}

.market-list-click-area {
  width: 100%;
  margin-right: 10px;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
}

.imageRight {
  color: #fff;
}

/*选中样式*/
.selected-market {
  /*padding-bottom: 11px;*/
  border-bottom: 3px solid #3576F5;
  color: #3576F5;
}
/*.market-list-click-area {*/
/*  position: relative;*/
/*  align-items: center;*/
/*  line-height: 24px;*/
/*  margin-top: 12px;*/
/*}*/


.homepage-toast-box {
  width: 320px;
  /*min-height: 200px;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  border-radius: 8px;
  /*overflow: hidden;*/
}

.homepage-toast-close-box {
  position: absolute;
  right: -10px;
  top: -40px;
  width: 40px;
  height: 40px;
}

.homepage-toast-close-btn-img {
  display: block;
  width: 20px;
  height: 20px;
  margin: 10px;
}

.homepage-toast-title {
  height: 42px;
  background: #3576F5;
  line-height: 42px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 8px 8px 0 0;
  font-weight: bold;
}

.homepage-toast-container {
  padding: 20px 16px 20px;
}

.homepage-toast-container-first {
  color: rgba(0,0,0,0.8);
  font-size: 12px;
  text-align: justify;
  text-indent: 2em;
  line-height: 17px;
}

.homepage-toast-container-red {
  color: #FF4949;
}

.homepage-toast-container-second {
  margin-top: 14px;
  height: 17px;
  line-height: 17px;
  text-align: right;
  margin-right: 2px;
  color: rgba(0,0,0,0.4);
  font-size: 12px;
}

.homepage-toast-container-third{
  margin-top: 5px;
  height: 17px;
  line-height: 17px;
  text-align: right;
  margin-right: 2px;
  color: rgba(0,0,0,0.4);
  font-size: 12px;
}
.bottomenu1 {
  width: 100%;
  height: 50px;
}

.bottomenu{
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background-color:  #172841;
  z-index: 999;
}

.bottomenu table{
  width: 100%;
  height: 100%;
  text-align: center;
}

.bottomenu table td{
  width: 20%;
}

.bottomenu .menuimg{
  width: 100%;
  margin-top: 5px;
}

.bottomenu .menuimg img{
  width: 20px;
}

.bottomenu .menuinfo{
  width: 100%;
  font-family: PingFangSC-Regular;
  font-size: 10px;
  color: #3576F5;
  text-align: center;
}

.bottomenu .menuinfoh{
  width: 100%;
  font-family: PingFangSC-Regular;
  font-size: 10px;
  color: #6D87A8;
  text-align: center;
}
