.container {
  /* width: 200px; */
  display: Inline-block;
  background-color: #ffffff;
  /* padding: 0px 20px; */
  /* padding-top: 20px; */
  /*margin-top: 20px;*/
  /* margin-bottom: 10px; */
  flex: 1;
}

/*标题部分*/
.title {
  /* font-size: 1.6rem; */
  align-items: center;
  -webkit-align-items: center;
  padding-left: 20px;
  letter-spacing: 1px;
  position: relative;
  /* height: 70px; */
  font-family: PingFangSC-Medium;
  font-size: 20px;
  color: #333333;
  letter-spacing: 0;
}
.title-i{
  /* font-size: 1.6rem; */
  /*width: 196px;*/
  align-items: center;
  -webkit-align-items: center;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  letter-spacing: 1px;
  position: relative;
  /*height: 70px;*/
  font-size:16px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  letter-spacing: 0;
}
/* .title span:nth-of-type(1) {
  display: block;
  width: 4px;
  height: 16px;
  background-color: #3576F5;
  margin-right: 7px;
} */

/*内容部分*/
.article {
  position: relative;
  width: 196px;
  /*border: 1px solid #e6e6e6;*/
  color: #666666;
  text-align: center;
  min-height: 500px;

}

.log-title {
  width: 100%;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  height: 35px;
  background-color: #cae7ea;
  font-size: 1.4rem;
}

.log-container {
  width: 100%;
}

.log-detail {
  width: 100%;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  /*height: 70px;*/
  /*font-size: 1.2rem;*/
  /*border-bottom: 1px solid #e6e6e6;*/
  /*border: 1px solid #e6e6e6;*/
  background-color: #FFFFFF;
  /* margin-bottom: 10px; */
  /*flex: 80;*/
  text-align: left;
  padding: 10px 15px;
  padding-left: 20px;
  overflow: hidden;
  display: inline-block;
  font-family:PingFangSC-Light,PingFang SC;
  font-weight:300;
  font-size: 14px;
  color: #0D0E23;
  letter-spacing: 0;
  line-height: 20px;
}
.log-detail:hover {
  background: #3576F5;

  color: #FFFFFF;
}
/*.title:hover {*/
/*  color: #FFFFFF;*/
/*}*/

/*.log-detail-i{*/
/*  width: 100%;*/
/*  align-items: center;*/
/*  -webkit-align-items: center;*/
/*  justify-content: space-around;*/
/*  -webkit-justify-content: space-around;*/
/*  height: 70px;*/
/*  font-size: 1.2rem;*/
/*  background: #3576F5;*/
/*  border-radius: 2px;*/
/*}*/



.log-detail .title:hover {
  background: #3576F5;
  color: #FFFFFF;
}
.log-detail .title {
  flex: 80;
  text-align: left;
  padding-left: 20px;
  overflow: hidden;
  display: inline-block;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #0D0E23;
  letter-spacing: 0;
  line-height: 20px;
}

.log-detail-i .title {
  flex: 80;
  text-align: left;
  padding-left: 20px;
  overflow: hidden;
  display: inline-block;
  font-size:14px;
  font-family:PingFangSC-Light,PingFang SC;
  font-weight:300;
  letter-spacing: 0;
  line-height: 24px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 24px

}

.log-detail .title a {
  color: #0D0E23;
}

.log-detail-i .title a {
  color: #0D0E23;
}

.time {
  text-align:right;
}

.more {
  float: right;
  color: #666566;
  font-size: 1.4rem;
  cursor: pointer;
}

.order_btn {
  position: absolute;
  right: 0;
  top: 12px;
  background: #5FC4D1;
  color: #fff;
  padding: 3px 10px;
  border: 1px solid #5FC4D1;
  border-radius: 3px;
  font-size: 1.3rem;
  letter-spacing: 0px;
}

.search {
  margin-left: 30px;
}

/*Input板块*/
.unit-input-container {
  width: 30%;
  height: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

/*Input标题*/
.unit-input-container-title {
  width: 10%;
  height: 100%;
  box-sizing: border-box;
}

/*Input标签*/
.unit-input {
  border: 0 solid transparent;
  width: 88%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 1.3rem;
}

/*加载更多的样式*/
.loading-more {
  color: #3576F5;
}
.AnnouncementCenter{
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.noticeboard{
  display: inline-block;
  flex: 3.5
}

.whiteList {
  width: 100%;
  font-size:24px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(13,14,35,1);
  margin: 25px 0;
}


.article_noticeCenter {
  width: 100%;
  position: relative;
  /*border: 1px solid #e6e6e6;*/
  color: #666666;
  text-align: center;
  min-height: 500px;
}
.log-detail_noticeCenter {
  width: 100%;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  /*height: 70px;*/
  /*font-size: 1.2rem;*/
  /*border-bottom: 1px solid #e6e6e6;*/
  /*border: 1px solid #e6e6e6;*/
  background-color: #FFFFFF;
  /* margin-bottom: 10px; */
  /*flex: 80;*/
  text-align: left;
  padding: 10px 15px;
  padding-left: 20px;
  overflow: hidden;
  /*display: inline-block;*/
  font-family:PingFangSC-Light,PingFang SC;
  font-weight:300;
  font-size: 14px;
  color: #0D0E23;
  letter-spacing: 0;
  line-height: 20px;
 }

.log-detail_noticeCenter:hover {
  background: #F5F6FA;

  color: #0D0E23;
}
