.OfficialQuantitativeRegistration {
  width: 100%;
}

.qq_content {
  width: 1200px;
  margin: 0 auto;
}
.qq_title {
  font-size:26px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(53,118,245,1);
  margin-top: 30px;
  margin-bottom: 30px;
}
.application {
  width: 100%;
}
.application_form {
  display: inline-block;
  width: 41%;
  margin-right: 40px;
}
.application_title {
  width:7.5rem;
  height:0.88rem;
  line-height: 0.88rem;
  background:rgba(245,246,250,1);
  font-size:0.28rem;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:500;
  color:#0D0E23;
  /*margin-bottom: 20px;*/
}

.application_title12 {
  font-size:16px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color:rgba(13,14,35,1);
  margin-bottom: 20px;
}
.Account_number {

}
.Account_number_ {
  display: inline-block;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
  margin-bottom: 10px;
}

.Account_number_input {
  width:100%;
  height:40px;
  line-height: 40px;
  padding-left: 13px;
  background:rgba(245,246,250,1);
  color: #0D0E23;
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);
  /*margin-top: 10px;*/
  margin-bottom: 20px;
}
.supporting_input {
  width: 100%;
  height:40px;
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);
  margin-top: 10px;
  margin-bottom: 20px;
}
.supporting {
  font-size: 12px;
}
.number_amount {
  width: 49%;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 5px;
}
.number_amountTT {
  width: 49%;
  display: inline-block;
  /*margin-top: 30px;*/
  margin-bottom: 20px;
}
.YY {
  margin-bottom: 5px;
}
.number_amount_p {
  font-size:16px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color:rgba(13,14,35,1);
  margin-bottom: 15px;
}
.number_amount_span {
  display: inline-block;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
  margin-right: 50px;
}
.amount_span {
  font-size:12px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(13,14,35,1);
}
.exchange_button {
  width: 100%;
  height:44px;
  line-height: 44px;
  text-align: center;
  background:linear-gradient(270deg,rgba(53,118,245,1) 0%,rgba(69,154,245,1) 100%);
  box-shadow:0px 10px 12px -6px rgba(0,2,40,0.2);
  border-radius:1px;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(255,255,255,1);
  margin-bottom: 30px;
}
.exchange_button1 {
  width: 100%;
  height:44px;
  line-height: 44px;
  text-align: center;
  background:rgba(168,198,255,1);
  border-radius:1px;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(255,255,255,1);
  margin-bottom: 30px;
}
.notice_div {
  width: 100%;
  height:71px;
  background:rgba(255,249,242,1);
  border:1px solid rgba(255,197,139,1);
  padding: 10px;
  box-sizing: border-box;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
}
.application_record {
  float: right;
  width: 55%;
}
.PCapplication_header {
  width: 100%;
  height:54px;
  line-height: 54px;
  background:rgba(250,250,250,1);
  border-radius:3px 3px 0px 0px;
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(13,14,35,1);
  display: flex;
  padding: 0 15px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(197,207,213,0.5);
}
.application_header {
  width:7.5rem;
  height:0.8rem;
  line-height: 0.8rem;
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#6B7DA2;
  display: flex;
  padding: 0 0.3rem;
  box-sizing: border-box;
}
.application_header1 {
  width: 100%;
  height:54px;
  line-height: 54px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(197,207,213,0.5);
}
.application_header_div1 {
  justify-content:space-between;
  width: 20%;
}
.application_header_div2 {
  justify-content:space-between;
  width: 23%;
}
.application_header_div3 {
  justify-content:space-between;
  width: 23%;
}
.application_header_div_right1 {
  justify-content:space-between;
  width: 17%;
  /*text-align: right;*/
}
.application_header_div_right2 {
  justify-content:space-between;
  width: 20%;
  text-align: right;
}

/*.application_header_div1 {*/
/*  justify-content:space-between;*/
/*  width: 25%;*/
/*}*/
/*.application_header_div2 {*/
/*  justify-content:space-between;*/
/*  width: 25%;*/
/*}*/
/*.application_header_div3 {*/
/*  justify-content:space-between;*/
/*  width: 25%;*/
/*}*/
/*.application_header_div_right1 {*/
/*  justify-content:space-between;*/
/*  width: 25%;*/
/*  text-align: right;*/
/*}*/

.weit{
  width: 100%;
  height: 240px;
  line-height: 240px;
  text-align: center;
  box-sizing: border-box;
}
.weit .nhtu{
  width: 100%;
  height: 120px;
  float: left;
  margin: 0 auto;
  margin-top: 30px;
}
.weit .nhtu img{
  /*height: 36px;*/
}
.weit span{
  width: 100%;
  height: 24px;
  text-align: center;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
  line-height: 24px;
  float: left;
}


.el-select >>> .el-input__inner {
  -web-kit-appearance: none;
  -moz-appearance: none;
  width: 496px;
  height:40px;
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);
  /*margin-top: 10px;*/
  /*margin-bottom: 20px;*/
}

.el-select >>> .el-input--suffix {
  height: 41px;
}
.img_ConfirmSuccess {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.img_ConfirmSuccess p {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
}
.Internal_siding {
  /*width: 200px;*/
  /*margin: 0 auto;*/
  /*background-color: pink;*/
}
.notice_but_1 {
  display: inline-block;
  width:115px;
  height:40px;
  line-height: 40px;
  text-align: center;
  border-radius:1px;
  border:1px solid rgba(53,118,245,1);
  margin-bottom: 18px;
  margin-right: 20px;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #3576F5;
}
.notice_but {
  display: inline-block;
  width:115px;
  height:40px;
  text-align: center;
  line-height: 40px;
  background:rgba(53,118,245,1);
  border-radius:1px;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}
.mor-left {
  margin-left: 15px;
}
.mor-right {
  margin-right: 15px;
}
.color_a2 {
  color: #6B7DA2;
}
.color_a2dai {
  color: #FF9F40;
}
.color_a2yi {
  color: #08D0AC;
}
.color_a2jin {
  color: #A2B5D9;
}
.color_a2bo {
  color: #EF5656;
}
.bohui {
  padding: 15px;
  background:rgba(251,251,251,1);
}
.selectstyle {
  font-size: 12px;
}
.m-t {
  display: inline-block;
  height: 17px;
  margin-top: 2px;
}

/*placeholder 样式     begin*/
.el-select >>> .el-input__inner::placeholder {
  color: #A2B5D9;
  font-size: 12px;
}

.el-select >>> .el-input__inner::-moz-placeholder {
  color: #A2B5D9;
  font-size: 12px;
}

.el-select >>> .el-input__inner::-webkit-input-placeholder {
  color: #A2B5D9;
  font-size: 12px;
}

.el-select >>> .el-input__inner:-ms-input-placeholder {
  color: #A2B5D9;
  font-size: 12px;
}
/*placeholder 样式     end*/

.header_xuzhi {
  padding-left: 25px;
}
.pop-recharge {
  padding: 35px 25px;
  font-size:16px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  /*padding-bottom: 25px;*/
}
.pop-recharge-bottom {
  margin-bottom: 15px;
}
.button-base33 {
  width: 191px;
  height: 35px;
  /* background-color: #3576F5; */
  color: #fff;
  border-radius: 1px;
  border: 0 solid transparent;
  /*margin-right: 2px;*/
  outline: none;
}
.m-l {
  margin-left: 24px;
}
.mobileQQ_content {
  width: 100%;
  background-color: #FFFFFF;
  padding-left: 15px;
  padding-right: 15px;
}
.mobileQQ_title {
  font-size:26px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(53,118,245,1);
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 30px;

}
.isAppQQ_title {
  font-size:26px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(53,118,245,1);
  /*margin-top: 10px;*/
  /*margin-bottom: 30px;*/
  /*padding-top: 30px;*/
  margin-bottom: 0.6rem;
  padding-top: 0.6rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin-top: -0.88rem;

}
.mobileApplication_form {
  display: inline-block;
  width: 100%;
  /*margin-right: 40px;*/
}

.mobileSupporting {
  width: 100%;
  font-size: 12px;
}
.mobileAccount_number_ {
  display: block;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
  margin-bottom: 10px;
}
.mobileSupporting .el-select {
  width: 100%;
}

.mobileSupporting .el-select >>> .el-input__inner {
  -web-kit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height:40px;
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);
  /*margin-top: 10px;*/
  /*margin-bottom: 20px;*/
}

.mobileSupporting .el-select >>> .el-input--suffix {
  height: 41px;
}
.mobileAccount_number_input {
  width:100%;
  height:40px;
  line-height: 40px;
  padding-left: 13px;
  background:rgba(245,246,250,1);
  color: #0D0E23;
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);
  /*margin-top: 10px;*/
  margin-bottom: 25px;
}
.mobileNumber_amount_span {
  display: inline-block;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
  margin-right: 30px;
}
.mobileNumber_amount {
  width: 49%;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 5px;
}
.mobileMB {
  margin-bottom: 30px;
}
.mobilePL {
  padding-left: 0.3rem;
}

.mobileApplication_record {
  /*float: right;*/
  width: 7.5rem;
  /*height: 100%;*/
  min-height: 6rem;
  background-color: #FFFFFF;
  margin-top: -0.02rem;
}
.mobileApplication_header_div {
  justify-content:space-between;
  width: 2.7rem;
}
.mobileApplication_header_div_right {
  justify-content:space-between;
  width: 2.1rem;
  text-align: right;
}
.mobileApplication_header1 {
  width:7.5rem;
  height:1.28rem;
  /*line-height: 54px;*/
  box-sizing: border-box;
  padding: 0 0.3rem;
  /*min-height: 200px;*/
  border-bottom: 0.02rem solid rgba(197,207,213,0.5);
}
.delails {
  float: right;
  font-size:14px;
  line-height: 50px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:#3576F5;
}
.jiantou {
  width: 16px;
  height: 16px;
  vertical-align: sub;
}

/*实名认证弹框*/
.lock-position-confirm-toast {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
}

.lock-position-confirm-toast-window {
  position: absolute;
  top: 50%;
  left: 25px;
  right: 25px;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 4px;
  padding: 0 20px;
}

.lock-position-confirm-toast-close-btn {
  position: absolute;
  top: -40px;
  right: -10px;
  width: 40px;
  height: 40px;
}

.lock-position-confirm-toast-close-btn-img {
  display: block;
  width: 20px;
  margin: 10px;
}

.lock-position-confirm-toast-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #3576F5;
  font-size: 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
}

.lock-position-confirm-toast-list {
  padding-top: 15px;
}

.lock-position-confirm-toast-item-title {
  color: rgba(0,0,0,0.4);
}

.lock-position-confirm-toast-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  /*justify-content: space-between;*/
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lock-position-confirm-toast-btn-confirm {
  width: 45%;
  background: #3576F5;
  height: 40px;
  line-height: 40px;
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
}
.tupianAlign {
  vertical-align: text-bottom;
}
.mobileColor_bik {
  /*width: 59%;*/
  font-size:18px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #0D0E23;
  margin-left: 0.3rem;
}
.mobileSpanDis {
  display: block;
  line-height: 0.44rem;
  font-size:0.28rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #131F30;
  padding-top: 0.2rem;
}
.mobileSpanDisTime {
  line-height:0.44rem;
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#6A83A8;
}
.mobilePT {
  font-size:0.28rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  line-height: 1.28rem;
}
.mobileUnderway{
  width: 1.16rem;
  height:0.44rem;
  font-size:0.28rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #FFFFFF;
  text-align: center;
  /*padding: 0 0.16rem;*/
  background:rgba(53,118,245,1);
  border-radius:0.02rem;
  margin-top: 0.2rem;
  margin-left: 0.76rem;
}
.mobileZT {
  line-height: 0.44rem;
  font-size:0.24rem;
}
.mobileUnderwayComplete {
  width: 1.16rem;
  height:0.44rem;
  font-size:0.28rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #FFFFFF;
  text-align: center;
  /*padding: 0 0.16rem;*/
  background:#D5DFF2;
  border-radius:0.02rem;
  margin-top: 0.2rem;
  margin-left: 0.76rem;
}
.mobileNoMining {
  font-size:0.28rem;
  line-height:0.44rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  margin-top: 0.2rem;
  text-align: right;
  color: #172841;
}
.mobileImgOn {
  width: 0.32rem;
  vertical-align: sub;
}
.img-on {
  width: 16px;
  vertical-align: sub;
}
