
.OfficialQuantitativeDetails {
  width: 100%;
}

.qq_content {
  width: 1200px;
  margin: 0 auto;
}
.qq_title {
  font-size:26px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(53,118,245,1);
  margin-top: 30px;
  margin-bottom: 30px;
}

.account_number {
  display: inline-block;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
  margin-bottom: 15px;
}
.accountUid {
  padding-left: 20px;
}
.account_number_right {
  display: inline-block;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
  float: right;
}


.quantification_con {
  width: 100%;
  margin-bottom: 20px;
}

.quantification_today {
  display: inline-block;
  width: 37.8%;
  height:163px;
  background:rgba(255,255,255,1);
  border:1px solid rgba(239,240,255,1);
  margin-right: 20px;
}
.quantification_today_div {
  width: 100%;
  height:44px;
  line-height: 44px;
  background:rgba(245,246,250,1);
  padding-left: 25px;
  margin-bottom: 24px;
  box-sizing: border-box;

}
.quantification_today_span {
  color: #0D0E23;
  font-size: 14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
}
.quantification_today_time {
  color: #6B7DA2;
  font-size: 12px;
}

.to_be_released_soon {
  width: 100%;
  height:29px;
  line-height: 29px;
  padding-left: 25px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.to_be_re {
  justify-content: space-between;
  font-size:12px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(53,118,245,1);
}
.to_be_re_div {
  justify-content: space-between;
  display: inline-block;
  width: 63%;
  height:29px;
  line-height: 29px;
  text-align: center;
  color: #3576F5;
  background:rgba(245,246,250,1);
  border:1px solid rgba(224,225,244,1);
  margin:0 16px;
}
.to_be_re_div_1 {
  margin-left:29px;
}

.Todays_award {
  float: right;
  width: 60%;
  height:163px;
  background:rgba(255,255,255,1);
  border:1px solid rgba(239,240,255,1);
}
.Todays_award_div {
  height:44px;
  line-height: 44px;
  background:rgba(245,246,250,1);
  padding-left: 25px;
  margin-bottom: 18px;
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #0D0E23;
}

.TodaysUl {
  width: 100%;
}
.TodaysLi {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}
.li_div_20 {
  justify-content:space-between;
  width: 20%;
  padding-left: 25px;
}
.li_div_60 {
  justify-content:space-between;
  width: 60%;
}
.li_div_19 {
  justify-content:space-between;
  width: 20%;
  text-align: right;
  padding-right: 25px;
}
.color_0 {
  color: #0D0E23;
  font-size: 12px;
  line-height: 12px;
}
.mobileColor0 {
  color: #0D0E23;
  font-size: 12px;
  line-height: 12px;
}
.mobileColor3 {
  color: #3576F5;
  font-size: 12px;
  line-height: 34px;
}
.color_3 {
  color: #3576F5;
  font-size: 12px;
  line-height: 34px;
}
.color_7 {
  color: #0D0E23;
  font-size:20px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
}
.border_50 {
  width: 93%;
  height:16px;
  /*background:rgba(245,246,250,1);*/
  border-radius:8px;

  margin-left: 25px;
  box-sizing: border-box;
}
.record {
  width: 100%;
  border:1px solid rgba(239,240,255,1);
  margin-bottom: 25px;
}
.mobile-record {
  width: 100%;
  border:1px solid rgba(239,240,255,1);
  padding-bottom: 25px;
}
.recordMining {
  width: 100%;
  height:46px;
  background:#F5F6FA;
  padding-left: 25px;
}
.record_div {
  display: inline-block;
  height:46px;
  line-height: 46px;
  color: #6B7DA2;
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
}
.img-on {
  width: 16px;
  margin-bottom: -3px;
}
.selected_cardTypeML {
  margin-left: 40px;
}
.account-click {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(53,118,245,1);
}
.selected_cardType {
  display: inline-block;
  height:46px;
  line-height: 46px;
  border-bottom: 2px solid #3576F5;
  color: #0D0E23;
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
}
.application_header {
  width: 100%;
  height:40px;
  line-height: 40px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#6B7DA2;
  display: flex;
  padding: 0 25px;
  box-sizing: border-box;
}
.recordUl {
  width: 100%;
  min-height: 200px;
  /*padding-bottom: 50px;*/
}
.recordUl1 {
  width: 100%;
  min-height: 200px;
  padding-bottom: 50px;
}
.application_liMining {
  width: 98.5%;
  /*height:148px;*/
  min-height: 200px;
  background:rgba(251,251,251,1);
  border:1px solid rgba(239,240,255,1);
  margin-left: 10px;
  /*margin-right: 10px;*/
  box-sizing: border-box;
}
.application_liMininghis {
  width: 98.5%;
  height:200px;
  /*min-height: 200px;*/
  background:rgba(251,251,251,1);
  border:1px solid rgba(239,240,255,1);
  margin-left: 10px;
  /*margin-right: 10px;*/
  box-sizing: border-box;
  overflow:scroll;

}

.application_li {
  width: 100%;
  height:50px;
  line-height: 50px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#0D0E23;
  display: flex;
  padding: 0 25px;
  /*border-bottom: 1px solid #EFF0FF;*/
  box-sizing: border-box;

}
.applicationDiv {
  width: 100%;
  height:50px;
  line-height: 50px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#A2B5D9;
  display: flex;
  padding: 0 15px;
  /*border-bottom: 1px solid #EFF0FF;*/
  box-sizing: border-box;

}
/*.applicationDivHis {*/
/*  width: 100%;*/
/*  !*height:50px;*!*/
/*  !*line-height: 50px;*!*/
/*  !*margin-top: 500px;*!*/
/*  font-size:12px;*/
/*  font-family:PingFangSC-Regular,PingFang SC;*/
/*  font-weight:400;*/
/*  color:#A2B5D9;*/
/*  display: flex;*/
/*  padding: 0 15px;*/
/*  position: fixed;*/
/*  top:0;*/
/*  !*border-bottom: 1px solid #EFF0FF;*!*/
/*  box-sizing: border-box;*/

/*}*/
.application_header_div {
  justify-content:space-between;
  width: 25%;
}
.application_ {
  justify-content:space-between;
  width: 30%;
}
.application_1 {
  justify-content:space-between;
  width: 20%;
}
.application_right {
  justify-content:space-between;
  width: 20%;
  text-align: right;
}
.application_header_div_right {
  justify-content:space-between;
  width: 25%;
  text-align: right;
}
.weit{
  width: 100%;
  height: 200px;
  text-align: center;
  box-sizing: border-box;
}
.nhtu{
  width: 100%;
  height: 120px;
  margin: 0 auto;
  margin-top: 30px;
}

.nhtu_p{
  width: 100%;
  height: 14px;
  line-height: 14px;
  text-align: center;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
  float: left;
}


.img_ConfirmSuccess {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.img_ConfirmSuccess p {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
}
.notice_but_1 {
  display: inline-block;
  width:115px;
  height:40px;
  line-height: 40px;
  text-align: center;
  border-radius:1px;
  border:1px solid rgba(53,118,245,1);
  margin-bottom: 18px;
  margin-right: 20px;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #3576F5;
}
.notice_but {
  display: inline-block;
  width:115px;
  height:40px;
  text-align: center;
  line-height: 40px;
  background:rgba(53,118,245,1);
  border-radius:1px;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}
.qq_contentMobile {
  width: 100%;
  background-color: #FFFFFF;
}
.borbot {
  border-bottom: 1px solid #EFF0FF;
}
.qq_titleMobile {
   font-size:0.52rem;
   font-family:PingFangSC-Medium,PingFang SC;
   font-weight:500;
   color:rgba(53,118,245,1);
   /*margin-top: ;*/
   margin-bottom: 0.16rem;
   padding-top: 0.6rem;
   padding-left: 0.3rem;
   padding-right: 0.3rem;
   margin-top: 0.2rem;
 }
.qq_titleIsApp {
  font-size:0.52rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(53,118,245,1);
  /*margin-top: ;*/
  margin-bottom: 0.16rem;
  padding-top: 0.6rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin-top: -0.88rem;
}

.delails {
  float: right;
  font-size: 0.28rem;
  /*line-height: 0.4rem;*/
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:#3576F5;
}

.jiantou {
  width: 0.32rem;
  height: 0.32rem;
  margin-top: 0.28rem;
  vertical-align: sub;
}
.accountNumberMobile {
  height: 0.44rem;
  line-height: 0.44rem;
  font-size: 0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
  /*margin-bottom: 0.3rem;*/
  padding-left: 0.3rem;
}
.account_numberMobile {
  display: inline-block;
  font-size: 0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
  margin-bottom: 0.3rem;
  padding-left: 0.3rem;
}
.account_number_rightMobile {
  display: inline-block;
  font-size: 0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
  float: right;
  padding-right: 0.3rem;
}
.quantification_todayMobile {
  display: inline-block;
  width: 100%;
  /*height:163px;*/
  background:rgba(255,255,255,1);
  border:1px solid rgba(239,240,255,1);
  /*margin-right: 20px;*/
}
.quantification_today_divMobile {
  width: 7.5rem;
  height:0.88rem;
  line-height: 0.88rem;
  background:rgba(245,246,250,1);
  padding-left: 0.3rem;
  margin-bottom: 0.46rem;
  box-sizing: border-box;

}
.to_be_released_soonMobile {
  width: 7.5rem;
  height:0.58rem;
  line-height: 0.58rem;
  padding-left: 0.3rem;
  margin-bottom: 0.4rem;
  box-sizing: border-box;
}
.to_be_re_divMobile {
  display: inline-block;
  width: 3.8rem;
  height:0.58rem;
  line-height: 0.58rem;
  text-align: center;
  color: #3576F5;
  background:rgba(245,246,250,1);
  border:1px solid rgba(224,225,244,1);
  margin-left:0.58rem;
  margin-right: 0.3rem;
}
.ml {
  margin-left: 0.82rem;
  margin-bottom: 0.4rem;
}
.Todays_awardMobile {
  /*float: right;*/
  width: 7.5rem;
  /*height:163px;*/
  background:rgba(255,255,255,1);
  border:1px solid rgba(239,240,255,1);
}
.Todays_award_divMobile {
  height:0.88rem;
  line-height: 0.88rem;
  background:rgba(245,246,250,1);
  padding-left: 0.3rem;
  margin-bottom: 0.32rem;
  font-size:0.28rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #0D0E23;
}
.li_div_20Mobile {
  justify-content:space-between;
  width: 35%;
  padding-left: 0.3rem;
}
.li_div_60Mobile {
  justify-content:space-between;
  width: 30%;
}
.li_div_19Mobile {
  justify-content:space-between;
  width: 35%;
  text-align: right;
  padding-right: 0.3rem;
}
.border_50Mobile {
  width: 93%;
  height:0.32rem;
  /*background:rgba(245,246,250,1);*/
  border-radius:0.16rem;
  margin-bottom: 0.46rem;
  margin-left: 0.3rem;
  box-sizing: border-box;
}
.TodaysLiMobile {
  width: 7.5rem;
  display: flex;
  margin-bottom: 0.18rem;
}
.record_divMobile {
  width: 7.5rem;
  height: 0.88rem;
  line-height: 0.88rem;
  background:#F5F6FA;
  padding-left: 0.3rem;
  border-bottom: 1px solid #EFF0FF;
  color: #0D0E23;
  font-size:0.28rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
}
.application_headerMobile {
  width: 7.5rem;
  height:0.8rem;
  line-height: 0.8rem;
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#6B7DA2;
  display: flex;
  padding: 0 0.3rem;
  box-sizing: border-box;
}
.application_liMobile {
  width: 7.5rem;
  height:1rem;
  line-height: 1rem;
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#0D0E23;
  display: flex;
  padding: 0 0.3rem;
  /*border-bottom: 1px solid #EFF0FF;*/
  box-sizing: border-box;

}
.application_header_divMobile {
  justify-content:space-between;
  width: 25%;
}
.application_header_div_rightMobile {
  justify-content:space-between;
  width: 25%;
  text-align: right;
}
.application_divMobile {
  justify-content:space-between;
  width: 25%;
}
/*加载更多*/
.loading-more {
  width: 7.5rem;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  color: #3576F5;
  position: relative;
  list-style-type:none;
}

.loading-more span {
  cursor: pointer;
}
.mobileRecord_div {
  display: inline-block;
  height:0.88rem;
  line-height: 0.88rem;
  color: #6B7DA2;
  font-size:0.28rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
}
.mobileSelected_cardTypeML {
  margin-left: 0.4rem;
}
.mobileSelected_cardType {
  display: inline-block;
  height:0.88rem;
  line-height: 0.88rem;
  border-bottom: 2px solid #3576F5;
  color: #0D0E23;
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
}
.mobileRecordUl {
  width: 7.5rem;
  min-height: 4rem;
  padding-bottom: 1rem;
}
.mobileApplication_header {
  width: 7.5rem;
  height:0.8rem;
  line-height: 0.8rem;
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#6B7DA2;
  display: flex;
  padding: 0 0.3rem;
  box-sizing: border-box;
}
.mobileApplication_header_div {
  justify-content:space-between;
  width: 2.87rem;
}
.mobileApplication_header_divQ {
  justify-content:space-between;
  width: 1.4rem;
}
.mobileApplication_header_divS {
  justify-content:space-between;
  width: 1.87rem;
}

.mobileApplication_header_div_right {
  justify-content:space-between;
  width: 1.87rem;
  text-align: right;
}
.mobileImgOn {
  width: 0.32rem;
  vertical-align: sub;
}
.mobilAapplication_liMining {
  width: 7.5rem;
  /*height:148px;*/
  min-height: 4rem;
  background:#EFF0FF;
  border:0.02rem solid rgba(239,240,255,1);
  /*margin-left: 0.2rem;*/
  /*margin-right: 10px;*/
  box-sizing: border-box;
}

.mobileApplicationDiv {
  width: 7.5rem;
  height:1rem;
  line-height: 1rem;
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#A2B5D9;
  display: flex;
  padding: 0 0.3rem;
  /*border-bottom: 1px solid #EFF0FF;*/
  box-sizing: border-box;

}
.MobileApplication_ {
  justify-content:space-between;
  width: 30%;
}
.mobileULWT {
  height: 4rem;
  overflow:scroll;
}
.mobileULW {
  width: 7.5rem;
}
.loading-more {
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
