.current-entrustment-container {
  width: 100%;
  position: relative;
  background-color: #fff;
}

tr, th, td {
  box-sizing: border-box;
}

.detail {
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 0 !important;
  min-height: 200px;
}

.weit{
  width: 100%;
  height: 200px;
  line-height: 200px;
  text-align: center;
}

.seeMore {
  text-align: center;
  padding: 10px 0;
}

.tr-th {
  width: 100%;
  height: 40px;
  line-height: 40px;
  /*border: 1px solid #e5e5e5;*/
  background-color: #ffffff;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #8994A5;
  text-align: center;
}

.tr-td {
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  /*border-left: 1px solid #e5e5e5;*/
  /*border-right: 1px solid #e5e5e5;*/
  /*border-bottom: 1px solid #e5e5e5;*/
  background-color: #ffffff;
  border-top: 1px solid #f9f9f9;
  color: #666;

}

.td {

}

.tr-td:hover {
  background-color:rgba(196,62,78,0.03);
}

.td-order {
  width: 11.92%;

}

/*.td-source {*/
/*width: 6.5%;*/
/*}*/

.td-time {
  flex: 8.3;
}

.td-category {
  flex: 8.3;
}

.td-market {
  flex: 8.3;
}

.td-price {
  flex: 8.3;
}

.td-number {
  flex: 8.3;
}

.td-amount {
  flex: 8.3;
}

.td-turnover {
  flex: 8.3;
}

.td-operation {
  flex: 8.3;

}

.click-operation {
  cursor: pointer;
}

.chedanbutton {
  display: inline-block;
  padding: 0 20px;
  height: 20px;
  border:1px solid #C43E4E;
  line-height:22px;
  border-radius: 4px;
}

.chedanbutton:hover {
  display: inline-block;
  color: #F7F8FA !important;
  padding: 0 20px;
  height: 20px;
  line-height:22px;
  border-radius: 4px;
  background-color:#C43E4E;
}

.cancelAll {
  cursor: pointer;
  color: #C43E4E;
}

.click-operating {
  color: #C43E4E;
}

/*加载框*/
.loading {
  display: block;
  height: 150px;
  width: 100%;
  background-color: #fff;
}

.td-sale {
  color: #ff695f;
}

.td-buy {
  color: #0babb6;
}

/*弹窗相关*/
.pop-footer {
  width: 100%;
  align-items: center;
  /*-webkit-align-items: center;*/
  /*justify-content: space-around;*/
  /*-webkit-justify-content: space-around;*/
}

/*动画效果*/
.fade-enter-active, .fade-leave-active {
  transition: all .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  height: 0;
  transform: scaleY(0);
  opacity: 0;
}

/*弹窗button*/
.button-base {
  margin-right: 20px;
}

.button-base:last-of-type {
  margin-right: 0;
}


.weit .nhtu{
  width: 100%;
  height: 120px;
  float: left;
  margin: 0 auto;
}
.weit .nhtu img{
  height: 36px;
}
.weit span{
  width: 100%;
  height: 24px;
  text-align: center;
  ont-family: PingFangSC-Regular;
  font-size: 14px;
  color: #B5BCC6;
  line-height: 24px;
  float: left;
}
