.history-container {
  width: 100%;
  position: relative;
  background-color: #fff;
  min-height: 200px;
}

tr, th, td {
  box-sizing: border-box;
}

.detail {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  min-height: 200px;
  border-top-left-radius: 0 !important;
  border:1px solid rgba(239,240,255,1);
  margin-top: 25px;
  /*padding: 0 25px 0 25px;*/
  box-sizing: border-box;
}

.detail-1 {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  min-height: 200px;
  border-top-left-radius: 0 !important;
  /*border:1px solid rgba(239,240,255,1);*/
  /*margin-top: 25px;*/
  /*padding: 0 25px 0 25px;*/
  box-sizing: border-box;
  background-color: #0D111F;
}
.weit{
  width: 100%;
  height: 240px;
  line-height: 240px;
  text-align: center;
}

.tr-th {
  width: 100%;
  height: 40px;
  /*border: 1px solid #e5e5e5;*/
  /*background-color: #f8f8f8;*/
  /*font-size: 14px;*/
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#6B7DA2;
  text-align: left;
}

.tr-td {
  width: 100%;
  min-height: 50px;
  line-height: 50px;
  text-align: left;
  /*border-left: 1px solid #e5e5e5;*/
  /*border-right: 1px solid #e5e5e5;*/
  /*border-bottom: 1px solid #e5e5e5;*/
  /*background-color: #0D111F;*/
  /*border-top: 1px solid #f9f9f9;*/
  color:#666;
  /*padding:12px 0;*/
}

.tr-td-col {
  width: 100%;
  min-height: 50px;
  line-height: 50px;
  text-align: left;
  background-color: #0D111F;
  color: #F5F6FA;
}

.td {
  /*padding: 10px 0 0 ;*/
  cursor:pointer
}
.tr-td-col:hover {
  background-color: #090C16;
}

.tr-td:hover {
  background-color:rgba(196,62,78,0.03);
}

.td-order {
  width: 8.44%;
}

/*.source {*/
/*width: 3.8%;*/
/*}*/

.td-time {
  flex: 9.3;
  padding-left: 25px;
}

.td-category {
  flex: 6.3;
}

.td-market {
  flex: 9.3;
}

.td-price {
  flex: 9.3;
}
.td-number {
  flex: 9.3;
}

.td-number-2 {
  flex: 7.3;
}

.td-turnover {
  flex: 5.3;
  text-align: right;
  line-height: 50px;
  padding-right: 25px;
}
.text-bule {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(53,118,245,1);
}

/*.td-amount {*/
/*flex: 9.24;*/
/*}*/

.td-charge {
  flex: 9.3;
}

.td-account {
  flex: 9.3;

}

.td-state {
  flex: 5.3;

}

/*加载框*/
.loading {
  display: block;
  height: 150px;
  width: 1200px;
  margin: 0 auto;

  background-color: #fff;
  padding: 0 25px 0 25px;
  box-sizing: border-box;
}

.td-sale {
  color: #ff695f;
}

.td-buy {
  color: #0babb6;
}

/*隐藏的内容*/
.tr-hidden {
  width: 100%;
  /*padding: 10px 0;*/
  /*border-top: 1px solid #e5e5e5;*/
}

/*显示的内容*/
.tr-detail {
 text-align: left;
}

.show-detail {
  background-color:rgba(196,62,78,0.03);
}

/*点击*/
.account-click {
  color: #3576F5;
  cursor: pointer;
}

/*加载更多*/
.loading-more {
  text-align: center;
  padding: 10px 0;
}

.weit .nhtu{
  width: 100%;
  height: 120px;
  float: left;
  margin: 0 auto;
  margin-top: 30px;
}
.weit .nhtu img{
  /*height: 44px;*/
}
.weit span{
  width: 100%;
  height: 24px;
  text-align: center;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
  line-height: 24px;
  float: left;
}
.text_blue-1 {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(53,118,245,1);
}
.text_blue-3 {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(8,208,172,1);
}
.text_red-4 {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(239,86,86,1);
}
.img-on {
  width: 16px;
  margin-bottom: -3px;
}
