.current-entrustment-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
}

tr, th, td {
  box-sizing: border-box;
}

.detail {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  border-top-left-radius: 0 !important;
  min-height: 200px;
  border:1px solid rgba(239,240,255,1);
  margin-top: 25px;
  box-sizing: border-box;
}
.detail-1 {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-top-left-radius: 0 !important;
  height: 300px;
  box-sizing: border-box;
  background-color: #0D111F;
  color: #F5F6FA;
  /*overflow: scroll;*/
}
.tr-th {
  width: 100%;
  height: 40px;
  /*line-height: 40px;*/
  align-items: center;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  font-size: 12px;
  color: #6B7DA2;
  text-align: left;
}
.tr-td {
  width: 100%;
  height: 50px;
  align-items: center;
  text-align: left;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#F5F6FA;
}
.td-time1 {
  flex: 6.3;
  padding-left: 25px;
}
.td-time {
  flex: 9.3;
}
.td-category-1 {
  flex: 5.3;
}
.td-market {
  flex: 5.3;
}
.td-number {
  flex: 4.3;
}
.td-flat-price {
  flex: 4.3;
}
.td-price {
  flex: 5.3;
}
.td-deposit {
  flex: 6;
}
.td-return-rate {
  flex: 8.3;
}
.td-reduce-positions {
  flex: 4.3;
}
.td-reduce-positions img {
  width: 21px;
}
.td-trigger {
  flex: 10;
  /*text-align: right;*/
  padding-right: 25px;
}
.td-back-hand {
  flex: 11;
}
.td-trigger4 {
  flex: 2;
  /*text-align: right;*/
  padding-right: 25px;
  text-align: right;
}
.fenxiang-img {
  float: right;
  cursor: pointer;
}
.td-trigger-btn {
  /*justify-content: flex-end;*/
}
.weigth-font {
  font-weight: 800;
}
.td-trigger-btn input {
  width: 80px;
  height: 28px;
  line-height: 28px;
  border: 0;
  background: 0;
  padding: 0 10px;
  color: #F5F6FA;
  box-sizing: border-box;
  border: 1px solid #393F4D;
}
.td-trigger-btn input:focus {
  border: 1px solid #6B7DA2;
}
.margin-right {
  margin-right: 10px;
}
.market-price {
  display: inline-block;
  float: right;
  /*width: 54px;*/
  /*padding: 0 15px;*/
  width: 25%;
  text-align: center;
  height: 28px;
  line-height: 28px;
  background: #3576F5;
  cursor: pointer;
  border-radius:1px;
}
.market-price-click {
  display: inline-block;
  float: right;
  /*width: 54px;*/
  /*padding: 0 15px;*/
  width: 25%;
  text-align: center;
  height: 28px;
  line-height: 28px;
  background: rgba(53,118,245,.5);
  cursor: pointer;
  border-radius:1px;
}
.market-price:hover {
  /*width: 54px;*/
  /*padding: 0 15px;*/
  /*height: 28px;*/
  /*line-height: 28px;*/
  background: rgba(53,118,245,.5);
  cursor: pointer;
  /*border-radius:1px;*/
}

.back-hand{
  display: inline-block;
  padding: 0 10px;
  /*width: 30%;*/
  text-align: center;
  height: 28px;
  line-height: 28px;
  background: #3576F5;
  cursor: pointer;
  border-radius:1px;
}
.back-hand:hover {
  background: rgba(53,118,245,.5);
  cursor: pointer;
}
.td-time1-currency {
  align-items: center;
}
.text_blue-3 {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(8,208,172,1);
}
.text_red-4 {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(239,86,86,1);
}
.td-time1-green {
  width: 2px;
  height: 30px;
  background: #08D0AC;
}
.td-time1-red {
  width: 2px;
  height: 30px;
  background: #EF5656;
}
.td-currency {
  margin: 0 10px 0 8px;
}
.td-currency-btn {
  padding: 0 5px;
  height: 18px;
  border: 1px solid #3576F5;
  border-radius: 2px;
}
.weit{
  width: 100%;
  height: 240px;
  line-height: 240px;
  text-align: center;
  box-sizing: border-box;
}
.weit .nhtu{
  width: 100%;
  height: 120px;
  float: left;
  margin: 0 auto;
  margin-top: 30px;
}
.weit span{
  width: 100%;
  height: 24px;
  text-align: center;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
  line-height: 24px;
  float: left;
}
.seeMore {
  text-align: center;
  padding: 10px 0;
}

.border-dashed {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px dashed #6B7DA2;
}
.border-dashed:hover {
  display: inline-block;
  opacity: 0.8;
  border-bottom: 1px dashed #6B7DA2;
}
.open-position-box {
  display: none;
  position: absolute;
  top: 32px;
  left:11.5%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
}
.open-marked-price-box {
  display: none;
  position: absolute;
  width: 250px;
  height:auto;
  top: 32px;
  left: 17%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
}
.open-flat-price-box {
  display: none;
  position: absolute;
  width: 250px;
  height:auto;
  top: 32px;
  left: 24%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
}
.open-price-box {
  display: none;
  position: absolute;
  width: 250px;
  height:auto;
  top: 32px;
  left: 30%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
}
.open-security-deposit-box {
  display: none;
  position: absolute;
  /*width: 300px;*/
  height:auto;
  top: 32px;
  left: 40%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
}
.open-return-rate-box {
  display: none;
  position: absolute;
  width: 250px;
  height:auto;
  top: 32px;
  left: 46%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
}
.open-educe-positions-box {
  display: none;
  position: absolute;
  width: 250px;
  height:auto;
  top: 32px;
  right: 30%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
}
.open-liquidation-box {
  display: none;
  position: absolute;
  width: 250px;
  height:auto;
  top: 32px;
  right: 24%;
  font-size:12px;
  text-align: left;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
}
.back-hand-box {
  display: none;
  position: absolute;
  width: 250px;
  height:auto;
  top: 32px;
  right: 10%;
  font-size:12px;
  text-align: left;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
}
.modify-margin {
  display: inline-block;
  width: 13px;
  height: 13px;
  vertical-align: sub;
  background: url("../../assets/modify-margin.png") no-repeat center;
  background-size: 100%;
}
.modify-margin:hover {
  display: inline-block;
  width: 13px;
  height: 13px;
  vertical-align: sub;
  background: url("../../assets/modify-margin(hover).png") no-repeat center;
  background-size: 100%;
}
.calculator-title {
  font-size:16px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #A2B5D9;
  width: 655px;
  padding-left: 25px;
  height: 60px;
}
.positionMode-tit {
  margin-right: 40px;
}
.border-bottom {
  color: #fff;
  border-bottom: 2px solid #3576F5;
}
.pop-article {
  padding: 25px 25px 20px;
}

.modify-margin-box {
  width:350px;
  height:87px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#A2B5D9;
  margin-bottom: 15px;
}
.total-money {
  margin-bottom: 10px;
}
.modify-margin-input {
  height:40px;
  line-height:40px;
  border-radius:1px;
  justify-content: space-between;
  border:1px solid #384256;
  padding: 0 15px;
  color: #A2B5D9;
  box-sizing: border-box;
}
.modify-margin-input input {
  background: transparent;
  border: none;
  color: #A2B5D9;
}
/*placeholder样式*/
.modify-margin-input input::placeholder {
  color: #A2B5D9;
}
.modify-margin-input input::-moz-placeholder {
  color: #A2B5D9;
}
.modify-margin-input input::-webkit-input-placeholder {
  color: #A2B5D9;
}
.modify-margin-input input:-ms-input-placeholder {
  color: #A2B5D9;
}

.modify-margin-des {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #A2B5D9;
  justify-content: space-between;
  margin-bottom: 10px;
}
.pop-footer {
  width: 100%;
}
.modify-margin-commit {
  width: 100%;
  height:40px;
  line-height:40px;
  text-align:center;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#FFFFFF;
  background:linear-gradient(270deg,rgba(53,118,245,1) 0%,rgba(69,154,245,1) 100%);
  border-radius:1px;
  margin-bottom: 30px;
  cursor: pointer;
}


/*弹窗相关*/

.pop-header {
  padding-left: 25px;

}
.pop-footer {
  width: 100%;
  margin-bottom: 15px;
  align-items: center;
  /*-webkit-align-items: center;*/
  /*justify-content: space-around;*/
  /*-webkit-justify-content: space-around;*/
}

/*动画效果*/
.fade-enter-active, .fade-leave-active {
  transition: all .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  height: 0;
  transform: scaleY(0);
  opacity: 0;
}

/*弹窗button*/

.pop-article {
  padding: 35px 25px;
  color: #0D0E23;
  font-size:16px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}

.button-base {
  width: 195px;
  height: 40px;
  /* background-color: #3576F5; */
  color: #fff;
  border-radius: 1px;
  border: 0 solid transparent;
  margin-right: 2px;
  outline: none;
}

.m-r {
  margin-left: 20px;
}

.button-base:last-of-type {
  margin-right: 0;
}


.weit .nhtu{
  width: 100%;
  height: 120px;
  float: left;
  margin: 0 auto;
  margin-top: 30px;
}
.weit .nhtu img{
  /*height: 36px;*/
}
.weit span{
  width: 100%;
  height: 24px;
  text-align: center;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
  line-height: 24px;
  float: left;
}
.text_blue-3 {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(8,208,172,1);
}
.text_red-4 {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(239,86,86,1);
}
.cencon {
  float: right;
  text-align: right;
  color: #3576F5;
  cursor: pointer;
}
.market-price-width {
  width: 62%;
}
.market-price-width38 {
  width: 38%;
}
.position-color {
  color: #3576F5;
  font-weight: 500;
}
/*分享海报样式*/
.copy_poster{
  /*text-align: center;*/
  color: rgba(255,255,255,.8);
  margin-top: 3px;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 15px;
}
.account_number_input {
  width:100%;
  height:40px;
  line-height: 40px;
  font-size: 12px;
  /*padding-left: 15px;*/
  border-radius:1px;
  margin-top: 40px;
  /*border:1px solid rgba(224,225,244,1);*/
  /*margin-bottom: 20px;*/
  box-sizing: border-box;
}
.inputsize {
  width: 260px;
  height: 40px;
  margin: 6px 10px;
  padding-left: 10px;
  font-size: 12px;
  color: #172A4D;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #E0E1F4;
}

.drowdown-box {
  margin-left: -10px;
}
.pop-article1 {
  width: 280px;
}
.shouuu {
  position: fixed;
  top: 70%;
  left: 30%;
  color: #EF5656;
  font-size: 24px;
}
