/*下方loading*/
.loading {
  width: 100%;
  background-color: #fff;
}

.container {
  border: 1px solid #EFF0FF;
  height: auto;
  margin-bottom: 25px;
}

.container-top-title {
  height: 90px;
}

.container-total {
  height: 100%;
  padding: 0 25px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EFF0FF;
}

.currency-total {
  font-size: 14px;
  color: #6B7DA2;
}

.currency-title {
  margin-top: 20px;
}

.currency-total-assets {
  margin: 8px 0 21px;
}

.total-assets {
  font-size: 16px;
  font-family:Roboto-Medium,Roboto;
  font-weight:500;
  color: #0D0E23;
}

.capital-transfer {
  background-color: #3576F5;
  color: #fff;
  font-size: 14px;
  padding: 5px 15px;
  outline: none;
  border-color: transparent;
  border-style: hidden;
  box-sizing: border-box;
}
.capital-transfers {
  background-color: #A8C6FF;
  color: #fff;
  font-size: 14px;
  padding: 5px 15px;
  /*border:1px solid #A8C6FF;*/
  /*border-style: hidden;*/
  box-sizing: border-box;
}
.container-content {
  height: 240px;
}

.my-wallet {
  flex: 1;
  text-align: center;
  border-right: 1px solid #EFF0FF ;
}

.my-wallet:hover {
  background-color: #EFF0FF;
}

.my-wallet-title {
  margin: 56px 0 27px;
  font-size: 16px;
}

.my-wallet-title img {
  vertical-align: middle;
  margin-right: 6px;
}

.my-wallet-number {
  font-family:Roboto-Medium,Roboto;
  color: #0D0E23;
}


.my-wallet-number span:first-child {
  font-size:28px;
  font-weight:500;
}

.my-wallet-number span:last-child{
  font-size:18px;
  font-weight: 400;
}

.my-wallet-CNY {
  font-size:16px;
  color: #A2B5D9;
  margin-top: 10px;
  font-family:Roboto-Regular,Roboto;
  font-weight:400;
}

.coin-account {
  flex: 1;
  text-align: center;
  border-right: 1px solid #EFF0FF ;
}

.coin-account:hover {
  background-color: #EFF0FF;
}

.container-bottom {
  color: #6B7DA2;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}

.container-bottom-title {
  margin-bottom: 15px;
  font-weight:500;
  font-size: 16px;
  color: #0D0E23;
}

/*内部划转*/

/*内部划转页面*/
.pop-article {
  padding: 20px 0;
}

.pop-qu{
  height: 40px;
  border-radius:1px;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #3576F5;
}
.pop-qu:hover{
  color: #3576F5;
  opacity: 0.5;
}

.pop-qu-2 {
  height: 40px;
  margin-left: 40px;
  padding: 0 15px;
  background:linear-gradient(270deg,rgba(53,118,245,1) 0%,rgba(69,154,245,1) 100%);
  border-radius:1px;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(255,255,255,1);
  outline: none;
  border: 0;
}

.pop-qu-2:hover {
  background:#5C93FF;
  border: 0;
}

/*placeholder样式 begin*/
.wallet-to-account-content input::placeholder {
  color: #0D0E23;
}

.wallet-to-account-content input::-moz-placeholder {
  color: #0D0E23;
}

.wallet-to-account-content input::-webkit-input-placeholder {
  color: #0D0E23;
}

.wallet-to-account-content input:-ms-input-placeholder {
  color: #0D0E23;
}
/*placeholder样式 end*/

.wallet-to-account {
  width: 410px;
  height: 88px;
  background-color: #fff;
  box-shadow:0px 0px 10px 0px rgba(0,0,0,0.08);
  margin-bottom: 15px;
}

.wallet-to-account-left {
  width: 87px;
  height: 100%;
  /*background-color: #ccc;*/
  /*text-align: center;*/
  align-items: center;
  justify-content: center;
}

.wallet-account-change {
  text-align: center;
}

.wallet-account-change img {
  width: 10px;
}

.wallet-to-account-content {
  flex: 1;
  /*width: 100%;*/
  line-height:44px;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  color: #0D0E23;
}

.wallet-to-account-content-line {
  border-bottom: 1px solid #EFF0FF;
  box-sizing: border-box;
}

/*.wallet-to-account-content input {*/
/*  width: 100%;*/
/*  height: 44px;*/
/*  border: 0;*/
/*  box-sizing: border-box;*/
/*}*/

/*.wallet-to-account-content input:first-child {*/
/*  border-bottom: 1px solid #EFF0FF;*/
/*  box-sizing: border-box;*/
/*}*/

.wallet-to-account-right {
  width: 92px;
  height: 100%;
  justify-content: center;
  align-items: center;
  /*background-color: #ccc;*/
}

.wallet-to-account-right img{
  width: 30px;
}

.block-input {
  width: 410px;
  height: 87px;
  font-size: 12px;
  color: #6B7DA2;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  margin-bottom: 5px;
}

.block-input-title {
  margin-bottom: 10px;
}

.block-input input {
  height: 40px;
  border: 1px solid #E0E1F4;
  padding-left: 15px;
  box-sizing: border-box;
  width: 100%;
}

.inputInner {
  display: inline-block;
  width: 100%;
  height: 40px;
}

.inputInner >>> .el-input__inner {
  width: 100%;
  height: 40px;
  line-height: 40px;
  /*margin-top: 7px;*/
  padding-left: 15px;
  -webkit-appearance: none;
  background-color: #FFF;
  background-image: none;
  border-radius: 1px;
  border: 1px solid #E0E1F4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  outline: 0;
  -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}

.available-right {
  float: right;
}

.amount-input {
  height: 40px;
  border: 1px solid #E0E1F4;
  background: #fff;
  border-radius: 1px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.amount-input .amount-input-box{
  flex: 9;
  border: transparent;
}

.amount-all {
  flex: 1;
  text-align: center;
  line-height: 40px;
  color: #3576F5;
}
.amount-not-empty {
  color: #FD5555;
}

.pop-footer {
  width: 100%;
  text-align: right;
  padding-right: 25px;
  /*margin-top: 15px;*/
}

/*未认证弹窗*/
.header_xuzhi {
  padding-left: 25px;
}

.pop-recharge {
  padding: 35px 25px;
  font-size:16px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}

.pop-recharge-bottom {
  margin-bottom: 15px;
}

/*弹窗button*/
.button-base {
  width: 190px;
  height: 35px;
  /* background-color: #3576F5; */
  color: #fff;
  border-radius: 2px;
  border: 0 solid transparent;
  margin-right: 2px;
  outline: none;
}

.m-r {
  margin-left: 24px;
}

