.container {
  width: 1200px;
  margin: 0 auto;
  display: block;
  /*background-color: #ffffff;*/
  /*padding: 50px;*/
  min-height: 650px;
  /*height:650px;*/
  position: relative;
}

/*个人信息*/
.personal-info {
  width: 100%;
  background-color: #0D0E23;
  margin-bottom: 15px;
}

.personal-container {
  width: 1200px;
  height: 90px;
  margin: 0 auto;
}
.personal-icon {
  display: inline-block;
  padding-top:25px;
  float: left;
}

.personal-content {
  float: left;
  margin-left: 26px;
  margin-top: 19px;
}

.account-name {
  font-size:24px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(239,240,255,1);
}

.uid {
  padding: 2px 10px;
  font-size: 12px;
  height:20px;
  background:rgba(40,42,82,1);
  border-radius:11px;
  color: #6B7DA2;
  margin-left: 34px;
}

.last-time {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
}

.last-time span {
  margin-left: 6px;
}

/*.身份认证*/
.identity {
  width: 100%;
  height: 136px;
  background-color: #FFFFFF;
  border: 1px solid #EFF0FF;
  color: #0D0E23;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.identity-left {
  padding:21px 0 22px 25px;
  float: left;
}

.identity-title {
  font-family:PingFangSC-Medium,PingFang SC;
  font-size: 14px;
}

.identity-logen {
  color: #6B7DA2;
  margin:7px 0 23px 0;
  /*background-color: #3576F5;*/
}

.identity-button {
  width: 130px;
  /*padding: 5px 15px;*/
  font-size: 14px;
}
.identity-one-button {
  height: 35px;
  border: 0;
}

.identity-button img {
  vertical-align: sub;
}

.rejected {
  margin-left: 10px;
  color: #EF5656;
  text-decoration: underline;
}
.rejected:hover {
  opacity:0.6;
  /*text-decoration: underline;*/
}

.review {
  margin-left: 10px;
  color: #FF9F40;
  text-decoration: underline;
}

.review:hover {
  opacity:0.6;
  /*text-decoration: underline;*/
}

.pass {
  margin-left: 10px;
  color: #08D0AC;
  text-decoration: underline;
}

.pass:hover {
  opacity:0.6;
  /*text-decoration: underline;*/
}

.identity-button button {
  outline: none;
  color: #fff;
  padding: 5px 15px;
  background-color: #3576F5;
  border-radius: 1px;
}

.identity-right{
  float: right;

}

.identity-right img {
  vertical-align: middle;
  height: 134px;
}

/*标题部分*/
.title {
  font-size: 1.6rem;
  align-items: center;
  -webkit-align-items: center;
  padding: 12px 0 12px 0;
  letter-spacing: 1px;
}

.title span:nth-of-type(1) {
  display: block;
  width: 4px;
  height: 16px;
  background-color: #3576F5;
  margin-right: 7px;
}

.title span:nth-of-type(3) {
  font-size: 1.2rem;
  color: #3576F5;
  margin-left: 5%;
}

/*内容部分*/
.article {
  position: relative;
  /*padding: 90px 0 200px 0;*/
  margin-top: 20px;

}

/*容器*/
.article-detail {
  width: 100%;
  height: 90px;
  /*border: 1px solid #e6e6e6;*/
  align-items: center;
  -webkit-align-items: center;
  padding: 0 8%;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin-bottom: 6px;
  position: relative;
  background-color: #fff;

}

/*提示*/
.prompt-img {
  left: 6%;
}
.prompt-img  img{
  width: 25px;
}

/*标题*/
.detail-title {
  font-size: 1.4rem;
  /*width: 18%;*/
  flex: 18.2;
}

.detail-title img {
  /*margin-right:10%;*/
  width: 20px;
}

.detail-title span {
  /*display:block;*/
  padding-left: 11%;
  white-space: nowrap;
}

/* api */
.detail-api {
  display: inline-block;
  padding-right: 30px;
}

/*描述*/
.detail-describe {
  /*margin-left: 4%;*/
  padding-left: 2%;
  color: #666666;
  border-left: 1px dotted #e6e6e6;
  /*width:60%;*/
  flex: 60.5;
}

/*按钮*/
.detail-button {
  /*float:right;*/
  /*justify-self: self-end;*/
  /*align-self: right;*/
  /*width:17%;*/
  flex: 20;
  flex-direction: column;
}

.detail-button button {
  width: 60%;
  height: 30px;
  box-sizing: border-box;
  border: 0 solid transparent;
  background-color: #3576F5;
  color: #fff;
  border-radius: 3px;
  margin: 2px 0;
}

.btn_bind {

}

.detail-button .btn_release {
  border: 1px solid #3576F5;
  color: #3576F5;
  background-color: transparent;
}

.invitationBtn {
  height: 30px ;
  line-height: 30px;
  padding:0 15px;
  margin-top: 26px;
  background: #3576F5;
  color:#fff;
  border-radius: 1px;
  text-align: center;
}
/*----------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
    background: #fff;
    min-height: auto;
  }

  .article {
    padding: 0 10px;
  }

  .title {
    font-size: 1.6rem;
    align-items: center;
    -webkit-align-items: center;
    padding: 10px 0 10px 0;
    letter-spacing: 1px;
  }

  .title span:nth-of-type(1) {
    display: none;
  }

  .title span:nth-of-type(2) {
    padding-left: 4%;
  }

  .auth-state-container {
    min-height: 100%;
  }

  .article-detail {
    width: 100%;
    height: 90px;
    border: 1px solid #e6e6e6;
    align-items: center;
    -webkit-align-items: center;
    padding: 0 8%;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin-bottom: 6px;
    position: relative;
  }

  .detail-title {
    font-size: 1.4rem;
    position: absolute;
    top: 25px;
    left: 35px;
  }

  .detail-title img {
    display: none;
  }

  .detail-title span {
    /*display:block;*/
    padding-left: 10px;
    white-space: nowrap;
  }

  .detail-describe {
    /*margin-left: 4%;*/
    color: #666666;
    /*width:60%;*/
    flex: 60.5;
    position: absolute;
    /*top: 40px;*/
    border: none;
    left: 45px;
    bottom: 25px;
    padding-left: 0;
  }

  .detail-describe span {
    max-width: 200px;
    display: inline-block;
  }

  .detail-button button {
    width: 60px;
    height: 30px;
    box-sizing: border-box;
    border: 0 solid transparent;
    background-color: #3576F5;
    color: #fff;
    border-radius: 5px;
    margin: 2px 0;
    right: 20px;
    position: absolute;
    display: none;
  }

  .prompt-img {
    left: 10px;
  }
}

.titlenew{
  width: 100%;
  height: 44px;
  line-height: 44px;
  background-color: #f5f6fa;
  padding-left: 25px;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #172A4D;
  border-bottom: 1px solid #EFF0FF;
}

.allinfo11-content {
  padding: 0 25px;
}

.allinfo11{
  width: 100%;
  height: auto;
  background-color: #ffffff;
  margin-bottom: 15px;
  border: 1px solid #EFF0FF;
}

.allinfo11 .allinfo11_1{
  /*width: 90%;*/
  height: 80px;
  /*margin: 0 auto;*/
  border-bottom: 1px solid #E7EBEE;
}

.allinfo11 .allinfo11_1:last-child {
  border:0;
}

.allinfo11 .allinfo11_1 .allinfo11_1tu{
  width:auto;
  height: 100%;
  float: left;
}

.allinfo11 .allinfo11_1 .allinfo11_1tu img{
  width: 40px;
  margin-top: 20px;
  /*background-color: #cccccc;*/
  /*margin-left: 15px;*/
}

.allinfo11 .allinfo11_1 .allinfo11_1info{
  width:auto;
  height: 100%;
  float: left;
  margin-left: 25px;
}

.allinfo11 .allinfo11_1 .allinfo11_1info .allinfo11_1info_title{
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #0D0E23;
  margin-top: 20px;
}
.allinfo11 .allinfo11_1 .allinfo11_1info .allinfo11_1info_dis{
  font-family: PingFangSC-Regular;
  font-size: 12px;
  margin-top: 3px;
  color: #6B7DA2;
}



.allinfo11 .allinfo11_1 .allinfo11_update{
  width: auto;
  height: 80px;
  line-height: 80px;
  float: right;
  /*margin-right: 15px;*/
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #3576F5;
  /*color: #000;*/
  text-align: right;
  cursor: pointer;

}
.allinfo11_update img{
  width: 40px;
  height: 20px;
  margin-right: 8px;
}

#binds2 {
  width: 60px ;
  height: 30px ;
  line-height: 30px;
  padding:0 15px;
  margin-top: 26px;
  background: #3576F5;
  color:#fff;
  border-radius: 1px;
  text-align: center;
}

#binds1 {
  /*width: 60px;*/
  height: 30px ;
  line-height: 30px;
  padding:0 15px;
  margin-top: 26px;
  background: #3576F5;
  color:#fff;
  border-radius: 1px;
  text-align: center;
}



#binds {
  width: 60px ;
  height: 30px ;
  line-height: 30px;
  padding:0 15px;
  margin-top: 26px;
  background: #3576F5;
  color:#fff;
  border-radius: 1px;
  text-align: center;
}

.login-record {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  margin-bottom: 15px;
  border: 1px solid #EFF0FF;
}

.login-record-content {
  width: 1200px;
}

.log-title {
  /*width: 100%;*/
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  height: 40px;
  padding: 0 25px;
  /*background-color: #cae7ea;*/
  /*border-bottom: 1px solid #f9f9f9;*/
  box-sizing: border-box;
  font-family:PingFangSC-Regular,PingFang SC;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #6B7DA2;
}

.time {
  flex: 24.5;
  text-align: left;
  /*padding-left: 20px;*/
}

.ip {
  flex: 27.5;
  text-align: left;
}

.source {
  flex: 24;
  text-align: left;
}

.city {
  flex: 24;
  text-align: right;
  /*padding-right: 20px;*/
}

.loading-more {
  padding: 10px 0;
  display: block;
  text-align: center;
  color: #3576F5;

}

.loading-more span img {
  vertical-align: sub;
}

.log-detail {
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  height: 50px;
  padding: 0 25px;
  box-sizing: border-box;
  /*border-bottom: 1px solid #e6e6e6;*/
  /*border-bottom: 1px solid #f9f9f9;*/
  font-family: Roboto-Regular;
  font-size: 12px;
  color: #0D0E23;
}

.log-detail:hover {
  background-color: #F5F6FA;
}

.article-pop-2 {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(107,125,162,1);
}
.article-pop-1 {
  width: 100%;
  height: 87px;
  margin-top: 5px;
}
.article-pop-3 {
  width: 60%;
  height: 92px;
  margin-top: 10px;
}
.input-pop {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);
  display: flex;
  margin-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

.pop-input-1 {
  width:100%;
  height:40px;
  border-radius:1px;
  border:1px solid rgba(224,225,244,1);
  margin-top: 8px;
  padding-left: 10px;
  box-sizing: border-box;
}
.pop-input-3 {
  border:none;
  width: 30%;
  height:38px;
}
.fl-ce-y {
  width: 70%;
  display: inline-block;
  color: #3576F5;
  cursor: pointer;
  text-align: right;
}
.fl-ce-y:hover {
  color: #3576F5;
  opacity: 0.5;
}
.fl-ce-y-s {
  width: 70%;
  display: inline-block;
  color: #A2B5D9;
  text-align: right;
}
/*.pop-ei-ar {*/
/*  padding-left: 25px;*/
/*}*/
.pop-footer {
  width: 100%;
  text-align: right;
  padding-right: 25px;
  /*margin-top: 15px;*/
}
.pop-qu{
  height: 40px;
  border-radius:1px;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #3576F5;
}
.pop-qu:hover{
  color: #3576F5;
  opacity: 0.5;
}

.pop-qu-2 {
  height: 40px;
  margin-left: 40px;
  padding: 0 15px;
  background:linear-gradient(270deg,rgba(53,118,245,1) 0%,rgba(69,154,245,1) 100%);
  border-radius:1px;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(255,255,255,1);
  border: 0;
  outline: none;
}

.pop-qu-2:hover {
  background:#5C93FF;
  border: 0;
}
.article-present {
  height: 36px;
  line-height: 36px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
  background: #FFF9F2;
  border-radius:1px;
  border:1px solid #FFC58B;
  margin-top: 5px;
  margin-bottom: 8px;
  padding-left: 10px;
}
.present-img {
  width: 16px;
  margin-bottom: -3px;
  margin-right: 10px;

}
.input-prompt {
  color: #FD5555;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}

/*会员卡*/
.membershipCard {
  width: 100%;
  height: 80px;
  background-image: url("../../assets/wgm.png");
  background-size: 100% 100%;
  /*background:linear-gradient(270deg,rgba(72,64,59,1) 0%,rgba(41,36,36,1) 100%);*/
  border-radius:1px;
  margin-top: 15px;
  margin-bottom: 16px;


}
/*.wgm {*/
/*  width: 100%;*/
/*  height: 80px;*/
/*}*/
.wgm_div {
  display: inline-block;
  padding-top: 20px;
  margin-left: 25px;
}
.wgm_hy {
  display: block;
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(238,200,165,1);
}
.wgm_hy2 {
  display: block;
  font-size:12px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(211,200,196,1);
}
.wgm_lj {
  float: right;
  display: inline-block;
  height:30px;
  line-height: 30px;
  background:linear-gradient(90deg,rgba(211,177,138,1) 0%,rgba(185,140,99,1) 100%);
  border-radius:1px;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#ffffff;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 25px;
  margin-top: 25px;
}

.membershipCard_ygm {
  width: 100%;
  height: 50px;
  background-image: url("../../assets/ygm.png");
  background-size: 100% 100%;
  /*background:linear-gradient(270deg,rgba(72,64,59,1) 0%,rgba(41,36,36,1) 100%);*/
  border-radius:1px;
  margin-top: 15px;
  margin-bottom: 16px;
}
.ygm_div {
  display: inline-block;
  line-height: 50px;
}
.ygm_hy {
  padding-left: 25px;
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #EEC8A5;
}
.ygm_hy2 {
  font-size:12px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:#D3C8C4;
  padding-left: 20px;
}

.wgm_lj1 {
  float: right;
  display: inline-block;
  line-height: 50px;
  padding-right: 25px;
}
