.PersonalCenterSecurityCenterManageApi{

}

/*标题部分*/
.release-title {
  font-size: 1.6rem;
  align-items: center;
  -webkit-align-items: center;
  padding: 12px 0 12px 0;
  letter-spacing: 1px;
}

.release-title span:nth-of-type(1) {
  display: block;
  width: 4px;
  height: 16px;
  background-color: #3576F5;
  margin-right: 7px;
}

.release-title span:nth-of-type(3) {
  font-size: 1.2rem;
  color: #3576F5;
  margin-left: 5%;
}

/* 创建API key */
.open_api_container{
    width: 100%;
    display: block;
    background-color: #ffffff;
    padding: 50px;
    min-height: 650px;
    position: relative;
}

.open_api_body{
    padding: 50px 20px 270px 20px;
	width: auto;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #e6e6e6;
  	position: relative;
    overflow: hidden;
}

.open_api_title{
	line-height: 30px;
	font-size: 16px;
	color: #666;
	margin-bottom: 20px;
}

.btn_delete{
	font-size: 12px;
	padding: 2px 10px;
	outline: none;
	letter-spacing: 1px;
	position: absolute;
	right: 50px;
}

.manage_api_qrcode{
  width: 150px;
  height: 150px;
  background-color: #fff;
  float: left;
}

.manage_api_content{
  float: left;
  margin-left: 15px;
  line-height: 25px;
  text-align: left;
}

.api_title{
  font-size: 16px;
  color: #999;
}

.api_content{
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}
.api_content_1{
  font-size: 13px;
  font-weight: bolder;
  color: #777;
}
.api_content_1 label{
  margin-right: 20px;
}

.api_notice{
  font-size: 13px;
  color: red;
  font-weight: 800;
}

.api_jurisdiction{
  margin-top: 20px;
}

.clear{
  clear: both;
}

.open_api_body_ip{
  width: 100%;
  border-top: 1px solid #ccc;
  margin-top: 20px;
  text-align: left;
  padding-top: 20px;
  display: none;
}
.open_api_body_ip label{
  vertical-align: middle;
  margin-right: 20px;
}
.api_ip{
  margin-left: 110px;
  margin-top: 5px;
}



/* 二级验证 */

.ga_sms_container{}
.ga_sms_body{
  position: fixed;
  width: 450px;
  height: auto;
  z-index: 100;
  left: 50%;
  top: 30%;
  margin-left: -225px;
  padding: 50px;
  border: 1px solid #fafafa;
  background-color: #fff;
  border-radius: 5px;
}
.ga_sms_body_close{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  color: #ccc;
  font-size: 20px;
}
.ga_sms_bg{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  background: rgba(0,0,0,.4);
}

/*重置密码container*/
.ResetPsw-container {
  display: block;
  height: auto;
  width: 100%;
  padding: 100px 0;
}

/*placeholder样式*/
.ResetPsw-container input::placeholder {
  color: #bfbfbf;
}

.ResetPsw-container input::-moz-placeholder {
  color: #bfbfbf;
}

.ResetPsw-container input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.ResetPsw-container input:-ms-input-placeholder {
  color: #bfbfbf;
}

/*外层container*/
.all-container {
  width: 46.875%;
  /*height: 550px;*/
  margin: 0 auto;
  padding: 0 105px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
}

/*--------------- 标题 begin ----------------*/

/*标题*/
.unit-title {
  flex-direction: row;
  width: 100%;
  font-size: 2.0rem;
  /*height: 110px;*/
  color: #7b7b7b;
  padding: 30px 0;
}

/*标题的横线*/
.unit-title-line {
  display: inline-block;
  height: 1px;
  background-color: #e5e5e5;
  width: 30%;
}

/*标题的title*/
.unit-title-text {
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  padding: 0 10px;
}

/*--------------- 标题 end ----------------*/

/*输入内容container*/
.unit-container {
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  padding-bottom: 30px;
}

/*Input板块*/
.unit-input-container {
  /*width: 87.5%;*/
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.verifying-slider{
  border: none;
}

/*Input标题*/
.unit-input-container-title {
  width: 12%;
  height: 100%;
  box-sizing: border-box;
}

/*Input标签*/
.unit-input {
  border: 0 solid transparent;
  width: 88%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 2px;
}

/*------------------ 间隔 begin ------------------*/

.unit-input-interval {
  height: 20px;
  line-height: 20px;
  width: 80%;
  text-align: left;
  /*padding: 5px 0;*/
  padding-left: 12%;
  /*color: red;*/
}

/*------------------ 间隔 end ------------------*/

/*获取手机验证码*/
.double-input-container > span:nth-of-type(2) {
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  background-color: #25ced9;
  border-radius: 0 5px 5px 0;
  color: #ffffff;
  cursor: pointer;
}

/*获取手机验证码的input*/
.double-input-container > input {
  border: 0 solid transparent;
  width: 69%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

/*确定按钮*/
.container-button {
  border: 0;
}

.set-button {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  background-color: #25ced6;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 10px;
  border: 0;
  margin-left: 0px;
}

.wrong-msg {
  border: 1px solid #FD5555;
}

.pick-one-type {
  border: 0;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -webkit-align-items: center;
}


/*验证码发送中*/
.identifying-code-button-close {
  background-color: #cccccc!important;
}










