.container {
  width: 100%;
  height: auto;
  /*overflow: hidden;*/
  /*position: relative;*/
  /*padding-top: 8px;*/
  /*margin-top:20px;*/
  /*margin-bottom: 10px;*/
}
.container-i {
  width: 100%;
  height: auto;
  /*overflow: hidden;*/
  /*position: relative;*/
  /* padding-top: 1px; */
  /*margin-top:20px;*/
  /*margin-bottom: 10px;*/
}

/*左边*/
.container-left {
  position: absolute;
  top: 6.5px;
  left: 0;
  bottom: 0;
  width: 14%;
  background-color: #ffffff;
  overflow: hidden;
}

.container-left-detail {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-left-detail li {
  width: 100%;
  height: 44px;
  font-size: 1.4rem;
  color: #666;
  /*font-weight: bold;*/
}

.container-left-detail li a {
  color: black;
  width: 100%;
  height: 100%;
  position: relative;
}

/*图标*/
.icon-box {
  display: block;
  position: absolute;
  left: 20%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

/*身份认证*/
.icon-auth {
  background-image: url("../../assets/personalCenter/personal-center-auth.png");
}

.selected .icon-auth {
  background-image: url("../../assets/personalCenter/personal-center-auth-select.png");
}

/*安全中心*/
.icon-security {
  background-image: url("../../assets/personalCenter/personal-center-security.png");
}

.selected .icon-security {
  background-image: url("../../assets/personalCenter/personal-center-security-select.png");
}

/*安全日志*/
.icon-log {
  background-image: url("../../assets/personalCenter/personal-center-log.png");
}

.selected .icon-log {
  background-image: url("../../assets/personalCenter/personal-center-log-select.png");
}

/*我的推荐*/
.icon-recommend {
  background-image: url("../../assets/personalCenter/personal-center-recommend.png");
}

.selected .icon-recommend {
  background-image: url("../../assets/personalCenter/personal-center-recommend-select.png");
}

.icon-super-bee {
  background-image: url("../../assets/personalCenter/personal-center-super-bee.png");
}

.selected .icon-super-bee {
}

.icon-bt {
}

.selected .icon-bt {
}

.selected {
  background-color:rgba(196,62,78,0.03);
}

.selected .personal-center-title {
  color: #3576F5;
}

.container-left-detail .selected a {
  color: #0babb6;
}

/*右边*/
.container-right {
  display: block;
  width: 100%;
  height: auto;
  /*overflow: hidden;*/
  margin: 0 auto;
}

/*上方标题*/
.container-right-title {
  height: 80px;
  width: 100%;
  background-color: #ffffff;
  position: relative;
}

.available-limit {
  /*text-align: right;*/
  float: right;
  color: #999999;
}

.total-assets {
  width: auto;
  font-size: 1.8rem;
}

.total-assets-color {
  color: #0babb6;
}

.total-assets-available {
  color: #0babb6;
}

.total-assets-disable {
  color: #3576F5;
}

.available-detail {
  margin-right: 2%;
}

.available-assets {
  position: absolute;
  right: 0;
  padding-right: 2%;
  white-space: nowrap;
}

/*下方内容*/
.detail {
  display: block;
  width: 100%;
  position: relative;
  margin-top: 8px;
}

.detail-header {
  width: 100%;
  position: relative;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  height: 35px;
  background-color: #cae7ea;
  color: #666666;
  font-size: 1.2rem;
  text-align: center;
}

.currency {
  flex: 13.7;
}

.fullName {
  flex: 15.5;
}

.total {
  flex: 12.7;
}

.available {
  flex: 13.7;
}

.frozen {
  flex: 13.7;
}

.valuation {
  flex: 13.7;
}

.rechargeAndWithdrawals {
  flex: 17.3;
}

/*具体内容*/
.li-container {
  width: 100%;

}

/*----------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {

  .container-left {
    background: #081726;
    padding-top: 0;
  }

  .container-left-detail li:nth-child(3) {
    display: none;
  }

  .container-left-detail li:nth-child(4) {
    display: none;
  }

  .container-right {
    display: block;
    float: right;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #081724;
    overflow-y: hidden;
  }

  .flex-center-text {
    display: none;
  }

  .selected {
    background-color: #fff;
  }

}
