.bind-ga-container {
  width: 520px;
  display: block;
  background-color: #fff;
  margin: 0 auto;
  /*padding: 50px;*/
  position: relative;
}

/*个人信息*/
.personal-info {
  width: 100%;
  height:46px;
  background:rgba(255,255,255,1);
  box-shadow:0px 2px 6px 0px rgba(0,0,0,0.06);
  margin-bottom: 40px;
}

.personal-container {
  width: 1200px;
  height: 46px;
  margin: 0 auto;
}

.currency_notice_bread {
  line-height: 46px;
  width: 100%;
  overflow: hidden;
  color: #6B7DA2;
  font-size: 14px;
}

.management {
  color: #6B7DA2;
}
.currency_notice_bread span {
  margin: 0 20px;
}

.management:hover {
  color: #3576F5;
}

/*第一步*/
.one {
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  font-family:PingFangSC-Regular,PingFang SC;
}

.one-background {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  color: #3576F5;
  margin-right: 10px;
  text-align: center;
  background-color: #E0E1F4;
}

.one-text {
  display: inline;
  color: #0D0E23;
}


/*标题部分*/
.title {
  font-size: 14px;
  align-items: center;
  -webkit-align-items: center;
  padding: 12px 0 12px 0;
  letter-spacing: 1px;
}

.title span:nth-of-type(1) {
  display: block;
  width: 4px;
  height: 16px;
  background-color: #3576F5;
  margin-right: 7px;
}

/*内容部分*/
.article {
  /*border: 1px solid #e6e6e6;*/
  position: relative;
  /*padding: 4% 12% 2% 12%;*/
}

.line-container {
  width: 100%;
  /*margin-bottom: 8%;*/
  font-size: 12px;
}

.line-container-bottom {
  margin-bottom: 8%;
}

.download-text {
  width: 480px;
  color: #6B7DA2;
  /*font-size: 12px;*/
  margin-bottom: 25px;
}

.line-title {
  width: 16%;
  display: block;
  font-size: 1.4rem;
}

.line-article {
  width: 100%;
  margin-bottom: 15px;
  font-size: 12px;
}

.bind-success {
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  /*width:100%;*/
  /*padding: 5% 0 3% 0;*/
}

.line-article-line {
  border: 1px solid #F5F6FA;
  padding: 15px;
}

/*下载*/
.download-container {
  flex-direction: row;
}

.download {
  display: block;
  /*width: 21%;*/
  margin: 0 12px 0 0;
  position: relative;
}

.qr-code {
  display: none;
  width: 110px;
  height: 110px;
  background-color: #fff;
  /*padding: 5px;*/
  position: absolute;
  top: 50px;
  left: 54px;
  box-shadow: 0 4px 14px -2px rgba(0,0,0,0.1);
  transform: translateX(-50%);
  /*padding: 12px 7px 5px 7px;*/
  /*background-image: url("../../assets/downloadQRcodeBackground.png");*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 499;
}

.download-hidden {
  display: none;
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  /*background-image: url("../../assets/downloadQRcodeBackground.png");*/
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 500;
}

.download-hidden img {
  width: 100%;
}

.download:hover .qr-code {
  display: block;
}

.download:hover .download-hidden {
  display: block;
}

/*二维码*/
.qr-code-container {
  width: 21%;
  height: 120px;
  display: block;
}

.qr-code-describe {
  /*width: 79%;*/
  width: 120px;
  /*width: 95%;*/
  /*padding-left: 3%;*/
  margin-right: 20px;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  /*font-size: 12px;*/
  /*color: #666;*/
  /*position: relative;*/
}

.input-qr-code {
  /*position: relative;*/
  width: 350px;
}

.input-qr-code input {
  display: block;
  width: 100%;
  font-size: 16px;
  /*height: 35px;*/
  box-sizing: border-box;
  /*border-radius: 2px;*/
  border: 0;
  text-align: left;
  margin-bottom: 15px;
  /*border: 1px solid #999999;*/
  /*margin-left: 2%;*/
}

/*完成绑定*/
.line-input {
  height: 87px;
  /*font-size: 1.4rem;*/
  /*margin-bottom: 5px;*/
  position: relative;
  align-items: center;
}

.line-input > div:nth-of-type(1) {
  /*display: block;*/
  width: 100%;
  color: #6B7DA2;
}

.line-input .line-input-detail {
  width: 100%;
  height: 40px;
  /*padding-left: 5px;*/
  margin-top: 8px;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  font-size: 12px;
  color: #666;
}

.line-input .line-input-detail input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #E0E1F4;
  border-radius: 1px;
  padding-left: 15px;
}

/*.line-input .line-input-detail input:focus {*/
/*  border: 1px solid #3576F5!important;*/
/*}*/

/*确定*/
.line-input-button {
  width: 100%;
  height: 44px;
  margin-bottom: 20px;
}

.line-input-button .line-input-detail {
  width: 100%;
}

.line-input-detail button {
  width: 100%;
  height: 100%;
  border-radius: 1px;
  background-color: #3576F5;
  box-shadow:0px 10px 12px -6px rgba(0,2,40,0.2);
  border: 0 solid transparent;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 2px;
}

/*加载中*/
.loading {
  min-height: 500px;
}

.input-prompt {
  position: absolute;
  top: 66px;
  /*left: 0;*/
  width: 50%;
}

/*点击复制*/
.input-qr-code-copy {
  display: block;
  /*border:1px solid red;*/
  /*font-size: 12px;*/
  text-align: left;
  /*padding: 5px 5px;*/
  /*border: 1px solid #3576F5;*/
  /*border-radius: 2px;*/
  /*color: #3576F5;*/
  /*width: 15%;*/
  /*position: absolute;*/
  /*top:110%;*/
  /*left:50%;*/
  /*top: 50%;*/
  /*right: 0;*/
  /*transform: translateY(-50%);*/
}

.input-qr-code-copy img {
  margin-right: 5px;
  vertical-align: middle;
}

.line-container-text {
  width: 100%;
  padding: 10px;
  background-color: #FFF9F2;
  border: 1px solid #FFC58B;
  color: #6B7DA2;

}

.container-top {
  margin-top: 20px;
}

/*----------------------------------------------------------------------------------------------------*/

/*@media screen and (max-width: 768px) {*/
/*  .bind-ga-container {*/
/*    background: #081726;*/
/*    padding: 0;*/
/*    color: #fff;*/
/*  }*/

/*  .mobile-title {*/
/*    color: #fff;*/
/*    font-size: 0.4rem;*/
/*    height: 0.8rem;*/
/*    line-height: 0.8rem;*/
/*    text-align: center;*/
/*    margin-top: 0.4rem;*/
/*    margin-bottom: 0.8rem;*/
/*  }*/

/*  .mobile-input-box {*/
/*    margin-top: 0;*/
/*    padding: 0 0.2rem;*/
/*  }*/

/*  .mobile-input-title {*/
/*    height: 0.42rem;*/
/*    line-height: 0.42rem;*/
/*    font-size: 0.3rem;*/

/*  }*/

/*  .mobile-input-box input {*/
/*    margin-top: 0.18rem;*/
/*    width: 6.9rem;*/
/*    height: 0.88rem;*/
/*    line-height: 0.88rem;*/
/*    font-size: 0.28rem;*/
/*    color: #fff;*/
/*    padding-left: 0.2rem;*/
/*    border-radius: 8px;*/
/*    border: 1px solid #274868;*/
/*    background: #213b58;*/
/*  }*/

/*  .mobile-button-box {*/
/*    margin-top: 0.8rem;*/
/*    padding: 0 0.2rem;*/
/*  }*/

/*  .mobile-button-box button {*/
/*    background: #00bcc8;*/
/*    width: 7.1rem;*/
/*    height: 0.88rem;*/
/*    line-height: 0.88rem;*/
/*    border-radius: 8px;*/
/*    font-size: 0.32rem;*/
/*    border: none;*/
/*    color: #fff;*/
/*  }*/

/*  .input-prompt-height {*/
/*    height: 0.6rem;*/
/*  }*/

/*  .input-prompt {*/
/*    position: static;*/
/*    text-align: center;*/
/*    height: 0.6rem;*/
/*    line-height: 0.6rem;*/
/*    font-size: 0.24rem;*/
/*    width: 7.1rem;*/
/*  }*/

/*}*/
