.modify-psw-container {
  width: 100%;
  display: block;
  background-color: #ffffff;
  padding: 50px;
  position: relative;
}

/*标题部分*/
.modify-psw-title {
  font-size: 1.6rem;
  align-items: center;
  -webkit-align-items: center;
  padding: 12px 0 12px 0;
  letter-spacing: 1px;
}

.modify-psw-title span:nth-of-type(1) {
  display: block;
  width: 4px;
  height: 16px;
  background-color: #3576F5;
  margin-right: 7px;
}

.modify-psw-title span:nth-of-type(3) {
  font-size: 1.2rem;
  color: #3576F5;
  margin-left: 5%;
}

/*内容部分*/
.modify-psw-article {
  border: 1px solid #e6e6e6;
  position: relative;
  padding: 90px 0 200px 0;
}

/*所有的input-container*/
.input-container {
  width: 100%;
  height: 35px;
  margin: 15px 0 15px 0;
}

.input-input {
  /*margin:0 auto;*/
  /*display:block;*/
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
}

.double-input-container .input-input {
  height: 100%;
  box-sizing: border-box;
  width: 61.7%;
}

.verification-code button {
  box-sizing: border-box;
  height: 100%;
  width: 35.7%;
  float: right;
  border: 0 solid transparent;
  background-color: #3576F5;
  color: #ffffff;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: normal;
  border-radius: 2px;
}

.detail-center {
  position: relative;
  /*display: block;*/
  margin: 0 auto;
  width: 28%;
  height: 35px;
}

.input-title {
  /*float:left;*/
  position: absolute;
  left: -110%;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  font-size: 1.4rem;
}

.input-prompt {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 110%;
}

.ensure button {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 0 solid transparent;
  border-radius: 2px;
  background-color: #3576F5;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 2px;
}

.ensure {
  margin-top: 30px;
}

/*验证方式*/
.verification-type {
  justify-content: space-around;
}

.verification-input {
  margin-right: 10px;
  cursor: pointer;
}

.verification-type-container label {
  cursor: pointer;

}

/*----------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  .modify-psw-container {
    padding: 0;
    background: #081724;
    color: #fff;
  }

  /*标题*/
  .unit-title {
    flex-direction: row;
    width: 100%;
    font-size: 0.36rem;
    /*height: 110px;*/
    color: #fff;
    height: 1.9rem;
  }

  /*标题的横线*/
  .unit-title > span:nth-of-type(1), .unit-title > span:nth-of-type(3) {
    display: block;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 1rem;
  }

  /*标题的title*/
  .unit-title > span:nth-of-type(2) {
    width: 40%;
    white-space: nowrap;
    display: block;
    text-align: center;
  }

  .unit-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 80%;
    padding-bottom: 30px;
  }

  /*Input板块*/
  .unit-input-container {
    width: 6.5rem;
    height: 40px;
    border: 1px solid #303031;
    border-radius: 4px;
    background: #131F30;
    margin: 0 auto;
  }

  /*Input前图片*/
  .unit-input-container-title-img {
    width: 0.32rem;
  }

  /*Input标题*/
  .unit-input-container-title {
    width: 1rem;
    height: 100%;
    box-sizing: border-box;
  }

  /*Input标签*/
  .unit-input {
    border: 0 solid transparent;
    width: 5.5rem;
    height: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    background: transparent;
    color: #fff;
  }

  .unit-input-interval {
    height: 20px;
    width: 100%;
    text-align: center;
    color: red;
    margin: 0.1rem auto;
  }

  /*获取手机验证码*/
  .double-input-container > span:nth-of-type(2) {
    width: 1.5rem;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 0 4px 4px 0;
    color: #25ced9;
    cursor: pointer;
  }

  .unit-input-container-title {
    width: 1rem;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /*获取手机验证码的input*/
  .double-input-container > input {
    border: 0 solid transparent;
    width: 4rem;
    height: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    background: transparent;
  }

  .cutter-line {
    color: #233e5c;
    height: 100%;
  }

  .input-prompt {
    position: static;
  }

  .verify-msg {
    color: #000 !important;
  }

  .wrong-answer {
    border: 1px solid red;
  }

  .set-button {
    width: 100%;
    height: 100%;
    font-size: 0.28rem;
    background-color: #3576F5;
    color: #ffffff;
    border-radius: 4px;
    letter-spacing: 10px;
    border: 0;
  }

  .detail-center {
    width: 70%;
  }

  /*验证码发送中*/
  .identifying-code-button-close {
    background-color: transparent !important;
  }

  /*.mobile-title{*/
  /*color: #fff;*/
  /*font-size: 0.4rem;*/
  /*height: 0.8rem;*/
  /*line-height: 0.8rem;*/
  /*text-align: center;*/
  /*margin-top: 0.4rem;*/
  /*margin-bottom: 0.8rem;*/
  /*}*/
  /*.mobile-input-box{*/
  /*margin-top: 0;*/
  /*padding: 0 0.2rem;*/
  /*}*/
  /*.mobile-input-title{*/
  /*height: 0.42rem;*/
  /*line-height: 0.42rem;*/
  /*font-size: 0.3rem;*/
  /*}*/
  /*.mobile-input-box-input{*/
  /*margin-top: 0.18rem;*/
  /*width: 7.1rem;*/
  /*height: 0.88rem;*/
  /*line-height: 0.88rem;*/
  /*font-size: 0.28rem;*/
  /*color: #fff;*/
  /*padding-left: 0.2rem;*/
  /*border-radius: 8px;*/
  /*border: 1px solid #274868;*/
  /*background: #213b58;*/
  /*box-sizing: border-box;*/
  /*}*/
  /*.input-prompt-height{*/
  /*height: 0.6rem;*/
  /*}*/
  /*.input-prompt{*/
  /*position: static;*/
  /*text-align: center;*/
  /*height: 0.6rem;*/
  /*line-height: 0.6rem;*/
  /*font-size: 0.24rem;*/
  /*width: 7.1rem;*/
  /*transform: translateY(0);*/
  /*}*/
  /*.detail-center{*/
  /*width: 100%;*/
  /*}*/
  /*.mobile-button-box{*/
  /*margin-top: 0.8rem;*/
  /*padding: 0 0.2rem;*/
  /*}*/
  /*.mobile-button-box button{*/
  /*background: #00bcc8;*/
  /*width: 7.1rem;*/
  /*height: 0.88rem;*/
  /*line-height: 0.88rem;*/
  /*border-radius: 8px;*/
  /*font-size: 0.32rem;*/
  /*border: none;*/
  /*color: #fff;*/
  /*}*/
}
