.to-auth-container {
  width: 100%;
  display: block;
  /*background-color: #ffffff;*/
  /*padding: 50px;*/
  min-height: 650px;
  position: relative;
}

/*个人信息*/
.personal-info {
  width: 100%;
  height:46px;
  background:rgba(255,255,255,1);
  box-shadow:0px 2px 6px 0px rgba(0,0,0,0.06);
  margin-bottom: 40px;
}

.personal-container {
  width: 1200px;
  height: 46px;
  margin: 0 auto;
}

.currency_notice_bread {
  line-height: 46px;
  width: 100%;
  overflow: hidden;
  color: #6B7DA2;
  font-size: 14px;
}


/*标题部分*/
.title {
  align-items: center;
  -webkit-align-items: center;
  padding: 12px 0 12px 12px;
  letter-spacing: 1px;
  background-color: #ffffff;
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #172A4D;
  border-radius: 2px;
}

.title span:nth-of-type(1) {
  display: block;
  width: 4px;
  height: 16px;
  /*background-color: #3576F5;*/
  margin-right: 7px;
}

.title span:nth-of-type(3) {
  font-size: 1.2rem;
  color: #3576F5;
  margin-left: 5%;
}

.management {
  color: #6B7DA2;
}

.management:hover {
  color: #3576F5;
}

.currency_notice_bread span {
  margin: 0 20px;
}

/*内容部分*/
.article {
  /*border: 1px solid #e5e5e5;*/
  position: relative;
  width: 520px;
  margin: 0 auto;
  min-height: 500px;
  /*padding: 40px 5%;*/
  /*padding-top: 20px;*/
  background-color: #ffffff;
  margin-top: 20px;
  border-radius: 1px;
}

.input-unify1 {
  margin-top: 3px;
}

.input-unify {
  width: 100%;
  height: 87px;
  display: block;
  position: relative;
  white-space: nowrap;
  margin-bottom: 10px;
  font-family:PingFangSC-Regular,PingFang SC;
  /*margin-left: 50px;*/
  font-size: 12px;
  color: #6B7DA2;
  /*margin-bottom: 20px;*/
}



.title-bottom {
  margin-bottom: 10px;
}

.allinfo11_update {
  display: inline-block;
  margin-right: 20px;
}

.imgss {
  display: inline-block;
}

.imgsrc {
  margin-bottom: -2px;
}


.input-title {
  width: 30%;
  position: absolute;
  left: -35%;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
}

.input-input-container {
  /*margin-top: 15px;*/
  /*margin-bottom: 30px;*/
  color: #FF9F40;
}

.mm {
  /*margin-top: -25px;*/
  font-size: 12px;
  /*color: #172A4D;*/
}

.diqu {
  margin-bottom: 0;
}

.input-input {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  /*padding-left: 18px;*/
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 1px;
}

.input-prompt {
  margin-top: 3px;
  /*position: absolute;*/
  /*width: 60%;*/
  /*top: 50%;*/
  /*transform: translateY(-50%);*/
  /*right: -70%;*/
}

.prompt-span {
  justify-content: right;
}

/*国家*/
.country {
  align-items: center;
  -webkit-align-items: center;
}

.country input {
  margin-right: 4%;
}

.country label {
  margin-right: 8%;
}

.country img {
  margin-right: 5%;
}

.sex input {
  margin-right: 15px;
}

.sex label {
  margin-right: 8%;
}

/*输入基本类型*/
.input-container {

}

.one {
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin-bottom: 32px;
  font-size: 14px;
  font-family:PingFangSC-Regular,PingFang SC;
}

.one-background {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  color: #3576F5;
  margin-right: 10px;
  text-align: center;
  background-color: #E0E1F4;
}

.one-text {
  display: inline;
  color: #0D0E23;
}

/*点击图片*/
.image-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  /*border-top: 1px dotted #cccccc;*/
}

.image-unify {
  width: 31%;
  flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  /*text-align: center;*/
  /*padding: 30px 0 20px 0;*/
}

/*显示图片*/
.image-show {
  background-color: #e6e6e6;
  width: 100%;
  height: 109px;
  border-radius: 6px;
  /*margin-top: 12px;*/
}

#imgFrontContainer_0 {
  background: url("../../assets/authentication/china_01.png") center center no-repeat;
  background-size: 96% 95%;
  background-position: center;
  height: 109px;
  /*border: 1px dotted #3576F5;*/
  border-radius: 4px;
  background-color: #EBF2FE;
  padding: 3px;
  box-sizing: border-box;
}

#imgBackContainer_0 {
  background: url("../../assets/authentication/china_02.png") center center no-repeat;
  background-size: 96% 95%;
  /*background-position: center;*/
  height: 109px;
  /*border: 1px dotted #3576F5;*/
  border-radius: 4px;
  background-color: #EBF2FE;
}

#imgHoldContainer_0 {
  background: url("../../assets/authentication/china_03.png") center center no-repeat;
  background-size: 96% 95%;
  background-position: center;
  height: 109px;
  /*border: 1px dotted #3576F5;*/
  border-radius: 4px;
  background-color: #EBF2FE;
}

#imgFrontContainer_1 {
  background: url("../../assets/authentication/oversea_01.png") center center no-repeat;
  background-size: 98% 98%;
  background-position: center;
  height: 109px;
  /*border: 1px dotted #3576F5;*/
  border-radius: 4px;
  background-color: #EBF2FE;
}

#imgBackContainer_1 {
  background: url("../../assets/authentication/oversea_01.png") center center no-repeat;
  background-size: 98% 98%;
  background-position: center;
  height: 109px;
  /*border: 1px dotted #3576F5;*/
  border-radius: 4px;
  background-color: #EBF2FE;
}

#imgHoldContainer_1 {
  background: url("../../assets/authentication/oversea_01.png") center center no-repeat;
  background-size: 98% 98%;
  /*background-position: center;*/
  height: 109px;
  /*border: 1px dotted #3576F5;*/
  border-radius: 4px;
  background-color: #EBF2FE;
}

.image-show:hover {
  cursor: pointer;
}

.image-show .show {
  width: 100px;
  height: 100%;
}

.add-img {
  margin: 0 1%;
}

/*回显图片*/
.re_img {
  width: 100%;
  height: 100%;
}

.display-none {
  display: none;
}

.image-prompt {
  margin-top: 3px;
  min-height: 20px;
}

/*提示*/
.prompt {
  margin-bottom: 30px;
  font-size: 1.2rem;
  color: #666;
}

.select-down-box {
  width: 520px;

}

.inputInner {
  display: inline-block;
  /*width: 100%;*/
  /*height: 35px;*/
  border-radius: 1px;
}

.inputsize {
  width: 484px;
  height: 40px;
  margin: 6px 18px;
  padding-left: 10px;
  font-size: 14px;
  color: #172A4D;
  border:1px solid #ccc;
  box-sizing: border-box;
  border-radius: 2px;
}
/*.widthInput:hover {*/
/*  opacity: 0.08;*/
/*  background: #3576F5;*/
/*}*/
/*.widthInput .hoverText:hover {*/
/*  font-family: PingFangSC-Regular;*/
/*  font-size: 16px;*/
/*  color: #3576F5;*/
/*}*/


.prompt-detail {
  /*border: 1px dotted #3576F5;*/
  /*background-color:rgba(196,62,78,0.03);*/
  /*padding: 10px 6%;*/
  width: 220px;
  display: inline-block;
  margin-top: 15px;
  margin-left: 65px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #172A4D;
}

.prompt-detail1 {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-bottom: -3px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #EBEBEB;

}

.prompt-detail ul {
  /*list-style: disc;*/
}

.prompt-detail ul li span {
  display: inline-block;
  width: 5px;
  height: 5px;
  /*background-color: #3576F5;*/
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
}

.prompt-detail ul li {
  position: relative;
  display: inline-block;
  margin-left: 2%;
  margin-right: 5%;
}

.prompt-fail {
  border: 1px dotted #ffc0bb;
  background-color: #fff1f0;
  padding: 10px 6%;
  margin-top: 10px;
}

.two {
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin-top: 35px;
  margin-bottom: 36px;
  font-size: 14px;
  font-family:PingFangSC-Regular,PingFang SC;
}

.two-background {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  color: #3576F5;
  margin-right: 10px;
  text-align: center;
  background-color: #E0E1F4;
}

.two-text {
  display: inline;
  color: #0D0E23;
}

/*提交*/
.commit-container {
  width: 100%;
  height: 132px;
}

.commit-button {
  outline: none;
  width: 100%;
  height: 44px;
  /*line-height: 16px;*/
  /*border: 1px solid #3576F5;*/
  border-radius: 1px;
  background-color: #3576F5;
  box-shadow:0px 10px 12px -6px rgba(0,2,40,0.2);
  font-size: 14px;
  color: #FFFFFF;
  margin: 0 auto;
  margin-bottom: 30px;

}

/*提示错误*/
.wrong-border {
  border: 1px solid #EF5656;
}


.wrong-msg {
  color: #FD5555;
}

.right-msg {
  color: #0babb6;
}

.prompt-span img {
  margin-right: 5px;
}

.popWindow-article {
  font-size: 14px;
  padding: 20px 0;
}

/*请选择证件类型*/
.chose-commit-type-container {
  padding-top: 40px;
  font-size: 14px;
  color: #333;
}

.chose-commit-type-title {
  font-weight: bold;
}

.chose-commit-type-detail-container {
  padding-top: 20px;
  flex-direction: column;
}

.chose-commit-type-detail {
  align-items: center;
  margin-top: 5px;
}

.chose-commit-type-detail:first-of-type {
  margin-top: 0;
}

.chose-commit-type-label {
  padding-left: 10px;
}

.go-to-app-container {
  margin: 0 auto;
  flex-direction: column;
  border: 1px dashed #666;
  width: 864px;
  margin-top: 20px;
  padding: 30px 0;
  align-items: center;
}

.go-to-app-title {
  font-size: 14px;
  color: #333;
}

.go-to-app-qr-code-container {
  padding-top: 40px;
  flex-direction: column;
  align-items: center;
}

.go-to-app-qr-code-prompt {
  margin-top: 12px;
  width: 200px;
  text-align: center;
  color: #333;
  font-size: 12px;
}

.go-to-app-prompt-container {
  padding-top: 45px;
  /*width: 400px;*/
  color: #999;
  font-size: 12px;
  list-style: disc;
}


.el-select >>> .el-input__inner {
  -web-kit-appearance: none;
  -moz-appearance: none;
  width: 520px;
  height: 40px;
  line-height: 40px;
  outline: 0;
  opacity: 0.7;
  border: 1px solid #E0E1F4;
  font-size: 12px;
  /*color: #3576F5;*/
  font-size: 16px;
  color: #172A4D;
  letter-spacing: 0;
  margin-right: 12px;
  border: 1px solid rgba(181,188,198,0.50);
  border-radius: 1px;
  /*margin-top: 20px;*/
}

.el-select >>> .el-input__icon{
  color: #C5CFD5;
}

.el-select >>> .el-input__suffix{
  color: #C5CFD5;
  right: 15px;
  top:2px;
}

.el-select >>>  .el-input.is-focus .el-input__inner {
  border-color: #3576F5;
}

.el-select >>>  .el-input .el-select-dropdown__item selected{
  color: #3576F5;
  font-weight: 700;
}

.el-select-dropdown__item.selected {
  color: #3576F5;
  font-weight: 700;
}
.el-select-dropdown {
  width: 520px;
  /*margin-top: 20px;*/
}

.prompt_ttl{
  width: 100%;
  height: 30px;
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #172A4D;
  padding-left: 50px;
  margin-top: 50px;
}

.download-left-download-item-erwma {
  width: 100%;
  /*height: 90px;*/
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: PingFangSC-Regular;
  font-size: 20px;
  color: #000000;
  float: left;
}



.prompt-detaill {
  /*display: block;*/
  /* display: block; */
  width: 100%;
  /*height: 71px;*/
  /*margin: 18px 0 16px 22px;*/
  /*padding: 18px 0 16px 26px;*/
  background: #FFF9F2;
  border: 1px solid #FFC58B;
  padding: 10px;
  ont-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;

}
.prompt-detail2 {
  /*width: 150px;*/
  /*display: inline-block;*/
  /*margin-top: 15px;*/
  /*margin-left: 65px;x*/
  font-family: PingFangSC-Regular;
  color: #8994A5;
}

.image-title {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  margin-top: 10px;
  color: #0D0E23;
}

.automatic-authentication {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 40px;
  font-family: PingFangSC-Regular;
  font-size: 15px;
  color: #172A4D;
}
.qrcode {
  width: 149px;
  height: 149px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 15px;
  background: #FFFFFF;
  border: 1px solid #3576F5;
  border-radius: 2.5px;
  /*display: block;*/
  padding: 10px 10px 10px 10px;
  /*background: url("") no-repeat center;*/
  /*background-size: 100% 100%;*/
  /*border: 1px solid #3576F5;*/
  /*border-radius: 2.5px;*/
  /*margin-top: 20px;*/
}

.pl {
  font-family: PingFangSC-Regular;
  font-size: 15px;
  color: #B5BCC6;
  margin-bottom: 30px;
  text-align: center;
}
