.popWindow-container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
}

.background {
  position: absolute;
  top: 0;
  left: -100%;
  right: -100%;
  bottom: 0;
  background-color: #081724;
  opacity: 0.4;
}

.popup {
  width: 460px;
  /*height: 200px;*/
  background-color: #ffffff;
  position: absolute;
  /*top: 50%;*/
  left: 50%;
  margin-bottom: 200px;
  margin-top: 400px;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 6px;
  box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.05);
  overflow:scroll;

}
.min-popup{
  min-width: 340px;
  /*height: 200px;*/
  background-color: #ffffff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 2px;
  box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.05);
}

.popWindow-title {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: left;
  /*padding-left: 25px;*/
  position: relative;
  background-color: #f2f2f2;
  font-size:18px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  letter-spacing: 2px;
  border-radius: 8px 8px 0 0;
}

.close {
  right: 4%;
  cursor: pointer;
}

/*!*内容*!*/
/*.popWindow-article {*/
/*  text-align: center;*/
/*  font-size: 14px;*/
/*  color: #666;*/
/*  padding: 15px;*/
/*  padding-bottom: 0;*/
/*  position: relative;*/
/*}*/

/*.popWindow-article2 {*/
/*  text-align: center;*/
/*  font-size: 14px;*/
/*  color: #666;*/
/*  padding: 15px;*/
/*  padding-top: 0;*/
/*  position: relative;*/
/*}*/

/*底部*/
.popWindow-footer {
  width: 100%;
  /*padding-bottom: 25px;*/
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

/*过渡状态*/
.popWindow-enter {
  opacity: 0;
}

.popWindow-enter-active {
  transition: all .3s;
}

.popWindow-enter-to {
}

.popWindow-leave {
  opacity: 0;
}

.popWindow-leave-active {
  transition: all .3s;
}

.popWindow-leave-to {
  opacity: 0;
}

/*----------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  .popWindow-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 300;
  }

  .background {
    position: absolute;
    top: 0;
    left: -100%;
    right: -100%;
    bottom: 0;
    background-color: #081724;
    opacity: 0.4;
  }

  .popup {
    width: 280px;
    /*height: 200px;*/
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 8px;
    box-shadow: none;

  }

  .popWindow-title {
    width: 100%;
    height: 54px;
    line-height: 54px;
    text-align: center;
    position: relative;
    background-color: #fff;
    font-size: 16px;
    color: rgba(0,0,0,0.9);
    letter-spacing: 2px;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #e2e2e2;
  }

  .close {
    display: none;
  }

  .popWindow-article {
    text-align: left;
    font-size: 16px;
    color: rgba(0,0,0,0.8);
    padding: 25px;
    min-height: 25px;
    padding-bottom: 0;
    position: relative;
  }

  .popWindow-article2 {
    text-align: left;
    font-size: 12px;
    color: #d83838;
    min-height: 25px;
    padding: 25px;
    padding-top: 0;
    position: relative;
  }

  /*底部*/
  .popWindow-footer {
    border-top: 1px solid #e2e2e2;
    width: 100%;
    height: 54px;
    padding: 7px;
    /*padding-bottom: 25px;*/
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }

  .popWindow-footer-mobile {
    border-top:0;
  }



}

