.popup-prompt-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.popup-prompt-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #081724;
  opacity: 0.3;
}

.prompt-detail-1 {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  /*padding:0 15px;*/
  padding: 0 40px;
  width: auto;
  min-height: 40px;
  border-radius: 1px;
  border-left: 4px solid #86CB12;
  box-shadow:0px 4px 14px -2px rgba(0,0,0,0.1);
}

/*登录*/
.prompt-detail {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  /*padding:0 15px;*/
  padding: 0 40px;
  width: auto;
  min-height: 40px;
  border-radius: 1px;
  border-left: 4px solid #F60076;
  box-shadow:0px 4px 14px -2px rgba(0,0,0,0.1);
}

.prompt-detail-h {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  color: #0D0E23;
  /*padding:0 15px;*/
  padding: 0 40px;
  width: auto;
  min-height: 40px;
  border-radius: 1px;
  /*border-left: 4px solid #F60076;*/
  box-shadow:0px 4px 14px -2px rgba(0,0,0,0.1);
}
.prompt-detail-j {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  /*padding:0 15px;*/
  padding: 0 40px;
  width: auto;
  min-height: 40px;
  border-radius: 1px;
  /*border-left: 4px solid #F60076;*/
  box-shadow:0px 4px 14px -2px rgba(0,0,0,0.1);
}

/*登录*/
.prompt-detail-s {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  /*padding:0 15px;*/
  padding: 0 40px;
  width: auto;
  min-height: 74px;
  border-radius: 1px;
  box-shadow:0px 4px 14px -2px rgba(0,0,0,0.1);
}

.span-w4 {
  display: inline-block;
  width:4px;
  height:40px;
  background:#F60076;
}

.prompt-loading{
  min-width: 120px;
}
.prompt-loading-s{
  min-width: 74px;
  min-height: 74px;
}

/*弹窗图片*/
.prompt-detail-img {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
.pop-prp-text-gr {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#86CB12;
}
.pop-prp-text {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#F60076;
}
/*背景过渡状态*/
.background-enter {
  opacity: 0;
}

.background-enter .trans {
  top: 46%;
  opacity: 0;
}

.background-enter-active {
  transition: all .1s;
}

.background-enter-active .trans {
  transition: all 0.2s;
}

.background-enter-to {
}

.background-leave {
  opacity: 0;
}

.background-leave-to .trans {
  top: 44%;
  opacity: 0;
}

.background-leave-active {
  transition: all .2s;
}

.background-leave-active .trans {
  transition: all 0.3s;
}

.background-leave-to {
  opacity: 0;
}

/*----------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  .prompt-detail-1 {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    /*padding:0 15px;*/
    /*background-color: transparent;*/
    width: auto;
    min-height: 40px;
    border-radius: 1px;
    max-width: 168px;
    padding: 0;
    /*height:60px;*/
    background:rgba(242,253,250,1);
    box-shadow:0px 4px 14px -2px rgba(0,0,0,0.1);
  }

  .prompt-detail {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    /*padding:0 15px;*/
    /*background-color: transparent;*/
    width: auto;
    min-height: 40px;
    border-radius: 1px;
    min-width: 134px;
    max-width: 168px;
    padding: 0;
    /*height:60px;*/
    background:rgba(254,248,248,1);
    box-shadow:0px 4px 14px -2px rgba(0,0,0,0.1);
  }

  .prompt-detail-mobile {
    /*max-width: 320px;*/
    display: flex;
    margin: 0 auto;
    /*white-space: nowrap;*/
    word-wrap: break-word;
    background-color: #fff;
    /*overflow: hidden;*/
    min-height: 40px;
    min-width: 134px;
    border-radius: 1px;
    padding: 5px 20px;
  }

  .prompt-detail-mobile-1 {
   width: 74px;
    height: 74px;
    display: flex;
    margin: 0 auto;
    /*white-space: nowrap;*/
    word-wrap: break-word;
    background-color: #fff;
    /*overflow: hidden;*/
    /*min-height: 40px;*/
    /*min-width: 100px;*/
    border-radius: 6px;
    padding: 5px 20px;
  }

  /*弹窗图片*/
  .prompt-detail-img {
    margin-right: 10px;
    display: block;
    width: 16px;
  }

  .prompt-detail-text-error {
    font-size:12px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:#F60076;
  }
}



