/*找回密码container*/
.register-container {
  display: block;
  height: auto;
  width: 100%;
  /*padding: 100px 0;*/
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #333;
}

/*placeholder样式*/
.register-container input::placeholder {
  color: #bfbfbf;
}

.register-container input::-moz-placeholder {
  color: #bfbfbf;
}

.register-container input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.register-container input:-ms-input-placeholder {
  color: #bfbfbf;
}

/*外层container*/
.all-container {
  width: 50%;
  /*height: 600px;*/
  margin: 20px auto 0;
  padding: 0 105px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
}

/*--------------- 标题 begin ----------------*/

/*标题*/
.unit-title {
  flex-direction: row;
  width: 100%;
  font-size: 2.0rem;
  /*height: 110px;*/
  color: #7b7b7b;
  padding: 30px 0 0;
}

.unit-title-pc {
  flex-direction: row;
  width: 100%;
  padding: 30px 0 0;
  text-align: center;
  font-family: PingFangSC-Regular;
  font-size: 26px;
  color: #172A4D;
}

/*标题的横线*/
.unit-title-line {
  display: inline-block;
  height: 1px;
  background-color: #e5e5e5;
  width: 30%;
}

/*标题的title*/
.unit-title-text {
  white-space: nowrap;
  display: inline-block;
  padding: 0 10px;
  text-align: left;
  font-family: PingFangSC-Medium;
  font-size: 26px;
  color: #CFD3E9;
  margin-left: 20px;
}

/*--------------- 标题 end ----------------*/

/*输入内容container*/
.unit-container {
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
}
/*浏览器自动填充样式*/
.unit-container input{
  box-shadow: 0 0 0px 100px #ffffff inset !important;/*Chrome*/
  filter: none;/*Firefox*/
}
.unit-container input:-webkit-autofill{
  -webkit-text-fill-color: #0D0E23;
}

/*Input板块*/
.unit-input-container {
  width: 87.5%;
  height: 44px;
  border-bottom: 1px solid #223349;
  border-radius: 2px;
}
.area-wrap{
  align-items: center;
  width: 5.5rem;
  padding:0 auto;
}
.area-code-text{
  font-size: 15px;
  color: #CFD3E9;
  /*margin-left: 0.5rem;*/
  margin-right: 0.2rem;
}
.iphone-kuang {
  width: 87.5%;
  height: 40px;
  /*margin-bottom: 20px;*/
  /*border: 1px solid #C5CFD5;*/
  border-radius: 4px;
}

.unit-input-container-pc {
  width: 380px;
  height: 56px;
  border-bottom: 1px solid #E0E1F4;
  /* border-radius: 2px;*/
  /*padding-top: 22px;*/
}

.input-phone-pc {
  display: inline-block;
  padding-left: 20px;
  flex:1;
  /*width: 63.8%;*/
  height: 38.8px;
  border: 1px solid #C5CFD5;
  border-radius: 4px;
}

.el-select-dropdown {
  width: 90px;
}

.inputInner {
  display: inline-block;
  width: 380px;
  height: 99%;
}

.inputInner >>> .el-input__inner {
  margin-top: 7px;
  -webkit-appearance: none;
  background-color: #FFF;
  background-image: none;
  /* border-radius: 4px; */
  border: 0px solid #DCDFE6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 20px;
  line-height: 20px;
  outline: 0;
  padding: 0 0px;
  -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 100%;
}

.inputInner >>> .el-input__icon {
  line-height: 20px;
}

.inputInner >>> .el-select__caret {
  color: #3576F5;
}
.inputInner >>> .el-input input::placeholder {
  color: #A2B5D9;
}

.inputInner >>> .el-input input::-moz-placeholder {
  color: #A2B5D9;
}

.inputInner >>> .el-input input::-webkit-input-placeholder {
  color: #A2B5D9;
}

.inputInner >>> .el-input input:-ms-input-placeholder {
  color: #A2B5D9;
}

.self-el-select ul li.el-select-dropdown__item.selected {
  color: #3576F5;
  background-color:rgba(53,118,245, 0.08);
  /*opacity: 0.08;*/
}
.self-el-select ul li.el-select-dropdown__item.hover, .self-el-select ul li.el-select-dropdown__item:hover {
  background-color:rgba(53,118,245, 0.08);
}

.inputsize {
  width: 360px;
  height: 40px;
  margin: 6px 10px;
  padding-left: 10px;
  font-size: 14px;
  color: #172A4D;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #E0E1F4;
}

/*Input标题*/
.unit-input-container-title {
  width: 12%;
  height: 100%;
  box-sizing: border-box;
}

/*Input标签*/
.unit-input {
  border: 0 solid transparent;
  width: 380px;
  height: 34px;
  /* height: 22px; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 2px;
  /* margin: auto; */
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #0D0E23;
  line-height: 20px;
}


.unit-input-container-pc input::-webkit-input-placeholder{
  /* WebKit browsers */
  font-size:14px;
  color:#A2B5D9;
}
.unit-input-container-pc input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size:14px;
  color:#A2B5D9;
}
.unit-input-container-pc input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size:14px;
  color:#A2B5D9;
}
.unit-input-container-pc input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-size:14px;
  color:#A2B5D9;
}
.el-scrollbar__view input::-webkit-input-placeholder{
  /* WebKit browsers */
  font-size:14px;
  color:#A2B5D9;
}
.el-scrollbar__view input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size:14px;
  color:#A2B5D9;
}
.el-scrollbar__view input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size:14px;
  color:#A2B5D9;
}
.el-scrollbar__view input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-size:14px;
  color:#A2B5D9;
}

.unit-input-mobile{

}

/*间隔*/
.unit-input-interval {
  height: 25px;
  line-height: 25px;
  width: 380px;
  text-align: left;
  /*padding: 5px 0;*/
  /*padding-left: 12%;*/
}

.double-input-container {
  width: 100%;
  height: 33px;
}
/*获取手机验证码*/
.double-input-container > span:nth-of-type(2) {
  width: 30%;
  height: 99%;
  box-sizing: border-box;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #3576F5;
  justify-content: flex-end;
  line-height: 12px;
  /*border-left: 1px solid #C5CFD5;*/
  /*background-color: white !important;*/
}

/*获取手机验证码的input*/
.double-input-container > input {
  border: 0 solid transparent;
  width: 70%;
  height: 99%;
  box-sizing: border-box;
  border-radius: 5px;
}

/*确定按钮*/
.container-button {
  border: 0;
  padding-top: 5px;
}

.set-button {
  cursor: pointer;
  width:380px;
  height:44px;
  outline: none;
  letter-spacing: 1px;
  border: 0;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  line-height: 16px;

  background:linear-gradient(270deg,rgba(53,118,245,1) 0%,rgba(69,154,245,1) 100%);
  box-shadow:0px 10px 12px -6px rgba(0,2,40,0.2);
  border-radius:1px;
}

.set-button:hover {
  background: #5C93FF;
  box-shadow:none;
}

.verifying-slider {
  /*border: 1px solid #e5e5e5;*/
  border:0 solid transparent;
  display: block;
  position: relative;

}

.verifying-slider-interval {
  border: 0 solid transparent !important;
}

.can-not-withdrawals {
  width: 87.5%;
  border: 0;
}

.double-input-container .identifying-code-button-on {
  /*background-color: #25ced9;*/
}

.double-input-container .identifying-code-button-close {
  /*background-color: #cccccc !important;*/
}

/*同意协议*/
.agreement {
  font-size: 1.4rem;
  color: #666666;
  height: 25px;
  border: 0;
  position: relative;
  padding: 0;
}

.agreement img{
  cursor: pointer;
  /*margin-top: 3px;*/
  width: 14px;
  vertical-align: middle;
  margin-bottom: 3px;
}

.agreement img.select-img{
  background-color: #ffffff;
}

.agreement label{
  cursor: pointer;
}

.color-input-red +label{
  display: block;
  width: 14px;
  height: 14px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 0px;
  background: #3576F5;
  z-index: 9999;
}

.color-input-red:checked +label::before{
   display: block;
   content: "\2714";
   text-align: center;
   font-size: 16px;
   color: white;
}


.agreement-detail {
  color: #3576F5;
}

.registering-button, .registering-button:hover{
  cursor: unset;
  background: #5C93FF;
  box-shadow:none;
}

.before-register-button {
  cursor: pointer;
}

/*已经注册*/
.already-register {
  border: 0;
  justify-content: flex-start;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #172A4D;
  line-height: 14px;
}

.already-register a {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #3576F5;
  line-height: 14px;
}

.wrong-answer {
  border-bottom: 1px solid #FD5555;
}
/*选择登录方式*/
.choose-login-type-container {
  justify-content: center;
  width: 380px;
  margin: 0 auto 20px;
  height: 53px;
  border-bottom: solid 1px #E0E1F4;
}

.login-type-container {
  width: 190px;
  /* height: 40px; */
  text-align: center;
  font-size: 14px;
  /* margin-top: 45px; */
  line-height: 52px;
  height: 52px;
  -webkit-box-sizing: content-box;
  /* box-sizing: content-box; */
  color: #A2B5D9;
}

.login-type-container-left {
  border-bottom: 1px solid #E7EBEE;
}

.login-type-container-right {
  border-bottom: 1px solid #E7EBEE;
}

.login-type-select-container {
  color: #3576F5;
  border-color: #3576F5;
}

/*----------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  .body {
    min-width: 100%;
  }

  /*container*/
  .register-container {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    background: #131F30;
  }

  /*placeholder样式*/
  .register-container input::placeholder {
    color: #bfbfbf;
  }

  .register-container input::-moz-placeholder {
    color: #bfbfbf;
  }

  .register-container input::-webkit-input-placeholder {
    color: #bfbfbf;
  }

  .register-container input:-ms-input-placeholder {
    color: #bfbfbf;
  }

  /*外层container*/
  .all-container {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #131F30;
    height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  /*标题*/
  .unit-title {
    flex-direction: row;
    width: 100%;
    font-size: 0.36rem;
    /*height: 110px;*/
    color: #fff;
    height: 1.8rem;
  }

  /*标题的横线*/
  .unit-title > span:nth-of-type(1), .unit-title > span:nth-of-type(3) {
    display: block;
    height: 1px;
    /*background-color: rgba(255, 255, 255, 0.4);*/
    width: 1.2rem;
  }

  /*标题的title*/
  .unit-title > span:nth-of-type(2) {
    width: 32%;
    white-space: nowrap;
    display: block;
    text-align: center;
  }

  /*输入内容container*/
  .unit-container {
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    padding-bottom: 30px;
  }
  /*浏览器自动填充样式*/
  .unit-container input{
    box-shadow: 0 0 0px 100px #131F30 inset !important;/*Chrome*/
    /*filter: none;!*Firefox*!*/
  }

  .unit-container input:-webkit-autofill{
    -webkit-text-fill-color: #CFD3E9;
  }

  /*Input板块*/
  .unit-input-container {
    width: 6.7rem;
    height: 0.8rem;
    border-bottom: 1px solid #3E536C;
    justify-content: space-between
    /*border-radius: 4px;*/
    /*background: #131F30;*/
    /*color: #000;*/
  }
  .unit-input-container input::-webkit-input-placeholder {
    /* WebKit browsers */
    color:#3E536C;
    /*color:#fff227;*/
    font-size:0.32rem;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
  }

  .unit-input-container input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color:#3E536C;
    font-size:0.32rem;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
  }
  .unit-input-container input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color:#3E536C;
    font-size:0.32rem;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
  }
  .unit-input-container input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color:#3E536C;
    font-size:0.32rem;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
  }

  /*Input前图片*/
  .unit-input-container-title-img {
    width: 0.45rem;
  }

  .unit-input-container.agreement {
    background: transparent;
  }

  .unit-input-container.already-register {
    background: transparent;
    color: #999999;
  }

  /*Input标题*/
  .unit-input-container-title {
    width: 1rem;
    height: 100%;
    box-sizing: border-box;
  }

  /*Input标签*/
  .unit-input {
    border: 0 solid transparent;
    width: 5.7rem;
    height: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    background: transparent;
    color: #CFD3E9;
  }


  /*.unit-input::-webkit-input-placeholder {*/
  /*  !* WebKit browsers *!*/
  /*  font-size:14px;*/
  /*  color:red;*/
  /*}*/
  /*.unit-input:-moz-placeholder {*/
  /*  !* Mozilla Firefox 4 to 18 *!*/
  /*  font-size:14px;*/
  /*  color:red;*/
  /*}*/
  /*.unit-input::-moz-placeholder {*/
  /*  !* Mozilla Firefox 19+ *!*/
  /*  font-size:14px;*/
  /*  color:red;*/
  /*}*/
  /*.unit-input:-ms-input-placeholder {*/
  /*  !* Internet Explorer 10+ *!*/
  /*  font-size:14px;*/
  /*  color:red;*/
  /*}*/

  /*.unit-input::-webkit-input-placeholder {*/
    /*!* WebKit browsers *!*/
    /*!*padding-left:30px;*!*/
    /*opacity:0.5;*/
    /*font-family: PingFangSC-Regular;*/
    /*font-size: 16px;*/
    /*color: #3E536C;*/
  /*}*/

  .unit-input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    font-size:26px;
    color:#000000;
  }
  .unit-input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size:26px;
    color:#000000;
  }
  .unit-input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    font-size:26px;
    color:#000000;
  }

  .double-input-container  .getcodeval{
    /*width: 23%;*/
    flex: 1;
    height: 24px;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color:  #3576F5;
    text-align: right;
    line-height: 12px;
    margin-top: 15px;
  }

  /*间隔*/
  .unit-input-interval {
    height: 0.4rem;
    line-height: 0.4rem;
    width: 6.7rem;
    text-align: left;
    padding: 0;
    font-family: PingFangSC-Regular;
    font-size: 0.24rem;
    color: #F60076;
  }

  /*获取手机验证码*/
  .double-input-container > span:nth-of-type(2) {
    width: 1.5rem;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent !important;
    border-radius: 0 4px 4px 0;
    color: #3576F5;
    cursor: pointer;
  }

  .button-hover:hover {
    background-color: #000!important;
    color: #3576F5!important;
  }

  /*获取手机验证码的input*/
  .double-input-container > input {
    border: 0 solid transparent;
    width: 4rem;
    height: 100%;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .cutter-line {
    color: #274868;
    height: 100%;
  }

  /*确定按钮*/
  .container-button {
    border: 0;
    padding: 0;
    height: 0.88rem
  }

  .set-button {
    width: 100%;
    height: 0.88rem;
    /*background: #3E536C;*/
    border-radius: 2px;
    color: #ffffff;
    letter-spacing: 8px;
    border: 0;
    font-family: PingFangSC-Semibold;
    font-size: 15px;
    text-align: center;
  }

  .set-button:hover {
    /*background-color: #3E536C!important;*/
    /*color: #fff!important;*/
  }

  .verifying-slider {
    /*border: 1px solid #e5e5e5;*/
    border: none;
  }

  .verifying-slider-interval {
    border: 0 solid transparent !important;
  }

  .can-not-withdrawals {
    width: 87.5%;
    border: 0;
  }

  .double-input-container .identifying-code-button-on {
    background-color: transparent;
  }

  .double-input-container .identifying-code-button-close {
    background-color: transparent !important;
  }

  /*同意协议*/
  .agreement {
    font-size: 0.28rem;
    color: #CFD3E9;
    height: 0.4rem;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .agreement-detail {
    color: #3576F5;
  }

  .registering-button {
    background-color: #3576F5;
  }

  .before-register-button {
    cursor: pointer;
  }

  /*已经注册*/
  .already-register {
    font-size: 0.28rem;
    color: #666666;
    border: 0;
  }

  .already-register a {
    color: #3576F5;
  }

  .wrong-answer {
    border-bottom: 1px solid #F60076;
  }
  .mobile-choose-login-type-box {
    /*width: 280px;*/
    height: 1.28rem;
    margin: 0 auto 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .mobile-choose-login-type-item {
    height: 1.28rem;
    /*width: 100px;*/
    background: transparent;
    text-align: center;
    line-height: 1.28rem;
    position: relative;
    color: #3E536C;

    border-bottom: 2px solid transparent;

    font-size: 0.4rem;
    font-family: PingFangSC-Medium,PingFang SC;
    font-weight: 500;
  }

  .mobile-choose-login-type-item:nth-child(1){
    margin-right: 1.4rem;
  }

  .mobile-choose-login-type-item-activity {
    color: #CFD3E9;
    /*font-size: 24px;*/
    border-bottom: 0.08rem solid #3576F5;
  }

  /*.mobile-choose-login-type-item-activity::after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*height: 5px;*/
    /*left: 0;*/
    /*right: 0;*/
    /*background: url("") center center;*/
    /*background-size: contain;*/
  /*}*/

}
