/*重置密码container*/
.ResetPsw-container {
  display: block;
  height: auto;
  width: 100%;
  padding: 100px 0;
}

/*placeholder样式*/
.ResetPsw-container input::placeholder {
  color: #bfbfbf;
}

.ResetPsw-container input::-moz-placeholder {
  color: #bfbfbf;
}

.ResetPsw-container input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.ResetPsw-container input:-ms-input-placeholder {
  color: #bfbfbf;
}

/*外层container*/
.all-container {
  width: 50%;
  /*height: 550px;*/
  margin: 0 auto;
  padding: 0 105px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
}
.btn_blue {
  width: 28%;
  color: #ffffff;
}

/*--------------- 标题 begin ----------------*/

/*标题*/
.unit-title {
  flex-direction: row;
  width: 100%;
  font-size: 2.0rem;
  /*height: 110px;*/
  color: #7b7b7b;
  padding: 30px 0;
}

/*标题的横线*/
.unit-title-line {
  display: inline-block;
  height: 1px;
  background-color: #e5e5e5;
  width: 30%;
}

/*标题的title*/
.unit-title-text {
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  padding: 0 10px;
}

/*--------------- 标题 end ----------------*/

/*输入内容container*/
.unit-container {
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  padding-bottom: 30px;
}

/*Input板块*/
.unit-input-container {
  width: 87.5%;
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.verifying-slider {
  border: none;
}

/*Input标题*/
.unit-input-container-title {
  width: 12%;
  height: 100%;
  box-sizing: border-box;
}

/*Input标签*/
.unit-input {
  border: 0 solid transparent;
  width: 88%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  margin: auto;
  text-align: center;
}

/*标题图标*/
.input-icon {
  background: url("../../assets/sign/sign-icon.png");
  display: block;
  background-repeat: no-repeat;
}

.psw-icon {
  background-position: -20px -20px;
  width: 18px;
  height: 24px;
}

.ga-icon {
  background-position: -100px -20px;
  width: 20px;
  height: 20px;
}

.mobile-icon {
  background-position: -140px -20px;
  width: 17px;
  height: 25px;
}

.email-icon {
  background-position: -60px -60px;
  width: 20px;
  height: 16px;
}


/*------------------ 间隔 begin ------------------*/

.unit-input-interval {
  height: 20px;
  line-height: 20px;
  width: 80%;
  text-align: left;
  /*padding: 5px 0;*/
  padding-left: 12%;
  /*color: red;*/
}

/*------------------ 间隔 end ------------------*/

/*获取手机验证码*/
.double-input-container > span:nth-of-type(2) {
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  background-color: #25ced9;
  border-radius: 0 5px 5px 0;
  color: #ffffff;
  cursor: pointer;
}

/*获取手机验证码的input*/
.double-input-container > input {
  border: 0 solid transparent;
  width: 68%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}

/*确定按钮*/
.container-button {
  border: 0;
}

.set-button {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  background-color: #25ced6;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 10px;
  border: 0;
}

.wrong-msg {
  border: 1px solid #FD5555;
}

.pick-one-type {
  border: 0;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -webkit-align-items: center;
}

/*验证码发送中*/
.identifying-code-button-close {
  width: 28%;
  background-color: #cccccc !important;
}

/*----------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  /*重置密码container*/
  .ResetPsw-container {
    padding: 0;
    /*color: #fff;*/
  }

  /*placeholder样式*/
  .ResetPsw-container input::placeholder {
    color: rgba(255,255,255,0.4)
  }

  .ResetPsw-container input::-moz-placeholder {
    color: rgba(255,255,255,0.4)
  }

  .ResetPsw-container input::-webkit-input-placeholder {
    color: rgba(255,255,255,0.4)
  }

  .ResetPsw-container input:-ms-input-placeholder {
    color: rgba(255,255,255,0.4)
  }

  /*标题*/
  .unit-title {
    flex-direction: row;
    width: 100%;
    font-size: 0.36rem;
    /*height: 110px;*/
    color: #fff;
    height: 1.9rem;
  }

  /*标题的横线*/
  .unit-title > span:nth-of-type(1), .unit-title > span:nth-of-type(3) {
    display: block;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 1.2rem;
  }

  /*标题的title*/
  .unit-title > span:nth-of-type(2) {
    width: 32%;
    white-space: nowrap;
    display: block;
    text-align: center;
  }

  /*Input板块*/
  .unit-input-container {
    /* width: 87.5%; */
    /*width: 6.5rem;*/
    /*height: 60px;*/
    /*border: none;*/
    /*border-bottom: 1px solid #1B1A1E;*/
    /*border-radius: 0px;*/
    /*background: transparent;*/
    /*margin: 0 auto;*/

    background: transparent;
    margin: 25px auto 0px;
    width: 6.5rem;
    height: 40px;
    border: 1px solid #303031;
    border-radius: 4px;
    background: #131F30;
    color: #000;
  }
  .unit-input-container-verify{
    margin-top: 0;
  }

  .unit-btn-container {
    width: 6.5rem;
    height: 44px;
    border: none;
    border-bottom: 1px solid #1B1A1E;
    border-radius: 0px;
    background: transparent;
    margin: 25px auto 0;
  }

  .unit-input-container-activity {
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.6);*/
  }

  /*Input前图片*/
  .unit-input-container-title-img {
    width: 0.45rem;
  }

  .unit-input-container-title-img-password {
    width: 0.32rem;
  }

  .unit-input-container-title-img-confirm-password {
    width: 0.32rem;
  }

  .unit-input-container-title-img-google {
    width: 0.44rem;
  }

  .unit-input-container-title-img-mobile {
    width: 0.32rem;
  }

  .unit-input-container-title-img-mail {
    width: 0.40rem;
  }

  /*Input标题*/
  .unit-input-container-title {
    width: 1rem;
    height: 100%;
    box-sizing: border-box;
  }

  /*Input标签*/
  .unit-input {
    border: 0 solid transparent;
    width: 5.5rem;
    height: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    background: transparent;
    color: #fff;
    font-size: 15px;
  }

  /*------------------ 间隔 begin ------------------*/
  .unit-input-interval {
    height: 20px;
    width: 6.5rem;
    text-align: left;
    color: #f93943;
    margin: 0.1rem auto;
    padding: 0;
    padding-left: 1rem;
  }

  /*------------------ 间隔 end ------------------*/
  /*获取手机验证码*/
  .double-input-container > span:nth-of-type(2) {
    width: 2rem;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 0 4px 4px 0;
    color: #3576F5;
    cursor: pointer;
  }

  /*获取手机验证码的input*/
  .double-input-container > input {
    border: 0 solid transparent;
    width: 3.5rem;
    height: 100%;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .cutter-line {
    color: #233e5c;
    height: 100%;
  }

  .verify-msg {
    color: #000 !important;
  }

  .wrong-answer {
    border: 1px solid red;
  }

  .set-button {
    width: 100%;
    height: 100%;
    font-size: 0.28rem;
    background-color: #3576F5;
    color: #ffffff;
    border-radius: 4px;
    letter-spacing: 10px;
    border: 0;
  }

  /*验证码发送中*/
  .identifying-code-button-on {
    background-color: transparent !important;
    /*justify-content: flex-end;*/
    font-size: 13px;
  }

  .identifying-code-button-close {
    background-color: transparent !important;
    font-size: 13px;
  }

  .pick-one-type {
    color: #fff;
    margin-bottom: 20px;
  }

  .pick-one-type input {
    margin-top: 3px;
    vertical-align: top;
  }

  .unit-select-container {
    width: 6.5rem;
    height: 40px;
    border: none;
    border-radius: 0px;
    background: transparent;
    margin: 0 auto 0;
  }

  .select-type-item {
    display: flex;
    align-items: center;
  }

}


