/*找回密码container*/
.FBPassword-container {
  display: block;
  height: auto;
  width: 100%;
  padding: 100px 0;
}

/*placeholder样式*/
.FBPassword-container input::placeholder {
  color: #bfbfbf;
}

.FBPassword-container input::-moz-placeholder {
  color: #bfbfbf;
}

.FBPassword-container input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.FBPassword-container input:-ms-input-placeholder {
  color: #bfbfbf;
}

/*外层container*/
.all-container {
  width: 46.875%;
  /*height: 550px;*/
  margin: 0 auto;
  padding: 0 105px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
}

/*--------------- 标题 begin ----------------*/

/*标题*/
.unit-title {
  flex-direction: row;
  width: 100%;
  font-size: 2.0rem;
  /*height: 110px;*/
  color: #7b7b7b;
  padding: 30px 0;
}

/*标题的横线*/
.unit-title-line {
  display: inline-block;
  height: 1px;
  background-color: #e5e5e5;
  width: 30%;
}

/*标题的title*/
.unit-title-text {
  white-space: nowrap;
  display: inline-block;
  padding: 0 10px;
  font-family: PingFangSC-Regular;
  font-size: 26px;
  color: #172A4D;
  text-align: center;
}

/*--------------- 标题 end ----------------*/

/*输入内容container*/
.unit-container {
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  padding-top: 10px;
  padding-bottom: 30px;
}

/*Input板块*/
.unit-input-container {
  width: 87.5%;
  height: 44px;
  border: 1px solid #C5CFD5;
  border-radius: 2px;
}

/*Input标题*/
.unit-input-container-title {
  width: 12%;
  height: 100%;
  box-sizing: border-box;
}

/*Input标签*/
.unit-input {
  border: 0 solid transparent;
  width: 88%;
  height: 99%;
  box-sizing: border-box;
  border-radius: 5px;
  margin: auto;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #B5BCC6;
  line-height: 12px;
}

/*标题图标*/
.input-icon {
  background: url("../../assets/sign/sign-icon.png");
  display: block;
  background-repeat: no-repeat;
}

.mobile-icon {
  background-position: -140px -20px;
  width: 17px;
  height: 25px;
}

.verify-icon {
  background-position: -20px -60px;
  width: 20px;
  height: 25px;
}

.email-icon {
  background-position: -60px -60px;
  width: 20px;
  height: 16px;
}

/*------------------ 间隔 begin ------------------*/

.unit-input-interval {
  height: 20px;
  line-height: 20px;
  width: 80%;
  text-align: left;
  padding-left: 12%;
}

/*------------------ 间隔 end ------------------*/

/*获取手机验证码*/
.double-input-container > span:nth-of-type(2) {
  width: 30%;
  /*height: 40%;*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*border-radius: 0 5px 5px 0;*/
  cursor: pointer;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #C43E4E;
  text-align: right;
  line-height: 12px;
  border-left: 1px solid #B5BCC6;
  /*margin-top: 12px;*/
}

/*获取手机验证码的input*/
.double-input-container > input {
  border: 0 solid transparent;
  width: 58%;
  height: 99%;
  box-sizing: border-box;
  border-radius: 5px;
}

/*确定按钮*/
.container-button {
  border: 0;
}

.set-button {
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  border: 0;
  background: #C43E4E;
  border-radius: 2px;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
}

.verifying-slider {
  border: none;
}

.can-not-withdrawals {
  width: 95%;
  border: 0;
}

.can-not-withdrawals span{
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #172A4D;
  text-align: center;
  line-height: 14px;
}

.wrong-msg {
  border: 1px solid #FD5555;
}

/*验证码发送中*/
.identifying-code-button-close {
  background-color: #cccccc !important;
}

/*选择登录方式*/
.choose-login-type-container {
  justify-content: center;
  width: 87.5%;
  margin: 0 auto;
}

.login-type-container {
  flex: 1;
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 20px;
  line-height: 36px;
  height: 36px;
  box-sizing: content-box;
  color: #666666;
}

.login-type-container-left {
  border: 1px solid #D7D7D7;
  border-right: 0 solid transparent;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.login-type-container-right {
  border: 1px solid #D7D7D7;
  border-left: 0 solid transparent;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.login-type-select-container {
  background: #C43E4E;
  color: white;
  border-color: #C43E4E;
}

/*----------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  .FBPassword-container {
    width: 100%;
    padding: 0;
  }

  /*placeholder样式*/
  .FBPassword-container input::placeholder {
    color: rgba(255,255,255,0.4)
  }

  .FBPassword-container input::-moz-placeholder {
    color: rgba(255,255,255,0.4)
  }

  .FBPassword-container input::-webkit-input-placeholder {
    color: rgba(255,255,255,0.4)
  }

  .FBPassword-container input:-ms-input-placeholder {
    color: rgba(255,255,255,0.4)
  }

  /*标题*/
  .unit-title {
    flex-direction: row;
    width: 100%;
    font-size: 0.36rem;
    color: #fff;
    height: 1.9rem;
  }

  /*标题的横线*/
  .unit-title > span:nth-of-type(1), .unit-title > span:nth-of-type(3) {
    display: block;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 1.2rem;
  }

  /*标题的title*/
  .unit-title > span:nth-of-type(2) {
    width: 32%;
    white-space: nowrap;
    display: block;
    text-align: center;
  }

  /*输入内容container*/
  .unit-container {
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    padding-bottom: 30px;
  }



  /*Input板块*/
  .unit-input-container {
    /* width: 87.5%; */
    /*width: 6.5rem;*/
    /*height: 60px;*/
    /*border: none;*/
    /*border-bottom: 1px solid #1B1A1E;*/
    /*border-radius: 0px;*/
    /*background: transparent;*/
    background: transparent;
    margin: 25px auto 0px;
    width: 6.5rem;
    height: 40px;
    border: 1px solid #303031;
    border-radius: 4px;
    background: #131F30;
    color: #000;
  }

  .unit-btn-container {
    width: 6.5rem;
    height: 44px;
    border: none;
    border-bottom: 1px solid #1B1A1E;
    border-radius: 0px;
    background: transparent;
    margin: 25px auto 0;
  }

  .unit-input-container-activity {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  }

  /*Input前图片*/
  .unit-input-container-title-img {
    width: 0.45rem;
  }

  /*Input前图片*/
  .unit-input-container-title-img-mobile {
    width: 0.32rem;
  }

  .unit-input-container-title-img-email {
    width: 0.4rem;
  }

  .unit-input-container-title-img-verification {
    width: 0.36rem;
  }

  /*Input标题*/
  .unit-input-container-title {
    width: 1rem;
    height: 100%;
    box-sizing: border-box;
  }

  /*Input标签*/
  .unit-input {
    border: 0 solid transparent;
    width: 5.5rem;
    height: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    background: transparent;
    color: #fff;
    font-size: 15px;
  }

  /*间隔*/
  .unit-input-interval {
    height: 20px;
    width: 6.5rem;
    text-align: left;
    color: #f93943;
    margin: 0.1rem auto;
    padding: 0;
    padding-left: 1rem;
  }

  /*获取手机验证码*/
  .double-input-container > span:nth-of-type(2) {
    width: 2rem;
    height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 0 4px 4px 0;
    /*color: #C43E4E;*/
    cursor: pointer;
    text-align: right;
    font-size: 13px;
  }

  /*获取手机验证码的input*/
  .double-input-container > input {
    border: 0 solid transparent;
    width: 3.5rem;
    height: 100%;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .cutter-line {
    color: #233e5c;
    height: 100%;
  }

  .verify-msg {
    color: #000 !important;
  }

  .wrong-answer {
    border: 1px solid red;
  }

  .set-button {
    width: 100%;
    height: 100%;
    font-size: 0.28rem;
    background-color: #C43E4E;
    color: #ffffff;
    border-radius: 5px;
    letter-spacing: 10px;
    border: 0;
  }

  .double-input-container .identifying-code-button-on {
    background-color: transparent;
    /*justify-content: flex-end;*/
    color: #C43E4E !important;
  }

  .double-input-container .identifying-code-button-close {
    background-color: transparent !important;
    color: #C43E4E !important;
  }

  .mobile-choose-login-type-box {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background: #1B1A1E;
  }

  .mobile-choose-login-type-item {
    height: 40px;
    width: 100px;
    background: transparent;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    position: relative;
  }

  .mobile-choose-login-type-item-activity {
    color: #C43E4E;
  }

  .mobile-choose-login-type-item-activity::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    left: 0;
    right: 0;
    background: #C43E4E;
    background-size: contain;
  }


  .codeinfo{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #C43E4E;
    text-align: right;
    line-height: 12px;
  }
}
