/*重置密码container*/
.Verification-container {
  display: block;
  height: auto;
  width: 100%;
  padding: 100px 0;
}

/*重置密码container*/
.Verification-container-pop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*z-index: 9990;*/
}

/*placeholder样式*/
.Verification-container input::placeholder {
  color: #bfbfbf;
}

.Verification-container input::-moz-placeholder {
  color: #bfbfbf;
}

.Verification-container input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.Verification-container input:-ms-input-placeholder {
  color: #bfbfbf;
}

/*外层container*/
.all-container {
  width: 46.875%;
  /*height: 400px;*/
  margin: 0 auto;
  padding: 0 105px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
}

/*--------------- 标题 begin ----------------*/

/*标题*/
.unit-title {
  flex-direction: row;
  width: 100%;
  font-size: 2.0rem;
  /*height: 110px;*/
  color: #7b7b7b;
  padding: 30px 0;
}

/*标题的横线*/
.unit-title-line {
  display: inline-block;
  height: 1px;
  background-color: #e5e5e5;
  width: 30%;
}

/*标题的title*/
.unit-title-text {
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  padding: 0 10px;
}

/*--------------- 标题 end ----------------*/

/*输入内容container*/
.unit-container {
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  padding-bottom: 30px;
}

/*Input板块*/
.unit-input-container {
  width: 87.5%;
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

/*Input标题*/
.unit-input-container-title {
  width: 12%;
  height: 100%;
  box-sizing: border-box;
}

/*Input标签*/
.unit-input {
  margin: auto;
  border: 0 solid transparent;
  width: 88%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
}

.unit-input:focus::-webkit-input-placeholder { color:transparent; }
/* Mozilla Firefox 4 to 18 */
.unit-input:focus:-moz-placeholder { color:transparent; }

/* Mozilla Firefox 19+ */
.unit-input:focus::-moz-placeholder { color:transparent; }

/* Internet Explorer 10+ */
.unit-input:focus:-ms-input-placeholder { color:transparent; }

/*标题图标*/
.input-icon {
  background: url("../../assets/sign/sign-icon.png");
  display: block;
  background-repeat: no-repeat;
}


.ga-icon {
  background-position: -100px -20px;
  width: 20px;
  height: 20px;
}

.mobile-icon {
  background-position: -140px -20px;
  width: 17px;
  height: 25px;
}


/*------------------ 间隔 begin ------------------*/

.unit-input-interval {
  height: 20px;
  line-height: 20px;
  width: 80%;
  text-align: left;
  /*padding: 5px 0;*/
  padding-left: 12%;
  /*color: red;*/
}

/*------------------ 间隔 end ------------------*/

/*获取手机验证码*/
.double-input-container > span:nth-of-type(2) {
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  background-color: #25ced9;
  border-radius: 0 5px 5px 0;
  color: #ffffff;
  cursor: pointer;
}

/*获取手机验证码的input*/
.double-input-container > input {
  border: 0 solid transparent;
  width: 68%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 5px;
}
/* 弹框按钮 */
.button-base {
  margin-right: 20px;
}

.button-base:last-of-type {
  margin-right: 0;
}

.pop-article{
  word-break: break-all;
}

/*确定按钮*/
.container-button {
  border: 0;
  display:block;
  /*padding-top:20px;*/
  margin-top:20px;
}

.set-button {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  background-color: #25ced6;
  color: #ffffff;
  border-radius: 2px;
  letter-spacing: 1px;
  border: 0;
}

.wrong-msg {
  border: 1px solid red;
}

.pick-one-type {
  border: 0;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -webkit-align-items: center;
}


/*验证码发送中*/
.identifying-code-button-close {
  background-color: #cccccc!important;
}



/*----------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  /*重置密码container*/
.Verification-container {
  display: block;
  height: auto;
  width: 100%;
  padding: 0;
}

/*placeholder样式*/
.Verification-container input::placeholder {
  color: #bfbfbf;
}

.Verification-container input::-moz-placeholder {
  color: #bfbfbf;
}

.Verification-container input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.Verification-container input:-ms-input-placeholder {
  color: #bfbfbf;
}

/*外层container*/
.all-container {
  width: 100%;
  /*height: 400px;*/
  margin: 0 auto;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #131F30;
}

/*标题*/
.unit-title {
  flex-direction: row;
  width: 100%;
  font-size: 0.36rem;
  /*height: 110px;*/
  color: #fff;
  height: 1.9rem;
}

/*标题的横线*/
.unit-title > span:nth-of-type(1), .unit-title > span:nth-of-type(3) {
  display: block;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
  width: 1.2rem;
}

/*标题的title*/
.unit-title > span:nth-of-type(2) {
  width: 32%;
  white-space: nowrap;
  display: block;
  text-align: center;
}

/*输入内容container*/
.unit-container {
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  padding-bottom: 30px;
}

/*Input板块*/
.unit-input-container {
  width: 6.5rem;
  height: 40px;
  border: 1px solid #303031;
  border-radius: 4px;
  background: #131F30;
  color: #000;
}

.pick-one-type {
  color: #fff;
  margin-bottom: 20px;
}

.pick-one-type input {
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
}

/* 没有选项时撑开 */
.no-unit-input-container {
  width: 87.5%;
  height: 40px;
}

  /*Input前图片*/
  .unit-input-container-title-img {
    width: 0.45rem;
  }

/*Input标题*/
.unit-input-container-title {
  width: 1rem;
  height: 100%;
  box-sizing: border-box;
}

/*Input标签*/
.unit-input {
  border: 0 solid transparent;
  width: 5.5rem;
  height: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  background: transparent;
  color: #fff;
}

/*间隔*/
.unit-input-interval {
  height: 20px;
  width: 100%;
  text-align: center;
  color: red;
  padding-left: 0;
}

/*获取手机验证码*/
.double-input-container > span:nth-of-type(2) {
  width: 1.5rem;
  height: 100%;
  box-sizing: border-box;
  background-color: transparent !important;
  border-radius: 0 4px 4px 0;
  color: #C43E4E;
  cursor: pointer;
}

/*获取手机验证码的input*/
.double-input-container > input {
  border: 0 solid transparent;
  width: 4rem;
  height: 100%;
  box-sizing: border-box;
  border-radius: 4px;
}

  .cutter-line {
    color: #274868;
    height: 100%;
  }

/*确定按钮*/
.container-button {
  border: 0;
  /*margin-top:20px;*/
}

.set-button {
  width: 100%;
  height: 100%;
  font-size: 0.28rem;
  background-color: #C43E4E;
  color: #ffffff;
  border-radius: 2px;
  letter-spacing: 10px;
  border: 0;
  /*margin-top:20px;*/
}

.wrong-msg {
  border: 1px solid red;
}

.pick-one-type {
  border: 0;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  -webkit-align-items: center;
}


/*验证码发送中*/
.identifying-code-button-close {
  /*background-color: #cccccc!important;*/
  background-color: transparent !important;
  color: #C43E4E !important;
}
}
