.teaSourceAuto {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.teaSer {

}

.teaSerLogo {
  display: inline-block;
  height: 200px;
  text-align: center;
  /*margin-top:30px;*/
}

.teaSer {
  height: 243px;
  display: flex;
  align-items: flex-end;

}
.teaSerLogo img{
  width: 183px;

}

.teaSourceLogo {
  text-align: justify;
  display: inline-block;
  margin-left: 63px;

}
.teaSourceP {
  font-family: PingFangSC-Medium;
  font-size: 36px;
  color: #D4B864;
}
.teaSourceP1 {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #172A4D;
  margin-bottom: 30px;
}

.TodaysProgress{
  margin-top: 60px;
  height: 207px;
  background-color: #FFFFFF;
}

.Progress {
  width: 100%;
  height: 55px;
  line-height: 55px;
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #D4B864;
  padding-left: 20px;
  border-bottom: 1px solid #E9E9E9;
}
.Progress1 {
  font-family: PingFangSC-Medium;
  font-size: 18px;
  color: #D4B864;
}

.Progress2 {
  font-size: 12px;
  color: #D4B864;
}
.freed {
  width: 100%;
  float: left;
  padding-top: 30px;
  padding-left: 20px;
}

.freed {
  width: 25%;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #172A4D;
}
.p1 {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #172A4D;
}
.p2 {
  font-family: PingFangSC-Medium;
  font-size: 46px;
  color: #172A4D;
}
.p3 {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #172A4D;
}
.p {
  line-height: 40px;
  padding-left: 10px;
}
.TodaysProgress1 {
  margin-top: 60px;
  height: 252px;
  background-color: #FFFFFF;
}

.TodaysProgress2 {
  margin-top: 60px;
  height: 388px;
  background-color: #FFFFFF;
}
.freed2 {
  width: 1160px;
  height: 54px;
  margin: 20px auto 0;
  background: #FAFAFA;
  border-radius: 3px 3px 0 0;
}
.freed3 {
  display: inline-block;
  width: 160px;
  /*height: 54px;*/
  line-height: 54px;
  border-right: 1px solid #000;
}
.freed4 {
  display: inline-block;
  width: 96px;
  line-height: 54px;
  height: 54px;
  /*border-right: 1px solid #000;*/
}
.freesss {
  /*display: inline-block;*/
  width: 160px;
  height: 218px;
  text-align: center;
  background: #FAFAFA;
  margin-left: 20px;
  line-height: 218px;
  font-family: PingFangSC-Medium;
  font-size: 12px;
  color: #172A4D;
}

.riqi {
  /*display: inline-block;*/
  width: 997px;
  height: 218px;
  background-color: pink;
  margin-left: 183px;
  margin-top: -218px;
}
.shouyi {
  /*width: 1000px;*/
  height: 55px;
  border-bottom: 1px solid #ffffff;
  /*background-color: #000000;*/
}

.shouyiriqi {
  display: inline-block;
  width: 96px;
  padding: 8px 0;
}

.shouyiriqi1 {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #8994A5;
}

.shouyiriqi2 {
  font-size: 16px;
  color: #8994A5;
}
.TodaysProgress66 {
  height: 372px;
  margin-top: 60px;
  background-color: #FFFFFF;
}
.freed111 {
  width: 1160px;
  height: 54px;
  margin: 20px auto 0;
  background-color: #FAFAFA;
  border-bottom: 1px solid #E9E9E9;
}
.riqijilu {
  display: inline-block;
  width: 142px;
  line-height: 54px;
  padding-left: 20px;
  font-family: PingFangSC-Medium;
  font-size: 12px;
  color: #171A23;

}
.freed112 {
  width: 1160px;
  height: 54px;
  border-bottom: 1px solid #E9E9E9;
  margin: auto;
}

.riqijilu1 {
  display: inline-block;
  width: 142px;
  line-height: 54px;
  padding-left: 20px;
  font-family: PingFangSC-Medium;
  font-size: 12px;
  color: #8994A5;
}
.qingdianji a{
  color: #3576F5;
}
.riqiji {
  display: inline-block;
  /*width: 116px;*/
  line-height: 54px;
  padding-left: 30px;
  font-family: PingFangSC-Medium;
  font-size: 12px;
  color: #171A23;
}
.riqijilu19 {
  display: inline-block;
  /*width: 116px;*/
  line-height: 54px;
  padding-left: 30px;
  font-family: PingFangSC-Medium;
  font-size: 12px;
  color: #8994A5;
}
.freed110 {
  width: 1160px;
  height: 54px;
  margin: 0 auto 0;
  /*background-color: #FAFAFA;*/
  border-bottom: 1px solid #E9E9E9;
}
.riqiji1 {
  width: 99px;
  display: inline-block;
  line-height: 54px;
  padding-left: 10px;
  font-size: 12px;
  color: #171A23;
}
.riqiji2 {
  width: 145px;
  display: inline-block;
  line-height: 54px;
  font-size: 12px;
  color: #171A23;
}
.riqiji3 {
  width: 95px;
  display: inline-block;
  line-height: 54px;
  font-size: 12px;
  color: #171A23;
}
.riqiji4 {
  width: 119px;
  display: inline-block;
  line-height: 54px;
  font-size: 12px;
  color: #171A23;
}
.riqiji5 {
  width: 143px;
  display: inline-block;
  font-size: 12px;
  color: #171A23;
}
.riqiji6 {
  width: 154px;
  display: inline-block;
  line-height: 54px;
  font-size: 12px;
  color: #171A23;
}
.riqiji7 {
  width: 70px;
  display: inline-block;
  line-height: 54px;
  font-size: 12px;
  color: #171A23;
}
.riqiji8 {
  width: 100px;
  display: inline-block;
  line-height: 54px;
  font-size: 12px;
  color: #171A23;
}
.riqiji9 {
  width: 100px;
  display: inline-block;
  line-height: 54px;
  font-size: 12px;
  color: #171A23;
}
.riqiji10 {
  width: 92px;
  display: inline-block;
  line-height: 54px;
  font-size: 12px;
  color: #171A23;
}
.color8994A5 {
  color: #8994A5;
}
