/*内容*/
.TraddingHall-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  padding-top:6px;
  background-color: #202133 ;
  margin-bottom: -10px;
  padding-bottom: 6px;
}
.HeaderTitle-wrap {
  margin-top: 5px;
  width: 100%;
  height: 60px;
  background: #fff;
  position: relative;
  outline: 1px solid #E5EBF5;
}
.traddinghall-main-wrap {
  width: 100%;
  /*margin-top: 10px;*/
  justify-content: space-between;
}
.traddinghall-market-wrap {
  /*margin-left: 6px;*/
  /*width: 16.312%;*/
  width: 300px;
  /*background-color: aliceblue;*/
  background-color: #0D111F;
}
.traddinghall-main-right {
  flex:1;
  margin-left: 6px;
}
.traddinghall-main-right-top {
  width:100%;
  height:44px;
  background:rgba(11,14,22,1);
  /*flex:1;*/
  /*margin-left: 6px;*/
  align-items: center;
  display: flex;
}
.traddinghall-main-right-bottom {
  flex:1;
  margin-top: 6px;
}
.traddinghall-mid-left {
  /*width: 18.997%;*/
  width: 300px;
  background: #0D111F;
  /*overflow: hidden;*/
}
.traddinghall-mid-wrap {
  /*width: 47%;*/
  flex:1;
  position: relative;
  margin-right: 6px;
}
.traddinghall-right-wrap {
  /*margin-left: 6px;*/
  /*width: 16.312%;*/
  width: 300px;
  /*background-color: aliceblue;*/
  background-color: #0D111F;
}

.StockCross-wrap {
  width: 100%;
  /*background: #fff;*/
}
.StockCross-wrap_body{
  position: relative;
  width: 100%;
  height: 100%;
}

.TradingView-wrap {
  width: 100%;
  height: 451px;
  overflow: hidden;
  background-color: #0D111F;
}

.TradingView-wrap.light-border {
  outline: 0;
}

.trading-wrap {
  width: 100%;
  height: 366px;
  margin-top: 6px;
  overflow: hidden;
  background:#0D111F;
  /*outline: 1px solid #E5EBF5;*/
}

.progress-bar-position-title-box {
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: #0B0E16;
}

.progress-bar-position-title {
  cursor: pointer;
  flex: 0.5;
  height: 36px;
  /*border-bottom: 2px solid transparent;*/
  width: auto;
  float: left;
  text-align: center;
  padding: 0px 44px;
  overflow: hidden;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  font-size: 14px;
  color: #A2B5D9;
  background-color: #151634;
}

.progress-bar-position-title-sel {
  /*height: 36px;*/
  /*border-bottom: 2px solid #3576F5;*/
  /*width: auto;*/
  /*float: left;*/
  /*text-align: center;*/
  /*padding: 0px 40px;*/
  /*overflow: hidden;*/
  /*font-family:PingFangSC-Medium,PingFang SC;*/
  /*font-weight:500;*/
  /*font-size: 14px;*/
  color: #ffffff;
  background-color: #3576F5;
}

/*add  new  css*/
.progress-bar-title {
  width: 100%;
  min-width: 540px;
  height: 38px;
  line-height: 38px;
  background: #0B0E16;
  /*border-bottom: 1px solid #F2F6FA;*/
}

.progress-bar-title-left {

}

.progress-bar-title-right {
  align-items: center;
}
.progress-bar-title-assets-icon {
  width:16px;
  height:16px;
  margin-right: 6px;
}
.progress-bar-title-assets-transfer-icon {
  width:18px;
  height:18px;
  margin-left: 5px;
  cursor: pointer;
}
.progress-bar-title-assets-available {
  font-size:12px;
  font-family:Roboto-Regular,Roboto;
  font-weight:400;
  color:rgba(239,240,255,1);
}

.progress-bar-title-vertical-line {
  margin-left: 10px;
  margin-right: 10px;
  width:1px;
  height:18px;
  background:rgba(57,65,92,1);
}

.progress-bar-title-assets-calculator {
  margin-right: 13px;
  width:18px;
  height:18px;
}

.service-type-selection-box {
  position: relative;
  width:100%;
  height:52px;
  align-items: center;
  padding: 0 15px;
}

.service-type-selection-left {
  align-items: center;
}

.passive-delegation {
  align-items: center;
  margin-right: 15px;
}

.passive-delegation-icon {
  margin-right: 6px;
  width:18px;
  height:18px;
}

.passive-delegation-text {
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(162,181,217,1);
  line-height:17px;
}

.effective-time {
  height: 18px;
  margin-right: 25px;
  padding-right: 25px;
  align-items: center;
  border-right: 1px solid #39415C;
}

.effective-time-icon {
}

.effective-time-text {
}

.effective-time-select {
  width: 50px;
  padding: 1px 6px;
  margin-left: 12px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(53,118,245,1);
  line-height:17px;
  background:rgba(53,118,245,0.1);
  border-radius:2px;
  cursor: pointer;
  align-items: center;
  position: relative;
}
.effective-time-select-pic {
  padding: 1px 6px;
  margin-left: 12px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(53,118,245,1);
  line-height:17px;
  background:rgba(53,118,245,0.1);
  border-radius:2px;
  cursor: pointer;
  align-items: center;
  position: relative;
}
.effective-time-select23 {
  cursor: pointer;
  align-items: center;
  box-sizing: border-box;
}
.reduce-positions {
  height: 18px;
  margin-right: 25px;
  padding-right: 25px;
  align-items: center;
  border-right: 1px solid #39415C;
}

.reduce-positions-icon {
  cursor: pointer;
  margin-right: 6px;
  width:16px;
  height:16px;
}

.reduce-positions-text {
}

.trigger-type {
  height:18px;
}

.trigger-type-text {
}

.trigger-type-select {
}

.service-type-selection-right {
  align-items: center;
}
.margin-mode-btn {
  background:rgba(53,118,245,0.1);
  border-radius:1px;
  border:1px solid rgba(53,118,245,1);
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(224,225,244,1);
  line-height:20px;
  padding: 0 5px;
}
.margin-mode-btn:hover {
  background:rgba(53,118,245,0.4);
}
.lever-num {
  margin-left: 5px;
}



.ProgressBar-wrap {
  width: 50%;
  height: 240px;
}

.ProgressBar-wrap:nth-child(2) {
  margin-left: 4px;
}

.MarketPrice-wrap {
  width: 100%;
  height: 548px;

}

.AssetOverview-wrap {
  width: 100%;
  height: 695px;
  /*margin-top: 19px;*/
  /*background: #fff;*/
  /*outline: 1px solid #E5EBF5;*/
}

.traddinghall-order-wrap {
  margin-top: 6px;
  /*outline: 1px solid #888;*/
}
.traddinghall-order-wrap-title{
  background-color: #0B0E16;
  /*border-bottom: 1px solid #bbb;*/
  height: 44px;
  line-height: 44px;
}

.tradinghall-order-tab {
   /*width: 8%;*/
   height: 44px;
   line-height: 44px;
   text-align: center;
   font-family:PingFangSC-Medium,PingFang SC;
   font-weight:500;
   font-size: 14px;
   color: #A2B5D9;
   cursor: pointer;
   margin-right: 40px;
   margin-left: 15px;
   /*box-shadow: 0 7px 20px 3px rgba(118, 125, 127, 0.08);*/
   z-index: 100;
 }

.tradinghall-order-tab3 {
  height: 46px;
}

.tradinghall-order-tab2 {
  width: 8%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #A2B5D9;
  cursor: pointer;
  /*box-shadow: 0 7px 20px 3px rgba(118, 125, 127, 0.08);*/
  z-index: 100;
}

.tradinghall-order-tab2 span{
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #8994A5;
}

.tradinghall-order-tab-first {
}
.tradinghall-order-activetab-0 {
  /*background-color: #fff;*/
  z-index: 200;
  font-weight: bold;
  font-size: 14px;
  line-height: 44px;
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #172A4D;
}
.tradinghall-order-activetab {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #FFFFFF;
  z-index: 200;
  /*border-left:1px solid #bbb;*/
  /*border-right:1px solid #bbb;*/
  /*border-top:3px solid #3576F5;*/
  border-bottom: 2px solid #3576F5;
  line-height: 44px;
}

.trading-hall-order-box-detail {
  position: relative;
  z-index: 300;
  background-color: #fff;
}

.current-order-tap {

}

.current-order-tap {

}

/* new add css */
.progress-bar-title-brand {
  /*cursor: pointer ;*/
  /*height: 36px;*/
  line-height:38px;
  border-bottom: 2px solid #3576F5;
  width: auto;
  float: left;
  text-align: center;
  margin: 0px 20px;
  overflow: hidden;
  font-family:PingFangSC-Medium,PingFang SC;
  font-size: 14px;
  color: #FFFFFF;
  font-weight:500;
}

.progress-bar-title-brand-default {
  cursor: pointer;
  line-height: 38px;
  /*border-bottom: 2px solid transparent;*/
  width: auto;
  float: left;
  text-align: center;
  margin: 0px 10px;
  overflow: hidden;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  font-size: 14px;
  color: #A2B5D9;
}
.progress-bar-title-brand-default img {
  width: 13px;
  height: 13px;
  vertical-align: middle;
  margin-bottom: 2px;
}

.service_charge {
  width: auto;
  float: right;
  padding-right: 50px;
  color: #999;
  position: relative;
}

.toggle-box {
  display: inline-block;
  position: absolute;
  height:20px;
  right:5px;
}

.service_charge em {
  color: #666;
}

.service_charge em.delete {
  text-decoration: line-through;
  color: #999;
}

.service_charge span {

}

.use_bob_fire {
  margin-left: 10px;
}

.use_bob_fire a.bdb_gray {
  color: #999;
}

.use_bob_fire a {
  color: #3576F5;
}

.account-info-toggle {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  left: auto;
}

/*按钮*/
.toggle {
  left: 1%;
  position: relative;
  display: block;
  width: 30px;
  height: 15px;
  color: white;
  outline: 0;
  text-decoration: none;
  border-radius: 100px;
  border: 1px solid #546E7A;
  box-sizing: border-box;
  transition: all 500ms;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  left: auto;
}

.toggle:active {

}

.toggle:hover:not(.toggle--moving):after {

}

.toggle:after {
  display: block;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 2px;
  width: calc(44%);
  text-align: center;
  text-transform: uppercase;
  color: white;
  transition: all 500ms;
}

.toggle--off:after {
  content: '';
  border-radius: 100px;
  color: #f44336;
  background-color: #f44336;
}

.toggle--on:after {
  content: '';
  border-radius: 100px;
  transform: translate(100%, 0);
  color: #3576F5;
  background-color: #3576F5;
}

.toggle--moving:after {
  background-color: #efeff2 !important;
}

.toggle--moving:after {
  color: transparent;
  border-color: #435862;
  transition: color 0s, transform 500ms, border-radius 500ms, background-color 500ms;
}

/*第一个tab加阴影*/
.tab-item-first {
  /*border-top-left-radius: 6px;*/
}

/*最后一个tab加阴影*/
.tab-item-last {
  /*border-top-right-radius: 6px;*/
}
/*页面布局响应式*/
/*@media screen and (max-width: 1450px) {*/
  /*.sscj-big-client-show{*/
    /*display: none;*/
  /*}*/
  /*.sscj-show{*/
    /*display: initial;*/
  /*}*/
/*}*/
/*页面布局响应式*/
/*@media screen and (min-width: 1450px) {*/
  /*.sscj-show{*/
    /*display: none;*/
  /*}*/
  /*.sscj-big-client-show{*/
    /*display: initial;*/
  /*}*/
/*}*/
/*页面布局响应式*/
/*@media screen and (max-width: 1441px) {*/
  /*.traddinghall-mid-left {*/
    /*width: 22.997%;*/
    /*!*width: 294.36px;*!*/
    /*background: #fff;*/
    /*!*overflow: hidden;*!*/
  /*}*/

  /*.traddinghall-mid-wrap {*/
    /*width: 55.13%;*/
  /*}*/

  /*.traddinghall-right-wrap {*/
    /*width: 20.312%;*/
  /*}*/
/*}*/

/*!*内容中部*!*/
/*.container-middle {*/
/*width: 100%;*/
/*height: 636px;*/
/*display: block;*/
/*position: relative;*/
/*padding-top: 7px;*/
/*overflow: hidden;*/
/*}*/

/*!*内容中间标头*!*/
/*.container-header {*/
/*display: block;*/
/*width: 100%;*/
/*height: 66px;*/
/*}*/

/*!*中间左侧部分*!*/
/*.container-middle-left {*/
/*width: 21.8%;*/
/*float: left;*/
/*height: 100%;*/
/*}*/

/*!*中间右侧部分*!*/
/*.container-middle-right {*/
/*width: 77.5%;*/
/*float: right;*/
/*}*/

/*.container-middle-right .show-market-top {*/
/*display: block;*/
/*width: 100%;*/
/*height: 370px;*/
/*}*/

/*!*中间右侧部分 tradingView*!*/
/*.show-market-top .show-market-trading {*/
/*display: block;*/
/*float: left;*/
/*width: 70%;*/
/*height: 100%;*/
/*background-color: #ffffff;*/
/*position: relative;*/
/*z-index: 100;*/
/*}*/

/*!*中间右侧部分*!*/
/*.show-market-type {*/
/*display: block;*/
/*width: 29%;*/
/*height: 100%;*/
/*float: right;*/
/*!*overflow: hidden;*!*/
/*position: relative;*/
/*z-index: 200;*/
/*}*/

/*!*中间右侧底部*!*/
/*.show-market-bottom {*/
/*display: block;*/
/*width: 100%;*/
/*height: 250px;*/
/*!*background-color: #ffffff;*!*/
/*margin-top: 7px;*/
/*overflow: hidden;*/
/*}*/

/*!*!*左侧部分*!*!*/
/*.show-market-bottom-left {*/
/*display: block;*/
/*float: left;*/
/*width: 70%;*/
/*height: 100%;*/
/*!*border:1px solid red;*!*/
/*background-color: #ffffff;*/
/*box-sizing: border-box;*/
/*}*/

/*.show-market-bottom-left-item {*/
/*display: block;*/
/*width: 50%;*/
/*height: 100%;*/
/*float: right;*/
/*}*/

/*!*右侧部分*!*/
/*.show-market-bottom-right {*/
/*display: block;*/
/*float: right;*/
/*width: 29%;*/
/*height: 100%;*/
/*box-sizing: border-box;*/
/*background-color: #ffffff;*/
/*!*border:1px solid red;*!*/
/*}*/

/*!*委托*!*/
/*.entrust-container {*/
/*width: 100%;*/
/*margin-top: 25px;*/
/*}*/

/*.entrust-title {*/
/*position: relative;*/
/*z-index: 100;*/
/*height: 35px;*/
/*}*/

/*.entrust-title-detail {*/
/*display: inline-block;*/
/*width: 100px;*/
/*height: 35px;*/
/*line-height: 35px;*/
/*font-size: 16px;*/
/*text-align: center;*/
/*background-color: #ebebeb;*/
/*box-sizing: border-box;*/
/*vertical-align: top;*/
/*}*/

/*.entrust-title-selected {*/
/*background-color: #ffffff;*/
/*border-top: 2px solid #00c9db;*/
/*color: #00c9db;*/
/*line-height: 32px;*/
/*}*/

/*.entrust-detail-container {*/
/*position: relative;*/
/*z-index: 200;*/
/*background-color: #ffffff;*/
/*width: 100%;*/
/*}*/

/*!*表格*!*/
/*.entrust-detail {*/
/*width: 100%;*/
/*}*/

/*.entrust-detail tr {*/
/*border-bottom: 1px solid #f2f2f2;*/
/*height: 35px;*/
/*line-height: 35px;*/
/*text-align: center;*/
/*}*/

/*.entrust-table-td:hover {*/
/*background-color: #e8e8e8;*/
/*}*/

.centertop{
  /*width: 100%;*/
  position: relative;
  height: 44px;
  background: #0B0E16;
  align-items: center;
  display: flex;
  /*border-bottom: 1px solid #1E1F22;*/
}
.cen1{
  line-height: 19px;
  font-family: Roboto-Medium,Roboto;
  font-size: 16px;
  color: #E0E1F4;
  float: left;
  padding:0 28px 0 15px;
  /*cursor: pointer;*/
  font-weight:500;
}
.cen2{
  padding: 5px 20px 5px 0px;
  float: left;
}
.cen2 .cen21{
  margin-bottom: 1px;
  font-family: Roboto-Medium,Roboto;
  font-size: 16px;
  /*color: #86CB12;*/
  font-weight:500;
  line-height:19px;
}

.cen2 .cen22{
  font-size:12px;
  font-family:Roboto-Regular,Roboto;
  font-weight:400;
  color:#6B7DA2;
  line-height:14px;
}
.cen2 .cen31{
  margin-bottom: 2px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#6B7DA2;
  line-height:17px;
}
.marked-price {
  display: none;
  position: absolute;
  width: 250px;
  top: 60%;
  left:16.5%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
  z-index: 1;
}
.capital-rate-block {
  display: none;
  position: absolute;
  width: 250px;
  top: 60%;
  left:31%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
  z-index: 1;
}
.residual-time {
  display: none;
  position: absolute;
  /*width: 250px;*/
  top: 102%;
  left:39%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
  z-index: 1;
}
.cen2 .cen32{
  font-size:13px;
  font-family:Roboto-Regular,Roboto;
  font-weight:400;
  color:#A2B5D9;
  line-height:15px;
}
.border-dashed {
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px dashed #6B7DA2;
}
.border-dashed:hover {
  display: inline-block;
  opacity: 0.8;
  border-bottom: 1px dashed #6B7DA2;
}
.position-mode-box{
  cursor: pointer;
  margin-right: 25px;
  align-items: center;
}
.position-mode-box:hover{
  opacity: 0.8;
}
.position-mode-icon{
  width: 14px;
  height: 14px;
  margin-right: 7px;
}
.position-mode-text{
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(162,181,217,1);
}
.txt-blue{
  color: #3576F5;
}
.txt-price{
  color: #86CB12;
}
.txt-price-red{
  color: #F60076;
}
.pankou{
  height: 44px;
  line-height: 44px;
  background: #0B0E16;
  font-family:PingFangSC-Medium,PingFang SC;
  font-size: 14px;
  color: #E0E1F4;
  letter-spacing: 0;
  padding-left: 10px;
  cursor: pointer;
  font-weight:500;
  border-bottom: 1px solid #1E1F22;
}

.pankou .sscj{
  margin-left: 20px;
  cursor: pointer;
}

.traddinghall-mid-wrap .bizhonginfo{
  position: absolute;
  top:44px;
  left: 15px;
  z-index: 10000;
}

.traddinghall-mid-wrap .bizhonginfo .sanjimg{
  position: absolute;
  z-index: 10000;
  top: -10px;
  left: 20px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 0;
  border-top-width: 0;
  border-bottom: 10px solid #0D111F;
}


/*仓位模式弹框 Strat*/
.position-mode-tit {
  padding-left: 25px;
}
.risk-alert {
  color: #E0E1F4;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  padding-bottom: 30px;
}
.pop-lock-house {
  padding: 17px 25px 13px 25px;
  background-color: #1A1B21;
}
.lock-house-footer {
  width: 100%;
  /*padding: 0 25px;*/
  /*background-color: #16171D;*/
}
.day-surplus {
  width: 100%;
  height:40px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  background:linear-gradient(270deg,rgba(53,118,245,1) 0%,rgba(69,154,245,1) 100%);
  border-radius:1px;
  margin-bottom: 30px;
  cursor: pointer;
}

.single-position-img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.selected-positions-cod {
  margin-top: -2px;
  color: #6B7DA2;
  font-size:14px;
  font-family:Ping
}
.selected-positions {
  margin-top: -1.5px;
  color: #6B7DA2;
  font-size:14px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
}
.position-explanation {
  margin: 4px 0px 17px 0px;
  color: #A2B5D9;
  font-size:12px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
}
.selected_cardType {
  /*margin-top: -1.5px;*/
  font-size:14px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color: #E0E1F4;
}
/*仓位模式弹框 End*/

/*保证金模式 Strat*/
.selected-mode {
  width: 47%;
  height:40px;
  color: #F5F6FA;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  line-height: 40px;
  text-align: center;
  border-radius:2px;
  border:1px solid rgba(87,88,97,1);
  cursor: pointer;
}
.selected-cardType-mode {
  border:1px solid rgba(53,118,245,1);
}
.selected-cardType-left {
  margin-right: 6%;
}
.mode-only {
  margin: 20px 0;
  color: #A2B5D9;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}
.mode-error {
  margin-bottom: 15px;
  color: #F60076;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}
.money-confirmation {
  width: 100%;
  height:40px;
  line-height:40px;
  text-align:center;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#FFFFFF;
  background:linear-gradient(270deg,rgba(53,118,245,1) 0%,rgba(69,154,245,1) 100%);
  border-radius:1px;
  margin-bottom: 15px;
  cursor: pointer;
}
.money-confirmation-ash {
  width: 100%;
  height:40px;
  line-height:40px;
  text-align:center;
  font-size:14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#A2B0CC;
  background:#465674;
  border-radius:1px;
  margin-bottom: 15px;
}
.money-explanation {
  width: 100%;
  padding: 15px;
  background-color: #16171D;
  color: #A2B5D9;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  margin-bottom: 15px;
}
.money-explanation-one {

}
.money-explanation-two {
  margin: 15px 0;
}
.money-explanation-three {
  padding-bottom: 15px;
}
/*保证金模式 End*/

/*调整杠杆 Strat*/
.body {
  width: 97%;
  padding: 0px;
  margin-top: 50px;
  text-align: center;
  content: "";
  display: table;
  clear: both;
}
.mode-only-lever {
  margin: 33px 0 14px 0;
  color: #6B7DA2;
  font-size:12px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
}
.mode-only-lever-super {
  /*color: #EFF0FF;*/
  font-size:12px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  margin-bottom: 20px;
}
.mode-only-lever-high {
  height: 18px;
  margin-bottom: 20px;
}
/*调整杠杆 End*/

/*下拉框*/
.drop-down {
  width: 6px;
  height: 4px;
  float: right;
  margin:6px 0 2px 6px;
}

.effective-time-drop-down {
  display:none;
  width: 100%;
  position: absolute;
  top: 19px;
  left: 0;
  border-radius:2px;
  cursor: pointer;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #E0E1F4;
  background:rgba(33,41,70,1);
  line-height:22px;
  z-index: 99;
}
.effective-time-drop-down-gtc {
  padding: 1px 0px 1px 6px;
  cursor: pointer;
}
.effective-time-drop-down-gtc:hover {
  padding: 1px 0px 1px 6px;
  color: #3576F5;
  background:rgba(23,30,58,1);
}
.effective-time-drop-down-ioc {
  padding: 1px 0px 1px 6px;
  cursor: pointer;
}
.effective-time-drop-down-ioc:hover {
  padding: 1px 0px 1px 6px;
  color: #3576F5;
  background:rgba(23,30,58,1);
}
.effective-time-drop {
  padding: 1px 0px 1px 6px;
  color: #3576F5;
  background:rgba(23,30,58,1);
}
.effective-time-drop-down-fok {
  padding: 1px 0px 1px 6px;
  cursor: pointer;
}
.effective-time-drop-down-fok:hover {
  padding: 1px 0px 1px 6px;
  color: #3576F5;
  background:rgba(23,30,58,1);
}
.effective-time-drop-down-pic {
  display:none;
  position: absolute;
  top: 19px;
  left: 0px;
  margin-left: 12px;
  border-radius:2px;
  cursor: pointer;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #E0E1F4;
  background:rgba(33,41,70,1);
  line-height:22px;
  z-index: 99;
}
.letes-price {
  position: relative;
}
.latest-price-select {
  padding: 1px 6px;
  padding-right: 18px;
  cursor: pointer;
}
.latest-price-select:hover {
  color: #3576F5;
  background:rgba(23,30,58,1);
}
.marked-price-select {
  padding: 1px 6px;
  padding-right: 18px;
  cursor: pointer;
}
.marked-price-select:hover {
  color: #3576F5;
  background:rgba(23,30,58,1);
}
.latest-price-drop {
  padding: 1px 6px;
  color: #3576F5;
  background:rgba(23,30,58,1);
}
.passive-delegation-block {
  display: none;
  position: absolute;
  /*width: 250px;*/
  top: 80%;
  left: 3.8%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
  z-index: 1;
}
/*生效时间 限价*/
.effective-time-block {
  display: none;
  position: absolute;
  width: 250px;
  top: 80%;
  left:3%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
  z-index: 999;
}
/*生效时间 止损*/
.effective-time-block-box {
  display: none;
  position: absolute;
  width: 250px;
  top: 80%;
  left:3%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
  z-index: 999;
}
/*只减仓 限价*/
.lighten-up-positions {
  display: none;
  position: absolute;
  width: 250px;
  top: 80%;
  left:22%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
  z-index: 1;
}
/*只减仓 市价*/
.lighten-up-positions-market-price {
  display: none;
  position: absolute;
  width: 250px;
  top: 80%;
  left:3.5%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
  z-index: 1;
}
/*触发类型 限价止盈止损*/
.trigger-type-block {
  display: none;
  position: absolute;
  /*width: 250px;*/
  top: 80%;
  left:15%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
  z-index: 1;
}
/*触发类型 市价止盈止损*/
.trigger-type-block-market-price {
  display: none;
  position: absolute;
  /*width: 250px;*/
  top: 80%;
  left:1.5%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
  z-index: 1;
}
/*只减仓 限价止盈止损*/
.lighten-up-positions-full-stop {
  display: none;
  position: absolute;
  width: 250px;
  top: 80%;
  left: 12%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
  z-index: 1;
}
/*只减仓 市价止盈止损*/
.lighten-up-positions-market-price-stop {
  display: none;
  position: absolute;
  width: 250px;
  top: 80%;
  left: 3.5%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
  z-index: 1;
}
.limit-profit-stop-loss {
  display: none;
  position: absolute;
  width: 250px;
  line-height: 24px;
  top: 90%;
  left: 6%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
  z-index: 100;
}
.market-price-profit-stop-loss {
  display: none;
  position: absolute;
  width: 250px;
  line-height: 24px;
  top: 90%;
  left: 22%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
  z-index: 100;
}
.market-price-profit-stop-loss-1 {
  display: none;
  position: absolute;
  width: 250px;
  line-height: 24px;
  top: 90%;
  left: 19.5%;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  background: #fff;
  padding: 10px;
  z-index: 100;
}


/* ------------  开平器 begin-----------------*/

.contract-bottle-opener {
  cursor: pointer;
  line-height: 38px;
  /*border-bottom: 2px solid transparent;*/
  width: auto;
  float: left;
  text-align: center;
  margin: 0px 10px;
  overflow: hidden;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  font-size: 14px;
  color: #A2B5D9;
}
.contract-bottle-opener:hover {
  color: #A2B5D9;
  opacity: 0.7;
}
.contract-bottle-opener img {
  width: 16px;
  vertical-align: sub;
}
.bottle-opener-header {
  /*顶部撑开弹窗*/
  width: 620px;
  /*background: #202133;*/
  background: rgba(20,21,26,1);
  padding: 0 25px;
}
.bottle-opener-article {
  color: #fff;
  /*height: 633px;*/
  padding: 30px 25px 25px;
  background: rgba(20,21,26,1);
  /*background: #202133;*/
}
.opener-article-title {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.opener-article-title-but {
  width: 284px;
  height: 37px;
  line-height: 37px;
  background: #1D1E24;
  border-radius: 1px 0px 0px 1px;
  border: 1px solid #262C39;
  text-align: center;
  box-sizing: border-box;
}
.opener-title-but-right {
  border-right-width: 0;
  border-radius: 0 1px 1px 0;
}
.opener-title-but-left {
  border-right-width: 0;
  border-radius: 1px 0 0 1px;
}
.opener-btn-slt {
  width: 284px;
  height: 37px;
  line-height: 37px;
  background: #3576F5;
  border-radius: 1px 0px 0px 1px;
  box-sizing: border-box;
}
.opener-article-opening-tit {
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.opener-article-opening-tit img {
  margin-right: 10px;
  width: 20px;
  vertical-align: sub;
}
.opener-article-opening-con {
  width: 100%;
  /*padding: 0 25px;*/
  background: #23252D;
  border-radius: 1px;
  margin-bottom: 13px;
}

.opener-opening-long-short {
  height: 46px;
  /*line-height: 46px;*/
  font-size: 15px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #A2B5D9;
  padding: 0 25px;
  align-content: center;
  border-bottom: 1px solid #292B34;
}
.opener-opening-con-tit {
  width: 52px;
  line-height: 46px;
  /*margin:;*/
  padding: 0 15px;
  height: 26px;
  margin-right: 10px;
  border: 1px solid transparent;
  /*box-sizing: border-box;*/
}
.opening-con-tit-slt {
  padding: 0 15px;
  background: rgba(53, 118, 245, 0.2);
  border-radius: 2px;
  border: 1px solid #3576F5;
  /*box-sizing: border-box;*/
}
.opener-opening-markprice {
  height: 58px;
  line-height: 58px;
  color: #A2B5D9;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  padding: 0 25px;
}
.mr-tempty {
  margin-right: 15px;
}
.markprice-text {
  color: #E0E1F4;
}
.markprice-ipt {
  padding-left: 10px;
  width: 180px;
  height: 30px;
  border-radius: 1px;
  color: #fff;
  background: #23252D;
  border: 1px solid #384256;
}

.opener-article-closing-con {
  width: 100%;
  /*padding: 0 25px;*/
}
.opener-article-closing-left {
  width: 275px;
}
.opener-article-closing-right {
  width: 275px;
}
.opener-article-closing-left-top {
  padding: 23px 25px 11px;
  background: #23252D;
}
.opener-article-closing-stop-tit {
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #F5F6FA;
  margin-bottom: 24px;
}
.opener-article-closing-stop-tit img {
  width: 16px;
  vertical-align: sub;
}
.opener-article-closing-stop-cont {
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #A2B5D9;
  margin-bottom: 13px;
}
.opener-article-closing-stop-cont:last-child {
  margin-bottom: 0;
}
.closing-stop-cont-title {
  /*display: inline-block;*/
  width: 95px;
}
.closing-stop-cont-ipt {
  width: 132px;
  height: 23px;
  color: #fff;
  background: #23252D;
  border-radius: 2px;
  border: 1px solid #384256;
  padding-left: 3px;
  box-sizing: border-box;
}
/*.opener-article-closing-right {*/
/*  width: 275px;*/
/*  background: #23252D;*/
/*  padding: 23px 25px 11px;*/
/*}*/
.opener-article-closing-left-bottom {
  background: #1C1D24;
}
.opener-stop-plan-tit {
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #EFF0FF;
}
.opener-stop-plan-con {
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #A2B5D9;
}
.opener-stop-plan-btn {
  height: 20px;
  line-height: 20px;
  padding: 0 18px;
  background: rgba(53, 118, 245, 0.2);
  border-radius: 2px;
  /*box-sizing: border-box;*/
  border: 1px solid transparent;
}
.m-r {
  margin-right: 12px;
}
.opener-stop-plan-btn-select {
  height: 20px;
  line-height: 20px;
  padding: 0 18px;
  background: rgba(53, 118, 245, 0.2);
  border-radius: 2px;
  border: 1px solid #3576F5;
  /*box-sizing: border-box;*/
}
.opener-stop-plan {
  width: 100%;
  padding: 20px 25px 10px;
  /*min-height: 200px;*/
  background: #1C1D24;
  margin-bottom: 15px;
}
.opener-stop-plan-con-con {

}
/*.opener-empty {*/
/*  display: inline-block;*/
/*  width: 47px;*/
/*}*/
.opener-price-t {
  /*float: left;*/
  margin-left: 47px;
}
.opener-amount-t {
  /*float: right;*/
  margin-right: 25px;
}

.opener-stop-plan-con-tit {
  margin-bottom: 10px;

}
.opener-stop-plan-tex-yuan {
  width: 47px;
  margin-top: 4px;
  padding-left: 25px;
  margin-bottom: -5px;
}
.opener-stop-plan-tex-line {
  width: 2px;
  height: 30px;
  background: #4C4D59;
  margin-left: 4px;
}
.opener-text {
  flex: 1;
  justify-content: space-between;
  /*margin-bottom: 10px;*/
}
/*.opener-stop-plan-con-text {*/
/*  margin-bottom: 0;*/
/*}*/

.blue-yuan {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #3576F5;
  justify-content: center;
  align-content: center;
}
.white-yuan {
  width: 6px;
  height: 6px;
  margin: 2px auto;
  border-radius: 2px;
  background: #fff;
}

.openter-step {
  padding: 0 25px;
  margin-bottom: 15px;
}
.openter-step-step {
  width: 108px;
  height: 24px;
  border-radius: 2px;
  border: 1px solid #384256;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #6B7DA2;
  padding: 3px 3px;
}
.openter-step-step-tex {
  line-height: 18px;
  margin-right: 5px;
}
.openter-step-step-line {
  width: 1px;
  height: 100%;
  background: #6B7DA2;
}
.openter-step-ipt {
  padding-left: 5px;
  background: 0;
  color: #fff;
  border: 0;
  width: 45px;
}

.bottle-opener-footer {
  color: #fff;
  padding: 0 25px 46px;
  /*background: #202133;*/
  background: rgba(20,21,26,1);
  line-height: 40px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
}
.cancel-btn {
  width: 275px;
  height: 40px;
  text-align: center;
  border-radius: 1px;
  border: 1px solid #6B7DA2;
}
.confirm-btn {
  width: 275px;
  height: 40px;
  text-align: center;
  background: linear-gradient(270deg, #3576F5 0%, #459AF5 100%);
  border-radius: 1px;
}
.confirm-btn:hover {
  background: #3576F5;
}
/* ------------  开平器 end-----------------*/



/*合约风险提示*/
.footer-btn {
  /*padding-right: 30px;*/
  /*margin-bottom: 20px;*/
  justify-content:flex-end;
}
.popWindow-article2 {
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  color: #6B7DA2;
  padding: 0 27px;
  border-radius:3px;
  border:1px solid rgba(231,235,238,1);
  cursor: pointer;
}
.popWindow-btn{
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
  color: #F7F7FB;
  padding: 0 41px;
  background:rgba(53,118,245,1);
  border-radius:3px;
  margin-left: 10px;
  cursor: pointer;
}
.yqm {
  height: 17px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #3576F5;
  line-height: 17px;
}
.yqm-input {
  width: 97%;
  height: 40px;
  line-height: 40px;
  padding-left: 8px;
  border-radius: 1px;
  border: 1px solid #E0E1F4;
  margin-top: 8px;
}
/*合约风险提示*/
.hig {
  height: 20px;
}
.prompt-span {
  display: inline-block;
  /*padding-left: 25px;*/
  padding-top: 3px;
  /*margin-bottom: 5px;*/
}
.wrong-msg {
  color: #C43E4E;
}


