/*内容*/
.TraddingHall-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  padding-top:6px;
  background-color: #202133 ;
}

.HeaderTitle-wrap {
  margin-top: 5px;
  width: 100%;
  height: 60px;
  background: #fff;
  position: relative;
  outline: 1px solid #E5EBF5;
}

.traddinghall-main-wrap {
  width: 100%;
  margin-top: 10px;
  justify-content: space-between;
}

.traddinghall-mid-left {
  /*width: 18.997%;*/
  width: 300px;
  background: #fff;
  /*overflow: hidden;*/
}

.traddinghall-mid-wrap {
  /*width: 47%;*/
  flex:1;
  position: relative;
  margin: auto 6px;
}

.traddinghall-right-wrap {
  /*width: 16.312%;*/
  width: 300px;
  /*background-color: aliceblue;*/
  background-color: #0D111F;
}

.StockCross-wrap {
  width: 100%;
  background: #fff;
}
.StockCross-wrap_body{
  position: relative;
  width: 100%;
  height: 100%;
}

.TradingView-wrap {
  width: 100%;
  height: 451px;
  overflow: hidden;
  background-color: #fff;
}

.TradingView-wrap.light-border {
  outline: 0;
}

.trading-wrap {
  width: 100%;
  margin-top: 8px;
  overflow: hidden;
  background:#0D111F;
  /*outline: 1px solid #E5EBF5;*/
}

/*add  new  css*/
.progress-bar-title {
  height: 36px;
  line-height: 36px;
  background: #0B0E16;
  /*border-bottom: 1px solid #F2F6FA;*/
}

.ProgressBar-wrap {
  width: 50%;
  height: 262px;
}

.ProgressBar-wrap:nth-child(2) {
  margin-left: 4px;
}

.MarketPrice-wrap {
  width: 100%;
  height: 548px;

}

.AssetOverview-wrap {
  width: 100%;
  height: 695px;
  /*margin-top: 19px;*/
  background: #fff;
  /*outline: 1px solid #E5EBF5;*/
}

.traddinghall-order-wrap {
  margin-top: 10px;
  /*outline: 1px solid #888;*/
}
.traddinghall-order-wrap-title{
  background-color: #0B0E16;
  /*border-bottom: 1px solid #bbb;*/
  height: 44px;
  line-height: 44px;
}

.tradinghall-order-tab {
   /*width: 8%;*/
   height: 44px;
   line-height: 44px;
   text-align: center;
   font-family:PingFangSC-Medium,PingFang SC;
   font-weight:500;
   font-size: 14px;
   color: #A2B5D9;
   cursor: pointer;
   margin-right: 40px;
   margin-left: 15px;
   /*box-shadow: 0 7px 20px 3px rgba(118, 125, 127, 0.08);*/
   z-index: 100;
 }

.tradinghall-order-tab2 {
  width: 8%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #A2B5D9;
  cursor: pointer;
  /*box-shadow: 0 7px 20px 3px rgba(118, 125, 127, 0.08);*/
  z-index: 100;
}

.tradinghall-order-tab2 span{
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #8994A5;
}

.tradinghall-order-tab-first {
}
.tradinghall-order-activetab-0 {
  /*background-color: #fff;*/
  z-index: 200;
  font-weight: bold;
  font-size: 14px;
  line-height: 44px;
  font-family: PingFangSC-Medium;
  font-size: 16px;
  color: #172A4D;
}
.tradinghall-order-activetab {
  font-family: PingFangSC-Medium;
  font-size: 14px;
  color: #FFFFFF;
  z-index: 200;
  /*border-left:1px solid #bbb;*/
  /*border-right:1px solid #bbb;*/
  /*border-top:3px solid #C43E4E;*/
  border-bottom: 2px solid #3576F5;
  line-height: 44px;
}

.trading-hall-order-box-detail {
  position: relative;
  z-index: 300;
  background-color: #fff;
}

.current-order-tap {

}

.current-order-tap {

}

/* new add css */
.progress-bar-title-brand {
  /*cursor: pointer ;*/
  height: 36px;
  line-height:36px;
  /*border-bottom: 2px solid #C43E4E;*/
  width: auto;
  float: left;
  text-align: center;
  padding: 0px 15px;
  overflow: hidden;
  font-family:PingFangSC-Medium,PingFang SC;
  font-size: 14px;
  color: #FFFFFF;
  font-weight:500;
}

.progress-bar-title-brand-default {
  height: 35px;
  border-top: 1px solid transparent;
  width: auto;
  float: left;
  text-align: center;
  padding: 0px 20px;
  overflow: hidden;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  font-size: 16px;
  color: #8994A5;
}

.service_charge {
  width: auto;
  float: right;
  padding-right: 50px;
  color: #999;
  position: relative;
}

.toggle-box {
  display: inline-block;
  position: absolute;
  height:20px;
  right:5px;
}

.service_charge em {
  color: #666;
}

.service_charge em.delete {
  text-decoration: line-through;
  color: #999;
}

.service_charge span {

}

.use_bob_fire {
  margin-left: 10px;
}

.use_bob_fire a.bdb_gray {
  color: #999;
}

.use_bob_fire a {
  color: #C43E4E;
}

.account-info-toggle {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  left: auto;
}

/*按钮*/
.toggle {
  left: 1%;
  position: relative;
  display: block;
  width: 30px;
  height: 15px;
  color: white;
  outline: 0;
  text-decoration: none;
  border-radius: 100px;
  border: 1px solid #546E7A;
  box-sizing: border-box;
  transition: all 500ms;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  left: auto;
}

.toggle:active {

}

.toggle:hover:not(.toggle--moving):after {

}

.toggle:after {
  display: block;
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 2px;
  width: calc(44%);
  text-align: center;
  text-transform: uppercase;
  color: white;
  transition: all 500ms;
}

.toggle--off:after {
  content: '';
  border-radius: 100px;
  color: #f44336;
  background-color: #f44336;
}

.toggle--on:after {
  content: '';
  border-radius: 100px;
  transform: translate(100%, 0);
  color: #C43E4E;
  background-color: #C43E4E;
}

.toggle--moving:after {
  background-color: #efeff2 !important;
}

.toggle--moving:after {
  color: transparent;
  border-color: #435862;
  transition: color 0s, transform 500ms, border-radius 500ms, background-color 500ms;
}

/*第一个tab加阴影*/
.tab-item-first {
  /*border-top-left-radius: 6px;*/
}

/*最后一个tab加阴影*/
.tab-item-last {
  /*border-top-right-radius: 6px;*/
}
/*页面布局响应式*/
/*@media screen and (max-width: 1450px) {*/
  /*.sscj-big-client-show{*/
    /*display: none;*/
  /*}*/
  /*.sscj-show{*/
    /*display: initial;*/
  /*}*/
/*}*/
/*页面布局响应式*/
/*@media screen and (min-width: 1450px) {*/
  /*.sscj-show{*/
    /*display: none;*/
  /*}*/
  /*.sscj-big-client-show{*/
    /*display: initial;*/
  /*}*/
/*}*/
/*页面布局响应式*/
/*@media screen and (max-width: 1441px) {*/
  /*.traddinghall-mid-left {*/
    /*width: 22.997%;*/
    /*!*width: 294.36px;*!*/
    /*background: #fff;*/
    /*!*overflow: hidden;*!*/
  /*}*/

  /*.traddinghall-mid-wrap {*/
    /*width: 55.13%;*/
  /*}*/

  /*.traddinghall-right-wrap {*/
    /*width: 20.312%;*/
  /*}*/
/*}*/

/*!*内容中部*!*/
/*.container-middle {*/
/*width: 100%;*/
/*height: 636px;*/
/*display: block;*/
/*position: relative;*/
/*padding-top: 7px;*/
/*overflow: hidden;*/
/*}*/

/*!*内容中间标头*!*/
/*.container-header {*/
/*display: block;*/
/*width: 100%;*/
/*height: 66px;*/
/*}*/

/*!*中间左侧部分*!*/
/*.container-middle-left {*/
/*width: 21.8%;*/
/*float: left;*/
/*height: 100%;*/
/*}*/

/*!*中间右侧部分*!*/
/*.container-middle-right {*/
/*width: 77.5%;*/
/*float: right;*/
/*}*/

/*.container-middle-right .show-market-top {*/
/*display: block;*/
/*width: 100%;*/
/*height: 370px;*/
/*}*/

/*!*中间右侧部分 tradingView*!*/
/*.show-market-top .show-market-trading {*/
/*display: block;*/
/*float: left;*/
/*width: 70%;*/
/*height: 100%;*/
/*background-color: #ffffff;*/
/*position: relative;*/
/*z-index: 100;*/
/*}*/

/*!*中间右侧部分*!*/
/*.show-market-type {*/
/*display: block;*/
/*width: 29%;*/
/*height: 100%;*/
/*float: right;*/
/*!*overflow: hidden;*!*/
/*position: relative;*/
/*z-index: 200;*/
/*}*/

/*!*中间右侧底部*!*/
/*.show-market-bottom {*/
/*display: block;*/
/*width: 100%;*/
/*height: 250px;*/
/*!*background-color: #ffffff;*!*/
/*margin-top: 7px;*/
/*overflow: hidden;*/
/*}*/

/*!*!*左侧部分*!*!*/
/*.show-market-bottom-left {*/
/*display: block;*/
/*float: left;*/
/*width: 70%;*/
/*height: 100%;*/
/*!*border:1px solid red;*!*/
/*background-color: #ffffff;*/
/*box-sizing: border-box;*/
/*}*/

/*.show-market-bottom-left-item {*/
/*display: block;*/
/*width: 50%;*/
/*height: 100%;*/
/*float: right;*/
/*}*/

/*!*右侧部分*!*/
/*.show-market-bottom-right {*/
/*display: block;*/
/*float: right;*/
/*width: 29%;*/
/*height: 100%;*/
/*box-sizing: border-box;*/
/*background-color: #ffffff;*/
/*!*border:1px solid red;*!*/
/*}*/

/*!*委托*!*/
/*.entrust-container {*/
/*width: 100%;*/
/*margin-top: 25px;*/
/*}*/

/*.entrust-title {*/
/*position: relative;*/
/*z-index: 100;*/
/*height: 35px;*/
/*}*/

/*.entrust-title-detail {*/
/*display: inline-block;*/
/*width: 100px;*/
/*height: 35px;*/
/*line-height: 35px;*/
/*font-size: 16px;*/
/*text-align: center;*/
/*background-color: #ebebeb;*/
/*box-sizing: border-box;*/
/*vertical-align: top;*/
/*}*/

/*.entrust-title-selected {*/
/*background-color: #ffffff;*/
/*border-top: 2px solid #00c9db;*/
/*color: #00c9db;*/
/*line-height: 32px;*/
/*}*/

/*.entrust-detail-container {*/
/*position: relative;*/
/*z-index: 200;*/
/*background-color: #ffffff;*/
/*width: 100%;*/
/*}*/

/*!*表格*!*/
/*.entrust-detail {*/
/*width: 100%;*/
/*}*/

/*.entrust-detail tr {*/
/*border-bottom: 1px solid #f2f2f2;*/
/*height: 35px;*/
/*line-height: 35px;*/
/*text-align: center;*/
/*}*/

/*.entrust-table-td:hover {*/
/*background-color: #e8e8e8;*/
/*}*/

.centertop{
  width: 100%;
  height: 44px;
  background: #0B0E16;
  align-items: center;
  display: flex;
  border-bottom: 1px solid #1E1F22;
}
.cen1{
  line-height: 19px;
  font-family: Roboto-Medium,Roboto;
  font-size: 16px;
  color: #E0E1F4;
  float: left;
  padding:0 28px 0 15px;
  cursor: pointer;
  font-weight:500;
}
.cen2{
  padding: 8px 20px 5px 0px;
  float: left;
}
.cen2 .cen21{
  margin-bottom: 1px;
  font-family: Roboto-Medium,Roboto;
  font-size: 16px;
  color: #08D0AC;
  font-weight:500;
  line-height:19px;
}

.cen2 .cen22{
  font-size:12px;
  font-family:Roboto-Regular,Roboto;
  font-weight:400;
  color:#6B7DA2;
  line-height:14px;
}
.cen2 .cen31{
  margin-bottom: 2px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#6B7DA2;
  line-height:17px;
}

.cen2 .cen32{
  font-size:13px;
  font-family:Roboto-Regular,Roboto;
  font-weight:400;
  color:#A2B5D9;
  line-height:15px;
}
.txt-price{
  color: #08D0AC;
}
.txt-price-red{
  color: #EF5656;
}
.pankou{
  height: 40px;
  line-height: 40px;
  background: #F2F6FA;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #172A4D;
  letter-spacing: 0;
  padding-left: 10px;
  cursor: pointer;
}

.pankou .sscj{
  margin-left: 20px;
  cursor: pointer;
}

.traddinghall-mid-wrap .bizhonginfo{
  width: 380px;
  height: 160px;
  z-index: 99999;
  border: 1px solid #f2f2f2;
  position: absolute;
  top:60px;
  left: 5px;
  /*background: #FAFAFA;*/
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
  border-radius: 3px;
}

.traddinghall-mid-wrap .bizhonginfo .sanjimg{
  position: absolute;
  z-index: 99999;
  top: -12px;
  left: 20px;
  width: 25px;
}






