.workorderlist-wrap {
  margin: 0 auto;
  width: 62.5%;
  /*height: 100%;*/
  position: relative;
  /*background: red;*/
  padding: 50px 5.2% 50px;
  background: #fff;
  /*border: 1px solid rgb(230, 230, 230);*/
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

.workorderlist-box {
  /*height: 757px;*/
  /*border: 1px solid rgb(230, 230, 230);*/

}

.workerorderlist-title {
  height: 40px;
  /*background: rgb(202, 231, 234);*/
  /*border-bottom: 1px solid rgb(230, 230, 230);*/
}

.workerorderlist-number {
  width: 20%;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.workerorderlist-tit {
  width: 20%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.workerorderlist-id {
  width: 20%;
  height: 40px;
  text-align: center;
  line-height: 40px;

}

.workerorderlist-create {
  width: 20%;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.workerorderlist-control {
  width: 20%;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.workerorderlist-status {
  width: 20%;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.workerorderlist-li {
  height: 40px;
  border-bottom: 1px solid rgb(230, 230, 230);
}

/*.workorderlist-linklist-box{*/
/*position: relative;*/
/*left: -10px;*/
/*top: -15px;*/
/*height: 16px;*/
/*line-height: 16px;*/
/*border-left:4px solid rgb(33,200,212);*/
/*padding-left: 1%;*/
/*}*/

.workorderlist-linklist-box {
  position: absolute;
  left: 3.5%;
  top: 20px;
  height: 16px;
  line-height: 16px;
  border-left: 4px solid #C43E4E;
  padding-left: 1%;
  white-space: nowrap;
}

/*.workerorderlist-li-number {*/
/*width: 16%;*/
/*height: 40px;*/
/*text-align: center;*/
/*line-height: 40px;*/
/*}*/

/*.workerorderlist-li-tit {*/
/*width: 16%;*/
/*height: 40px;*/
/*text-align: center;*/
/*line-height: 40px;*/
/*}*/

/*.workerorderlist-li-id {*/
/*width: 16%;*/
/*height: 40px;*/
/*text-align: center;*/
/*line-height: 40px;*/
/*}*/

/*.workerorderlist-li-create {*/
/*width: 16%;*/
/*height: 40px;*/
/*text-align: center;*/
/*line-height: 40px;*/
/*}*/

/*.workerorderlist-li-last {*/
/*width: 16%;*/
/*height: 40px;*/
/*text-align: center;*/
/*line-height: 40px;*/
/*}*/

/*.workerorderlist-li-status {*/
/*width: 16%;*/
/*height: 40px;*/
/*text-align: center;*/
/*line-height: 40px;*/
/*}*/

/*.container {*/
/*width: 100%;*/
/*display: block;*/
/*background-color: #ffffff;*/
/*padding: 50px;*/
/*min-height:650px;*/
/*padding-top: 20px;*/
/*}*/

/*.title {*/
/*font-size: 1.6rem;*/
/*align-items: center;*/
/*-webkit-align-items: center;*/
/*padding: 12px 0 12px 0;*/
/*letter-spacing: 1px;*/
/*position: relative;*/
/*}*/

/*.market-detail {*/
/*width: 100%;*/
/*text-align: center;*/
/*}*/

/*.detail-tr-th {*/
/*background-color: #cae7ea;*/
/*}*/

/*.detail-tr-td {*/
/*background-color: #fff;*/
/*}*/
/*.detail-tr-td:hover{*/
/*background-color:rgba(196,62,78,0.03);*/

/*}*/

/*.tr-unit {*/
/*height: 35px;*/
/*border-bottom: 1px solid #e5e5e5;*/
/*}*/

