.workorderinfo-wrap {
  margin: 0 auto;
  width: 62.5%;
  /*height: 100%;*/
  position: relative;
  background: red;
  padding: 50px 5.2% 50px;
  background: #fff;
  border: 1px solid rgb(230, 230, 230);
  position: relative;
}

.workorderinfo-box {
  /*height: 757px;*/
  border: 1px solid rgb(230, 230, 230);
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 20px;
}

.workorderinfo-linklist-box {
  position: absolute;
  left: 3.5%;
  top: 20px;
  height: 16px;
  line-height: 16px;
  border-left: 4px solid #C43E4E;
  padding-left: 1%;
}

.workorderinfo-timelist-box {
  position: absolute;
  right: 5.2%;
  top: 12px;

}

.workorderinfo-userinfo-box {
  justify-content: space-between;
  width: 74.576%;
  height: 75px;
  border-bottom: 1px solid rgb(230, 230, 230);
  align-items: center;
  margin-top: 30px;
}

.workorderinfo-userinfo-imgname {

}

.userinfo-imgname-img {
  margin-right: 5%;
}

.userinfo-imgname-name {
  width: 400px;
  margin-top: 12px;
}

.workorderinfo-paidui {
  display: block;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 4px;
  width: 60px;
  height: 24px;
  line-height: 26px;
  text-align: center;
}

.workorderinfo-paidui-box {
  flex-direction: row-reverse;
}

.workorderinfo-case {
  width: 67.03%;
  height: 40px;
  line-height: 40px;
  background: #f2f2f2;
  padding: 0 24px;
  margin-top: 15px;
  border-radius: 4px;
}

.workorderinfo-case-detail {
  margin-top: 0;
}

.workorderinfo-miaoshu {
  width: 67.03%;
  height: 30px;
  line-height: 30px;
  background: #fff;
  padding: 0 24px;
  border-radius: 4px;

}

.workorderinfo-miaoshu2 {
  margin: 20px 0;

  width: 67.03%;
  background: #f2f2f2;
  padding: 10px 24px;
  border-radius: 4px;
}

.workorderinfo-neirong {
  width: 67.03%;
  height: 140px;
  line-height: 40px;
  background: #f2f2f2;
  padding: 10px 24px;
  border-radius: 4px;

}

.workorderinfo-TwentyTwenty {
  /*width: 67.03%;*/
  height: 30px;
  line-height: 30px;
  background: #fff;
  padding: 0 24px;
  border-radius: 4px;

}

/* new add css */
.workorder_add_hide {
  width: 67.03%;
  height: auto;
  margin: 0 auto;
}

.workorderinfo-btcre {
  /*width: 67.03%;*/
  /*height: 40px;*/
  line-height: 40px;
  background: #FFF9E7;
  padding: 5px 24px;
  border-radius: 4px;

}

.workorderinfo-medo {
  width: 67.03%;
  height: 30px;
  line-height: 30px;
  background: #fff;
  padding: 0 24px;
  border-radius: 4px;

}

.workorderinfo-medores {
  /*width: 67.03%;*/
  height: 40px;
  line-height: 40px;
  background: #f2f2f2;
  padding: 0 24px;
  border-radius: 4px;

}

.workorderinfo-add {
  width: 67.03%;
  height: 40px;
  line-height: 40px;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 0 24px;
  margin-top: 15px;
  border-radius: 4px;
  cursor: pointer;
}

.workorderinfo-submit-btn {
  width: 280px;
  height: 35px;
  line-height: 35px;
  background: #C43E4E;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 4px;
  text-align: center;
  margin-top: 100px;
}

.help-text-area {
  /*width: 67.03%;*/
  width: 98.3%;
  min-height: 150px;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 5px 5px;
  margin-top: 15px;
  border-radius: 4px;
  cursor: pointer;

}

.update_file {
  width: 100%;
  height: 35px;
  line-height: 35px;
  border: 1px solid #D3D2D3;
  border-radius: 5px;
  text-align: center;
}

.update_file img {
  vertical-align: middle;
  width: 13px;
  height: 13px;
  margin-right: 3px;
}

.update_file span {
  color: #C43E4E;
  cursor: pointer;
}

.forms_group font {
  color: #999;
}

.display_none {
  display: none;
}

/*.container {*/
/*width: 100%;*/
/*display: block;*/
/*background-color: #ffffff;*/
/*padding: 50px;*/
/*min-height:650px;*/
/*padding-top: 20px;*/
/*}*/

/*.title {*/
/*font-size: 1.6rem;*/
/*align-items: center;*/
/*-webkit-align-items: center;*/
/*padding: 12px 0 12px 0;*/
/*letter-spacing: 1px;*/
/*position: relative;*/
/*}*/

/*.table-viewer-header {*/
/*margin-top: 10px;*/
/*margin-bottom: -1px;*/
/*background: #F5f6FA;*/
/*line-height: 38px;*/
/*border: 1px solid #e1e6eb;*/
/*position: relative;*/
/*}*/
/*.table-content {*/
/*border: 1px solid #ddd;*/
/*padding: 20px;*/
/*}*/
/*.table-content-header{*/
/*margin-top: 20px;*/
/*border: 1px solid #e1e6eb;*/
/*position: relative;*/

/*}*/
/*.user-icon{*/
/*margin-top: 20px;*/
/*margin-left: 20px;*/
/*position: relative;*/
/*padding: 0;*/
/*width: 60px;*/
/*height: 60px;*/
/*border: 2px #E7F2FA solid;*/
/*border-radius: 60px;*/
/*overflow: hidden;*/
/*}*/
/*.user-icon img {*/
/*margin-top: -2px;*/
/*margin-left: -2px;*/
/*float: left;*/
/*}*/
/*.user-info{*/
/*!*float: left;*!*/
/*}*/
/*img {*/
/*width: 60px;*/
/*height: 60px;*/
/*}*/
/*.order{*/
/*float: right;*/
/*}*/

/*textarea {*/
/*-webkit-appearance: textarea;*/
/*background-color: white;*/
/*-webkit-rtl-ordering: logical;*/
/*flex-direction: column;*/
/*resize: auto;*/
/*cursor: text;*/
/*white-space: pre-wrap;*/
/*word-wrap: break-word;*/
/*border-width: 1px;*/
/*border-style: solid;*/
/*border-color: initial;*/
/*border-image: initial;*/
/*padding: 2px;*/
/*}*/

/*.forms_group font{*/
/*color: #999;*/
/*}*/

