.mobile-forecast-record-page{
  height:100%;
  background: #131f30;
}
.mobile-forecast-record-page-web {
  height:100%;
  background-color: #F7F8FA;
}
.mobile-forecast-record-box {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background: url("../assets/mobileForecastRecord/container_bg.png") center no-repeat;*/
  background-size: 100% 100%;
}

.mobile-forecast-record-box-app {
  top: -50px;
}

.mobile-forecast-record-box-title {
  width: 100%;
  height: 1rem;
  background-color: #FFFFFF;
  line-height: 1rem;
  padding-left: 0.3rem;
}

.divHeaderImg {
  width: 0.32rem;
}

.divHeaderSpan {
  display:inline-block;
  width: 85%;
  color: #131F30;
  font-size:0.32rem;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  text-align: center;
}

.examine {
  height: 0.6rem;
  line-height: 0.6rem;
  padding: 0 0.3rem;
  width: 7.5rem;
  background: #D2E1FF;
  color: #131F30;
  justify-content: space-between;
}


.examine-img img {
  vertical-align: text-top;
}

.mobile-forecast-record-title {
  position: absolute;
  top: 0.88rem;
  left: 0;
  right: 0;
  width: 7.5rem;
  height: 0.72rem;
  line-height: 0.72rem;
  display: flex;
  align-items: center;
  padding: 0 0.3rem;
  font-size: 0.24rem;
  color:rgba(19,31,48,.6);
  background-color: #F7F8FA;
}

.mobile-forecast-record-title-have {
  position: absolute;
  top: 1.6rem;
  left: 0;
  right: 0;
  width: 7.5rem;
  height: 0.72rem;
  line-height: 0.72rem;
  display: flex;
  align-items: center;
  padding: 0 0.3rem;
  font-size: 0.24rem;
  color:rgba(19,31,48,.6);
  background-color: #F7F8FA;
}

.type {
  flex: 18;
}

.detail {
  flex: 10;
  /*text-align: right*/
}

.amount {
  flex: 14;
}

.num {
  flex: 14;
  text-align: right;
}

.mobile-record-winning {
  margin-right: 0.08rem;
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #F57C35;
}

.mobile-forecast-record-list {
  position: absolute;

  top: 2.32rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}

.mobile-forecast-record-list-no {
  position: absolute;
  top: 1.72rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}

.mobile-forecast-record-item {
  height: 0.88rem;
  line-height: 0.88rem;
  display: flex;
  align-items: center;
  width: 7.5rem;
  color: #131F30;
  padding: 0 0.3rem;
  font-size: 0.24rem;
  background-color: #FFFFFF;
}

.no-data-box {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-50%);
}

.no-data-img {
  display: block;
  /*position: absolute;*/
  width: 151px;
  margin: 0 auto;
}

.no-data-text {
  text-align: center;
  color: #4A6890;
  font-size: 14px;
  margin-top: -30px;
}
