.mobile-forecast-record-box {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background: url("../assets/mobileForecastRecord/container_bg.png") center no-repeat;*/
  background-size: 100% 100%;
}

.mobile-forecast-record-box-title {
  width: 100%;
  height: 1rem;
  background-color: #172841;
  line-height: 1rem;
  padding-left: 0.3rem;
}

.divHeaderImg {
  width: 0.32rem;
}

.divHeaderSpan {
  display:inline-block;
  width: 85%;
  color: #CFD3E9;
  font-size:0.32rem;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  text-align: center;
}

.mobile-forecast-record-title {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  height: 36px;
  line-height: 36px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  color: rgba(255,255,255,0.6);
  width: 100%;
}

.type {
  flex: 33;
}

.detail {
  flex: 30;
  text-align: right
}

.num {
  flex: 37;
  text-align: right;
}

.mobile-forecast-record-list {
  position: absolute;
  top: 1.72rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}

.mobile-forecast-record-item {
  height: 26px;
  line-height: 26px;
  display: flex;
  align-items: center;
  width: 100%;
  color: #fff;
  padding: 0 10px;
  font-size: 12px;
}

.no-data-box {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-50%);
}

.no-data-img {
  display: block;
  /*position: absolute;*/
  width: 151px;
  margin: 0 auto;
}

.no-data-text {
  text-align: center;
  color: #4A6890;
  font-size: 14px;
  margin-top: -30px;
}
