
.h5-record-container1 {
  height: 100%;
  background-color: #F7F8FA;
}

.record-container {
  width: 1280px;
  margin: 0 auto;
}

.header {
  font-size: 18px;
  line-height: 18px;
  color: white;
  margin-top: 70px;
  position: relative;
  padding-left: 15px;
}

.header:before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 18px;
  background: #3576F5;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.header-title {
  font-size: 18px;
  line-height: 18px;
  color: #3576F5;
}

/*开奖选择栏 begin */
.process-container {
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  border: 1px solid #3576F5;
  font-size: 16px;
  color: white;
  margin-top: 37px;
}

.process-item {
  width: 200px;
  height: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.process-center {
  border-left: 1px solid rgba(53,118,245, 0.2);
  border-right: 1px solid rgba(53,118,245, 0.2);
}

.process-item-selected {
  background: #3576F5;
  color: white;
}

.test-color {
  color: #2d3e6c;
}

/*开奖选择栏 end*/

/*项目编号 begin*/
.list-container {
  width: 1100px;
  margin: 0 auto;
  margin-top: 66px;
  flex-direction: column;
  min-height: 300px;
}

.list-item-container {
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  /*background-image: url("../assets/Record/list-bg.png");*/
  /*padding: 2px 4px 6px 4px;*/
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  background:rgba(23,40,65,1);
  box-shadow:0px 2px 4px 0px rgba(13,20,39,1);
  border:1px solid rgba(49,66,114,1);
  border-radius: 6px;
}

.list-item-container:last-of-type {
  margin-bottom: 0;
}

.list-item-container:hover {
  /*background-image: url("../assets/Record/list-bg-selected.png");*/
  /*background-size: contain;*/
  background-repeat: no-repeat;
}

.list-logo-container {
  background-repeat: no-repeat;
  /*background-size: contain;*/
  /*background-image: url('../assets/Record/logo-bg.png');*/
  width: 44px;
  height: 44px;
  margin-left: 55px;
  justify-content: center;
  align-items: center;
  padding: 0 5px 6px 5px;
}

.list-logo {
  width: 36px;
}
.Pitem-descriptionImg {
  width: 17px;
  /*margin-top: 10px;*/
}
.descriptionImg {
  position: relative;
  right: 25px;
}
.list-id-container {
  margin-left: 37px;
  align-items: center;
}

/*项目编号 end*/

/*参与份数 begin*/
.list-number-container {
  align-items: center;
  margin-left: 137px;
}

.list-title {
  font-size: 14px;
  color: #A2B5D9;
}

.list-separate {
  color: #A2B5D9;
  font-size: 12px;
  padding-left: 8px;
  padding-right: 18px;
}

.list-detail {
  font-size: 14px;
  color: #F5F6FA;
}

/*参与份数 end*/

/*中奖编号 begin*/
.list-win-number-container {
  margin-left: 120px;
  align-items: center;
}

/*中奖编号 end*/
/*奖金 begin*/

.description-container-kong {
  width:3px;
  height:64px;
  border-left: 1px dotted #314272;
}
.description-container-yuan {
  width: 16px;
  height: 8px;
  border-radius: 0 0 16px 16px;
  border:1px solid rgba(49,66,114,1);
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  position: relative;
  top:-8px;
  left: -8px;
  background-color:#0A1824 !important;
}
.description-container-yuanxia {
  width: 16px;
  height: 8px;
  border-radius: 16px 16px 0 0;
  border:1px solid rgba(49,66,114,1);
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  position: relative;
  bottom:-58px;
  left: -8px;
  background-color:#0A1824 !important;
}
.list-description-container {
  /*border: 1px solid red;*/
  width: 25%;
  margin-right: 4px;
  margin-top: -2px;
  height: 80px;
  align-items: center;
  flex-direction: row;
}

.list-description-detail {
  width: 100%;
  height: 100%;
  align-items: center;
}

.list-description-ing {
  justify-content: space-between;
  padding: 0 24px;
}

.list-description-ing-title {
  font-size: 16px;
  color: white;
  text-align: center;
  width: 100%;
}

.list-open-icon {
  display: block;
  width: 16px;
  height: 18px;
  /*background-image: url("../assets/Record/open-icon.png");*/
  /*background-repeat: no-repeat;*/
  /*background-size: contain;*/
}

.list-description-win {
  /*justify-content: space-between;*/
  padding: 0 24px;
}

.list-description-reward-title {
  font-size: 14px;
  color: #CFD3E9;
}

.list-description-reward-detail {
  align-items: center;
  padding-left: 25px;
  width: 75%;
}

.list-description-reward {
  font-size: 16px;
  color: white;
  margin-right: 10px;
}

.list-description-lose {
  justify-content: space-between;
  padding: 0 24px;
}

.list-description-lose-title {
  font-size: 16px;
  color: white;
  text-align: center;
  width: 100%;
}

/*奖金 end*/

/*footer begin*/
.footer {
  height: 80px;
  align-items: center;
}

/*footer end*/

/*h5*/
.h5-process-container {
  overflow: hidden;
  width: 270px;
  height: 35px;
  line-height: 35px;
  justify-content: space-between;
  border: 1px solid #3576F5;
  color: white;
  margin: 0 auto;
  border-radius: 35px;
  margin-top: 15px;
}

.h5-process-item {
  flex: 1;
  text-align: center;
  height: 100%;
  color: #6A83A8;
}

.h5-process-item-selected {
  background: #3576F5;
  color: white;
}


.h5-process-center {
  border-left: 1px solid rgba(53,118,245, 0.2);
  border-right: 1px solid rgba(53,118,245, 0.2);
}

/*h5列表*/
.h5-record-container {
  /*width: 100%;*/
  height: 100%;
  background-color: #F7F8FA;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;

  /*margin-top: 10px;*/
}

.h5-record-item-container {
  /*background-image: url("../assets/Record/h5-list-bg.png");*/
  /*background-repeat: no-repeat;*/
  /*background-size: contain;*/
  background:rgba(255,255,255,1);
  box-shadow:0rem 0.08rem 0.24rem -0.08rem rgba(1,1,1,0.13);
  width: 7.1rem;
  height: 1.6rem;
  margin: 0.3rem 0.2rem 0rem 0.2rem;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.h5-background-img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.h5-record-item-left-container {
  flex: 6.3;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px 0 10px 20px;
  position: relative;
}

.h5-record-item-right-container {
  flex: 2.2;
  position: relative;
}

.h5-record-item-id-container {
  align-items: center;
}

.h5-record-item-logo {
  /*background-image: url("../assets/Record/h5-logo-bg.png");*/
  /*background-repeat: no-repeat;*/
  /*background-size: contain;*/
  width: 0.6rem;
  height: 0.6rem;
  justify-content: center;
  align-items: center;
}

.h5-item-logo {
  width: 0.48rem;
}

.h5-record-item-id-title {
  font-size: 0.24rem;
  color:rgba(23,40,65,.6);
  margin-left: 0.18rem;

}

.h5-record-item-id-currency {
  font-size: 0.24rem;
  color:rgba(23,40,65,.6);
  margin-left: 0.2rem;
}

.h5-record-item-id {
  font-size: 0.24rem;
  color:rgba(23,40,65,.6);
  margin-left: 0.2rem;
}

.h5-record-item-copies-container {
  padding-left: 33px;
  align-items: baseline;
}

.h5-record-item-copies {
  font-size: 0.6rem;
  line-height: 0.6rem;
  color: #3576F5;
}

.h5-record-item-copies-title {
  font-size: 0.24rem;
  color:rgba(23,40,65,.6);
  line-height: 0.6rem;
  padding-left: 0.16rem;
}

.h5-record-item-right-container {
  justify-content: center;
  align-items: center;
}

.h5-record-item-open-icon {
  /*background-repeat: no-repeat;*/
  /*background-size: contain;*/
  /*background-image: url("../assets/Record/h5-open-icon.png");*/
  width: 0.24rem;
  height: 0.24rem;
  margin-left: 0.1rem;
}

.h5-record-item-description-container {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.h5-record-item-description-title {
  font-size: 0.28rem;
  color:#172841;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
}

.empty-item {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.empty-icon {
  display: block;
  width: 120px;
}

.empty-prompt {
  color: #4A6890;
  font-size: 14px;
}

.h5-empty-item {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 8rem;
}

.h5-empty-logo {
  display: block;
  width: 2.4rem;
}

.h5-empty-prompt {
  font-size: 14px;
  color: #4A6890;
}

.record-loading-container {
  position: relative;
  min-height: 300px;
}

.h5-record-loading-container {
  position: relative;
  min-height: 450px;
}

/*预测弹框*/
.forecast_dialog, .forecast_dialog_list {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, .7);
  z-index: 9000;
}

.forecast_dialog_body {
  position: absolute;
  width: 442px;
  /*height: 428px;*/
  /*background: url('../assets/Record/popup-window-bg.png') center no-repeat;*/
  left: 50%;
  margin-left: -222px;
  top: 50%;
  margin-top: -150px;
  z-index: 12;
  background-color: #FFFFFF;
}

.h5-forecast_dialog_body {
  position: absolute;
  width:6rem;
  height:5.06rem;
  background:rgba(255,255,255,1);
  box-shadow:0rem 0.1rem 0.2rem 0rem rgba(0,0,0,0.1);
  border-radius:0.06rem;
  /*background: url('../assets/Record/h5-popup-window-bg.png') center no-repeat;*/
  /*background-size: contain;*/
  left: 50%;
  /*margin: 0 auto;*/
  /*margin-left: -222px;*/
  top: 50%;
  /*margin-top: -150px;*/
  z-index: 12;
  transform: translateX(-50%) translateY(-50%);
}

.forecast_dialog_content {
  width: 100%;
  height: 100%;
  /*padding: 20px 35px;*/
}

.forecast_dialog_title {
  font-size: 18px;
  color: #0D0E23;
  height:60px;
  border-radius:1px 1px 0px 0px;
  line-height: 60px;
  /*text-align: center;*/
  background-color: #EFF0FF;
  padding: 0 25px;

  /*border-bottom: 1px solid #F2F2F2;;*/
}
.iconImg {
  width: 15px;
  position: absolute;
  right: 25px;
  margin-top: 20px;
  cursor: pointer;
}
.forecast_dialog_detail {
  margin-top: 20px;
  font-size: 14px;
  color: #333333;
  position: relative;
}

.detail_title {
  width: 25%;
  text-align: right;
  line-height: 40px;
  margin-right: 5%;
}

.detail_input {
  width: 60%;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 3%;
}

.forecast_dialog_detail.tips {
  margin: 5px;
}

.detail_tips {
  font-size: 12px;
  color: #6A83A8;
}

.detail_error {
  font-size: 12px;
  color: red;
}

.forecast_btn {
  position: absolute;
  width: 250px;
  height: 35px;
  left: 50%;
  margin-left: -125px;
  bottom: 35px;
  line-height: 35px;
  background-image: linear-gradient(-180deg, #9DF2FF 0%, #C43E4E 100%);
  box-shadow: 0 3px 3px 0 rgba(0, 70, 157, 0.38);
  border-radius: 17px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 7px;
  text-align: center;
  cursor: pointer;
}

.forecast_dialog_close {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0px;
  top: -20px;
  opacity: 0.8;
  background: #242424;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  font-size: 20px;
  line-height: 15px;
  text-align: center;
  font-weight: 100;
  cursor: pointer;
  color: #fafafa;
}

.forecast_dialog_list_close {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0px;
  top: -30px;
  opacity: 0.8;
  background: #242424;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  font-size: 20px;
  line-height: 15px;
  text-align: center;
  font-weight: 100;
  cursor: pointer;
  color: #fafafa;
}

.forecast_dialog_list_body {
  position: absolute;
  min-width: 400px;
  min-height: 300px;
  left: 50%;
  margin-left: -200px;
  top: 50%;
  margin-top: -150px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.forecast_dialog_list_body.list_width {
  min-width: 700px;
  max-width: 700px;
  margin-left: -350px;
}

.forecast_dialog_list_content {

}

.forecast_dialog_list_title {
  height: 35px;
  line-height: 20px;
  border-bottom: 1px solid #f2f2f2;
  text-align: center;
  color: #555;
  font-size: 18px;
}

.forecast_dialog_list_table {
  margin-top: 10px;
  min-height: 200px;
  border-radius: 10px;
  box-shadow: 2px 5px 10px #ededed;
}

.popup-window-article {
  flex-direction: column;
  /*height: 270px;*/
  padding: 25px 0;
  justify-content: space-between;
}

.popup-window-p {
  width: 100%;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 10px;
}

.popup-window-article-detail-title {
  width: 128px;
  text-align: right;
  color: #999999;
}

.popup-window-article-detail {
  width: 256px;
  padding-left: 5px;
  color: #333333;
}
.marign15 {
  margin-bottom: 0px;
}
.popup-forecast {
  max-height: 50px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.popup-forecast::-webkit-scrollbar {
  width: 4px;
}

.popup-forecast::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 5px;
}

.popup-forecast::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

.h5-popup-window-article {
  flex-direction: column;
  height: 4rem;
  padding: 0.4rem 0.4rem;
  justify-content: space-between;
}

.h5-popup-window-article-detail-title {
  width: 18rem;
  /*text-align: right;*/
  font-size: 0.24rem;
  color: #6A83A8;
}

.h5-popup-window-article-detail {
  width: 40rem;
  font-size: 0.24rem;
  color: #172841;
}

.h5-forecast_dialog_content {
  width: 100%;
  height: 100%;
  /*padding: 0 0.4rem;*/
}

.h5-forecast_dialog_title {
  font-size: 0.32rem;
  color: #131F30;
  height: 1.04rem;
  line-height: 1.04rem;
  text-align: center;
  border-bottom: 1px solid #F3F5FF;
}

.h5-forecast_btn {
  position: absolute;
  width: 3.6rem;
  height: 0.7rem;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.5rem;
  line-height: 0.7rem;
  background-image: linear-gradient(-180deg, #9DF2FF 0%, #C43E4E 100%);
  box-shadow: 0 3px 3px 0 rgba(0, 70, 157, 0.38);
  border-radius: 17px;
  font-size: 0.28rem;
  color: #FFFFFF;
  letter-spacing: 7px;
  text-align: center;
  cursor: pointer;
}

.h5-popup-window-loading {
  width: 100%;
  height: 4rem;
  position: relative;
}

.popup-window-loading {
  width: 100%;
  /*height: 4rem;*/
  height: 270px;
  position: relative;
}
.divHeader {
  width: 7.5rem;
  height: 1rem;
  line-height: 1rem;
  padding-left: 0.3rem;
  background-color: #FFFFFF;
}
.divHeaderImg {
  width: 0.32rem;
}
.divHeaderSpan {
  display:inline-block;
  width: 85%;
  color: #131F30;
  font-size:0.32rem;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  text-align: center;
}
.h5-record-item-descriptionImg {
  width: 0.24rem;
  margin-left: 0.2rem;
  vertical-align: middle;
}
.h5-forecast_dialog_titleImg {
  position: absolute;
  margin-top: 0.3rem;
  right: 0.4rem;
}
.h5-popup-window-pSpan {
  color: #FFFFFF;
}
