<div class="container min-height">

  <Loading v-if="loading" class="loading min-height"></Loading>

  <div class="detail-header flex">
    <span class="currency">{{$t('assetPageRechargeAndWithdrawals.currency')}}</span>
    <span class="fullName">{{$t('assetPageRechargeAndWithdrawals.fullName')}}</span>
    <span class="total">{{$t('assetPageRechargeAndWithdrawals.total')}}</span>
    <span class="available">{{$t('assetPageRechargeAndWithdrawals.available')}}</span>
    <span class="frozen">{{$t('assetPageRechargeAndWithdrawals.frozen')}}</span>
    <span class="valuation">{{$t('assetPageRechargeAndWithdrawals.valuation')}}(BTC)</span>
    <span class="rechargeAndWithdrawals">{{$t('assetPageRechargeAndWithdrawals.recharge')}} / {{$t('assetPageRechargeAndWithdrawals.withdrawals')}}</span>
  </div>

  <template v-if="!loading">
    <ul class="detail-container">
      <li class="detail-li" v-for="(item,index) in accountsComputed" :key="index"
          :class="{'li-select':activeIndex===index}">
        <div class="li-container flex">
          <span class="currency flex-center">
            <span class="currency-icon">
              <img class="currency-icon-img" :src="'http://logo.2020.exchange/'+item.currency + '.png'" alt="">
            </span>
            {{item.currency}}
          </span>
          <span class="fullName">{{item.fullName}}</span>
          <span class="total">{{toFixed(parseFloat(toFixed(item.available,8)) + parseFloat(toFixed(item.frozen,8)) , 8)}}</span>
          <span class="available">{{toFixed(item.available,8)}}</span>
          <span class="frozen">{{toFixed(item.frozen,8)}}</span>
          <span class="valuation">{{(priceReady || initReady) && item.appraisement!==0 ? toFixed(item.appraisement,8) : '--'}}</span>
          <span class="rechargeAndWithdrawals">
            <!--打开充值 begin-->
            <span class="recharge-button button" @click="openRecharge(index)"
                  :class="{'recharge-button-select':activeIndex === index  && recharge}">{{$t('assetPageRechargeAndWithdrawals.recharge')}}</span>
            <!--打开充值 end-->

            <!--关闭充值 begin-->
<!--            <span class="recharge-button button can-not-withdrawals"-->
<!--            :class="{'recharge-button-select':activeIndex === index  && recharge}">{{$t('assetPageRechargeAndWithdrawals.recharge')}}</span>-->
            <!--关闭充值 end-->

            <!--打开提现 begin-->
            <span class="withdrawals-button button" @click="openWithdrawals(index)"
                  :class="{'withdrawals-button-select':activeIndex===index  && withdrawals}"
                  v-if="item.total!==0"
            >{{$t('assetPageRechargeAndWithdrawals.withdrawals')}}</span>
            <span class="withdrawals-button button can-not-withdrawals" v-else>{{$t('assetPageRechargeAndWithdrawals.withdrawals')}}</span>
            <!--打开提现 end-->

            <!--关闭提现 begin-->
            <!--<span class="withdrawals-button button can-not-withdrawals">{{$t('assetPageRechargeAndWithdrawals.withdrawals')}}</span>-->
            <!--关闭提现 end-->

        </span>
        </div>
        <RechargeAndWithdrawalsRecharge v-if="activeIndex === index  && recharge" @close="openRecharge(index)"
                                        :currency="item.currency"/>
        <RechargeAndWithdrawalsWithdrawals v-if="activeIndex===index  && withdrawals" @close="openWithdrawals(index)"
                                           :currency="item.currency" :available="item.available"/>
      </li>
    </ul>
  </template>


  <!--弹窗-->
  <PopupWindow :switch="popWindowOpen" @close="popWindowClose">
    <div slot="header">
      <span>{{popWindowTitle}}</span>
    </div>
    <div slot="article" class="pop-article">{{popWindowPrompt}}</div>
    <div slot="footer" class="pop-footer flex">
      <template v-if="popWindowStyle==0">
        <button @click="popWindowClose" class="button-base">{{$t('assetPageRechargeAndWithdrawals.cancel')}}</button>

        <button @click="goToBindIdentity" class="button-base">{{$t('assetPageRechargeAndWithdrawals.verification')}}
        </button>
      </template>
      <template v-if="popWindowStyle==1">
        <button @click="goToBindGA" class="button-base">{{$t('assetPageRechargeAndWithdrawals.bindGa')}}</button>
        <button @click="goToBindMobile" class="button-base">{{$t('assetPageRechargeAndWithdrawals.bindMobile')}}
        </button>
      </template>
      <template v-if="popWindowStyle==2">
        <button @click="popWindowClose" class="button-base">{{$t('assetPageRechargeAndWithdrawals.ensure')}}</button>
      </template>
    </div>
  </PopupWindow>

</div>
