/*下方内容*/
.loading {
  width: 100%;
  background-color: #fff;
}

.container {
  display: block;
  width: 100%;
  position: relative;
}

.detail-header {
  width: 100%;
  position: relative;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  height: 35px;
  background-color: #cae7ea;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  font-size: 1.2rem;
  text-align: center;
}

.currency {
  flex: 13.7;
  /*flex:19.9;*/
}

/*币种图标container*/
.currency-icon {
  width: 14px;
  height: 14px;
  /*border: 1px solid red;*/
  display: inline-block;
  margin-right: 8px;
}

/*币种图标具体图片*/
.currency-icon-img {
  margin: 0 auto;
  height: 14px;
  display: block;
}

.fullName {
  flex: 15.5;
  /*flex:9.3;*/
  /*text-align: left;*/
}

.total {
  flex: 12.7;
}

.available {
  flex: 13.7;
}

.frozen {
  flex: 13.7;
}

.valuation {
  flex: 13.7;
}

.rechargeAndWithdrawals {
  flex: 17.3;
}

/*列表*/
.detail-container {

}

.detail-li {
  /*height:35px;*/
  height: auto;
  background-color: #fff;
}

.detail-li:hover {
  background-color:rgba(196,62,78,0.03);
}

.li-select {
  background-color:rgba(196,62,78,0.03);

}

/*具体内容*/
.li-container {
  width: 100%;
  text-align: center;
  height: 35px;
  align-items: center;
  -webkit-align-items: center;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;

}

/*充值提现按钮container*/
.rechargeAndWithdrawals {

}

/*充值提现按钮总*/
.button {
  display: inline-block;
  width: 50px;
  height: 20px;
  line-height: 20px;
  padding: 0 5px;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 5px
}

/*充值按钮*/
.recharge-button {
  border: 1px solid #C43E4E;
  color: #C43E4E;
}

/*提现按钮*/
.withdrawals-button {
  border: 1px solid #C43E4E;
  color: #C43E4E;
}

/*提现选中*/
.withdrawals-button-select {
  color: white;
  background-color: #C43E4E;
}

/*充值选中*/
.recharge-button-select {
  color: white;
  background-color: #C43E4E;
}

/*提现置灰色*/
.can-not-withdrawals {
  color: #e6e6e6;
  border-color: #e6e6e6;
}

/*弹窗样式*/
.pop-footer {
  width: 100%;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.select-address-detail {

}

.pop-article {
  padding: 20px 0;
}

