<div class="documentary-god">
  <div class="record-container2">
    <div class="header">
      <router-link :to="{name:'followTrade'}" class="header-title">
        <!--我的镜像交易-->
        {{$t('followOrder')}}
      </router-link>
      <span class="spanbf">></span>
      <!--大神UID-->
      {{godInfo.userId ? godInfo.userId : $route.query.userId}}
    </div>
  </div>

  <div class="documentary-conter">
    <!-- 大神信息-->
    <div class="follow-data" >
      <div class="follow-data-box flex">
        <img class="follow-data-box-img" src="../assets/big-brother.png" alt="">
        <div class="follow-data-box-img-box">{{godInfo.userId ? godInfo.userId : $route.query.userId}}</div>
      </div>

      <div class="flex">
        <div class="flex follow-buw">
          <div class="follow-wi">
            <div class="follow-bink">{{toFixed(godInfo.sum,2) || '0'}}</div>
            <!--累计交易量-->
            <div class="follow-gru2">{{$t('totalTransactionVolume')}}</div>
          </div>
          <div class="follow-wi">
            <div class="follow-bink">{{godInfo.count ? godInfo.count : '0'}}</div>
            <!--交易笔数-->
            <div class="follow-gru2">{{$t('numberOfTransactions')}}</div>
          </div>
          <div class="follow-wi">
            <div class="follow-bink">{{godInfo.followCount ? godInfo.followCount : '0'}}</div>
            <!--累计跟单人数-->
            <div class="follow-gru2">{{$t('totalDocumentaryNumber')}}</div>
          </div>
          <div class="follow-wi">
            <div class="follow-gru">{{godInfo.rate ? godInfo.rate * 10 * 10 : '0'}} %</div>
            <!--累计收益率-->
            <div class="follow-gru2">{{$t('totalIncomeRate')}}</div>
          </div>


        </div>
        <div class="follow-btn-box">
          <div class="follow-gde">{{$route.query.fee || '0'}} USDT / {{$route.query.days  || '0'}}{{$t('days')}}</div>
          <!--跟单-->
          <div class="follow-fff" v-if="$route.query.isFollow < 0" @click="jumpToFollowDocumentary">{{$t('documentary')}}</div>
          <!--已跟随-->
          <div class="follow-c" v-if="$route.query.isFollow >= 0">{{$t('following')}}</div>
        </div>
      </div>




    </div>
    <!-- 大神持仓-->
    <div class="record">
      <!--   当前持仓/跟随者-->
      <div class="recordMining borbot">
        <!--历史持仓-->
        <div class="record_div pointer" @click="toggleType(1)" :class="{'selected_cardType':fixedFollow == 1}">{{$t('historicalPosition')}}</div>
        <!--跟随者-->
        <div class="record_div selected_cardTypeML pointer" @click="toggleType(2)" :class="{'selected_cardType':fixedFollow == 2}">{{$t('henchman')}}</div>
      </div>
      <!-- 当前持仓 -->
      <ul class="recordUl" v-if="fixedFollow == 1">
        <!--表头 S-->
        <li class="application_header">
          <!-- 时间-->
          <div class="application_header_div">{{$t('time')}}</div>
          <!-- 交易对-->
          <div class="application_header_div">{{$t('transactionPair')}}</div>
          <!-- 类型-->
          <div class="application_header_div">{{$t('type')}}</div>
          <!-- 价格-->
          <div class="application_header_div">{{$t('henchman')}}</div>
          <!-- 数量-->
          <div class="application_header_div">{{$t('amount')}}</div>
          <!-- 金额-->
          <div class="application_header_div_right">{{$t('money')}}</div>
        </li>
        <template>
          <!-- 历史持仓 -->
          <template v-if="godHistorList.length !== 0">
            <li class="flex application_li" v-for="(item,index) in godHistorList">
              <!--时间-->
              <div class="application_header_div">{{$globalFunc.formatDateUitl(Number(item.createdAt),'YYYY-MM-DD hh:mm:ss')}}</div>
              <!--交易对-->
              <div class="application_header_div">{{item.symbol.replace('_','/')}}</div>
              <!--类型-->
              <div class="application_header_div" :class="item.type=='BUY_LIMIT'?'text-green':'text-red'">
                <!--买入/卖出-->
                {{item.type == 'BUY_LIMIT'? $t('buyIn'):$t('selllOut')}}
              </div>
              <!--价格-->
              <div class="application_header_div">{{item.price || '0'}}</div>
              <!--数量-->
              <div class="application_header_div">{{item.amount || '0'}}</div>
              <!--金额-->
              <div class="application_header_div_right">{{toFixed(item.price * item.amount,2)}}</div>
            </li>
          </template>

          <!-- 无数据图片 -->
          <template v-else>
            <li class="weit">
              <div class="nhtu"><img src="../assets/no_list.png">
                <p class="nhtu_p">{{$t('orderPageCurrentEntrustment.close_9')}}</p>
              </div>
            </li>
          </template>

          <!--当前记录加载更多  -->
          <!--            <template v-if="showLoadingMore && godHistorList.length !== 0">-->
          <!--              <li class="loading-more">-->
          <!--                <span class="text_blue pointer" v-if="!loadingMoreShow" @click="clickLoadingMore">{{$t('orderPageHistoricalEntrustment.close_10')}}</span>-->
          <!--                <span class="text_blue" v-else>{{$t('orderPageHistoricalEntrustment.close_11')}}</span>-->
          <!--              </li>-->
          <!--            </template>-->

        </template>
      </ul>
      <!-- 跟随者 -->
      <ul class="recordUl1" v-if="fixedFollow == 2">
        <!--历史挖矿记录表头 S-->
        <li class="application_header">
          <!--          账号-->
          <div class="application_header_div">{{$t('accountNumber')}}</div>
          <!--          跟单总额-->
          <div class="application_header_div">{{$t('totalDocumentaryAmount')}}（USDT）</div>
          <!--          跟随收益-->
          <div class="application-header-div-box">{{$t('followUpIncome')}}（USDT）</div>
        </li>
        <template>
          <!-- 历史挖矿记录-->
          <template v-if="followUserList.length !== 0">
            <li class="" v-for="(item,index) in followUserList" :key="item.id">

              <div class="flex application_li2">
                <!--账号-->
                <div class="application_header_div ">{{item.userId}}</div>
                <!--跟单总额-->
                <div class="application_header_div ">{{item.amount || '0'}}</div>
                <!--跟随收益-->
                <div class="application-header-div-box">{{item.profit || '0'}}</div>

              </div>
            </li>

          </template>
          <!-- 如果加载完成、已登录、有数据，则显示数据 end -->

          <!-- 如果没加载完成、没登录、没数据，则显示'--' begin -->
          <template v-else>
            <li class="weit">
              <div class="nhtu"><img src="../assets/no_list.png">
                <p class="nhtu_p">{{$t('orderPageCurrentEntrustment.close_9')}}</p>
              </div>
            </li>
          </template>
        </template>
      </ul>

    </div>
  </div>


  <PopupWindow :switch="popWindowOpen" @close="popWindowClose">
    <div slot="header">
      <!--跟单-->
      <span class="update-follow">{{$t('documentary')}}</span>
    </div>
    <div slot="article" class="update-follow-article">
      <div class="follow-order flex">
        <!--跟单-->
        <div>{{$t('documentary')}}</div>
        <div class="follow-order-data">{{$route.query.userId}}</div>
      </div>
      <div class="follow-order flex">
        <!--跟单币对-->
        <div>{{$t('documentaryCurrencyPair')}}</div>
        <div class="follow-order-data">BTC/USDT</div>
      </div>
      <div class="follow-order">
        <!--跟单方式-->
        <div class="follow-order-title">{{$t('documentaryMode')}}</div>
        <div class="flex">
          <!--固定金额-->
          <div class="fixed-amount-proportion pointer" :class="followType == 'LOT' ? 'fixed-amount' : '' " @click="fixedType('LOT')">{{$t('fixedAmount')}}</div>
          <!--固定比例-->
          <div class="fixed-amount-proportion pointer" :class="followType == 'RATE' ? 'fixed-amount' : '' " @click="fixedType('RATE')">{{$t('fixedProportion')}}</div>
        </div>
      </div>
      <div class="fund-description-amount" v-if="followType == 'LOT'">
        <!--跟单金额-->
        <div class="fund-description-usdt">{{$t('documentarySum')}}（USDT）</div>
        <div class="fund-description-info-right-input">
          <!--输入金额-->
          <input v-model="fixedAmountLot" :placeholder="this.$t('enterAmount')"
                 step="1"  min="0" onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''">
        </div>
      </div>
      <div class="fund-description-amount" v-if="followType == 'RATE'">
        <!--        <div class="fund-description-usdt">单位基准(USDT/单位)</div>-->
        <!--        <div class="fund-description-info-right-input">-->
        <!--          <input v-model="fixedAmountRate" placeholder="输入比例"-->
        <!--                 step="1"  min="0" onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''"> %-->
        <!--        </div>-->
      </div>
      <div class="remind" v-if="followType == 'LOT'" >
        <!--固定金额跟单：-->
        <div>{{$t('fixedAmountOrders_detail')}}</div>
        <!--1、例如您设置跟单金额为100USDT，交易员下单时，无论交易员以多少金额下单，您都将以100USDT作为本金以交易员相同的价格跟随下单；-->
        <div>{{$t('fixedAmountOrders_detail1')}}</div>
        <!--2、交易员每下一次单，您都将以每次100USDT的本金进行跟单操作，当您的可用资产小于100USDT时，此次跟单失败；-->
        <div>{{$t('fixedAmountOrders_detail2')}}</div>
        <!--3、当交易员撤掉时，您同步跟随的该笔订单将同步被撤销；-->
        <div>{{$t('fixedAmountOrders_detail3')}}</div>
        <!--4、在交易员未进行撤单操作时，您也可以自行取消该笔跟单操作；-->
        <div>{{$t('fixedAmountOrders_detail4')}}</div>
        <!--5、买入、卖出均已USDT进行核算，例：以一个BTC10000美金为例，100USDT固定金额相当于 0.01BTC。-->
        <div>{{$t('fixedAmountOrders_detail5')}}</div>
      </div>
      <div class="remind" v-if="followType == 'RATE'">
        <!--固定比例跟单：-->
        <div>{{$t('fixedProportionOrders')}}</div>
        <!--1、按比例跟单，如果交易员以10%的仓位本金进行下单时，您将以自己仓位的10%的本金进行自动跟单；-->
        <div>{{$t('fixedProportionOrders_detail1')}}</div>
        <!--2、比如交易员仓位1000美金，下单100美金，占仓位的10%，您仓位有500美金，则以50美金进行跟单；-->
        <div>{{$t('fixedProportionOrders_detail2')}}</div>
        <!--3、如果交易员仓位1000美金，以1000美金下单，占仓位的100%，您仓位有10000美金，则以10000美金进行全仓跟单；-->
        <div>{{$t('fixedProportionOrders_detail3')}}</div>
        <!--4、跟单时将与带单交易员相同的价格进行下单，直至您的可用资金不足为止；-->
        <div>{{$t('fixedProportionOrders_detail4')}}</div>
        <!--5、当交易员撤掉时，您同步跟随的该笔订单将同步被撤销；-->
        <div>{{$t('fixedProportionOrders_detail5')}}</div>
        <!--6、在交易员未进行撤单操作时，您也可以自行取消该笔跟单操作。-->
        <div>{{$t('fixedProportionOrders_detail6')}}</div>
      </div>
    </div>
    <div slot="footer" class="pop-recharge-bottom">
      <!--立即跟单-->
      <div class="documentary-button pointer" @click="postDocumentaryImmediately">{{$t('documentaryImmediately')}}</div>
    </div>

  </PopupWindow>
  <PopupPrompt :popOpen="popOpen" :popClose="closePop" :popType="popType" :popText="popText" :waitTime="waitTime" />

</div>
