<div class="container">
  <!--    面包屑-->
  <div class="follow-info">
    <div class="follow-container">
      <div class="follow-trande-bread">
        <router-link to="/index/followTrade" class="management">{{$t('followOrder')}}</router-link>
        <span> > </span>
        {{$t('myHomePage')}}
      </div>
    </div>
  </div>

  <div class="follow-asset">
    <div class="follow-asset-title">
      <div class="trade-top-banner flex">
        <div class="flex">
          <div>
            <img src="../assets/big-brother.png" alt="" class="trade-img">
          </div>
          <div class="trade-top-banner-text">{{userId}}</div>
        </div>
        <div class="follow-management pointer" @click="goToTapeListManage" v-if="isTapeList">
          <img src="../assets/setting_icon.png" alt="">
          <!--带单管理-->
          <span>{{$t('tapeListManagement')}}</span>
        </div>
      </div>
      <div class="trade-top-data flex">

        <div class="trade-data-item">
          <div class="trade-data">{{toFixed(godInfo.sum || '0',2)}}</div>
          <!--累计交易量-->
          <div>{{$t('totalTransactionVolume')}}</div>
        </div>

        <div class="trade-data-item">
          <div class="trade-data">{{godInfo.count || '- -'}}</div>
          <!--交易笔数-->
          <div>{{$t('numberOfTransactions')}}</div>
        </div>

        <div class="trade-data-item">
          <div class="trade-data">{{godInfo.followCount || '- -'}}</div>
          <!--跟单人数-->
          <div>{{$t('totalDocumentaryNumber')}}</div>
        </div>

        <div class="trade-data-item">
          <div class="trade-data text-green">{{toFixed(godInfo.rate || '0',2)}} %</div>
          <!--累计收益率-->
          <div>{{$t('totalIncomeRate')}}</div>
        </div>
      </div>
    </div>

    <div class="trade-top-data-two" v-if="!isTapeList">
      <div class="trade-top-data-text">
        <!--该用户未分享交易活动-->
        <div class="trade-top-data-no">{{$t('notShare')}}</div>
        <!--开启带单交易，双重获利-->
        <div class="trade-top-data-btn pointer" @click="openTapeList">{{$t('doubleProfit')}}</div>
      </div>

    </div>

    <!-- 自己持仓-->
    <div class="record" v-if="isTapeList">
      <!--   当前持仓/跟随者-->
      <div class="recordMining borbot">
        <!--历史持仓-->
        <div class="record_div pointer" @click="toggleType(1)" :class="{'selected_cardType':followType == 1}">{{$t('historicalPosition')}}</div>
        <!--跟随者-->
        <div class="record_div selected_cardTypeML pointer" @click="toggleType(2)" :class="{'selected_cardType':followType == 2}">{{$t('henchman')}}</div>
      </div>
      <!-- 当前持仓 -->
      <ul class="recordUl" v-if="followType == 1">
        <!--表头 S-->
        <li class="application_header">
          <!--时间-->
          <div class="application_header_div">{{$t('time')}}</div>
          <!--交易对-->
          <div class="application_header_div">{{$t('transactionPair')}}</div>
          <!--类型-->
          <div class="application_header_div">{{$t('type')}}</div>
          <!--价格-->
          <div class="application_header_div">{{$t('henchman')}}</div>
          <!--数量-->
          <div class="application_header_div">{{$t('amount')}}</div>
          <!--金额-->
          <div class="application_header_div_right">{{$t('money')}}</div>
        </li>
        <template>
          <!-- 历史持仓 -->
          <template v-if="godHistorList.length !== 0">
            <li class="flex application_li" v-for="(item,index) in godHistorList">
              <!--时间-->
              <div class="application_header_div">{{$globalFunc.formatDateUitl(Number(item.createdAt),'YYYY-MM-DD hh:mm:ss')}}</div>
              <!--交易对-->
              <div class="application_header_div">{{item.feeCurrency}}</div>
              <!--类型-->
              <div class="application_header_div" :class="item.type=='BUY_LIMIT'?'text-green':'text-red'">
                <!--买入/卖出-->
                {{item.type == 'BUY_LIMIT'? $t('buyIn'):$t('selllOut')}}
              </div>
              <!--价格-->
              <div class="application_header_div">{{item.price}}</div>
              <!--数量-->
              <div class="application_header_div">{{toFixed(item.amount,2)}}</div>
              <!--金额-->
              <div class="application_header_div_right">{{toFixed(item.price * item.amount,2)}}</div>
            </li>
          </template>

          <!-- 无数据图片 -->
          <template v-else>
            <li class="weit">
              <div class="nhtu"><img src="../assets/no_list.png">
                <p class="nhtu_p">{{$t('orderPageCurrentEntrustment.close_9')}}</p>
              </div>
            </li>
          </template>

          <!--当前记录加载更多  -->
          <!--            <template v-if="showLoadingMore && godHistorList.length !== 0">-->
          <!--              <li class="loading-more">-->
          <!--                <span class="text_blue pointer" v-if="!loadingMoreShow" @click="clickLoadingMore">{{$t('orderPageHistoricalEntrustment.close_10')}}</span>-->
          <!--                <span class="text_blue" v-else>{{$t('orderPageHistoricalEntrustment.close_11')}}</span>-->
          <!--              </li>-->
          <!--            </template>-->

        </template>
      </ul>
      <!-- 跟随者 -->
      <ul class="recordUl1" v-if="followType == 2">
        <!--历史挖矿记录表头 S-->
        <li class="application_header">
          <!--          账号-->
          <div class="application_header_div">{{$t('accountNumber')}}</div>
          <!--          跟单总额-->
          <div class="application_header_div">{{$t('totalDocumentaryAmount')}}（USDT）</div>
          <!--          跟随收益-->
          <div class="application-header-div-box">{{$t('followUpIncome')}}（USDT）</div>
        </li>
        <template>
          <!-- 历史挖矿记录-->
          <template v-if="followUserList.length !== 0">
            <li class="" v-for="(item,index) in followUserList" :key="item.id">

              <div class="flex application_li">
                <!--账号-->
                <div class="application_header_div ">{{item.userId}}</div>
                <!--跟单总额-->
                <div class="application_header_div ">{{item.amount || '0'}}</div>
                <!--跟随收益-->
                <div class="application-header-div-box ">{{item.profit || '0'}}</div>

              </div>
            </li>

          </template>
          <!-- 如果加载完成、已登录、有数据，则显示数据 end -->

          <!-- 如果没加载完成、没登录、没数据，则显示'--' begin -->
          <template v-else>
            <li class="weit">
              <div class="nhtu"><img src="">
                <p class="nhtu_p">{{$t('orderPageCurrentEntrustment.close_9')}}</p>
              </div>
            </li>
          </template>
        </template>
      </ul>

    </div>
  </div>

  <!--开启策略跟单弹框-->
  <PopupWindow :switch="popWindowOpen" @close="popWindowClose">
    <div slot="header">
      <!--开启策略跟单-->
      <span class="update-follow">{{$t('openStrategyDocumentary')}}</span>
    </div>
    <div slot="article" class="update-follow-article">
      <div class="follow-order flex">
        <!--跟单币对-->
        <div>{{$t('documentaryCurrencyPair')}}</div>
        <div class="follow-order-data">BTC/USDT</div>
      </div>
      <div class="follow-order-item flex">
        <!--订阅费用-->
        <div class="follow-order-pair">{{$t('subscriptionFee')}}(USDT)</div>
        <div class="follow-order-currency">
          <input v-model="currencyPair" v-if="!isHasItem" class="currency-account" onkeyup="value = value.match(/\d+(\.\d{0,2})?/) ? value.match(/\d+(\.\d{0,2})?/)[0] : ''">
        </div>
      </div>
      <div class="mobile-open-tape-pop-window-content-text">
        <!--开启后，如您收益率靠前，您将可能出现在带单龙虎榜榜单中，同时可被用户跟单，零成本获得额外的带单收益，双重盈利。-->
        {{$t('openInterpretation')}}
      </div>
    </div>
    <div slot="footer" class="pop-recharge-bottom">
      <!--确认开启-->
      <div class="documentary-button pointer" @click="postCommitFee">{{$t('commitOpen')}}</div>
    </div>
  </PopupWindow>

  <!--toast弹框-->
  <PopupPrompt :popOpen="popOpen" :popClose="closePop" :popType="popType" :popText="popText" :waitTime="waitTime" />

</div>
