<div class="mobile-follow-trade">
  <!--  非ios头部-->
  <div v-show="!isApp" class="fund-buy-header-title">
    <div class="fund-buy-header-title-back-icon" @click="goToFollowTrade">
      <img class="fund-buy-header-title-back-icon-img" src="../../LuckyDraw/assets/mobileForecastHomePage/back_icon.png" alt="">
    </div>
    <div class="fund-buy-header-title-text">跟单</div>
  </div>

  <!--  跟单主体部分-->
  <div class="fund-buy-main" :class="isApp ? 'fund-buy-main-app' : '' ">

    <div class="fund-description-info">
      <div class="fund-description-info-item">
        <div class="fund-description-info-left">跟单</div>
        <div class="fund-description-info-right">{{$route.query.userId || '--'}}</div>
      </div>
      <div class="fund-description-info-item">
        <div class="fund-description-info-left">跟单币对</div>
        <div class="fund-description-info-right">BTC/USDT</div>
      </div>
      <div class="fund-description-felx">
        <div class="fund-description-info-left">跟单方式</div>
      </div>
      <div class="flex">
        <div class="fixed-amount-proportion" :class="followType == 'LOT' ? 'fixed-amount' : '' " @click="fixedType('LOT')">固定金额</div>
        <div class="fixed-amount-proportion" :class="followType == 'RATE' ? 'fixed-amount' : '' " @click="fixedType('RATE')">固定比例</div>
      </div>
      <div class="fund-description-amount" v-if="followType == 'LOT'">
        <div class="fund-description-usdt">跟单金额(USDT)</div>
        <div class="fund-description-info-right-input">
          <input v-model="fixedAmount" placeholder="输入金额"
                 step="1"  min="0" onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''">
        </div>
      </div>
      <div class="fund-description-amount" v-if="followType == 'RATE'">
        <div class="fund-description-usdt">单位基准(USDT/单位)</div>
        <div class="fund-description-info-right-input">
          <input v-model="fixedAmount" placeholder="输入比例"
                 step="1"  min="0" onkeyup="this.value= this.value.match(/\d+(\.\d{0,2})?/) ? this.value.match(/\d+(\.\d{0,2})?/)[0] : ''"> %
        </div>
      </div>
      <div class="remind">
        <div>固定金额跟单：</div>
        <div>1、例如您设置跟单金额为100USDT，交易员下单时，无论交易员以多少金额下单，您都将以100USDT作为本金以交易员相同的价格跟随下单；</div>
        <div>2、交易员每下一次单，您都将以每次100USDT的本金进行跟单操作，当您的可用资产小于100USDT时，此次跟单失败；</div>
        <div>3、当交易员撤掉时，您同步跟随的该笔订单将同步被撤销；</div>
        <div>4、在交易员未进行撤单操作时，您也可以自行取消该笔跟单操作；</div>
        <div>5、买入、卖出均已USDT进行核算，例：以一个BTC10000美金为例，100USDT固定金额相当于 0.01BTC。</div>
      </div>

    </div>
  </div>

<!-- 跟单按钮 -->
  <div class="documentary-box">
    <div class="mobile-trade-open-exchange-text flex">
      <div class="mobile-trade-fee">费用</div>
      <div class="mobile-trade-order-fee text_blue">100.00USDT/7天</div>
    </div>
    <div class="documentary-button" @click="postDocumentaryImmediately">立即跟单</div>
  </div>

  <PopupPrompt :popOpen="popOpen" :popClose="closePop" :popType="popType" :popText="popText" :waitTime="waitTime" />

</div>
