<div class="mobile-follow-trade">
  <Loading v-if="loading"/>

  <!--ios status栏-->
  <div v-if="(isApp)" class="mobile-status-bar-ios"/>
  <div v-if="(isApp)" class="mobile-status-bar-bg-ios"/>

  <!--头部-->
  <div :class="(isApp) ? 'mobile-header-ios' : 'fund-buy-header-title' ">
    <div class="fund-buy-header-title-back-icon" @click="jumpToBack">
      <img class="fund-buy-header-title-back-icon-img" src="../../LuckyDraw/assets/mobileForecastHomePage/back_icon.png" alt="">
    </div>
    <div class="fund-buy-header-title-text">策略跟单</div>
    <div @click="goToMobileFollowTradeStrategy"><img class="fund-buy" src="../assets/manage_with_orders_icon.png" alt=""></div>
  </div>

<!--  策略跟单主体部分-->
  <div class="fund-buy-main">
<!--    顶部banner-->
    <div class="folloe-banner">
      <img class="folloe-banner-img" src="../assets/with-banner.png" alt="">
    </div>

    <div class="with-list flex">
      <div class="with-billboard">带单龙虎榜</div>
      <div class="my-with-single" @click="goToMobileMyFollowOrder">我的跟单</div>
      <div @click="goToMobileMyFollowOrder"><img class="my-with-single-img" src="../../LuckyDraw/assets/mobileForecastHomePage/item_right_icon.png" alt=""></div>
    </div>
    <div class="data-update">数据每小时更新一次</div>

    <!--遍历大佬详细信息Start-->
    <div class="big-brother-start" v-for="(item,index) in listGod" @click="goToDocumentary(item)">
    <!--大佬头像Start-->
      <div class="big-brother-large-box flex">
        <div>
          <img class="big-brother-img" src="../assets/big-brother.png" alt="">
        </div>
        <div class="big-brother-uid">{{item.userId}}</div>
        <div class="documentary-details">
          <div class="">
            <span class="documentary" v-if="godList.indexOf(item.userId) < 0">跟单</span>
            <span class="documentary-follow" v-if="godList.indexOf(item.userId) >= 0">已跟随</span>
          </div>
          <div class="interest-rate">{{item.fee || '0'}} USDT/ {{days || '0'}}天</div>
        </div>
      </div>
      <!--大佬头像End-->

      <!--大佬交易详情Start-->
      <div class="details-of-big-brother-transaction flex">
        <div class="accumulated-income">
          <div class="percentage">{{toFixed(item.rate* 10 * 10,2) }}%</div>
          <div class="padding-bottom color-a2">累计收益率</div>
          <div class="color-13">{{toFixed(item.sum,2) || '0'}}</div>
          <div class="color-a2">累计交易量</div>
        </div>
        <div class="accumulated-income">
          <div class="color-13">{{item.count}}</div>
          <div class="padding-bottom color-a2">交易笔数</div>
          <div class="color-13">{{item.followCount || '0'}}</div>
          <div class="color-a2">累计跟单人数</div>
        </div>

      </div>
      <!--大佬交易详情End-->
    </div>
    <!--遍历大佬详细信息End-->
  </div>

  <!--toast弹框-->
  <PopupPrompt :popOpen="popOpen" :popClose="closePop" :popType="popType" :popText="popText" :waitTime="waitTime" />

</div>
