<div class="mobile-follow-trade">
  <Loading v-if="loading"/>
<!--  非ios头部-->
  <div v-show="!isApp" class="fund-buy-header-title">
    <div class="fund-buy-header-title-back-icon" @click="jumpToBack">
      <img class="fund-buy-header-title-back-icon-img" src="../../LuckyDraw/assets/mobileForecastHomePage/back_icon.png" alt="">
    </div>
    <div class="fund-buy-header-title-text">策略跟单</div>
    <div @click="goToMobileFollowTradeStrategy"><img class="fund-buy" src="../assets/manage_with_orders_icon.png" alt=""></div>
  </div>

<!--  策略跟单主体部分-->
  <div class="fund-buy-main" :class="isApp ? 'fund-buy-main-app' : '' ">
<!--    顶部banner-->
    <div class="folloe-banner">
      <img class="folloe-banner-img" src="../assets/with-banner.png" alt="">
    </div>

    <div class="with-list flex">
      <div class="with-billboard">带单龙虎榜</div>
      <div class="my-with-single" @click="goToMobileMyFollowOrder">我的跟单</div>
      <div @click="goToMobileMyFollowOrder"><img class="my-with-single-img" src="../../LuckyDraw/assets/mobileForecastHomePage/item_right_icon.png" alt=""></div>
    </div>
    <div class="data-update">数据每小时更新一次</div>

    <!--遍历大佬详细信息Start-->
    <div class="big-brother-start" v-for="(item,index) in listGod">
    <!--大佬头像Start-->
      <div class="big-brother-large-box flex">
        <div @click="goToDocumentaryGod">
          <img class="big-brother-img" src="../assets/big-brother.png" alt="">
        </div>
        <div class="big-brother-uid">{{item.userId}}</div>
        <div class="documentary-details">
          <div class="" @click="goToDocumentary(item.userId,item.fee)"><span class="documentary">跟单</span></div>
          <div class="interest-rate">{{item.fee}} USDT/30 天</div>
        </div>
      </div>
      <!--大佬头像End-->

      <!--大佬交易详情Start-->
      <div class="details-of-big-brother-transaction flex">
        <div class="accumulated-income">
          <div class="percentage">{{item.rate * 10 * 10}}%</div>
          <div class="padding-bottom color-a2">累计收益率</div>
          <div class="color-13">{{item.sum}}</div>
          <div class="color-a2">累计交易量</div>
        </div>
        <div class="accumulated-income">
          <div class="color-13">{{item.count}}</div>
          <div class="padding-bottom color-a2">交易笔数</div>
          <div class="color-13">{{item.followCount}}</div>
          <div class="color-a2">累计跟单人数</div>
        </div>

      </div>
      <!--大佬交易详情End-->
    </div>
    <!--遍历大佬详细信息End-->

  </div>
</div>
