<div class="mobile-trade-strategy">
  <!--顶部标题-->
  <div class="mobile-trade-header-title">
    <!--返回按钮-->
    <div class="mobile-trade-header-title-back-icon" @click="jumpToFollowTrade()">
      <img class="mobile-trade-header-title-back-icon-img" src="../../LuckyDraw/assets/mobileForecastHomePage/back_icon.png" alt="">
    </div>
    <!--UID标题-->
    <div class="fund-buy-header-title-text">1000012</div>
    <!--设置按钮-->
    <div class="mobile-trade-header-title-setting-icon">
      <img class="mobile-trade-header-title-back-icon-img" src="../assets/setting_icon.png" alt="">
    </div>
  </div>

  <!--内容上部-->


  <!--内容下部-->




</div>
