<div class="mobile-my-follow-order">

  <!--顶部标题-->
  <div class="mobile-trade-header-title">
    <!--返回按钮-->
    <div class="mobile-trade-header-title-back-icon" @click="jumpToFollowTrade()">
      <img class="mobile-trade-header-title-back-icon-img" src="../../LuckyDraw/assets/mobileForecastHomePage/back_icon.png" alt="">
    </div>
    <!--标题-->
    <div class="mobile-trade-header-title-text">我的跟单</div>
  </div>

  <div class="mobile-trade-header-null"></div>
  <div class="open-automatic-renew">
    <div class="open-automatic-renew-top flex">
      <div class="open-automatic-renew-title">自动续费</div>
      <div class="open-automatic-renew-img">
        <!--关闭按钮-->
        <div @click="clickToggle" v-if="isAutomatic">
          <img src="../../../assets/personalCenter/personal_center_close.png" alt="">
        </div>
        <!--              打开按钮-->
        <div @click="clickToggle" v-if="!isAutomatic">
          <img src="../../../assets/personalCenter/personal_center_open.png" alt="">
        </div>
      </div>
    </div>

    <div class="open-automatic-renew-text">
      订阅到期后，将自动续费原带单员，带单员的订阅费用可能会随时调整，自动续费金额以带单员最新订阅费用为准，请随时关注，如不想自动续费，请关闭自动续费功能。
    </div>
  </div>

  <!--跟单统计-->
  <div class="follow-statistics flex-around">
    <div class="follow-statistics-item">
      <div class="follow-statistics-item-title">累计跟单总金额(USDT)</div>
      <div class="follow-statistics-item-money">1000</div>
    </div>
    <div class="follow-statistics-item">
      <div class="follow-statistics-item-title">跟单总收益(USDT)</div>
      <div class="follow-statistics-item-money">1000</div>
    </div>
  </div>
  <!--跟单统计end-->

  <!--正在跟随-->
  <div class="mobile-trade-center">
    <div class="mobile-trade-center-title">正在跟随</div>
    <div class="mobile-trade-center-content">

      <div class="mobile-trade-center-content-item">
        <!--跟随者信息-->
        <div class="mobile-trade-item-follower flex-between">
          <div class="mobile-trade-item-follower-info flex-row">
            <img src="../assets/big-brother.png" class="mobile-trade-item-follower-avatar">
            <div class="mobile-trade-item-follower-uid">100002
              <div class="mobile-trade-item-top-right">06/11 02:18:07</div>
            </div>
          </div>
          <div class="mobile-trade-item-follower-cancle-btn">取消跟随</div>
        </div>

        <div class="mobile-trade-item-top flex">
          <div class="mobile-trade-item-top-left flex">
            <div class="mobile-trade-item-currency">
              <div class="mobile-trade-item-currency-label">
                <div>USDT</div>
                <span class="mobile-trade-item-currency-bgd">固定金额：1000USDT</span>
                <span class="mobile-trade-item-currency-bgd">现货</span>
              </div>
            </div>
            <div class="modify" @click="modifyDocumentary">
              修改
              <img src="../../LuckyDraw/assets/mobileForecastHomePage/item_right_icon.png" alt="">
            </div>
<!--            <span class="mobile-trade-buy text-green">买入</span>-->
          </div>

        </div>
        <div class="mobile-trade-item-content">
          <div class="mobile-trade-item-content-title flex">
            <div class="mobile-trade-price">累计笔数</div>
            <div class="mobile-trade-amount">累计金额</div>
            <div class="mobile-trade-money">累计收益</div>
          </div>
          <div class="mobile-trade-item-content-container flex">
            <div class="mobile-trade-price">9812.21</div>
            <div class="mobile-trade-amount">1</div>
            <div class="mobile-trade-money">9812.12</div>
          </div>
        </div>
      </div>


    </div>

  </div>
  <!--正在跟随 end-->


</div>
