<div class="mobile-follow-trade">
  你好世界
<!--  非ios头部-->
  <div v-show="!isApp" class="fund-buy-header-title">
    <div class="fund-buy-header-title-back-icon" @click="jumpToBack">
      <img class="fund-buy-header-title-back-icon-img" src="../../LuckyDraw/assets/mobileForecastHomePage/back_icon.png" alt="">
    </div>
    <div class="fund-buy-header-title-text">策略跟单</div>
  </div>

<!--  策略跟单主体部分-->
  <div class="fund-buy-main" :class="isApp ? 'fund-buy-main-app' : '' ">
<!--    顶部banner-->
    <div class="folloe-banner">
      <img class="folloe-banner-img" src="../assets/with-banner.png" alt="">
    </div>

    <div class="with-list flex">
      <div class="with-billboard">带单龙虎榜</div>
      <div class="my-with-single">我的跟单</div>
      <div><img class="my-with-single-img" src="../../LuckyDraw/assets/mobileForecastHomePage/item_right_icon.png" alt=""></div>
    </div>
    <div class="data-update">数据每小时更新一次</div>

    <div>
    <!--大佬头像Start-->
      <div class="big-brother-large-box flex">
        <div>
          <img class="big-brother-img" src="../assets/big-brother.png" alt="">
        </div>
        <div class="big-brother-uid">100000</div>
        <div class="documentary-details">
          <div class=""><span class="documentary">跟单</span></div>
          <div class="interest-rate">100.00 USDT/30 天</div>
        </div>
      </div>
      <!--大佬头像End-->

      <!--大佬交易详情Start-->
      <div class="details-of-big-brother-transaction">

      </div>
      <!--大佬详情End-->
    </div>

  </div>
</div>
