<div class="mobile-my-follow-order">

  <!--顶部标题-->
  <div class="mobile-trade-header-title">
    <!--返回按钮-->
    <div class="mobile-trade-header-title-back-icon" @click="jumpToFollowTrade()">
      <img class="mobile-trade-header-title-back-icon-img" src="../../LuckyDraw/assets/mobileForecastHomePage/back_icon.png" alt="">
    </div>
    <!--标题-->
    <div class="mobile-trade-header-title-text">我的跟单</div>
  </div>

  <!--跟单统计-->
  <div class="follow-statistics flex-around">
    <div class="follow-statistics-item">
      <div class="follow-statistics-item-title">累计跟单总金额(USDT)</div>
      <div class="follow-statistics-item-money">1000</div>
    </div>
    <div class="follow-statistics-item">
      <div class="follow-statistics-item-title">跟单总收益(USDT)</div>
      <div class="follow-statistics-item-money">1000</div>
    </div>
  </div>
  <!--跟单统计end-->

  <!--正在跟随-->
  <div class="mobile-trade-center">
    <div class="mobile-trade-center-title">正在跟随</div>
    <div class="mobile-trade-center-content">

      <div class="mobile-trade-center-content-item">
        <!--跟随者信息-->
        <div class="mobile-trade-item-follower flex-between">
          <div class="mobile-trade-item-follower-info flex-row">
            <img src="../assets/big-brother.png" class="mobile-trade-item-follower-avatar">
            <div class="mobile-trade-item-follower-uid">100002</div>
          </div>
          <div class="mobile-trade-item-follower-cancle-btn">取消跟随</div>
        </div>

        <div class="mobile-trade-item-top flex">
          <div class="mobile-trade-item-top-left">
            <span>USDT</span>
<!--            <span class="mobile-trade-buy text-green">买入</span>-->
          </div>
          <div class="mobile-trade-item-top-right">06/11 02:18:07</div>
        </div>
        <div class="mobile-trade-item-content">
          <div class="mobile-trade-item-content-title flex">
            <div class="mobile-trade-price">累计笔数</div>
            <div class="mobile-trade-amount">累计金额</div>
            <div class="mobile-trade-money">累计收益</div>
          </div>
          <div class="mobile-trade-item-content-container flex">
            <div class="mobile-trade-price">9812.21</div>
            <div class="mobile-trade-amount">1</div>
            <div class="mobile-trade-money">9812.12</div>
          </div>
        </div>
      </div>


    </div>

  </div>
  <!--正在跟随 end-->


</div>
