<div :class="(isApp||isIOS) ? '':'mobile-forecast-record-page-web'">
   <Loading v-if="loading"/>
  <div v-if="!loading" class="mobile-forecast-record-box" :class="(isApp||isIOS) ? 'mobile-forecast-record-box-app':''">
    <!-- v-if="!loading"-->
    <div v-if="!(isApp||isIOS)" class="mobile-forecast-record-box-title">
      <img class="divHeaderImg" src="../../../assets/fanhui.png" alt="" @click="ReturnToActivePage">
      <span class="divHeaderSpan">本期参与({{$route.query.currency}}{{$route.query.periodNumber}})</span>

    </div>


    <div class="examine flex" v-if="$route.query.winNumber">
      <div>本期中奖号码: {{$route.query.winNumber}}</div>
      <div class="examine-img" @click="goToBlocks">
        <span class="text_blue">立即查验</span>
        <img src="../assets/mobileForecastHomePage/item_right_icon.png" alt="">
      </div>
    </div>
    <!--无数据-->
    <div v-if="dataList.length === 0" class="no-data-box">
      <img class="no-data-img" src="" alt="">
      <!-- ../assets/mobileForecastRecord/no_record_img.png-->
      <div class="no-data-text">暂无记录~</div>
    </div>
    <!--有数据-->
    <div v-if="dataList.length > 0" :class="$route.query.winNumber ? 'mobile-forecast-record-title-have' : 'mobile-forecast-record-title'">
      <div class="mobile-forecast-record-title-type type">认购时间</div>
      <div class="mobile-forecast-record-title-detail amount">认购数量</div>
      <div class="mobile-forecast-record-title-detail detail">抽奖号码</div>
      <div class="mobile-forecast-record-title-num num">UID</div>
    </div>
    <div v-if="dataList.length > 0" :class="$route.query.winNumber ? 'mobile-forecast-record-list':'mobile-forecast-record-list-no'">
      <div v-for="(item,index) in dataList" :key="index" class="mobile-forecast-record-item">
        <div class="mobile-forecast-record-title-type type">{{$globalFunc.formatDateUitl(item.participateTime, 'MM-DD hh:mm')}}</div>
        <div class="mobile-forecast-record-title-detail amount">{{item.amount}}{{item.currency}}</div>
        <div class="mobile-forecast-record-title-detail detail">{{item.predictNumber}}</div>
        <div class="mobile-forecast-record-title-num num">
          <span v-if="item.ticketStatus && item.ticketStatus == 5" class="mobile-record-winning">中奖</span>
          {{item.userId}}</div>
      </div>
    </div>
  </div>
</div>
