<div>
  <Loading v-if="loading"/>
  <div v-if="!loading" class="mobile-forecast-record-box">
    <!--无数据-->
    <div v-if="dataList.length === 0" class="no-data-box">
      <img class="no-data-img" src="" alt="">
<!--      ../assets/mobileForecastRecord/no_record_img.png-->
      <div class="no-data-text">暂无记录~</div>
    </div>
    <!--有数据-->
    <div v-if="dataList.length > 0" class="mobile-forecast-record-title">
      <div class="mobile-forecast-record-title-type type">币种/类型</div>
      <div class="mobile-forecast-record-title-detail detail">销毁详情</div>
      <div class="mobile-forecast-record-title-num num">销毁期数</div>
    </div>
    <div v-if="dataList.length > 0" class="mobile-forecast-record-list">
      <div v-for="(item,index) in dataList" :key="index" class="mobile-forecast-record-item">
        <div class="mobile-forecast-record-title-type type">{{item.currencyAndDrawColumn}}</div>
        <div class="mobile-forecast-record-title-detail detail">{{item.destroyAmount}}</div>
        <div class="mobile-forecast-record-title-num num">{{item.destroyPeriod}}</div>
      </div>
    </div>
  </div>
</div>
