<div
  :class="{'h5-record-container':isMobile,
              'record-container':!isMobile
            }"
>
  <template v-if="!isMobile">
    <div class="header">
      <router-link :to="{name:'Forecast'}" class="header-title">
        <!--幸运预测活动-->
        {{$t('header_title_1')}}
      </router-link>
      <span>></span>
      <!--我的参与记录-->
      {{$t('header_title_2')}}
    </div>
    <div class="article">
      <!--导航栏 begin-->
      <div class="process-container flex">
        <div class="process-item process-ing pointer"
             :class="{'process-item-selected':recordType===0}"
             @click="changeTag(0)"
        >
          <!--进行中-->
          {{$t('nav_1')}}
        </div>
        <div class="process-item process-win process-center pointer"
             :class="{'process-item-selected':recordType===1}"
             @click="changeTag(1)"
        >
          <!--已中奖-->
          {{$t('nav_2')}}
        </div>
        <div class="process-item process-lose pointer"
             :class="{'process-item-selected':recordType===2}"
             @click="changeTag(2)">
          <!--未中奖-->
          {{$t('nav_3')}}
        </div>
      </div>
      <!--导航栏 end-->


      <ul class="list-container flex">
        <template v-if="!loading">
          <!--列表 begin-->
          <li
            class="list-item-container flex pointer"
            v-for="(item,index) in currentRecordList"
            v-if="currentRecordListLength>0"
            @click="clickToCheckDetail(item)"
            :key="index"
          >
            <div class="list-item-left-container flex">

              <!--logo begin-->
              <div class="list-logo-container flex">
<!--                <img src="../../../assets/中国国旗.png" alt="" class="list-logo">-->
<!--                <img :src="'http://logo.eunex.group/'+item.currency + '.png'" alt="" class="list-logo">-->
                <img :src="require(`../assets/PCForecastHomePage/${item.currency}.png`)" class="list-logo">

              </div>
              <!--logo end-->

              <!--项目编号 begin-->
              <div class="list-id-container flex">

                <div class="list-title list-id-title">
                  <!--项目编号-->
                  {{$t('li_item_id')}}
                </div>
                <div class="list-separate">|</div>
                <div class="list-detail list-id">{{item.currency}}{{item.periodNumber}}</div>
              </div>
              <!--项目编号 end-->

              <!--参与份数 begin-->
              <div class="list-number-container flex">
                <div class="list-title list-copies-title">
                  <!--参与份数-->
                  {{$t('li_item_copies')}}
                </div>
                <div class="list-separate">|</div>
                <div class="list-detail list-copies">{{item.countTotal}}</div>
              </div>
              <!--参与份数 end-->

              <!--中奖编号 begin-->
              <div class="list-win-number-container flex" v-if="recordType===1 || recordType === 2">
                <div class="list-title list-award-number-title">
                  <!--中奖编号-->
                  {{$t('li_win_number')}}
                </div>
                <div class="list-separate">|</div>
                <div class="list-detail list-award-number">{{item.winNumber}}</div>
              </div>
              <!--中奖编号 end-->
            </div>

            <!--奖金 begin-->
            <div class="list-description-container flex">

              <div class="description-container-kong">
<!--                <div class="description-container-yuan"></div>-->
<!--                <div class="description-container-yuanxia"></div>-->
              </div>
              <!--进行中的情况 begin-->
              <div class="list-description-detail list-description-ing flex" v-if="recordType===0">
                <div class="list-description-ing-title">
                  <!--进行中-->
<!--                  {{$t('li_description_1')}}-->
                  <img class="Pitem-descriptionImg" src="../../../assets/xiangqign@2x.png" alt="">
                </div>
                <div class="list-open-icon"></div>
              </div>
              <!--进行中的情况 end-->

              <!--已中奖的情况 begin-->
              <div class="list-description-detail list-description-win flex" v-if="recordType===1">
                <div class="list-description-reward-title">
                  <!--奖金-->
                  {{$t('li_description_2')}}
                </div>
                <div class="list-description-reward-detail flex">
                  <span class="list-description-reward">{{toFixed(item.rewardAmount,8)}}{{item.currency}}</span>
                  <img class="Pitem-descriptionImg" src="../../../assets/xiangqign@2x.png" alt="">
                  <div class="list-open-icon"></div>
                </div>
              </div>
              <!--已中奖的情况 end-->

              <!--未中奖的情况 begin-->
              <div class="list-description-detail list-description-lose flex" v-if="recordType===2">
                <div class="list-description-lose-title">
                  <!--未中奖-->
                  <!--{{$t('li_description_3')}}-->
                  {{lang === 'CH' ? item.winStatus : item.winStatusEn}}
                </div>
                <img class="Pitem-descriptionImg" src="../../../assets/xiangqign@2x.png" alt="">
                <div class="list-open-icon"></div>
              </div>
              <!--未中奖的情况 end-->

            </div>
            <!--奖金 end-->
          </li>
          <!--列表 end-->

          <!--空列表 begin-->
          <li class="empty-item flex" v-if="currentRecordListLength<=0">
            <img src="" alt="" class="empty-icon">
<!--            ../assets/Record/no-record.png-->
            <span class="empty-prompt">
              <!--暂无记录-->
              {{$t('no_record')}}
            </span>
          </li>
          <!--空列表 end-->

        </template>

        <li v-else class="record-loading-container">
          <Loading/>
        </li>
      </ul>

    </div>
    <div class="footer flex">

      <!--进行中分页 begin-->
      <template v-if="recordType===0">
        <PageBar
          v-if="ingMaxPage>1"
          :clickChangePage="ingChangeIndex"
          :maxPage="ingMaxPage"
          :selectIndex="ingSelectIndex"
          color="rgba(255,255,255,0.6)"
          pageCellBgColor="#243156"
          pageCellBorderColor="#314272"
          pageCellSelectedBgColor="#2d3e6c"
          pageCellSelectedColor="#C43E4E"
        />
      </template>
      <!--进行中分页 end-->

      <!--已中奖分页 begin-->
      <template v-if="recordType===1">
        <PageBar
          v-if="winMaxPage>1"
          :clickChangePage="winChangeIndex"
          :maxPage="winMaxPage"
          :selectIndex="winSelectIndex"
          color="rgba(255,255,255,0.6)"
          pageCellBgColor="#243156"
          pageCellBorderColor="#314272"
          pageCellSelectedBgColor="#2d3e6c"
          pageCellSelectedColor="#C43E4E"
        />
      </template>
      <!--已中奖分页 end-->

      <!--未中奖分页 begin-->
      <template v-if="recordType===2">
        <PageBar
          v-if="loseMaxPage>1"
          :clickChangePage="loseChangeIndex"
          :maxPage="loseMaxPage"
          :selectIndex="loseSelectIndex"
          color="rgba(255,255,255,0.6)"
          pageCellBgColor="#243156"
          pageCellBorderColor="#314272"
          pageCellSelectedBgColor="#2d3e6c"
          pageCellSelectedColor="#C43E4E"
        />
      </template>
      <!--未中奖分页 end-->

    </div>
    <div class=""></div>
  </template>

  <template v-if="isMobile">

    <div v-if="!(isApp||isIOS)" class="divHeader">
      <img class="divHeaderImg" src="../../../assets/fanhui.png" alt="" @click="ReturnToActivePage">
      <span class="divHeaderSpan">参与记录</span>
    </div>
    <div class="h5-process-container flex">
      <!--进行中 begin-->
      <div class="h5-process-item"
           :class="{'h5-process-item-selected':recordType===0}"
           @click="changeTag(0)"
      >
        <!--进行中-->
        {{$t('nav_1')}}
      </div>
      <!--进行中 end-->

      <!--已中奖 begin-->
      <div class="h5-process-item h5-process-center"
           :class="{'h5-process-item-selected':recordType===1}"
           @click="changeTag(1)"
      >
        <!--已中奖-->
        {{$t('nav_2')}}
      </div>
      <!--已中奖 end-->

      <!--未中奖 begin-->
      <div class="h5-process-item"
           :class="{'h5-process-item-selected':recordType===2}"
           @click="changeTag(2)"
      >
        <!--未中奖-->
        {{$t('nav_3')}}
      </div>
      <!--未中奖 end-->

    </div>

    <ul class="h5-record-container flex">
      <template v-if="!h5Loading">
        <li class="h5-record-item-container flex"
            v-for="(item,index) in h5CurrentRecordList"
            @click="h5ClickToCheckDetail(item)"
            :key="index"
            v-if="h5CurrentRecordListLength>0"
        >
          <img src="" alt="" class="h5-background-img">
<!--          ../assets/Record/h5-list-bg.png-->
          <div class="h5-record-item-left-container flex">
            <!--项目编号 begin-->
            <div class="h5-record-item-id-container flex">
              <div class="h5-record-item-logo flex">
<!--                <img :src="'http://logo.eunex.group/'+item.currency + '.png'" alt="" class="h5-item-logo">-->
                <img :src="require(`../assets/mobileForecastHomePage/${item.currency}.png`)" alt="" class="h5-item-logo">
              </div>
              <div class="h5-record-item-id-title">
                项目编号
              </div>
              <div class="h5-record-item-id-currency">{{item.currency}}</div>
              <div class="h5-record-item-id">{{item.periodNumber}}</div>
            </div>
            <!--项目编号 end-->

            <!--参与份数 begin-->
            <div class="h5-record-item-copies-container flex">
              <div class="h5-record-item-copies">{{item.countTotal}}</div>
              <div class="h5-record-item-copies-title">
                参与份数
              </div>
            </div>
            <!--参与份数 end-->

          </div>
          <div class="h5-record-item-right-container flex">
            <!--进行中 begin-->
            <div class="h5-record-item-description-container h5-record-item-description-ing-container flex"
                 v-if="recordType === 0">
              <div class="h5-record-item-description-title h5-record-item-description-ing">进行中
                <img class="h5-record-item-descriptionImg" src="../../../assets/ParticipationRecord.png" alt="">
              </div>
              <div class="h5-record-item-open-icon"></div>
            </div>
            <!--进行中 end-->

            <!--已中奖 begin-->
            <div class="h5-record-item-description-container h5-record-item-description-win-container flex"
                 v-if="recordType === 1">
              <div class="h5-record-item-description-title h5-record-item-description-win">{{toFixed(Number(item.rewardAmount))}}{{item.currency}}</div>
              <div class="h5-record-item-open-icon"></div>
            </div>
            <!--已中奖 end-->

            <!--未中奖 begin-->
            <div class="h5-record-item-description-container h5-record-item-description-lose-container flex"
                 v-if="recordType === 2">
              <div class="h5-record-item-description-title h5-record-item-description-lose">{{item.winStatus}}</div>
              <div class="h5-record-item-open-icon"></div>
            </div>
            <!--未中奖 end-->

          </div>
        </li>
        <li v-if="h5CurrentRecordListLength<=0" class="h5-empty-item flex">
          <img src="" alt="" class="h5-empty-logo">
<!--          ../assets/Record/no-record.png-->
          <span class="h5-empty-prompt">暂无记录</span>
        </li>
      </template>
      <li v-else class="h5-record-loading-container">
        <Loading/>
      </li>
    </ul>

  </template>


  <!-- 显示详情弹窗 start -->
  <div class="forecast_dialog" v-if="showPopupWindow">
    <div class="forecast_dialog_body">
<!--      <div class="forecast_dialog_close" @click="closePopupWindow">×</div>-->
      <div class="forecast_dialog_content">
        <!-- 标题 begin -->
        <div class="forecast_dialog_title">
          <!--参与详情-->
          {{$t('prompt_title')}}
          <img src="../../../assets/弹窗-取消-icon@2x.png" alt="" class="iconImg" @click="closePopupWindow">
        </div>
        <!-- 标题 end -->

        <!-- 内容 begin -->
        <div class="popup-window-article flex" v-if="!checkItemLoading">

          <!--我的中奖 begin-->
          <div class="popup-window-p flex">
            <div class="popup-window-article-detail-title">
              <!--我的中奖：-->
              {{$t('prompt_article_title_1')}}
            </div>
            <div class="popup-window-article-detail text_blue">
              {{
              checkInfo.rewardAmount ? checkInfo.rewardAmount :
              lang === 'CH' ? checkInfo.winStatus : checkInfo.winStatusEn
              }}
            </div>
          </div>
          <!--我的中奖 end-->


          <!--中奖编号 begin-->
          <div class="popup-window-p flex" v-if="checkInfo.winNumber">
            <div class="popup-window-article-detail-title">
              <!--中奖编号：-->
              {{$t('prompt_article_title_2')}}
            </div>
            <div class="popup-window-article-detail">{{checkInfo.winNumber}}</div>
          </div>
          <!--中奖编号 end-->

          <!--预测编号 begin-->
          <div class="popup-window-p flex">
            <div class="popup-window-article-detail-title">
              <!--预测编号：-->
              {{$t('prompt_article_title_4')}}
            </div>
            <div class="popup-window-article-detail popup-forecast">
              {{changePredictNumber(checkInfo.predictNumber)}}
            </div>
          </div>
          <!--预测编号 end-->

          <!--参与时间 begin-->
          <div class="popup-window-p flex">
            <div class="popup-window-article-detail-title">
              <!--参与时间：-->
              {{$t('prompt_article_title_5')}}
            </div>
            <div class="popup-window-article-detail">{{formatDateUtils(checkInfo.participateTime)}}</div>
          </div>
          <!--参与时间 end-->

          <!--参与份数 begin-->
          <div class="popup-window-p flex">
            <div class="popup-window-article-detail-title">
              <!--参与份数：-->
              {{$t('prompt_article_title_6')}}
            </div>
            <div class="popup-window-article-detail">{{checkInfo.countTotal}}</div>
          </div>
          <!--参与份数 end-->

          <!--场次类型 begin-->
<!--          <div class="popup-window-p flex">-->
<!--            <div class="popup-window-article-detail-title">-->
<!--              &lt;!&ndash;场次类型：&ndash;&gt;-->
<!--              {{$t('prompt_article_title_7')}}-->
<!--            </div>-->
<!--            <div class="popup-window-article-detail">-->
<!--              {{lang === 'CH' ? checkInfo.drawColumn : checkInfo.drawColumnEn}}-->
<!--            </div>-->
<!--          </div>-->
          <!--场次类型 end-->

          <!--项目编号 begin-->
          <div class="popup-window-p flex">
            <div class="popup-window-article-detail-title">
              <!--项目编号：-->
              {{$t('prompt_article_title_8')}}
            </div>
            <div class="popup-window-article-detail">{{checkInfo.currencyPeriodNumber}}</div>
          </div>
          <!--项目编号 end-->

          <!--期数 begin-->
          <div class="popup-window-p flex marign15">
            <div class="popup-window-article-detail-title">
              <!--期数：-->
              {{$t('prompt_article_title_9')}}
            </div>
            <div class="popup-window-article-detail">
              <!--第{{checkInfo.periodNumber}}期-->
              {{$t('prompt_article_detail_1',{periodNumber:Number(checkInfo.periodNumber)})}}
            </div>
          </div>
          <!--期数 end-->

        </div>
        <div class="popup-window-loading" v-else>
          <Loading/>
        </div>
        <!-- 内容 end -->
<!--        <div class="forecast_btn" @click="closePopupWindow">-->
<!--          &lt;!&ndash;关闭&ndash;&gt;-->
<!--          {{$t('prompt_close')}}-->
<!--        </div>-->
      </div>
    </div>
  </div>
  <!-- 显示详情弹窗 end -->


  <!-- h5显示详情弹窗 start -->
  <div class="forecast_dialog" v-if="h5ShowPopupWindow">
    <div class="h5-forecast_dialog_body">

      <div class="h5-forecast_dialog_content">
        <!-- 标题 begin -->
        <div class="h5-forecast_dialog_title">
          参与详情
          <span class="" @click="closeH5PopupWindow">
            <img class="h5-forecast_dialog_titleImg" src="../../../assets/close_btn.png" alt="">
          </span>
        </div>
        <!-- 标题 end -->

        <!-- 内容 begin -->
        <div class="h5-popup-window-article flex" v-if="!checkItemLoading">
          <div class="h5-popup-window-p flex">
            <div class="h5-popup-window-article-detail-title">我的中奖：</div>
            <div class="h5-popup-window-article-detail">
              {{checkInfo.rewardAmount ? toFixed(checkInfo.rewardAmount,4) + ' '+checkInfo.currency: checkInfo.winStatus}}
            </div>
          </div>
          <div class="h5-popup-window-p flex" v-if="checkInfo.winNumber">
            <div class="h5-popup-window-article-detail-title">中奖号码：</div>
            <div class="h5-popup-window-article-detail">{{checkInfo.winNumber}}</div>
          </div>
          <div class="h5-popup-window-p flex">
            <div class="h5-popup-window-article-detail-title">抽奖号码：</div>
            <div class="h5-popup-window-article-detail popup-forecast">
<!--              {{changePredictNumber(checkInfo.predictNumber)}}-->
              {{(checkInfo.predictNumber)}}
            </div>
          </div>
          <div class="h5-popup-window-p flex">
            <div class="h5-popup-window-article-detail-title">参与时间：</div>
            <div class="h5-popup-window-article-detail">{{formatDateUtils(checkInfo.participateTime)}}</div>
          </div>
          <div class="h5-popup-window-p flex">
            <div class="h5-popup-window-article-detail-title">参与份数：</div>
            <div class="h5-popup-window-article-detail">{{checkInfo.countTotal}}</div>
          </div>
<!--          <div class="h5-popup-window-p flex">-->
          <!--            <div class="h5-popup-window-article-detail-title">场次类型：</div>-->
          <!--            <div class="h5-popup-window-article-detail">{{checkInfo.drawColumn}}</div>-->
          <!--          </div>-->
<!--          <div class="h5-popup-window-p flex">-->
<!--            <div class="h5-popup-window-article-detail-title">参与数量：</div>-->
<!--            <div class="h5-popup-window-article-detail">{{checkInfo.drawColumn}}</div>-->
<!--          </div>-->
          <div class="h5-popup-window-p flex">
            <div class="h5-popup-window-article-detail-title">项目编号：</div>
            <div class="h5-popup-window-article-detail">{{checkInfo.currencyPeriodNumber}}</div>
          </div>
          <div class="h5-popup-window-p flex">
            <div class="h5-popup-window-article-detail-title"><span class="h5-popup-window-pSpan">期数</span>期数：</div>
            <div class="h5-popup-window-article-detail">第{{checkInfo.periodNumber}}期</div>
          </div>
        </div>
        <div class="h5-popup-window-loading" v-else>
          <Loading/>
        </div>
        <!-- 内容 end -->
<!--        <div class="h5-forecast_btn" @click="closeH5PopupWindow">-->
<!--          关闭-->
<!--        </div>-->
      </div>
    </div>
  </div>
  <!-- h5显示详情弹窗 end -->


</div>
