.mobile-trade-strategy {
  background: pink;
  height: 100%;
}

/*------------ 顶部title  begin -------------*/
.mobile-trade-header-title {
  height: 0.88rem;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background: #fff;
  z-index: 100;
  border-bottom: 0.02rem solid #F7F8FA;
}
.mobile-trade-header-title-back-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.88rem;
  height: 0.88rem;
}
.mobile-trade-header-title-back-icon-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.32rem;
  transform: translate(-50%,-50%);
}
.mobile-trade-header-title-setting-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.88rem;
  height: 0.88rem;
}
/*------------ 顶部  end -------------*/


/*------------ 上部内容  begin -------------*/



/*------------ 上部内容  end -------------*/

