.mobile-trade-strategy {
  background: #FFFFFF;
  height: 100%;
}

/*------------ 顶部title  begin -------------*/
.mobile-trade-header-title {
  height: 0.88rem;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background: #fff;
  z-index: 100;
  border-bottom: 0.02rem solid #F7F8FA;
}

.mobile-trade-header-null {
  width: 100%;
  height: 0.88rem;
}
.mobile-trade-header-title-back-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.88rem;
  height: 0.88rem;
}
.fund-buy-header-title-text {
  font-size:0.32rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0B0B27;
}
.mobile-trade-header-title-back-icon-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.32rem;
  transform: translate(-50%,-50%);
}
.mobile-trade-header-title-setting-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.88rem;
  height: 0.88rem;
}
/*------------ 顶部  end -------------*/

/*------------ 上部内容  begin -------------*/
.mobile-trade-top {
  width: 7.5rem;
  height: 3.08rem;
  background: #fff;
}
.mobile-trade-top-banner {
  width: 7.5rem;
  height: 2.12rem;
  background: url("../assets/management_banner.png") no-repeat center;
  background-size: 100% 100%;
  padding: 0.56rem 0.3rem;
}
.mobile-trade-img {
  width: 1rem;
  vertical-align: middle;
  margin-right: 0.3rem;
}
.mobile-trade-top-banner-text {
  line-height: 1.12rem;
  font-size:0.32rem;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color: #fff;
}
.mobile-trade-top-data {
  width: 100%;
  height: 0.96rem;
  background: #302E34;
  justify-content: space-between;
}
.mobile-trade-data-item {
  width: 1.86rem;
  height: 0.96rem;
  font-size:0.2rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #767579;
  text-align: center;
}
.mobile-trade-data {
  /*margin-top: 0.16rem;*/
  font-size:0.28rem;
  font-family:Roboto-Regular,Roboto;
  font-weight:400;
  color: #fff;
  margin-bottom: 0.04rem;
}
.text-green {
  color: #08D0AC;
}
.text-red {
  color: #EF5656;
}
.text-blue {
  color: #3576F5;
}
/*------------ 上部内容  end -------------*/

/*------------ 中部内容  begin -------------*/
.mobile-trade-center {
  width: 7.5rem;
  background: #fff;
}
.mobile-trade-center-title {
  width: 3.98rem;
  height:0.52rem;
  margin: 0.32rem auto 0.3rem;
  font-size:0.26rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6A83A8;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.mobile-trade-center-title-line {
  width: 0.01rem;
  height: 0.52rem;
  background:#3576F5;
}
.mobile-trade-center-title-only {
  width: 2rem;
  text-align: center;
  box-sizing: border-box;
  height:0.52rem;
  line-height:0.52rem;
  border:0.01rem solid rgba(197,207,213,1);
}
.mobile-trade-center-title-history{
  /*border-right-color: #3576F5;*/
  border-right-width: 0;
  border-radius:0.03rem 0rem 0rem 0.03rem;
}
.mobile-trade-center-title-follower{
  border-left-width: 0;
  border-radius:0rem 0.03rem 0.03rem 0rem;
}
.mobile-trade-center-title-selected {
  border-color:#3576F5;
  color:#3576F5;
}
.mobile-trade-center-content {
  margin-bottom: 1.8rem;
}
.mobile-trade-center-content-item {
  width: 7.5rem;
  height: 2.06rem;
  padding: 0.32rem 0.3rem 0;
  border-bottom: 0.02rem solid #F7F8FA;
}
.mobile-trade-item-top {
  font-size:0.32rem;
  font-family:Roboto-Regular,Roboto;
  font-weight:400;
  color: #172841;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.24rem;
}
.mobile-trade-buy {
  font-size:0.3rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  padding-right: 0.2rem;
  float: right;
}
.mobile-trade-item-top-left {
  width: 36%;
}
.mobile-trade-item-top-right {
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #A2B5D9;
}
.mobile-trade-item-content-title {
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6A83A8;
}
.mobile-trade-item-content-container {
  font-size:0.32rem;
  font-family:Roboto-Regular,Roboto;
  font-weight:400;
  color: #172841;
}
.mobile-trade-price {
  flex: 4;
}
.mobile-trade-amount {
  flex: 2;
}
.mobile-trade-money {
  flex: 3;
  text-align: right;
}
.mobile-trade-center-follower {
  width: 7.5rem;
  height: 1.38rem;
  padding: 0.3rem 0.3rem 0;
  border-bottom: 0.02rem solid #F7F8FA;
}
.mobile-trader-follower-img {
  width: 0.68rem;
  height: 100%;
  /*background: pink;*/
}
.mobile-trader-follower-img img {
  margin-top: 0.06rem;
  width: 0.68rem;
}
.mobile-trader-follower-content {
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6A83A8;
  margin-left: 0.3rem;
  flex: 1;
}
.mobile-trader-follower-content-top {
  justify-content: space-between;
  margin-bottom: 0.1rem;
}
.mobile-trader-follower-UID {
  font-size:0.32rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #172841;
}
.mobile-trader-follower-income {
  font-size:0.32rem;
  font-family:Roboto-Regular,Roboto;
  font-weight:400;
  color: #3576F5;
}
.mobile-trade-no-data {
  width: 7.5rem;
  text-align: center;
}
.mobile-trade-no-data-text {
  padding-top: 2.78rem;
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #CFD3E9;
}
.mobile-trade-open-exchange{
  position: fixed;
  bottom: 0;
  width: 7.5rem;
  height: 1.9rem;
  background: #fff;
  padding: 0.2rem 0.3rem 0;
  font-size:0.28rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #8994A5;
  box-shadow:0rem -0.04rem 0.26rem 0.22rem rgba(161,161,161,0.07);
}
.mobile-trade-open-exchange-button {
  width:6.9rem;
  height:0.88rem;
  line-height:0.88rem;
  font-size:0.32rem;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color: #fff;
  background:linear-gradient(270deg,rgba(53,118,245,1) 0%,rgba(69,154,245,1) 100%);
  border-radius: 0.03rem;
  text-align: center;
  margin: 0 auto;
}
.mobile-trade-open-exchange-button-isfollow {
  width:6.9rem;
  height:0.88rem;
  line-height:0.88rem;
  font-size:0.32rem;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color: #fff;
  background: #A8C6FF;
  border-radius: 0.03rem;
  text-align: center;
  margin: 0 auto;
}

/*------------ 中部内容  end -------------*/
/*------------ 底部内容  begin -------------*/
.mobile-trade-open-exchange-text {
  justify-content: space-between;
  margin-bottom: 0.16rem;
}
.mobile-trade-order-fee {
  font-size:0.28rem;
  font-family:Roboto-Medium,Roboto;
  font-weight:500;
}
/*------------ 底部内容  end -------------*/
/*暂无数据*/
.history-no-data {
  min-height: 4rem;
  line-height: 4rem;
  text-align: center;
  font-size:0.28rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #8994A5;

}
