.mobile-follow-trade{
  background: #FFFFFF;
  height: 100%;
  overflow-y: hidden;
}

/*非ios头部 样式Start*/
.fund-buy-header-title {
  height: 0.88rem;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background: #fff;
  z-index: 100;
  border-bottom: 0.02rem solid #F7F8FA ;
}
.fund-buy {
  position: absolute;
  top: 0.2rem;
  right: 0.3rem;
  width: 0.48rem;
  height: 0.48rem;
}

.fund-buy-header-title-back-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.88rem;
  height: 0.88rem;
}

.fund-buy-header-title-back-icon-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.32rem;
  transform: translate(-50%,-50%);
}
.fund-buy-header-title-text {
  height:0.44rem;
  font-size:0.32rem;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color:rgba(11,11,39,1);
  line-height:0.44rem;
}
/*非ios头部 样式End*/


/*镜像交易主体部分样式Start*/
.fund-buy-main{
  /*background: green;*/
  /*flex: 1;*/
  height: 100%;
  overflow-y: scroll;
  padding-top: 0.88rem;
  /*margin-bottom:1.48rem;*/
}
.fund-buy-main-app{
  padding-top: 0;
}
.folloe-banner {
  position: relative;
  width: 100%;
  height: 1.48rem;
  /*background-color: pink;*/
}
.with-list {
  /*height: 0.38rem;*/
  padding: 0.48rem 0.3rem 0rem 0.3rem ;
}
.with-billboard {
  flex: 50;
  height: 0.32rem;
  line-height: 0.32rem;
  color: #131F30;
  font-size:0.32rem;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
}
.folloe-banner-img {
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%,-50%);*/
  /*width: 101%;*/
  height: 1.48rem;
}
.my-with-single {
  flex: 30;
  height: 0.38rem;
  line-height: 0.38rem;
  color: #3576F5;
  font-size:0.28rem;
  text-align: right;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
}
.my-with-single-img {
  /*flex: 10;*/
  width: 0.24rem;
  vertical-align: text-bottom;
  margin-bottom: 0.02rem;
  margin-left: 0.2rem;
  vertical-align: middle;
}
.data-update {
  height:0.34rem;
  font-size:0.24rem;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color: #CFD3E9;
  line-height:0.34rem;
  padding: 0 0.3rem;
  margin-top: 0.04rem;
}

/*大佬详细信息Start*/
.big-brother-large-box {
  width: 100%;
  height: 0.8rem;
  /*background-color: pink;*/
  margin: 0.3rem 0 0.42rem 0;
  padding: 0 0.3rem;
}
.big-brother-img {
  width: 0.8rem;
}
.big-brother-uid {
  padding-left: 0.28rem;
  line-height: 0.8rem;
  font-size:0.32rem;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
}
.documentary-details {
  flex: 40;
  text-align: right;
}
.documentary {
  display: inline-block;
  height:0.44rem;
  line-height: 0.44rem;
  color: #FFFFFF;
  background: #386FF9;
  border-radius:0.03rem;
  padding: 0 0.34rem;
  margin-bottom: 0.04rem;
}
.documentary-follow {
  display: inline-block;
  font-size:0.24rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  height:0.44rem;
  line-height: 0.44rem;
  color: #A2B5D9;
  border-radius:0.03rem;
  /*padding: 0 0.34rem;*/
  margin-bottom: 0.04rem;
}
.interest-rate {
  color: #6A83A8;
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}
.big-brother-start {
  margin-bottom: 0.48rem;
}

.details-of-big-brother-transaction {
  width:6.9rem;
  height:2.78rem;
  /*background:rgba(255,255,255,1);*/
  box-shadow:0rem 0.04rem 0.2rem 0rem rgba(1,1,1,0.06);
  border-radius:0.12rem;
  background-color: #FFFFFF;
  margin: 0 auto;
}
.accumulated-income {
  width: 50%;
  text-align: center;
  padding: 0.4rem 0;
}
.percentage {
  color: #08D0AC;
  font-size:0.34rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:600;
}
.color-a2 {
  color: #A2B5D9;
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}
.color-13 {
  color: #131F30;
  font-size:0.34rem;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
}
.padding-bottom {
  padding-bottom: 0.26rem;
}
.cumulative-rate-of-return {}
/*大佬详细信息End*/
/*镜像交易主体部分样式End*/
