.mobile-my-follow-order {
  background: #FFFFFF;
  height: 100%;
}

/*------------ 顶部title  begin -------------*/
.mobile-trade-header-title {
  height: 0.88rem;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background: #fff;
  z-index: 100;
  border-bottom: 0.02rem solid #F7F8FA;
}
.mobile-trade-header-title-back-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.88rem;
  height: 0.88rem;
}
.mobile-trade-header-title-back-icon-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.32rem;
  transform: translate(-50%,-50%);
}
.mobile-trade-header-title-text {
  height:0.44rem;
  font-size:0.32rem;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color:rgba(11,11,39,1);
  line-height:0.44rem;
}
/*------------ 顶部  end -------------*/

.mobile-trade-header-null {
  height: 0.88rem;
}

/*------------ 打开自动续费  begin -------------*/
.open-automatic-renew {
  min-height: 3rem;
  padding: 0.3rem 0.3rem 0.9rem;
}
.open-automatic-renew-top {
  height: 0.6rem;
  line-height: 0.6rem;
  font-size:0.36rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color: #131F30;
  justify-content: space-between;
  margin-bottom: 0.34rem;
}
.open-automatic-renew-img img {
  width: 1.16rem;
  vertical-align: middle;
}
.open-automatic-renew-text {
  color: #6A83A8;
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}
/*------------ 打开自动续费  end -------------*/

/*------------ 跟单统计  -------------*/
.follow-statistics{
  width: 100%;
  height:1.78rem;
  /*margin-top: 0.88rem;*/
  /*padding-top: 0.4rem;*/
  /*align-items: center;*/
  border-bottom: 0.1rem solid rgba(247,248,250,1);
}
.follow-statistics-item{
  flex: 1;
  justify-content: center;
  text-align: center;
}
.follow-statistics-item-title{
  height:0.34rem;
  line-height:0.34rem;
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:rgba(162,181,217,1);
}
.follow-statistics-item-money{
  margin-top: 0.14rem;
  font-size: 0.36rem;
  font-family: Roboto-Medium;
  color: #172841;
}
/*------------ 跟单统计  end -------------*/

/*------------ 中部内容  begin -------------*/
.mobile-trade-center {
  width: 7.5rem;
  background: #fff;
}
.mobile-trade-center-title {
  width:100%;
  height:1.08rem;
  line-height:1.08rem;
  font-size:0.36rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(11,11,39,1);
  padding-left: 0.22rem;
}
.mobile-trade-center-content-item {
  width: 7.5rem;
  height: 3.68rem;
  padding: 0.3rem;
  border-bottom: 0.02rem solid #F7F8FA;
}
.mobile-trade-item-follower{
  margin-bottom:0.42rem;
  align-items: center;
}
.mobile-trade-item-follower-info{
  align-items: center;
}
.mobile-trade-item-follower-avatar{
  width: 0.8rem;
  height: 0.8rem;
}
.mobile-trade-item-follower-uid{
  margin-left: 0.28rem;
  height:0.44rem;
  line-height:0.44rem;
  font-size:0.32rem;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color:rgba(19,31,48,1);
}
.mobile-trade-item-follower-cancle-btn{
  width:1.56rem;
  height:0.5rem;
  line-height:0.5rem;
  background:rgba(56,111,249,1);
  border-radius:0.03rem;
  text-align: center;
  font-size:0.24rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(255,255,255,1);
}
.mobile-trade-item-top {
  font-size:0.32rem;
  font-family:Roboto-Regular,Roboto;
  font-weight:400;
  color: #172841;
  justify-content: space-between;
  align-items: center;
}
.mobile-trade-item-top-left {
  width: 100%;
  height: 1.08rem;
  justify-content: space-between;
}
.mobile-trade-item-currency-label {
  margin-top: 0.06rem;
  font-size:0.2rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6A83A8;
}
.mobile-trade-item-currency-bgd {
  padding: 0 0.12rem;
  height: 0.34rem;
  line-height: 0.34rem;
  background: #E5E7F3;
  border-radius:0.18rem;
}
.mobile-trade-item-currency-bgd span:first-child {
  margin-right: 0.2rem;
}
.modify {
  color: #3576F5;
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  line-height: 1.08rem;
}
.mobile-trade-buy {
  font-size:0.3rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  margin-left: 0.2rem;
}
.text-green {
  color: #08D0AC;
}
.text-red {
  color: #EF5656;
}
.mobile-trade-item-top-right {
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #A2B5D9;
}
.mobile-trade-item-content-title {
  font-size:0.24rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6A83A8;
}
.mobile-trade-item-content-container {
  font-size:0.32rem;
  font-family:Roboto-Regular,Roboto;
  font-weight:400;
  color: #172841;
}
.mobile-trade-price {
  flex: 4;
}
.mobile-trade-amount {
  flex: 2;
}
.mobile-trade-money {
  flex: 3;
  text-align: right;
}

/*------------ 中部内容  end -------------*/

/*弹框样式*/
.forecast-activity-toast {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.8);
  z-index: 200;
}
.forecast-activity-toast-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width:6rem;
  height:3.8rem;
  background: #fff;
  box-shadow:0rem 0.1rem 0.2rem 0rem rgba(0,0,0,0.1);
  border-radius:0.04rem;
}
.forecast-activity-toast-title {
  /*margin-top: 8px;*/
  height: 1.04rem;
  font-size:0.32rem;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  line-height: 1.04rem;
  text-align: center;
  color: #172841;
  border-bottom: 1px solid #F3F5FF;
}

.forecast-activity-toast-close-btn {
  position: absolute;
  top: 0.36rem;
  right: 0.4rem;
}
.forecast-activity-toast-close-btn-img {
  width: 16px;
  height: 16px;
  display: block;
}
.forecast-activity-toast-btn {
  margin: auto 0.4rem;
  height: 0.8rem;
  background: #3576F5;
  text-align: center;
  color: #fff;
  line-height: 0.72rem;
  font-size: 0.28rem;
}
.del-follow-text {
  font-size:0.29rem;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  padding: 0.6rem 0.4rem;
}
