/*面包屑导航*/
.follow-info {
  width: 100%;
  height:46px;
  line-height:46px;
  background:rgba(255,255,255,1);
  box-shadow:0px 2px 6px 0px rgba(0,0,0,0.06);
  margin-bottom: 25px;
}

.follow-container {
  width: 1200px;
  height: 46px;
  margin: 0 auto;
}

.follow-trande-bread {
  line-height: 46px;
  width: 100%;
  overflow: hidden;
  color: #6B7DA2;
  font-size: 14px;
}

.management {
  color: #6B7DA2;
}
.follow-trande-bread span {
  margin: 0 20px;
}

.management:hover {
  color: #3576F5;
}

.follow-asset {
  width: 1200px;
  min-height: 600px;
  margin: 0 auto;
  /*background: pink;*/
}
.follow-asset-title {
  position: relative;
  width:100%;
  height:103px;
  /*background:lightpink;*/
  border-radius:3px;
  padding: 23px 25px 0;
  font-size:16px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  margin-bottom: 15px;
  justify-content: space-between;
}
.follow-asset-total {
  margin-right: 167px;
  font-size:12px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color: #6B7DA2;
}
.follow-asset-acount {
  margin-top: 12px;
  font-size:24px;
  font-family:Roboto-Medium,Roboto;
  font-weight:500;
  color: #0D0E23;
}
.follow-asset-renewal {
  height: 30px;
  line-height: 30px;
}
.follow-asset-remind img {
  vertical-align: sub;
  margin-right: 8px;
  width: 20px;
}
.follow-asset-close-open img {
  vertical-align: sub;
  width: 58px;
  margin-left: 20px;
}
.descript {
  position: absolute;
  display: none;
  top: 63px;
  right: 0;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
  width: 388px;
  height: 91px;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
}
.follow-asset-content {
  width: 100%;
  min-height: 290px;
  /*background: #0babb6;*/
}
.follow-asset-content-title {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #F5F6FA;
  padding-left: 25px;
  font-size:14px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color: #131F30;
}
.follow-asset-topic-title {
  height: 40px;
  line-height: 40px;
  padding: 0 25px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #6B7DA2;
}
.follow-asset-topic-content {
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color: #0D0E23;
}
.time {
  flex: 3;
}
.exchange-pair {
  flex: 2;
}
.type {
  flex: 1.5;
}
.follow-type {
  flex: 2.5;
}
.total-acount {
  flex: 1.5;
}
.total-money {
  flex: 2;
}
.total-income {
  flex: 2;
}
.operation {
  flex: 4;
  text-align: right;
}
.btn-size {
  display: inline-block;
  width:78px;
  height:28px;
  line-height:28px;
  text-align: center;
  background:rgba(255,255,255,1);
  border-radius:1px;
  color: #3576F5;
  border:1px solid #3576F5;
}
.update {
  margin-right: 20px;
}
.btn-size:hover {
  background: #3576F5;
  color: #fff;
}
.update-follow {
  padding-left: 25px;
}
.update-follow-article {
  padding: 30px 25px;
}
/*暂无数据样式*/
.follow-asset-not-data {
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  color: #6B7DA2;
}

.follow-order {
  color: #193662;
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  justify-content: space-between;
  margin-bottom: 34px;
}
.follow-order:last-child {
  margin-bottom: 32px;
}
.follow-order-data {
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color: #A2B5D9;
}
.follow-order-title {
  margin-bottom: 12px;
}
.fixed-amount-proportion {
  height:30px;
  line-height: 30px;
  color: #6A83A8;
  font-size: 14px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  background:rgba(230,232,244,1);
  border-radius:2px;
  padding: 0 17px;
  margin-right: 20px;
}
.fixed-amount {
  height:30px;
  line-height: 30px;
  color: #FFFFFF;
  background:rgba(53,118,245,1);
  border-radius:2px;
  border:1px solid rgba(45,91,181,1);
}
.fund-description-amount{
  display: flex;
  flex-direction: row;
  /*padding: 0.34rem 0rem 0.1rem 0;*/
}
.fund-description-usdt{
  flex:1;
  font-size:14px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:#193662;
  height: 30px;
  line-height:30px;
}
.fund-description-info-right-input {
  font-size:14px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  color:#193662;
  height:24px;
  line-height: 24px;
  margin: auto 0;
}
.fund-description-info-right-input input {
  width: 72px;
  text-align: left;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
  color:#193662;
  height:24px;
  line-height: 24px;
  background:rgba(255,255,255,1);
  border-radius:2px;
  border:1px solid rgba(208,212,233,1);
  padding-left: 8px;
  box-sizing: border-box;
}
.remind {
  color: #6A83A8;
  font-size:12px;
  font-family:PingFangSC-Regular,PingFang SC;
  font-weight:400;
}
.documentary-button {
  width:410px;
  height:40px;
  line-height: 40px;
  color: #FFFFFF;
  text-align: center;
  background:linear-gradient(270deg,rgba(53,118,245,1) 0%,rgba(69,154,245,1) 100%);
  border-radius:1px;
  font-size:16px;
  font-family:PingFangSC-Semibold,PingFang SC;
  font-weight:600;
  margin-bottom: 15px;
}
