/*----------------------------------------------------------------------------------------------------*/
body{
  background-color:transparent;
  /*background-color: #000000;*/
  background-color: #E5EBF5;
}


@-webkit-keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}

@keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}

.loading-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 12px;
  width: 100%;
  box-sizing: border-box;
}

.line-scale-pulse-out {
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  box-sizing: border-box;
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;

  justify-content: space-between;
  -webkit-justify-content: space-between;

}

.line-scale-pulse-out > div {
  background-color: #3576F5;
  width: 3px;
  height: 30px;
  border-radius: 2px;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  /*display: inline-block;*/
  -webkit-animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
  animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
  line-height: 18px;
}

.line-scale-pulse-out > div:nth-child(2), .line-scale-pulse-out > div:nth-child(4) {
  -webkit-animation-delay: -0.4s !important;
  animation-delay: -0.4s !important;
}

.line-scale-pulse-out > div:nth-child(1), .line-scale-pulse-out > div:nth-child(5) {
  -webkit-animation-delay: -0.2s !important;
  animation-delay: -0.2s !important;
}


@media screen and (min-width: 1024px) {
  .dongt{
    width: 100%;
    text-align: center;
    color: white;
  }

  .dongt img{
    width: 500px;
    margin-top: 150px;
  }

  .el-pagination {

  }
}


@media screen and (max-width: 768px) {

  .dongt {
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
  }


  .dongt img {
    margin-top: 50%;
    width: 300px;
  }

  .el-pagination {

  }

}




