<div class="container min-height">

  <div class="hide-zero-asset-box flex">
    <input type="checkbox" id="hide-zero-asset" class="hide-zero-asset-checkbox pointer" v-model="hideZeroAsset"/>
    <label for="hide-zero-asset" class="hide-zero-asset-label pointer">{{$t('hide_zero_asset')}}</label>
  </div>


  <Loading v-if="loading" class="loading min-height border_radius box_shadow"></Loading>

  <div class="border_radius border-box">


    <div class="detail-header flex">
      <span class="currency">{{$t('currency')}}</span>
      <span class="fullName">{{$t('fullName')}}</span>
      <span class="total">{{$t('total')}}</span>
      <span class="available">{{$t('available')}}</span>
      <span class="frozen">{{$t('frozen')}}</span>
      <span class="valuation">{{$t('valuation')}}(BTC)</span>
      <span class="rechargeAndWithdrawals">{{$t('recharge')}} / {{$t('withdrawals')}}</span>
    </div>

    <template v-if="!loading">
      <ul class="detail-container">
        <li class="detail-li" v-for="(item,index) in accountsComputed" :key="index" v-if="serverT >= item.displayTime && !item.isUSDT2"
            :class="{'li-select':activeIndex===index}">
          <div class="li-container flex">
          <span class="currency">
            <span class="currency-icon">
              <img class="currency-icon-img" :src="'http://logo.eunex.group/'+item.currency + '.png'" alt="">
            </span>
            <span class="currency_name">
              {{item.currency}}
            </span>
          </span>
            <span class="fullName">{{item.description}}</span>
            <span class="total">{{toFixed(parseFloat(toFixed(item.available,8)) + parseFloat(toFixed(item.frozen,8)) , 8)}}</span>
            <span class="available">{{toFixed(item.available,8)}}</span>
            <span class="frozen">{{toFixed(item.frozen,8)}}</span>
            <!-- <span class="valuation">{{(priceReady || initReady) && item.appraisement!=0 ? toFixed(item.appraisement,8) : '--'}}</span> -->
            <span class="valuation">
              <font class="valuation_font" @mouseenter="get_now_price(index, item.appraisement, $event)"
                    @mouseleave="hide_now_price">{{(priceReady || initReady) && item.appraisement!=0 ? toFixed(item.appraisement,8) : '--'}}</font>
              <span class="show_tips" :class="show_key == index ? 'show' : ''">
                {{change_price}}
                <font></font>
              </span>
            </span>
            <span class="rechargeAndWithdrawals">
            <!--打开充值 begin-->
            <span class="recharge-button button" @click="openRecharge(index,item)"
                  :class="{'recharge-button-select':activeIndex === index  && recharge}"
                  v-if="rechargeFlag(item)">{{$t('recharge')}}</span>
              <!--打开充值 end-->

              <!--关闭充值 begin-->
              <span class="recharge-button button can-not-withdrawals"
                    :class="{'recharge-button-select':activeIndex === index  && recharge}" v-else>{{$t('recharge')}}</span>
              <!--关闭充值 end-->

              <!--打开提现 begin-->
            <span class="withdrawals-button button" @click="openWithdrawals(index,item)"
                  :class="{'withdrawals-button-select':activeIndex===index  && withdrawals}"
                  v-if="withdrawalsFlag(item)"
            >{{$t('withdrawals')}}</span>
            <span class="withdrawals-button button can-not-withdrawals" v-else>{{$t('withdrawals')}}</span>
              <!--打开提现 end-->

              <!--关闭提现 begin-->
              <!--<span class="withdrawals-button button can-not-withdrawals">{{$t('withdrawals')}}</span>-->
              <!--关闭提现 end-->

        </span>
          </div>
          <RechargeAndWithdrawalsRecharge v-if="activeIndex === index  && recharge" @close="openRecharge(index,item)"
                                          :currency="item.currency"/>
          <RechargeAndWithdrawalsWithdrawals v-if="activeIndex===index  && withdrawals"
                                             @close="openWithdrawals(index,item)"
                                             :currency="item.currency" :available="item.available"
                                             :haveMemo="item.memo"/>
        </li>
      </ul>
    </template>

  </div>
  <!--弹窗-->
  <PopupWindow :switch="popWindowOpen" @close="popWindowClose">
    <div slot="header">
      <span class="">{{popWindowTitle}}</span>
    </div>
    <div slot="article" class="pop-article">{{popWindowPrompt}}</div>
    <div slot="footer" class="pop-footer flex-center">
      <template v-if="popWindowStyle==0">
        <button @click="popWindowClose" class="button-base btn_simple pointer">
          {{$t('cancel')}}
        </button>
        <button @click="goToBindIdentity" class="button-base btn_blue pointer">
          {{$t('verification')}}
        </button>
      </template>
      <template v-if="popWindowStyle==1">
        <button @click="goToBindGA" class="button-base btn_blue pointer">
          {{$t('bindGa')}}
        </button>
        <button @click="goToBindMobile" class="button-base btn_blue pointer">
          {{$t('bindMobile')}}
        </button>
      </template>
      <template v-if="popWindowStyle==2">
        <button @click="popWindowClose" class="button-base btn_blue pointer">
          {{$t('ensure')}}
        </button>
      </template>
      <template v-if="popWindowStyle==3">
        <button @click="goToBindEmail" class="button-base btn_blue pointer">
          <!--绑定邮箱-->
          {{$t('bind_email_pop_button')}}
        </button>
      </template>

    </div>
  </PopupWindow>


  <!-- 提示 start -->
  <PopupPrompt :popType="popupPromptType" :popText="popupPromptText" :popOpen="popupPromptOpen"
               :popClose="closePopupPrompt"></PopupPrompt>
  <!-- 提示 end -->


  <!--&lt;!&ndash;充值地址弹窗 begin&ndash;&gt;-->
  <!--<PopupWindow :switch="rechargeAddressChangePrompt" @close="closeRechargeAddressChangePrompt">-->
  <!--<div slot="header">-->
  <!--<span class="text_red">{{$t('recharge_address_change_title')}}</span>-->
  <!--</div>-->
  <!--<div slot="article">-->
  <!--<p>{{$t('recharge_address_change_detail_1')}}<span class="text_red">{{$t('recharge_address_change_detail_2')}}</span>-->
  <!--</p>-->
  <!--<p><span class="text_red">{{$t('recharge_address_change_detail_3')}}</span>{{$t('recharge_address_change_detail_4')}}<span-->
  <!--class="text_red">{{$t('recharge_address_change_detail_5')}}</span></p>-->
  <!--</div>-->
  <!--<div slot="footer" class="pop-footer flex-center">-->
  <!--<button @click="closeRechargeAddressChangePrompt" class="button-base btn_red pointer">-->
  <!--{{$t('recharge_address_change_button')}}-->
  <!--</button>-->
  <!--</div>-->

  <!--</PopupWindow>-->
  <!--&lt;!&ndash;充值地址弹窗 end&ndash;&gt;-->


</div>
