<div class="assembleARegiment">
  <div class="conteainer" v-if="!isMobile">
    <div class="content_img">
      <img src="../../assets/pintuanbanner/pintuan_banner.png" alt="">
      <div class="assemble">
<!--        拼团-->
        <p class="assemble_p">{{$t('assembleARegiment')}}</p>
<!--        参与拼团获取交易手续费折扣-->
        <p class="assemble_p_">{{$t('participatingFees')}}</p>
      </div>
    </div>

    <div class="create_join flex pointer">

      <!--  创建拼团-->
      <div class="create pointer" @click="createJoin" >
        <div class="img_ico pointer" @click="createJoin">
          <img src="../../assets/chuangjianpintuan_icon.png" alt="" @click="createJoin">
        </div>
        <p class="img_ico_p pointer" @click="createJoin">{{$t('createGroup')}}</p>
      </div>

     <!--  加入拼团-->
      <div class="join pointer" @click="joinAGroup">
        <div class="img_ico pointer" @click="joinAGroup">
          <img src="../../assets/jiarupintuan.png" alt="" @click="joinAGroup">
        </div>
        <p class="img_ico_p pointer" @click="joinAGroup">{{$t('joinGroup')}}</p>
      </div>
    </div>

    <!--    拼团规则-->
    <div class="rules">
      <p class="rules_p">{{$t('rulesRegimentation')}}</p>
      <p class="rules_details">{{$t('withholding')}}</p>
      <p class="rules_details">{{$t('calculated')}}</p>
      <p class="rules_details">{{$t('calculated_1')}}</p>
    </div>
  </div>
  <div class="mobileConteainer" v-if="isMobile">
    <div class="mobileContent_img">
      <img class="mobileContent_imgH5" src="../../assets/H5PT_banner@2x.png" alt="">
      <div class="mobileAssemble">
        <!--        拼团-->
        <p class="mobileAssemble_p">{{$t('assembleARegiment')}}</p>
        <!--        参与拼团获取交易手续费折扣-->
        <p class="mobileAssemble_p_">{{$t('participatingFees')}}</p>
      </div>
    </div>

    <div class="mobileCreate_join flex pointer">

      <!--  创建拼团-->
      <div class="create pointer" @click="createJoin" >
        <div class="mobileImg_ico pointer" @click="createJoin">
          <img class="mobileChuangjianimg" src="../../assets/chaungjian_icon@2x.png" alt="" @click="createJoin">
        </div>
        <p class="mobileImg_ico_p pointer" @click="createJoin">{{$t('createGroup')}}</p>
      </div>

      <!--  加入拼团-->
      <div class="join pointer" @click="joinAGroup">
        <div class="mobileImg_ico pointer" @click="joinAGroup">
          <img class="mobileChuangjianimg" src="../../assets/jiaru_icon@2x.png" alt="" @click="joinAGroup">
        </div>
        <p class="mobileImg_ico_p pointer" @click="joinAGroup">{{$t('joinGroup')}}</p>
      </div>
    </div>

    <!--    拼团规则-->
    <div class="mobileRules">
      <p class="mobileRules_p">{{$t('rulesRegimentation')}}</p>
      <p class="mobileRules_details">{{$t('withholdingA1')}}</p>
      <p class="mobileRules_details">{{$t('withholdingA')}}</p>
      <p class="mobileRules_details">{{$t('calculatedB1')}}</p>
      <p class="mobileRules_details">{{$t('calculatedB')}}</p>
      <p class="mobileRules_details">{{$t('calculatedC')}}</p>
      <p class="mobileRules_details">{{$t('calculated_1C')}}</p>
    </div>
  </div>

</div>
</div>
