<div class="container min-height">


  <div class="container-top-title">
    <Loading v-if="loading"/>
    <template v-if="!loading">
      <div>

        <div class="flex total-transfer">
          <div class="currency-total">{{$t('totalAsset')}}</div>
          <div class="what-transfer pointer " @mouseenter="openWhatTransfer()" @mouseleave="closeWhatTransfer()">
            <img src="../../assets/myWallet/transfer-explain.png" alt="">
            {{$t('transfer_describe')}}
          </div>
        </div>
        <!--        划转解释-->
        <div class="transfer-explain">
          <p>{{$t('transfer_describe1')}}</p>
          <p>{{$t('transfer_describe2')}}</p>
          <p>{{$t('transfer_describe3')}}</p>
        </div>

        <div class="currency-total-assets">
          <span class="total-assets">{{priceReady || initReady ? toFixed(total,8):'----'}} BTC</span>
          <span> ≈ {{(priceReady ||initReady) ? $globalFunc.accFixedCny(valuation,2) : '----'}} CNY</span>
        </div>
      </div>

    </template>
  </div>

  <div class="hide-zero-asset-box flex">
    <input type="checkbox" id="hide-zero-asset" class="hide-zero-asset-checkbox pointer" v-model="hideZeroAsset"/>
    <label for="hide-zero-asset" class="hide-zero-asset-label pointer">{{$t('hide_zero_asset')}}</label>
  </div>


  <Loading v-if="loading" class="loading min-height border_radius"></Loading>

  <div class="border-box">

    <div class="detail-header flex">
      <span class="currency">{{$t('currency')}}</span>
<!--      <span class="fullName">{{$t('fullName')}}</span>-->
      <span class="total">{{$t('total')}}</span>
      <span class="available">{{$t('available')}}</span>
      <span class="frozen">{{$t('frozen')}}</span>
      <span class="valuation">{{$t('valuation')}}(BTC)</span>
      <span class="rechargeAndWithdrawals">{{$t('operation')}}
<!--        {{$t('recharge')}} / {{$t('withdrawals')}}-->
      </span>
    </div>

    <template v-if="!loading">
      <ul class="detail-container">
        <li class="detail-li" v-for="(item,index) in accountsComputed" :key="index" v-if="serverT >= item.displayTime && !item.isUSDT2"
            :class="{'li-select':activeIndex===index}">
          <div class="li-container flex">
          <span class="currency">
<!--            <span class="currency-icon">-->
<!--              <img class="currency-icon-img" :src="'http://logo.2020.exchange/'+item.currency + '.png'" alt="">-->
<!--            </span>-->
            <span class="currency_name">
              {{item.currency}}
            </span>
          </span>
<!--            <span class="fullName">{item.description}}</span>-->
            <span class="total">{{toFixed(parseFloat(toFixed(item.otcAvailable,8)) + parseFloat(toFixed(item.otcFrozen,8)) , 8)}}</span>
            <span class="available">{{toFixed(item.otcAvailable,8)}}</span>
            <span class="frozen">{{toFixed(item.otcFrozen,8)}}</span>
            <!-- <span class="valuation">{{(priceReady || initReady) && item.appraisement!=0 ? toFixed(item.appraisement,8) : '--'}}</span> -->
            <span class="valuation">
<!--              @mouseenter="get_now_price(index, item.appraisement, $event)"-->
              <font class="valuation_font"
                    @mouseleave="hide_now_price">{{(priceReady || initReady) && item.otcAppraisement!=0 ? toFixed(item.otcAppraisement,8) : '--'}}</font>
              <span class="show_tips" :class="show_key == index ? 'show' : ''">
                {{change_price}}
                <font></font>
              </span>
            </span>
            <span class="rechargeAndWithdrawals">

         <!--  sss 屏蔽-->
            <!--打开划转 begin-->
            <span class="recharge-button button" @click="openTransfer(index,item)"
                  :class="{'recharge-button-select':activeIndex === index  && recharge}"
                  v-if="rechargeFlag(item)">
              {{$t('transfer')}}
<!--              {{$t('recharge')}}-->
            </span>
              <!--打开划转 end-->

              <!--关闭划转 begin-->
              <span class="can-not-withdrawals"
                    :class="{'recharge-button-select':activeIndex === index}" v-else>
                {{$t('transfer')}}
<!--                {{$t('recharge')}}-->
              </span>
              <!--关闭划转 end-->

              <!--打开去交易 begin-->
<!--            <span class="withdrawals-button button" @click="goToDeal(index,item)"-->
<!--                  :class="{'withdrawals-button-select':activeIndex===index}"-->
<!--                  v-if="withdrawalsFlag(item)"-->
<!--            >{{$t('toDealWith')}}-->
<!--&lt;!&ndash;              {{$t('withdrawals')}}&ndash;&gt;-->
<!--            </span>-->
<!--            <span class="not-margin can-not-withdrawals" v-else>-->
<!--              {{$t('toDealWith')}}-->
<!--&lt;!&ndash;              {{$t('withdrawals')}}&ndash;&gt;-->
<!--            </span>-->
              <!--打开去交易 end-->

              <!--  sss 屏蔽结束-->

              <!--打开划转 begin-->
<!--            <span class="recharge-buttons buttons">{{$t('transfer')}}</span>-->
              <!--打开划转 end-->

              <!--打开去交易 begin-->
<!--            <span class="recharge-buttons buttons">{{$t('toDealWith')}}</span>-->
              <!--打开去交易 end-->

              <!--关闭去交易 begin-->
              <!--<span class="withdrawals-button button can-not-withdrawals">{{$t('withdrawals')}}</span>-->
              <!--关闭去交易 end-->

        </span>


          </div>
<!--          充值页面组件-->
<!--          <RechargeAndWithdrawalsRecharge v-if="activeIndex === index  && recharge" @close="openRecharge(index,item)"-->
<!--                                          :currency="item.currency"/>-->
<!--          提现页面组件-->
<!--          <RechargeAndWithdrawalsWithdrawals v-if="activeIndex===index  && withdrawals"-->
<!--                                             @close="openWithdrawals(index,item)"-->
<!--                                             :currency="item.currency" :available="item.available"-->
<!--                                             :haveMemo="item.memo"/>-->
        </li>
      </ul>
    </template>
  </div>

  <!--  内部划转-->
  <PopupT :switch="popWindowOpen1" @close="popWindowClose1">
    <div slot="header">
      <span class="pop-ei-ar">{{$t('capitalTransfer')}}</span>
    </div>
    <div slot="article" class="pop-article">
      <!--      钱包到账户-->
      <div class="wallet-to-account flex">
        <div class="wallet-to-account-left flex">
          <div class="wallet-account-change">
            <div>{{$t('from')}}</div>
            <img src="../../assets/myWallet/record_change_bottom_icon.png" alt="">
            <div>{{$t('reach')}}</div>
          </div>
        </div>
        <div class="wallet-to-account-content" :class="(assetAccountType == 'wallet') ? 'flex-colum':'flex-colum-reverse'">
          <div>{{$t('coinAccount')}}</div>
          <div class="wallet-to-account-content-line"/>
          <div>{{$t('myWallet')}}</div>
        </div>
        <div class="wallet-to-account-right pointer flex" @click="changeAssetAccountType()">
          <img src="../../assets/myWallet/record_change_icon.png" alt="">
        </div>
      </div>

      <!--      币种-->
      <div class="currency block-input">
        <div class="block-input-title">{{$t('currency')}}</div>
        <el-select class="inputInner" value-key="currencyKey" v-model="currencyValue" filterable placeholder="" @change="changeTransferCurrency">
          <el-option
            v-if="serverT >= item.displayTime && !item.isUSDT2"
            v-for="item in accountsComputed"
            :key="item.currencyKey"
            :label="item.currency"
            :value="item.currency"
          >
            <!--            :remote-method="remoteMethod"-->
            <!--            :loading="loading">-->
          </el-option>
        </el-select>

<!--        <input type="text" placeholder="BTC">-->
        <div class="amount-not-empty">
          <span>{{transferCurrencyWA}}</span>
        </div>
      </div>

      <!--      数量-->
      <div class="amount block-input">
        <div class="block-input-title">
          <span>{{$t('amount')}}</span>
          <span class="available-right">{{$t('mentioning')}}：{{transferCurrencyAvailable}} {{currencyValue}}</span>
        </div>
        <div class="amount-input flex">
          <input type="text" placeholder="" class="amount-input-box" v-model="amountInput">
          <span class="amount-all pointer" @click="allMention()">{{$t('allMention')}}</span>
        </div>
        <div class="amount-not-empty">
          <span>{{transferAmountWA}}</span>
        </div>
      </div>
    </div>
    <div slot="footer" class="pop-footer">
      <span class="pop-qu pointer" @click="click_rel_em">{{$t('cancel')}}</span>
      <button class="pop-qu-2 pointer" @click="transferCommit">{{$t('ensure')}}</button>

    </div>
  </PopupT>

  <!--弹窗-->
  <PopupWindow :switch="popWindowOpen" @close="popWindowClose">
    <div slot="header">
      <span class="header_xuzhi">{{popWindowTitle}}</span>
    </div>
    <div slot="article" class="pop-recharge">{{popWindowPrompt}}</div>
    <div slot="footer" class="pop-recharge-bottom flex-center">
      <template v-if="popWindowStyle==0">
        <button @click="popWindowClose" class="button-base btn_simple pointer m-r">
          {{$t('cancel')}}
        </button>
        <button @click="goToBindIdentity" class="button-base btn_blue pointer">
          {{$t('verification')}}
        </button>
      </template>
      <template v-if="popWindowStyle==1">
        <button @click="goToBindGA" class="button-base btn_blue pointer m-r">
          {{$t('bindGa')}}
        </button>
        <button @click="goToBindMobile" class="button-base btn_blue pointer">
          {{$t('bindMobile')}}
        </button>
      </template>
      <template v-if="popWindowStyle==2">
        <button @click="popWindowClose" class="button-base btn_blue pointer m-r">
          {{$t('ensure')}}
        </button>
      </template>
      <template v-if="popWindowStyle==3">
        <button @click="goToBindEmail" class="button-base-email btn_blue pointer">
          <!--绑定邮箱-->
          {{$t('bind_email_pop_button')}}
        </button>
      </template>

    </div>
  </PopupWindow>


  <!-- 提示 start -->
  <PopupPrompt :popType="popupPromptType" :popText="popupPromptText" :popOpen="popupPromptOpen"
               :popClose="closePopupPrompt"></PopupPrompt>
  <!-- 提示 end -->


  <!--&lt;!&ndash;充值地址弹窗 begin&ndash;&gt;-->
  <!--<PopupWindow :switch="rechargeAddressChangePrompt" @close="closeRechargeAddressChangePrompt">-->
  <!--<div slot="header">-->
  <!--<span class="text_red">{{$t('recharge_address_change_title')}}</span>-->
  <!--</div>-->
  <!--<div slot="article">-->
  <!--<p>{{$t('recharge_address_change_detail_1')}}<span class="text_red">{{$t('recharge_address_change_detail_2')}}</span>-->
  <!--</p>-->
  <!--<p><span class="text_red">{{$t('recharge_address_change_detail_3')}}</span>{{$t('recharge_address_change_detail_4')}}<span-->
  <!--class="text_red">{{$t('recharge_address_change_detail_5')}}</span></p>-->
  <!--</div>-->
  <!--<div slot="footer" class="pop-footer flex-center">-->
  <!--<button @click="closeRechargeAddressChangePrompt" class="button-base btn_red pointer">-->
  <!--{{$t('recharge_address_change_button')}}-->
  <!--</button>-->
  <!--</div>-->

  <!--</PopupWindow>-->
  <!--&lt;!&ndash;充值地址弹窗 end&ndash;&gt;-->


</div>
