<div class="assembleARegiment">
  <div class="conteainer">
    <div class="content_img">
      <img src="../../assets/拼团_拼团banner/拼团_拼团banner.png" alt="">
      <div class="assemble">
        <p class="assemble_p">拼团</p>
        <p class="assemble_p_">参与拼团获取交易手续费折扣</p>
      </div>
    </div>

    <div class="create_join">
      <div class="create" @click="createJoin">

        <div class="img_ico"></div>
        <p class="img_ico_p">创建拼团</p>
      </div>
      <div class="join" @click="joinAGroup">
        <div class="img_ico"></div>
        <p class="img_ico_p">加入拼团</p>
      </div>
    </div>
  </div>
</div>
