<div class="li-hidden recharge flex-center">
  <Loading v-if="loading"/>
  <template v-if="!loading">
    <!--留空-->
<!--    <div class="black flex-center fixed-height"></div>-->


    <!--提现地址-->
    <div class="address flex fixed-height">
      <div v-if="currency == 'USDT' || currency == 'USDT2' " class="withdrawals-address address-detail flex">
        <span class="input-title">{{$t('chainName')}}</span>
        <div class="address-box" >

          <div v-if="withdrawalsFlagUSDT" class="address-ERC" @click="toggleStatus(1)" :class="selectTab ==1 ? 'address-si' : ''">OMNI</div>
          <div v-if="!withdrawalsFlagUSDT" class="address-OMNI-disabled">OMNI</div>
          <div v-if="withdrawalsFlagUSDT2" class="address-ERC" @click="toggleStatus(2)" :class="selectTab ==2 ? 'address-si' : ''">ERC20</div>
          <div v-if="!withdrawalsFlagUSDT2" class="address-OMNI-disabled">ERC20</div>
<!--          TRC20-->
          <div v-if="withdrawalsFlagUSDT3" class="address-OMNI" @click="toggleStatus(3)" :class="selectTab ==3 ? 'address-si' : ''">TRC20</div>
          <div v-if="!withdrawalsFlagUSDT3" class="address-OMNI-disabled">TRC20</div>

        </div>
      </div>

      <!--提现地址选择-->
      <div class="withdrawals-address address-detail flex">
        <span class="withdrawals-address-add-title">{{$t('withdrawalsAddress')}}</span>
      </div>

      <div class="withdrawals-address address-detail flex">

        <!--提现地址输入未选择，未选择的时候显示-->
        <div class="withdrawals-input" v-if="addressId==-1">
          <div class="address-container flex">
<!--            <input class="input-remarks input-unify border-container" type="text"-->
<!--                   :placeholder="$t('placeholder_0')" v-model="description"-->
<!--                   v-show="selectTab === 1"-->
<!--                   @input="InputChangeDescription">-->

<!--            <input class="input-remarks input-unify border-container" type="text"-->
<!--                   :placeholder="$t('placeholder_0')" v-model="description"-->
<!--                   v-show="selectTab === 2"-->
<!--                   @input="InputChangeDescription">-->
<!--            <input class="input-remarks input-unify border-container" type="text"-->
<!--                   :placeholder="$t('placeholder_0')" v-model="description"-->
<!--                   v-show="selectTab === 3"-->
<!--                   @input="InputChangeDescription">-->
<!--@blur="blurInputDescription"-->


<!--            <span class="input-connect"></span>-->

            <input class="input-address input-unify border-container flex" type="text"
                   :placeholder="$t('placeholder_1')" v-model="address"
                   v-show="selectTab === 1"
                   @blur="blurInputAddress">
            <input class="input-address input-unify border-container flex" type="text"
                   :placeholder="$t('placeholder_1')" v-model="address"
                   v-show="selectTab === 2"
                   @blur="blurInputAddress">
            <input class="input-address input-unify border-container flex" type="text"
                   :placeholder="$t('placeholder_1')" v-model="address"
                   v-show="selectTab === 3"
                   @blur="blurInputAddress">


          </div>
        </div>

        <!--提现地址输入已选择，选择并且没有下拉的时候显示-->
        <div class="withdrawals-input" v-if="addressId!=-1 && !selectAddress">
          <div class="address-container flex">
           <input class="input-remarks input-unify border-container" type="text"
                   :placeholder="$t('placeholder_0')" v-model="description"
                   @blur="blurInputAddress" readonly>
            <span class="input-connect">-</span>
            <div class="select-address-container border-container">
              <input class="input-address input-unify no-border" type="text"
                     :placeholder="$t('placeholder_1')" v-model="address"
                     @blur="blurInputAddress" readonly>
            </div>
          </div>
        </div>


        <!--下拉框-->
        <span class="select-address-button-usdt pointer" @click="changeSelectAddress"
              :class="selectAddress?'select-address-button-close':'select-address-button-open'"
              v-if="oldAddress.length!==0 && (addressId==-1 || !selectAddress)&&currency =='USDT'"
        ></span>
        <span class="select-address-button pointer" @click="changeSelectAddress"
              :class="selectAddress?'select-address-button-close':'select-address-button-open'"
              v-if="oldAddress.length!==0 && (addressId==-1 || !selectAddress) && currency !='USDT'"
        ></span>


        <div class="clear"></div>

      </div>


      <!-- 选择地址 只有下拉的时候显示 begin -->
      <ul class="select-address">
        <!--<transition-group name="selectAddress">-->
        <li class="address-container select-address-detail flex pointer relative"
            v-for="(item,index) in computedAddress"
            :key="item.id" v-if="selectAddress"
        >
          <div class="select-address-input-container flex" @click="clickAddress(item)">
            <input class="input-remarks pointer input-unify hover-border border-container" type="text" readonly
                   :value="item.description">
            <span class="input-connect-select">-</span>
            <div class="select-address-container  flex hover-border" :class="item.memoAddress ?'border-container-memo':'border-container'">
              <input class=" select-address-memo-input pointer input-unify" type="text" readonly
                     :value="item.address">

              <template v-if="item.memoAddress">
                <span class="select-address-memo-separate">{{$t('memo_1')}}</span>
                <input class=" select-address-memo-input pointer input-unify" type="text" readonly
                       :value="item.memoAddress">
              </template>
            </div>
          </div>
          <span class="input-address-delete" @click="clickDeleteAddress(item)"></span>
        </li>
        <!--</transition-group>-->

        <!-- 点击添加新地址 begin -->
        <!--<transition name="addNewAddress">-->
        <li class="add-new-address flex-center pointer" v-if="selectAddress" :key="-1"
            @click="clickAddNewAddress">
          <span class="">{{$t('addAddress')}}</span>
        </li>
        <!--</transition>-->
        <!-- 点击添加新地址 end -->

      </ul>
      <!-- 选择地址 end -->


      <div class="can-not-empty wrong-msg">
        <span>{{addressWA}}</span>
      </div>


      <!--memo begin-->
      <template v-if="haveMemo==='yes'">
        <template v-if="addressId!=-1">
          <div class="withdrawals-number-container address-detail">
            <span class="input-title">{{$t('memo_1')}}</span>
            <div class="border-container flex">
              <input type="text" class="input-unify1" v-model="memo" readonly>
            </div>
          </div>
        </template>
        <template v-else>
          <div class="withdrawals-number-container address-detail">
            <span class="input-title">{{$t('memo_1')}}</span>
            <span class="text_red">{{$t('memo_2')}}</span>
            <div class="withdrawals-number border-container flex">
              <input type="text" class="input-unify" v-model="memo">
            </div>
            <div class="can-not-empty wrong-msg">
              <span>{{memoWA}}</span>
            </div>
          </div>
        </template>


      </template>
      <!--memo end-->

      <!--publicKey begin-->
      <template v-if="isWCG">
        <template v-if="addressId!=-1">
          <div class="withdrawals-number-container address-detail">
            <span class="input-title">{{$t('publicKey_1')}}</span>
            <div class="withdrawals-number border-container flex">
              <input type="text" class="input-unify" v-model="publicKey">
            </div>
          </div>
        </template>
        <template v-else>
          <div class="withdrawals-number-container address-detail">
            <span class="input-title">{{$t('publicKey_1')}}</span>
            <div class="withdrawals-number border-container flex">
              <input type="text" class="input-unify" v-model="publicKey">
            </div>
            <div class="can-not-empty wrong-msg">
              <span>{{publicKeyWA===''? this.$t('publicKeyWA_1') : publicKeyWA}}</span>
            </div>
          </div>
        </template>


      </template>
      <!--publicKey end-->


      <!--提现数量-->
      <div class="withdrawals-number-container address-detail">
        <div class="withdrawals-number-title">
          <span class="withdrawals-address-add-title">{{$t('withdrawalsNumber')}}</span>
          <span class="withdrawals-number-prompt">{{$t('available')}}{{toFixed(available,8)}}{{currencyName}}</span>
        </div>
        <div class="withdrawals-number border-container flex">
          <input type="text" @input="inputNumber" v-model="amount" @blur="blurInputNumber" class="input-unify">

          <span class="withdrawals-number-all pointer text_blue" @click="withdrawalAll">{{$t('withdrawalsAll')}}</span>
        </div>
        <div class="can-not-empty wrong-msg">
          <span v-if="amountWA!==''">{{amountWA}}</span>
        </div>
      </div>



      <div class="flex withdrawals-fee-commit">
        <!--手续费提示-->
        <div class="address-detail withdrawals-prompt">
          <div class="withdrawals-currency-name">{{$t('fee')}}{{toFixed(computedFee,8)}}{{currencyName}}</div>
          <div>{{$t('real')}}{{realAccountAll}}{{currencyName}}</div>
        </div>
        <!--提交按钮-->

        <div class="commit ">
          <button class="address-detail withdrawals-commit" @click="openbox();commit()" v-if="!sending"
          >{{$t('commit')}}</button>
          <button class="address-detail withdrawals-commit btn_grey" v-if="sending">提交中</button>
        </div>
      </div>

    </div>
    <!--描述-->
    <ul class="describe flex fixed-height">
<!--      EOS删掉 "注：提现EOS同时需要一个提现地址和EOS memo，如果未遵守EOS提现规则，币会丢失。若钱包无memo，请输入任意字符。"-->
<!--      <li class="" v-if="haveMemo==='yes'"><span class="red-bot"></span>-->
<!--        &lt;!&ndash;注：提现{{currency}}同时需要一个充值地址和{{currency}} memo，如果未遵守{{currency}}提现规则，币会丢失。若钱包无memo，请输入任意字符。&ndash;&gt;-->
<!--        {{/*isWCG && $t('memoPromptWCG',{currency:currency}) || */$t('memoPrompt',{currency:currency}) }}-->
<!--      </li>-->
<!--      <li class="" v-show="(currency == 'USDT' || currency == 'USDT2' || currency == 'USDT3') && (selectTab === 1)">-->
<!--        <span class="usdt_notice_dot"></span>{{$t('usdt_notice')}}-->
<!--      </li>-->
<!--      <li class="" v-show="(currency == 'USDT' || currency == 'USDT2' || currency == 'USDT3') && (selectTab === 2)">-->
<!--        <span class="usdt_notice_dot"></span>{{$t('eusdt_notice')}}-->
<!--      </li>-->
<!--      <li class="" v-show="(currency == 'USDT' || currency == 'USDT2' || currency == 'USDT3') && (selectTab === 3)">-->
<!--        <span class="usdt_notice_dot"></span>{{$t('tusdt_notice')}}-->
<!--      </li>-->
      <li><span></span>
        <!-- {{$t('prompt_1',{ currency : currencyName,
        minimumAmount : computedMinimumAmount})}} -->
       {{$t('prompt_1',{currency:currencyName,minimumAmount:computedMinimumAmount})}}

      </li>
<!--      <li><span></span>{{$t('prompt_2')}}</li>-->
<!--      提示删除第三条-->
<!--      <li><span></span>{{$t('prompt_3')}}</li>-->
      <li><span></span>{{$t('prompt_4')}}</li>
      <li><span></span>{{$t('prompt_5')}}</li>
    </ul>
    <!--关闭-->
    <div class="close"></div>
<!--    <img src="../../assets/关闭RechargeAndWithdrawals.png" alt="" @click="close" class="close-img">-->

    <div v-if="sending" class="shadow">
      <!--<Loading/>-->
    </div>


    <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>

    <PopupWindow :switch="popWindowOpen" @close="popWindowClose" class="popupWindow-container">
      <div slot="header" class="popWindow-title">{{$t('verify')}}
      </div>

      <!-- article begin 1 -->
      <div slot="article" class="popWindow-article" v-if="popWindowStep==1">
<!--        <div class="prompt-title">-->
<!--          {{$t('promptWindow_1')}}-->
<!--        </div>-->
        <label for="email" class="verification-title">{{$t('email')}}</label>
        <div class="verification-container flex">
            <input type="text" id="email" class="verification-input input_padding"
                   v-model="emailVerificationCode"
                   @blur="testEmailVerification">
            <div class="get-verification pointer" v-if="!getEmailVerificationCode"
                 @click="getEmailVerification">
              {{$t('reGet')}}
          </div>
          <div class="get-verifications pointer" v-if="getEmailVerificationCode" disabled>
            {{getEmailVerificationCodeCountdown}}s
          </div>
        </div>
        <div class="prompt-wrong wrong-msg" v-if="emailVerificationCodeWA!==''">
          {{emailVerificationCodeWA}}
        </div>
        <div class="prompt-wrong wrong-msg" v-else="emailVerificationCodeWA!==''">

        </div>

      </div>
      <!-- article end 1 -->

      <!-- article begin 2 -->
      <div slot="article" class="popWindow-article" v-if="popWindowStep==2">

        <div class="prompt-title prompt-title-top flex" v-if="!step2Error">
          <div>{{$t('gaCode')}}</div>
          <div>{{$t('promptWindow_2')}}</div>
        </div>

        <template v-if="!step2Error">
          <div class="prompt-show-picker-box">

            <div class="prompt-show-picker" v-if="showPicker">
              <div class="prompt-show-picker-detail-box">
                <input type="radio" name="picker" value="1" id="pick-ga" v-model="picker">
                <label for="pick-ga">{{$t('picker_1')}}</label>
              </div>
              <div class="prompt-show-picker-detail-box">
                <input type="radio" name="picker" value="2" id="pick-mobile" v-model="picker">
                <label for="pick-mobile">{{$t('picker_2')}}</label>
              </div>
            </div>
            <div class="verification-container flex" v-if="picker == 1">
<!--              <label for="gaCode"-->
<!--                     class="verification-title">{{$t('gaCode')}}</label>-->
              <input type="text" id="gaCode" class="verification-input input_padding" v-model="step2VerificationCode"
                     @blur="testGACodeVerification">
            </div>
            <div class="verification-container double-input-container flex" v-if="picker == 2">
              <label for="mobile"
                     class="verification-title">{{$t('mobile')}}</label>
              <input type="text" id="mobile" class="verification-input input_padding"
                     v-model="step2VerificationCode"
                     @blur="testMobileVerification">
              <div class="get-verification" v-if="!getMobileVerificationCode"
                      @click="getMobileVerification">{{$t('reGet')}}
              </div>
              <div class="get-verifications pointer" v-if="getMobileVerificationCode" disabled>
                {{getMobileVerificationCodeCountdown}}s
              </div>
            </div>
          </div>
        </template>

        <div class="prompt-wrong wrong-msg" v-if="step2VerificationCodeWA!==''">
          {{step2VerificationCodeWA}}
        </div>
        <div class="prompt-wrong wrong-msg" v-else>

        </div>
      </div>
      <!-- article end 2 -->


      <!-- footer popWindow begin 1 -->
      <div slot="footer" class="popWindow-footer flex-center" v-if="popWindowStep === 1">
        <button class="button-base pointer btn_border_blue text_blue btn_simple" @click="popWindowClose">
          {{$t('cancel')}}
        </button>
        <button class="button-base btn-commit btn_blue pointer " v-if="!emailVerificationSending"
                @click="commitEmailVerification">
          {{$t('commit')}}
        </button>
        <button class="button-base btn-commit btn_grey pointer " v-if="emailVerificationSending" disabled>
          {{$t('commiting')}}
        </button>
      </div>
      <!-- footer popWindow end 1 -->

      <!-- footer popWindow begin 2 -->
      <div slot="footer" class="popWindow-footer flex-center" v-if="popWindowStep === 2">
        <template v-if="!step2Error">
          <button class="button-base btn-cancel  pointer btn_border_blue text_blue btn_simple" @click="popWindowClose">
            {{$t('cancel')}}
          </button>
          <button class="button-base btn-commit btn_blue pointer" v-if="!step2VerificationSending"
                  @click="commitStep2Verification">
            {{$t('commit')}}
          </button>
          <button class="button-base btn-commit btn_grey pointer" v-if="step2VerificationSending" disabled>
            {{$t('commiting')}}
          </button>
        </template>
        <template v-if="step2Error">
          <button class="button-base btn-commit btn_blue pointer" v-if="step2VerificationSending" disabled>
            {{$t('commit')}}
          </button>
        </template>
      </div>
      <!-- footer popWindow end 1 -->


      <!--加载样式 begin -->
      <div class="popWindow-loading" slot="other" v-if="popWindowLoading">
        <div class="popWindow-background"></div>
        <Loading/>
      </div>
      <!--加载样式 end -->

    </PopupWindow>


    <!--删除地址 begin-->
    <PopupWindow :switch="deleteAddressPopOpen" @close="closeDeleteAddressPop">
      <div slot="header" class="detele-header">
        {{$t('deletePopHeader')}}
      </div>
      <div slot="article" class="delete-pop-article">
        <!--您确认要删除此地址吗？-->
        {{deleteMsg}}
      </div>
      <div slot="footer" class="detele-footer">
        <template v-if="!deleteBack">
          <button class="button-base btn_simple pointer" @click="closeDeleteAddressPop">
            {{$t('deletePopCancel')}}
          </button>
          <button class="button-base btn_blue pointer" @click="confirmDeleteAddress" v-if="!deleteSending">
            {{$t('deletePopConfirm')}}
          </button>
          <button class="button-base btn_grey pointer" disabled v-else>
            {{$t('deletePopConfirming')}}
          </button>
        </template>
        <template v-else>
          <button class="button-base1 btn_blue pointer" @click="closeDeleteAddressPop">
            {{$t('deletePopConfirm_2')}}
          </button>
        </template>
      </div>

      <!--加载样式 begin -->
      <div class="popWindow-loading" slot="other" v-if="deleteAddressLoading">
        <div class="popWindow-background"></div>
        <Loading/>
      </div>
      <!--加载样式 end -->
    </PopupWindow>
    <!--删除地址 end-->

  </template>

  <!--memo 弹窗提示 begin-->
<!--  <BasePopupWindow :open="memoPopWindowOpen" :close="memoPopWindowClose">-->
<!--    <div slot="header" class="memo-pop-header text_red">-->
<!--      {{$t('notice')}}-->
<!--    </div>-->
<!--    <div slot="article" class="memo-pop-article">-->
<!--      <div class="memo-pop-article-text text_red">-->
<!--        {{ /*isWCG && $t('memoPromptWCG_1',{currency:currency}) || */$t('memoPrompt_1',{currency:currency})}}-->
<!--      </div>-->
<!--      <div class="memo-pop-check">-->
<!--        <input type="checkbox" id="memo-pop-checkbox" v-model="knowMemoRule">-->
<!--        <label for="memo-pop-checkbox">{{$t('knowMemoRule',{currency:currency})}}</label>-->
<!--      </div>-->
<!--      <div class="memo-pop-btn-container flex">-->
<!--        <button class="btn_base memo-btn-not-agree" v-show="!knowMemoRule">-->
<!--          {{$t('continueWithdrawals')}}-->
<!--        </button>-->
<!--        <button class="btn_base btn_blue" v-show="knowMemoRule" @click="memoPopWindowGoAhead">-->
<!--          {{$t('continueWithdrawals')}}-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </BasePopupWindow>-->
  <!--memo 弹窗提示 end-->

</div>
