<transition name="popWindow">
  <div class="popWindow-container min-width" v-if="show">

    <!--遮罩层 begin-->
    <div class="background"></div>
    <!--遮罩层 begin-->


    <!--弹窗主体 begin-->
    <div class="popup-window-box"  @touchmove.prevent>

      <img src="../../assets/base-popup-window-close-icon.png" alt="" class="close" @click="closeClick">


      <div class="popWindow-title">
        <slot name="header">
          <span>{{$t("pupupWindow.title")}}</span>
        </slot>
      </div>


      <div class="popWindow-article">
        <slot name="article">

        </slot>
      </div>


      <!--footer 部分 begin-->
      <slot name="footer">

      </slot>
      <!--footer 部分 end-->


      <!--如果有其他要加的东西-->
      <slot name="other">

      </slot>

    </div>
    <!--弹窗主体 end-->


  </div>
</transition>
