<transition name="popWindow">
  <div class="popWindow-container min-width" v-if="show">

    <div class="background">

    </div>
    <div :class="!pop_width ? 'popup' : 'min-popup'">
      <div class="popWindow-title">
        <span>{{$t("开通合约账户")}}</span>
      </div>
      <div class="popWindow-article">
        合约交易属于高风险交易行为，在带来更多潜在利润的同时，也蕴含巨大风险。请注意，当市场出现剧烈波动时，您合约钱包中的余额有可能全部亏损。来自部分地区的用户无法使用合约交易。
      </div>

      <div class="flex footer-btn">
        <slot name="footer">
          <!--          <button>{{$t("pupupWindow.cancel")}}</button>-->
        </slot>

      </div>
    </div>



  </div>
</transition>
