<div class="createAGroup">
  <div class="createAGroup_conteainer">
    <div class="create">
      <div class="create_conteainer">
        <div class="create_a">
<!--          创建拼团-->
          <p class="create_a_p">{{$t('createGroup')}}</p>
<!--          创建拼团获取交易手续费折扣-->
          <p class="create_discount">{{$t('transactionFees')}}</p>
        </div>

<!--        团长账号-->
        <div class="account_number">
          <p class="account_number_p">{{$t('colonelNumber')}}</p>
          <div class="account_number_div">{{userName}}</div>
        </div>
<!--        拼团名称-->
        <div class="account_number">
          <p class="account_number_p">{{$t('nameRegiment')}}</p>
<!--          placeholder="输入拼团名称（不可超过20字符）"-->
<!--          :class="{'wrong-border' : gname === '' && gname == ''}"-->
          <input type="text"
                 class="account_number_input"
                 :placeholder='pswPlaceholderShow && $t("nameMsg_20") || ""'
                 v-model="gname"
                 @focus="closePlaceholder('psw')"
                 @input="testInputIngPsw"
                 @blur="testName_0">
        </div>
        <div class="hig">
          <span v-if="name_0!=''" class="prompt-span wrong-msg">{{name_0}}</span>
        </div>
<!--        设置副团长-->
        <div class="account_number">
          <p class="account_number_p">{{$t('delegations')}}</p>
<!--          :class="{'wrong-border' : deputyAccount === '' && deputyAccount == ''}"-->
          <input type="text"
                 class="account_number_input"
                 placeholder="输入副团长账号"
                 v-model="deputyAccount"
                 :placeholder='pswConfirmPlaceholderShow && $t("nameMsgText") || ""'
                 @focus="closePlaceholder('deputyAccount')"
                 @blur="testdeputyAccount">
        </div>
        <div class="hig">
          <span v-if="nameMsg_0 !=''" class="prompt-span wrong-msg">{{nameMsg_0}}</span>
        </div>

<!--        创建-->
        <div class="div_botton" @click="postCreateAGroup">{{$t('create')}}</div>
      </div>
    </div>


<!--    拼团规则-->
    <div class="rules" >
      <p class="rules_p">{{$t('rulesRegimentation')}}</p>
      <p class="rules_details">{{$t('withholding')}}</p>
      <p class="rules_details">{{$t('calculated')}}</p>
    </div>
  </div>

  <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>
</div>
