<div class="createAGroup">
  <div class="createAGroup_conteainer">
    <div class="create">
      <div class="create_conteainer">
        <div class="create_a">
          <p class="create_a_p">创建拼团</p>
          <p class="create_discount">创建拼团获取交易手续费折扣</p>
        </div>

        <div class="account_number">
          <p class="account_number_p">账号</p>
          <div class="account_number_div">12345677@qq.com</div>
        </div>
        <div class="account_number">
          <p class="account_number_p">团队名称</p>
          <input type="text" class="account_number_input" placeholder="输入团队名称">
        </div>
        <div class="account_number">
          <p class="account_number_p">设置副团长</p>
          <input type="text" class="account_number_input" placeholder="输入副团长账号">
        </div>

        <div class="div_botton" @click="createGroupType">创建</div>
      </div>
    </div>

    <div class="rules" >
      <p class="rules_p">拼团规则</p>
      <p class="rules_details">采用先扣次日返的形式</p>
      <p class="rules_details">A.团对所有成员享受团友交易手续费折扣 ，B.团级返佣，所有团员手续费求和后再核算返佣给团长账号。手续费折扣和返佣奖励只计算买入。</p>
    </div>
  </div>
</div>
