<div class="createAGroup">
  <div class="createAGroup_conteainer" v-if="!isMobile">
    <div class="create">
      <div class="create_conteainer">
        <div class="create_a">
<!--          创建拼团-->
          <p class="create_a_p">{{$t('createGroup')}}</p>
<!--          创建拼团获取交易手续费折扣-->
          <p class="create_discount">{{$t('transactionFees')}}</p>
        </div>

<!--        团长账号-->
        <div class="account_number">
          <p class="account_number_p">{{$t('colonelNumber1')}}</p>
          <div class="account_number_div">{{$globalFunc.formatUserName(userName)}}</div>
        </div>
<!--        拼团名称-->
        <div class="account_number">
          <p class="account_number_p">{{$t('nameRegiment')}}</p>
<!--          placeholder="输入拼团名称（不可超过20字符）"-->
<!--          :class="{'wrong-border' : gname === '' && gname == ''}"-->
          <input type="text"
                 class="account_number_input"
                 :placeholder='pswPlaceholderShow && $t("nameMsg_20") || ""'
                 v-model="gname"
                 @focus="closePlaceholder('psw')"
                 @input="testInputIngPsw"
                 @blur="testName_0">
        </div>
        <div class="hig">
          <span v-if="name_0!=''" class="prompt-span wrong-msg">{{name_0}}</span>
        </div>
<!--        设置副团长-->
        <div class="account_number">
          <p class="account_number_p">{{$t('delegations')}}</p>
<!--          :class="{'wrong-border' : deputyAccount === '' && deputyAccount == ''}"-->
          <input type="text"
                 class="account_number_input"
                 placeholder="输入副团长账号"
                 v-model="deputyAccount"
                 :placeholder='pswConfirmPlaceholderShow && $t("nameMsgText") || ""'
                 @focus="closePlaceholder('deputyAccount')"
                 @blur="testdeputyAccount">
        </div>
        <div class="hig">
          <span v-if="nameMsg_0 !=''" class="prompt-span wrong-msg">{{nameMsg_0}}</span>
        </div>

<!--        创建-->

        <div class="PCtuanfei">
          <span class="tuanfeiSpan">{{$t('entertuan')}}：</span>
          <span class="tuanfeiSpan2">100TT</span>
        </div>
        <div class="div_botton pointer" @click="postCreateAGroup">{{$t('create')}}</div>
      </div>
    </div>


<!--    拼团规则-->
    <div class="rules" >
      <p class="rules_p">{{$t('rulesRegimentation')}}</p>
      <p class="rules_details">{{$t('withholding')}}</p>
      <p class="rules_details">{{$t('calculated')}}</p>
      <p class="rules_details">{{$t('calculated_1')}}</p>
    </div>
  </div>


  <div class="mobileCreateAGroup_conteainer" v-if="isMobile||isApp||isIOS">
    <div :class="(isApp||isIOS) ? 'isAppCreate':'mobileCreate'" >
      <div class="mobileCreate_conteainer">
        <div class="mobileCreate_a">
          <!--          创建拼团-->
          <p class="mobileCreate_a_p">{{$t('createGroup')}}</p>
          <!--          创建拼团获取交易手续费折扣-->
          <p class="mobileCreate_discount">{{$t('transactionFees')}}</p>
        </div>

        <!--        团长账号-->
        <div class="mobileaccount_number">
          <p class="mobileaccount_number_p">{{$t('colonelNumber1')}}</p>
          <div class="mobileaccount_number_div">{{$globalFunc.formatUserName(userName)}}</div>
        </div>
        <!--        拼团名称-->
        <div class="mobileaccount_number">
          <p class="mobileaccount_number_p">{{$t('nameRegiment')}}</p>
          <!--          placeholder="输入拼团名称（不可超过20字符）"-->
          <!--          :class="{'wrong-border' : gname === '' && gname == ''}"-->
          <input type="text"
                 class="mobileaccount_number_input"
                 :placeholder='pswPlaceholderShow && $t("nameMsg_20") || ""'
                 v-model="gname"
                 @focus="closePlaceholder('psw')"
                 @input="testInputIngPsw"
                 @blur="testName_0">
        </div>
        <div class="mobilehig">
          <span v-if="name_0!=''" class="prompt-span wrong-msg">{{name_0}}</span>
        </div>
        <!--        设置副团长-->
        <div class="mobileaccount_number">
          <p class="mobileaccount_number_p">{{$t('delegations')}}</p>
          <!--          :class="{'wrong-border' : deputyAccount === '' && deputyAccount == ''}"-->
          <input type="text"
                 class="mobileaccount_number_input"
                 placeholder="输入副团长账号"
                 v-model="deputyAccount"
                 :placeholder='pswConfirmPlaceholderShow && $t("nameMsgText") || ""'
                 @focus="closePlaceholder('deputyAccount')"
                 @blur="testdeputyAccount">
        </div>
        <div class="hig">
          <span v-if="nameMsg_0 !=''" class="prompt-span wrong-msg">{{nameMsg_0}}</span>
        </div>

        <!--        创建-->
        <div class="mobilePCtuanfei">
          <span class="mobiletuanfeiSpan">所需团费：</span>
          <span class="mobiletuanfeiSpan2">100TT</span>
        </div>
        <div class="mobileDiv_botton pointer" @click="postCreateAGroup">{{$t('create')}}</div>
      </div>
    </div>


    <!--    拼团规则-->
    <div class="mobileRules">
      <p class="mobileRules_p">{{$t('rulesRegimentation')}}</p>
      <p class="mobileRules_details">{{$t('withholdingA1')}}</p>
      <p class="mobileRules_details">{{$t('withholdingA')}}</p>
      <p class="mobileRules_details">{{$t('calculatedB1')}}</p>
      <p class="mobileRules_details">{{$t('calculatedB')}}</p>
      <p class="mobileRules_details">{{$t('calculatedC')}}</p>
      <p class="mobileRules_details">{{$t('calculated_1C')}}</p>
    </div>
  </div>


  <!--弹窗-->
  <div v-if="popIdenOpen" class="lock-position-confirm-toast">
    <div class="lock-position-confirm-toast-window">
      <!--关闭按钮-->
      <div class="lock-position-confirm-toast-close-btn" @click="popIdenClose">
        <img class="lock-position-confirm-toast-close-btn-img" src="../../assets/mobile_img/mobile_asset_commen/h5_toast_close_btn.png" alt="">
      </div>
      <!--顶部标题-->
      <div class="lock-position-confirm-toast-title">提示</div>
      <div class="lock-position-confirm-toast-list">
        <div class="lock-position-confirm-toast-item" v-if="(isApp||isIOS)">
          <!--该操作需要身份认证，请立刻前往app端个人中心完成-->
          该操作需要身份认证，请立刻前往个人中心完成
        </div>
        <div class="lock-position-confirm-toast-item" v-if="!isApp&&!isIOS">
          <!--该操作需要身份认证，请立刻前往app端个人中心完成-->
          该操作需要身份认证，请立刻前往PC端个人中心完成
        </div>
      </div>
      <div class="lock-position-confirm-toast-btns">
        <div class="lock-position-confirm-toast-btn-confirm btn_blue" @click="popIdenClose">我知道了</div>
      </div>
    </div>
  </div>
  <!--   提示 弹窗-->
  <PopupWindow :switch="popWindowOpen" @close="popWindowClose" v-if="!isMobile">
    <div slot="header">
      <span class="header_xuzhi">{{popWindowTitle}}</span>
    </div>
    <div slot="article" class="pop-recharge">{{popWindowPrompt}}
      <!--      <p class="consequences">{{popWindowPrompt1}}</p>-->
    </div>
    <div slot="footer" class="pop-recharge-bottom flex-center">
      <template v-if="popWindowStyle==0">
        <button @click="popWindowClose" class="button-base33 btn_simple pointer">
          {{$t('cancel')}}
        </button>
        <button @click="goToBindIdentity" class="button-base33 btn_blue pointer m-r">
          {{$t('verification')}}
        </button>
      </template>
      <template v-if="popWindowStyle==1">
        <button @click="popWindowClose" class="button-base33 btn_simple pointer">
          {{$t('cancel')}}
          <!--          {{$t('bindGa')}}-->
        </button>
        <button @click="goToSecurityCenter" class="button-base33 btn_blue pointer m-r">
          {{$t('beBinding')}}
          <!--          {{$t('bindMobile')}}-->
        </button>
      </template>

    </div>

  </PopupWindow>


  <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>
</div>
