<div class="detailsOfTheGroup">

  <div class="detailsOf">

<!--    大banner-->
    <div class="of_the">
      <div class="of_the_img"><img src="../../assets/拼团_成团展示_icon.png" alt=""></div>
        <ul>
<!--          图片-->
          <li class="information_li">
            <div class="information_div color_bik">{{gname}}
              <span v-if="glevel=='0'"></span>
              <span v-if="glevel=='1'"><img src="../../assets/拼团_微团_icon.png" alt=""></span>
              <span v-if="glevel=='2'"><img src="../../assets/拼团_小团_icon.png" alt=""></span>
              <span v-if="glevel=='3'"><img src="../../assets/拼团_中团_icon.png" alt=""></span>
              <span v-if="glevel=='4'"><img src="../../assets/拼团_大团_icon.png" alt=""></span>
              <span v-if="glevel=='5'"><img src="../../assets/拼团_超团_icon.png" alt=""></span>

              <span class="" v-if="glevel=='0'"></span>
              <span class="tupian tupian_wei" v-if="glevel=='1'">微团</span>
              <span class="tupian tupian_xiao" v-if="glevel=='2'">小团</span>
              <span class="tupian tupian_zhong" v-if="glevel=='3'">中团</span>
              <span class="tupian tupian_da" v-if="glevel=='4'">大团</span>
              <span class="tupian tupian_chao" v-if="glevel=='5'">超团</span>
            </div>
            <div class="information_div color_hui"></div>
            <div class="information_div color_hui color_8"><img class="color_img" src="../../assets/拼团_成团展示_查看规则_icon.png" alt="">{{$t('viewRules')}}</div>
          </li>
<!--          距离下次升级-->
          <li class="information_li">
            <div class="color_6">
              <div class="next_upgrade">{{$t('untilUpgrade')}}</div>
<!--              <span class="information_span"></span>-->
              <div class="progress_bar">
              <el-progress :text-inside="true" :stroke-width="20" :percentage="20" status="exception">( {{maxMember}}/99999 )</el-progress>
              </div>
              <div class="percentage">( {{maxMember}}/99999 )</div>
            </div>
<!--            普通区折扣-->
            <div class="information_div color_hui">{{$t('ordinaryDiscount')}}</div>
<!--            量化区折扣-->
            <div class="information_div color_hui">{{$t('quantitativeDiscount')}}</div>
          </li>
<!--          团长，副团长 建团时间-->
          <li class="information_li">
<!--            团长账号:-->
            <div class="information_div color_f5">
              {{$t('colonelNumber')}}
              <span>{{priAccount}}</span>
            </div>
<!--            副团长账号:-->
            <div class="information_div color_f5">
              {{$t('colonelNumberFu')}}
              <span>{{deputyAccount}}</span>
            </div>
<!--            建团时间: -->
            <div class="information_div color_f5">
              {{$t('timeFormation')}}:
              <span>{{createdAt}}</span>
            </div>
<!--            普通区折扣-->
            <div class="information_div color_bik_9">{{commonDiscount}}</div>
            <div class="information_div color_bik_9">0.01%</div>
          </li>
        </ul>
      </div>

<!--    账号，入团时间-->
    <div class="of_number">
<!--      账号：-->
      <span class="of_number_span">{{$t('accountNumber')}}:</span>
      <span>{{userName}}</span>
<!--      入团时间：-->
      <span class="of_number_span_time">{{$t('entryTime')}}:</span>
      <span> {{joinTime}}</span>
    </div>

<!--    团长的普通区，量化区累计-->
    <div>
      <div class="cumulative">

            <div class="cumulative_div">
<!--              普通区累计（USDT）-->
              <div class="information_div div_border">
                <p class="color_e2">{{$t('ordinaryAccumulation')}}(USDT）</p>
                <p class="color_e9">2567</p>
              </div>
<!--              普通区返佣-->
              <div class="information_div div_border">
                <p class="color_e2">{{$t('ordinaryRebates')}}(USDT）</p>
                <p class="color_e9">2567</p>
              </div>
<!--              量化区累计-->
              <div class="information_div div_border">
                <p class="color_e2">{{$t('quantizationAccumulation')}}(USDT）</p>
                <p class="color_e9">2567</p>
              </div>
<!--              量化区返佣-->
              <div class="information_div border-ling div_border">
                <p class="color_e2">{{$t('quantificationRebates')}}(USDT）</p>
                <p class="color_e9">2567</p>
              </div>

            </div>

      </div>
    </div>


<!--    团员列表-->
    <div class="list_directory">

      <div class="list_directory_column">{{$t('memberList')}}</div>
      <ul>
<!--        表头-->
        <li class="list_directory_column_li">
<!--          序号-->
          <div class="list_directory_column_li_div">{{$t('serialNumber')}}</div>
<!--          账号-->
          <div class="list_directory_column_li_div">{{$t('accountNumber')}}</div>
<!--          职位-->
          <div class="list_directory_column_li_div">{{$t('position')}}</div>
<!--          加入时间-->
          <div class="list_directory_column_li_dii">{{$t('additionTime')}}</div>
        </li>

<!--     序号   账号  职位 加入时间-->
        <li class="list_directory_column_li_div_li" v-for="(item,index) in computedRecord" :key="item.id">
          <div class="list_directory_column_li_div">{{item.rowNum}}</div>
          <div class="list_directory_column_li_div">{{item.account}}</div>
          <div class="list_directory_column_li_div">{{item.idType}}</div>
          <div class="list_directory_column_li_dii">{{item.joinTime}}</div>
        </li>
        <li></li>
      </ul>

    </div>
  </div>
</div>
