<div class="detailsOfTheGroup">
  <Loading v-if="loading"/>

  <div class="detailsOf" v-if="!loading">

<!--    大banner-->
    <div class="of_the">
      <div class="of_the_img"><img src="../../assets/chengtuanzhanshi.png" alt=""></div>
        <ul>
<!--          图片-->
          <li class="information_li">
            <div class="information_div color_bik">{{gname}}
              <span v-if="glevel=='0'"></span>
              <span v-if="glevel=='1'"><img class="tupian_img" src="../../assets/weituan_icon.png" alt=""></span>
              <span v-if="glevel=='2'"><img class="tupian_img" src="../../assets/xiaotuan_icon.png" alt=""></span>
              <span v-if="glevel=='3'"><img class="tupian_img" src="../../assets/datuan_icon.png" alt=""></span>
              <span v-if="glevel=='4'"><img class="tupian_img" src="../../assets/zhongtuan_icon.png" alt=""></span>
              <span v-if="glevel=='5'"><img class="tupian_img" src="../../assets/chaotuan_icon.png" alt=""></span>

              <span class="" v-if="glevel=='0'"></span>
             <!--微团-->
              <span class="tupian tupian_wei" v-if="glevel=='1'">{{$t('micelle')}}</span>
              <!--小团-->
              <span class="tupian tupian_xiao" v-if="glevel=='2'">{{$t('small')}}</span>
              <!--中团-->
              <span class="tupian tupian_zhong" v-if="glevel=='3'">{{$t('regiment')}}</span>
              <!--大团-->
              <span class="tupian tupian_da" v-if="glevel=='4'">{{$t('large')}}</span>
              <!--超团-->
              <span class="tupian tupian_chao" v-if="glevel=='5'">{{$t('superLeague')}}</span>
            </div>
            <div class="information_div color_hui"></div>
               <!-- 查看规则 -->
<!--            <div class="information_div color_hui color_8"><img class="color_img" src="../../assets/pinchakan.png" alt="">{{$t('viewRules')}}</div>-->
          </li>
<!--          距离下次升级-->
          <li class="information_li">
            <div class="color_6">
              <div class="next_upgrade">{{$t('untilUpgrade')}}</div>
<!--              <span class="information_span"></span>-->
              <div class="progress_bar">
              <el-progress :show-text="false" :stroke-width="11" :percentage="(currCount / maxMember) * 100" color="#FF9F40" status="exception" ></el-progress>
              </div>
              <div class="percentage">( {{currCount}}/{{maxMember}} )</div>
            </div>
<!--            普通区折扣-->
            <div class="information_div color_hui">{{$t('ordinaryDiscount')}}</div>
<!--            量化区折扣-->
            <div class="information_div color_hui">{{$t('quantifiedDiscount')}}</div>
          </li>
<!--          团长，副团长 建团时间-->
          <li class="information_li m-to">
<!--            团长账号:-->
            <div class="information_div color_f5">
              {{$t('colonelNumber')}}:
              <span>{{priAccount}}</span>
            </div>
<!--            副团长账号:-->
            <div class="information_div color_f5">
              {{$t('colonelNumberFu')}}
              <span>{{deputyAccount}}</span>
            </div>
<!--            建团时间: -->
            <div class="information_div color_f5">
              {{$t('timeFormation')}}:
              <span>{{createdAt}}</span>
            </div>
<!--            普通区折扣-->
            <div class="information_div color_bik_9">{{commonDiscount}}%</div>
            <div class="information_div color_bik_9">{{quantDiscount}}%</div>
          </li>
        </ul>
      </div>

    <!--  账号，入团时间-->
    <div class="of_number">
      <!--  账号：-->
      <span class="of_number_span">{{$t('accountNumber')}}:</span>
      <span>{{userName}}</span>
     <!--  入团时间：-->
      <span class="of_number_span_time">{{$t('entryTime')}}:</span>
      <span> {{joinTime}}</span>

           <!--解散拼团-->
      <div class="tuituan pointer" v-if="idType=='1'" @click="postWithd1(1)">{{$t('dissolve')}}</div>
<!--      <div class="tuituan" v-if="idType=='2'">退出拼团</div>-->
        <!-- 退出拼团 -->
      <div class="tuituan pointer" v-if="idType=='3'" @click="postWithd1(3)">{{$t('league')}}</div>
    </div>

<!--    团长的普通区，量化区累计-->
    <div>
      <div class="cumulative" v-if="idType==='1'">

            <div class="cumulative_div">
          <!-- 普通区累计（USDT）-->
              <div class="information_div div_border">
                <p class="color_e2">{{$t('ordinaryAccumulation')}}(USDT）</p>
                <p class="color_e9">2567</p>
              </div>
<!--              普通区返佣-->
              <div class="information_div div_border">
                <p class="color_e2">{{$t('ordinaryRebates')}}(USDT）</p>
                <p class="color_e9">2567</p>
              </div>
<!--              量化区累计-->
              <div class="information_div div_border">
                <p class="color_e2">{{$t('quantizationAccumulation')}}(USDT）</p>
                <p class="color_e9">2567</p>
              </div>
<!--              量化区返佣-->
              <div class="information_div border-ling div_border">
                <p class="color_e2">{{$t('quantificationRebates')}}(USDT）</p>
                <p class="color_e9">2567</p>
              </div>

            </div>

      </div>
    </div>


<!--    团员列表-->
    <div class="list_directory">

      <div class="list_directory_column">{{$t('memberList')}}</div>
      <ol class="ul_ul">
<!--        表头-->
        <li class="list_directory_column_li">
<!--          序号-->
          <div class="list_directory_column_li_div color_a2 m-t">{{$t('serialNumber')}}</div>
<!--          账号-->
          <div class="list_directory_column_li_div color_a2">{{$t('accountNumber')}}</div>
<!--          职位-->
          <div class="list_directory_column_li_div color_a2 p-l">{{$t('position')}}</div>
<!--          加入时间-->
          <div class="list_directory_column_li_dii color_a2">{{$t('additionTime')}}</div>
        </li>

<!--     序号   账号  职位 加入时间-->
        <li class="list_directory_column_li_div_li" v-for="(item,index) in computedRecord" :key="item.id">
          <div class="list_directory_column_li_div m-t">{{index + 1}}</div>
          <div class="list_directory_column_li_div">{{item.account}}</div>
          <div class="list_directory_column_li_div p-l">{{item.idType}}</div>
          <div class="list_directory_column_li_dii m-r">{{item.joinTime}}</div>
        </li>

        <!-- 加载更多 如果loading结束、已经登录、获取的数据超过了limit，则显示 begin -->
        <template v-if="showLoadingMore">
          <li class="loading-more">
            <span class="text_blue pointer" v-if="!loadingMoreShow" @click="clickLoadingMore">{{$t('orderPageHistoricalEntrustment.close_10')}}</span>
            <span class="text_blue" v-else>{{$t('orderPageHistoricalEntrustment.close_11')}}</span>
          </li>
        </template>

      </ol>


      <!-- 加载更多 end -->
      <!--        查看更多-->
<!--      <template v-if="!loading && tradinghallLimit===10 && historyOrderComputed.length >= 10">-->
<!--        <li class="loading-more" >-->
<!--          <span class="text_blue pointer" @click="toOrderHistory">{{$t('orderPageHistoricalEntrustment.close_12')}}</span>-->
<!--        </li>-->
<!--      </template>-->

    </div>
  </div>

  <!--   提示 弹窗-->
  <PopupWindow :switch="popWindowOpen" @close="popWindowClose">
    <div slot="header">
      <span class="header_xuzhi">提示</span>
    </div>
    <div slot="article" class="pop-recharge">
      <p class="consequences" v-if="idType=='1'">请确认是否解散 <span class="consequencesSpan">{{gname}}</span></p>
      <p class="consequences" v-if="idType=='3'">请确认是否退出 <span class="consequencesSpan">{{gname}}</span></p>
    </div>
    <div slot="footer" class="pop-recharge-bottom">
        <button @click="popWindowClose" class="button-base33 btn_simple pointer">
          {{$t('cancel')}}
        </button>
        <button v-if="idType=='1'" @click="postWithdraw(1)"  class="button-base33 btn_blue pointer m-l">
          {{$t('verification')}}
        </button>
      <button v-if="idType=='3'" @click="postWithdraw(3)"  class="button-base33 btn_blue pointer m-l">
        {{$t('verification')}}
      </button>
    </div>

  </PopupWindow>

  <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>

</div>
