<div class="index_home_container min-width flex-center">
  <div v-if="!isMobile" class="index_home_header header min-width relative">
    <IndexHeaderAlpha/>
  </div>

  <div v-if="isAndroid && downloadShow" class="index-home-header">
    <img class="index-home-header-img" src="../../assets/mobile_app_download.png" alt="">
    <a href="" class="index-home-header-address">
      Download
    </a>
    <div class="index-home-header-close" @click="closeDownload">
      <img src="../../assets/mobile_download_close.png" class="index-home-header-img-close" alt="">
    </div>

  </div>

  <div class="index-home-board flex-center" @touchmove="mousemove2($event)">



    <div class="sphere-box"  @mousemove="mousemove($event)">
      <div class="sphere-position flex-center"
           :style="`left:${sphereLeft}px;top:${sphereTop}px; transition: top 0.5s ease,left 0.5s ease`">
        <transition name="fade">
          <div class="sphere-position flex-center" v-show="sphere>0"><img class="sphere-img"
                                                                          src="../../assets/indexHome/sphere1.png"
                                                                          alt=""></div>
        </transition>
        <transition name="fade">
          <div class="sphere-position flex-center" v-show="sphere>1"><img class="sphere-img"
                                                                          src="../../assets/indexHome/sphere2.png"
                                                                          alt=""></div>
        </transition>
        <transition name="fade">
          <div class="sphere-position flex-center" v-show="sphere>2"><img class="sphere-img"
                                                                          src="../../assets/indexHome/sphere3.png"
                                                                          alt=""></div>
        </transition>
        <transition name="fade">
          <div class="sphere-position flex-center" v-show="sphere>3"><img class="sphere-img"
                                                                          src="../../assets/indexHome/sphere4.png"
                                                                          alt=""></div>
        </transition>
      </div>

<!--      <div v-if="isMobile" class="m-index-logo-wrap">-->
<!--        <img class="m-index-logo-img" src="" alt="">-->
<!--      </div>-->


      <div class="slogan-box flex-center flex-colum">
        <!--<h1 v-if="lang==='CH'||isMobile" class="slogan-1">零 上 线 费 &nbsp; 全 民 所 有</h1>-->
        <!--<h1 v-if="lang!=='CH'" class="slogan-2">All things to all people EUNEX makes a difference</h1>-->
        <h1 :class="[lang==='CH'?'slogan-1':'slogan-2']">
                    <span>
                        <span :class="[lang==='CH'?'slogan-span1':'slogan-span2']">{{$t('indexHeader.slogangraphl')}}</span>
                        <span :class="[lang==='CH'?'slogan-span1':'slogan-span2']">{{$t('indexHeader.slogangraphr')}}</span>
                    </span>
        </h1>
        <!--<h1 :class="[lang==='CH'?'slogan-1':'slogan-2']"><span class="slogan-span">{{$t('indexHeader.slogangraphl')}}</span><span class="slogan-span">{{$t('indexHeader.slogangraphr')}}</span></h1>-->
      </div>
      <div class="sphere-btn-wrap flex-center" @click="toTradingHall">
        <router-link to="/index/mobileTradingHall" class="sphere-btn" >
          {{$t('indexHeader.sloganbtn')}}
        </router-link>
      </div>


    </div>
  </div>

  <!-- 主体部分 canvas start -->

  <!--<div id="main-body">-->
  <!--<div id="middle" class="middle">-->
  <!--<div id="main" class="container-fluid">-->
  <!--<div class="intro box bigger">-->
  <!--<div class="fader">-->
  <!--<div v-if="!isMobile" id="entry" class="">-->
  <!--<img v-if="lang != 'CH'" src="">-->
  <!--<img v-else src="">-->
  <!--<p class="buttons">-->
  <!--<br class="nodesktop nolandscape">-->
  <!--<a id="button" class="btn btn-default btn-lg" href="/index/activity">{{$t('indexShare.share')}}</a>-->
  <!--&lt;!&ndash;<a id="button" class="btn btn-default btn-lg" href="javascript:;">敬请期待</a>&ndash;&gt;-->
  <!--</p>-->
  <!--</div>-->
  <!--<div v-else id="entry">-->
  <!--&lt;!&ndash; <img src="../../assets/mobile_header_logo.png"> &ndash;&gt;-->
  <!--<img class="mobile_home" src="">-->
  <!--<p class="buttons mobile_login_register" v-if="!isLogin">-->
  <!--<a class="btn btn-default btn-lg mobile" href="/index/sign/login">{{$t('indexHeader.login')}}</a>-->
  <!--<a class="btn btn-default btn-lg mobile" href="/index/register">{{$t('indexHeader.register')}}</a>-->
  <!--</p>-->
  <!--<p class="buttons mobile_login_register" v-else>-->
  <!--<a class="btn btn-default btn-lg mobile" href="/index/personal">{{$t('indexHeader.account')}}</a>-->
  <!--</p>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!-- 主体部分 canvas end -->

  <div v-if="!isMobile" class="home-blow-wrap">
    <!--页脚-->
    <div class="footer-detail-container min-width">

      <!--<img class="footer-cutter-line" src="../../assets/footer_horizon_cutterline.png">-->
      <ul class="contact-us">

        <li class="contact-us-img-box contact-us-img-box-weixin">
          <img class="contact-us-img-box-icon" src="../../assets/footer_icon_weixin.png" alt="">
          <div class="contact-us-img-box-toast">
            <img class="contact-us-img-box-toast-img" src=""
                 alt="">
            <span class="contact-us-img-box-toast-text">{{$t('indexFooter.qrCodeDescript_1')}}</span>
          </div>
        </li>
        <li class="contact-us-img-box contact-us-img-box-telegraph">
          <img class="contact-us-img-box-icon" src="../../assets/footer_icon_link.png" alt="">
          <div class="contact-us-img-box-toast">
            <img class="contact-us-img-box-toast-img" src=""
                 alt="">
            <span class="contact-us-img-box-toast-text">{{$t('indexFooter.qrCodeDescript_2')}}</span>
          </div>
        </li>
        <li class="contact-us-img-box contact-us-img-box-beechat">
          <img class="contact-us-img-box-icon" src="../../assets/footer_icon_beechat.png" alt="">
          <div class="contact-us-img-box-toast">
            <img class="contact-us-img-box-toast-img" src=""
                 alt="">
            <span class="contact-us-img-box-toast-text">{{$t('indexFooter.qrCodeDescript_3')}}</span>
          </div>
        </li>
        <li class="contact-us-img-box">
          <a href="https://twitter.com/do_btc">
            <img class="contact-us-img-box-icon" src="../../assets/footer_icon_twitter.png" alt="">
          </a>
        </li>
        <li class="contact-us-img-box contact-us-img-box-mail">
          <img class="contact-us-img-box-icon" src="../../assets/footer_icon_mail.png" alt="">
          <div class="contact-us-img-box-mail-text">
            {{$t('indexFooter.email')}}
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div v-if="isMobile&&!isLogin" class="m-home-blow-wrap flex-center">

    <router-link to="/index/sign/"  class="m-nidex-blow-base">{{$t('indexHeader.login')}}</router-link>
    <span class="m-nidex-blow-base m-nidex-blow-span">|</span>
    <router-link to="/index/register"  class="m-nidex-blow-base">{{$t('indexHeader.register')}}</router-link>
  </div>


</div>
