<div class="record-container2">
  <Loading v-if="loading"/>
  <div class="heatHeader">
    <div class="header">
      <router-link :to="{name:'securityCenter'}" class="header-title">
        <!--区块恋首页-->
        {{$t('个人中心')}}
      </router-link>
      <span class="spanbf">></span>
      <!--我的参与记录-->
      {{$t('热度明细')}}
    </div>


    <div class="heatlist" v-if="!loading">
      <div class="HeatDetail">热度明细</div>

      <div class="border_box border_radius">
        <!--平台奖励title begin-->
        <div class="detail-header flex">

          <!--时间-->
          <span class="time">{{$t('日期')}}</span>

          <!--币种-->
          <span class="currency">{{$t('日均资产（USDT）')}}</span>

          <!--数量-->
          <span class="total">{{$t('月均资产（USDT）')}}</span>

          <!--说明-->
          <span class="address">{{$t('热度')}}</span>
        </div>
        <!--平台奖励title end-->

        <template>
          <!--平台奖励具体 begin-->
          <ul class="detail-container">
            <template>
              <li class="detail-li" v-for="(item,index) in heatList">
                <div class="li-container flex">
                  <!--              时间-->
                  <span class="time">{{item.createDate}}</span>
                  <!--              币种-->
                  <span class="currency">{{toFixed(item.amount,2)}}</span>
                  <!--              类型-->
                  <!--              <span class="type">数据</span>-->
                  <!--              formatDateUitl-->
                  <!--              数量-->
                  <span class="total">{{toFixed(item.monthAvg,2)}}</span>
                  <!--              说明-->
                  <span class="address address-detail">{{toFixed(item.hotVal,2)}}</span>

                </div>
              </li>
            </template>
<!--            <div v-if="loadingNext" class="loadingNext">-->
<!--              <Loading/>-->
<!--            </div>-->

            <!--无数据时显示 begin-->
            <li class="detail-li-no-data" v-if="heatList.length===0">
              <div class="no-data-content">
                <img src="../../assets/assetPageRecord/no-order-light.png" alt="">
                <div class="no-record">{{$t('orderPageCurrentEntrustment.close_9')}}</div>
              </div>
            </li>
            <!--无数据时显示 end-->


          </ul>
          <!--平台奖励具体 end-->
<!--          <div class="loading-more text_blue" v-if="loadingMoreShow">-->
<!--            <span v-if="!loadingMoreShowing" @click="loadingMore">{{$t('assetPageWithdrawalsRecord.loadingMore')}}</span>-->
<!--            <span v-if="loadingMoreShowing"><Loading/></span>-->
<!--          </div>-->


        </template>
      </div>

    </div>
  </div>


</div>
