<div class="apply-box box_shadow border_radius">
  <div class="apply-box-title">{{$t('helpUserAgreement.title')}}</div>
  <div class="apply-box-list">

    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.descript_1')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.descript_2')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpUserAgreement.descript_3')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpUserAgreement.descript_4')}}

    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpUserAgreement.descript_6')}}
    </div>
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.register')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.register_1')}}
    </div>

    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.activation')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.activation_1')}}
    </div>
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.server')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.server_1')}}
    </div>
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.server_2')}}</span>
    </div>

    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.server_3')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.server_4')}}
    </div>
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.server_5')}}</span>
    </div>

    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.server_6')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpUserAgreement.server_7')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.server_8')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpUserAgreement.server_9')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpUserAgreement.server_10')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpUserAgreement.server_11')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.server_12')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.server_13')}}
    </div>
    <div class="apply-box-list-descript  apply-box-list-descript-detail">
      {{$t('helpUserAgreement.server_14')}}
    </div>
    <div class="apply-box-list-descript  apply-box-list-descript-detail">
      {{$t('helpUserAgreement.server_15')}}
    </div>
    <div class="apply-box-list-descript  apply-box-list-descript-detail">
      {{$t('helpUserAgreement.server_16')}}
    </div>
    <div class="apply-box-list-descript  apply-box-list-descript-detail">
      {{$t('helpUserAgreement.server_17')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpUserAgreement.server_18')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpUserAgreement.server_19')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpUserAgreement.server_20')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpUserAgreement.server_21')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpUserAgreement.server_22')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.server_23')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.server_24')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.server_25')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.server_26')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.server_27')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.server_28')}}
    </div>

    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.over')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.over_1')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.over_2')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.over_3')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.over_4')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.over_5')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.over_6')}}
    </div>
<!--    <div class="apply-box-list-descript">-->
<!--      {{$t('helpUserAgreement.over_7')}}-->
<!--    </div>-->
<!--    <div class="apply-box-list-descript">-->
<!--      {{$t('helpUserAgreement.over_8')}}-->
<!--    </div>-->
<!--    <div class="apply-box-list-descript">-->
<!--      {{$t('helpUserAgreement.over_9')}}-->
<!--    </div>-->

    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.duty')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.duty_2')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.duty_3')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.duty_4')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.duty_5')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.duty_6')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.duty_7')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.duty_8')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.duty_9')}}
    </div>


    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.relief')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.relief_1')}}
    </div>
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.relief_2')}}</span>
    </div>

    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.relief_3')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpUserAgreement.relief_4')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpUserAgreement.relief_5')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpUserAgreement.relief_6')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.relief_7')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpUserAgreement.relief_8')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpUserAgreement.relief_9')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpUserAgreement.relief_10')}}
    </div>
    <div class="apply-box-list-descript  apply-box-list-descript-detail">
      {{$t('helpUserAgreement.relief_11')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpUserAgreement.relief_12')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpUserAgreement.relief_13')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.relief_14')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.relief_15')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.relief_16')}}
    </div>

    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.law')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.law_1')}}
    </div>
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.law_2')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.law_3')}}
    </div>
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.law_4')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.law_5')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.law_7')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.law_8')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.law_9')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.law_10')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.law_11')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.law_12')}}
    </div>
  </div>
</div>
