<div class="apply-box box_shadow border_radius">
  <div class="apply-box-title">{{$t('helpuserPrivacy.zwtitle')}}</div>
  <div class="apply-box-list">

    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpuserPrivacy.zwtitle01')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle01_1')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle01_2')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle01_3')}}
    </div>
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpuserPrivacy.zwtitle02')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle02_1')}}
    </div>
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpuserPrivacy.zwtitle03')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle03_11')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle03_1')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle03_2')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle03_3')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle03_4')}}
    </div>
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpuserPrivacy.zwtitle04')}}</span>
    </div>
    <div class="apply-box-list-descript">
    {{$t('helpuserPrivacy.zwtitle04_1')}}
  </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle04_2')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpuserPrivacy.zwtitle04_21')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpuserPrivacy.zwtitle04_22')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle04_3')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle04_4')}}
    </div>
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpuserPrivacy.zwtitle05')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle05_1')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle05_2')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle05_3')}}
    </div>
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpuserPrivacy.zwtitle06')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle06_1')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpuserPrivacy.zwtitle06_11')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
    {{$t('helpuserPrivacy.zwtitle06_12')}}
  </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpuserPrivacy.zwtitle06_13')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpuserPrivacy.zwtitle06_14')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpuserPrivacy.zwtitle06_15')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpuserPrivacy.zwtitle06_16')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpuserPrivacy.zwtitle06_17')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpuserPrivacy.zwtitle06_18')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle06_2')}}
    </div>
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpuserPrivacy.zwtitle07')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle07_1')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpuserPrivacy.zwtitle07_11')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpuserPrivacy.zwtitle07_12')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpuserPrivacy.zwtitle07_13')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpuserPrivacy.zwtitle07_14')}}
    </div>
    <div class="apply-box-list-descript apply-box-list-descript-detail">
      {{$t('helpuserPrivacy.zwtitle07_15')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle07_2')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle07_3')}}
    </div>
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpuserPrivacy.zwtitle08')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle08_1')}}
    </div>
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpuserPrivacy.zwtitle09')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle09_1')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle09_2')}}
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpuserPrivacy.zwtitle09_3')}}
    </div>
<!--    <div class="apply-box-list-descript apply-font-weight">-->
<!--      {{$t('helpUserAgreement.law_12')}}-->
<!--    </div>-->
  </div>
</div>
