<div class="body">
  <div>
    <IndexHeader/>
  </div>
  <div class="about-container">
    <div class="about-container-banner">
      <div class="about-header-banner-text">
                {{$t('helpJoinUs.join_14')}}
      </div>
    </div>
    <!--v-if="lang==='CH'"-->


    <div class="about-container-content">

      <div class="about-container-content-container">
        <div class="about-container-content-title">
          {{$t('helpJoinUs.join_1')}}
        </div>
        <div class="about-container-content-title-cutter-line"></div>

        <div class="about-container-content-text">
          <div>{{$t('helpJoinUs.join_2')}}</div>
        </div>

        <div class="about-we">
          <div class="abooutwepic"></div>
          <div class="aboutweinfo">
            <div class="diand1"></div>
            <div class="diand2"></div>
            <div class="wetitle">{{$t('helpJoinUs.join_3')}}</div>
            <div class="weline">
              <div class="lineh"></div>
            </div>
            <div class="zhencinfo">
              {{$t('helpJoinUs.join_4')}}
            </div>
          </div>
        </div>

        <div class="about-container-content-title">
          {{$t('helpJoinUs.join_5')}}
        </div>
        <div class="about-container-content-title-cutter-line"></div>

        <div class="wexuyao">
          <div class="wexy1">
            <div class="ww01">
            <div class="pic01"></div>
            <div class="picinfo">
              <ul>
                <li class="pinfo001">
                  {{$t('helpJoinUs.join_6')}}
                </li>
                <li  class="pinfo002">
                  {{$t('helpJoinUs.join_7')}}
                </li>
              </ul>
            </div>
          </div>

            <div class="ww02">
              <div class="pic02"></div>
              <div class="picinfo2">
                <ul>
                  <li class="pinfo001">
                    {{$t('helpJoinUs.join_8')}}
                  </li>
                  <li  class="pinfo002">
                    {{$t('helpJoinUs.join_9')}}
                  </li>
                </ul>
              </div>
            </div>


          </div>
          <div class="wexy2">
            <div class="ww01">
              <div class="pic03"></div>
              <div class="picinfo">
                <ul>
                  <li class="pinfo001">
                    {{$t('helpJoinUs.join_10')}}
                  </li>
                  <li  class="pinfo002">
                    {{$t('helpJoinUs.join_11')}}
                  </li>
                </ul>
              </div>
            </div>

            <div class="ww02">
              <div class="pic04"></div>
              <div class="picinfo2">
                <ul>
                  <li class="pinfo001">
                    {{$t('helpJoinUs.join_12')}}
                  </li>
                  <li  class="pinfo002">
                    {{$t('helpJoinUs.join_13')}}
                  </li>
                </ul>
              </div>
            </div>

          </div>

        </div>

      </div>


      <!--<div class="about-container-content-text">-->
      <!--&lt;!&ndash;同推动区块链技术在世界范围的创新和应用&ndash;&gt;-->
      <!--&lt;!&ndash;{{$t('indexAboutUs.descript_4')}}&ndash;&gt;-->
      <!--</div>-->
    </div>

    <!--    <div class="about-icon-line">-->
    <!--      <div class="about-icon-line-item">-->
    <!--        <ul class="about-icon-line-item-first">-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--&lt;!&ndash;          <li>&ndash;&gt;-->
    <!--&lt;!&ndash;            <img src="" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;          </li>&ndash;&gt;-->
    <!--        </ul>-->
    <!--        <ul class="about-icon-line-item-second">-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--&lt;!&ndash;          <li>&ndash;&gt;-->
    <!--&lt;!&ndash;            <img src="" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;          </li>&ndash;&gt;-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--        </ul>-->
    <!--      </div>-->
    <!--      <div class="about-icon-line-item">-->
    <!--        <ul class="about-icon-line-item-first">-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--&lt;!&ndash;          <li>&ndash;&gt;-->
    <!--&lt;!&ndash;            <img src="" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;          </li>&ndash;&gt;-->
    <!--        </ul>-->
    <!--        <ul class="about-icon-line-item-second">-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--&lt;!&ndash;          <li>&ndash;&gt;-->
    <!--&lt;!&ndash;            <img src="" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;          </li>&ndash;&gt;-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--        </ul>-->
    <!--      </div>-->
    <!--      <div class="about-icon-line-item">-->
    <!--        <ul class="about-icon-line-item-first">-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--&lt;!&ndash;          <li>&ndash;&gt;-->
    <!--&lt;!&ndash;            <img src="" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;          </li>&ndash;&gt;-->
    <!--        </ul>-->
    <!--        <ul class="about-icon-line-item-second">-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--&lt;!&ndash;          <li>&ndash;&gt;-->
    <!--&lt;!&ndash;            <img src="" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;          </li>&ndash;&gt;-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--          <li>-->
    <!--            <img src="" alt="">-->
    <!--          </li>-->
    <!--        </ul>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="about-container-center-banner-box">-->
    <!--      <div v-if="lang==='CH'" class="about-container-center-banner">-->
    <!--        <div class="about-container-center-banner-title">-->
    <!--          &lt;!&ndash;我们所拥有的&ndash;&gt;-->
    <!--          {{$t('indexAboutUs.descript_11')}}-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div v-else class="about-container-center-banner-en">-->
    <!--        <div class="about-container-center-banner-title">-->
    <!--          &lt;!&ndash;我们所拥有的&ndash;&gt;-->
    <!--          {{$t('indexAboutUs.descript_11')}}-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="about-container-bottom-banner">-->
    <!--      <div class="about-container-bottom-banner-main-title">-->
    <!--        &lt;!&ndash;我们提供给您的&ndash;&gt;-->
    <!--        {{$t('indexAboutUs.descript_12')}}-->
    <!--      </div>-->
    <!--      <div class="about-container-bottom-banner-box">-->
    <!--        <img src="" class="about-container-content-bg about-container-content-bg4">-->
    <!--        <img src="" class="about-container-content-bg about-container-content-bg5">-->
    <!--        <div class="about-container-bottom-text-item">-->
    <!--          <div class="about-container-bottom-text-item-title">{{$t('indexAboutUs.descript_5')}}</div>-->
    <!--          <div class="about-container-bottom-text-item-text">-->
    <!--            &lt;!&ndash;EUNEX提供包括冷热钱包分离技术等国际投行级资产防护措施，在多维度为用户资产保驾护航&ndash;&gt;-->
    <!--            {{$t('indexAboutUs.descript_6')}}-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="about-container-bottom-text-item">-->
    <!--          <div class="about-container-bottom-text-item-title">{{$t('indexAboutUs.descript_7')}}</div>-->
    <!--          <div class="about-container-bottom-text-item-text">-->
    <!--            &lt;!&ndash;EUNEX接入Google Cloud服务，自行研发的高效平台交易解决方案可支持动、静数据分离，给用户稳定、极速的交易新体验&ndash;&gt;-->
    <!--            {{$t('indexAboutUs.descript_8')}}-->
    <!--          </div>-->
    <!--        </div>-->
    <!--        <div class="about-container-bottom-text-item">-->
    <!--          <div class="about-container-bottom-text-item-title">{{$t('indexAboutUs.descript_9')}}</div>-->
    <!--          <div class="about-container-bottom-text-item-text">-->
    <!--            &lt;!&ndash;共享平台与发展红利，社区的选择才是明智之选，全方位满足社区用户的资产配置需求&ndash;&gt;-->
    <!--            {{$t('indexAboutUs.descript_10')}}-->
    <!--          </div>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
  <div class="index-footer index-background-color">
    <IndexFooter/>
  </div>
</div>
