<div class="apply-box  border_radius">
  <div class="apply-box-title">{{$t('helpUserAgreement.title')}}</div>
  <div class="apply-box-list">

    <div class="apply-box-list-descript ">
      {{$t('helpUserAgreement.descript_1')}}
    </div>
    <div class="apply-box-list-descript apply-font-weight">
      {{$t('helpUserAgreement.descript_1_1')}}
    </div>
    <div class="apply-padding-left apply-font-weight">
      {{$t('helpUserAgreement.descript_2')}}
    </div>
    <div class="apply-box-list-descript-detail">
      {{$t('helpUserAgreement.descript_3')}}
    </div>
    <div class="apply-box-list-descript-detail">
      {{$t('helpUserAgreement.descript_4')}}
    </div>
    <div class="apply-box-list-descript-detail">
      {{$t('helpUserAgreement.descript_5')}}
    </div>
    <div class="apply-box-list-descript-detail">
      {{$t('helpUserAgreement.descript_6')}}
    </div>
    <div class="apply-box-list-descript-detail">
      {{$t('helpUserAgreement.descript_7')}}
    </div>
    <div class="apply-box-list-descript-detail">
      {{$t('helpUserAgreement.descript_8')}}
    </div>

    <div class="apply-box-list-descript apply-font-weight">
      {{$t('helpUserAgreement.descript_9')}}
    </div>
    <div class=" apply-box-list-descript-detail">
      {{$t('helpUserAgreement.descript_10')}}
    </div>
    <div class=" apply-box-list-descript-detail">
      {{$t('helpUserAgreement.descript_11')}}
    </div>
    <div class="apply-box-list-descript-detail">
      {{$t('helpUserAgreement.descript_12')}}
    </div>
    <div class="apply-box-list-descript-detail">
      {{$t('helpUserAgreement.descript_13')}}
    </div>
    <div class="apply-box-list-descript-detail">
      {{$t('helpUserAgreement.descript_14')}}
    </div>
    <div class="apply-box-list-descript-detail">
      {{$t('helpUserAgreement.descript_15')}}
    </div>
    <div class="apply-box-list-descript-detail">
      {{$t('helpUserAgreement.descript_16')}}
    </div>

    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.general')}}</span>
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.general_1')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.general_2')}}
    </div> <div class="apply-padding-left">
      {{$t('helpUserAgreement.general_3')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.general_4')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.general_5')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.general_6')}}
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.general_6_1')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.general_6_2')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.general_6_3')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.general_6_4')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.general_6_5')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.general_6_6')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.general_6_7')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.general_6_8')}}</p>
    </div>

<!--二. 协议修订-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.activation')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.activation_1')}}
    </div>
<!--    三. 注册-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.register')}}</span>
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.register_1')}}
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.register_1_1')}}</p>
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.register_2')}}
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.register_2_1')}}</p>
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.register_3')}}
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.register_3_1')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.register_3_2')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.register_3_3')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.register_3_4')}}</p>
    </div>
<!--    四. 服务-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.server_1')}}</span>
    </div>
    <div class="apply-box-list-title">
      <span class="apply-box-list-descript">{{$t('helpUserAgreement.server_2')}}</span>
    </div>

    <div class="apply-padding-left">
      {{$t('helpUserAgreement.server_3')}}
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.server_3_1')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.server_3_2')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.server_3_3')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.server_3_4')}}</p>
    </div>

    <div class="apply-padding-left">
      {{$t('helpUserAgreement.server_4')}}
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.server_4_1')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.server_4_2')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.server_4_3')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.server_4_4')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.server_4_5')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.server_4_6')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.server_4_7')}}</p>
    </div>

<!--    五. 本网站的权利和义务-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.server_5')}}</span>
    </div>

    <div class="apply-padding-left">
      {{$t('helpUserAgreement.server_6')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.server_7')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.server_8')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.server_9')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.server_10')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.server_11')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.server_12')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.server_13')}}
    </div>
    <div class="apply-padding-left ">
      {{$t('helpUserAgreement.server_14')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.server_15')}}
    </div>
    <div class="apply-padding-left ">
      {{$t('helpUserAgreement.server_16')}}
    </div>

<!--    六. 赔偿-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.compensate')}}</span>
    </div>
    <div class="apply-padding-left ">
      {{$t('helpUserAgreement.compensate_1')}}
    </div>
    <div class="apply-padding-left ">
      {{$t('helpUserAgreement.compensate_2')}}
    </div>

<!--    七. 寻求禁令救济的权利-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.over')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.over_1')}}
    </div>
<!--    <div class="apply-box-list-descript">-->
<!--      {{$t('helpUserAgreement.over_2')}}-->
<!--    </div>-->
<!--    <div class="apply-box-list-descript">-->
<!--      {{$t('helpUserAgreement.over_3')}}-->
<!--    </div>-->
<!--    <div class="apply-box-list-descript">-->
<!--      {{$t('helpUserAgreement.over_4')}}-->
<!--    </div>-->
<!--    <div class="apply-box-list-descript">-->
<!--      {{$t('helpUserAgreement.over_5')}}-->
<!--    </div>-->
<!--    <div class="apply-box-list-descript">-->
<!--      {{$t('helpUserAgreement.over_6')}}-->
<!--    </div>-->
<!--    <div class="apply-box-list-descript">-->
<!--      {{$t('helpUserAgreement.over_7')}}-->
<!--    </div>-->
<!--    <div class="apply-box-list-descript">-->
<!--      {{$t('helpUserAgreement.over_8')}}-->
<!--    </div>-->
<!--    <div class="apply-box-list-descript">-->
<!--      {{$t('helpUserAgreement.over_9')}}-->
<!--    </div>-->

<!--    八. 责任限制与免责-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.duty')}}</span>
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.duty_2')}}
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.duty_2_1')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.duty_2_2')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.duty_2_3')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.duty_2_4')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.duty_2_5')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.duty_2_6')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.duty_2_7')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.duty_2_8')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.duty_2_9')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.duty_2_10')}}</p>
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.duty_3')}}
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.duty_3_1')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.duty_3_2')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.duty_3_3')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.duty_3_4')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.duty_3_5')}}</p>
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.duty_4')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.duty_5')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.duty_6')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.duty_7')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.duty_8')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.duty_9')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.duty_10')}}
    </div>

<!--    九. 协议的终止-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.relief')}}</span>
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.relief_1')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.relief_2')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.relief_3')}}
    </div>

<!--    十. 知识产权-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.knowledge')}}</span>
    </div>

    <div class="apply-padding-left">
      {{$t('helpUserAgreement.knowledge_1')}}
    </div>
    <div class="apply-padding-left ">
      {{$t('helpUserAgreement.knowledge_2')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.knowledge_3')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.knowledge_4')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.knowledge_5')}}
    </div>
<!--    之前的没用的-->
<!--    <div class="apply-box-list-descript apply-box-list-descript-detail">-->
<!--      {{$t('helpUserAgreement.relief_8')}}-->
<!--    </div>-->
<!--    <div class="apply-box-list-descript apply-box-list-descript-detail">-->
<!--      {{$t('helpUserAgreement.relief_9')}}-->
<!--    </div>-->
<!--    <div class="apply-box-list-descript apply-box-list-descript-detail">-->
<!--      {{$t('helpUserAgreement.relief_10')}}-->
<!--    </div>-->
<!--    <div class="apply-box-list-descript  apply-box-list-descript-detail">-->
<!--      {{$t('helpUserAgreement.relief_11')}}-->
<!--    </div>-->
<!--    <div class="apply-box-list-descript apply-box-list-descript-detail">-->
<!--      {{$t('helpUserAgreement.relief_12')}}-->
<!--    </div>-->
<!--    <div class="apply-box-list-descript apply-box-list-descript-detail">-->
<!--      {{$t('helpUserAgreement.relief_13')}}-->
<!--    </div>-->
<!--    <div class="apply-box-list-descript">-->
<!--      {{$t('helpUserAgreement.relief_14')}}-->
<!--    </div>-->
<!--    <div class="apply-box-list-descript">-->
<!--      {{$t('helpUserAgreement.relief_15')}}-->
<!--    </div>-->
<!--    <div class="apply-box-list-descript">-->
<!--      {{$t('helpUserAgreement.relief_16')}}-->
<!--    </div>-->

<!--    十一. 信息保护-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.information')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.information1')}}
    </div>

<!--    十二. 计算-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.law')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.law_1')}}
    </div>

<!--    十三. 出口控制-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.law_4')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.law_5')}}
    </div>

    <!--    十四. 转让-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.possession')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.possession_1')}}
    </div>

    <!--    十五. 可分割性-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.possession_2')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.possession_3')}}
    </div>

    <!--    十六. 非代理关系-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.possession_4')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.possession_5')}}
    </div>

    <!--    十七. 弃权-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.possession_6')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.possession_7')}}
    </div>

    <!--    十八. 标题-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.possession_8')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.possession_9')}}
    </div>

    <!--    十九. 适用法律-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.possession_10')}}</span>
    </div>
    <div class="apply-box-list-descript">
      {{$t('helpUserAgreement.possession_11')}}
    </div>

    <!--    二十. 协议的生效和解释-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.explain')}}</span>
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.explain_1')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.explain_2')}}
    </div>

    <!--    《了解你的客户和反洗钱政策》-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.customers')}}</span>
    </div>
<!--    一. 导言-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.customers_1')}}</span>
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.customers_2')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.customers_3')}}
    </div>
    <!--    二. 了解你的客户和反洗钱政策-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.customers_4')}}</span>
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.customers_5')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.customers_6')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.customers_7')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.customers_8')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.customers_9')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.customers_10')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.customers_11')}}
    </div>
    <!--    三. 身份信息与核实确认-->
    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.customers_1')}}</span>
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.customers_2')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.customers_3')}}
    </div>

    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.identity')}}</span>
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.identity_1')}}
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.identity_1_1')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.identity_1_2')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.identity_1_3')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.identity_1_4')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.identity_1_5')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.identity_1_6')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.identity_1_7')}}</p>
    </div>

    <div class="apply-padding-left">
      {{$t('helpUserAgreement.identity_2')}}
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.identity_2_1')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.identity_2_2')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.identity_2_3')}}</p>
      <p class="apply-box-list-descript-detail">{{$t('helpUserAgreement.identity_2_4')}}</p>
    </div>

    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.monitoring')}}</span>
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.monitoring_1')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.monitoring_2')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.monitoring_3')}}
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.monitoring_4')}}
    </div>

    <div class="apply-box-list-title">
      <span class="apply-box-list-title-green-title">{{$t('helpUserAgreement.monitoring_5')}}</span>
    </div>
    <div class="apply-padding-left">
      {{$t('helpUserAgreement.monitoring_6')}}
    </div>


  </div>
</div>
