<div class="current-entrustment-container">
  <!--  this.$route.name==currentEntrust?'current-entrustment-container':'current-entrustment-shiying'-->

  <ul class="" :class="$route.name == 'historicalTransaction'?'detail':'detail-1'">

    <div v-if="$route.name == 'historicalTransaction'">
      <div class="search-histor flex">

        <div class="search-histor-r flex">
<!--          <div class="block">-->
<!--            <span class="demonstration">时间：</span>-->
<!--            <el-date-picker-->
<!--              v-model="interTimerPicker"-->
<!--              type="daterange"-->
<!--              unlink-panels-->
<!--              :picker-options="pickerOptions"-->
<!--              size="small"-->
<!--              range-separator="至"-->
<!--              start-placeholder="开始日期"-->
<!--              end-placeholder="结束日期"-->
<!--              value-format="timestamp">-->
<!--            </el-date-picker>-->
<!--          </div>-->
          <div class="block">
            <span class="demonstration">时间：</span>
            <el-date-picker
              v-model="interTimerPicker"
              type="date"
              size="small"
              placeholder="选择日期"
              value-format="timestamp"
              :picker-options="pickerOptions">
            </el-date-picker>
          </div>
          <div class="">
            <span class="demonstration">币对：</span>
            <el-select class="account_number_input" v-model="valueUsdt" clearable placeholder="请选择">
              <el-option
                v-for="item in LieoptionsUsdt"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="search-histor-L">
          <div class="search-usdt"><span class="search-usdt-span" @click="getHistorTrans()">搜索</span></div></div>
      </div>
    </div>

    <li class="tr-th flex">
      <!--时间-->
      <div class="th td-time1">{{$t('时间')}}</div>
      <!--合约-->
      <div class="th td-time">{{$t('合约')}}</div>
      <!--方向-->
      <div class="th td-category-1">{{$t('方向')}}</div>
      <!--成交均价-->
      <div class="th td-market">{{$t('成交均价')}}</div>
      <!--数量-->
      <div class="th td-number">{{$t('数量')}}</div>
      <!--手续费-->
      <div class="th td-price">{{$t('手续费')}}</div>
      <!--已实现盈亏-->
      <div class="th td-trigger">{{$t('已实现盈亏')}}</div>

    </li>
    <!-- 表头 end -->
    <template v-if="!loading">
    <!-- 如果加载完成、已登录、有数据，则显示数据 begin -->
      <template v-if="userId && (historicalTransaction.length != 0 || historicaSearch.length != 0)">
        <div class="historica">
          <li class="flex tr-td"
              :class="$route.name == 'historicalTransaction'?'tr-td':'tr-td-col'"
              v-for="(order,index) in  historicalTransaction" :key="order.fromId">

            <!--时间-->
            <div class="td td-time1">{{$globalFunc.formatDateUitl(order.time,'YYYY-MM-DD hh:mm:ss')}}</div>
            <!--合约-->
            <div class="td td-time">{{order.symbol}}</div>
            <!--方向-->
            <div class="td td-category-1" :class="order.side==='BUY'?'text_blue-3':'text_red-4'">
              {{$globalFunc.getOrderSide(order.positionSide,order.side)}}
            </div>
            <!--成交均价-->
            <div class="td td-market">{{toFixed(order.price,2)}}</div>
            <!--数量-->
            <div class="td td-number">{{toFixed(order.qty,3)}}</div>
            <!--手续费-->
            <div class="td td-price">{{toFixed(order.commission,8)}}</div>
            <!--实现盈亏-->
            <div class="td td-trigger">{{toFixed(order.realizedPnl,8)}}</div>
          </li>
        </div>
      </template>
      <!-- 如果加载完成、已登录、有数据，则显示数据 end -->

      <!-- 如果没加载完成、没登录、没数据，则显示'--' begin -->
      <template v-else>
        <li class="weit">
          <div class="nhtu" v-if="$route.name == 'historicalTransaction'"><img src="../../assets/noOrders.png"></div>
          <div class="nhtu" v-if="$route.name !== 'historicalTransaction'"><img src="../../assets/noOrderDark.png"></div>
          <span>{{$t('orderPageCurrentEntrustment.close_9')}}</span>
        </li>
      </template>
    </template>
<!--      &lt;!&ndash; 如果没加载完成、没登录、没数据，则显示'&#45;&#45;' begin &ndash;&gt;-->
<!--      <template v-if="!loading && userId && tradinghallLimit===10 && historicalTransaction.length >= 10">-->
<!--        <li class="seeMore" >-->
<!--          <span class="text_blue pointer" @click="toCurrentHistory">{{$t('orderPageHistoricalEntrustment.close_12')}}</span>-->
<!--        </li>-->
<!--      </template>-->

    <!-- 加载更多 如果loading结束、已经登录、获取的数据超过了limit，则显示 begin -->
    <template v-if="showLoadingMore && !loading && userId && (!interTimerPicker && !valueUsdt) && $route.name == 'historicalTransaction'">
      <li class="loading-more">
        <span class="text_blue pointer" v-if="!loadingMoreIng" @click="clickLoadingMore">{{$t('orderPageHistoricalEntrustment.close_10')}}</span>
        <span class="text_blue" v-else>{{$t('orderPageHistoricalEntrustment.close_11')}}</span>
      </li>
    </template>
    <!-- 加载更多 end -->
    <!-- 查看更多 begin -->
    <template v-if="!loading && userId && $route.name != 'historicalTransaction'">
      <li class="loading-more" >
        <span class="text_blue pointer" @click="toHistoricalTrans">{{$t('orderPageHistoricalEntrustment.close_12')}}</span>
      </li>
    </template>
    <!-- 查看更多 end -->
  </ul>
  <!-- 加载更多 begin -->
  <div class="" v-if="loading && userId">
    <Loading/>
  </div>
  <!-- 加载更多 end -->

<!--  <PopupPrompt :popType="promptType" :popOpen="promptOpen" :popClose="closePrompt"/>-->
</div>
