<!--页脚-->
<div class="footer-detail-container min-width">


<!--  <div class="footer_gobutton">-->
<!--    <ul>-->
<!--      <li class="zcbutton"   @click="tiaoz(1)"  v-if="!isLogin">-->
<!--          <span>{{$t('register')}}</span>-->
<!--      </li>-->
<!--      <li class="gojiaoyi"    v-if="isLogin">-->
<!--        <span>{{$t('indexHeader.havedLogin')}}</span>-->
<!--      </li>-->
<!--      <li class="gojiaoyi" @click="tiaoz(2)" v-if="!isLogin" >-->
<!--          <span>{{$t('totrade')}}</span>-->
<!--      </li>-->
<!--      <li class="zcbutton" @click="tiaoz(2)" v-if="isLogin">-->
<!--          <span>{{$t('totrade')}}</span>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
  <div class="footer_aboutus">
    <div class="footer11">
      <div class="footerlogo" v-if="lang==='CH'">
        <img src="../../assets/2020_web_底部_logo@2x.png">
      </div>

      <div class="footerlogo" v-if="lang!=='CH'">
        <img src="../../assets/2020_web_底部_logo@2x.png">
      </div>

      <div class="footerlogo footerlo">
        <div>{{$t("terms.Terms_conditionss")}} : info@2020.exchange</div>
        <div>{{$t("terms.Terms_conditionss_13")}} : service@2020.exchange</div>
        <div>{{$t("terms.Terms_conditionss_14")}} : business@2020.exchange</div>
      </div>
  <!--      <div class="footerlogo2">-->
  <!--        <img src="" >-->
  <!--        <img src="" >-->
  <!--        <img src="" >-->
  <!--        <img src="" >-->
  <!--        <img src="" >-->
  <!--        <img src="" >-->
  <!--        <img src="" >-->
  <!--        <img src="" >-->
  <!--      </div>-->
    </div>

    <div class="footer12" >
      <!--关于我们-->
      <div class="footer1211">
        <div class="footer11font">
          <ul>
            <li class="lititle"><span class="guanywm">{{$t("terms.Terms_conditionss_1")}}</span></a></li>
<!--            关于2020-->
            <li class="liinfo"><a href="https://2020.highdefi.com/index/notice/noticeDetail?columnId=0&id=37">{{$t("terms.Terms_conditionss_2")}}</a></li>



            <!--用户协议-->
            <li class="liinfo">
<!--              <router-link to="/index/notice?columnId=4&id=36" @click.native="goToNoticeCenter('4')" >{{$t("terms.Terms_conditionss_3")}}</router-link>-->
              <a href="https://2020.highdefi.com/index/notice/noticeDetail?columnId=4&id=48">{{$t("terms.Terms_conditionss_3")}}</a>
            </li>

            <!--隐私条款-->
            <li class="liinfo">
              <a href="https://2020.highdefi.com/index/notice/noticeDetail?columnId=4&id=32">{{$t("terms.Terms_conditionss_4")}}</a>

              <!--              <router-link to="/index/notice?columnId=4" @click.native="goToNoticeCenter('4')" >{{$t("terms.Terms_conditionss_4")}}</router-link>-->
            </li>

<!--            <li class="liinfo"><a href="https://customerservice8872.zendesk.com/hc/zh-cn/categories/360002253311"></a></li>-->
<!--            <li class="liinfo"><a href="https://customerservice8872.zendesk.com/hc/zh-cn/categories/360002253311">{{$t("terms.Terms_conditionss_4")}}</a></li>-->
          </ul>
        </div>
      </div>
      <!--帮助-->
      <div class="footer1211">
        <div class="footer11font">
          <ul>
            <li  class="lititle"><span class="guanywm">{{$t("terms.Terms_conditionss_5")}}</span></li>
            <!--常见问题-->
            <li class="liinfo">
              <router-link to="/index/notice?columnId=3" @click.native="goToNoticeCenter('3')" >{{$t("terms.Terms_conditionss_6")}}</router-link>
            </li>
            <!--帮助中心-->
            <li class="liinfo">
              <router-link to="/index/notice?columnId=1" @click.native="goToNoticeCenter('1')" >{{$t("terms.Terms_conditionss_7")}}</router-link>
            </li>
            <!--新手指南-->
            <li class="liinfo">
              <router-link to="/index/notice?columnId=2" @click.native="goToNoticeCenter('2')" >{{$t("terms.Terms_conditionss_8")}}</router-link>
            </li>
          </ul>
        </div>
      </div>
<!--      服务-->
      <div class="footer1211">
        <div class="footer11font">
          <ul>
            <li  class="lititle"><span class="guanywm">{{$t("terms.Terms_conditionss_9")}}</span></li>
            <li class="liinfo"><a href="https://2020.highdefi.com/index/notice/noticeDetail?columnId=0&id=39">{{$t("terms.Terms_conditionss_10")}}</a></li>
            <li class="liinfo">
<!--              <a href="https://customerservice8872.zendesk.com/hc/zh-cn/articles/360035121691-PRIVACY-POLICY">{{$t("terms.Terms_conditionss_11")}}</a>-->
              <router-link to="/index/notice?columnId=0" @click.native="goToNoticeCenter('0')">{{$t("terms.Terms_conditionss_11")}}</router-link>
            </li>
    <!--        <li class="liinfo"><a href="https://customerservice8872.zendesk.com/hc/zh-cn/articles/360034747272-%E8%B4%B9%E7%8E%87%E6%A0%87%E5%87%86">{{$t("terms.Terms_conditionss_7")}}</a></li>-->
          </ul>
        </div>
      </div>

      <div class="footer12-wechat">
        <div class="footer11font">
          <img src="../../assets/kefuapp.jpg" alt="">
          <p>{{$t("terms.Terms_conditionss_12")}}</p>
        </div>
      </div>


    </div>


<!--    <div class="footer11">-->
<!--      <div class="footer11font">-->
<!--          <ul>-->
<!--            <li>关于我们</li>-->
<!--            <li><router-link to="/index/aboutUs" target="_blank">{{$t('aboutUs')}}</router-link></li>-->
<!--            <li><router-link to="/index/help/userAgreement" target="_blank">{{$t('server')}}</router-link></li>-->
<!--            <li><router-link to="/index/help/userPrivacy" target="_blank">{{$t('apply')}}</router-link></li>-->
<!--            <li><router-link to="/index/help/rateStandard" target="_blank">{{$t('rate')}}</router-link></li>-->
<!--          </ul>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="footer11" >-->
<!--    &lt;!&ndash;      <div class="footer11font ftaboutus">{{$t('contactUs')}}：</div>&ndash;&gt;-->
<!--    <div class="footer11font contact">-->
<!--      <ul>-->
<!--        <li>联系我们</li>-->
<!--        <li>{{$t('technicalsupport')}}</li>-->
<!--        <li>{{$t('marketcooperation')}}</li>-->
<!--        <li>{{$t('businesscooperation')}}</li>-->
<!--        <li><router-link to="/index/joinUs" target="_blank">{{$t('joinus')}}</router-link></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--    <div class="footer11  lianxwe" >-->
<!--      &lt;!&ndash;      <div class="footer11font ftaboutus">{{$t('contactUs')}}：</div>&ndash;&gt;-->
<!--      <div class="footer11font contact">-->
<!--        <ul>-->
<!--          <li>条款说明</li>-->
<!--          <li>使用条款</li>-->
<!--          <li>隐私政策</li>-->
<!--          <li>风险</li>-->
<!--          <li>费用</li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="footer11 friendlinkd">-->
<!--&lt;!&ndash;      <div class="footer11font ftaboutus">{{$t('friendLink')}}：</div>&ndash;&gt;-->
<!--      <div class="footer11font">-->
<!--        <ul>-->
<!--          <li>注册账号</li>-->
<!--          <li>如何注册</li>-->
<!--          <li>常见问题</li>-->

<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="footer11 joinuswe">-->
<!--      <div class="footer11font ftaboutus">{{$t('indexFooter.community')}}：</div>-->
<!--      <div class="shequn">-->
<!--        <ul>-->
<!--          <li>-->
<!--            <div class="kefu01">-->
<!--                  <span>{{$t('indexFooter.nineSister')}}</span>-->
<!--            </div>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
  </div>



<!--  <div class="copy-right">-->
<!--    &copy; 2017 - {{new Date().getFullYear()}} 2020.exchange All Rights Reserved;-->
<!--  </div>-->


</div>

