<div class="body">
  <div class="index-header">
    <IndexHeader></IndexHeader>
  </div>
  <div class="guide-container">
    <div>
      <p>新手指南</p>
    </div>
    <ul>
      <!--<li>-->
        <!--<a href=""-->
           <!--target="view_frame">-->
        <!--<span>1、</span>-->
        <!--<img src="../../assets/pdf.png" alt="">-->
        <!--<span>TwentyTwenty移动端下载指引</span>.pdf </a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href=""-->
           <!--target="view_frame">-->
        <!--<span>2、</span>-->
        <!--<img src="../../assets/pdf.png" alt="">-->
        <!--<span>TwentyTwenty注册指引</span>.pdf</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href=""-->
           <!--target="view_frame">-->
        <!--<span>3、</span>-->
        <!--<img src="../../assets/pdf.png" alt="">-->
        <!--<span>充值指引</span>.pdf </a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href=""-->
           <!--target="view_frame">-->
        <!--<span>4、</span>-->
        <!--<img src="../../assets/pdf.png" alt="">-->
        <!--<span>登录指引</span>.pdf </a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href=""-->
           <!--target="view_frame">-->
        <!--<span>5、</span>-->
        <!--<img src="../../assets/pdf.png" alt="">-->
        <!--<span>谷歌验证器</span>.pdf </a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href=""-->
           <!--target="view_frame">-->
        <!--<span>6、</span>-->
        <!--<img src="../../assets/pdf.png" alt="">-->
        <!--<span>谷歌验证指引</span>.pdf</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href=""-->
           <!--target="view_frame">-->
        <!--<span>7、</span>-->
        <!--<img src="../../assets/pdf.png" alt="">-->
        <!--<span>交易指引</span>.pdf </a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href=""-->
           <!--target="view_frame">-->
        <!--<span>8、</span>-->
        <!--<img src="../../assets/pdf.png" alt="">-->
        <!--<span>认证指引</span>.pdf</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a href=""-->
           <!--target="view_frame">-->
        <!--<span>9、</span>-->
        <!--<img src="../../assets/pdf.png" alt="">-->
        <!--<span>提现指引</span>.pdf </a>-->
      <!--</li>-->
    </ul>
    <!-- <div class="guide-container-banner
    -container-banners
    .about-header-banners-text
    .about-container-content
    about-icon-line li
    ">

    </div> -->

  </div>



  <div class="index-footer index-background-color">
    <IndexFooter/>
  </div>
</div>
