<div class='index-home-info-box' :class="themeColor === 1 ? 'index-home-info-box-light':'index-home-info-box-dark'">

  <div class="index-home-info-title">
    2020复活者联盟
<!--    {{$t("transaction.Trading_platform")}}-->
  </div>
<!--  <div class="index-home-info-title-fu">-->
<!--&lt;!&ndash;    {{$t("transaction.Trading_platform_1")}}&ndash;&gt;-->
<!--  </div>-->
  <div class="index-home-info-list">
    <ul>
      <li>
        <div class="tutu">
          <img src="../../assets/indexHome/alliance-of-resurrectors.png" >
        </div>
        <div class="tututitle">复活者联盟</div>
<!--        {{$t("transaction.Trading_platform_2")}}-->
        <div class="tutuinfo ">投资复活的集结号</div>
<!--        {{$t("transaction.Trading_platform_3")}}-->
      </li>
      <li>
        <div class="tutu">
          <img src="../../assets/indexHome/Innovative-mining.png" >
        </div>
        <div class="tututitle">创新型挖矿</div>
<!--        {{$t("transaction.Trading_platform_4")}}-->
        <div class="tutuinfo">交易挖矿的进阶版</div>
<!--        {{$t("transaction.Trading_platform_5")}}-->
      </li>
      <li>
        <div class="tutu">
          <img src="../../assets/indexHome/group-deal.png" >
        </div>
        <div class="tututitle">拼团式交易</div>
<!--        {{$t("transaction.Trading_platform_6")}}-->
        <div class="tutuinfo tutuinfo-mr">交易所里的拼多多</div>
<!--        {{$t("transaction.Trading_platform_7")}}-->
      </li>
      <li>
        <div class="tutu">
          <img src="../../assets/indexHome/butler-customer-service.png" >
        </div>
        <div class="tututitle">管家式客服</div>
<!--        {{$t("transaction.Trading_platform_6")}}-->
        <div class="tutuinfo ">区块链里的海底捞</div>
<!--        {{$t("transaction.Trading_platform_7")}}-->
      </li>
      <li>
        <div class="tutu">
          <img src="../../assets/indexHome/high-engine-match.png" >
        </div>
        <div class="tututitle">高引擎撮合</div>
<!--        {{$t("transaction.Trading_platform_6")}}-->
        <div class="tutuinfo tutuinfo-mr">一秒十万的高引擎</div>
<!--        {{$t("transaction.Trading_platform_7")}}-->
      </li>
      <li>
        <div class="tutu">
          <img src="../../assets/indexHome/mirror-identity.png" >
        </div>
        <div class="tututitle">镜像式身份</div>
<!--        {{$t("transaction.Trading_platform_6")}}-->
        <div class="tutuinfo tutuinfo-mr">全网兼容的通行证</div>
<!--        {{$t("transaction.Trading_platform_7")}}-->
      </li>
    </ul>
  </div>

  <div class="bait"></div>

  <div class="downloadnew">
    <div class="downconten">
      <div class="tt1">
<!--        <img class="tt1img" src="../../assets/InstallIcon.png" >-->
        <div class="tdown2">2020.Exchange 官方APP下载</div>
<!--        <div class="tdown3">{{$t("transaction.Trading_platform_9")}}</div>-->
        <div class="tdownx">
        <div class="tdown4" >
<!--          @mouseenter="openIOSCode()" @mouseleave="closeIOSCode()"-->
          <img class="imgs4" src="../../assets/苹果_icon.png" alt="">
<!--          iOS-->
          {{$t('indexHeader.forward')}}</div>
          <div class="tdown6" >
<!--            @mouseenter="openAndroidCode()" @mouseleave="closeAndroidCode()"-->
            <img class="imgs4" src="../../assets/安卓_icon.png" alt="">
<!--            Android-->
            {{$t('indexHeader.forward')}}
          </div>
        </div>

<!--        v-show="showewm"-->
<!--        ios-->
        <div class="tdown5" >
        <div class="download-left-download-item-erwma">
          <div class="download-left-download-item-qrcode-img">
            <Qrcode
              :size="size"
              :value="value"
              :logo="logo"
              :bgColor="bgColor"
              :fgColor="fgColor"
            >
            </Qrcode>
          </div>
        </div>

<!--        <div class="tdown6"    @mouseenter="backtpenter()" @mouseleave="backtpleave()">{{$t("transaction.Trading_platform_10")}}</div>-->
          <!--          android-->
        </div>
<!--        v-show="showewm1"-->
        <div class="tdown7" >
          <div class="download-left-download-item-erwma1">
            <div class="download-left-download-item-qrcode-img1">
              <Qrcode
                :size="size"
                :value="value"
                :logo="logo"
                :bgColor="bgColor"
                :fgColor="fgColor"
              >
              </Qrcode>
            </div>
          </div>
        </div>
      </div>

      <div class="tt2">
        <img src="../../assets/indexHome/app-download-img.png" >
      </div>
    </div>
  </div>

  <div class="bait"></div>

<!--  去交易-->
<!--  <div class="goLogo">-->
<!--    <div class="goLogo2">{{$t("transaction.Trading_platform_13")}}</div>-->
<!--    <div class="goLogo3">{{$t("transaction.Trading_platform_14")}}</div>-->
<!--    <div :class="!isLogin?'zhuce1':'zhuce3'">-->
<!--      <router-link-->
<!--      :to="{name:'login'}"-->
<!--      class="navigation-item-router login-register-item flex"-->
<!--      active-class="navigation-item-router-selected text_blue"-->
<!--    >-->
<!--      {{!isLogin? $t("transaction.Trading_platform_15"):$t("transaction.Trading_platform_16")}}-->
<!--    </router-link></div>-->
<!--    <div class="zhuce2">-->
<!--      <router-link-->
<!--      :to="{name: 'tradingHall', query: {symbol: $store.state.symbol} }"-->
<!--      class="navigation-item-router1 flex"-->
<!--      active-class="navigation-item-router-selected "-->
<!--    >-->
<!--      {{$t("transaction.Trading_platform_17")}}-->
<!--     </router-link></div>-->

<!--  </div>-->


<!--  <div class="hezhb">-->
<!--    <div class="index-home-info-title">-->
<!--      {{$t("transaction.Trading_platform_12")}}-->
<!--    </div>-->
<!--    <div class="table8">-->
<!--      <table>-->
<!--        <tr>-->
<!--          <td><img src="" ></td>-->
<!--          <td><img src="" ></td>-->
<!--          <td><img src="" ></td>-->
<!--          <td  class="lastCol"><img src="" ></td>-->
<!--        </tr>-->
<!--        <tr  class="lastrow">-->
<!--          <td><img src="" ></td>-->
<!--          <td><img src="" ></td>-->
<!--          <td><img src="" ></td>-->
<!--          <td  class="lastCol"><img src="" ></td>-->
<!--        </tr>-->
<!--      </table>-->
<!--    </div>-->

<!--  </div>-->


<!--  <div class="bkbutton" @click="backtop()"  >-->
<!--    <img v-show="backtophui" src=""   @mouseenter="backtpenter()" @mouseleave="backtpleave()">-->
<!--    <img v-show="backtopzi" src=""    @mouseenter="backtpenter()" @mouseleave="backtpleave()">-->
<!--  </div>-->
<!--  <div id="kefu2019" class="chartbutton" @click="openkf()"><img src="" alt="">{{$t('infoItemChart')}}</div>-->
</div>

