<div class="header">
  <div class="header_body_container"
       :class="{'dark':themeColor === 0 && changeThemeColor,'light':themeColor === 1 && changeThemeColor,}"
  >
    <!-- 移动端头部logo -->

    <template v-if="isMobile">
      <!--  <div v-if="!loading && downloadShow" class="homepage-body-download" ref="downloadView">-->

      <!--    <img class="index-home-header-img" src="../../assets/mobile_app_download.png" alt="">-->
      <!--    <div class="logofont">-->
      <!--      二零二零APP-->
      <!--    </div>-->
      <!--    <div class="logofont2">-->
      <!--      安全可靠，值得信赖-->
      <!--    </div>-->
      <!--    <a :href="staticUrl"  class="index-home-header-address" target="_blank">-->
      <!--      下载-->
      <!--    </a>-->
      <!--    <img class="index-home-header-close-img" @click="closeDownload" src="" alt="">-->
      <!--&lt;!&ndash;    <div class="index-home-header-close" @click="closeDownload">&ndash;&gt;-->
      <!--&lt;!&ndash;      <img src="../../assets/mobile_download_close.png" class="index-home-header-img-close" alt="">&ndash;&gt;-->
      <!--&lt;!&ndash;    </div>&ndash;&gt;-->
      <!--  </div>-->
    </template>

    <!--<template v-if="isMobile">-->
    <!--<div v-if="!loading && downloadShow" class="homepage-body-download" ref="downloadView">-->

    <!--<img class="index-home-header-img" src="../../assets/mobile_app_download.png" alt="">-->
    <!--<div class="logofont">-->
    <!--二零二零APP-->
    <!--</div>-->
    <!--<div class="logofont2">-->
    <!--安全可靠，值得信赖-->
    <!--</div>-->
    <!--<a :href="staticUrl"  class="index-home-header-address" target="_blank">-->
    <!--下载-->
    <!--</a>-->
    <!--<img class="index-home-header-close-img" @click="closeDownload" src="" alt="">-->
    <!--&lt;!&ndash;    <div class="index-home-header-close" @click="closeDownload">&ndash;&gt;-->
    <!--&lt;!&ndash;      <img src="../../assets/mobile_download_close.png" class="index-home-header-img-close" alt="">&ndash;&gt;-->
    <!--&lt;!&ndash;    </div>&ndash;&gt;-->
    <!--</div>-->
    <!--</template>-->

    <!--  <div class="header min-width relative">-->
    <div class="header min-width relative">
      <div class="header-container min-width">
        <!-- 移动端头部logo -->
        <template v-if="isMobile">
          <div class="mobile-header">
            <ul v-if="!isLogin" class="login flex-center">
              <li>
                <router-link to="/index/register" active-class="selected">{{$t('register')}}</router-link>
              </li>
              <li>|</li>
              <li>
                <router-link to="/index/sign/" active-class="selected">
                  {{$t('login')}}
                </router-link>
              </li>
            </ul>
          </div>
          <div class="mobile-header-login-box">

            <!--          <div v-if="!hall_symbol" class="mobile-main-title">{{mobileHeaderTitle}}</div>-->
            <div v-if="!hall_symbol" class="mobile-main-title-symbol" @click="changeHeaderBoxFlag">
              <span>{{symbol | e}}</span>
              <div :class="mobileTradingHallFlag ? 'triangle-down' : 'triangle-up'"></div>
            </div>


            <router-link to="/index/home" class="mobile-header-logo">
              <!--<img class="mobile-header-logo-img" src="" alt="">-->
              <!--<img class="mobile-header-logo-img" src="../../assets/TwentyTwenty_ch_logo2.png" alt="">-->
            </router-link>
          </div>

          <div class="mobile-header-login-box">

            <!--          <div v-if="!hall_symbol" class="mobile-main-title">{{mobileHeaderTitle}}</div>-->
            <div v-if="$route.name === 'MobileAssetRechargeAndWithdrawals'" class="mobile-main-title-symbol1" @click="changeHeaderBoxFlag1">
              <img src="../../assets/财务记录_icon@2x.png" alt="">
            </div>


            <router-link to="/index/home" class="mobile-header-login-box">
            <span>
              <img class="mobile-header-login-box-imgs" src="../../assets/H5-LOGO.png" alt="">


            </span>
            </router-link>
          </div>

          <!--        <div class="mobile-header-icon-flag" @click="clickChangePopOpen">-->
          <!--          <img class="mobile-header-icon-flag-img" src="../../assets/mobile_header_menu.png" alt="">-->
          <!--          &lt;!&ndash;小红点&ndash;&gt;-->
          <!--          <div v-if="redPoint" class="mobile-header-icon-flag-red-point"></div>-->
          <!--        </div>-->
          <!-- 移动端 左侧弹窗 -->
          <div v-if="changePopOpen === true" class="mobile-header-box-mask">
            <div class="mobile-header-box">
              <div class="mobile-header-box-title">

                <div class="mobile-header-box-icon-flag" @click="clickChangePopOpen">
                  <img class="mobile-header-icon-flag-img" src="../../assets/mobile_header_menu.png" alt="">
                </div>
                <div v-if="isLogin" class="login-in flex-center">
                  <router-link class="flex-center login-header" to="/index/personal">
                    <img src="../../assets/indexHeader-avator.png" alt="">
                    <span>{{userName}}</span>
                  </router-link>
                  <ul class="login-hidden flex">
                    <li class="assets-li flex-center">
                      <IndexHeaderAssets v-if="isLogin"/>
                    </li>
                    <li class="login-off flex-center" @click="loginOff">
                      <span>{{$t('loginOff')+"12312313"}}</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="mobile-header-box-content">
                <ul class="mobile-header-box-content-list">

                  <li @click="changeMobileTradingHallFlag" class="mobile-header-box-content-item">
                    <router-link class="mobile-header-box-content-item-first" to="/index/mobileTradingHall/">交易大厅
                    </router-link>
                  </li>
                  <!--<li class="mobile-header-box-content-item">-->
                  <!--&lt;!&ndash;<router-link class="mobile-header-box-content-item-first" :to="{name:'c2cComing'}">C2C&ndash;&gt;-->
                  <!--&lt;!&ndash;</router-link>&ndash;&gt;-->
                  <!--<a href="#" class="mobile-header-box-content-item-first"-->
                  <!--@click="GO_OTC">-->
                  <!--法币入金-->
                  <!--</a>-->
                  <!--</li>-->
                  <li v-if="isLogin" class="mobile-header-box-content-item" active-class="selected">
                    <span class="mobile-header-box-content-item-first">资产管理</span>
                  </li>
                  <li v-if="isLogin" class="mobile-header-box-content-item" active-class="selected"
                      @click="closeMobilePopOpen">
                    <router-link to="/index/mobileAsset/mobileAssetRechargeAndWithdrawals/"
                                 class="mobile-header-box-content-item-second">资产
                    </router-link>
                  </li>
                  <li v-if="isLogin" class="mobile-header-box-content-item" active-class="selected"
                      @click="closeMobilePopOpen">
                    <router-link to="/index/mobileAsset/mobileAssetRecharge/"
                                 class="mobile-header-box-content-item-second">
                      充值
                    </router-link>
                  </li>
                  <li v-if="isLogin" class="mobile-header-box-content-item" active-class="selected"
                      @click="closeMobilePopOpen">
                    <router-link to="/index/mobileAsset/mobileAssetWithdraw/"
                                 class="mobile-header-box-content-item-second">
                      提现
                    </router-link>
                  </li>
                  <li v-if="isLogin" class="mobile-header-box-content-item" active-class="selected"
                      @click="closeMobilePopOpen">
                    <router-link to="/index/mobileAsset/MobileAssetRechargeAndWithdrawRecord/"
                                 class="mobile-header-box-content-item-second">充提记录
                    </router-link>
                  </li>
                  <li v-if="isLogin" class="mobile-header-box-content-item" active-class="selected">
                    <span class="mobile-header-box-content-item-first">我的订单</span>
                  </li>
                  <li v-if="isLogin" class="mobile-header-box-content-item" active-class="selected"
                      @click="changeBuyOrSaleView(3)">
                    <router-link to="/index/mobileTradingHallDetail/" class="mobile-header-box-content-item-second">当前委托
                    </router-link>
                  </li>
                  <li v-if="isLogin" class="mobile-header-box-content-item" active-class="selected"
                      @click="changeBuyOrSaleView(3)"
                  >
                    <router-link to="/index/MobileHistoryOrder/" class="mobile-header-box-content-item-second">历史委托
                    </router-link>
                  </li>

                  <li v-if="isLogin" class="mobile-header-box-content-item" @click="closeMobilePopOpen"
                      active-class="selected">
                    <router-link class="mobile-header-box-content-item-first" to="/index/personal">
                      {{$t('account')}}
                    </router-link>
                  </li>
                  <li v-if="!isLogin" class="mobile-header-box-content-item" @click="closeMobilePopOpen"
                      active-class="selected">
                    <router-link class="mobile-header-box-content-item-first" to="/index/sign/">
                      {{$t('account')}}
                    </router-link>
                  </li>

                  <li @click="closeMobilePopOpen" active-class="selected" class="mobile-header-box-content-item">
                    <router-link class="mobile-header-box-content-item-first" to="/index/mobileNotice/">
                      公告中心
                      <!--小红点-->
                      <!--                    <div v-if="redPoint" class="mobile-header-box-content-item-first-red-point"></div>-->
                    </router-link>
                  </li>
                </ul>
                <div v-if="isLogin" class="mobile-header-box-content-login-off" @click="loginOff">
                  <span class="mobile-header-box-content-login-off-img"></span>
                  退出登录
                </div>
              </div>
            </div>
            <div class="mobile-header-box-right" @click="clickChangePopOpen"></div>
          </div>
        </template>


        <!-- pc端头部logo -->
        <template v-if="!isMobile">

          <!--导航条 begin-->
          <div class="navigation-container flex"
               :class="{'navigation-container-en':lang!=='CH'}"
          >
            <!--左侧内容 begin-->
            <div class="header-left-container flex">
              <!--logo begin-->
              <!-- <router-link to="/index/homePage" class="index-header-logo"><img src="../../assets/logo.png" class="header-logo"> -->
             <div class="baobao-logo">
              <router-link :to="{name:'home'}" @click.native="reFresh()" class="index-header-logo">
                <img src="../../assets/2020_web_logo@2x.png" class="navigation-logo" v-show="lang==='CH'">
                <img src="../../assets/2020_web_logo@2x.png" class="navigation-logo" v-show="lang!=='CH'">
              </router-link>
             </div>
              <!--logo end-->

              <!--左侧导航条 begin-->
              <ul class="navigation-left-container flex" :class="lang != 'CH' && 'en'">

                <!--行情 begin-->
                <li class="navigation-item-container flex">
                  <!--                行情-->
                  <router-link
                    :to="{name: 'indexHomeMarket'}"
                    class="navigation-item-router flex"
                    active-class="navigation-item-router-selected"
                  >{{$t('quotes')}}
<!--                                      {{$t('currencyQuotation')}}-->
                  </router-link>
                  <!--隐藏的标签 法币交易 begin-->
                  <!--隐藏的标签 end-->
                </li>

                <!--币币交易 begin-->
                <li class="navigation-item-container flex">
                  <router-link
                    :to="{name: 'tradingHall', query: {symbol: $store.state.symbol} }"
                    class="navigation-item-router flex"
                    active-class="navigation-item-router-selected"
                  >
                    {{$t('currencyExchange')}}

                  </router-link>
                  <!--隐藏的标签 币币交易 begin-->

                  <!--隐藏的标签 end-->
                </li>

                <!--法币交易 begin-->
                <li class="navigation-item-container flex">
                  <div @click="goToFranchExchange"
                    class="navigation-item-router flex pointer"
                    active-class="navigation-item-router-selected"
                  >
                    {{$t('fiatDeal')}}
                  </div>
                  <!--隐藏的标签 法币交易 begin-->

                  <!--隐藏的标签 end-->
                </li>

                <!--合约交易 begin-->


<!--                &lt;!&ndash; 法币交易 &ndash;&gt;-->
<!--                <li class="navigation-item-container flex">-->
<!--                  &lt;!&ndash;                法币交易&ndash;&gt;-->
<!--                  <div-->
<!--                    @click="GO_OTC"-->
<!--                    class="navigation-item-router flex"-->
<!--                    active-class="navigation-item-router-selected item_selected text_blue"-->
<!--                  >-->
<!--                    {{$t('fiatDeal')}}-->
<!--                    &lt;!&ndash;                  <div class="language-jt-down"></div>&ndash;&gt;-->
<!--                  </div>-->
<!--                  &lt;!&ndash; 隐藏的标签 begin&ndash;&gt;-->
<!--                  &lt;!&ndash;                <ul class="flex navigation-item-hidden-list"&ndash;&gt;-->
<!--                  &lt;!&ndash;                    :class="{'navigation-item-hidden-list-black':isBlack}"&ndash;&gt;-->
<!--                  &lt;!&ndash;                >&ndash;&gt;-->
<!--                  &lt;!&ndash;                  <li class="navigation-item-hidden-list-item">&ndash;&gt;-->
<!--                  &lt;!&ndash;                    <router-link&ndash;&gt;-->
<!--                  &lt;!&ndash;                      :to="{name:''}"&ndash;&gt;-->
<!--                  &lt;!&ndash;                      class="navigation-item-hidden-list-item-router"&ndash;&gt;-->
<!--                  &lt;!&ndash;                      active-class="item_selected">&ndash;&gt;-->
<!--                  &lt;!&ndash;                      C2C交易&ndash;&gt;-->
<!--                  &lt;!&ndash;                    </router-link>&ndash;&gt;-->
<!--                  &lt;!&ndash;                  </li>&ndash;&gt;-->
<!--                  &lt;!&ndash;                  <li class="navigation-item-hidden-list-item">&ndash;&gt;-->
<!--                  &lt;!&ndash;                    <div&ndash;&gt;-->
<!--                  &lt;!&ndash;                      @click="GO_OTC"&ndash;&gt;-->
<!--                  &lt;!&ndash;                      class="navigation-item-hidden-list-item-router"&ndash;&gt;-->
<!--                  &lt;!&ndash;                      active-class="item_selected"&ndash;&gt;-->
<!--                  &lt;!&ndash;                    >&ndash;&gt;-->
<!--                  &lt;!&ndash;                      OTC交易&ndash;&gt;-->
<!--                  &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                  &lt;!&ndash;                  </li>&ndash;&gt;-->
<!--                  &lt;!&ndash;                </ul>&ndash;&gt;-->
<!--                  &lt;!&ndash; 隐藏的标签 end &ndash;&gt;-->
<!--                </li>-->
<!--                &lt;!&ndash;                 法币交易 begin&ndash;&gt;-->
<!--                &lt;!&ndash;              <li class="navigation-item-container flex">&ndash;&gt;-->
<!--                &lt;!&ndash;                <router-link&ndash;&gt;-->
<!--                &lt;!&ndash;                  :to="{name: 'tradingHall', query: {symbol: $store.state.symbol} }"&ndash;&gt;-->
<!--                &lt;!&ndash;                  class="navigation-item-router flex"&ndash;&gt;-->
<!--                &lt;!&ndash;                  active-class="navigation-item-router-selected "&ndash;&gt;-->
<!--                &lt;!&ndash;                >&ndash;&gt;-->
<!--                &lt;!&ndash;                  &lt;!&ndash;{{$t('currencyExchange')}}&ndash;&gt;&ndash;&gt;-->
<!--                &lt;!&ndash;                  法币交易&ndash;&gt;-->
<!--                &lt;!&ndash;                  <div class="language-jt-down"></div>&ndash;&gt;-->
<!--                &lt;!&ndash;                </router-link>&ndash;&gt;-->
<!--                &lt;!&ndash;隐藏的标签 法币交易 begin&ndash;&gt;-->
<!--                &lt;!&ndash;                隐藏的标签 end&ndash;&gt;-->
<!--                </li>-->

<!--                </li>-->
<!--                &lt;!&ndash;订单 begin&ndash;&gt;-->
<!--                <li class="navigation-item-container flex"  @mouseenter="enter()" @mouseleave="leave()">-->
<!--                  <router-link-->
<!--                    :to="{name:'currentEntrust'}"-->
<!--                    class="navigation-item-router flex"-->
<!--                    active-class="navigation-item-router-selected text_blue"-->
<!--                  >-->
<!--                    <span class="langfont">{{$t('order')}}</span>-->
<!--                    &lt;!&ndash;                  <div :class="jtval=='up'?'language-jt-up':'language-jt-down'"></div>&ndash;&gt;-->
<!--                    <div class="language-jt-down"></div>-->
<!--                  </router-link>-->

<!--                  &lt;!&ndash;隐藏的标签 begin&ndash;&gt;-->
<!--                  <ul class="flex navigation-item-hidden-list"-->
<!--                      :class="{'navigation-item-hidden-list-black':isBlack}"-->
<!--                  >-->
<!--                    <li class="navigation-item-hidden-list-item">-->
<!--                      <router-link-->
<!--                        :to="{name:'currentEntrust'}"-->
<!--                        class="navigation-item-hidden-list-item-router"-->
<!--                        active-class="item_selected">-->
<!--                        {{$t('currentEntrust')}}-->
<!--                      </router-link>-->
<!--                    </li>-->
<!--                    <li class="navigation-item-hidden-list-item">-->
<!--                      <router-link-->
<!--                        :to="{name:'historicalEntrust'}"-->
<!--                        class="navigation-item-hidden-list-item-router"-->
<!--                        active-class="item_selected text_red"-->
<!--                      >-->
<!--                        {{$t('historicalEntrust')}}-->
<!--                      </router-link>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                  &lt;!&ndash;隐藏的标签 end&ndash;&gt;-->
<!--                </li>-->
                <!--订单 end-->

                <!--资产 begin-->
<!--                <li class="navigation-item-container flex"  @mouseenter="enter()" @mouseleave="leave()">-->
<!--                  <router-link-->
<!--                    :to="{name: 'rechargeAndWithdrawals'}"-->
<!--                    class="navigation-item-router flex"-->
<!--                    active-class="navigation-item-router-selected text_blue"-->
<!--                  >-->
<!--                    <span class="langfont">{{$t('assets')}}</span>-->
<!--                    <div class="language-jt-down"></div>-->
<!--                  </router-link>-->
<!--                  &lt;!&ndash;隐藏的标签 begin&ndash;&gt;-->
<!--                  <ul class="flex navigation-item-hidden-list"-->
<!--                      :class="{'navigation-item-hidden-list-asset-en':lang!=='CH',-->
<!--                    'navigation-item-hidden-list-black':isBlack}"-->
<!--                  >-->
<!--                    <li class="navigation-item-hidden-list-item">-->
<!--                      <router-link-->
<!--                        :to="{name:'rechargeAndWithdrawals'}"-->
<!--                        class="navigation-item-hidden-list-item-router"-->
<!--                        active-class="item_selected">-->
<!--                        {{$t('recharge')}}-->
<!--                      </router-link>-->
<!--                    </li>-->
<!--                    <li class="navigation-item-hidden-list-item">-->
<!--                      <router-link-->
<!--                        :to="{name:'rechargeRecord'}"-->
<!--                        class="navigation-item-hidden-list-item-router"-->
<!--                        active-class="item_selected"-->
<!--                      >-->
<!--                        {{$t('rechargeRecord')}}-->
<!--                      </router-link>-->
<!--                    </li>-->
<!--                    <li class="navigation-item-hidden-list-item">-->
<!--                    <router-link-->
<!--                      :to="{name:'withdrawalsRecord'}"-->
<!--                      class="navigation-item-hidden-list-item-router"-->
<!--                      active-class="item_selected"-->
<!--                    >-->
<!--                      {{$t('withdrawalsRecord')}}-->
<!--                    </router-link>-->
<!--                  </li>-->
<!--                    <li class="navigation-item-hidden-list-item">-->
<!--                      <router-link-->
<!--                        :to="{name:'platformReward'}"-->
<!--                        class="navigation-item-hidden-list-item-router"-->
<!--                        active-class="item_selected"-->
<!--                      >-->
<!--                        {{$t('assetPage.platformReward')}}-->
<!--                      </router-link>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                  &lt;!&ndash;隐藏的标签 end&ndash;&gt;-->
<!--                </li>-->
<!--                &lt;!&ndash;资产 end&ndash;&gt;-->

                <!--挖矿 begin-->
                <li class="navigation-item-container flex"  @mouseenter="enterActive()" @mouseleave="leaveActive()">

                  <div
                    class="navigation-item-router flex"
                    active-class="navigation-item-router-selected text_blue"
                  >
                    <span class="langfont-active">{{$t('activitywakuang')}}</span>
                    <div class="language-jt-down" :class="activeVal?'language-jt-down':'language-jt-up'"></div>
                  </div>
                  <!--隐藏的标签 begin-->
                  <ul class="flex navigation-item-hidden-list"
                      :class="{'navigation-item-hidden-list-asset-en':lang!=='CH',
                    'navigation-item-hidden-list-black':isBlack}"
                  >

<!--                    <li class="navigation-item-hidden-list-item">-->
<!--                      <div-->
<!--                        @click="getGroupLevel1"-->
<!--                        class="navigation-item-hidden-list-item-routers"-->
<!--                        active-class="item_selected">-->
<!--                        &lt;!&ndash;KK交易挖矿活动&ndash;&gt;-->
<!--                        {{$t('indexHeader.forward')}}-->
<!--                      </div>-->
<!--                    </li>-->

<!--                    <li class="navigation-item-hidden-list-item">-->
<!--                      <div-->
<!--                        @click="getGroupLevel1"-->
<!--                        class="navigation-item-hidden-list-item-router"-->
<!--                        active-class="item_selected">-->
<!--                        &lt;!&ndash;KK交易挖矿活动&ndash;&gt;-->
<!--                        {{$t('OfficialQuantitativeRegistration')}}-->
<!--                      </div>-->
<!--                    </li>-->

                    <!-- sss 量化详情 敬请期待-->
<!--                    <li class="navigation-item-hidden-list-item">-->
<!--                      <div-->
<!--                        @click="getGroupLevel1"-->
<!--                        class="navigation-item-hidden-list-item-router"-->
<!--                        active-class="item_selected">-->
<!--                        {{$t('miningDetails')}}-->
<!--                      </div>-->
<!--                    </li>-->

                    <!-- sss 量化详情 敬请期待 屏蔽  -->
                    <!-- sss 量化报名-->
                    <li class="navigation-item-hidden-list-item">
                      <router-link
                        :to="{name:'officialQuantitativeRegistration'}"
                        class="navigation-item-hidden-list-item-router"
                        active-class="item_selected">
                     <!--KK交易挖矿活动-->
                        {{$t('OfficialQuantitativeRegistration')}}
                      </router-link>
                    </li>

<!--                    &lt;!&ndash; sss 量化详情&ndash;&gt;-->
                    <li class="navigation-item-hidden-list-item">
                      <router-link
                        :to="{name:'officialQuantitativeDetails'}"
                        class="navigation-item-hidden-list-item-router"
                        active-class="item_selected">
                        {{$t('miningDetails')}}
                      </router-link>
                    </li>
                    <!-- sss 屏蔽结束  -->


<!--                     cc 兑换茶叁茶源-->
<!--                    <li class="navigation-item-hidden-list-item">-->
<!--                      <router-link-->
<!--                        :to="{name:'TeaCoinActivities'}"-->
<!--                        class="navigation-item-hidden-list-item-router"-->
<!--                        active-class="item_selected">-->
<!--                        {{$t('ExchangeThreeTeaSources')}}-->
<!--                      </router-link>-->
<!--                    </li>-->
<!--                     cc 茶叁茶源-->
<!--                    <li class="navigation-item-hidden-list-item">-->
<!--                      <router-link-->
<!--                        :to="{name:'TeaSource'}"-->
<!--                        class="navigation-item-hidden-list-item-router"-->
<!--                        active-class="item_selected"-->
<!--                      >-->
<!--                        {{$t('TeaTeaSource')}}-->
<!--                      </router-link>-->
<!--                    </li>-->
                    <!--zpy 易物点通证量化活动-->
<!--                    <li class="navigation-item-hidden-list-item">-->
<!--                      <div-->
<!--                        @click="GO_GRC"-->
<!--                        class="navigation-item-hidden-list-item-router"-->
<!--                        active-class="item_selected"-->
<!--                      >-->
<!--                        {{$t('GRCTradeEvent')}}-->

<!--                      </div>-->
<!--                    </li>-->

                  </ul>
                  <!--隐藏的标签 end-->
                </li>
                <!--挖矿 end-->

                <!--活动 begin-->
<!--                <li class="navigation-item-container flex"  @mouseenter="enterTreasure()" @mouseleave="leaveTreasure()">-->

<!--                  <div-->
<!--                    class="navigation-item-router flex"-->
<!--                    active-class="navigation-item-router-selected text_blue"-->
<!--                  >-->
<!--                    <span class="langfont-treasure">{{$t('activity')}}</span>-->
<!--                    <div class="language-jt-down" :class="chest?'language-jt-down':'language-jt-up'"></div>-->
<!--                  </div>-->
<!--                  &lt;!&ndash;隐藏的标签 begin&ndash;&gt;-->
<!--                  <ul class="flex navigation-item-hidden-list"-->
<!--                      :class="{'navigation-item-hidden-list-asset-en':lang!=='CH',-->
<!--                    'navigation-item-hidden-list-black':isBlack}"-->
<!--                  >-->

<!--                    &lt;!&ndash; sss 量化详情 敬请期待 屏蔽  &ndash;&gt;-->
<!--                    &lt;!&ndash; sss 量化报名&ndash;&gt;-->
<!--                    <li class="navigation-item-hidden-list-item">-->
<!--                      <router-link-->
<!--                        :to="{name:'Forecast'}"-->
<!--                        class="navigation-item-hidden-list-item-router"-->
<!--                        active-class="item_selected">-->
<!--                        &lt;!&ndash;KK交易挖矿活动&ndash;&gt;-->
<!--                        {{$t('celebration')}}-->
<!--                      </router-link>-->
<!--                    </li>-->
<!--                    &lt;!&ndash; sss 屏蔽结束  &ndash;&gt;-->


<!--                  </ul>-->
<!--                  &lt;!&ndash;隐藏的标签 end&ndash;&gt;-->
<!--                </li>-->
                <!--活动 end-->

                <!--sss拼团 begin-->
                <li class="navigation-item-container flex">

<!--                  :to="{name: 'assembleARegiment'}"-->
                  <div
                    @click="getGroupLevel"
                    class="navigation-item-router flex"
                    active-class="navigation-item-router-selected"
                  >{{$t('platform_5')}}
                    <!--                                      {{$t('currencyQuotation')}}-->
                  </div>
                  <!--隐藏的标签 法币交易 begin-->
                  <!--隐藏的标签 end-->
                </li>
                <!--sss拼团 end-->
<!--                <li class="navigation-item-container flex">-->
<!--                  <router-link-->
<!--                    :to="{name: 'tradingHall', query: {symbol: $store.state.symbol} }"-->
<!--                    class="navigation-item-router flex"-->
<!--                    active-class="navigation-item-router-selected"-->
<!--                  >活动-->
<!--                    &lt;!&ndash;                    {{$t('currencyExchange')}}&ndash;&gt;-->
<!--                  </router-link>-->
<!--                  &lt;!&ndash;隐藏的标签 法币交易 begin&ndash;&gt;-->

<!--                  &lt;!&ndash;隐藏的标签 end&ndash;&gt;-->
<!--                </li>-->

              </ul>
              <!--左侧导航条 end-->

            </div>
            <!--左侧内容 end-->

            <!--右侧内容 begin-->
            <div class="header-right-container flex">

              <ul class="navigation-right-container flex">
                <!--登录注册 begin-->
                <li class="login-register-container flex" v-if="!isLogin">
                  <router-link
                    :to="{name:'login'}"
                    class="navigation-item-router login-register-item flex"
                    active-class="navigation-item-router-selected text_blue"
                  >
                    <span class="dlfont">{{$t('login')}}</span>
                  </router-link>
<!--                                  <span class="login-register-item-separator light-color">|</span>-->

                  <router-link
                    :to="{name:'register'}"
                    class="navigation-item-router login-register-item-re flex"
                    active-class="navigation-item-router-selected text_blue"
                  >
                    <span class="zcfont">{{$t('register')}}</span>
                  </router-link>
                </li>
                <!--登录注册 end-->

                <!--登录后 begin-->
                <li class="navigation-item-container flex" v-if="isLogin" @mouseenter="enterMoney()" @mouseleave="leaveMoney()">
                  <router-link
                    :to="{name:'myWallet'}"
                    class="navigation-item-router flex"
                    active-class="navigation-item-router-selected"
                  >
                    <span class="langfont-money" >{{$t('assets')}}</span>
                    <div class="language-jt-down" :class="moneyVal?'language-jt-down':'language-jt-up'" ></div>
                  </router-link>

                  <!--隐藏的标签 begin-->
                  <ul class="flex navigation-item-hidden-list"
                      :class="{'navigation-item-hidden-list-asset-en':lang!=='CH',
                    'navigation-item-hidden-list-black':isBlack}"
                  >
<!--                    资产概览 暂时屏蔽 begin-->
<!--                    <li class="navigation-item-hidden-list-item">-->
<!--                      <router-link-->
<!--                        :to="{name:'overviewOfAssets'}"-->
<!--                        class="navigation-item-hidden-list-item-router"-->
<!--                        active-class="item_selected">-->
<!--&lt;!&ndash;                        资产概览&ndash;&gt;-->
<!--                       {{$t('overviewOfAssets')}}-->
<!--                      </router-link>-->
<!--                    </li>-->

<!--                    资产概览 暂时屏蔽 end-->

                    <li class="navigation-item-hidden-list-item">
                      <router-link
                        :to="{name:'myWallet'}"
                        class="navigation-item-hidden-list-item-router"
                        active-class="item_selected">
<!--                        我的钱包-->
                        {{$t('myWallet')}}
                      </router-link>
                    </li>

<!--                    币币账户 暂时屏蔽 bebgin-->
                    <li class="navigation-item-hidden-list-item">
                      <router-link
                        :to="{name:'rechargeAndWithdrawals'}"
                        class="navigation-item-hidden-list-item-router"
                        active-class="item_selected">
                        {{$t('recharge')}}
                      </router-link>
                    </li>
<!--                    币币账户 暂时屏蔽 end-->


<!--                    财务记录-->
                    <li class="navigation-item-hidden-list-item">
                      <router-link
                        :to="{name:'rechargeRecord'}"
                        class="navigation-item-hidden-list-item-router"
                        active-class="item_selected">
                        {{$t('financeRecord')}}
                      </router-link>
                    </li>

<!--                    锁仓记录-->
                    <li class="navigation-item-hidden-list-item">
                      <router-link
                        :to="{name:'currentLockHouse'}"
                        class="navigation-item-hidden-list-item-router"
                        active-class="item_selected">
                        {{$t('lockHouseRecord')}}
                      </router-link>
                    </li>

<!--                    <li class="navigation-item-hidden-list-item">-->
<!--                      <router-link-->
<!--                        :to="{name:'rechargeRecord'}"-->
<!--                        class="navigation-item-hidden-list-item-router"-->
<!--                        active-class="item_selected"-->
<!--                      >-->
<!--                        {{$t('rechargeRecord')}}-->
<!--                      </router-link>-->
<!--                    </li>-->

<!--                    <li class="navigation-item-hidden-list-item">-->
<!--                      <router-link-->
<!--                        :to="{name:'withdrawalsRecord'}"-->
<!--                        class="navigation-item-hidden-list-item-router"-->
<!--                        active-class="item_selected"-->
<!--                      >-->
<!--                        {{$t('withdrawalsRecord')}}-->
<!--                      </router-link>-->
<!--                    </li>-->

<!--                    <li class="navigation-item-hidden-list-item">-->
<!--                      <router-link-->
<!--                        :to="{name:'transferrecord'}"-->
<!--                        class="navigation-item-hidden-list-item-router"-->
<!--                        active-class="item_selected"-->
<!--                      >-->
<!--&lt;!&ndash;                        划转记录&ndash;&gt;-->
<!--                        {{$t('transferRecord')}}-->
<!--                      </router-link>-->
<!--                    </li>-->

<!--                    <li class="navigation-item-hidden-list-item">-->
<!--                      <router-link-->
<!--                        :to="{name:'transferrecords'}"-->
<!--                        class="navigation-item-hidden-list-item-router"-->
<!--                        active-class="item_selected"-->
<!--                      >-->
<!--&lt;!&ndash;                        转账记录&ndash;&gt;-->
<!--                        {{$t('transferRecords')}}-->
<!--                      </router-link>-->
<!--                    </li>-->

<!--                    <li class="navigation-item-hidden-list-item">-->
<!--                      <router-link-->
<!--                        :to="{name:'platformReward'}"-->
<!--                        class="navigation-item-hidden-list-item-router"-->
<!--                        active-class="item_selected"-->
<!--                      >-->
<!--                        {{$t('platformReward')}}-->
<!--                      </router-link>-->
<!--                    </li>-->
                  </ul>
                  <!--隐藏的标签 end-->
                </li>

                <li class="navigation-item-container flex" v-if="isLogin" @mouseenter="enterOrder()" @mouseleave="leaveOrder()">
                  <router-link
                    :to="{name:'currentEntrust'}"
                    class="navigation-item-router flex"
                    active-class="navigation-item-router-selected"
                  >
<!--                    <img src="../../assets/geren.png" alt="" class="login-header-name flex-center personal-icon">-->
                    <span class="langfont-order">{{$t('order')}}</span>
                    <div class="language-jt-down" :class="orderVal?'language-jt-down':'language-jt-up'" ></div>
                  </router-link>
                  <!--隐藏的标签 begin-->
                  <!--隐藏的标签 begin-->
                  <ul class="flex navigation-item-hidden-list"
                      :class="{'navigation-item-hidden-list-black':isBlack}"
                  >
                    <li class="navigation-item-hidden-list-item">
                      <router-link
                        :to="{name:'currentEntrust'}"
                        class="navigation-item-hidden-list-item-router"
                        active-class="item_selected">
                        {{$t('currentEntrust')}}
                      </router-link>
                    </li>
                    <li class="navigation-item-hidden-list-item">
                      <div class="navigation-item-hidden-list-item-router"
                           @click="goToFrenchCurrecy"
                        active-class="item_selected"
                      >
                        {{$t('frenchCurrency')}}
                      </div>
                    </li>
                  </ul>
                  <!--隐藏的标签 end-->
                </li>

                <li class="navigation-item-container flex" v-if="isLogin">
                  <router-link
                    :to="{name:'securityCenter'}"
                    class="navigation-item-router flex"
                    active-class="navigation-item-router-selected"
                  >
                    <!--<div class="icon-login"></div>-->
                    <!-- <span class="login-header-name flex-center">{{$t('personalCenter')}}</span> -->
                   <!-- 非会员-->
                    <img src="../../assets/geren.png" alt="" class="login-header-name flex-center personal-icon" v-if="!flag">
                    <!-- 是会员-->
                    <img src="../../assets/head_icon.png" alt="" class="login-header-name flex-center personal-icons" v-if="flag">
                  </router-link>



                  <!--隐藏的标签 begin-->
                  <ul
                    class="flex navigation-item-hidden-list-c navigation-item-hidden-list-personal-center"
                    :class="{'navigation-item-hidden-list-black':isBlack}"
                  >
                    <li class="navigation-item-hidden-list-item-personal-center singss">
                      <IndexHeaderAssets v-if="isLogin" :black="isBlack"/>
                    </li>
                  </ul>
                  <!--隐藏的标签 end-->
                </li>
                <!--登录后 end-->

<!--                登录注册与下载公告的分割线-->
                <li class="login-register-line flex"></li>


                <!--公告 begin-->
                <li class="navigation-item-container-right flex"  >
                  <div class="navigation-item-router flex"
                       active-class="navigation-item-router-selected text_blue">
<!--                    <img src="" alt="" class="notice-icon" >-->
                    {{$t('platform_3')}}
                    <!--公告中心-->
                    <div v-if="redPoint"
                         :class="lang==='CH'?'navigation-link-a-red-point-cn':'navigation-link-a-red-point-en'"></div>
                  </div>
                  <!--隐藏的标签 begin-->
                  <ul class="flex navigation-item-hidden-list-i"
                      :class="{'navigation-item-hidden-list-asset-en':lang!=='CH',
                    'navigation-item-hidden-list-black':isBlack}"
                  >
<!--                    <li-->
<!--                      class="navigation-item-hidden-list-item-k"-->
<!--                    >-->
<!--                      <p id="navigation-item-hidden-list-item-l" >{{$t('platform')}}</p>-->
<!--                    </li>-->
                    <!--                  <li  class="navigation-item-hidden-list-item-i"-->
                    <!--                       v-for="(value, key) in noticeList" :key="key"  @click="goNotice(value.id)">-->
                    <!--                    <p id="navigation-item-hidden-list-item-i">{{value.title}}</p>-->
                    <!--&lt;!&ndash;                    ( {{$globalFunc.formatDateUitl(value.beginTime,'MM-DD')}} )&ndash;&gt;-->
                    <!--                  </li>-->
                    <li  class="navigation-item-hidden-list-item-i"
                         v-for="(value, key) in noticeList" :key="key"  @click="goNotice(value.id)">
                      <p id="navigation-item-hidden-list-item-i">{{value.title}}</p>
                      <!--                    ( {{$globalFunc.formatDateUitl(value.beginTime,'MM-DD')}} )-->
                    </li>
                    <!--                  <li  class="navigation-item-hidden-list-item-i">-->
                    <!--                    <p id="navigation-item-hidden-list-item-i"><a href="https://customerservice8872.zendesk.com/hc/zh-cn/articles/360034740012-正式开放注册启事">正式开放注册启事</a></p>-->
                    <!--                  </li>-->
                    <!--                  <li  class="navigation-item-hidden-list-item-i">-->
                    <!--                    <p id="navigation-item-hidden-list-item-i"><a href="https://customerservice8872.zendesk.com/hc/zh-cn/articles/360035114331-二零二零交易所验证邮件延迟公告">二零二零交易所验证邮件延迟公告</a></p>-->
                    <!--                  </li>-->
                    <!--                  <li  class="navigation-item-hidden-list-item-i">-->
                    <!--                    <p id="navigation-item-hidden-list-item-i"><a href="https://customerservice8872.zendesk.com/hc/zh-cn/articles/360035121071-关于二零二零交易所">关于二零二零交易所</a></p>-->
                    <!--                  </li>-->

                    <li class="navigation-item-hidden-list-item-z">
                      <router-link to="/index/notice?columnId=0" @click.native="goToNoticeCenter('0')" id="navigation-item-hidden-list-item-j">
                        {{$t('seeMore')}}
                      </router-link>
<!--                      <p></p>-->
                    </li>
                  </ul>
                  <!--隐藏的标签 end-->
                </li>
                <!--公告 end-->

                <!--APP下载 begin-->
                <li class="navigation-item-container-right flex"
                    @mouseenter="appdownenter()"
                    @mouseleave="appdownleave()"
                    >
<!--                  @click="changeLanguageLS"-->

                <span class="navigation-item-router flex"
                  active-class="navigation-item-router-selected text_blue">
<!--                <img src="" alt="" class="phone-icon">-->
                  {{$t('platform_4')}}
                </span>
                  <!--隐藏的标签 begin-->
                  <!--  sss 屏蔽-->
                  <ul class="flex navigation-item-hidden-erwm">
                    <li class="navigation-item-hidden-erwm-item">
                      <div class="download-left-download-item-qrcode-img">
                        <Qrcode
                          :size="size"
                          :value="value"
                          :logo="logo"
                          :bgColor="bgColor"
                          :fgColor="fgColor"
                        >
                        </Qrcode>
                      </div>
                    </li>
                    <li class="navigation-item-hidden-erwm-item" >
                      <span>iOS & Android {{$t('qrCode')}}</span>
                    </li>
                  </ul>
                  <!--  sss 屏蔽结束-->
                  <!--隐藏的标签 end-->
                </li>
                <!--APP下载 end-->

                <!--语言 begin-->
                <li class="navigation-item-container no-change-padding flex" style="padding-right: 0px;" @mouseenter="enter()" @mouseleave="leave()">
                  <a
                    class="navigation-item-router flex"
                  >
                    <!--{{$t('help')}}-->
                    <div class="language-img-box" :class="lang"></div>
                    <span class="langfont">{{jttext}}</span>
                    <div class="language-jt-down" :class="jtval?'language-jt-down':'language-jt-up'" ></div>

                  </a>
                  <!--隐藏的标签 begin-->
                  <ul class="flex navigation-item-hidden-language"
                      :class="{'navigation-item-hidden-list-black':isBlack}"
                  >
                    <li class="language-itemli">

                      <div class="languagediv"  @click="changeLanguage('CH')">
                        <img src="../../assets/中国国旗.png" alt="" class="language-icon">简体中文</div>
                      <!--                    <div class="languagediv"  @click="changeLanguage('CA')">Русский</div>-->
                      <div class="languagediv"  @click="changeLanguage('CHT')">
                        <img src="../../assets/香港国旗.png" alt="" class="language-icon">繁体中文</div>
                       <!-- sss 屏蔽-->
<!--                      <div class="languagediv"  @click="changeLanguage('CA')">-->
<!--                        <img src="../../assets/英国国旗.png" alt="" class="language-icon">English</div>-->
                      <div class="languagediv" @click="changeLanguageLS">
                        <img src="../../assets/英国国旗.png" alt="" class="language-icon">
<!--                        {{$t('indexHeader.forward')}}-->
                        English
                      </div>
                      <div class="languagediv" @click="changeLanguageLS">
                        <img src="../../assets/e_icon.png" alt="" class="language-icon">
<!--                        {$t('indexHeader.forward')}}-->
                        Русский
                      </div>
<!--                      <div class="languagediv"  @click="changeLanguage('KOR')">-->
<!--                        <img src="../../assets/韩国.png" alt="" class="language-icon in2">한국어</div>-->
<!--                      <div class="languagediv"  @click="changeLanguage('JP')">-->
<!--                        <img src="../../assets/日本.png" alt="" class="language-icon in3">日本語</div>-->
                      <!--                    <div class="languagediv"  @click="changeLanguage('CA')">Deutsch</div>-->
                      <!--                    <div class="languagediv"  @click="changeLanguage('CA')">Español</div>-->
                      <!--                    <div class="languagediv"  @click="changeLanguage('CA')">ไทย</div>-->

                    </li>
                    <!--                  <li class="navigation-item-hidden-language-item language-item flex" @click="changeLanguage('CHT')">-->
                    <!--                    <img src="../../assets/香港国旗.png" alt="" class="language-icon">-->
                    <!--                    繁体中文-->
                    <!--                  </li>-->
                    <!--                  <li class="navigation-item-hidden-language-item language-item flex" @click="changeLanguage('CA')">-->
                    <!--                    <img src="../../assets/英国国旗.png" alt="" class="language-icon">-->
                    <!--                    English-->
                    <!--                  </li>-->
                    <!--                  <li class="navigation-item-hidden-language-item language-item flex" @click="changeLanguage('CH')">-->
                    <!--                    <img src="../../assets/中国国旗.png" alt="" class="language-icon">-->
                    <!--                    简体中文-->
                    <!--                  </li>-->
                    <!--                  <li class="navigation-item-hidden-language-item language-item flex" @click="changeLanguage('CHT')">-->
                    <!--                    <img src="../../assets/香港国旗.png" alt="" class="language-icon">-->
                    <!--                    繁体中文-->
                    <!--                  </li>-->
                    <!--                  <li class="navigation-item-hidden-language-item language-item flex" @click="changeLanguage('CA')">-->
                    <!--                    <img src="../../assets/英国国旗.png" alt="" class="language-icon">-->
                    <!--                    English-->
                    <!--                  </li>-->
                    <!--                  <li class="navigation-item-hidden-language-item language-item flex" @click="changeLanguage('CH')">-->
                    <!--                    <img src="../../assets/中国国旗.png" alt="" class="language-icon">-->
                    <!--                    简体中文-->
                    <!--                  </li>-->
                    <!--<li class="navigation-item-hidden-list-item language-item flex" @click="changeLanguage('KOR')">-->
                    <!--<img src="" alt="" class="language-icon">-->
                    <!--한국어-->
                    <!--</li>-->
                  </ul>
                  <!--隐藏的标签 end-->
                </li>
                <!--语言 end-->
              </ul>


              <!--&lt;!&ndash;语言 begin&ndash;&gt;-->
              <!--<div class="language flex-center">-->
              <!--&lt;!&ndash;<img src="" alt="">&ndash;&gt;-->
              <!--<div class="language-img">-->
              <!--<div class="language-img-box" :class="lang"></div>-->
              <!--</div>-->

              <!--<ul class="language-box">-->
              <!--<li v-if="lang !== 'CH'">-->
              <!--<img src="/static/images/中国.png" alt="" @click="changeLanguage('CH')">-->
              <!--</li>-->
              <!--<li v-else>-->
              <!--<img src="" alt="" @click="changeLanguage('CA')">-->
              <!--</li>-->
              <!--</ul>-->
              <!--</div>-->
              <!--&lt;!&ndash;语言 end&ndash;&gt;-->


              <!--皮肤 begin-->
              <div class="change-color-container flex pointer" v-if="changeThemeColor">
                <img src="" alt="" class="change-color-icon"
                     v-if="themeColor===0"
                     @click="clickToChangeThemeColor(1)"
                >
                <img src="" alt="" class="change-color-icon"
                     v-else
                     @click="clickToChangeThemeColor(0)"
                >
              </div>
              <!--皮肤 end-->

            </div>
            <!--右侧内容 end-->
          </div>
          <!--导航条 begin-->

        </template>
      </div>

      <div class="clear"></div>

    </div>

  </div>

  <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>


</div>
