<div class="body">
  <div>
    <IndexHeader/>
  </div>
  <div class="about-container">
    <div class="about-container-banner">
      <div class="about-header-banner-text">
<!--        {{$t('indexAboutUs.headertitle')}}-->
      </div>
    </div>
    <!--v-if="lang==='CH'"-->


    <div class="about-container-content">

      <div class="about-container-content-container">
        <div class="about-container-content-title">
          {{$t('indexAboutUs.title')}}
        </div>
        <div class="about-container-content-title-cutter-line"></div>
        <div class="about-container-content-text">
          <span>{{$t('indexAboutUs.website')}}</span>
          <!--数字交易所是一个由亚洲顶尖技术、安全、金融专家联合打造的数字资产交易平台-->
          {{$t('indexAboutUs.descript_1')}}
          <a href="https://www.2020.exchange" class="about-font-blue">www.2020.exchange</a> 。
          <!--{{$t('indexAboutUs.descript_1')}}-->
        </div>
        <div class="about-container-content-text">
          <!--TwentyTwenty隶属于Canadian Digital Asset Exchange Inc-->
          <!--意旨在全球范围内甄选优质的区块链及数字资产项目，致力于为用户提供最安全高效的交易服务。-->
          {{$t('indexAboutUs.descript_2')}}
        </div>
        <div class="about-container-content-text">
          <!--TwentyTwenty数字交易所使用第四代交易引擎BURCore为用户提供严格的银行级的安全交易系统-->
          <!--{{$t('indexAboutUs.descript_3')}}-->
          <span>{{$t('indexAboutUs.website')}}</span>
          <!--自始至终将全球区块链资产爱好者的体验作为平台发展的基石和力量的源泉，汇集全球智慧，共同推动区块链技术在全球的创新和应用。-->
          {{$t('indexAboutUs.descript_3')}}

        </div>
        <div class="about-container-content-text">
          <!--TwentyTwenty创始团队来自Amazon、Google、Microsoft等知名互联网公司，在新加坡、曼谷、东京均有分支机构-->
          <!--{{$t('indexAboutUs.descript_4')}}-->
          <span>{{$t('indexAboutUs.website')}}</span>
          <!--自始至终将全球区块链资产爱好者的体验作为平台发展的基石和力量的源泉，汇集全球智慧，共同推动区块链技术在全球的创新和应用。-->
          {{$t('indexAboutUs.descript_4')}}

        </div>

      </div>


      <!--<div class="about-container-content-text">-->
        <!--&lt;!&ndash;同推动区块链技术在世界范围的创新和应用&ndash;&gt;-->
        <!--&lt;!&ndash;{{$t('indexAboutUs.descript_4')}}&ndash;&gt;-->
      <!--</div>-->
    </div>
    <div class="about-container-banners">
      <p class="about-header-banners-texta">
            创始团队
      </p>
       <p class="about-header-banners-textb">
         {{$t('indexAboutUs.descript_4')}}</p>
            <!-- <span>{{$t('indexAboutUs.website')}}</span> -->


    </div>

<!--    <div class="about-icon-line">-->
<!--      <div class="about-icon-line-item">-->
<!--        <ul class="about-icon-line-item-first">-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--&lt;!&ndash;          <li>&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;          </li>&ndash;&gt;-->
<!--        </ul>-->
<!--        <ul class="about-icon-line-item-second">-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--&lt;!&ndash;          <li>&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;          </li>&ndash;&gt;-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="about-icon-line-item">-->
<!--        <ul class="about-icon-line-item-first">-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--&lt;!&ndash;          <li>&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;          </li>&ndash;&gt;-->
<!--        </ul>-->
<!--        <ul class="about-icon-line-item-second">-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--&lt;!&ndash;          <li>&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;          </li>&ndash;&gt;-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="about-icon-line-item">-->
<!--        <ul class="about-icon-line-item-first">-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--&lt;!&ndash;          <li>&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;          </li>&ndash;&gt;-->
<!--        </ul>-->
<!--        <ul class="about-icon-line-item-second">-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--&lt;!&ndash;          <li>&ndash;&gt;-->
<!--&lt;!&ndash;            <img src="" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;          </li>&ndash;&gt;-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--          <li>-->
<!--            <img src="" alt="">-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="about-container-center-banner-box">-->
<!--      <div v-if="lang==='CH'" class="about-container-center-banner">-->
<!--        <div class="about-container-center-banner-title">-->
<!--          &lt;!&ndash;我们所拥有的&ndash;&gt;-->
<!--          {{$t('indexAboutUs.descript_11')}}-->
<!--        </div>-->
<!--      </div>-->
<!--      <div v-else class="about-container-center-banner-en">-->
<!--        <div class="about-container-center-banner-title">-->
<!--          &lt;!&ndash;我们所拥有的&ndash;&gt;-->
<!--          {{$t('indexAboutUs.descript_11')}}-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="about-container-bottom-banner">-->
<!--      <div class="about-container-bottom-banner-main-title">-->
<!--        &lt;!&ndash;我们提供给您的&ndash;&gt;-->
<!--        {{$t('indexAboutUs.descript_12')}}-->
<!--      </div>-->
<!--      <div class="about-container-bottom-banner-box">-->
<!--        <img src="" class="about-container-content-bg about-container-content-bg4">-->
<!--        <img src="" class="about-container-content-bg about-container-content-bg5">-->
<!--        <div class="about-container-bottom-text-item">-->
<!--          <div class="about-container-bottom-text-item-title">{{$t('indexAboutUs.descript_5')}}</div>-->
<!--          <div class="about-container-bottom-text-item-text">-->
<!--            &lt;!&ndash;TwentyTwenty提供包括冷热钱包分离技术等国际投行级资产防护措施，在多维度为用户资产保驾护航&ndash;&gt;-->
<!--            {{$t('indexAboutUs.descript_6')}}-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="about-container-bottom-text-item">-->
<!--          <div class="about-container-bottom-text-item-title">{{$t('indexAboutUs.descript_7')}}</div>-->
<!--          <div class="about-container-bottom-text-item-text">-->
<!--            &lt;!&ndash;TwentyTwenty接入Google Cloud服务，自行研发的高效平台交易解决方案可支持动、静数据分离，给用户稳定、极速的交易新体验&ndash;&gt;-->
<!--            {{$t('indexAboutUs.descript_8')}}-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="about-container-bottom-text-item">-->
<!--          <div class="about-container-bottom-text-item-title">{{$t('indexAboutUs.descript_9')}}</div>-->
<!--          <div class="about-container-bottom-text-item-text">-->
<!--            &lt;!&ndash;共享平台与发展红利，社区的选择才是明智之选，全方位满足社区用户的资产配置需求&ndash;&gt;-->
<!--            {{$t('indexAboutUs.descript_10')}}-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
  <div class="index-footer index-background-color">
    <IndexFooter/>
  </div>
</div>
