<div class="joinAGroup">
  <div class="createAGroup_conteainer" v-if="!isMobile">
    <Loading v-if="loading"/>
    <div class="create">
      <div class="create_conteainer">
        <div class="create_a">
<!--          加入拼团-->
          <p class="create_a_p">{{$t('joinGroup')}}</p>
<!--          加入拼团获取交易手续费折扣-->
          <p class="create_discount">{{$t('joinTransaction')}}</p>
        </div>

        <!-- 输入团长账号-->
<!--        <div class="account_number">-->
<!--          <p class="account_number_p">{{$t('团长账号')}}</p>-->
<!--          <div class="">-->
<!--            &lt;!&ndash; 输入团长账号&ndash;&gt;-->

<!--            <input type="text" class=" inputsize2"-->
<!--                   v-model="priAccount1"-->
<!--                   :placeholder='pswConfirmPlaceholderShow && $t("输入团长账号") || ""'-->
<!--                   @focus="closePlaceholder('priAccount1')"-->
<!--                   @blur="testpriAccount1">-->
<!--          </div>-->
<!--          <div class="hig">-->
<!--            <span v-if="nameMsg_0 !=''" class="prompt-span wrong-msg">{{nameMsg_0}}</span>-->
<!--          </div>-->
<!--        </div>-->

<!--        选择拼团-->
        <div class="account_number">
          <p class="account_number_p">{{$t('chooseGroup')}}</p>
          <div class="">
            <!-- 下拉搜索框-->

            <template>
              <el-select class="account_number_input"
                         name="country"
                         :placeholder= '$t("wrong_message_222")'
                         style="font-size:12px"
                         v-model="searchResult"
                         popper-class="self-el-select">
                <input type="text" class="inputsize" :placeholder='$t("wrong_message_222")' v-model="searchCities">
                <el-option
                  popper-class="drowdown-box"
                  v-for="item in (searchCities ? cityList :cities)"
                  :key="item.groupId"
                  :label="($store.state.lang == 'CH' || $store.state.lang == 'CHT')? item.concat_gname : item.concat_gname"
                  :value="item.concat_gname">
                </el-option>
              </el-select>
            </template>
            <!--  下拉搜索框   结束-->
          </div>
        </div>

        <div class="account_number">
          <p class="account_number_p">{{$t('groupInformation')}}</p>
          <div class="information">
            <ul>
              <li class="information_li margin-top20">
                <div class="information_div color_bik">

                  <span class="soan"> {{searchResult}}</span>
                  <div class="searchResult">
                  <span v-if="glevel=='0'">-</span>
                  <span v-if="glevel=='1'"><img class="tupian_img" src="../../assets/weituan_icon.png" alt=""></span>
                  <span v-if="glevel=='2'"><img class="tupian_img" src="../../assets/xiaotuan_icon.png" alt=""></span>
                  <span v-if="glevel=='3'"><img class="tupian_img" src="../../assets/datuan_icon.png" alt=""></span>
                  <span v-if="glevel=='4'"><img class="tupian_img" src="../../assets/zhongtuan_icon.png" alt=""></span>
                  <span v-if="glevel=='5'"><img class="tupian_img" src="../../assets/chaotuan_icon.png" alt=""></span>

                  <span class="" v-if="glevel=='0'">-</span>
                    <!--微团-->
                    <span class="tupian tupian_wei" v-if="glevel=='1'">{{$t('micelle')}}</span>
                    <!--小团-->
                    <span class="tupian tupian_xiao" v-if="glevel=='2'">{{$t('small')}}</span>
                    <!--中团-->
                    <span class="tupian tupian_zhong" v-if="glevel=='3'">{{$t('regiment')}}</span>
                    <!--大团-->
                    <span class="tupian tupian_da" v-if="glevel=='4'">{{$t('large')}}</span>
                    <!--超团-->
                    <span class="tupian tupian_chao" v-if="glevel=='5'">{{$t('superLeague')}}</span>
                  </div>
                </div>
<!--                普通区折扣-->
                <div class="information_div color_hui">{{$t('ordinaryDiscount')}}</div>
<!--                量化区折扣-->
                <div class="information_div color_hui">{{$t('quantifiedDiscount')}}</div>
              </li>
              <li class="information_li margin-top10">
<!--                团长账号: -->
                <div class="information_div margin-bottom16 color_6">
                  {{$t('colonelNumber')}}
                  <span v-if="priAccount==''">- -</span>
                  <span class="color_3" v-else>{{$globalFunc.formatUserName(priAccount)}}</span>
<!--                  <span class="color_3" v-else>{{(priAccount)}}</span>-->
                </div>
<!--                普通区折扣-->
                <div class="information_div color_bik_9"v-if="glevel=='0'">-</div>
                <div class="information_div color_bik_9" v-if="glevel!=='0'">{{toFixed(accMul(commonDiscount,100),0) }}%</div>
<!--                挖矿区折扣-->
                <div class="information_div color_bik_9" v-if="glevel=='0'">-</div>
                <div class="information_div color_bik_9" v-if="glevel!=='0'">{{toFixed(accMul(quantDiscount,100),0) }}%</div>
              </li>
            </ul>
          </div>
        </div>

<!--        加入-->
        <div class="div_botton pointer" @click="postJoinGroup">{{$t('join')}}</div>
      </div>
    </div>

<!--    拼团规则-->
    <div class="rules">
      <p class="rules_p">{{$t('rulesRegimentation')}}</p>
      <p class="rules_details">{{$t('withholding')}}</p>
      <p class="rules_details">{{$t('calculated')}}</p>
      <p class="rules_details">{{$t('calculated_1')}}</p>
    </div>
  </div>


  <div class="mobileCreateAGroup_conteainer" v-if="isMobile||isApp||isIOS">
    <Loading v-if="loading"/>
    <div :class="(isApp||isIOS) ? 'isAppCreate':'mobileCreate'">
      <div class="mobileCreate_conteainer">
        <div class="mobileCreate_a">
          <!--          加入拼团-->
          <p class="mobilecreate_a_p">{{$t('joinGroup')}}</p>
          <!--          加入拼团获取交易手续费折扣-->
          <p class="mobilecreate_discount">{{$t('joinTransaction')}}</p>
        </div>

        <!-- 输入团长账号-->
        <!--        <div class="account_number">-->
        <!--          <p class="account_number_p">{{$t('团长账号')}}</p>-->
        <!--          <div class="">-->
        <!--            &lt;!&ndash; 输入团长账号&ndash;&gt;-->

        <!--            <input type="text" class=" inputsize2"-->
        <!--                   v-model="priAccount1"-->
        <!--                   :placeholder='pswConfirmPlaceholderShow && $t("输入团长账号") || ""'-->
        <!--                   @focus="closePlaceholder('priAccount1')"-->
        <!--                   @blur="testpriAccount1">-->
        <!--          </div>-->
        <!--          <div class="hig">-->
        <!--            <span v-if="nameMsg_0 !=''" class="prompt-span wrong-msg">{{nameMsg_0}}</span>-->
        <!--          </div>-->
        <!--        </div>-->

        <!--        选择拼团-->
        <div class="mobileaccount_number">
          <p class="mobileaccount_number_p">{{$t('chooseGroup')}}</p>
          <div class="">
            <!-- 下拉搜索框-->

            <template>
              <el-select class="mobileaccount_number_input"
                         name="country"
                         :placeholder= '$t("wrong_message_222")'
                         style="font-size:12px"
                         v-model="searchResult"
                         popper-class="self-el-select">
                <input type="text" class="mobileInputsize" :placeholder='$t("wrong_message_222")' v-model="searchCities">
                <el-option
                  popper-class="mobiledrowdown-box"
                  v-for="item in (searchCities ? cityList :cities)"
                  :key="item.groupId"
                  :label="($store.state.lang == 'CH' || $store.state.lang == 'CHT')? item.gname : item.gname"
                  :value="item.gname">
                </el-option>
              </el-select>
            </template>
            <!--  下拉搜索框   结束-->
          </div>
<!--                  -->
        </div>

        <div class="mobileaccount_number">
          <p class="mobileaccount_number_p">{{$t('groupInformation')}}</p>
          <div class="mobileinformation">
            <ul class="remul">
              <li class="mobileinformation_li mobilemargin-top20">
                <div class="mobileinformation_div mobileColor_bik">

                  <span class="soan"> {{searchResult}}</span>
<!--                  <span class="soan"> sunjopifn</span>-->
                  <div class="searchResult">
                    <span v-if="glevel=='0'">-</span>
                    <span v-if="glevel=='1'"><img class="mobiletupian_img" src="../../assets/weituan_icon.png" alt=""></span>
                    <span v-if="glevel=='2'"><img class="mobiletupian_img" src="../../assets/xiaotuan_icon.png" alt=""></span>
                    <span v-if="glevel=='3'"><img class="mobiletupian_img" src="../../assets/datuan_icon.png" alt=""></span>
                    <span v-if="glevel=='4'"><img class="mobiletupian_img" src="../../assets/zhongtuan_icon.png" alt=""></span>
                    <span v-if="glevel=='5'"><img class="mobiletupian_img" src="../../assets/chaotuan_icon.png" alt=""></span>

                    <span class="" v-if="glevel=='0'">-</span>
                    <!--微团-->
                    <span class="mobiletupian tupian_wei tupianAlign" v-if="glevel=='1'">{{$t('micelle')}}</span>
                    <!--小团-->
                    <span class="mobiletupian tupian_xiao tupianAlign" v-if="glevel=='2'">{{$t('small')}}</span>
                    <!--中团-->
                    <span class="mobiletupian tupian_zhong tupianAlign" v-if="glevel=='3'">{{$t('regiment')}}</span>
                    <!--大团-->
                    <span class="mobiletupian tupian_da tupianAlign" v-if="glevel=='4'">{{$t('large')}}</span>
                    <!--超团-->
                    <span class="mobiletupian tupian_chao tupianAlign" v-if="glevel=='5'">{{$t('superLeague')}}</span>
                  </div>
                </div>

              </li>
              <li class="mobileinformation_li mobile10">
                <!--                团长账号: -->
                <div class="mobileinformation_div mobilemargin-bottom16 mobilecolor_6">
                  {{$t('colonelNumber')}}
                  <span v-if="priAccount==''">- -</span>
                  <span class="color_3" v-else>{{$globalFunc.formatUserName(priAccount)}}</span>
                  <!--                  <span class="color_3" v-else>{{(priAccount)}}</span>-->
                </div>

              </li>
              <li>
                <!--                普通区折扣-->
                <div class="mobilecommon">
                  <div class="mobileCol">{{$t('ordinaryDiscount')}}</div>
                  <div class="mobileinformation_div mobileColor_F"v-if="glevel=='0'">-</div>
                  <div class="mobileinformation_div mobileColor_F" v-if="glevel!=='0'">{{toFixed(accMul(commonDiscount,100),0) }}%</div>
                </div>
                 <span class="mobileSpan"></span>
                <!--                量化区折扣-->
                <div class="mobilecommon">
                  <div class="mobileCol">{{$t('quantifiedDiscount')}}</div>
                  <div class="mobileinformation_div mobileColor_F" v-if="glevel=='0'">-</div>
                  <div class="mobileinformation_div mobileColor_F" v-if="glevel!=='0'">{{toFixed(accMul(quantDiscount,100),0) }}%</div>
                </div>
<!--                &lt;!&ndash;                普通区折扣&ndash;&gt;-->
<!--                <div class="information_div color_bik_9"v-if="glevel=='0'">-</div>-->
<!--                <div class="information_div color_bik_9" v-if="glevel!=='0'">{{toFixed(accMul(commonDiscount,100),0) }}%</div>-->
<!--                &lt;!&ndash;                挖矿区折扣&ndash;&gt;-->
<!--                <div class="information_div color_bik_9" v-if="glevel=='0'">-</div>-->
<!--                <div class="information_div color_bik_9" v-if="glevel!=='0'">{{toFixed(accMul(quantDiscount,100),0) }}%</div>-->
              </li>
            </ul>
          </div>
        </div>

        <!--        加入-->
        <div class="mobilediv_botton pointer" @click="postJoinGroup">{{$t('join')}}</div>
      </div>
    </div>

    <!--    拼团规则-->
<!--    <div class="rules">-->
<!--      <p class="rules_p">{{$t('rulesRegimentation')}}</p>-->
<!--      <p class="rules_details">{{$t('withholding')}}</p>-->
<!--      <p class="rules_details">{{$t('calculated')}}</p>-->
<!--      <p class="rules_details">{{$t('calculated_1')}}</p>-->
<!--    </div>-->
    <!--    拼团规则-->
    <div class="mobileRules">
      <p class="mobileRules_p">{{$t('rulesRegimentation')}}</p>
      <p class="mobileRules_details">{{$t('withholdingA1')}}</p>
      <p class="mobileRules_details">{{$t('withholdingA')}}</p>
      <p class="mobileRules_details">{{$t('calculatedB1')}}</p>
      <p class="mobileRules_details">{{$t('calculatedB')}}</p>
      <p class="mobileRules_details">{{$t('calculatedC')}}</p>
      <p class="mobileRules_details">{{$t('calculated_1C')}}</p>
    </div>
  </div>


  <!--弹窗-->
  <div v-if="popIdenOpen" class="lock-position-confirm-toast">
    <div class="lock-position-confirm-toast-window">
      <!--关闭按钮-->
      <div class="lock-position-confirm-toast-close-btn" @click="popIdenClose">
        <img class="lock-position-confirm-toast-close-btn-img" src="../../assets/mobile_img/mobile_asset_commen/h5_toast_close_btn.png" alt="">
      </div>
      <!--顶部标题-->
      <div class="lock-position-confirm-toast-title">提示</div>
      <div class="lock-position-confirm-toast-list">
        <div class="lock-position-confirm-toast-item" v-if="(isApp||isIOS)">
          <!--该操作需要身份认证，请立刻前往app端个人中心完成-->
          该操作需要身份认证，请立刻前往个人中心完成
        </div>
        <div class="lock-position-confirm-toast-item" v-if="!isApp&&!isIOS">
          <!--该操作需要身份认证，请立刻前往app端个人中心完成-->
          该操作需要身份认证，请立刻前往PC端个人中心完成
        </div>
      </div>
      <div class="lock-position-confirm-toast-btns">
        <div class="lock-position-confirm-toast-btn-confirm btn_blue" @click="popIdenClose">我知道了</div>
      </div>
    </div>
  </div>
  <!--   提示 弹窗-->
  <PopupWindow :switch="popWindowOpen" @close="popWindowClose" v-if="!isMobile">
    <div slot="header">
      <span class="header_xuzhi">{{popWindowTitle}}</span>
    </div>
    <div slot="article" class="pop-recharge">{{popWindowPrompt}}
      <!--      <p class="consequences">{{popWindowPrompt1}}</p>-->
    </div>
    <div slot="footer" class="pop-recharge-bottom flex-center">
      <template v-if="popWindowStyle==0">
        <button @click="popWindowClose" class="button-base33 btn_simple pointer">
          {{$t('cancel')}}
        </button>
        <button @click="goToBindIdentity" class="button-base33 btn_blue pointer m-r">
          {{$t('verification')}}
        </button>
      </template>
      <template v-if="popWindowStyle==1">
        <button @click="popWindowClose" class="button-base33 btn_simple pointer">
          {{$t('cancel')}}
          <!--          {{$t('bindGa')}}-->
        </button>
        <button @click="goToSecurityCenter" class="button-base33 btn_blue pointer m-r">
          {{$t('beBinding')}}
          <!--          {{$t('bindMobile')}}-->
        </button>
      </template>

    </div>

  </PopupWindow>


  <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>

</div>

