<div class="joinAGroup">
  <div class="createAGroup_conteainer">
    <div class="create">
      <div class="create_conteainer">
        <div class="create_a">
<!--          加入拼团-->
          <p class="create_a_p">{{$t('joinGroup')}}</p>
<!--          加入拼团获取交易手续费折扣-->
          <p class="create_discount">{{$t('joinTransaction')}}</p>
        </div>

<!--        选择拼团-->
        <div class="account_number">
          <p class="account_number_p">{{$t('chooseGroup')}}</p>
          <div class="">
            <!-- 下拉搜索框-->

            <template>
              <el-select class="account_number_input"
                         name="country"
                         :placeholder= '$t("wrong_message_222")'
                         style="font-size:12px"
                         v-model="searchResult"
                         popper-class="self-el-select">
                <input type="text" class="inputsize" :placeholder='$t("wrong_message_222")' v-model="searchCities">
                <el-option
                  popper-class="drowdown-box"
                  v-for="item in (searchCities ? cityList :cities)"
                  :key="item.groupId"
                  :label="($store.state.lang == 'CH' || $store.state.lang == 'CHT')? item.gname : item.gname"
                  :value="item.gname">
                </el-option>
              </el-select>
            </template>
            <!--  下拉搜索框   结束-->
          </div>
        </div>
        <div class="account_number">
          <p class="account_number_p">{{$t('groupInformation')}}</p>
          <div class="information">
            <ul>
              <li class="information_li margin-top20">
                <div class="information_div color_bik">

                  <span class="soan"> {{searchResult}}</span>
                  <div class="searchResult">
                  <span v-if="glevel=='0'">-</span>
                  <span v-if="glevel=='1'"><img class="tupian_img" src="../../assets/拼团_微团_icon.png" alt=""></span>
                  <span v-if="glevel=='2'"><img class="tupian_img" src="../../assets/拼团_小团_icon.png" alt=""></span>
                  <span v-if="glevel=='3'"><img class="tupian_img" src="../../assets/拼团_大团_icon.png" alt=""></span>
                  <span v-if="glevel=='4'"><img class="tupian_img" src="../../assets/拼团_中团_icon.png" alt=""></span>
                  <span v-if="glevel=='5'"><img class="tupian_img" src="../../assets/拼团_超团_icon.png" alt=""></span>

                  <span class="" v-if="glevel=='0'">-</span>
                  <span class="tupian tupian_wei" v-if="glevel=='1'">微团</span>
                  <span class="tupian tupian_xiao" v-if="glevel=='2'">小团</span>
                  <span class="tupian tupian_zhong" v-if="glevel=='3'">中团</span>
                  <span class="tupian tupian_da" v-if="glevel=='4'">大团</span>
                  <span class="tupian tupian_chao" v-if="glevel=='5'">超团</span>
                  </div>
                </div>
<!--                普通区折扣-->
                <div class="information_div color_hui">{{$t('ordinaryDiscount')}}</div>
<!--                量化区折扣-->
                <div class="information_div color_hui">{{$t('quantifiedDiscount')}}</div>
              </li>
              <li class="information_li margin-top10">
<!--                团长账号: -->
                <div class="information_div margin-bottom16 color_6">
                  {{$t('colonelNumber')}}:
                  <span v-if="priAccount=='0'">- -</span>
                  <span class="color_3">{{priAccount}}</span>
                </div>
<!--                普通区折扣-->
                <div class="information_div color_bik_9"v-if="glevel=='0'">-</div>
                <div class="information_div color_bik_9" v-if="glevel!=='0'">{{quantDiscount}}%</div>
<!--                量化区折扣-->
                <div class="information_div color_bik_9" v-if="glevel=='0'">-</div>
                <div class="information_div color_bik_9" v-if="glevel!=='0'">{{commonDiscount}}%</div>
              </li>
            </ul>
          </div>
        </div>

<!--        加入-->
        <div class="div_botton" @click="postJoinGroup">{{$t('join')}}</div>
      </div>
    </div>

<!--    拼团规则-->
    <div class="rules">
      <p class="rules_p">{{$t('rulesRegimentation')}}</p>
      <p class="rules_details">{{$t('withholding')}}</p>
      <p class="rules_details">{{$t('calculated')}}</p>
    </div>
  </div>

  <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>

</div>

