<div class="joinAGroup">
  <div class="createAGroup_conteainer">
    <div class="create">
      <div class="create_conteainer">
        <div class="create_a">
          <p class="create_a_p">加入拼团</p>
          <p class="create_discount">加入拼团获取交易手续费折扣</p>
        </div>

        <div class="account_number">
          <p class="account_number_p">选择团队</p>
          <div class="">
            <input type="text" class="account_number_input" placeholder="选择已有团队">
          </div>
        </div>
        <div class="account_number">
          <p class="account_number_p">团队信息</p>
          <div class="information">
            <ul>
              <li class="information_li">
                <div class="information_div"></div>
                <div class="information_div"></div>
                <div class="information_div"></div>
              </li>
              <li class="information_li">
                <div class="information_div"></div>
                <div class="information_div"></div>
                <div class="information_div"></div>
              </li>
            </ul>
          </div>
        </div>

        <div class="div_botton">创建</div>
      </div>
    </div>

    <div class="rules" >
      <p class="rules_p">拼团规则</p>
      <p class="rules_details">采用先扣次日返的形式</p>
      <p class="rules_details">A.团对所有成员享受团友交易手续费折扣 ，B.团级返佣，所有团员手续费求和后再核算返佣给团长账号。手续费折扣和返佣奖励只计算买入。</p>
    </div>
  </div>
</div>

