<div class="lock-house-record-container">
  <div class="border_box border_radius" >

    <div class="lock-house">
        <ul class="lock-house-content flex">
          <li>
            <div class="locked-hose">{{$t('lockedWarehouse')}} TT</div>
            <div class="locked-num">{{toFixed(Number(TT),8) }}</div>
          </li>
          <li>
            <div class="locked-hose">{{$t('lockedWarehouse')}} KK</div>
            <div class="locked-num">{{toFixed(Number(KK),8)}}</div>
          </li>
          <li>
            <div class="locked-hose">{{$t('lastDateDividends')}}（YY）</div>
            <div class="locked-num">{{toFixed(Number(lastDateReward),8)}}</div>
          </li>
          <li>
            <div class="locked-hose">{{$t('totalDividends')}}（YY）</div>
            <div class="locked-num">{{toFixed(Number(totalReward),8)}}</div>
          </li>
        </ul>
      </div>

    <div class="lock-house-sel flex">
      <router-link to="/index/asset/lockingRecord/currentLockHouse" class="title-tab flex-center tab-item-first" active-class="selected text_blue-7">
        {{$t('currentLock')}}
      </router-link>

      <router-link to="/index/asset/lockingRecord/historyLockHouse" class="title-tab flex-center margin-a-little tab-item-last"
                   active-class="selected text_blue-7">
        {{$t('historyLock')}}
      </router-link>
    </div>

    <div class="detail-container">
      <router-view></router-view>
    </div>

<!--    <Loading v-if="loading" class="loading min-height border_radius"></Loading>-->

<!--    <div class="lock-house-sel flex">-->
<!--      <router-link to="/index/asset/lockingRecord/currentLockHouse" class="title-tab flex-center tab-item-first" active-class="selected text_blue-7">-->
<!--      {{$t('当前锁仓')}}-->
<!--    </router-link>-->

<!--      <router-link to="/index/asset/lockingRecord/historyLockHouse" class="title-tab flex-center margin-a-little tab-item-last"-->
<!--                   active-class="selected text_blue-7">-->
<!--        {{$t('历史锁仓')}}-->
<!--      </router-link>-->

<!--&lt;!&ndash;      <template>&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;        <ul class="detail-container">&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;          &lt;!&ndash;各条记录 begin&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          <li class="detail-li" v-for="(item,index) in computedTransferLists" :key="item.id">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <div class="li-container flex">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              &lt;!&ndash;流水单号&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <div class="flow-code">{{item.transferId}}</div>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;              &lt;!&ndash;收款人 or 付款人&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <div class="name">{{item.fromUserId ? item.fromName : item.toName }}</div>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;              &lt;!&ndash;收款人账号 or 付款人账号&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <div class="Payee">{{item.fromUserId ? item.fromEmail : item.toEmail}}</div>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;              &lt;!&ndash;收款人UID or 付款人UID&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <div class="uid">{{item.fromUserId ? item.fromUserId : item.toUserId}}</div>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;              &lt;!&ndash;币种 begin&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <span class="currency">{{item.currency == 'USDT2' ? 'USDT' :item.currency}}</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              &lt;!&ndash;币种 end&ndash;&gt;&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;              &lt;!&ndash;数量 begin&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <span class="total">{{toFixed(item.amount,8)}}</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              &lt;!&ndash;数量 end&ndash;&gt;&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;              &lt;!&ndash;类型&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <div class="type">{{item.fromUserId ? $t('shiftTo'):$t('turnOut')}}</div>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;              &lt;!&ndash;时间 begin&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <span class="time">{{$globalFunc.formatDateUitl(item.updatedAt,'YYYY-MM-DD hh:mm:ss')}}</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              &lt;!&ndash;时间 end&ndash;&gt;&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;              &lt;!&ndash;状态 begin&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <span class="state">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <span class="state_text">{{item.status == 'amet' ?$t('success'):$t('faild')}}</span>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                &lt;!&ndash;              item.status===0?'成功':'失败'&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            </span>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;            </div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          </li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          &lt;!&ndash;各条记录 begin&ndash;&gt;&ndash;&gt;&ndash;&gt;-->


<!--&lt;!&ndash;&lt;!&ndash;          &lt;!&ndash;如果没有记录 begin&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          &lt;!&ndash;        &ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          <li class="detail-li-no-data"  v-if="computedTransferLists.length===0">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            <div class="no-data-content">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <img src="../../assets/assetPageRecord/no-order-light.png" alt="">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;              <div class="no-record">{{$t('noRecord')}}</div>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;            </div>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;          </li>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;          &lt;!&ndash;如果没有记录 end&ndash;&gt;&ndash;&gt;&ndash;&gt;-->


<!--&lt;!&ndash;&lt;!&ndash;        </ul>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      </template>&ndash;&gt;-->

<!--    </div>-->
  </div>
  <!--<Loading v-if="loading"/>-->

<!--  <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>-->


</div>

