<div class="MarketPrice-container">

<!--  <div v-for="(items, k) in currencylist" class="market-price-tab-item"-->
<!--              :class="{'market-price-tab-itemed':(marcketType == k)}"-->
<!--              @click="tabChange(k, items.name)">-->
<!--  <div class="reduce_container">-->
<!--    {{items.name}}-->
<!--    <span class="reduce_icon" :class="items.name != 'USDT' ? 'btc_eth' : ''"-->
<!--          v-if="reduce_list.indexOf(items.name) > '-1'">-->
<!--  <font v-if="lang == 'CH'">免</font>-->
<!--  <font v-else>fee</font>-->
<!--  <span v-if="lang != 'CH'" class="reduce_icon_line"></span>-->
<!--  </span>-->
<!--  </div>-->
<!--</div>-->

  <!--<ul class="market-price-tab flex-row">-->
    <!--<li class="title-tab flex-center box_shadow tab-item-first pointer"-->
        <!--:class="{'selected text_blue': selectEdition == 0}"-->
        <!--@click="changeEdition(0)"-->
    <!--&gt;-->
      <!--<div class="reduce_container">-->
        <!--&lt;!&ndash;主板区&ndash;&gt;-->
        <!--{{$t('tab_1')}}-->
      <!--</div>-->
    <!--</li>-->

    <!--<li class="title-tab flex-center box_shadow tab-item-last pointer"-->
        <!--:class="{'selected text_blue': selectEdition == 1}"-->
        <!--@click="changeEdition(1)"-->
    <!--&gt;-->
      <!--<div class="reduce_container">-->
        <!--&lt;!&ndash;超级为蜜区&ndash;&gt;-->
        <!--{{$t('tab_2')}}-->
      <!--</div>-->
    <!--</li>-->
  <!--</ul>-->

<!--  <div class="border-box">-->
<!-- cc 遍历标题-->
    <!--<div class="market-list-container flex">-->
      <!--<div v-for="item in marketList"-->
           <!--class="market-list-detail"-->
           <!--:class="{'selected-market':selectedMarket(item)}"-->
      <!--&gt;-->
        <!--<span class="market-list-click-area pointer"-->
              <!--@click="changeMarket(item)"-->
        <!--&gt;-->
          <!--&lt;!&ndash;<img src="../../assets/selectedSelf_icon.png" class="selected-self-icon" v-if="item=== $t('Favorites')"  alt="">&ndash;&gt;-->
          <!--{{item}}-->
        <!--</span>-->
      <!--</div>-->
    <!--</div>-->
    <div class="market-type-title">永续合约</div>
    <div class="market-price-title11">
<!--      <div  class="tt1">市场</div>-->
      <div  class="tt2">
        <div class="shicseach">

<!--          数据列表在这里-->
<!--          <div @click= "search">search</div>-->
          <el-input
            :placeholder='$t("SearchCurrency")'
            class="dialog-input-text"
            v-model="searchText"/>

<!--            <i slot="prefix" class="el-input__icon el-icon-search"></i>-->
<!--          </input>-->
        </div>
      </div>
    </div>
    <div class="market-price-title flex-row">
      <div class="market-price-title-marcket txt-small txt-light">{{$t('合约')}}</div>
      <div class="market-price-title-price txt-small txt-light">{{$t('latestPrice')}}</div>
      <div class="market-price-title-updown txt-small txt-light">
<!--        <span @click="changeType(0)" :style="volumeType?'':'color:#B5BCC6'">{{$t('turnover')}}</span>/-->
        <span :style="volumeType?'color:#B5BCC6':''">24H{{$t('upsAndDowns')}}</span>
      </div>
    </div>


    <div class="market-price-list">
      <ul ref="scroll_top">
        <li class="market-price-list-li flex-row market-price-list-acbg"
            :class="symbol == item.name ? 'market-price-list-li-background' : ''"
            v-for="(item,key) in (searchText ? searchList : mSymbolList)"
            @click="slectSymbol(item.symbol,item)">

          <!--<img src="../../assets/selected_trade_icon.png" class="imgSelect" v-show="(collectionMarket.includes(item.name))" @click="handleCollectionMarket(item.name,false)" alt="">-->
          <!--<img src="../../assets/noSelected_trade_icon.png" class="imgSelect" v-show="!(collectionMarket.includes(item.name))" @click="handleCollectionMarket(item.name,true)" alt="">-->
          <!--占位-->
          <div class="imgSelect"/>


          <div class="market-price-list-li1 flex-row">
<!--            {{item}}-->
            <!--币对名称 begin-->
            <div class="market-price-list-marcket txt-dark txt-small">{{item.s}}</div>
            <!--币对名称 end-->

            <!--最新价 begin-->
            <!--<div class="market-price-list-price  txt-dark txt-small" v-if="socket_tick.symbol != item.name">-->
              <!--&lt;!&ndash; {{$globalFunc.accFixed(item.close, !!quoteScale_list[item.name] ? quoteScale_list[item.name].quoteScale :-->
              <!--8)}} &ndash;&gt;-->
              <!--&lt;!&ndash; {{ !!quoteScale_list[item.name]? quoteScale_list[item.name].quoteScale : 8  }} &ndash;&gt;-->
              <!--&lt;!&ndash; {{item.close}} &ndash;&gt;-->
              <!--{{$globalFunc.accFixed(item.close,!!quoteScale_list[item.name]? quoteScale_list[item.name].quoteScale : 4)}}-->
            <!--</div>-->
            <div class="market-price-list-price txt-dark txt-small" :class="(item.priceStep>0) && 'txt_green' || ((item.priceStep<0) && 'txt_red' || '')">
              <!--{{JSON.stringify(item.priceChangeArr)}}-->
              {{$globalFunc.accFixed(item.c,!!quoteScale_list[item.s] ? quoteScale_list[item.s].quoteScale : 2)}}
            </div>
            <!--<div class="market-price-list-price txt-dark txt-small" :class="(item.priceStep>0) && 'txt_green' || ((item.priceStep<0) && 'txt_red' || '')">-->
              <!--{{$globalFunc.accFixed(item.c,!!quoteScale_list[item.s] ? quoteScale_list[item.s].quoteScale : 2)}}-->
            <!--</div>-->
            <!--最新价 end-->

            <!--成交量 begin-->
            <!--<div class="market-price-list-volum  txt-small" v-if="!volumeType">{{Math.floor(item.volume)}}</div>-->
            <!--成交量 end-->

            <!--涨跌额 begin-->
            <div class="market-price-list-volum  txt-small" :class="(item.p>=0)&&'txt_green'||'txt_red'">
              <!--{{item.open ===0 || item.close-item.open <= 0 ? '':'+' }}{{item.open == 0 ? '0%' : ((item.close-item.open)/item.open*100).toFixed(2) + '%'}}-->
              {{$globalFunc.accFixed(item.p,!!quoteScale_list[item.s] ? quoteScale_list[item.s].quoteScale : 2)}}
            </div>
            <!--涨跌额 end-->

            <!--估值 begin-->
            <!--<span class="show_tips" :style="{top: tips_top}" :class="{'show': key == show_key}">{{change_price}}<font></font></span>-->
            <!--估值 end-->

          </div>
        </li>
      </ul>

    </div>
  </div>


</div>
