<div name="popWindow" v-if="show">

    <div class="mobile-popwindow-box flex-center">
        <div class="mobile-popwindow-window">
            <div class="mobile-popwindow-txt txt-light">是否全部撤单</div>
            <div class="mobile-popwindow-btn-box flex-row">
                <div class="mobile-popwindow-btn" @click="yesClick">
                    是
                </div>
                <div class="mobile-popwindow-btn" @click="closeClick">
                    否
                </div>
            </div>
        </div>

    </div>
</div>