<div class="mobile-asset-container">
  <Loading v-if="loading"/>
  <div v-if="!loading" class="mobile-asset-detail-title">
    <!--<span  class="header-box-title-logo-box">-->
      <!--<img class="header-box-title-logo" :src="'http://logo.2020.exchange/' + title +'.png'" alt="">-->
    <!--</span>-->
    {{title}}
  </div>
  <div v-show="!loading" class="mobile-asset-detail-container">
    <div class="mobile-address-container1 mobile-address-item2" v-if="title == 'USDT' || title == 'USDT2'">链名称</div>
    <div class="mobile-address-item1 mobile-address-item2 mobile-address-item3" v-if="title == 'USDT' || title == 'USDT2'">

      <div v-if="rechargeFlagUSDT || !rechargeFlagUSDT2" class="mobile-address-ERC mobile-address-OMNI" @click="toggleStatus(1)" :class="selectTab == 1 ? 'mobile-address-si' : ''">OMNI</div>
      <div v-if="!rechargeFlagUSDT && rechargeFlagUSDT2" class="mobile-address-OMNI-disabled mobile-address-OMNI">OMNI</div>
      <div v-if="rechargeFlagUSDT2 || !rechargeFlagUSDT" class="mobile-address-ERC" @click="toggleStatus(2)" :class="selectTab == 2 ? 'mobile-address-si' : ''">ERC20</div>
      <div v-if="!rechargeFlagUSDT2 && rechargeFlagUSDT" class="mobile-address-OMNI-disabled">ERC20</div>
<!--      TRC20-->
      <div v-if="rechargeFlagUSDT3 || !rechargeFlagUSDT" class="mobile-address-ERC" @click="toggleStatus(3)" :class="selectTab == 3 ? 'mobile-address-si' : ''">TRC20</div>
      <div v-if="!rechargeFlagUSDT3 && rechargeFlagUSDT" class="mobile-address-OMNI-disabled">TRC20</div>

    </div>
    <div class="mobile-asset-detail-container-address-box">
      <QRCodeVue :value="address" size="100" level="H"/>
    </div>

    <div class="mobile-asset-detail-container-title">扫描二维码</div>
    <div class="mobile-asset-detail-container-title-cz">充值地址</div>
    <div class="mobile-asset-detail-container-box">
<!--      <div id="copyAddress" class="mobile-asset-detail-container-address" :class="title === 'USDT'?'mobile-asset-detail-container-usdt-address':''">{{address}}</div>-->
      <div id="copyAddress" class="mobile-asset-detail-container-address" @click="toggleStatus(2)" v-show="selectTab === 2" >{{address}}</div>
      <div id="copyAddress1" class="mobile-asset-detail-container-address" @click="toggleStatus(1)" v-show="selectTab === 1">{{address}}</div>
      <div id="copyAddress2" class="mobile-asset-detail-container-address" @click="toggleStatus(3)" v-show="selectTab === 3">{{address}}</div>

      <div class="mobile-asset-detail-container-copy-btn" v-show="selectTab === 2" data-clipboard-target="#copyAddress" @click="copyValue">复制地址</div>
      <div class="mobile-asset-detail-container-copy-btn" v-show="selectTab === 1" data-clipboard-target="#copyAddress1" @click="copyValue">复制地址</div>
      <div class="mobile-asset-detail-container-copy-btn" v-show="selectTab === 3" data-clipboard-target="#copyAddress2" @click="copyValue">复制地址</div>
<!--      <div v-if="title === 'USDT'" class="mobile-asset-detail-container-rednotice">*请确认是基于{{selectTab == 2? '以太网络(ERC20)':'比特网络(OMNI)'}}的USDT地址</div>-->
      <div v-if="title === 'USDT' && selectTab == 2" class="mobile-asset-detail-container-rednotice">*请确认是基于（ERC20）的USDT地址</div>
      <div v-if="title === 'USDT' && selectTab == 3" class="mobile-asset-detail-container-rednotice">*请确认是基于（TRC20）的USDT地址</div>
      <div v-if="title === 'USDT' && selectTab == 1" class="mobile-asset-detail-container-rednotice">*请确认是基于（OMNI）的USDT地址</div>
<!--      <div v-if="title === 'USDT'" class="mobile-asset-detail-container-rednotice">*请确认是基于比特网络（{{address}}）的USDT地址；</div>-->
      <div class="clear"></div>
    </div>


    <div v-show="memoAddress" class="mobile-cutter-line"/>
    <div v-show="memoAddress" class="mobile-asset-detail-container-memo-box">
      <div class="mobile-asset-detail-container-address-box">
        <QRCodeVue :value="memoAddress" size="100" level="H"/>
      </div>
      <div class="mobile-asset-detail-container-title">扫描二维码</div>
      <div class="mobile-asset-detail-container-title-cz">地址标签</div>
      <div class="mobile-asset-detail-container-box">
        <div id="copyMemoAddress" class="mobile-asset-detail-container-address">{{memoAddress}}</div>
        <div class="mobile-asset-detail-container-copy-btn mobile-asset-detail-container-copy-memo-btn" data-clipboard-target="#copyMemoAddress" @click="copyMemoValue">复制地址标签</div>
        <div class="clear"></div>
      </div>
    </div>

    <div v-show="publicKeyAddress" class="mobile-cutter-line"/>
    <div v-show="publicKeyAddress" class="mobile-asset-detail-container-memo-box">
      <div class=" mobile-asset-detail-container-address-box">
        <QRCodeVue :value="publicKeyAddress" size="100" level="H"/>
      </div>
      <div class="mobile-asset-detail-container-title">扫描二维码</div>
      <div class="mobile-asset-detail-container-title-cz">publicKey(备注)</div>
      <div class="mobile-asset-detail-container-box">
        <div id="copyPublicAddress" class="mobile-asset-detail-container-address">{{publicKeyAddress}}</div>
        <div class="mobile-asset-detail-container-copy-btn mobile-asset-detail-container-copy-publicKey-btn" data-clipboard-target="#copyPublicAddress" @click="copyPublicKeyValue">复制publicKey</div>
        <div class="clear"></div>
      </div>
    </div>

  </div>
  <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>
  <!--<script ></script>-->

  <PopupPrompt :popOpen="toastOpen" :popClose="toastClose" :popType="toastType" :popText="toastText">
    <div slot="pop-detail" class="pop-detail">
      <img class="pop-detail-img" src="../../assets/mobile_computer.png" alt="">
      <!--<div class="pop-detail-text"></div>-->
      <!--<div class="pop-detail-text"></div>-->
      <div class="pop-detail-text">{{$t('mobileAssetRechargeDetail.toastArticle')}}</div>
      <div class="pop-detail-btn" @click="toastClose">{{$t('personalCenterAuthAuthenticationState.promptEnsure')}}</div>
    </div>
  </PopupPrompt>

  <!--&lt;!&ndash;地址更换弹框提示&ndash;&gt;-->
  <!--<div v-if="alertFlag" class="alert-window">-->
    <!--<div class="alert-window-box">-->
      <!--<div class="alert-window-box-close-btn-box" @click="closeAlertFlag">-->
        <!--<img class="alert-window-box-close-btn" src="../../assets/H5Recommend/h5_recommend_qrcode_close_btn.png" alt="">-->
      <!--</div>-->
      <!--<div class="alert-window-box-title">重要通知！</div>-->
      <!--<div class="alert-window-box-container">-->
        <!--HD钱包升级，<span class="alert-window-box-container-red">充值地址已更换为新地址！</span><br/>-->
        <!--<span class="alert-window-box-container-red">旧地址已失效，</span>如将资产充入旧地址，资产不可找回，请知悉！-->
      <!--</div>-->
      <!--<div class="alert-window-box-btn"  @click="closeAlertFlag">确定</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--memo toast弹窗提示-->

  <div v-if="memoToastShow && !loading" class="memo-toast">
    <div class="memo-toast-box">
      <div class="memo-toast-box-close-btn-box" @click="closeMemoToast">
        <img class="memo-toast-box-close-btn" src="../../assets/mobile_img/mobile_asset_commen/h5_toast_close_btn.png" alt="">
      </div>
      <div class="memo-toast-title">提示</div>
      <div class="memo-toast-body">充值{{title}}到二零二零须同时具备充值地址及{{title}} 地址标签。 未遵守{{title}}充值规则将导致资产无法找回。</div>
      <div class="memo-checkbox-box">
        <div class="memo-checkbox">
          <MobileCheckbox :bgColor="'light'" :agreement="memoAgreement" :changeAgreement='changeAgreement'></MobileCheckbox>
          我已知晓{{title}}充值规则
        </div>
      </div>
      <div class="memo-confirm-btn" :class="memoAgreement===false?'memo-confirm-btn-no-use':'btn_blue'" @click="memoConfirm">继续充值</div>
    </div>
  </div>


</div>
