<div class="MobileConfirm">

  <div class="confirm-container">
    <div class="asset-header">
      <div class="asset-header-title">
        确认{{currentCurrency}}转账
        <span class="backgo" @click="gotoTransfer()">
          <img src="../../assets/H5img/back.png">
        </span>
      </div>

    </div>

    <div class="asset-body">
      <ul>
        <li>
          <div>收款人姓名</div>
          <div class="addInfo">{{userName}}</div>
        </li>
        <li>
          <div>收款人邮箱</div>
          <div class="addInfo">{{emailInput}}</div>
        </li>
        <li>
          <div>收款人邮UID</div>
          <div class="addInfo">{{UIDInput}}</div>
        </li>
        <li>
          <div>币种</div>
          <div class="addInfo">{{currentCurrency}}</div>
        </li>
        <li>
          <div>转账数量</div>
          <div class="addInfo">{{amountInput}}</div>
        </li>
      </ul>

    </div>

    <div class="asset-footer" @click="gotoTransferSuccess()">
      <button>确认转账</button>
    </div>
  </div>


  <!--弹窗-->
  <!--  <div v-if="windowToastFlag" class="window-toast">-->
  <!--    <div class="window-toast-box">-->
  <!--      <p class="window-toast-text">请勿直接提现至众筹或ICO地址，我们不会处理未来代币的发放；</p>-->
  <!--      <p class="window-toast-text">提现请求申请成功后，请去邮箱点击链接确认本次提现请求；</p>-->
  <!--      <p class="window-toast-text">您可以在充值提现 历史记录 页面跟踪状态。</p>-->
  <!--      <div class="window-toast-close-btn" @click="closeWindowToast">我知道了</div>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--所有提示-->
  <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>

  <!--邮箱弹窗-->
  <div v-if="mobileToastOneFlag" class="mobile-toast-box">
    <!--<div class="mobile-asset-detail-title">{{mobileRechargeRecordData.currency}}</div>-->
    <div class="mail-container-box-title">{{sendMailMsg}}</div>

    <!--发送验证码-->
    <div class="mail-container-box"
         :class="{'wrong-answer':mailCodeWA!=''}"
    >
      <!--<span class="mail-input-title-icon-box">-->
      <!--<img class="mail-input-title-icon" src="../../assets/h5form/mobile_mail.png" alt="">-->
      <!--</span>-->
      <input type="text" v-model="mailCode" @focus="closeMailWrong" placeholder="邮箱验证码" class="mail-input-container" />
      <div class="cutter-line">|</div>
      <span v-if="!getMailCode" class="mail-input-btn-on" @click="getMailVerificationCode">获取</span>
      <span v-if="getMailCode" class="mail-input-btn-on">{{getEmailVerificationCodeCountdown}}</span>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="unit-input-interval txt-red">
      <span v-if="mailCodeWA!=''">{{mailCodeWA}}</span>
    </div>
    <div class="mail-submit-btn" @click="submitStepTwo">确定</div>
  </div>

  <!--二级验证-->
  <!--<div class="mobile-toast-box">-->
  <div v-if="mobileToastTwoFlag" class="mobile-toast-box">

    <!--<div class="mobile-asset-detail-title">{{mobileRechargeRecordData.currency}}</div>-->

    <!--选择什么方式验证-->
    <div v-if="secondShowPicker" class="mobile-input-checkbox-box">
      <!--<div class="mobile-input-checkbox-box">-->
      <div class="mobile-input-checkbox-box-item" :class="secondPicker==1?'mobile-input-checkbox-box-item-selector mobile-input-checkbox-box-item':''" @click="changeSecondPicker(1)">谷歌验证码</div>
      <div class="mobile-input-checkbox-box-item" :class="secondPicker==2?'mobile-input-checkbox-box-item-selector':''" @click="changeSecondPicker(2)">手机验证码</div>
      <!--<div class="prompt-show-picker-detail-box">-->
      <!--<input type="radio" name="picker" value="1" placeholder="请输入谷歌验证码" id="pick-ga" v-model="secondPicker">-->
      <!--<label for="pick-ga">谷歌验证</label>-->
      <!--</div>-->
      <!--<div class="prompt-show-picker-detail-box">-->
      <!--<input type="radio" name="picker" value="2" placeholder="请输入手机验证码" id="pick-mobile" v-model="secondPicker">-->
      <!--<label for="pick-mobile">手机验证</label>-->
      <!--</div>-->
    </div>

    <!--<div v-if="!secondShowPicker" class="mobile-input-none-checkbox-box"></div>-->

    <!--谷歌验证码-->
    <div v-if="secondPicker==1" class="google-container-box"
         :class="{'wrong-answer':googleCodeWA!=''}">
      <!--<span class="google-input-title-icon-box">-->
      <!--<img class="google-input-title-icon" src="../../assets/h5form/mobile_google.png" alt="">-->
      <!--</span>-->
      <input type="text" v-model="googleCode" placeholder="谷歌验证码" class="google-input-container" />
      <div class="clear"></div>
    </div>
    <div v-if="secondPicker==1" class="clear"></div>
    <div v-if="secondPicker==1" class="unit-input-interval txt-red">
      <span v-if="googleCodeWA!=''">{{googleCodeWA}}</span>
    </div>

    <!--手机验证码-->
    <div v-if="secondPicker==2" class="phone-container-box"
         :class="{'wrong-answer':phoneCodeWA!=''}">
      <!--<span class="phone-input-title-icon-box">-->
      <!--<img class="phone-input-title-icon" src="../../assets/h5form/mobile_phone.png" alt="">-->
      <!--</span>-->
      <input type="text" v-model="phoneCode" placeholder="手机验证码"  class="phone-input-container" />
      <div class="cutter-line">|</div>
      <span v-if="!getMobileVerificationCode" class="phone-input-btn-on" @click="getMobileVerification">获取</span>
      <span v-if="getMobileVerificationCode" class="phone-input-btn-on">{{getMobileVerificationCodeCountdown}}</span>
      <div class="clear"></div>
    </div>
    <div v-if="secondPicker==2" class="clear"></div>
    <div v-if="secondPicker==2" class="unit-input-interval txt-red">
      <span v-if="phoneCodeWA!=''">{{phoneCodeWA}}</span>
    </div>
    <div class="all-submit-btn" @click="submitStepThree()">确定</div>
  </div>

  <!--  <MobileTransferSuccess v-if="showSuccess" :showSuccess="showSuccess"></MobileTransferSuccess>-->

  <!--  <MobileTransferRecords v-if="transferShow"-->
  <!--                         :transferId="transferId"-->
  <!--                         :name="name"-->
  <!--                         :fromEmail="fromEmail"-->
  <!--                         :fromUserId="fromUserId"-->
  <!--                         :amount="amount"-->
  <!--                         :dateTime="dateTime"-->
  <!--                         :status="status"-->
  <!--  ></MobileTransferRecords>-->



</div>
