<div class="mobile-follow-trade">
  <!--ios status栏-->
  <div v-if="(isApp)" class="mobile-status-bar-ios"/>
  <div v-if="(isApp)" class="mobile-status-bar-bg-ios"/>

  <!--头部-->
  <div :class="(isApp) ? 'mobile-header-ios' : 'fund-buy-header-title' ">
    <div class="fund-buy-header-title-back-icon" @click="jumpToBack">
      <img class="fund-buy-header-title-back-icon-img" src="../../assets/back_icon.png" alt="">
    </div>
    <div class="fund-buy-header-title-text">合约记录</div>
  </div>

  <div class="header-title-list-top">
    <div class="header-title-list">
<!--      <div class="header-title-item" :class="openType==1? 'header-title-item-active':''" @click="changeOpenType(1)">-->
<!--        当前委托-->
<!--      </div>-->
      <div class="header-title-item" :class="openType==2? 'header-title-item-active':''" @click="changeOpenType(2)">
        历史委托
      </div>
      <div class="header-title-item" :class="openType==4? 'header-title-item-active':''" @click="changeOpenType(4)">
        历史成交
      </div>
      <div class="header-title-item" :class="openType==5? 'header-title-item-active':''" @click="changeOpenType(5)">
        资金流水
      </div>
      <div class="header-title-item" :class="openType==6? 'header-title-item-active':''" @click="changeOpenType(6)">
        合约邀请
      </div>
      <div class="header-title-item" :class="openType==7? 'header-title-item-active':''" @click="changeOpenType(7)">
        资产快照
      </div>
    </div>


    <Loading v-if="loading"></Loading>
    <!--  历史委托-->
    <div v-show="!loading && openType==2" class="container-box">
      <!--没有记录的样式-->
      <div v-if="historyOrderComputed.length === 0 && !loading" class="no-item-box">
        <img class="no-item-box-item" src="../../assets/no-record-icon-H5@2x.png" alt="">
        <div class="no-item-box-text">暂无记录</div>
      </div>
      <!--有=记录的样子-->
      <div v-if="historyOrderComputed.length !== 0 && !loading" class="withdraw-list">
        <div v-for="(order,index) in historyOrderComputed" :key="order.id" class="histor-withdraw-item border-bot"
            >
          <!--时间-->
          <div class="flex padding-bot">
            <!-- 币种-->
            <div class="symbol-flex"  @click="showDetail(order)">{{order.symbol}}</div>
            <!--方向-->
            <div class="td-category" :class="order.side==='BUY'?'text_blue-3':'text_red-4'"  @click="showDetail(order)">
              {{$globalFunc.getOrderSide(order.positionSide,order.side)}}
            </div>
            <!--订单类型 begin -->
            <div class="td-category td-category-text" v-if="order.type == 'LIMIT'"  @click="showDetail(order)">限价单</div>
            <div class="td-category td-category-text" v-if="order.type == 'MARKET'"  @click="showDetail(order)">市价单</div>
            <div class="td-category td-category-text" v-if="order.type == 'STOP'"  @click="showDetail(order)">止损限价单</div>
            <div class="td-category td-category-text" v-if="order.type == 'STOP_MARKET'"  @click="showDetail(order)">止损市价单</div>
            <div class="td-category td-category-text" v-if="order.type == 'TAKE_PROFIT'"  @click="showDetail(order)">止盈限价单</div>
            <div class="td-category td-category-text" v-if="order.type == 'TAKE_PROFIT_MARKET'"  @click="showDetail(order)">止盈市价单</div>
            <div class="td-category td-category-text" v-if="order.type == 'TRAILING_STOP_MARKET'"  @click="showDetail(order)">跟踪止损单</div>
            <!--订单类型 end -->
            <!--时间-->
            <div class="td-time tar time-text"  @click="showDetail(order)">{{$globalFunc.formatDateUitl(order.time,'MM-DD hh:mm')}}</div>

            <div class="td-time-fenx tar time-text" v-if="order.status == 'FILLED' && ((order.positionSide == 'BOTH' && (order.side == 'SELL'|| order.side == 'BUY'))
            ||(order.positionSide == 'SHORT' && order.side == 'BUY') || (order.positionSide == 'LONG' && order.side == 'SELL'))" @click="SHOW_POSTER(order)">
              <img class="img-width-f" src="../../assets/fenxiangicon@2x.png" alt="">
            </div>
            <div class="td-time-fenx tar time-text" v-else>--</div>
          </div>

          <div class="flex margin-bot2"  @click="showDetail(order)">
            <div class="td-time1 piaoti-text color-A">
              <div class="td-time margin-bot1">数量</div>
              <div class="td-time margin-bot1">委托价格</div>
              <div class="td-time margin-bot1">成交均价</div>
              <div class="td-time1">只减仓</div>
            </div>
            <div class="td-time1 piaoti-text color-D">
              <div class="td-time margin-bot1">{{toFixed(order.executedQty,3)}}</div>
              <div class="td-time margin-bot1">{{order.price != 0 ? toFixed(order.price, 2) : '--'}}</div>
              <div class="td-time margin-bot1">{{order.avgPrice !=0 ? toFixed(order.avgPrice, 2) : '--'}}</div>
              <div class="td-time1">{{order.reduceOnly? '是':'否'}}</div>
            </div>
            <div class="td-time1 piaoti-text no-item-box-cheng">
              <div class="td-time color-trans margin-bot1">--</div>
              <div class="td-time color-trans margin-bot1">--</div>
              <div class="td-time color-trans margin-bot1">--</div>
<!--              <div class="td-time1 tar"></div>&lt;!&ndash;状态 begin &ndash;&gt;-->
              <div class="td-time1 tar" v-if="order.status == 'NEW'">新建订单</div>
              <div class="td-time1 tar" v-if="order.status == 'PARTIALLY_FILLED'">部分成交</div>
              <div class="td-time1 tar" v-if="order.status == 'FILLED'">全部成交
<!--                <img class="drop-down" src="../../assets/drop_down.png" alt=""></div>-->
              </div>
              <div class="td-time1 tar" v-if="order.status == 'CANCELED'">已撤销</div>
              <div class="td-time1 tar" v-if="order.status == 'REJECTED'">订单被拒绝</div>
              <div class="td-time1 tar" v-if="order.status == 'EXPIRED'">订单过期</div>
            </div>
          </div>

          <!--展示详情(如果在交易，打不开详情)-->
          <div v-if="clickThis === order.orderId && $route.name== 'historicalEntrust' && order.status == 'FILLED'"  class="tr-hidden">
            <HiddenDetail :orderId="order.orderId" :symbol="order.symbol" :startTime="startTime" :endTime="endTime"/>
          </div>

        </div>
      </div>
    </div>





    <!--  历史成交-->
    <div v-show="!loading && openType==4" class="container-box">
    <!--没有记录的样式-->
    <div v-if="historicalTransaction.length === 0 && !loading" class="no-item-box">
      <img class="no-item-box-item" src="../../assets/no-record-icon-H5@2x.png" alt="">
      <div class="no-item-box-text">暂无记录</div>
    </div>
    <!--有=记录的样子-->
    <div v-if="historicalTransaction.length !== 0 && !loading" class="withdraw-list">
      <div v-for="(order,index) in historicalTransaction" :key="order.id" class="histor-withdraw-item border-bot">
        <!--时间-->
        <div class="flex padding-bot">
          <!-- 币种-->
          <div class="symbol-flex">{{order.symbol}}</div>
          <!--方向-->
          <div class="" :class="order.side==='BUY'?'text_blue-3':'text_red-4'">
            {{$globalFunc.getOrderSide(order.positionSide,order.side)}}
          </div>
          <!--时间-->
          <div class="td-time tar time-text">{{$globalFunc.formatDateUitl(order.time,'MM-DD hh:mm')}}</div>
        </div>

        <div class="flex piaoti-text color-piaoti-text">
          <div class="td-time">数量</div>
          <div class="td-time">成交均价</div>
          <div class="td-time1">手续费</div>
          <div class="td-time1 tar">已实现盈亏</div>
        </div>
        <div class="flex piaoti-text color-text">
          <div class="td-time">{{toFixed(order.qty,3)}}</div>
          <div class="td-time">{{toFixed(order.price,2)}}</div>
          <div class="td-time1">{{toFixed(order.commission,8)}}</div>
          <div class="td-time1 tar">{{toFixed(order.realizedPnl,8)}}</div>
        </div>
      </div>
    </div>
  </div>

    <!--  资金流水-->
    <div v-show="!loading && openType==5" class="">
      <div class="container-tr-th container-box-zi flex" :class="isApp && 'container-tr-th-app' || ''">
        <!--时间-->
        <div class="td-time1">资产种类/时间</div>
        <!--类型-->
        <div class="td-time">{{$t('类型')}}</div>
        <!--总额-->
        <div class="td-time1 tar">{{$t('总额')}}</div>
      </div>
      <!--没有记录的样式-->
      <div v-if="!loading && capitalFlowComputed.length === 0" class="no-item-box">
        <img class="no-item-box-item" src="../../assets/no-record-icon-H5@2x.png" alt="">
        <div class="no-item-box-text">暂无记录</div>
      </div>
      <!--有=记录的样子-->
      <div v-if="capitalFlowComputed.length !== 0 && !loading" class="con-withdraw-list">
        <div v-for="(order,index) in capitalFlowComputed" :key="order.id" class="flex withdraw-item">
          <!--时间-->
          <div class="td-time1">
            <div class="asset-text">{{order.asset}}</div>
            <div class="time-text pt">{{$globalFunc.formatDateUitl(order.time,'MM-DD hh:mm')}}</div>
          </div>
          <!--类型-->
          <div class="td-time incomeType-text" v-if="order.incomeType == 'TRANSFER' ">转账</div>
          <div class="td-time incomeType-text" v-if="order.incomeType == 'WELCOME_BONUS' ">--</div>
          <div class="td-time incomeType-text" v-if="order.incomeType == 'REALIZED_PNL'">已实现盈亏</div>
          <div class="td-time incomeType-text" v-if="order.incomeType == 'FUNDING_FEE'">资金费率</div>
          <div class="td-time incomeType-text" v-if="order.incomeType == 'COMMISSION'">手续费</div>
          <div class="td-time incomeType-text" v-if="order.incomeType == 'INSURANCE_CLEAR'">爆仓清算</div>
          <div class="td-time1 income-text tar">{{toFixed(order.income,8)}}</div>
        </div>
      </div>
  </div> <!--  资金流水-->
    <div v-show="!loading && openType==7" class="">
      <div class="container-tr-th container-box-zi flex" :class="isApp && 'container-tr-th-app' || ''">
        <!--时间-->
        <div class="td-time1">资产种类/时间</div>
        <!--类型-->
        <div class="td-time">{{$t('差额')}}</div>
        <!--总额-->
        <div class="td-time1 tar">{{$t('余额')}}</div>
      </div>
      <!--没有记录的样式-->
      <div v-if="!loading && capitalAssetSnapshot.length === 0" class="no-item-box">
        <img class="no-item-box-item" src="../../assets/no-record-icon-H5@2x.png" alt="">
        <div class="no-item-box-text">暂无记录</div>
      </div>
      <!--有=记录的样子-->
      <div v-if="capitalAssetSnapshot.length !== 0 && !loading" class="con-withdraw-list">
        <div v-for="(order,index) in capitalAssetSnapshot" :key="order.id" class="flex withdraw-item">
          <!--时间-->
          <div class="td-time1">
            <div class="asset-text">{{order.asset}}</div>
            <div class="time-text pt">{{$globalFunc.formatDateUitl(order.createdAt,'MM-DD hh:mm')}}</div>
          </div>
          <!--类型-->
          <div class="td-time incomeType-text">{{toFixed(order.difference,8)}}</div>
          <div class="td-time1 income-text tar">{{toFixed(order.balance,8)}}</div>
        </div>
      </div>
  </div>
 <!--  资金流水-->
    <div v-show="!loading && openType==6" class="">
      <div class="container-tr-th container-box-zi flex" :class="isApp && 'container-tr-th-app' || ''">
        <!--时间-->
        <div class="td-time1">序号</div>
        <!--类型-->
        <div class="td-time">账号</div>
        <!--总额-->
        <div class="td-time1 tar">奖励</div>
      </div>
      <!--没有记录的样式-->
      <div v-if="mobileInviteCodeComputed.length === 0 && !loading" class="no-item-box">
        <img class="no-item-box-item" src="../../assets/no-record-icon-H5@2x.png" alt="">
        <div class="no-item-box-text">暂无记录</div>
      </div>
      <!--有=记录的样子-->
      <!--有=记录的样子-->
      <div v-if="mobileInviteCodeComputed.length !== 0 && !loading" class="con-withdraw-list">
        <div v-for="(item,index) in mobileInviteCodeComputed" :key="index" class="flex withdraw-item">
          <!--时间-->
          <div class="td-time incomeType-text">{{index+1}}</div>
          <div class="td-time incomeType-text">{{item.beInvitedEmail}}</div>
          <!--类型-->
          <div class="td-time1 income-text tar">{{toFixed(item.sum_amount,8)}}{{item.currency}}</div>
        </div>
      </div>
  </div>


  </div>



  <!-- 专属海报 start -->
  <div class="prompt-qrcode" v-show="showPoster">
    <div class="show_poster_body" @click="HIDE_POSTER()">
      <template>
        <el-select class="account_number_input" value-key="currencyKey" v-model="currencyValue" filterable placeholder="">
          <el-option
            v-for="(item,index) in accountsComputed"
            :label="item.a"
            :value="item.a"
            :key="index"
          ></el-option>
        </el-select>
      </template>
      <div class="loading-box" v-if="loadingImage">
        <Loading></Loading>
      </div>
      <!--      <p class="copy_poster">✽{{$t('personalCenter.poster_2')}}</p>-->
      <img :src="poster_url" class="img-width" v-if="!loadingImage" @click.stop="notClick($event)">

      <div v-if="(isApp && isAndroid)" class="flex-between">
        <button  class="button-base poster-btn p-cancle-btn  btn-border pointer" @click="HIDE_POSTER">
          取消
        </button>
        <button  class="button-base poster-btn p-confirm-btn  btn_blue pointer" @click="sendImgToApp">
          保存图片
        </button>
      </div>

      <div v-if="!(isApp && isAndroid)" class="prompt-qrcode-box-info">{{isApp ? 'APP暂请截图分享':'长按图片保存至手机'}}</div>
      <img v-if="!(isApp && isAndroid)" class="close_icon"  src="../../assets/wrong-close.png" alt="">
    </div>
  </div>
  <!-- 专属海报 end -->

  <PopupPrompt :popType="popType" :popText="popText" :popOpen="promptOpen" :popClose="closePrompt"></PopupPrompt>
</div>
