<div class="register-container" v-if="!loading">
  <div class="all-container box_shadow border_radius">

    <div class="unit-title">
      <span class="unit-title-line-before"></span>
      <span class="unit-title-text">
        欢迎<span class="unit-title-text-white">绑定</span>
      </span>
      <span class="unit-title-line-after"></span>
    </div>
    <div class="register-header">
      <div class="register-header-list">
        <div class="register-header-item" :class="registerPicked==='typePhone'?'register-header-item-activity':''" @click="changeRegisterType(0)">手机绑定</div>
        <div class="register-header-item" :class="registerPicked==='typeEmail'?'register-header-item-activity':''" @click="changeRegisterType(1)">邮箱绑定</div>
      </div>
    </div>

    <div class="unit-container flex-center">
      <!--手机-->
      <div v-if="registerPicked === 'typePhone'" class="flex unit-input-container" :class="userNameFocusFlag===true?'unit-input-container-activity':''">
        <span class="flex-center unit-input-container-title">
          <img class="unit-input-container-title-img-phone" src="../../assets/mobile_img/mobile_input_icon/input_mobile_icon.png" alt="">
        </span>
        <input type="text" placeholder='请输入手机号' v-model="userName" @blur="testUserName" @focus="focusUserName" class="unit-input">
      </div>
      <!--邮箱-->
      <div v-if="registerPicked === 'typeEmail'" class="flex unit-input-container" :class="userNameFocusFlag===true?'unit-input-container-activity':''">
        <span class="flex-center unit-input-container-title">
          <img class="unit-input-container-title-img-mail" src="../../assets/mobile_img/mobile_input_icon/input_mail_icon.png" alt="">
        </span>
        <input type="text" placeholder='请输入邮箱' v-model="userName" @blur="testUserName" @focus="focusUserName" class="unit-input">
      </div>
      <div v-if="userNameWA!=''" class="unit-input-interval text_red">
        <span>{{userNameWA}}</span>
      </div>

      <!--手机验证码-->
      <div v-if="registerPicked === 'typePhone'" class="unit-input-container flex double-input-container" :class="verificationFocusFlag===true?'unit-input-container-activity':''">
        <span class="flex-center unit-input-container-title">
          <img class="unit-input-container-title-img-verification" src="../../assets/mobile_img/mobile_input_icon/input_verification_icon.png" alt="">
        </span>
        <input type="text" placeholder='请输入手机验证码' v-model="verificationCode" @focus="focusVerificationCode" @blur="testVerificationCode" class="unit-input">
        <div class="cutter-line flex-center">|</div>
        <template>
          <span class="flex-center identifying-code-button-on btn_blue" v-if="!getVerificationCode" @click="postVerificationCode">
            获取验证码
          </span>
          <span class="flex-center identifying-code-button-close btn_grey" v-if="getVerificationCode">
            {{getVerificationCodeCountdown}}
          </span>
        </template>
      </div>
      <!--邮箱验证码-->
      <div v-if="registerPicked === 'typeEmail'" class="unit-input-container flex double-input-container" :class="verificationFocusFlag===true?'unit-input-container-activity':''">
        <span class="flex-center unit-input-container-title">
          <img class="unit-input-container-title-img-verification" src="../../assets/mobile_img/mobile_input_icon/input_verification_icon.png" alt="">
        </span>
        <input type="text" placeholder='请输入邮箱验证码' v-model="verificationCode" @focus="focusVerificationCode" @blur="testVerificationCode" class="unit-input">
        <div class="cutter-line flex-center">|</div>
        <template>
          <span class="flex-center identifying-code-button-on btn_blue" v-if="!getVerificationCode" @click="postVerificationCode">
            获取验证码
          </span>
          <span class="flex-center identifying-code-button-close btn_grey" v-if="getVerificationCode">
            {{getVerificationCodeCountdown}}
          </span>
        </template>
      </div>
      <div v-if="verificationCodeWA!=''" class="unit-input-interval text_red">
        <span>{{verificationCodeWA}}</span>
      </div>


      <!--密码-->
      <div class="unit-input-container flex" :class="passwardFocusFlag===true?'unit-input-container-activity':''">
        <span class="flex-center unit-input-container-title">
          <img class="unit-input-container-title-img-password" src="../../assets/mobile_img/mobile_input_icon/input_password_icon.png" alt="">
        </span>
        <input type="password" placeholder='请输入密码' v-model="psw" @blur="testPsw" class="unit-input" @input="testInputIngPsw" @focus="focusInputIngPsw">
      </div>
      <div v-if="pswWA!=''" class="unit-input-interval text_red">
        <span>{{pswWA}}</span>
      </div>


      <!--按钮-->
      <div class="unit-input-container container-button">
        <button v-if="!sending" class="set-button before-register-button btn_blue" @click="registerCommit">
          绑定
        </button>
        <button v-if="sending" class="set-button registering-button btn_grey" disabled>绑定中
        </button>
      </div>

    </div>

  </div>

  <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText" :popText2="popText2"/>

  <div v-if="showToastFlag&&!loading" class="toast-window-nobind-email">
    <div class="toast-box-nobind-email">
      <div class="toast-nobind-email-title">提示</div>
      <div class="toast-nobind-email-body">绑定成功<br>状态稍后更新，请勿重复注册</div>
      <div class="confirm-nobind-email-btn" @click="closeToast()">确定</div>
    </div>
  </div>


</div>
