<div class="mobile-trading-hall-detail">
  <div class="header-title-select-hq flex">
    <div class="hangqing-title flex-cloum">
      <div class="flex">
        <div class="hangqingtu"  @click="openhangq">
        <img src="../../assets/H5img/hangqing.png" alt="">
      </div>
        <div class="hangqingbid">
          {{symbol | e}}
        </div>
      </div>
      <!--弹框按钮-->
      <div class="flex">
        <div class="leaver" @click="">双向</div>
        <div class="leaver" @click="openSecurityDepositMode">逐仓</div>
        <div class="leaver" @click="openLever">{{leverage}}X</div>
      </div>
    </div>
    <div class="flex-cloum">
      <div class="flex right-icon">
        <div class="hangqingkline" @click="openkexian()">
          <img src="../../assets/H5img/hangqkline.png" alt="">
        </div>
        <div class="hangqingkline" @click="goToCalculator()">
          <img src="../../assets/H5img/calculator.png" alt="">
        </div>
      </div>
      <div class="fund-all">
        <div  @click="">
          <span class="text-des">资金费率</span>
          <span class="fund-content">0.112%</span>
        </div>
        <div @click="">
          <span>资金时间</span>
          <span class="fund-content">0.112%</span>
        </div>
      </div>
    </div>

  </div>

  <div class="mmenu">
    <ul class="flex-between">
      <li class="header-title-item-lv txt_80" :class="openType===1 ? 'header-title-item-active-lv' : ''" @click="changeType(1)">
        {{$t('mobileTradingHallDetail.buy')}}
      </li>
      <li class="header-title-item txt_80" :class="openType===2 ? 'header-title-item-active' : ''" @click="changeType(2)">
        {{$t('mobileTradingHallDetail.sale')}}
      </li>

    </ul>
  </div>

  <!--买入页-->
  <div v-if="openType===1&& !latestFlag" class="container-buy-page">

    <div class="mobile-container">
      <!--左侧部分-->
      <div class="left-container" :class="{'left-container-default' : is_right}">

        <div class="mobile-change-num">
          <div class="trading1">
            <input class="mobile-change-num-input" :placeholder="`价格`" type="number" v-model="transaction_price">
          </div>
          <div class="mobile-change-num-minus" @click="reduceNum('price')">
            <img src="../../assets/H5img/mobile_input_group_minus_.png" alt="">
          </div>
          <div class="mobile-change-num-max" @click="plusNum('price')">
            <img class="mobile-change-num-max-img" src="../../assets/H5img/mobile_input_group_max_.png" alt="">
          </div>
        </div>
        <div class="mobile-container-title flex-between">
          <span>≈{{cny_valuation}}CNY</span>
        </div>
        <div class="mobile-change-num">
          <input class="mobile-change-num-input shuliannum" :placeholder="`数量`" type="number" v-model="transaction_amount">
          <span class="mobile-change-num-max mobile-change-num-symbol">
            {{symbol.split('_')[0]}}
          </span>
        </div>
        <div class="mobile-container-useable">
          <span class="txt_40">{{$t("progressBar.able")}}</span> <span>{{(currentSymbol.balance && currentSymbol.balance == '--' ? '--' : $globalFunc.accFixed(currentSymbol.balance, 6) || 0 )+ '&nbsp;' + this.$store.state.symbol.split('_')[1]}}</span>
        </div>


        <div class="mobile-select-num">
          <span class="mobile-select-num-item txt_80 mobile-select-num-item-selected" @click="sectionSelect(0.25)">25%</span>
          <span class="mobile-select-num-item txt_80" @click="sectionSelect(0.5)">50%</span>
          <span class="mobile-select-num-item txt_80" @click="sectionSelect(0.75)">75%</span>
          <span class="mobile-select-num-item txt_80" @click="sectionSelect(1)">100%</span>
        </div>

        <div class="mobile-exchange-price">
          <!--{{!transaction_price || !transaction_amount? '交易额' : accMul(transaction_price,transaction_amount)}}（{{this.$store.state.symbol.split('_')[1]}}）-->
        </div>


        <div class="mobile-buy-btn" :class="btn_click ? 'click_active' : ''" @click="tradeMarket(true,0)">
          买入
        </div>

<!--        <div class="mobile-buy-btn" :class="btn_click ? 'click_active' : ''">-->
<!--          即将开启-->
<!--        </div>-->
        <div class="mopbile-trading-img">
          <!--这里放trading图-->
          <MobileTrade/>
        </div>

      </div>
      <!--右侧部分-->
      <div class="right-container">
        <div class="mobile-right-buy-content">
          <div class="mobile-right-buy-content-title">
            价格({{symbol.split('_')[1]}}) <span class="mobile-right-buy-content-title-right">数量({{symbol.split('_')[0]}})</span>
          </div>
          <div class="mobile-sale-detail-list">
            <div class="mobile-sale-detail-item" v-for="(item,index) in sellOrders" style="overflow: hidden;"
                 @click="setTransactionPrice(item.price)">
              <!--占满是3.5rem-->
              <span class="mobile-sale-detail-item-shadow" style="background: rgba(216,56,56,0.15);"
                    :style="{width:item.amount/deep.sall_deeps+'%'}"></span>
              <span class="mobile-sale-detail-item-price">{{$globalFunc.accFixed(item.price, quoteScale)}}</span>
              <span class="mobile-sale-detail-item-num" v-if="$store.state.symbol== 'GRC_USDT'">{{(item.amount >= 1000 && item.amount > 0 ) ?
                $globalFunc.accFixed(item.amount/1000,2)+'k':
                $globalFunc.accFixed(item.amount, baseScale)}}</span>
              <span class="mobile-sale-detail-item-num" v-else>{{$globalFunc.accFixed(item.amount, baseScale)}}</span>
            </div>
          </div>
          <div class="mobile-buy-detail-now-price-box mobile-buy-detail-now-price-box-up m-txt-green">
            <span class="mobile-buy-detail-now-price">{{$globalFunc.accFixed(price, quoteScale)}}</span>
            <span class="mobile-buy-detail-now-CNY-price">¥{{cnyPrice}}</span>
            <!--<span class="mobile-buy-detail-now-price-icon"></span>-->
          </div>
          <div class="mobile-buy-detail-list">
            <div class="mobile-buy-detail-item" v-for="(item,index) in buyOrders" style="overflow: hidden;"
                 @click="setTransactionPrice(item.price)">
              <!--占满是3.5rem-->
              <span class="mobile-buy-detail-item-shadow" style="background: rgba(0,166,42,0.15);"
                    :style="{width:item.amount/deep.buy_deeps+'%'}"></span>
              <span class="mobile-buy-detail-item-price m-txt-green">{{$globalFunc.accFixed(item.price,quoteScale)}}</span>
              <span class="mobile-buy-detail-item-num" v-if="$store.state.symbol== 'GRC_USDT'">{{(item.amount >= 1000 && item.amount > 0 ) ?
                $globalFunc.accFixed(item.amount/1000,2)+'k':
                $globalFunc.accFixed(item.amount, baseScale)}}</span>
              <span class="mobile-buy-detail-item-num" v-else>{{$globalFunc.accFixed(item.amount, baseScale)}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>

      <div class="mobile-container-latest-flag" >
        <span class="mobile-container-latest-flag-text">当前委托</span>
        <div class="mobile-container-latest-flag-img" @click="openLatestHistoryFlag">历史</div>
      </div>

    </div>
  </div>
  <!--卖出页-->
  <div v-if="openType===2 && !latestFlag" class="container-sell-page">

    <div class="mobile-container">
      <!--左侧部分-->
      <div class="left-container" :class="{'left-container-default' : is_right}">

        <div class="mobile-change-num">
          <div class="trading1">
            <input class="mobile-change-num-input" :placeholder="`价格`" type="number" v-model="transaction_price">
          </div>
          <div class="mobile-change-num-minus" @click="reduceNum('price')">
            <img src="../../assets/H5img/mobile_input_group_minus_.png" alt="">
          </div>
          <div class="mobile-change-num-max" @click="plusNum('price')">
            <img class="mobile-change-num-max-img" src="../../assets/H5img/mobile_input_group_max_.png" alt="">
          </div>
        </div>
        <div class="mobile-container-title flex-between">
          <span>≈{{cny_valuation}}CNY</span>
        </div>
        <div class="mobile-change-num">
          <input class="mobile-change-num-input shuliannum" :placeholder="`数量`" type="number" v-model="transaction_amount">
          <span class="mobile-change-num-max mobile-change-num-symbol">
            {{symbol.split('_')[0]}}
          </span>
        </div>
        <div class="mobile-container-useable">
          <span class="txt_40">{{$t("progressBar.able")}}</span> <span>{{(currentSymbol.balance_order && currentSymbol.balance_order == '--' ? '--' : $globalFunc.accFixed(currentSymbol.balance_order, 8) || 0 )+ '&nbsp;' + this.$store.state.symbol.split('_')[0]}}</span>
        </div>


        <div class="mobile-select-num">
          <span class="mobile-select-num-item txt_80 mobile-select-num-item-selected" @click="sectionSelect(0.25)">25%</span>
          <span class="mobile-select-num-item txt_80" @click="sectionSelect(0.5)">50%</span>
          <span class="mobile-select-num-item txt_80" @click="sectionSelect(0.75)">75%</span>
          <span class="mobile-select-num-item txt_80" @click="sectionSelect(1)">100%</span>
        </div>

        <div class="mobile-exchange-price txt_40">
          <!-- 成交金额（BNB） -->
          {{!transaction_price || !transaction_amount ? '交易额' : accMul(transaction_price,transaction_amount)}}（{{this.$store.state.symbol.split('_')[1]}}）
        </div>


        <div class="mobile-buy-btn" :class="btn_click ? 'click_active' : ''" @click="tradeMarket(true,1)">
          卖出
        </div>

<!--        <div class="mobile-buy-btn" :class="btn_click ? 'click_active' : ''">-->
<!--          即将开启-->
<!--        </div>-->
        <div class="mopbile-trading-img">
          <!--这里放trading图-->
          <MobileTrade/>
        </div>

      </div>
      <!--右侧部分-->
      <div class="right-container">
        <div class="mobile-right-buy-content txt_40">
          <div class="mobile-right-buy-content-title">
            价格({{symbol.split('_')[1]}}) <span class="mobile-right-buy-content-title-right">数量({{symbol.split('_')[0]}})</span>
          </div>
          <div class="mobile-sale-detail-list">
            <div class="mobile-sale-detail-item" v-for="(item,index) in sellOrders" style="overflow: hidden;"
                 @click="setTransactionPrice(item.price)">
              <!--占满是3.5rem-->
              <span class="mobile-sale-detail-item-shadow" style="background: rgba(216,56,56,0.15);"
                    :style="{width:item.amount/deep.sall_deeps+'%'}"></span>
              <span class="mobile-sale-detail-item-price m-txt-red">{{$globalFunc.accFixed(item.price, quoteScale)}}</span>
              <span class="mobile-sale-detail-item-num" v-if="$store.state.symbol== 'GRC_USDT'">{{(item.amount >= 1000 && item.amount > 0 ) ?
                $globalFunc.accFixed(item.amount/1000,2)+'k':
                $globalFunc.accFixed(item.amount, baseScale)}}</span>
              <span class="mobile-sale-detail-item-num" v-else>{{$globalFunc.accFixed(item.amount, baseScale)}}</span>
            </div>
          </div>
          <div class="mobile-buy-detail-now-price-box mobile-buy-detail-now-price-box-up m-txt-green">
            <span class="mobile-buy-detail-now-price">{{$globalFunc.accFixed(price, quoteScale)}}</span>
            <span class="mobile-buy-detail-now-CNY-price">¥{{cnyPrice}}</span>
            <!--<span class="mobile-buy-detail-now-price-icon"></span>-->
          </div>
          <div class="mobile-buy-detail-list">
            <div class="mobile-buy-detail-item" v-for="(item,index) in buyOrders" style="overflow: hidden;"
                 @click="setTransactionPrice(item.price)">
              <!--占满是3.5rem-->
              <span class="mobile-buy-detail-item-shadow" style="background: rgba(0,166,42,0.15);"
                    :style="{width:item.amount/deep.buy_deeps+'%'}"></span>
              <span class="mobile-buy-detail-item-price m-txt-green">{{$globalFunc.accFixed(item.price, quoteScale)}}</span>
              <span class="mobile-buy-detail-item-num" v-if="$store.state.symbol== 'GRC_USDT'">{{(item.amount >= 1000 && item.amount > 0 ) ?
                $globalFunc.accFixed(item.amount/1000,2)+'k':
                $globalFunc.accFixed(item.amount, baseScale)}}</span>
              <span class="mobile-buy-detail-item-num" v-else>{{$globalFunc.accFixed(item.amount, baseScale)}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>

      <div class="mobile-container-latest-flag" >
        <span class="mobile-container-latest-flag-text">当前委托</span>
        <div class="mobile-container-latest-flag-img" @click="openLatestHistoryFlag">全部</div>
      </div>

    </div>
  </div>

  <!--当前委托页-->
  <div v-if="openType!==3 && !latestFlag" class="container-current-page" @click="ToCurrentPage">
    <CurrentOrder></CurrentOrder>

    <!--    <div class="mobile-current-title">-->
    <!--    <div class="mobile-current-title-all-sale">全部撤单</div>-->
    <!--    </div>-->
    <!--    <div class="mobile-current-list" v-for="(order,index) in currentOrderComputed" :key="order.id">-->
    <!--    <div class="mobile-current-item">-->
    <!--    <div class="mobile-current-item-first-line">-->
    <!--    <div class="mobile-current-item-icon" :class="order.type==='BUY_LIMIT'?'mobile-current-item-icon-buy':'mobile-history-item-icon-sale'">-->
    <!--    {{order.type === 'BUY_LIMIT'  && "买" || "卖"}}-->
    <!--    </div>-->
    <!--    <div class="mobile-current-item-compare">-->
    <!--    {{order.symbol.split('_')[0]}}/{{order.symbol.split('_')[1]}}-->
    <!--    </div>-->
    <!--    <div class="mobile-current-item-volume">-->
    <!--    成交率 {{(order.filledAmount / order.amount).toFixed(2) * 100 + '%'}}-->
    <!--    </div>-->
    <!--    <div class="mobile-current-item-time">-->
    <!--    委托 {{$globalFunc.formatDateUitl(order.createdAt,'YYYY-MM-DD hh:mm:ss')}}-->
    <!--    </div>-->
    <!--    </div>-->
    <!--    <div class="mobile-current-item-second-line">-->
    <!--    <div class="mobile-current-item-price-title">单价</div>-->
    <!--    <div class="mobile-current-item-price">{{order.price}}</div>-->
    <!--    <div class="mobile-current-item-num-title">委托数量</div>-->
    <!--    <div class="mobile-current-item-num">{{order.amount}}</div>-->

    <!--    <div class="mobile-current-item-sale-btn">撤单</div>-->
    <!--    </div>-->
    <!--    </div>-->
    <!--    </div>-->
  </div>
  <!--历史委托页-->
  <div v-if="openType===4" class="container-history-page">
    <!--<div class="mobile-history-title">-->
    <!--仅完成-->
    <!--之后再调大按钮-->
    <!--<a href="#" class="toggle" :class="{'toggle&#45;&#45;off':!BDBInfo,'toggle&#45;&#45;on':BDBInfo,'toggle&#45;&#45;moving':BDBChanging}" @click="clickToggle($event)"></a>-->
    <!--</div>-->
    <HistoryOrder>
      <!--      <router-link to="/index/MobileHistoryOrder/" class="mobile-header-box-content-item-second">历史委托-->
      <!--      </router-link>-->
    </HistoryOrder>

    <!--<div class="mobile-history-list" v-for="(order,index) in historyOrderComputed" :key="order.id"-->
    <!--:class="{'show-detail':clickThis===order.id}">-->
    <!--<div class="mobile-history-item">-->
    <!--<div class="mobile-history-item-first-line">-->
    <!--<div class="mobile-history-item-icon" :class="order.type==='BUY_LIMIT'?'mobile-history-item-icon-buy':'mobile-history-item-icon-sale'">-->
    <!--{{order.type === 'BUY_LIMIT'  && "买" || "卖"}}-->
    <!--</div>-->
    <!--<div class="mobile-history-item-compare">-->
    <!--{{order.symbol.split('_')[0]}}/{{order.symbol.split('_')[1]}}-->
    <!--</div>-->
    <!--<div class="mobile-history-item-time">-->
    <!--委托 {{$globalFunc.formatDateUitl(order.createdAt,'YYYY-MM-DDhh:mm:ss')}}-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="mobile-history-item-second-line">-->
    <!--<div class="mobile-history-item-price-title">单价</div>-->
    <!--<div class="mobile-history-item-price">{{order.price}}</div>-->
    <!--<div class="mobile-history-item-num-title">委托数量</div>-->
    <!--<div class="mobile-history-item-num">{{order.amount}}</div>-->

    <!--<div class="mobile-history-item-complete-btn">{{getStatus(order)}}</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;控制是否显示&ndash;&gt;-->
    <!--<div class="mobile-history-item-hidden">-->
    <!--<div class="mobile-history-item-hidden-first-line">-->
    <!--<div class="mobile-history-item-hidden-charge-title">手续费</div>-->
    <!--<div class="mobile-history-item-hidden-charge">{{order.fee.toFixed(8)}} {{order.symbol.split('_')[0]}}</div>-->
    <!--<div class="mobile-history-item-hidden-num-title">成交数量</div>-->
    <!--<div class="mobile-history-item-hidden-num">{{order.filledAmount}} {{order.symbol.split('_')[0]}}</div>-->
    <!--</div>-->
    <!--<div class="mobile-history-item-hidden-second-line">-->
    <!--<div class="mobile-history-item-hidden-charge-title">实际到账</div>-->
    <!--<div class="mobile-history-item-hidden-charge">0.12345678 BTC</div>-->
    <!--<div class="mobile-history-item-hidden-num-title">完成时间</div>-->
    <!--<div class="mobile-history-item-hidden-num">03-10 12:20:30</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->


  </div>

  <!--  <div class="tankuang" :popWindowOpen="popWindowOpen">-->
  <!--      <div class="tabnchuancontain">-->
  <!--        <div class="tankuangtop">-->
  <!--          确定下单-->
  <!--        </div>-->
  <!--        <div class="tankuangcenter">-->
  <!--          内容显示-->
  <!--        </div>-->
  <!--        <div class="tanchuangbottom">-->
  <!--          <button>确定</button>-->
  <!--          <button>取消</button>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--  </div>-->

  <!--弹窗-->
  <div v-if="popIdenOpen" class="lock-position-confirm-toast">
    <div class="lock-position-confirm-toast-window">
      <!--关闭按钮-->
      <div class="lock-position-confirm-toast-close-btn" @click="popIdenClose">
        <img class="lock-position-confirm-toast-close-btn-img" src="../../assets/mobile_img/mobile_asset_commen/h5_toast_close_btn.png" alt="">
      </div>
      <!--顶部标题-->
      <div class="lock-position-confirm-toast-title">提示</div>
      <div class="lock-position-confirm-toast-list">
        <div class="lock-position-confirm-toast-item">
          {{priceCont}}
        </div>
      </div>
      <div class="lock-position-confirm-toast-btns">
        <div class="lock-position-confirm-toast-btn-confirm" @click="popIdenComfirms">确定</div>
        <div class="lock-position-confirm-toast-btn-close" @click="popIdenClose">取消</div>
        <!--        <a class="lock-position-confirm-toast-btn-confirm"-->
        <!--           href="https://download.2020.exchange/"-->
        <!--           target="_blank">下载app</a>-->
      </div>
    </div>
  </div>




  <PopupPrompt :popType="popType" :popText="popText" :popOpen="promptOpen" :popClose="closePrompt"></PopupPrompt>
  <!-- 提示信息 end -->

  <PopupPrompt :popOpen="toastOpen" :popClose="toastClose" :popType="toastType" :popText="toastText">
    <div slot="pop-detail" class="pop-detail">
      <img class="pop-detail-img" src="../../assets/mobile_computer.png" alt="">
      <!--<div class="pop-detail-text"></div>-->
      <!--<div class="pop-detail-text"></div>-->
      <div class="pop-detail-text">{{$t('mobileTradingHallDetail.toastArticle')}}</div>
      <div class="pop-detail-btn" @click="toastClose">{{$t('personalCenterAuthAuthenticationState.promptEnsure')}}</div>
    </div>
  </PopupPrompt>

  <!--  调整杠杆 Strat-->
  <PositionModeBulletBox :switch="popWindowAdjustingLever" @close="popWindowCloseAdjustingLever" >
    <div slot="header">
      <div>调整杠杆</div>
    </div>
    <div slot="article"class="pop-lock-house">
      <div class="body">
        <div class="block"  style="margin: 4px auto">
          <!-- <span class="demonstration">默认</span> -->
          <p :class="'radiusa_blu1'" v-if="value>=0" @click="value=0" style="cursor:pointer"></p>
          <p :class="'radiusa_blu2'" v-if="value>=25"@click="value=25" style="cursor:pointer"></p>
          <p :class="'radiusa_blu3'" v-if="value>=50"@click="value=50" style="cursor:pointer"></p>
          <p :class="'radiusa_blu4'" v-if="value>=75"@click="value=75" style="cursor:pointer"></p>
          <p :class="'radiusa_blu5'" v-if="value>=100"@click="value=100" style="cursor:pointer"></p>
          <p :class="'radiusa_blu6'" v-if="value>=125"@click="value=125" style="cursor:pointer"></p>
          <el-slider
            v-model="value"
            :class="'el-slider_blu'"
            :marks="marks"
            show-input
            :max="125"
            :min="1"
            :format-tooltip="formatTooltip"
          >
          </el-slider>
        </div>
      </div>
      <div class="mode-only-lever">· 当前杠杆倍数最高可持有头寸：{{maxPosition}} USDT</div>
      <!--      <div class="mode-error">当前合约存在持仓和挂单，不支持调整保证金模式</div>-->
      <div class="mode-only-lever-super txt-price-red" v-if="value > 20">· 当前杠杆倍数较高，请注意风险。</div>
      <div class="mode-only-lever-high" v-else></div>
      <div class="mode-only-lever-super txt-price-red" v-if="popTextLeverage">· {{popTextLeverage}}</div>
      <div class="money-confirmation" @click="postLevelrage">确认</div>
      <!--确认不可点击状态-->
      <!--      <div class="money-confirmation-ash">确认</div>-->
    </div>
  </PositionModeBulletBox>
  <!--  调整杠杆 End-->

  <!--  保证金模式 Strat-->
  <PositionModeBulletBox :switch="popWindowSecurityDepositMode" @close="popWindowCloseSecurityDepositMode" :pop_width="true">
    <div slot="header">
      <div class="position-mode-tit">{{capitalSymbol}}保证金模式</div>
    </div>
    <div slot="article"class="pop-lock-house">
      <div class="flex">
        <div class="selected-mode selected-cardType-left" :class="{'selected-cardType-mode':marginModeTypeTemp == 'quanCang'}" @click="securityDepositMode('quanCang')">全仓</div>
        <div class="selected-mode" :class="{'selected-cardType-mode':marginModeTypeTemp == 'zhuCang'}" @click="securityDepositMode('zhuCang')">逐仓</div>
      </div>
      <div class="mode-only">· 调整保证金模式仅对当前合约生效。</div>
      <!--      TODO: 防止报错，先在这里保留  v-if="!isHasOrders"-->
      <div class="mode-error" >当前合约存在持仓和挂单，不支持调整保证金模式</div>
      <div class="money-confirmation-commit" @click="marginModeConfirm">确认</div>
      <!--确认不可点击状态-->
      <!--      <div class="money-confirmation-ash">确认</div>-->
      <div class="money-explanation">
        <div class="money-explanation-one">什么是全仓和逐仓模式？</div>
        <div class="money-explanation-two">全仓保证金模式: 所有仓位共用合约账户中的保证金来避免仓位被强平。在强平事件中，交易者可能会损失所有的保证金和仓位。</div>
        <div class="money-explanation-three">逐仓保证金模式: 一定数量保证金被分配到仓位上。如果仓位保证金亏损到低于维持保证金的水平，仓位将被强平。在逐仓模式下，您可以为这个仓位添加和减少保证金。</div>
      </div>
    </div>
  </PositionModeBulletBox>
  <!--  保证金模式 End-->

  <div v-if="toastNobindShow" class="toast-window-nobind-email">
    <div class="toast-box-nobind-email">
      <div class="memo-toast-box-close-btn-box" @click="closeNobindToast">
        <img class="memo-toast-box-close-btn" src="../../assets/mobile_img/mobile_asset_commen/h5_toast_close_btn.png" alt="">
      </div>
      <div class="toast-nobind-email-title">安全提示</div>
      <div class="toast-nobind-email-body">为了您的资金安全，请先绑定邮箱</div>
      <div class="confirm-nobind-email-btn" @click="goToBindEmail">绑定邮箱</div>
    </div>
  </div>

  <div class="bottomenu">
    <table>
      <tr>
        <td @click="gotoNewH5homePage">
          <div class="menuimg"><img src="../../assets/H5img/indexm.png"></div>
          <div class="menuinfoh">首页</div>
        </td>
        <td @click="gotoShichang">
          <div class="menuimg"><img src="../../assets/H5img/shich.png"></div>
          <div class="menuinfoh">行情</div>
        </td>
        <td  @click="gotoJiaoyi">
          <div class="menuimg"><img src="../../assets/H5img/jiaoyi.png"></div>
          <div class="menuinfoh">交易</div>
        </td>
        <td>
          <div class="menuimg"><img src="../../assets/H5img/contract_select.png"></div>
          <div class="menuinfo">合约</div>
        </td>
        <td  @click="gotoZichan">
          <div class="menuimg"><img src="../../assets/H5img/zichan.png"></div>
          <div class="menuinfoh">资产</div>
        </td>
      </tr>
    </table>

  </div>

  <div class="hangqceb" v-show="isshowhangq">
    <div class="hangqtitle">
      <div class="hangqfont">行情</div>
      <div class="hangqclosetu" @click="openhangq"><img src="../../assets/H5img/hangqing.png" alt=""></div>
    </div>

    <div class="hangqdata"  v-for="(item,index) in item_list" :key="index"  @click="changeHeaderBoxFlag(item)">
      <div class="hangqbd">{{item.name.split('_')[0]}}<span>{{'/&nbsp;'+item.name.split('_')[1]}}</span></div>
      <div class="hangqprice"
           :class="diff24(item.open,item.close)<0?'hq-price-down':'hq-price-up'">
        {{toFixed(item.close, !!quoteScale_list[item.name] ? quoteScale_list[item.name].quoteScale : 8)}}</div>

    </div>

  </div>

  <div class="hangqceb_mb" v-show="isshowhangq"></div>
  <!--<div class="bottom-box"></div>-->


</div>
