<div class="MobileTransferSuccess">

  <div class="TransferSuccess-container">
    <div class="asset-header"></div>

  </div>

  <div class="asset-body">
    <div class="asset-body-center">
      <div><img class="asset-body-center-img" src="../../assets/H5transfer_icon@2x.png" alt=""></div>
      <div><p>转账成功</p></div>
    </div>

  </div>

  <div class="asset-footer">
    <button @click="TransferRecords()">查看转账记录</button>
    <button @click="confirmTransferRecords()">继续转账</button>
  </div>
</div>



</div>
