<div>
  <div class="recharge-box">
    <div class="header-box header-box-height">
      <!--顶部标题及logo-->
      <div class="header-box-title">
        <!--<span  class="header-box-title-logo-box">-->
          <!--<img class="header-box-title-logo" :src="'http://logo.2020.exchange/' + (rechargeDetailData.currency == 'USDT2'?'USDT':rechargeDetailData.currency) +'.png'" alt="">-->
        <!--</span>-->
        {{$globalFunc.accFixed(rechargeDetailData.amount, 8)}}
        {{rechargeDetailData.currency == 'USDT2'?'USDT':rechargeDetailData.currency}}
      </div>

      <!--订单编号-->
      <div class="header-box-num">
        <span class="header-box-num-title">订单编号</span>
        <span class="header-box-num-container">{{rechargeDetailData.transferId}}</span>
      </div>

      <!--类型-->
      <div class="header-box-state">
        <span class="header-box-state-title">类型</span>
        <div v-if="rechargeDetailData.transferTo === 'WALLET'" class="header-box-state-container">从币币到钱包</div>
        <div v-else-if="rechargeDetailData.transferTo === 'SPOTS'" class="header-box-state-container">从钱包到币币</div>
      </div>

      <!--币种-->
      <div class="header-box-state">
        <span class="header-box-state-title">币种</span>
        <span class="header-box-state-container">{{rechargeDetailData.currency == 'USDT2'?'USDT':rechargeDetailData.currency}}</span>
      </div>

      <!--数量-->
      <div class="header-box-state">
        <span class="header-box-state-title">数量</span>
        <span class="header-box-state-container">{{$globalFunc.accFixed(rechargeDetailData.amount, 8)}}</span>
      </div>

    </div>
    <div class="container-box container-box-position">

      <!--日期-->
      <div class="container-box-time">
        <span class="container-box-time-title">日期</span>
        <span class="container-box-time-container">{{$globalFunc.formatDateUitl(rechargeDetailData.updatedAt,'YYYY-MM-DD hh:mm:ss')}}</span>
      </div>

      <!--状态-->
      <div class="header-box-state">
        <span class="header-box-state-title">状态</span>
        <div class="header-box-state-container">{{statusObj[rechargeDetailData.status]}}</div>
      </div>



    </div>

  </div>
  <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>
  <!--<div class="window-toast">-->
  <div v-if="toastWindowFlag" class="window-toast">
    <div class="mobile-popwindow-box flex-center">
      <div class="mobile-popwindow-window">
        <div class="mobile-popwindow-txt txt-light">您是否要撤销？</div>
        <div class="mobile-popwindow-btn-box flex-row">
          <div class="mobile-popwindow-btn" @click="closeClick">
            取消
          </div>
          <div class="mobile-popwindow-btn" @click="yesClick">
            确认
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
