<div class="mobile-trading-hall-detail">
  <div class="header-title-select-hq flex">
    <div class="hangqing-title flex-cloum">
      <div class="flex">
        <!--<div class="hangqingtu"  @click="openhangq">-->
          <!--<img src="../../assets/H5img/hangqing.png" alt="">-->
        <!--</div>-->
        <div class="hangqingbid">
          {{capitalSymbol | e}}
        </div>
      </div>
      <!--弹框按钮-->
      <div class="flex">
        <div class="leaver" @click="turnOnLocationMode">{{positionModeFirst == 'singleWarehouseMode'? '单向' :'双向'}}</div>
<!--        <div class="leaver" @click="openSecurityDepositMode" v-if="marginModeType == 'quanCang'">全仓</div>-->
<!--        <div class="leaver" @click="openSecurityDepositMode" v-if="marginModeType == 'zhuCang'">逐仓</div>-->
        <div class="leaver" @click="openSecurityDepositMode">{{marginModeType == 'quanCang'?'全仓':'逐仓'}}</div>
        <div class="leaver" @click="openLever">{{leverage}}X</div>
      </div>
    </div>
    <div class="flex-cloum">
      <div class="flex right-icon">
        <div class="transfer-hangqingkline" @click="openBottonOpener()">
          <img src="../../assets/H5img/opener_icon.png" alt="">
        </div>
        <div class="transfer-hangqingkline" @click="openkexian()">
          <img src="../../assets/H5img/hangqkline.png" alt="">
        </div>
        <div class="hangqingkline" @click="openTransfer()">
          <img src="../../assets/transfer-icon@2x.png" alt="">
        </div>
        <div class="hangqingkline" @click="goToCalculator()">
          <img src="../../assets/H5img/calculator.png" alt="">
        </div>
      </div>
      <div class="fund-all">
        <div  @click="">
          <span class="text-des" @click="openDescript('资金费率')">资金费率</span>
          <span class="fund-content">{{toFixed((lastFundingRate * 100) || 0,4)}} %</span>
        </div>
        <div @click="">
          <span>资金时间</span>
          <span class="fund-content">{{$globalFunc.timeCountdown(new Date().getTime(),nextFundingTime,':h')}}</span>
        </div>
      </div>
    </div>

  </div>
  <div class="line-bg"/>

  <div v-if="positionModeFirst == 'singleWarehouseMode'" class="mmenu">
    <ul class="flex-between">
      <li class="header-title-item" :class="orderType===0 ? 'header-title-item-active-lv' : ''" @click="changeType(0)">
        {{$t('mobileTradingHallDetail.buy')}}
      </li>
      <li class="header-title-item" :class="orderType===1 ? 'header-title-item-active-red' : ''" @click="changeType(1)">
        {{$t('mobileTradingHallDetail.sale')}}
      </li>
    </ul>
  </div>

  <div v-if="positionModeFirst == 'doubleWarehouseMode'" class="mmenu">
    <ul class="flex-between">
      <li class="header-title-item" :class="positionModeSecond == 'openWarehouse' ? 'header-title-item-active-blue' : ''" @click="changePositionModeSecond('openWarehouse')">
        开仓
      </li>
      <li class="header-title-item" :class="positionModeSecond == 'closeWarehouse' ? 'header-title-item-active-blue' : ''" @click="changePositionModeSecond('closeWarehouse')">
        平仓
      </li>
    </ul>
  </div>

  <!--买卖页-->
  <div class="container-buy-page">

    <div class="mobile-container" :class="isApp && 'mobile-container-app' || ''" >
      <!--左侧部分-->
      <div class="left-container" :class="{'left-container-default' : is_right}">

        <div v-if="positionModeFirst=='singleWarehouse'">
          <el-select class="inputInner" value-key="currencyKey" v-model="optionVal"
                     filterable placeholder="" @change="changeOptionData">
            <el-option v-for="item in optionData" :key="item" :label="item" :value="item"></el-option>
          </el-select>
        </div>
        <div v-if="positionModeSecond=='openWarehouse'">
          <el-select class="inputInner" value-key="currencyKey" v-model="optionVal"
                     filterable placeholder="" @change="changeOptionData">
            <el-option v-for="item in optionData2" :key="item" :label="item" :value="item"></el-option>
          </el-select>
        </div>
        <div v-if="positionModeSecond=='closeWarehouse'">
          <el-select class="inputInner" value-key="currencyKey" v-model="optionVal"
                     filterable placeholder="" @change="changeOptionData">
            <el-option v-for="item in optionData3" :key="item" :label="item" :value="item"></el-option>
          </el-select>
        </div>


        <div v-if="isHasModule('triggerPrice')" class="trigger-box flex-between">
          <el-select class="inputInner-trigger" value-key="'inputInner-trigger'" v-model="latestPrice"
                     filterable placeholder="" @change="changeLatestPriceOption">
            <el-option v-for="item in latestPriceOption" :key="item" :label="item" :value="item"></el-option>
          </el-select>

          <div class="mobile-change-num-trigger">
            <div class="trading1">
              <input class="mobile-change-num-input mobile-change-num-input-trigger" :placeholder="`触发价`" type="number" v-model="triggerPrice">
            </div>
          </div>
        </div>

        <div v-if="pendingOrderType.indexOf('limit') > -1" class="mobile-change-num">
<!--        <div v-if="pendingOrderType == 'limit'" class="mobile-change-num">-->
          <div class="trading1">
            <input class="mobile-change-num-input" :placeholder="`价格`" type="number" v-model="price">
          </div>
          <!--<div class="mobile-change-num-minus" @click="reduceNum('price')">-->
            <!--<img src="../../assets/H5img/mobile_input_group_minus_.png" alt="">-->
          <!--</div>-->
          <!--<div class="mobile-change-num-max" @click="plusNum('price')">-->
            <!--<img class="mobile-change-num-max-img" src="../../assets/H5img/mobile_input_group_max_.png" alt="">-->
          <!--</div>-->
        </div>

        <div v-if="pendingOrderType.indexOf('market') > -1" class="mobile-change-num-market">
          市价
        </div>

        <div class="mobile-change-num">
          <input class="mobile-change-num-input shuliannum" :placeholder="`数量`" type="number" v-model="amount">
          <span class="mobile-change-num-max mobile-change-num-symbol">
            {{symbol.split('_')[0]}}
          </span>
        </div>

        <div class="mobile-container-useable">
          <span class="">{{$t("progressBar.able")}}</span> <span>{{toFixed(availableBalance,2)}} USDT</span>
        </div>

<!--        <div class="mobile-select-num">-->
<!--          <span class="mobile-select-num-item txt_80 mobile-select-num-item-selected" @click="sectionSelect(0.25)">25%</span>-->
<!--          <span class="mobile-select-num-item txt_80" @click="sectionSelect(0.5)">50%</span>-->
<!--          <span class="mobile-select-num-item txt_80" @click="sectionSelect(0.75)">75%</span>-->
<!--          <span class="mobile-select-num-item txt_80" @click="sectionSelect(1)">100%</span>-->
<!--        </div>-->

        <!--<div class="mobile-exchange-price">-->
          <!--&lt;!&ndash;{{!price || !amount? '交易额' : accMul(price,amount)}}（{{this.$store.state.symbol.split('_')[1]}}）&ndash;&gt;-->
        <!--</div>-->

        <!--TODO 目前移动端没有生效时间，如何处理-->
        <div v-if="isHasModule('passiveDelegation')" class="passive-delegation flex-row" >
          <img @click="priceLimitSelection(1)" v-if="checkPrice == 2" class="passive-delegation-icon" src="../../assets/contract/check_box_selected.png" alt="">
          <img @click="priceLimitSelection(2)" v-if="checkPrice == 1"  class="passive-delegation-icon" src="../../assets/contract/check_box_no_selected.png" alt="">
          <div class="passive-delegation-text" @click="openDescript('被动委托')">被动委托</div>
        </div>

        <div v-if="isHasModule('reducePositions')" class="reduce-positions flex-row">
          <!--限价-------只减仓 -->
          <img v-if="reducePositionsSelected" class="passive-delegation-icon" src="../../assets/contract/check_box_selected.png" @click="changeReducePositions()" alt="">
          <img v-else class="passive-delegation-icon" src="../../assets/contract/check_box_no_selected.png" @click="changeReducePositions()" alt="">
          <div class="passive-delegation-text" @click="openDescript('只减仓')">只减仓</div>
        </div>

        <!--保证金-->
        <div v-if="isHasModule('securityDeposit')" class="security-deposit flex-between">
          <div class="security-deposit-text">保证金</div>
          <div class="security-deposit-amount" v-if="positionModeFirst == 'singleWarehouseMode'">{{securityDeposit || '0.00'}} USDT</div>
          <div class="security-deposit-amount" v-if="positionModeFirst == 'doubleWarehouseMode'">{{securityDeposit[0] || '0.00'}} USDT</div>
        </div>

        <div class="can-be-opened flex-between">
          <span v-if="isHasModule('kaipingType') == 1" class="security-deposit-text">可开</span>
          <span v-if="isHasModule('kaipingType') == 2" class="security-deposit-text">可平</span>
          <!--单仓 买卖 可开-->
          <span class="security-deposit-amount" v-if="isHasModule('kaipingType') == 1 && positionModeFirst == 'singleWarehouseMode'">{{toFixed(canMore,3)}} BTC</span>
          <!--双仓 平仓 开多 可开-->
          <span class="security-deposit-amount" v-if="isHasModule('kaipingType') == 1 && positionModeFirst == 'doubleWarehouseMode'">{{toFixed(canBeOpened[0],3)}} BTC</span>
          <!--双仓 开仓 平空 可平-->
          <span class="security-deposit-amount" v-if="isHasModule('kaipingType') == 2">{{Math.abs(positionAmtShort)}} BTC</span>
        </div>

        <!----------------------------------------------单仓 btn start---------------------------------------------------------->
        <!--单仓  限价  市价 postOrdersCreate-->
        <div class="mobile-buy-btn" :class="orderType ? 'mobile-sell-btn' : ''"
             @click="openSplicedFrame(orderType && '卖出/做空'  || '买入/做多','postOrdersCreate',orderType)" v-if="isHasModule('buttonType1Create')">
          {{orderType && '卖出/做空'  || '买入/做多' }}
        </div>
        <!--单仓  限价止盈止损  市价止盈止损 postFullStop-->
        <div class="mobile-buy-btn" :class="orderType ? 'mobile-sell-btn' : ''"
             @click="openSplicedFrame(orderType && '卖出/做空'  || '买入/做多' ,'postFullStop',orderType)" v-if="isHasModule('buttonType1Stop')">
          {{orderType && '卖出/做空'  || '买入/做多' }}
        </div>
        <!----------------------------------------------单仓 btn end---------------------------------------------------------->

        <!----------------------------------------------双仓 开仓 btn start---------------------------------------------------------->
        <!--双仓 开仓  限价  市价 postOrdersCreate-->
        <div class="mobile-buy-btn" @click="openSplicedFrame('开多','postOrdersCreate',0)" v-if="isHasModule('buttonType2Create')">{{'开多'}}</div>
        <!--双仓 开仓  限价止盈止损  市价止盈止损 postFullStop-->
        <div class="mobile-buy-btn" @click="openSplicedFrame('开多','postFullStop',0)" v-if="isHasModule('buttonType2Stop')">{{'开多'}}</div>

        <!--保证金-->
        <div class="security-deposit flex-between" v-if="isHasModule('securityDeposit') && isHasModule('kaipingType') == 1 && positionModeFirst == 'doubleWarehouseMode'">
          <div class="security-deposit-text">保证金</div>
          <div class="security-deposit-amount">{{securityDeposit[1] || '0.00'}} USDT</div>
        </div>
        <!--双仓 开仓 开空 可开-->
        <div class="can-be-opened flex-between" v-if="isHasModule('kaipingType') == 1 && positionModeFirst == 'doubleWarehouseMode'">
          <span class="security-deposit-text">可开</span>
          <span class="security-deposit-amount">{{toFixed(canBeOpened[1],3)}} BTC</span>
        </div>

        <!--双仓 开仓  限价  市价 postOrdersCreate-->
        <div class="mobile-buy-btn mobile-sell-btn" @click="openSplicedFrame('开空','postOrdersCreate',1)" v-if="isHasModule('buttonType2Create')">{{'开空'}}</div>
        <!--双仓 开仓  限价止盈止损  市价止盈止损 postFullStop-->
        <div class="mobile-buy-btn mobile-sell-btn" @click="openSplicedFrame('开空','postFullStop',1)" v-if="isHasModule('buttonType2Stop')">{{'开空'}}</div>
        <!----------------------------------------------双仓 开仓 btn end---------------------------------------------------------->

        <!----------------------------------------------双仓 平仓 btn start---------------------------------------------------------->
        <!--双仓 平仓  限价  市价 postOrdersPosition-->
        <div class="mobile-buy-btn" @click="openSplicedFrame('平空','postOrdersPosition',0)" v-if="isHasModule('buttonType3Create')">{{'平空'}}</div>
        <!--双仓 平仓  限价止盈止损  市价止盈止损 postFullStop-->
        <div class="mobile-buy-btn" @click="openSplicedFrame('平空','postFullStop',0)" v-if="isHasModule('buttonType3Stop')">{{'平空'}}</div>

        <!--保证金-->
        <div v-if="isHasModule('kaipingType') == 2 && isHasModule('securityDeposit')" class="security-deposit flex-between">
          <div class="security-deposit-text">保证金</div>
          <div class="security-deposit-amount">{{securityDeposit || '0.00'}} USDT</div>
        </div>
        <!--双仓 开仓 平多 可平-->
        <div v-if="isHasModule('kaipingType') == 2" class="can-be-opened flex-between">
          <span class="security-deposit-text">可平</span>
          <span class="security-deposit-amount">{{Math.abs(positionAmtLong)}} BTC</span>
        </div>

        <!--双仓 平仓  限价  市价 postOrdersPosition-->
        <div class="mobile-buy-btn mobile-sell-btn"  @click="openSplicedFrame('平多','postOrdersPosition',1)" v-if="isHasModule('buttonType3Create')">{{'平多'}}</div>
        <!--双仓 平仓  限价止盈止损  市价止盈止损 postFullStop-->
        <div class="mobile-buy-btn mobile-sell-btn"  @click="openSplicedFrame('平多','postFullStop',1)" v-if="isHasModule('buttonType3Stop')">{{'平多'}}</div>

        <!----------------------------------------------双仓 平仓 btn end---------------------------------------------------------->


<!--        <div class="mobile-buy-btn" :class="btn_click ? 'click_active' : ''">-->
<!--          即将开启-->
<!--        </div>-->
        <!--<div class="mopbile-trading-img">-->
          <!--&lt;!&ndash;这里放trading图&ndash;&gt;-->
          <!--<MobileTrade/>-->
        <!--</div>-->

      </div>
      <!--右侧部分-->
      <div class="right-container">
        <H5StockCross :buy_sale_list="buy_sale_list" :socket_snap_shot="socket_snap_shot" :socket_tick="socket_tick" :isNowPrice="isNowPrice" :direction="direction" :markPrice="markPrice" :setTransactionPrice="setTransactionPrice"/>
      </div>
      <div class="clear"></div>
    <div class="current-top-line"/>

    <div class="mobile-container-latest-flag" >
      <span class="mobile-container-latest-flag-text" :class="listType == 'holdPosition' ? 'mobile-list-type' : ''" @click="listSwitching('holdPosition')">持有仓位</span>
      <span class="mobile-container-latest-flag-text mobile-container-latest-right" :class="listType == 'currentDelegation' ? 'mobile-list-type' : ''" @click="listSwitching('currentDelegation')">当前委托</span>
      <div class="mobile-container-latest-flag-img" @click="openAllRecords">
        <img class="history-icon" src="../../assets/history-icon.png" alt="">
        历史</div>
    </div>


    </div>
  </div>

  <!--仓位-->
  <div v-if="listType== 'holdPosition'" class="container-current-page">
    <PositionList :latestPriceVal = 'isNowPrice' :effectiveTime = 'effectiveTime' :markPrice = 'markPrice' @getPositionRisk="getIndex" :availableBalance='availableBalance'
                  :setKaipingqiPos="setKaipingqiPos"/>
  </div>

  <!--当前委托页-->
  <div v-if="listType == 'currentDelegation'" class="container-current-page" @click="ToCurrentPage">
    <CurrentOrder></CurrentOrder>
  </div>


  <div class="current-bot-line"/>


  <!--弹窗-->
  <div v-if="popIdenOpen" class="lock-position-confirm-toast">
    <div class="lock-position-confirm-toast-window">
      <!--关闭按钮-->
      <div class="lock-position-confirm-toast-close-btn" @click="popIdenClose">
        <img class="lock-position-confirm-toast-close-btn-img" src="../../assets/mobile_img/mobile_asset_commen/h5_toast_close_btn.png" alt="">
      </div>
      <!--顶部标题-->
      <div class="lock-position-confirm-toast-title">提示</div>
      <div class="lock-position-confirm-toast-list">
        <div class="lock-position-confirm-toast-item">
          {{priceCont}}
        </div>
      </div>
      <div class="lock-position-confirm-toast-btns">
        <div class="lock-position-confirm-toast-btn-confirm" @click="popIdenComfirms">确定</div>
        <div class="lock-position-confirm-toast-btn-close" @click="popIdenClose">取消</div>
        <!--        <a class="lock-position-confirm-toast-btn-confirm"-->
        <!--           href="https://download.2020.exchange/"-->
        <!--           target="_blank">下载app</a>-->
      </div>
    </div>
  </div>




  <PopupPrompt :popType="popType" :popText="popText" :popOpen="promptOpen" :popClose="closePrompt"></PopupPrompt>
  <!-- 提示信息 end -->

  <PopupPrompt :popOpen="toastOpen" :popClose="toastClose" :popType="toastType" :popText="toastText">
    <div slot="pop-detail" class="pop-detail">
      <img class="pop-detail-img" src="../../assets/mobile_computer.png" alt="">
      <!--<div class="pop-detail-text"></div>-->
      <!--<div class="pop-detail-text"></div>-->
      <div class="pop-detail-text">{{$t('mobileTradingHallDetail.toastArticle')}}</div>
      <div class="pop-detail-btn" @click="toastClose">{{$t('personalCenterAuthAuthenticationState.promptEnsure')}}</div>
    </div>
  </PopupPrompt>
  <!--  仓位模式Strat-->
  <PositionModeBulletBox :switch="popWindowPositionModeBulletBox" @close="popWindowClosePositionModeBulletBox" :pop_width="true">
    <div slot="header">
      <div class="position-mode-tit">仓位模式</div>
    </div>
    <div slot="article"class="pop-lock-house">
      <div class="risk-alert">
        若有合约存在持仓或者挂单，不允许调整仓位模式。仓位模式调整对所有合约统一生效。
      </div>
      <div class="flex pointer" @click="positionModeSelected('singleWarehouseMode')">
        <img class="single-position-img" src="../../assets/contract/contract_selected.png" alt="" v-if="positionModeFirstTemp == 'singleWarehouseMode'">
        <img class="single-position-img" src="../../assets/contract/contract_no_selected.png" alt="" v-else>
        <div class="">
          <div class="selected-positions-cod" :class="{'selected_cardType':positionModeFirstTemp == 'singleWarehouseMode'}">单向持仓</div>
          <div class="position-explanation">单向持仓模式下，一个合约只允许持有一个方向的仓位</div>
        </div>
      </div>
      <div class="flex pointer" @click="positionModeSelected('doubleWarehouseMode')">
        <img class="single-position-img" src="../../assets/contract/contract_selected.png" alt="" v-if="positionModeFirstTemp == 'doubleWarehouseMode'">
        <img class="single-position-img" src="../../assets/contract/contract_no_selected.png" alt="" v-else>
        <div class="">
          <div class="selected-positions-cod" :class="{'selected_cardType':positionModeFirstTemp == 'doubleWarehouseMode'}">双向持仓</div>
          <div class="position-explanation">双向持仓模式下，一个合约可允许同时持有多空两个方向的仓位，并且同一合约下不同方向仓位风险对冲</div>
        </div>
      </div>
      <div class="day-surplus" @click="positionModeSelectedConfirm">
        确认
      </div>
    </div>
<!--    <div slot="footer" class="lock-house-footer">-->
<!--      <div class="day-surplus" @click="positionModeSelectedConfirm">-->
<!--        确认-->
<!--      </div>-->
<!--    </div>-->
  </PositionModeBulletBox>
  <!--  仓位模式End-->

  <!--  调整杠杆 Strat-->
  <PositionModeBulletBox :switch="popWindowAdjustingLever" @close="popWindowCloseAdjustingLever" >
    <div slot="header">
      <div>调整杠杆</div>
    </div>
    <div slot="article"class="pop-lock-house">
      <div class="body">
        <div class="block"  style="margin: 4px auto">
          <!-- <span class="demonstration">默认</span> -->
          <p :class="'radiusa_blu1'" v-if="value>=0" @click="value=0" style="cursor:pointer"></p>
          <p :class="'radiusa_blu2'" v-if="value>=25"@click="value=25" style="cursor:pointer"></p>
          <p :class="'radiusa_blu3'" v-if="value>=50"@click="value=50" style="cursor:pointer"></p>
          <p :class="'radiusa_blu4'" v-if="value>=75"@click="value=75" style="cursor:pointer"></p>
          <p :class="'radiusa_blu5'" v-if="value>=100"@click="value=100" style="cursor:pointer"></p>
          <p :class="'radiusa_blu6'" v-if="value>=125"@click="value=125" style="cursor:pointer"></p>
          <el-slider
            v-model="value"
            :class="'el-slider_blu'"
            :marks="marks"
            show-input
            :max="125"
            :min="1"
            :format-tooltip="formatTooltip"
          >
          </el-slider>
        </div>
      </div>
      <div class="mode-only-lever">· 当前杠杆倍数最高可持有头寸：{{maxPosition}} USDT</div>
      <!--      <div class="mode-error">当前合约存在持仓和挂单，不支持调整保证金模式</div>-->
      <div class="mode-only-lever-super txt-price-red" v-if="value > 20">· 当前杠杆倍数较高，请注意风险。</div>
      <div class="mode-only-lever-high" v-else></div>
      <div class="mode-only-lever-super txt-price-red" v-if="popTextLeverage">· {{popTextLeverage}}</div>
      <div class="money-confirmation" @click="postLevelrage">确认</div>
      <!--确认不可点击状态-->
      <!--      <div class="money-confirmation-ash">确认</div>-->
    </div>
  </PositionModeBulletBox>
  <!--  调整杠杆 End-->

  <!--  保证金模式 Strat-->
  <PositionModeBulletBox :switch="popWindowSecurityDepositMode" @close="popWindowCloseSecurityDepositMode" :pop_width="true">
    <div slot="header">
      <div class="position-mode-tit">{{capitalSymbol}}保证金模式</div>
    </div>
    <div slot="article"class="pop-lock-house">
      <div class="flex">
        <div class="selected-mode selected-cardType-left" :class="{'selected-cardType-mode':marginModeTypeTemp == 'quanCang'}" @click="securityDepositMode('quanCang')">全仓</div>
        <div class="selected-mode" :class="{'selected-cardType-mode':marginModeTypeTemp == 'zhuCang'}" @click="securityDepositMode('zhuCang')">逐仓</div>
      </div>
      <div class="mode-only">· 调整保证金模式仅对当前合约生效。</div>
      <!--      TODO: 防止报错，先在这里保留  v-if="!isHasOrders"-->
      <div class="mode-error" v-if="!isHasOrders">当前合约存在持仓和挂单，不支持调整保证金模式</div>
      <div class="money-confirmation-commit" @click="marginModeConfirm">确认</div>
      <!--确认不可点击状态-->
      <!--      <div class="money-confirmation-ash">确认</div>-->
      <div class="money-explanation">
        <div class="money-explanation-one">什么是全仓和逐仓模式？</div>
        <div class="money-explanation-two">全仓保证金模式: 所有仓位共用合约账户中的保证金来避免仓位被强平。在强平事件中，交易者可能会损失所有的保证金和仓位。</div>
        <div class="money-explanation-three">逐仓保证金模式: 一定数量保证金被分配到仓位上。如果仓位保证金亏损到低于维持保证金的水平，仓位将被强平。在逐仓模式下，您可以为这个仓位添加和减少保证金。</div>
      </div>
    </div>
  </PositionModeBulletBox>
  <!--  保证金模式 End-->

  <!--解释弹窗 begin-->
  <PopupWindow :switch="descriptionOpen" @close="descriptionClose" :pop_width="false" :closeBtnShow="false" :closeFooter="false">
    <div slot="header" class="header-bck">
      <div>{{titleDescript}}</div>
    </div>
    <div slot="article" class="pop-lock-house">
        <div class="descript-content">{{descriptionText}}</div>
      <div class="descript-footer" @click="descriptionClose">确定</div>
    </div>
  </PopupWindow>
  <!--  解释弹窗 End-->

  <!-- 限价市价平仓弹窗 begin -->
  <PopupWindow :switch="showSplicedFrame" @close="closeFrame" :pop_width="false" >
    <div slot="header">
      <span class="pop-header">提示</span>
    </div>
    <div slot="article" class="pop-article">
      <!--      <p>{{$t('orderPageCurrentEntrustment.promptArticle')}}</p>-->
      <p>{{splicedFrameText}}</p>
    </div>
    <div slot="footer" class="pop-footer flex-center">
      <button @click="closeFrame" class="button-base mr-tempty pointer btn-border">{{$t('orderPageCurrentEntrustment.close')}}
      </button>
      <button v-if="!marketPriceClick" @click="confirmFrame" class="button-base  btn_blue pointer">
        {{$t('orderPageCurrentEntrustment.ensure')}}
      </button>
      <button v-if="marketPriceClick" class="button-base btn_blue pointer" disabled>
        请求中
      </button>
    </div>
  </PopupWindow>
  <!-- 限价市价平仓弹窗 end -->

  <!-- 开平器列表 begin -->
  <MobileBottleOpener :switch="openBottleOpen" @closeBtn="closeBottonOpener" :isNowPrice ="isNowPrice" :positionModeFirst="positionModeFirst"
                      :positionList="positionList" :baseScale="baseScale"></MobileBottleOpener>
  <!-- 开平器列表 end -->

  <div v-if="toastNobindShow" class="toast-window-nobind-email">
    <div class="toast-box-nobind-email">
      <div class="memo-toast-box-close-btn-box" @click="closeNobindToast">
        <img class="memo-toast-box-close-btn" src="../../assets/mobile_img/mobile_asset_commen/h5_toast_close_btn.png" alt="">
      </div>
      <div class="toast-nobind-email-title">安全提示</div>
      <div class="toast-nobind-email-body">为了您的资金安全，请先绑定邮箱</div>
      <div class="confirm-nobind-email-btn" @click="goToBindEmail">绑定邮箱</div>
    </div>
  </div>

  <div v-if="!isApp" class="bottomenu">
    <table>
      <tr>
        <td @click="gotoNewH5homePage">
          <div class="menuimg"><img src="../../assets/H5img/indexm.png"></div>
          <div class="menuinfoh">首页</div>
        </td>
        <td @click="gotoShichang">
          <div class="menuimg"><img src="../../assets/H5img/shich.png"></div>
          <div class="menuinfoh">行情</div>
        </td>
        <td  @click="gotoJiaoyi">
          <div class="menuimg"><img src="../../assets/H5img/jiaoyi.png"></div>
          <div class="menuinfoh">交易</div>
        </td>
        <td>
          <div class="menuimg"><img src="../../assets/H5img/contract_select.png"></div>
          <div class="menuinfo">合约</div>
        </td>
        <td  @click="gotoZichan">
          <div class="menuimg"><img src="../../assets/H5img/zichan.png"></div>
          <div class="menuinfoh">资产</div>
        </td>
      </tr>
    </table>

  </div>

  <div class="hangqceb" v-show="isshowhangq">
    <div class="hangqtitle">
      <div class="hangqfont">行情</div>
      <div class="hangqclosetu" @click="openhangq"><img src="../../assets/H5img/hangqing.png" alt=""></div>
    </div>

    <div class="hangqdata"  v-for="(item,index) in item_list" :key="index"  @click="changeHeaderBoxFlag(item)">
      <div class="hangqbd">{{item.name.split('_')[0]}}<span>{{'/&nbsp;'+item.name.split('_')[1]}}</span></div>
      <div class="hangqprice"
           :class="diff24(item.open,item.close)<0?'hq-price-down':'hq-price-up'">
        {{toFixed(item.close, !!quoteScale_list[item.name] ? quoteScale_list[item.name].quoteScale : 8)}}</div>

    </div>

  </div>

  <div class="hangqceb_mb" v-show="isshowhangq"></div>
  <!--<div class="bottom-box"></div>-->

</div>
