<div :class="(isApp||isIOS) ? 'mobile-notice-box1' : 'mobile-notice-box'">
  <Loading v-if="loading"/>
    <div v-if="!loading" :class="(isApp||isIOS) ?'mobile-notice-title-box1':'mobile-notice-title-box'">
      <div :class="(isApp||isIOS) ? 'mobile-notice-title1':''">{{noticeInfo.title}}</div>
      <div class="mobile-notice-time">{{$globalFunc.formatDateUitl(noticeInfo.beginTime,'YYYY.MM.DD')}}发布</div>
    </div>
  <div v-show="!loading" :class="(isApp||isIOS) ?'mobile-notice-content1':'mobile-notice-content'" ref="noticeInfoContent">
    <!--{{noticeInfo.content}}-->
  </div>
</div>
