<div>
  <div class="recharge-box">
    <div class="header-box">
      <!--顶部标题及logo-->
      <div class="header-box-title">
        <!--<span  class="header-box-title-logo-box">-->
          <!--<img class="header-box-title-logo" :src="'http://logo.2020.exchange/' + (rechargeDetailData.currency == 'USDT2'?'USDT':rechargeDetailData.currency) +'.png'" alt="">-->
        <!--</span>-->
        {{rechargeDetailData.currency == 'USDT2' || rechargeDetailData.currency == 'USDT3' ?'USDT':rechargeDetailData.currency}}
      </div>

      <!--数量-->
      <div class="header-box-num">
        <span class="header-box-num-title">数量</span>
        <span class="header-box-num-container">{{toFixed(rechargeDetailData.amount,8)}}</span>
      </div>

      <!--状态-->

      <div class="header-box-state">
        <span class="header-box-state-title">状态</span>
        <!--<span v-if="rechargeDetailData.depositOk === true && rechargeDetailData.depositCancelled === false" class="header-box-state-container">成功</span>-->
        <span class="header-box-state-container">{{state(rechargeDetailData)}}</span>
        <!--<span v-if="rechargeDetailData.depositOk === false && rechargeDetailData.depositCancelled === false" class="header-box-state-container">充值中({{rechargeDetailData.confirms}}/{{rechargeDetailData.minimumConfirms}})</span>-->

      </div>

      <!--<div class="header-box-time">{{$globalFunc.formatDateUitl(rechargeDetailData.updatedAt,'MM-DD hh:mm:ss')}}</div>-->

      <!--<div v-if="rechargeDetailData.depositOk === true && rechargeDetailData.depositCancelled === false" class="header-box-state">成功</div>-->
      <!--<div v-if="rechargeDetailData.depositOk === false && rechargeDetailData.depositCancelled === true" class="header-box-state">被取消</div>-->
      <!--<div v-if="rechargeDetailData.depositOk === false && rechargeDetailData.depositCancelled === false" class="header-box-state">充值中({{rechargeDetailData.confirms}}/{{rechargeDetailData.minimumConfirms}})</div>-->
      <!--<div class="header-box-state">成功</div>-->
    </div>
    <div class="container-box">
      <!--地址-->
      <div class="container-box-address">
        <span class="container-box-address-title">地址</span>
        <span class="container-box-address-container">{{rechargeDetailData.toAddress}}</span>
      </div>

      <!--memo地址-->
      <div v-if="rechargeDetailData.memoAddress" class="container-box-txid">
        <span class="container-box-txid-title">memo(备注)</span>
        <span class="container-box-txid-container">{{rechargeDetailData.memoAddress}}</span>
      </div>

      <!--TXID-->
      <div class="container-box-txid">
        <span class="container-box-txid-title">Txid</span>
        <span class="container-box-txid-container">{{rechargeDetailData.uniqueId}}</span>
      </div>

      <!--日期-->
      <div class="container-box-time">
        <span class="container-box-time-title">日期</span>
        <span class="container-box-time-container">{{$globalFunc.formatDateUitl(rechargeDetailData.updatedAt,'YYYY-MM-DD hh:mm:ss')}}</span>
      </div>

      <!--复制和跳转txid按钮-->
      <div class="container-box-btn">
        <div class="container-box-address-btn" @click="jumpToCheckAddress(rechargeDetailData)">检查Txid</div>
        <div class="container-box-copy-btn" data-clipboard-target=".container-box-txid-container" @click="copyValue">复制Txid</div>
      </div>

      <!--<div class="container-box-title">-->
        <!--充值地址-->
      <!--</div>-->
      <!--<div class="container-box-address">{{rechargeDetailData.toAddress}}</div>-->

      <!--<div class="container-box-title">TXID</div>-->
      <!--<div class="container-box-txid">-->
        <!--<textarea readonly class="container-box-txid-text">{{rechargeDetailData.uniqueId}}</textarea>-->
        <!--<div class="container-box-copy-btn" data-clipboard-target=".container-box-txid-text" @click="copyValue">复制</div>-->
        <!--<div class="container-box-address-btn" @click="jumpToCheckAddress">检查</div>-->
      <!--</div>-->
    </div>
  </div>
  <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>

</div>
