<div class="mobile-container-box">
  <Loading v-if="loading"/>
  <div v-if="!loading" class="mobile-asset-container">
    <!--<div class="mobile-asset-detail-title">{{title}}</div>-->
    <!--<div class="mobile-asset-detail-least-num">估值 {{toFixed(mobileRechargeRecordData.appraisement,8)}} BTC</div>-->
    <div class="mobile-asset-detail">
      <div class="mobile-asset-detail-header">
        <div class="mobile-asset-detail-title">可用资产</div>
        <div class="mobile-asset-detail-title-able">{{toFixed(mobileRechargeRecordData.available,8)}} {{title}}</div>
      </div>
      <!--<div class="mobile-asset-detail-title-asset">-->
        <!--<span class="mobile-asset-detail-title-asset-title">可用：</span>-->
        <!--<span class="mobile-asset-detail-title-asset-able">{{toFixed(mobileRechargeRecordData.available,8)}}</span>-->
        <!--<span class="mobile-asset-detail-title-asset-title">冻结：</span>-->
        <!--<span class="mobile-asset-detail-title-asset-frozen">{{toFixed(mobileRechargeRecordData.frozen,8)}}</span>-->
      <!--</div>-->
      <div class="mobile-asset-detail-container">
        <div class="mobile-address-container1 mobile-address-item2" v-if="title == 'USDT' || title == 'USDT2'">链名称</div>
        <div class="mobile-address-item1 mobile-address-item2 mobile-address-item3" v-if="title == 'USDT' || title == 'USDT2'">

          <div v-if="withdrawalsFlagUSDT || !withdrawalsFlagUSDT2" class="mobile-address-ERC" @click="toggleStatus(1)"   :class="selectTab == 1 ? 'mobile-address-si' : ''">OMNI</div>
          <div v-if="!withdrawalsFlagUSDT && withdrawalsFlagUSDT2" class="mobile-address-OMNI-disabled">OMNI</div>
          <div v-if="withdrawalsFlagUSDT2 || !withdrawalsFlagUSDT" class="mobile-address-OMNI" @click="toggleStatus(2)" :class="selectTab == 2 ? 'mobile-address-si' : ''">ERC20</div>
          <div v-if="!withdrawalsFlagUSDT2 && withdrawalsFlagUSDT" class="mobile-address-OMNI-disabled">ERC20</div>

        </div>
        <div class="mobile-asset-detail-container-title">
          提现数量
          <span class="mobile-asset-detail-container-title-right">
            <!--<img class="mobile-asset-detail-container-title-right-icon" src="" alt="" @click="openWindowToast">-->
            最小提现：
            <span class="mobile-asset-detail-container-title-right-container">{{minimumAmount}} {{mobileRechargeRecordData.currency}}</span>
          </span>
        </div>
        <div class="mobile-asset-detail-container-input-box">
          <input class="mobile-asset-detail-container-input" :placeholder="'可提' + toFixed(mobileRechargeRecordData.available,8)"
                 type="number" v-model="withdrawInputPrice" @input="changeWithdrawInputPrice">
          <div class="mobile-asset-detail-container-input-all" @click="writeAllWithdrawPrice">全提</div>
        </div>
        <div class="mobile-asset-detail-container-price">
          <span class="mobile-asset-detail-container-price-title mobile-asset-detail-container-left">手续费：</span>
          <span class="mobile-asset-detail-container-price-text mobile-asset-detail-container-left">{{computedFee}} {{mobileRechargeRecordData.currency}}</span>
          <div class="clear"></div>
        </div>

        <div class="mobile-asset-detail-container-price">
          <span class="mobile-asset-detail-container-price-title mobile-asset-detail-container-left">实际到账：</span>
          <span class="mobile-asset-detail-container-price-text mobile-asset-detail-container-left">{{toFixed(realAccount,8)}} {{mobileRechargeRecordData.currency}}</span>
          <div class="clear"></div>
        </div>

        <div class="mobile-asset-detail-container-address-title">
          提现地址
          <span v-if="oldAddress.length > 0" class="mobile-asset-detail-container-address-title-right"
                @click="changeOldAddressToast(showAllOldAddress)">
            {{showAllOldAddress === true?'隐藏地址':'更多地址'}}
            <span v-if="showAllOldAddress" class="mobile-asset-detail-container-address-title-icon-up" ></span>
            <span v-if="!showAllOldAddress" class="mobile-asset-detail-container-address-title-icon-down"></span>
          </span>
        </div>

        <div v-if="showNewAddressToast && showAllOldAddress" style="margin-bottom: 0.2rem;">
          <div class="mobile-asset-detail-address-input-box">
            <input class="mobile-asset-detail-addressname-input" type="text" v-model="newName" placeholder="备注">
            <!--<span class="mobile-asset-detail-address-input-title">备注</span>-->
          </div>
          <div class="mobile-asset-detail-address-input-box">
            <input class="mobile-asset-detail-address-input" type="text" v-model="newAddress" placeholder="地址">
            <!--<span class="mobile-asset-detail-address-input-title">地址</span>-->
          </div>
        </div>

        <div v-if="showNewAddressToast && showAllOldAddress && isMemo" class="mobile-asset-detail-container-address-title">
          memo(备注)
        </div>

        <div v-if="showNewAddressToast && showAllOldAddress && isMemo" style="margin-bottom: 0.2rem;">
          <div class="mobile-asset-detail-address-input-box">
            <input class="mobile-asset-detail-addressname-input" type="text" v-model="newMemo" placeholder="添加memo">
          </div>
        </div>

        <!--WCG的publicKey-->
        <div v-if="isWCG && showNewAddressToast" class="mobile-asset-detail-container-address-title">
          publicKey
        </div>
        <div v-if="isWCG && showNewAddressToast" style="margin-bottom: 0.2rem;">
          <div class="mobile-asset-detail-address-input-box">
            <input class="mobile-asset-detail-addressname-input" type="text" v-model="newPublicKey" placeholder="添加publicKey">
          </div>
        </div>
        <!--WCG的publicKey结束-->

        <div v-if="oldAddress!='' && !showAllOldAddress" class="mobile-asset-detail-container-address-box">
          <div class="mobile-asset-detail-container-address-detail-address">
            <div class="mobile-asset-detail-container-address-detail-left">备注</div>
            <div class="mobile-asset-detail-container-address-detail-right" v-show="selectTab === 1">{{defaultName}}</div>
            <div class="mobile-asset-detail-container-address-detail-right" v-show="selectTab === 2">{{defaultName}}</div>

          </div>
          <div class="mobile-asset-detail-container-address-detail-address">
            <div class="mobile-asset-detail-container-address-detail-left">地址</div>
            <div class="mobile-asset-detail-container-address-detail-right" v-show="selectTab === 1">{{defaultAddress}}</div>
            <div class="mobile-asset-detail-container-address-detail-right" v-show="selectTab === 2">{{defaultAddress}}</div>

          </div>
          <div v-if="isMemo" class="mobile-asset-detail-container-address-detail-address">
            <div class="mobile-asset-detail-container-address-detail-left">memo(备注)</div>
            <div class="mobile-asset-detail-container-address-detail-right">{{defaultMemo}}</div>

          </div>
        </div>

        <div v-if="oldAddress ==='' && !showAllOldAddress && !showNewAddressToast"
             class="mobile-asset-detail-container-address-input-box" @click="openNewAddressToast">
          <div class="mobile-asset-detail-container-input-btn">
            <span class="mobile-asset-detail-container-input-btn-icon"></span>
            <span class="mobile-asset-detail-container-input-btn-text">新增地址</span>
          </div>
        </div>


        <div v-if="showAllOldAddress">
          <div v-for="(item,index) in oldAddress" :key="item.createdAt"
               class="mobile-asset-detail-container-address-box">
            <div class="mobile-asset-detail-container-address-detail-address" @click="chooseAddressItem(item)">
              <div class="mobile-asset-detail-container-address-detail-left">备注</div>
              <div class="mobile-asset-detail-container-address-detail-right">{{item.description}}</div>
            </div>
            <div class="mobile-asset-detail-container-address-detail-address" @click="chooseAddressItem(item)">
              <div class="mobile-asset-detail-container-address-detail-left">地址</div>
              <div class="mobile-asset-detail-container-address-detail-right">{{item.address}}</div>
            </div>
            <div v-if="isMemo === true" class="mobile-asset-detail-container-address-detail-address" @click="chooseAddressItem(item)">
              <div class="mobile-asset-detail-container-address-detail-left">memo(备注)</div>
              <div class="mobile-asset-detail-container-address-detail-right">{{item.memoAddress}}</div>
            </div>
            <div class="mobile-asset-detail-container-address-detail-address-delete"
                 @click="deleteAddressItem(item)">
            </div>
          </div>
          <div v-if="!showNewAddressToast" class="mobile-asset-detail-container-address-input-box"
               @click="openNewAddressToast">
            <div class="mobile-asset-detail-container-input-btn">
              <span class="mobile-asset-detail-container-input-btn-icon"></span>
              <span class="mobile-asset-detail-container-input-btn-text">新增地址</span>
            </div>
          </div>
        </div>

        <div v-if="isMemo && showAllOldAddress === false" class="memo-notice-info">注：memo填写错误将会导致资产丢失，请仔细核对！若钱包无memo，请输入任意字符。</div>
      </div>
    </div>
    <div v-if="isMemo && showAllOldAddress === true" class="memo-notice-info-fixed">注：memo填写错误将会导致资产丢失，请仔细核对！若钱包无memo，请输入任意字符。</div>

    <div class="mobile-asset-detail-container-commit-btn btn_blue" @click="submitStepOne">提交</div>
  </div>
  <!--弹窗-->
  <div v-if="windowToastFlag" class="window-toast">
    <div class="window-toast-box">
      <p class="window-toast-text">请勿直接提现至众筹或ICO地址，我们不会处理未来代币的发放；</p>
      <p class="window-toast-text">提现请求申请成功后，请去邮箱点击链接确认本次提现请求；</p>
      <p class="window-toast-text">您可以在充值提现 历史记录 页面跟踪状态。</p>
      <div class="window-toast-close-btn" @click="closeWindowToast">我知道了</div>
    </div>
  </div>

  <!--所有提示-->
  <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>

  <!--邮箱弹窗-->
  <div v-if="mobileToastOneFlag" class="mobile-toast-box">
    <!--<div class="mobile-asset-detail-title">{{mobileRechargeRecordData.currency}}</div>-->
    <div class="mail-container-box-title">{{sendMailMsg}}</div>

    <!--发送验证码-->
    <div class="mail-container-box"
         :class="{'wrong-answer':mailCodeWA!=''}">
      <!--<span class="mail-input-title-icon-box">-->
        <!--<img class="mail-input-title-icon" src="../../assets/h5form/mobile_mail.png" alt="">-->
      <!--</span>-->
      <input type="text" v-model="mailCode" @focus="closeMailWrong" placeholder="邮箱验证码" class="mail-input-container" />
      <div class="cutter-line">|</div>
      <span v-if="!getMailCode" class="mail-input-btn-on" @click="getMailVerificationCode">获取</span>
      <span v-if="getMailCode" class="mail-input-btn-on">{{getEmailVerificationCodeCountdown}}</span>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="unit-input-interval txt-red">
      <span v-if="mailCodeWA!=''">{{mailCodeWA}}</span>
    </div>
    <div class="mail-submit-btn" @click="submitStepTwo">确定</div>
  </div>


  <!--二级验证-->
  <!--<div class="mobile-toast-box">-->
  <div v-if="mobileToastTwoFlag" class="mobile-toast-box">

    <!--<div class="mobile-asset-detail-title">{{mobileRechargeRecordData.currency}}</div>-->

    <!--选择什么方式验证-->
    <div v-if="secondShowPicker" class="mobile-input-checkbox-box">
    <!--<div class="mobile-input-checkbox-box">-->
      <div class="mobile-input-checkbox-box-item" :class="secondPicker==1?'mobile-input-checkbox-box-item-selector mobile-input-checkbox-box-item':''" @click="changeSecondPicker(1)">谷歌验证码</div>
      <div class="mobile-input-checkbox-box-item" :class="secondPicker==2?'mobile-input-checkbox-box-item-selector':''" @click="changeSecondPicker(2)">手机验证码</div>
      <!--<div class="prompt-show-picker-detail-box">-->
        <!--<input type="radio" name="picker" value="1" placeholder="请输入谷歌验证码" id="pick-ga" v-model="secondPicker">-->
        <!--<label for="pick-ga">谷歌验证</label>-->
      <!--</div>-->
      <!--<div class="prompt-show-picker-detail-box">-->
        <!--<input type="radio" name="picker" value="2" placeholder="请输入手机验证码" id="pick-mobile" v-model="secondPicker">-->
        <!--<label for="pick-mobile">手机验证</label>-->
      <!--</div>-->
    </div>

    <!--<div v-if="!secondShowPicker" class="mobile-input-none-checkbox-box"></div>-->

    <!--谷歌验证码-->
    <div v-if="secondPicker==1" class="google-container-box"
         :class="{'wrong-answer':googleCodeWA!=''}">
      <!--<span class="google-input-title-icon-box">-->
        <!--<img class="google-input-title-icon" src="../../assets/h5form/mobile_google.png" alt="">-->
      <!--</span>-->
      <input type="text" v-model="googleCode" placeholder="谷歌验证码" class="google-input-container" />
      <div class="clear"></div>
    </div>
    <div v-if="secondPicker==1" class="clear"></div>
    <div v-if="secondPicker==1" class="unit-input-interval txt-red">
      <span v-if="googleCodeWA!=''">{{googleCodeWA}}</span>
    </div>

    <!--手机验证码-->
    <div v-if="secondPicker==2" class="phone-container-box"
         :class="{'wrong-answer':phoneCodeWA!=''}">
      <!--<span class="phone-input-title-icon-box">-->
        <!--<img class="phone-input-title-icon" src="../../assets/h5form/mobile_phone.png" alt="">-->
      <!--</span>-->
      <input type="text" v-model="phoneCode" placeholder="手机验证码"  class="phone-input-container" />
      <div class="cutter-line">|</div>
      <span v-if="!getMobileVerificationCode" class="phone-input-btn-on" @click="getMobileVerification">获取</span>
      <span v-if="getMobileVerificationCode" class="phone-input-btn-on">{{getMobileVerificationCodeCountdown}}</span>
      <div class="clear"></div>
    </div>
    <div v-if="secondPicker==2" class="clear"></div>
    <div v-if="secondPicker==2" class="unit-input-interval txt-red">
      <span v-if="phoneCodeWA!=''">{{phoneCodeWA}}</span>
    </div>
    <div class="all-submit-btn" @click="submitStepThree()">确定</div>
  </div>


  <!--memo toast弹窗提示-->

  <div v-if="memoToastShow&&!loading" class="memo-toast">
    <div class="memo-toast-box">
      <div class="memo-toast-box-close-btn-box" @click="closeMemoToast">
        <img class="memo-toast-box-close-btn" src="../../assets/mobile_img/mobile_asset_commen/h5_toast_close_btn.png" alt="">
      </div>
      <div class="memo-toast-title">提示</div>
      <div class="memo-toast-body">提现{{title}}到二零二零须同时具备提现地址及{{title}} memo (备注) , 未遵守{{title}}提现规则将导致资产无法找回。</div>
      <div class="memo-checkbox-box">
        <div class="memo-checkbox">
          <MobileCheckbox :bgColor="'light'" :agreement="memoAgreement" :changeAgreement='changeAgreement'></MobileCheckbox>
          我已知晓{{title}}提现规则
        </div>
      </div>
      <div class="memo-confirm-btn" :class="memoAgreement===false?'memo-confirm-btn-no-use':'btn_blue'" @click="memoConfirm">继续提现</div>
    </div>
  </div>
</div>
