<div>
  <!--没有数据的样式-->
  <div v-if="records.length == 0" class="no-item-box">
    <img class="no-item-box-item" src="../../assets/no-record-icon-H5@2x.png" alt="">
    <div class="no-item-box-text">暂无记录</div>
  </div>

  <div v-else class="position-box-item" v-for="(item,index) in records">
    <!--币对名称-->
    <div class="ps-symbol-box flex-between">
      <div class="flex-row">
        <div v-if="(item.positionAmt || 0) > 0" class="ps-type ps-long">L</div>
        <div v-else class="ps-type ps-short">S</div>
        <div class="ps-symbol">{{item.symbol}}</div>
        <img v-if="item.adlQuantile == undefined" class="ps-reduce-positions" src="../../assets/H5img/mobile_reduce_ps_0.png" alt="">
        <img v-if="item.adlQuantile == 0" class="ps-reduce-positions" src="../../assets/H5img/mobile_reduce_ps_0.png" alt="">
        <img v-if="item.adlQuantile == 1" class="ps-reduce-positions" src="../../assets/H5img/mobile_reduce_ps_1.png" alt="">
        <img v-if="item.adlQuantile == 2" class="ps-reduce-positions" src="../../assets/H5img/mobile_reduce_ps_2.png" alt="">
        <img v-if="item.adlQuantile == 3" class="ps-reduce-positions" src="../../assets/H5img/mobile_reduce_ps_3.png" alt="">
        <img v-if="item.adlQuantile == 4" class="ps-reduce-positions" src="../../assets/H5img/mobile_reduce_ps_4.png" alt="">
      </div>

      <div @click="SHOW_POSTER(index)">
        <img class="ps-share" src="../../assets/fenxiang.png" alt="">
      </div>
    </div>
    <!--杠杆倍数-->
    <div class="s-d-leverage-box flex-row">
      <span class="security-deposit-model">{{item.marginType == 'cross'?'全仓':'逐仓'}}</span>
      <span class="leverage-val">{{$store.state.leverage}}X</span>
    </div>
    <!--其他详细数据1-->
    <div class="ps-detail-box flex-row">
      <div class="ps-detail-left flex-colum">
        <div class="ps-detail-tittle">数量(BTC)</div>
        <div class="ps-detail-amount" :class="(item.positionAmt || 0) > 0 ?'text-green':'text-red'">{{toFixed(item.positionAmt,3) || 0}}</div>
      </div>
      <div class="ps-detail-middle flex-colum">
        <div class="ps-detail-tittle">PNL(ROE%)</div>
        <div class="ps-detail-amount" :class="item.unrealizedProfitPage > 0?'text-green':'text-red'">{{Number(item.unrealizedProfitPage || 0).toFixed(2) }} ({{item.responseRate}})</div>
      </div>
      <div class="ps-detail-right flex-colum">
        <div class="ps-detail-tittle">保证金</div>
        <div class="ps-detail-amount">{{!!item.securityDeposit && Number(item.securityDeposit).toFixed(2) || '-'}}
          <span class="modify-margin pointer" v-if="item.marginType == 'isolated'" @click="openModifyMargin(item)"></span>
        </div>
      </div>
    </div>
    <!--其他详细数据2-->
    <div class="ps-detail-box flex-row">
      <div class="ps-detail-left flex-colum">
        <div class="ps-detail-tittle">开仓价格</div>
        <div class="ps-detail-amount">{{!!item.entryPrice && Number(item.entryPrice).toFixed(2) || '-'}}</div>
      </div>
      <div class="ps-detail-middle flex-colum">
        <div class="ps-detail-tittle">标记价格</div>
        <div class="ps-detail-amount">{{!!markPrice && Number(markPrice).toFixed(2) || '-'}}</div>
      </div>
      <div class="ps-detail-right flex-colum">
        <div class="ps-detail-tittle">强平价格</div>
        <div class="ps-detail-amount">{{!!item.liquidationPrice && Number(item.liquidationPrice).toFixed(2) || '-'}}</div>
      </div>
    </div>
    <!--操作按钮-->
    <div class="ps-btn-box flex-between">
<!--      <div class="ps-btn">调整杠杆</div>-->
      <div class="ps-btn" @click="openPopWindowOpenPs(item)">平仓</div>
      <div class="ps-btn" @click="openBackHand(item,'back_hand','backHand')">反手</div>
    </div>
  </div>

  <!--平仓弹窗 begin-->
  <PositionModeBulletBox :switch="popWindowOpenPs" @close="popWindowClosePs" >
    <div slot="header" class="header-bck">
      <div>{{capitalSymbol}}平仓</div>
    </div>
    <div slot="article"class="pop-lock-house">

      <div class="flex-between">
        <div class="price-ipt flex-between">
          <input v-if="orderTypes == '限价'" type="text" class="currency-price-ipt" v-model="inputBoxPrice" >
          <input v-if="orderTypes == '市价'" disabled type="text" class="currency-price-ipt" v-model="inputBoxPrice" >
          <div>USDT</div>
        </div>

        <div class="limit-market flex-between">
          <div>{{orderTypes}}</div>
          <img src="../../assets/change_limit_market.png" alt="" @click="changeType">
        </div>
<!--        <div class="">市价</div>-->
      </div>

      <div class="amount-ipt flex-between">
        <input type="text" class="currency-amount-ipt" v-model="inputBoxAmount">
        <div>BTC</div>
      </div>
      <div class="progress-box-all flex-between">
        <div class="progress-box " :class="{'progress-box-blue': numed == 0.2}" @click="amountPercentage(0.2)">20%</div>
        <div class="progress-box" :class="{'progress-box-blue': numed == 0.4}" @click="amountPercentage(0.4)">40%</div>
        <div class="progress-box" :class="{'progress-box-blue': numed == 0.6}" @click="amountPercentage(0.6)">60%</div>
        <div class="progress-box" :class="{'progress-box-blue': numed == 0.8}" @click="amountPercentage(0.8)">80%</div>
        <div class="progress-box" :class="{'progress-box-blue': numed == 1}" @click="amountPercentage(1)">100%</div>
      </div>

      <div class="flex-between unrealized" >
        <div>预计盈亏</div>
        <div class="unrealized-num text_blue">{{popUnrealizedProfitNew}} USDT</div>
      </div>
      <div class="money-confirmation" @click="openSplicedFrame">确认</div>
      <!--确认不可点击状态-->
      <!--      <div class="money-confirmation-ash">确认</div>-->
    </div>
  </PositionModeBulletBox>
  <!--  平仓弹窗 End-->

  <!-- 限价市价平仓弹窗 begin -->
  <PopupWindow :switch="showSplicedFrame" @close="closeFrame" :pop_width="false" >
    <div slot="header">
      <span class="pop-header">提示</span>
    </div>
    <div slot="article" class="pop-article">
      <!--      <p>{{$t('orderPageCurrentEntrustment.promptArticle')}}</p>-->
      <p>{{splicedFrameText}}</p>
    </div>

    <div slot="footer" class="pop-footer flex-center">
      <button @click="closeFrame" class="button-base btn-border mr-tempty pointer">{{$t('orderPageCurrentEntrustment.close')}}
      </button>
      <button v-if="!marketPriceClick" @click="confirmFrame" class="button-base  btn_blue pointer">
        {{$t('orderPageCurrentEntrustment.ensure')}}
      </button>
      <button v-if="marketPriceClick" class="button-base btn_blue pointer" disabled>
        请求中
      </button>
    </div>
  </PopupWindow>
  <!-- 限价市价平仓弹窗 end -->

  <!-- 增加减少保证金弹窗 begin -->
  <PositionModeBulletBox :switch="modifyMarginOpen" @close="modifyMarginClose">
    <div slot="header" class="calculator-title flex">
      <div class="positionMode-tit pointer" :class="{'border-bottom':styleType == 1}" @click="selectType(1)">增加保证金</div>
      <div class="positionMode-tit pointer" :class="{'border-bottom':styleType == 2}" @click="selectType(2)">减少保证金</div>
    </div>
    <div slot="article" class="pop-article-margin">
      <div v-if="styleType == 1">
        <div class="modify-margin-box">
          <div class="total-money">总额（USDT）</div>
          <div class="modify-margin-input flex">
            <input type="text" placeholder="输入金额" v-model="increaseAmount">
            <div class="modify-margin-text">最大：{{toFixed(availableBalance,2)}} USDT</div>
          </div>
          <div>{{AmountText}}</div>
        </div>
        <!--当前仓位保证金 USDT-->
        <div class="modify-margin-des flex">
          <div class="modify-margin-des-title">当前仓位保证金 USDT：</div>
          <div class="modify-margin-des-number">{{securityDeposit}} USDT</div>
        </div>
        <!--可用余额-->
        <div class="modify-margin-des flex">
          <div class="modify-margin-des-title">可用余额：</div>
          <div class="modify-margin-des-number">{{toFixed(availableBalance || 0,2)}} USDT</div>
        </div>
        <!--调整后强平价格-->
        <!--        <div class="modify-margin-des flex">-->
        <!--          <div class="modify-margin-des-title">调整后强平价格：</div>-->
        <!--          <div class="modify-margin-des-number">{{toFixed(Number(liquidationPrice),2)}} USDT</div>-->
        <!--        </div>-->
      </div>

      <div v-if="styleType == 2">
        <div class="modify-margin-box">
          <div class="total-money">总额（USDT）</div>
          <div class="modify-margin-input flex">
            <input type="text" placeholder="输入金额" v-model="reduceAmount">
            <div class="modify-margin-text">最大：{{reduceMostAmount1}} USDT</div>
          </div>
        </div>
        <!--当前仓位保证金 USDT-->
        <div class="modify-margin-des flex">
          <div class="modify-margin-des-title">当前仓位保证金 USDT：</div>
          <div class="modify-margin-des-number">{{securityDeposit}} USDT</div>
        </div>
        <!--最多可减少-->
        <div class="modify-margin-des flex">
          <div class="modify-margin-des-title">最多可减少：</div>
          <div class="modify-margin-des-number">{{reduceMostAmount1}} USDT</div>
        </div>
        <!--减少后强平价格-->
        <!--        <div class="modify-margin-des flex">-->
        <!--          <div class="modify-margin-des-title">减少后强平价格：</div>-->
        <!--          <div class="modify-margin-des-number">{{toFixed(Number(liquidationPrice),2)}} USDT</div>-->
        <!--        </div>-->
      </div>

      <div class="pop-footer flex-center">
        <div class="modify-margin-commit" v-if="!controlType" @click="commitModifyMargin">确认</div>
        <div class="modify-margin-commit" v-if="controlType">确认中</div>
      </div>

    </div>
    <!--<div slot="footer" class="">-->
      <!--<div class="modify-margin-commit" v-if="!controlType" @click="commitModifyMargin">确认</div>-->
      <!--<div class="modify-margin-commit" v-if="controlType">确认中</div>-->
    <!--</div>-->
  </PositionModeBulletBox>
  <!-- 增加减少保证金弹窗 end -->

  <!-- 分享海报  -->

  <!-- 专属海报 start -->
  <div class="prompt-qrcode" v-show="showPoster">
    <div class="show_poster_body" @click="HIDE_POSTER()">
      <template>
        <el-select class="account_number_input" value-key="currencyKey" v-model="currencyValue" filterable placeholder="">
          <el-option
            v-for="(item,index) in accountsComputed"
            :label="item.a"
            :value="item.a"
            :key="index"
          ></el-option>
        </el-select>
      </template>
      <div class="loading-box" v-if="loadingImage">
        <Loading></Loading>
      </div>
<!--      <p class="copy_poster">✽{{$t('personalCenter.poster_2')}}</p>-->
      <img :src="poster_url" class="img-width" v-if="!loadingImage" @click.stop="notClick($event)">
      <div class="prompt-qrcode-box-info">{{isApp ? 'APP暂请截图分享':'长按图片保存至手机'}}</div>
      <img class="close_icon"  src="../../assets/wrong-close.png" alt="">
    </div>
  </div>
  <!-- 专属海报 end -->


<!--  <SharingInvitationPc :switch="showPoster" @close="HIDE_POSTER">-->
<!--    <div slot="header" class="pop-article1">-->
<!--      <template>-->
<!--        <el-select class="account_number_input" value-key="currencyKey" v-model="currencyValue" filterable placeholder="">-->
<!--          <el-option-->
<!--            v-for="item in accountsComputed"-->
<!--            :label="item.a"-->
<!--            :value="item.a"-->
<!--          >-->
<!--          </el-option>-->
<!--        </el-select>-->
<!--      </template>-->
<!--      <p class="copy_poster">✽{{$t('personalCenter.poster_2')}}</p>-->
<!--      <img src="../../assets/selected_noVIP_icon.png" width="100%">-->
<!--      <div class="shouuu">收益以</div>-->
<!--    </div>-->
<!--  </SharingInvitationPc>-->




  <PopupPrompt :popType="popType" :popText="popText" :popOpen="promptOpen" :popClose="closePrompt"></PopupPrompt>

</div>
