<div class="_m_bg2_root">

    <div class="_m_bg2_tit">绑定谷歌验证码</div>

    <div class="_m_bg2_iptw">
        <p>填写登录密码</p>
        <input type="password" v-model="psw" :class="{'wrong-border':pswWA!==''}" @blur="testPsw">
        <span v-if="pswWA!==''">{{pswWA}}</span>
    </div>

    <div class="_m_bg2_iptw">
        <p>填写谷歌验证码</p>
        <input type="text" v-model="verificationCode" :class="{'wrong-border':verificationCodeWA!==''}"
               @blur="testVerificationCode">
        <span v-if="verificationCodeWA!==''">{{verificationCodeWA}}</span>
    </div>

    <div v-if="!sending" class="_m_bg2_btn" @click="commit">确认</div>
    <div v-else disabled class="_m_bg2_btn">绑定中</div>

</div>