<div class="mobile-follow-trade">
  <!--ios status栏-->
  <div v-if="(isApp)" class="mobile-status-bar-ios"/>
  <div v-if="(isApp)" class="mobile-status-bar-bg-ios"/>

  <!--头部-->
  <div :class="(isApp) ? 'mobile-header-ios' : 'fund-buy-header-title' ">
    <div class="fund-buy-header-title-back-icon" @click="jumpToBack">
      <img class="fund-buy-header-title-back-icon-img" src="../../assets/back_icon.png" alt="">
    </div>
    <div class="fund-buy-header-title-text">合约记录</div>
  </div>

  <!--  历史委托-->
  <div class="container-box" v-if="!loading">
    <div  class="withdraw-list">
      <div  class="histor-withdraw-item border-bot">
        <!--时间-->
        <div class="flex box-padding padding-bot">
          <!-- 币种-->
          <div class="symbol-flex">{{historicaList0.symbol}}</div>
          <!--方向-->
          <div class="td-category" :class="historicaList0.side==='BUY'?'text_blue-3':'text_red-4'">
            {{$globalFunc.getOrderSide(historicaList0.positionSide,historicaList0.side)}}
          </div>
          <!--订单类型 begin -->
          <div class="td-category-text td-time1 tar">全部成交(100%)</div>
          <!--订单类型 end -->
        </div>

        <div class="flex box-border box-padding">
          <div class="td-time1 piaoti-text color-A">
            <div class="td-time margin-bot1">类型</div>
            <div class="td-time margin-bot1">成交均价</div>
            <div class="td-time1">只减仓</div>
          </div>
          <div class="td-time1 piaoti-text color-D tar">
            <!--订单类型 begin -->
            <div class="td-time margin-bot1" v-if="this.$route.query.order.type == 'LIMIT'">限价单</div>
            <div class="td-time margin-bot1" v-if="this.$route.query.order.type == 'MARKET'">市价单</div>
            <div class="td-time margin-bot1" v-if="this.$route.query.order.type == 'STOP'">止损限价单</div>
            <div class="td-time margin-bot1" v-if="this.$route.query.order.type == 'STOP_MARKET'">止损市价单</div>
            <div class="td-time margin-bot1" v-if="this.$route.query.order.type == 'TAKE_PROFIT'">止盈限价单</div>
            <div class="td-time margin-bot1" v-if="this.$route.query.order.type == 'TAKE_PROFIT_MARKET'">止盈市价单</div>
            <div class="td-time margin-bot1" v-if="this.$route.query.order.type == 'TRAILING_STOP_MARKET'">跟踪止损单</div>
            <!--订单类型 end -->
            <div class="td-time margin-bot1">{{historicaList0.price !=0 ? toFixed(historicaList0.price, 2) : '--'}}</div>
            <div class="td-time1">{{historicaList0.reduceOnly? '是':'否'}}</div>
          </div>
        </div>
        <div class="flex box-padding2">
          <div class="td-time1 piaoti-text color-A">
            <div class="td-time margin-bot1">手续费</div>
            <div class="td-time margin-bot1">实现盈亏</div>

          </div>
          <div class="td-time1 piaoti-text color-D tar">
            <div class="td-time margin-bot1">{{totalRealizedPnl}}</div>
            <div class="td-time margin-bot1">{{totalCommission}}</div>
          </div>
        </div>

        <div class="mobile-box"></div>
        <div class="mobile-detail">
          <div class="mobile-details">详情</div>
          <div class="flex mobile-fenjie">
            <div class="td-time">日期</div>
            <div class="td-time">数量/价格</div>
            <div class="td-time1 tar">已实现盈亏/手续费</div>
          </div>
          <div v-if="histortyOrderDetail != 0" v-for="(item,index) in histortyOrderDetail" >
            <div class="flex mobile-fenjie-details">
              <div class="td-time mobile-time">{{$globalFunc.formatDateUitl(item.time,'MM-DD hh:mm')}}</div>
              <div class="td-time">
                <div class="mobile-pr">{{item.qty}}</div>
                <div class="mobile-ying">{{toFixed(item.price, !!quoteScale_list[symbol] ? quoteScale_list[symbol].quoteScale : 2)}}</div>
              </div>
              <div class="td-time1 tar">
                <div class="mobile-kui">{{toFixed(item.realizedPnl,8)}} {{item.commissionAsset}}</div>
                <div class="mobile-ying">{{toFixed(item.commission, 8)}} {{item.commissionAsset}}</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
