<div>
  <div class="header-title-list">
    <div class="header-title-item" :class="openType===1? 'header-title-item-active':''" @click="changeOpenType(1)">
      充币
    </div>
    <div class="header-title-item" :class="openType===2? 'header-title-item-active':''" @click="changeOpenType(2)">
      提币
    </div>
    <div class="header-title-item" :class="openType===4? 'header-title-item-active':''" @click="changeOpenType(4)">
      划转
    </div>
    <div class="header-title-item" :class="openType===5? 'header-title-item-active':''" @click="changeOpenType(5)">
      转账
    </div>
    <div class="header-title-item" :class="openType===3? 'header-title-item-active':''" @click="changeOpenType(3)">
      奖励
    </div>
  </div>
  <Loading v-if="loading" class="min-height-all recharge-record-loading-container"/>
  <!--充币记录内容-->
  <div v-show="!loading && openType===1" class="container-box">
    <!--没有充币记录的样式-->
    <div v-if="computedRecord.length === 0" class="no-item-box">
      <img class="no-item-box-item" src="../../assets/no-record-icon-H5@2x.png" alt="">
      <div class="no-item-box-text">没有充币记录</div>
    </div>
    <!--有充币记录的样子-->
    <div v-if="computedRecord.length !== 0" class="recharge-list">
      <div v-for="(item,index) in computedRecord" :key="item.id" class="recharge-item" @click="toRechargeDetailPath(item)">
        <div class="recharge-item-title">{{item.currency== 'USDT2' ? 'USDT' :item.currency}}</div>
        <div class="recharge-item-time">{{$globalFunc.formatDateUitl(item.updatedAt,'YYYY-MM-DD hh:mm:ss')}}</div>
        <div class="recharge-item-num">
          <!--<span class="recharge-item-num-title">数量</span>-->
          <span class="recharge-item-num-detail">{{toFixed(item.amount,8)}}</span>
        </div>
        <div class="recharge-item-state">{{state(item)}}</div>
        <!--<div v-if="item.depositOk === false && item.depositCancelled === true" class="recharge-item-state">被取消</div>-->
        <!--<div v-if="item.depositOk === false && item.depositCancelled === false" class="recharge-item-state">充币中({{item.confirms}}/{{item.minimumConfirms}})</div>-->
        <!--<div class="recharge-item-right"></div>-->
      </div>

      <div v-if="ajaxRecordFlag" class="recharge-list-loading">
        <Loading/>
      </div>

      <div class="recharge-list-no-more" v-if="computedRecord.length !== 0 && isShowGetMoreRecord === false">已经全部加载完毕</div>
    </div>
    <div v-if="computedRecord.length !== 0 && isShowGetMoreRecord === true && !ajaxRecordFlag" class="withdraw-list-btn-get-more" @click="getRecord()">加载更多</div>
  </div>
  <!--提币记录内容-->
  <div v-show="!loading && openType===2" class="container-box">
    <!--没有充币记录的样式-->
    <div v-if="computedWithdraw.length === 0" class="no-item-box">
      <img class="no-item-box-item" src="../../assets/no-record-icon-H5@2x.png" alt="">
      <div class="no-item-box-text">没有提币记录</div>
    </div>
    <!--有充币记录的样子-->
    <div v-if="computedWithdraw.length !== 0" class="withdraw-list">
      <!--<div class="withdraw-item">-->
        <!--<div class="withdraw-item-title">BDB</div>-->
        <!--<div class="withdraw-item-time">1-12 12:12:20</div>-->
        <!--<div class="withdraw-item-num">-->
          <!--<span class="withdraw-item-num-title">数量</span>-->
          <!--<span class="withdraw-item-num-detail">1.23232323</span>-->
        <!--</div>-->
        <!--<div class="withdraw-item-state">充币中(2/6)</div>-->
        <!--<div class="withdraw-item-right"></div>-->
      <!--</div>-->
      <div v-for="(item,index) in computedWithdraw" :key="item.id" class="withdraw-item" @click="toWithdrawDetailPath(item)">
        <div @click="toWithdrawDetailPath(item)">
          <div class="withdraw-item-title">{{item.currency== 'USDT2' ? 'USDT' :item.currency}}</div>
          <div class="withdraw-item-time">{{$globalFunc.formatDateUitl(item.updatedAt,'YYYY-MM-DD hh:mm:ss')}}</div>
          <div class="withdraw-item-num">
            <!--<span class="withdraw-item-num-title">数量</span>-->
            <span class="withdraw-item-num-detail">{{toFixed(item.amount,8)}}</span>
          </div>
          <!--<div class="withdraw-item-right"></div>-->
        </div>
        <div v-if="item.status === 'SUBMITTED'" class="withdraw-item-state">已提交</div>
        <div v-if="item.status === 'WAITING_FOR_APPROVAL'" class="withdraw-item-state">待审核</div>
        <div v-if="item.status === 'WAITING_FOR_WALLET'" class="withdraw-item-state">待处理</div>
        <div v-if="item.status === 'DENIED'" class="withdraw-item-state">被驳回</div>
        <div v-if="item.status === 'PROCESSING'" class="withdraw-item-state">处理中</div>
        <div v-if="item.status === 'FAILED'" class="withdraw-item-state">失败</div>
        <div v-if="item.status === 'CANCELLED'" class="withdraw-item-state">已撤销</div>
        <div v-if="item.status === 'DONE'" class="withdraw-item-state">已汇出</div>
      </div>

      <div v-if="ajaxWithdrawFlag" class="recharge-list-loading">
        <Loading/>
      </div>

      <div class="withdraw-list-no-more" v-if="computedWithdraw.length !== 0 && isShowGetMoreWithdraw === false">已经全部加载完毕</div>
    </div>
    <div v-if="computedWithdraw.length !== 0 && isShowGetMoreWithdraw === true && !ajaxWithdrawFlag" class="withdraw-list-btn-get-more" @click="getWithdraw()">加载更多</div>
  </div>


  <!--奖励记录内容-->
  <div v-show="!loading && openType===3" class="container-box">
    <!--没有奖励记录的样式-->
    <div v-if="ActivityRecord.length === 0" class="no-item-box">
      <img class="no-item-box-item" src="../../assets/no-record-icon-H5@2x.png" alt="">
      <div class="no-item-box-text">没有奖励记录</div>
    </div>
    <!--有奖励记录的样子-->
    <div v-if="ActivityRecord.length !== 0" class="withdraw-list">
      <!--<div class="withdraw-item">-->
      <!--<div class="withdraw-item-title">BDB</div>-->
      <!--<div class="withdraw-item-time">1-12 12:12:20</div>-->
      <!--<div class="withdraw-item-num">-->
      <!--<span class="withdraw-item-num-title">数量</span>-->
      <!--<span class="withdraw-item-num-detail">1.23232323</span>-->
      <!--</div>-->
      <!--<div class="withdraw-item-state">充币中(2/6)</div>-->
      <!--<div class="withdraw-item-right"></div>-->
      <!--</div>-->
<!--      @click="toRewardRecord(item)"-->
      <div v-for="(item,index) in ActivityRecord" :key="item.id" class="withdraw-item" @click="toRewardRecord(item)">
        <div>
          <div class="withdraw-item-title">{{item.currency== 'USDT2' ? 'USDT' :item.currency}}量化
<!--          <span class="grcActivity">(量化活动)</span>-->
          </div>

          <div class="withdraw-item-time">{{$globalFunc.formatDateUitl(item.updatedAt,'YYYY-MM-DD hh:mm:ss')}}</div>
          <div class="withdraw-item-num">
            <!--<span class="withdraw-item-num-title">数量</span>-->
            <span class="withdraw-item-num-detail">{{toFixed(item.amount,2)}}</span>
          </div>
          <!--<div class="withdraw-item-right"></div>-->
        </div>
        <div v-if="item.status === 'DONE'" class="withdraw-item-state">已发放</div>
<!--        <div v-if="item.status === 'WAITING_FOR_APPROVAL'" class="withdraw-item-state">待审核</div>-->
<!--        <div v-if="item.status === 'WAITING_FOR_WALLET'" class="withdraw-item-state">待处理</div>-->
<!--        <div v-if="item.status === 'DENIED'" class="withdraw-item-state">被驳回</div>-->
<!--        <div v-if="item.status === 'PROCESSING'" class="withdraw-item-state">处理中</div>-->
<!--        <div v-if="item.status === 'FAILED'" class="withdraw-item-state">失败</div>-->
<!--        <div v-if="item.status === 'CANCELLED'" class="withdraw-item-state">已撤销</div>-->
<!--        <div v-if="item.status === 'DONE'" class="withdraw-item-state">已汇出</div>-->
      </div>

      <div v-if="ajaxWithdrawFlag" class="recharge-list-loading">
        <Loading/>
      </div>

      <div class="withdraw-list-no-more" v-if="ActivityRecord.length !== 0 && isShowGetMoreWithdraw === false">已经全部加载完毕</div>
    </div>
    <div v-if="ActivityRecord.length !== 0 && isShowGetMoreWithdraw === true && !ajaxWithdrawFlag" class="withdraw-list-btn-get-more" @click="getRewardRecord()">加载更多</div>
  </div>
  <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>

</div>
