<div class="mobile-forecast-record-page-web">

  <div v-if="!(isApp||isIOS)" class="divHeader" >
    <img class="divHeaderImg" src="../../assets/fanhui.png" alt="" @click="ReturnToActivePage">
    <span class="divHeaderSpan">热度明细</span>
  </div>
  <Loading v-if="loading"/>

  <div class="mobile-forecast-record-box" v-if="!loading">

    <!--有数据-->

    <div class="mobile-forecast-record-title col-list">
      <div class="mobile-forecast-record-title-type type">日期</div>
      <div class="mobile-forecast-record-title-detail detail">日均资产(U)</div>
      <div class="mobile-forecast-record-title-num num">月均资产(U)</div>
      <div class="mobile-forecast-record-title-num num1">热度</div>
    </div>
    <div  class="mobile-forecast-record-list " v-for="(item,index) in heatList">
      <div class="flex col-list">
        <div class="mobile-forecast-record-title-type type">{{item.createDate}}</div>
        <div class="mobile-forecast-record-title-detail detail">{{toFixed(item.amount,2)}}</div>
        <div class="num">{{toFixed(item.monthAvg,2)}}</div>
        <div class="num1">{{toFixed(item.hotVal,2)}}</div>
      </div>
    </div>

    <!--无数据-->
    <div v-if="heatList.length === 0" class="no-data-box">
      <img class="no-data-img" src="../../assets/noOrders.png" alt="">
      <!--      ../assets/mobileForecastRecord/no_record_img.png-->
      <div class="no-data-text">暂无记录~</div>
    </div>
  </div>
</div>
