<div class="container min-height">


  <div class="container-top-title">
    <Loading v-if="loading"/>
    <template v-if="!loading">
      <div >
       <div class="flex total-transfer">
         <div class="currency-total">{{$t('walletTotalAsset')}}</div>
         <div class="what-transfer pointer " @mouseenter="openWhatTransfer()" @mouseleave="closeWhatTransfer()">
           <img src="../../assets/myWallet/transfer-explain.png" alt="">
           {{$t('transfer_describe')}}
         </div>
       </div>
<!--        划转解释-->
        <div class="transfer-explain">
          <p>{{$t('transfer_describe1')}}</p>
          <p>{{$t('transfer_describe2')}}</p>
          <p>{{$t('transfer_describe3')}}</p>
        </div>

        <div class="currency-total-assets">
          <span class="total-assets">{{priceReady || initReady ? toFixed(total,8):'----'}} BTC</span>
          <span> ≈ {{(priceReady ||initReady) ? $globalFunc.accFixedCny(valuation,2) : '----'}} CNY</span>
        </div>
      </div>

    </template>
  </div>

  <div class="hide-zero-asset-box flex">
    <input type="checkbox" id="hide-zero-asset" class="hide-zero-asset-checkbox pointer" v-model="hideZeroAsset"/>
    <label for="hide-zero-asset" class="hide-zero-asset-label pointer">{{$t('hide_zero_asset')}}</label>
  </div>


  <Loading v-if="loading" class="loading min-height border_radius"></Loading>

  <div class="border-box">

    <div class="detail-header flex">
      <span class="currency">{{$t('currency')}}</span>
<!--      <span class="fullName">{{$t('fullName')}}</span>-->
      <span class="total">{{$t('total')}}</span>
      <span class="available">{{$t('available')}}</span>
      <span class="frozen">{{$t('frozen')}}</span>
      <span class="lock-warehouse">{{$t('lockWarehouse')}}</span>
      <span class="valuation">{{$t('valuation')}}(BTC)</span>

      <span class="rechargeAndWithdrawals">
        {{$t('operation')}}
<!--        {{$t('recharge')}} / {{$t('withdrawals')}}-->
      </span>
    </div>

    <template v-if="!loading">
      <ul class="detail-container">
        <li class="detail-li" v-for="(item,index) in accountsComputed" :key="index" v-if="serverT >= item.displayTime && !item.isUSDT2"
            :class="{'li-select':activeIndex===index}">
          <div class="li-container flex">
          <span class="currency">
<!--            <span class="currency-icon">-->
<!--              <img class="currency-icon-img" :src="'http://logo.TwentyTwenty.group/'+item.currency + '.png'" alt="">-->
<!--            </span>-->
            <span class="currency_name">
              {{item.currency}}
            </span>
          </span>
<!--            <span class="fullName">{{item.description}}</span>-->
            <span class="total">{{toFixed(parseFloat(toFixed(item.available,8)) + parseFloat(toFixed(item.frozen,8)) , 8)}}</span>
            <span class="available">{{toFixed(item.available,8)}}</span>
            <span class="frozen">{{toFixed(item.frozen,8)}}</span>
            <!-- <span class="valuation">{{(priceReady || initReady) && item.appraisement!=0 ? toFixed(item.appraisement,8) : '--'}}</span> -->
            <span class="lock-warehouse">{{toFixed('0',8)}}</span>
            <span class="valuation">
              <font class="valuation_font" @mouseenter="get_now_price(index, item.appraisement, $event)"
                    @mouseleave="hide_now_price">{{(priceReady || initReady) && item.appraisement!=0 ? toFixed(item.appraisement,8) : '--'}}</font>
              <span class="show_tips" :class="show_key == index ? 'show' : ''">
                {{change_price}}
                <font></font>
              </span>
            </span>

            <span class="rechargeAndWithdrawals">

            <!--打开充值 begin-->
            <span class="recharge-button button" @click="openRecharge(index,item)"
                  :class="{'recharge-button-select':activeIndex === index  && recharge}"
                  v-if="rechargeFlag(item)">{{$t('recharge')}}</span>
              <!--打开充值 end-->
              <!--关闭充值 begin-->
              <span class=" can-not-withdrawals"
                    :class="{'recharge-button-select':activeIndex === index  && recharge}" v-else>{{$t('recharge')}}</span>
              <!--关闭充值 end-->

              <!--打开提现 begin-->
            <span class="withdrawals-button button" @click="openWithdrawals(index,item)"
                  :class="{'withdrawals-button-select':activeIndex===index  && withdrawals}"
                  v-if="withdrawalsFlag(item)"
            >{{$t('withdrawals')}}</span>
            <span class="can-not-withdrawals" v-else>{{$t('withdrawals')}}</span>
              <!--打开提现 end-->
              <!--关闭提现 begin-->
              <!--<span class="withdrawals-button button can-not-withdrawals">{{$t('withdrawals')}}</span>-->
              <!--关闭提现 end-->

            <!--sss 屏蔽-->
              <!--打开划转 begin-->
<!--            <span class="withdrawals-button button" @click="openTransfer(index,item)"-->
<!--                  :class="{'transfer-button-select':activeIndex===index  && transferFlage}"-->
<!--                  v-if="serverT >= item.withdrawOpenTime"-->
<!--            >-->
<!--              {{$t('transfer')}}-->
<!--            </span>-->
<!--            <span class="can-not-withdrawals" v-else>{{$t('transfer')}}</span>-->

<!--          v-if="serverT >= item.withdrawOpenTime"-->
                <span class="withdrawals-buttons buttons">
<!--                  {{$t('indexHeader.forward')}}-->
                  {{$t('transfer')}}
            </span>
              <!--打开划转 end-->
              <!--sss 屏蔽结束-->


              <!--关闭划转 begin-->
              <!--<span class="withdrawals-button button can-not-withdrawals">{{$t('withdrawals')}}</span>-->
              <!--关闭划转 end-->


              <!--sss 屏蔽-->
              <!--sss打开转账 begin-->

<!--              <span class="withdrawals-button button"-->
<!--                    @click="internalTransfer(index,item)"-->
<!--                    :class="{'recharge-button-select-transfer':activeIndex===index  && transferss}"-->
<!--                    v-if="serverT >= item.withdrawOpenTime"-->
<!--              >{{$t('internalTransfer')}}</span>-->
<!--            <span class=" can-not-withdrawals" v-else>{{$t('internalTransfer')}}</span>-->

<!-- v-if="serverT >= item.withdrawOpenTime"-->
               <span class="withdrawals-buttons buttons">
                 {{$t('internalTransfer')}}
<!--                 {{$t('indexHeader.forward')}}-->
               </span>

<!--               v-if="serverT >= item.withdrawOpenTime"-->
                   <span class="withdrawals-buttons buttons"

                   >
                 {{$t('lockWarehouse')}}
               </span>
              <!--sss打开转账 end-->

              <!--sss 屏蔽结束-->

              <!--关闭转账 begin-->
              <!--<span class="withdrawals-button button can-not-withdrawals">{{$t('withdrawals')}}</span>-->
              <!--关闭转账 end-->

        </span>
          </div>
          <RechargeAndWithdrawalsRecharge v-if="activeIndex === index  && recharge" @close="openRecharge(index,item)"
                                          :currency="item.currency"/>
          <RechargeAndWithdrawalsWithdrawals v-if="activeIndex===index  && withdrawals"
                                             @close="openWithdrawals(index,item)"
                                             :currency="item.currency" :available="item.available"
                                             :haveMemo="item.memo"/>
        </li>
      </ul>
    </template>

  </div>

  <!--  内部划转-->
  <PopupT :switch="popWindowOpen1" @close="popWindowClose_transfer" >
    <div slot="header">
      <span class="pop-ei-ar">{{$t('capitalTransfer')}}</span>
    </div>
    <div slot="article" class="pop-article">
<!--      钱包到账户-->
      <div class="wallet-to-account flex">
        <div class="wallet-to-account-left flex">
          <div class="wallet-account-change">
            <div>{{$t('from')}}</div>
            <img src="../../assets/myWallet/record_change_bottom_icon.png" alt="">
            <div>{{$t('reach')}}</div>
          </div>
        </div>
        <div class="wallet-to-account-content" :class="(assetAccountType == 'wallet') ? 'flex-colum':'flex-colum-reverse'">
          <div>我的钱包</div>
          <div class="wallet-to-account-content-line"/>
          <div>币币账户</div>
<!--          <input type="text" :placeholder='$t("coinAccount")' v-model="bibiAccount">-->
<!--          <input type="text" :placeholder='$t("myWallet")'  v-model="account">-->
        </div>
        <div class="wallet-to-account-right pointer flex" @click="changeAssetAccountType()">
          <img src="../../assets/myWallet/record_change_icon.png" alt="">
        </div>
      </div>

<!--      币种-->
      <div class="currency block-input" >
        <div class="block-input-title">{{$t('currency')}}</div>
        <el-select class="inputInner" value-key="currencyKey" v-model="currencyValue" filterable placeholder="" @change="changeTransferCurrency">
          <el-option
            v-if="serverT >= item.displayTime && !item.isUSDT2"
            v-for="item in accountsComputed"
            :key="item.currencyKey"
            :label="item.currency"
            :value="item.currency"
          >
<!--            :remote-method="remoteMethod"-->
<!--            :loading="loading">-->
          </el-option>
        </el-select>

<!--        <input type="text" placeholder="BTC">-->
        <div class="amount-not-empty">
          <span>{{transferCurrencyWA}}</span>
        </div>
      </div>

<!--      数量-->
      <div class="amount block-input" >
        <div class="block-input-title">
          <span>{{$t('amount')}}</span>
          <span class="available-right">{{$t('mentioning')}}：{{transferCurrencyAvailable}} {{currencyValue}}</span>
        </div>
        <div class="amount-input flex">
          <input type="text" placeholder="" v-model="amountInput" class="amount-input-box">
          <span class="amount-all pointer" @click="allMention">{{$t('allMention')}}</span>
        </div>
        <div class="amount-not-empty">
          <span>{{transferAmountWA}}</span>
        </div>
      </div>
    </div>
    <div slot="footer" class="pop-footer">
      <span class="pop-qu pointer" @click="click_rel_em">{{$t('cancel')}}</span>
      <button class="pop-qu-2 pointer" @click="transferCommit()">{{$t('ensure')}}</button>
    </div>
  </PopupT>

<!--   提示 弹窗-->
  <PopupWindow :switch="popWindowOpen" @close="popWindowClose">
    <div slot="header">
      <span class="header_xuzhi">{{popWindowTitle}}</span>
    </div>
    <div slot="article" class="pop-recharge">{{popWindowPrompt}}
      <p class="consequences">{{popWindowPrompt1}}</p>
    </div>
    <div slot="footer" class="pop-recharge-bottom flex-center">
      <template v-if="popWindowStyle==0">
        <button @click="popWindowClose" class="button-base33 btn_simple pointer">
          {{$t('cancel')}}
        </button>
        <button @click="goToBindIdentity" class="button-base33 btn_blue pointer m-r">
          {{$t('verification')}}
        </button>
      </template>
      <template v-if="popWindowStyle==1">
        <button @click="popWindowClose" class="button-base33 btn_simple pointer">
          {{$t('cancel')}}
<!--          {{$t('bindGa')}}-->
        </button>
        <button @click="goToSecurityCenter" class="button-base33 btn_blue pointer m-r">
          {{$t('beBinding')}}
<!--          {{$t('bindMobile')}}-->
        </button>
      </template>
      <template v-if="popWindowStyle==2">
        <button @click="popWindowClose" class="button-base33 btn_simple pointer">
          {{$t('cancel')}}
          <!--          {{$t('bindGa')}}-->
        </button>
        <button @click="goToSecurityCenter" class="button-base33 btn_blue pointer m-r">
          {{$t('beBinding')}}
          <!--          {{$t('bindMobile')}}-->
        </button>
      </template>
      <template v-if="popWindowStyle==3">
        <button @click="popWindowClose" class="button-base33 btn_simple pointer ">
          {{$t('cancel')}}
          <!--          {{$t('bindGa')}}-->
        </button>
        <button @click="goToSecurityCenter" class="button-base33 btn_blue pointer m-r">
          {{$t('beBinding')}}
          <!--          {{$t('bindMobile')}}-->
        </button>
      </template>
      <template v-if="popWindowStyle==4">
        <button @click="popWindowClose" class="button-base33 btn_simple pointer">
          {{$t('cancel')}}
          <!--          {{$t('bindGa')}}-->
        </button>
        <button @click="goToSecurityCenter" class="button-base33 btn_blue pointer m-r">
          {{$t('beBinding')}}
          <!--          {{$t('bindMobile')}}-->
        </button>
      </template>
      <template v-if="popWindowStyle==5">
        <button @click="goToBindTransfer" class="button-base33 btn_blue pointer transfer4">
                <!--绑定邮箱-->
          {{$t('ITransfer')}}
        </button>
      </template>


<!--      <template v-if="popWindowStyle==1">-->
<!--        <button @click="goToBindGA" class="button-base btn_blue pointer">-->
<!--          {{$t('bindGa')}}-->
<!--        </button>-->
<!--        <button @click="goToBindMobile" class="button-base btn_blue pointer">-->
<!--          {{$t('bindMobile')}}-->
<!--        </button>-->
<!--      </template>-->
<!--      <template v-if="popWindowStyle==2">-->
<!--        <button @click="popWindowClose" class="button-base btn_blue pointer">-->
<!--          {{$t('ensure')}}-->
<!--        </button>-->
<!--      </template>-->
<!--      <template v-if="popWindowStyle==3">-->
<!--        <button @click="goToBindEmail" class="button-base btn_blue pointer bangding">-->
<!--          &lt;!&ndash;绑定邮箱&ndash;&gt;-->
<!--          {{$t('bind_email_pop_button')}}-->
<!--        </button>-->
<!--      </template>-->
<!--      <template v-if="popWindowStyle==4">-->
<!--        <button @click="goToBindTransfer" class="button-base btn_blue pointer transfer4">-->
<!--          &lt;!&ndash;绑定邮箱&ndash;&gt;-->
<!--          {{$t('ITransfer')}}-->
<!--        </button>-->
<!--      </template>-->
    </div>

  </PopupWindow>

<!--  内部转账  begin-->
  <!--  内部转账弹窗-->
  <PopupWindow :switch="buyCommitToastOpen" @close="buyCommitToastClose">

    <div slot="header" class="zhuanzhang">
      <span class="">{{$t('TransferI')}}{{transferCurrency}}</span>
    </div>
    <div slot="article" class="Internal_siding">

      <p class="Internal_siding_email m-t">
<!--        <span class="color_red">*</span>-->
        {{$t('mailbox')}}</p>
<!--      :class="{'wrong-border':nameWA_0 ==='0' && nameWA_0 ==='0'}"-->
      <input class="input_input" type="text" :placeholder='userNamePlaceholderShow && $t("deletePopCancel2") || ""' v-model="name_0"
             @focus="closePlaceholder('userName')"
             @blur="testName_0">
      <!--        <span class="wrong-msg detail-prompt" v-if="name_0==''">{{nameMsg_0}}</span>-->
      <div class="whit_0">
      <span v-if="nameWA_0==='0'" class="prompt-span wrong-msg">{{nameMsg_0}}</span>
      </div>

      <p class="Internal_siding_email">
<!--        <span class="color_red">*-->
        </span>UID</p>
<!--      :class="{'wrong-border':testUID_012!=='0' && testUID_012!=='0'}"-->
      <input class="input_input"  type="text"
             :placeholder='pswPlaceholderShow && $t("deletePopCancel3") || ""' v-model="testUID_0"
             @focus="closePlaceholder('psw')"
             @blur="testUID_01()">
      <div class="whit_0">
      <span v-if="testUID_012==='0'" class="prompt-span wrong-msg">{{testUIDMsg_0}}</span>
        </div>
      <div class="Internal_siding_email">
        <span>
<!--        <span class="color_red">*</span>-->
        {{$t('Number1')}}</span>
        <span class="email_span">{{$t('Number2')}}{{transferCurrency}}{{$t('Number3')}}</span>
      </div>
<!--      :class="{'wrong-border':testNumWA_0!=='0' && testNumWA_0!=='0'}"-->
      <input class="input_input" type="text"
             placeholder="输入转账数量，不能小于2"
             :placeholder='verificationCodePlaceholderShow && $t("deletePopCancel5") || ""' v-model="testNum_0"
             @focus="closePlaceholder('verificationCode')"
             @blur="testNum_01()">
      <div class="whit_0">
      <span v-if="testNumWA_0 ==='0'" class="prompt-span wrong-msg whiteListwhit">{{testNumMsg_0}}</span>
        <p class="shouxu">{{$t('Number4')}}</p>
        </div>

      <!--      <p class="Internal_siding_email margin_top"><span class="color_red">*</span>邮箱验证码</p>-->
      <!--      <input class="input_input" type="text" placeholder="输入邮箱验证码" >-->
      <!--      <p class="Internal_siding_email"> <span class="color_red">*</span>二次验证</p>-->
      <!--      <input class="input_input" type="text" placeholder="输入谷歌验证码" >-->

      <div slot="footer">
        <button class="Internal_siding_email1" @click="getGoToConfirmTransfer()">{{$t('Number5')}}</button>
      </div>
      <p class="zhu">{{$t('Number6')}}</p>

    </div>

  </PopupWindow>

  <!--  确认转账细节-->
  <PopupWindow :switch="buyTransferDetails" @close="buyTransferDetailsClose">

    <div slot="header" class="zhuanzhang">
      <span class="">{{$t('deletePopConfirm')}}{{transferCurrency}}{{$t('TransferI')}}</span>
    </div>
    <div slot="article" class="Internal_siding">
      <div class="Payee Payees"><span class="gray ">{{$t('deletePopCancel1')}}</span><span class="Black">{{name}}</span></div>
      <div class="Payee"><span class="gray">{{$t('deletePopCancel2')}}</span><span class="Black">{{name_0}}</span></div>
      <div class="Payee"><span class="gray">{{$t('deletePopCancel3')}}</span><span class="Black">{{toUserId}}</span></div>
      <div class="Payee"><span class="gray">{{$t('deletePopCancel4')}}</span><span class="Black">{{transferCurrency}}</span></div>
      <div class="Payee Payees_b"><span class="gray ">{{$t('deletePopCancel5')}}</span><span class="Black">{{testNum_0}}</span></div>

      <div slot="footer">
        <!--        <button class="Internal_siding_email1" @click="goToConfirmTransfer"> 确认转账</button>-->
        <button @click="popWindowClose1" class="button-base btn_simple pointer firm1">
          {{$t('previousStep')}}
        </button>
        <button @click="goToConfirm" class="button-base btn_blue pointer firm2">
          {{$t('confirmTransfer')}}
        </button>
      </div>

    </div>

  </PopupWindow>

  <!--  转账成功-->
  <PopupWindow :switch="buyConfirmSuccess" @close="buyConfirmSuccessClose">

    <div slot="header" class="zhuanzhang">
      <span class="">{{$t('deletePopConfirm7')}}</span>
    </div>
    <div slot="article" class="Internal_siding img_ConfirmSuccess">

<!--      <img src="../../assets/内部转账成功.png" alt="" >-->
    </div>
    <div slot="footer">

      <button @click="goToTransferRecord" class="button-base btn_blue pointer">
        {{$t('deletePopConfirm8')}}
      </button>

    </div>

  </PopupWindow>

<!--  验证码弹框-->
  <PopupWindow :switch="goToConfirmsjh" @close="goToConfirmsjhclose" class="popupWindow-container">
    <div slot="header" class="popWindow-title0 ">{{$t('verify')}}
    </div>
    <!-- article begin 1 -->
    <div slot="article" class="popWindow-article" v-if="popWindowStep==1">
      <div class="prompt-title">
        <!--        {{$t('promptWindow_1')}}22222-->
      </div>
      <label for="email"
             class="verification-title">{{$t('email')}}</label>
      <div class="verification-container double-input-container flex" >

        <input type="text" id="email" class="verification-input input_padding"
               v-model="emailVerificationCode"
               @blur="testEmailVerification">
        <div class="get-verification button-base pointer" v-if="!getEmailVerificationCode"
                @click="getEmailVerification" >
          {{$t('GetVerificationCode')}}
        </div>
        <div class="get-verifications" v-if="getEmailVerificationCode" disabled>
          {{getEmailVerificationCodeCountdown}}s 之后重新发送
        </div>
      </div>
      <div class="prompt-wrong wrong-msg" v-if="emailVerificationCodeWA!==''">
        {{emailVerificationCodeWA}}

      </div>
      <div class="prompt-wrong wrong-msg" v-else="emailVerificationCodeWA!==''">

      </div>

    </div>
    <!-- article end 1 -->

    <!-- article begin 2 -->
    <div slot="article" class="popWindow-article" v-if="popWindowStep==2">

      <div class="prompt-title" v-if="!step2Error">
        {{$t('promptWindow_2')}}
      </div>

      <template v-if="!step2Error">
        <div class="prompt-show-picker-box">

          <div class="prompt-show-picker" v-if="showPicker">
            <div class="prompt-show-picker-detail-box">
              <input type="radio" name="picker" value="1" id="pick-ga" v-model="picker">
              <label for="pick-ga">{{$t('gaCode')}}</label>
            </div>
            <div class="prompt-show-picker-detail-box">
              <input type="radio" name="picker" value="2" id="pick-mobile" v-model="picker">
              <label for="pick-mobile">{{$t('mobile')}}</label>
            </div>
          </div>
          <div class="verification-container flex" v-if="picker == 1">
            <label for="gaCode"
                   class="verification-title">{{$t('gaCode')}}</label>
            <input type="text" id="gaCode" class="verification-input input_padding" v-model="step2VerificationCode"
                   @blur="testGACodeVerification">
          </div>
          <div class="verification-container double-input-container flex" v-if="picker == 2">
            <label for="mobile"
                   class="verification-title">{{$t('mobile')}}</label>
            <input type="text" id="mobile" class="verification-input double-input input_padding"
                   v-model="step2VerificationCode"
                   @blur="testMobileVerification">
            <button class="get-verification button-base btn_blue" v-if="!getMobileVerificationCode"
                    @click="getMobileVerification">{{$t('reGet')}}
            </button>
            <button class="get-verification button-base btn_grey" v-if="getMobileVerificationCode" disabled>
              {{getMobileVerificationCodeCountdown}}
            </button>
          </div>
        </div>
      </template>

      <div class="prompt-wrong wrong-msg" v-if="step2VerificationCodeWA!==''">
        {{step2VerificationCodeWA}}
      </div>
      <div class="prompt-wrong wrong-msg" v-else>

      </div>
    </div>
    <!-- article end 2 -->

    <!-- footer popWindow begin 1 -->
    <div slot="footer" class="popWindow-footer" v-if="popWindowStep === 1">
      <button class="pointer btn_simple ssss" @click="goToConfirmsjhclose">
        {{$t('previousStep')}}
      </button>
      <button class="btn-commit btn_blue pointer ssss1" v-if="!emailVerificationSending"
              @click="commitEmailVerification">
        {{$t('commit')}}
      </button>
      <button class="btn-commit btn_grey pointer ssss1" v-if="emailVerificationSending" disabled>
        {{$t('commiting')}}
      </button>
    </div>
    <!-- footer popWindow end 1 -->

    <!-- footer popWindow begin 2 -->
    <div slot="footer" class="popWindow-footer" v-if="popWindowStep === 2">
      <template v-if="!step2Error">
        <button class="button-base btn-cancel  pointer btn_border_blue text_blue btn_simple" @click="goToConfirmsjhclose">
          {{$t('cancel')}}
        </button>
        <button class="button-base btn-commit btn_blue pointer" v-if="!step2VerificationSending"
                @click="commitStep2Verification">
          {{$t('commit')}}
        </button>
        <button class="button-base btn-commit btn_grey pointer" v-if="step2VerificationSending" disabled>
          {{$t('commiting')}}
        </button>
      </template>
      <template v-if="step2Error">
        <button class="button-base btn-commit btn_blue pointer" v-if="step2VerificationSending" disabled>
          {{$t('commit')}}
        </button>
      </template>
    </div>
    <!-- footer popWindow end 1 -->


    <!--加载样式 begin -->
    <div class="popWindow-loading" slot="other" v-if="popWindowLoading">
      <div class="popWindow-background"></div>
      <Loading/>
    </div>
    <!--加载样式 end -->

  </PopupWindow>
<!--  内部转账  end-->

<!--  &lt;!&ndash;第一步通过手机找回&ndash;&gt;-->
<!--  <PopPublic v-if="loginType === 0 && verificationOpen && bindEmail"-->
<!--             :bindEmail="bindEmail"-->
<!--             :popClose="closePopPublic"-->
<!--             :popConfrim="confrimPopPublic"-->
<!--             :popGetCode="click_getEmailVerificationCode"-->
<!--             :emailVerificationCodeWA="emailVerificationCodeWA"-->
<!--             :loading="loading"-->
<!--  />-->
<!--  &lt;!&ndash;第一步通过邮箱找回&ndash;&gt;-->
<!--  <PopPublic v-if="loginType === 1 && verificationOpen && (bindGA || bindMobile)"-->
<!--             :bindGA="bindGA"-->
<!--             :bindMobile="bindMobile"-->
<!--             :popClose="closePopPublic"-->
<!--             :popConfrim="confrimPopPublic"-->
<!--             :popGetCode="click_getVerificationCode"-->
<!--             :GACodeWA="GACodeWA"-->
<!--             :verificationCodeWA="verificationCodeWA"-->
<!--             :loading="loading"-->
<!--  />-->
  <!-- 提示 start -->
  <PopupPrompt :popType="popupPromptType" :popText="popupPromptText" :popOpen="popupPromptOpen"
               :popClose="closePopupPrompt"></PopupPrompt>
  <!-- 提示 end -->


  <!--&lt;!&ndash;充值地址弹窗 begin&ndash;&gt;-->
  <!--<PopupWindow :switch="rechargeAddressChangePrompt" @close="closeRechargeAddressChangePrompt">-->
  <!--<div slot="header">-->
  <!--<span class="text_red">{{$t('recharge_address_change_title')}}</span>-->
  <!--</div>-->
  <!--<div slot="article">-->
  <!--<p>{{$t('recharge_address_change_detail_1')}}<span class="text_red">{{$t('recharge_address_change_detail_2')}}</span>-->
  <!--</p>-->
  <!--<p><span class="text_red">{{$t('recharge_address_change_detail_3')}}</span>{{$t('recharge_address_change_detail_4')}}<span-->
  <!--class="text_red">{{$t('recharge_address_change_detail_5')}}</span></p>-->
  <!--</div>-->
  <!--<div slot="footer" class="pop-footer flex-center">-->
  <!--<button @click="closeRechargeAddressChangePrompt" class="button-base btn_red pointer">-->
  <!--{{$t('recharge_address_change_button')}}-->
  <!--</button>-->
  <!--</div>-->

  <!--</PopupWindow>-->
  <!--&lt;!&ndash;充值地址弹窗 end&ndash;&gt;-->


</div>
