<div class="AnnouncementCenter">
  <div class="container border_radius" v-if="$route.name == 'notice'">
    <div class="title-i flex">
      <!-- <span></span> -->
      <span>{{$t('noticeCenter.title')}}</span>
    </div>
    <div class="article_noticeCenter">
      <Loading v-if="loading"></Loading>
      <!--列表-->
      <ul class="log-container" v-else>

        <!--公告列表 begin-->
        <!--      :class = "item.id==routeId ? 'log-detail-i' : 'log-detail'"-->
        <li class=" flex pointer border_radius log-detail_noticeCenter"
            v-for="item in computedNoticeList" :key="item.id"
            @click="clickToDetail(item.id)"
        >{{maxTitleLength(item.title)}}
          <div class="time">{{formatDateUitl(item.updatedAt)}}</div>
        </li>
        <!--公告列表 end-->


        <!-- 加载更多 begin  txt-green -->
        <li class="loading-more" v-if="loadingMore">
        <span class="pointer" v-if="!loadingMoreIng"
              @click="clickToLoadingMore">{{$t('noticeCenter.loadingMore')}}</span>
          <span v-else>{{$t('noticeCenter.loadingMoreIng')}}</span>
        </li>
        <!-- 加载更多 end -->
      </ul>

    </div>

  </div>
 <div class="container border_radius" v-else>
  <div class="title-i flex">
    <!-- <span></span> -->
    <span>{{$t('noticeCenter.title')}}</span>
  </div>
   <div class="article">
    <Loading v-if="loading"></Loading>
    <!--列表-->
    <ul class="log-container" v-else>

      <!--公告列表 begin-->
<!--      :class = "item.id==routeId ? 'log-detail-i' : 'log-detail'"-->
      <li class=" flex pointer border_radius log-detail"
       v-for="item in computedNoticeList" :key="item.id"
          @click="clickToDetail(item.id)"
          >

         {{maxTitleLength(item.title)}}

        <span class="time"></span>

      </li>
      <!--公告列表 end-->


      <!-- 加载更多 begin  txt-green -->
      <li class="loading-more" v-if="loadingMore">
        <span class="pointer" v-if="!loadingMoreIng"
              @click="clickToLoadingMore">{{$t('noticeCenter.loadingMore')}}</span>
        <span v-else>{{$t('noticeCenter.loadingMoreIng')}}</span>
      </li>
      <!-- 加载更多 end -->
    </ul>

  </div>

</div>


    <div class="noticeboard" v-if="$route.name !== 'notice'">
      <!-- <keep-alive> -->
      <router-view :key='$route.fullPath'></router-view>
      <!-- </keep-alive> -->
    </div>

</div>



