<!--sss QQ交易挖矿报名页面-->

<div class="officialQuantitativeRegistration">

  <div class="qq_content">

<!--    QQ交易挖矿-->
    <div class="qq_title">
      {{$t('tradingMining')}}
    </div>
    <div class="application">
     <!--   申请表格   -->
      <div class="application_form">
        <div class="application_title">{{$t('application')}}</div>
<!--        账号-->
        <div class="Account_number">
          <span class="Account_number_">{{$t('number')}}</span>
          <div class="Account_number_input">{{userName}}</div>
        </div>
<!--        配套-->
        <div class="supporting">
          <span class="Account_number_">{{$t('supporting')}}</span>
          <template>
          <el-select v-model="matchingAmount" name="gender" placeholder="请选择配套" popper-class="selectstyle" @blur="testMatchingAmount">
            <el-option
              v-for="item in matchDataList"
              :key="item.fcode"
              :label="item.fdesc"
              :value="item.fdesc"
            >
            </el-option>
          </el-select>
        </template>
          <span v-if="matchingAmountMsg_0 !=''" class="m-t wrong-msg">{{matchingAmountMsg_0}}</span>

        </div>



<!--        所需数额-->
        <div class="number_amount">
          <p class="number_amount_p">{{$t('required')}}</p>
          <span class="number_amount_span">QQ:</span>
          <span class="amount_span">{{matchDataObj[matchingAmount]}}</span>
        </div>

<!--       账号余额 -->
        <div class="number_amount">
          <p class="number_amount_p">{{$t('balance')}}</p>
          <span class="number_amount_span">QQ:</span>
          <span class="amount_span">{{toFixed(balance,8)}}</span>
        </div>

        <!-- 兑换按钮-->
        <div class="exchange_button pointer" @click="postActivities" v-if="(computedRecord.length == 0) && !getVerificationCode">{{$t('exchang')}}</div>
        <div class="exchange_button1" v-if="getVerificationCode">报名中</div>
        <div class="exchange_button1" v-if="computedRecord.length !== 0">已报名</div>

        <!--  须知 1,2,3-->
        <div class="notice_div">
          <p>{{$t('passed')}}</p>
          <p>{{$t('bound')}}</p>
          <p>{{$t('sufficient')}}</p>
        </div>
      </div>

    <!--   活动报名记录   -->
      <div class="application_record">

        <div class="application_title">{{$t('registration')}}</div>

        <ul >
          <!--表头 S-->
          <li class="application_header">
          <div class="application_header_div">{{$t('number')}}</div>
          <div class="application_header_div">{{$t('nper')}}</div>
          <div class="application_header_div">{{$t('supporting')}}</div>
          <div class="application_header_div_right">{{$t('time')}}</div>
          </li>
          <!--表头 E-->

          <!-- 如果加载完成、已登录、有数据，则显示数据 begin -->
          <template>
<!--            <template v-if="userId && currentOrderComputed.length!==0">-->
            <template v-if="computedRecord.length !== 0">
                <li class="flex application_header1" v-for="(item,index) in computedRecord" :key="item.id">
                  <!--账号-->
                  <div class="application_header_div mor-left color_a2">{{item.account}}</div>
                  <!--期数-->
                  <div class="application_header_div color_a2">{{item.periodsNum}}</div>
                  <!--配套-->
                  <div class="application_header_div color_a2">{{item.fdesc}}</div>
                  <!--时间-->
                  <div class="application_header_div_right mor-right color_a2">{{item.createdAt}}</div>
                </li>
            </template>
            <!-- 如果加载完成、已登录、有数据，则显示数据 end -->

            <!-- 如果没加载完成、没登录、没数据，则显示'--' begin -->
            <template v-else>
              <li class="weit">
                <div class="nhtu"><img src="../../assets/noOrders.png"></div>
                <span>{{$t('orderPageCurrentEntrustment.close_9')}}</span>
              </li>
            </template>
          </template>
        </ul>
      </div>

    </div>
  </div>

  <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>


</div>
