<div class="OfficialQuantitativeDetails">

  <div class="qq_content" v-if="!isMobile">

<!--    KK交易挖矿详情-->
    <div class="qq_title">
      {{$t('miningDetails')}}
    </div>

<!--账号-->
    <div class="account_number">
      <span>{{$t('number')}}:</span>
      <span>{{userName}}</span>
    </div>

<!--    参加日期-->
    <div class="account_number_right">
      <span>{{$t('participation')}}:</span>
      <span v-if="records.length != 0 && fstatus == '已报名'">{{formatDateUitl(createdate)}}</span>
      <span v-if="records.length == 0">——</span>
    </div>

    <div class="quantification_con" >
      <!--  sss 今日量化-->
      <div class="quantification_today">
        <div class="quantification_today_div">
<!--          今日量化-->
          <span class="quantification_today_span">{{$t('quantification')}}</span>
          <span class="quantification_today_time">({{quantStartEndTime}})</span>
        </div>

<!--        即将释放-->
        <div class="to_be_released_soon">
          <span class="to_be_re">{{$t('releasedSoon')}}</span>
          <span class="to_be_re_div">{{reward}}</span>
          <span>KK</span>
        </div>


<!--        已量化-->
        <div class="to_be_released_soon">
          <span class="to_be_re">{{$t('quantified')}}</span>
          <span class="to_be_re_div to_be_re_div_1">{{totalAmount}}</span>
          <span>KK</span>
        </div>
<!--        <div class="to_be_released_soon">-->
<!--          <span class="to_be_re">{{$t('quantified')}}</span>-->
<!--          <span class="to_be_re_div to_be_re_div_1">{{totalAmount}}</span>-->
<!--        </div>-->
      </div>
      <!--  sss 今日奖励-->
<!--      奖励-->
      <div class="Todays_award">
        <div class="Todays_award_div">{{$t('reward')}}</div>

        <ul class="TodaysUl">
          <li class="TodaysLi">
<!--            矿源-->
            <div class="li_div_20">
              <p class="color_0">{{$t('source')}}</p>
              <p class="color_3">{{fdesc}}</p>
<!--              <p class="color_3">10000 YY + 100 TT</p>-->
            </div>
<!--            矿源奖励释放-->
            <div class="li_div_60">
              <p class="color_0">{{$t('rewardRelease')}}（KK）</p>
              <p class="color_3">{{doSendReward}}</p>
            </div>

<!--            已释放-->
            <div class="li_div_19">
              <p class="color_0">{{$t('released')}}</p>
              <p class="color_7" v-if="records.length == 0">0%</p>
              <p class="color_7" v-if="records.length != 0 && fstatus == '已报名'">{{numminingProgress}}%</p>
            </div>
          </li>
        </ul>

        <div class="border_50">
          <div class="progress_bar">
            <el-progress :show-text="false" :stroke-width="16" :percentage="(numminingProgress)" color="#3576F5" status="exception" ></el-progress>
          </div>
        </div>

      </div>
    </div>

    <div class="record">

      <!--   当前挖矿记录 和 历史挖矿记录  交易记录-->
      <div class="recordMining">
        <div class="record_div pointer" @click="postWithd1(1)" :class="{'selected_cardType':cardType == 1}">{{$t('当前挖矿记录')}}</div>
        <div class="record_div selected_cardTypeML pointer" @click="postWithd1(2)" :class="{'selected_cardType':cardType == 2}">{{$t('历史挖矿记录')}}</div>
      </div>
      <!-- 当前挖矿记录 -->
      <ul class="recordUl" v-if="cardType == 1">
        <!--表头 S-->
        <li class="application_header">
          <!-- 日期-->
          <div class="application_header_div">{{$t('date')}}</div>
          <!-- 量化-->
          <div class="application_header_div">{{$t('quanti')}}</div>
          <!-- 奖励-->
          <div class="application_header_div">{{$t('reward')}}</div>
          <!-- 矿源金额-->
          <div class="application_header_div_right">{{$t('sourceAmount')}}</div>
        </li>
        <template>
          <!-- 当前挖矿记录 -->
          <template v-if="transactionRecording.length !== 0">
            <li class="flex application_li" v-for="(item,index) in transactionRecording">
               <!--挖矿日期-->
               <div class="application_header_div borbot">{{item.createDate}}</div>
               <!--总量化数(挖矿总数)-->
               <div class="application_header_div borbot">{{item.totalAmount}}</div>
               <!--奖励-->
               <div class="application_header_div borbot">{{item.reward}}</div>
               <!--剩余配套-->
               <div class="application_header_div_right borbot">{{item.surplus}}</div>
            </li>
          </template>

          <!-- 无数据图片 -->
          <template v-else>
            <li class="weit">
              <div class="nhtu"><img src="../../assets/noOrders.png">
                <p class="nhtu_p">{{$t('orderPageCurrentEntrustment.close_9')}}</p>
              </div>
            </li>
          </template>

         <!--当前记录加载更多  -->
          <template v-if="showLoadingMore">
          <li class="loading-more">
            <span class="text_blue pointer" v-if="!loadingMoreShow" @click="clickLoadingMore">{{$t('orderPageHistoricalEntrustment.close_10')}}</span>
            <span class="text_blue" v-else>{{$t('orderPageHistoricalEntrustment.close_11')}}</span>
          </li>
        </template>

        </template>
      </ul>

      <ul class="recordUl" v-if="cardType == 2">
        <!--历史挖矿记录表头 S-->
        <li class="application_header">
          <!--          账号-->
          <div class="application_header_div">{{$t('number')}}</div>
          <!--          期数-->
          <div class="application_header_div">{{$t('nper')}}</div>
          <!--          配套-->
          <div class="application_header_div">{{$t('supporting')}}</div>
          <!--          时间-->
          <div class="application_header_div_right">{{$t('time')}}</div>
          <!--          操作-->
          <div class="application_header_div_right">{{$t('操作')}}</div>
        </li>
        <template>
        <!-- 历史挖矿记录-->
          <template v-if="computedHistoryRecords.length !== 0">
            <li class="" v-for="(item,index) in computedHistoryRecords" :key="item.id">

              <div class="flex application_li">
                <!--账号-->
                <div class="application_header_div ">{{item.account}}</div>
                <!--期数-->
                <div class="application_header_div ">{{item.periodsNum}}</div>
                <!--配套-->
                <div class="application_header_div ">{{item.fdesc}}</div>
                <!--时间-->
                <div class="application_header_div_right ">{{formatDateUitl(item.createdAt)}}</div>
                <!--操作-->
                <div class="application_header_div_right pointer" @click="showDetail(item.id)"
                   v-if="clickThis!=item.id">
                  <span class="account-click pointer">{{$t('applied11')}}</span>
                  <img class="img-on pointer" src="../../assets/shangla_icon.png" alt="">
                </div>
                <div class="application_header_div_right pointer " @click="showDetail(item.id)" v-if="clickThis==item.id">
                  <span class="account-click pointer">{{$t('applied8')}}</span>
                  <img class="img-on pointer" src="../../assets/xiala_icon.png" alt="" >
                </div>

              </div>
                <!--  历史挖矿记录详情-->
              <div class="application_liMininghis" v-if="clickThis==item.id">
                <ul>
                  <li class="applicationDivHis">
                    <div class="flex applicationDiv" >
                      <!--账号-->
                      <div class="application_ ">{{$t('date')}}</div>
                      <!--期数-->
                      <div class="application_ ">{{$t('quanti')}}</div>
                      <!--配套-->
                      <div class="application_1 ">{{$t('reward')}}</div>
                      <!--时间-->
                      <div class="application_right ">{{$t('applied12')}}</div>
                    </div>
                  </li>
                 <!--历史挖矿记录详情-->
                  <li v-for="(item,index) in computedHistoricalDetails" :key="item.id">
                    <div class="flex applicationDiv" >
                      <!--日期-->
                      <div class="application_ ">{{item.createDate}}</div>
                      <!--量化-->
                      <div class="application_ ">{{item.totalAmount}}</div>
                      <!--奖励-->
                      <div class="application_1 ">{{item.reward}}</div>
                      <!--矿源金额-->
                      <div class="application_right ">{{item.surplus}}</div>
                    </div>
                  </li>
                  <!--                  <div class="loading-more" v-if="showLoadingMore1">-->
                  <!--                    <span class="text_blue pointer" v-if="!loadingMoreShow1" @click="clickLoadingMoreHistory">{{$t('orderPageHistoricalEntrustment.close_10')}}</span>-->
                  <!--                    <span class="text_blue" v-else>{{$t('orderPageHistoricalEntrustment.close_11')}}</span>-->
                  <!--                  </div>-->
                </ul>
              </div>
          <!--  历史挖矿记录详情-->
<!--              <template v-if="clickThis==id"></template>-->

            </li>

          </template>
          <!-- 如果加载完成、已登录、有数据，则显示数据 end -->

          <!-- 如果没加载完成、没登录、没数据，则显示'--' begin -->
          <template v-else>
            <li class="weit">
              <div class="nhtu"><img src="../../assets/noOrders.png">
                <p class="nhtu_p">{{$t('orderPageCurrentEntrustment.close_9')}}</p>
              </div>
            </li>
          </template>
        </template>
      </ul>


    </div>

  </div>


  <div class="qq_contentMobile" v-if="isMobile||isApp||isIOS">

    <!--    KK交易挖矿详情-->
    <div :class="(isApp||isIOS) ? 'qq_titleIsApp':'qq_titleMobile'">
      <span>{{$t('miningDetails')}}</span>
      <span class="delails" @click="goToDelails">{{$t('报名详情')}}
      <img class="jiantou" src="../../assets/wk_icon@2x.png" alt="">
      </span>
    </div>


    <!--账号-->
    <div class="account_numberMobile">
      <span>{{$t('number')}}:</span>
      <span>{{userName}}</span>
    </div>

    <!--    参加日期-->
    <div class="account_number_rightMobile">
      <span>{{$t('participation')}}:</span>
      <span>{{formatDateUitl(createdate)}}</span>
    </div>

    <div class="quantification_con" >
      <!--  sss 今日量化-->
      <div class="quantification_todayMobile">
        <div class="quantification_today_divMobile">
          <!--          今日量化-->
          <span class="quantification_today_span">{{$t('quantification')}}</span>
          <span class="quantification_today_time">({{quantStartEndTime}})</span>
        </div>

        <!--        即将释放-->
        <div class="to_be_released_soonMobile">
          <span class="to_be_re">{{$t('releasedSoon')}}</span>
          <span class="to_be_re_divMobile">{{reward}}</span>
          <span>KK</span>
        </div>


        <!--        已量化-->
        <div class="to_be_released_soonMobile">
          <span class="to_be_re">{{$t('quantified')}}</span>
          <span class="to_be_re_divMobile ml">{{totalAmount}}</span>
          <span>KK</span>
        </div>
      </div>
      <!--  sss 今日奖励-->
      <!--      奖励-->

    </div>

    <div class="quantification_con" >
      <div class="Todays_awardMobile">
        <div class="Todays_award_divMobile">{{$t('reward')}}</div>

        <ul class="TodaysUl">
          <li class="TodaysLiMobile">
            <!--            矿源-->
            <div class="li_div_20Mobile">
              <p class="mobileColor0">{{$t('source')}}（YY + TT）</p>
              <p class="mobileColor3">{{fdesc}}</p>
            </div>
            <!--            矿源奖励释放-->
            <div class="li_div_60Mobile">
              <p class="mobileColor0">{{$t('rewardRelease')}}(KK)</p>
              <p class="mobileColor3">{{doSendReward}}</p>
            </div>

            <!--            已释放-->
            <div class="li_div_19Mobile">
              <p class="mobileColor0">{{$t('released')}}</p>
              <p class="color_7">{{miningProgress * 100 }}%</p>
            </div>
          </li>
        </ul>

        <div class="border_50Mobile">
          <div class="progress_bar">
            <el-progress :show-text="false" :stroke-width="16" :percentage="(miningProgress) * 100" color="#3576F5" status="exception" ></el-progress>
          </div>
        </div>

      </div>
     </div>

    <div class="mobile-record">

      <!--      交易记录-->
      <div class="record_divMobile">
        <div class="mobileRecord_div" @click="postWithd1(1)" :class="{'mobileSelected_cardType':cardType == 1}">{{$t('当前挖矿记录')}}</div>
        <div class="mobileRecord_div mobileSelected_cardTypeML" @click="postWithd1(2)" :class="{'mobileSelected_cardType':cardType == 2}">{{$t('历史挖矿记录')}}</div>
      </div>
      <ul class="mobileRecordUl" v-if="cardType == 1">
        <!--表头 S-->
        <li class="mobileApplication_header">
          <!--          日期-->
          <div class="mobileApplication_header_div">{{$t('date')}}</div>
          <!--          量化-->
          <div class="mobileApplication_header_div">{{$t('quanti')}}</div>
          <!--          奖励-->
          <div class="mobileApplication_header_div">{{$t('reward')}}</div>
          <!--          矿源金额-->
          <div class="mobileApplication_header_div_right">{{$t('sourceAmount')}}</div>
        </li>
        <template>
          <template v-if="transactionRecording.length !== 0">
            <li class="flex application_liMobile" v-for="(item,index) in transactionRecording" :key="item.id">
              <!--挖矿日期-->
              <div class="mobileApplication_header_div borbot">{{item.createDate}}</div>
              <!--总量化数(挖矿总数)-->
              <div class="mobileApplication_header_div borbot">{{item.totalAmount}}</div>
              <!--奖励-->
              <div class="mobileApplication_header_div borbot">{{item.reward}}</div>
              <!--剩余配套-->
              <div class="mobileApplication_header_div_right borbot">{{item.surplus}}</div>
            </li>
          </template>
          <!-- 如果加载完成、已登录、有数据，则显示数据 end -->

          <!-- 如果没加载完成、没登录、没数据，则显示'--' begin -->
          <template v-else>
            <li class="weit">
              <div class="nhtu"><img src="../../assets/noOrders.png">
                <p class="nhtu_p">{{$t('orderPageCurrentEntrustment.close_9')}}</p>
              </div>
            </li>
          </template>
          <template v-if="showLoadingMore">
            <li class="loading-more">
              <span class="text_blue pointer" v-if="!loadingMoreShow" @click="clickLoadingMore">{{$t('orderPageHistoricalEntrustment.close_10')}}</span>
              <span class="text_blue" v-else>{{$t('orderPageHistoricalEntrustment.close_11')}}</span>
            </li>
          </template>
        </template>
      </ul>

      <ul class="mobileRecordUl" v-if="cardType == 2">
        <!--表头 S-->
        <li class="mobileApplication_header">
          <!--          账号-->
<!--          <div class="application_header_div">{{$t('账号')}}</div>-->
          <!--          期数-->
          <div class="mobileApplication_header_divQ">{{$t('期数')}}</div>
          <!--          配套-->
          <div class="mobileApplication_header_div">{{$t('配套')}}</div>
          <!--          时间-->
          <div class="mobileApplication_header_divS">{{$t('时间')}}</div>
          <!--          操作-->
          <div class="mobileApplication_header_div_right">{{$t('操作')}}</div>
        </li>

        <template>
          <!--          <template v-if="transactionRecording.length !== 0">-->
          <!--            <li class="flex application_li" v-for="(item,index) in transactionRecording" :key="item.id">-->
          <li class="" v-for="(item,index) in computedHistoryRecords" :key="item.id">

            <div class="flex application_liMobile" >
              <!--账号-->
<!--              <div class="application_header_div ">{{$t('账号')}}</div>-->
              <!--期数-->
              <div class="mobileApplication_header_divQ ">{{item.periodsNum}}</div>
              <!--配套-->
              <div class="mobileApplication_header_div ">{{item.fdesc}}</div>
              <!--时间-->
              <div class="mobileApplication_header_divS ">{{formatDateUitl(item.createdAt)}}</div>
              <!--操作-->
              <div class="mobileApplication_header_div_right " @click="showDetail(item.id)" v-if="clickThis != item.id">
                <span class="account-click">{{$t('详情')}}</span>
                <img class="mobileImgOn" src="../../assets/shangla_icon.png" alt="">
              </div>
              <div class="application_header_div_right " @click="showDetail(item.id)" v-if="clickThis == item.id">
                <span class="account-click">{{$t('收起')}}</span>
                <img class="mobileImgOn" src="../../assets/xiala_icon.png" alt="">
              </div>
            </div>

            <div class="mobilAapplication_liMining mobileULWT" v-if="clickThis == item.id">
              <ul>
                <li class="mobileULW">
                  <div class="flex mobileApplicationDiv" >
                    <!--账号-->
                    <div class="mobileApplication_header_div ">{{$t('日期')}}</div>
                    <!--期数-->
                    <div class="mobileApplication_header_div ">{{$t('量化')}}</div>
                    <!--配套-->
                    <div class="mobileApplication_header_div ">{{$t('奖励')}}</div>
                    <!--时间-->
                    <div class="mobileApplication_header_div_right ">{{$t('矿源金额')}}</div>
                  </div>
                </li>
                <li class="mobileULW" v-for="(item,index) in computedHistoricalDetails" :key="item.id">
                  <div class="flex mobileApplicationDiv" >
                    <!--账号-->
                    <div class="mobileApplication_header_div ">{{item.createDate}}</div>
                    <!--期数-->
                    <div class="mobileApplication_header_div ">{{item.totalAmount}}</div>
                    <!--配套-->
                    <div class="mobileApplication_header_div ">{{item.reward}}</div>
                    <!--时间-->
                    <div class="mobileApplication_header_div_right ">{{item.surplus}}</div>
                  </div>
                </li>
              </ul>
            </div>

          </li>
        </template>
      </ul>


    </div>


  </div>


  <!--  此账号未参与KK交易挖矿-->
  <PopupArticle :switch="buyConfirmSuccess" @close="buyConfirmSuccessClose"  v-if="!isMobile">

<!--    <div v-if="records.length == 0">-->
     <div slot="article" class="Internal_siding img_ConfirmSuccess" v-if="records.length == 0">
        <img src="../../assets/lianghua.png" alt="" >
        <p>{{$t('transactions')}}</p>
      </div>
     <div slot="footer"v-if="records.length == 0">
        <!--      首页-->
        <div @click="goToHomePage" class="notice_but_1 pointer" >


          {{$t('homePage')}}
        </div>
        <!--      立即参与-->
        <div @click="goToParticipateNow" class=" notice_but button-base btn_blue pointer">
          {{$t('participateNow')}}
        </div>
        </div>

<!--      </div>-->

    <div slot="article" class="Internal_siding img_ConfirmSuccess" v-if="records.length != 0">
      <img src="../../assets/lianghua.png" alt="" >
      <p v-if="fstatus == '驳回' || fstatus == '禁用'">{{$t('transactions')}}</p>
      <p v-if="fstatus == '未审核'">{{$t('此账号未审核')}}</p>
    </div>
    <div slot="footer" v-if="records.length != 0">
      <!--      首页-->
      <div @click="goToHomePage" class="notice_but_1 pointer" v-if="fstatus == '驳回' || fstatus == '禁用'">
        {{$t('homePage')}}
      </div>
      <!--      立即参与-->
      <div @click="goToParticipateNow" class=" notice_but button-base btn_blue pointer" v-if="fstatus == '驳回' || fstatus == '禁用'">
        {{$t('participateNow')}}
      </div>
      <!--      首页-->
      <div @click="goToHomePage" class="notice_but_1 pointer" v-if="fstatus == '未审核'">
        {{$t('homePage')}}
      </div>
      <!--      立即参与-->
      <div @click="goToParticipateNow" class=" notice_but button-base btn_blue pointer" v-if="fstatus == '未审核'">
        {{$t('报名页')}}
      </div>

    </div>

  </PopupArticle>

</div>
