<div class="OfficialQuantitativeDetails">

  <div class="qq_content">

<!--    QQ交易挖矿详情-->
    <div class="qq_title">
      {{$t('miningDetails')}}
    </div>

<!--账号-->
    <div class="account_number">
      <span>{{$t('number')}}:</span>
      <span>{{userName}}</span>
    </div>

<!--    参加日期-->
    <div class="account_number_right">
      <span>{{$t('participation')}}:</span>
      <span>2020-02-02</span>
    </div>

    <div class="quantification_con" >
      <!--  sss 今日量化-->
      <div class="quantification_today">
        <div class="quantification_today_div">
<!--          今日量化-->
          <span class="quantification_today_span">{{$t('quantification')}}</span>
          <span class="quantification_today_time">(04/02 9:00 - 05/02 8:59)</span>
        </div>

<!--        即将释放-->
        <div class="to_be_released_soon">
          <span class="to_be_re">{{$t('releasedSoon')}}</span>
          <span class="to_be_re_div">0.00</span>
          <span>QQ</span>
        </div>


<!--        已量化-->
        <div class="to_be_released_soon">
          <span class="to_be_re">{{$t('quantified')}}</span>
          <span class="to_be_re_div to_be_re_div_1">0.00</span>
        </div>
      </div>
      <!--  sss 今日奖励-->
<!--      奖励-->
      <div class="Todays_award">
        <div class="Todays_award_div">{{$t('reward')}}</div>

        <ul>
          <li>
<!--            矿源-->
            <div class="li_div_20">
              <p class="color_0">{{$t('source')}}（QQ）</p>
              <p class="color_3">100000.00</p>
            </div>
<!--            矿源奖励释放-->
            <div class="li_div_60">
              <p class="color_0">{{$t('rewardRelease')}}(QQ)</p>
              <p class="color_3">0</p>
            </div>

<!--            已释放-->
            <div class="li_div_19">
              <p class="color_0">{{$t('released')}}</p>
              <p class="color_7">0.00%</p>
            </div>
          </li>
        </ul>

        <div class="border_50"></div>

      </div>
    </div>

    <div class="record">

<!--      交易记录-->
      <div class="record_div">{{$t('transactionRecord')}}</div>

      <ul >
        <!--表头 S-->
        <li class="application_header">
<!--          日期-->
          <div class="application_header_div">{{$t('date')}}</div>
<!--          量化-->
          <div class="application_header_div">{{$t('quanti')}}</div>
<!--          奖励-->
          <div class="application_header_div">{{$t('reward')}}</div>
<!--          矿源金额-->
          <div class="application_header_div_right">{{$t('sourceAmount')}}</div>
        </li>
        <!--表头 E-->

        <!-- 如果加载完成、已登录、有数据，则显示数据 begin -->
<!--        <template v-if="!loading">-->
          <!--            <template v-if="userId && currentOrderComputed.length!==0">-->
<!--          <template v-if="0">-->
<!--            <transition-group name="fade">-->
<!--              <li class="flex">-->
<!--                &lt;!&ndash;账号&ndash;&gt;-->
<!--                <div class="application_header_div">账号</div>-->
<!--                &lt;!&ndash;期数&ndash;&gt;-->
<!--                <div class="application_header_div">期数</div>-->
<!--                &lt;!&ndash;配套&ndash;&gt;-->
<!--                <div class="application_header_div">配套</div>-->
<!--                &lt;!&ndash;时间&ndash;&gt;-->
<!--                <div class="application_header_div_right">时间</div>-->
<!--              </li>-->
<!--            </transition-group>-->
<!--          </template>-->
          <!-- 如果加载完成、已登录、有数据，则显示数据 end -->

          <!-- 如果没加载完成、没登录、没数据，则显示'--' begin -->
          <template>
<!--          <template v-else>-->
            <li class="weit">
              <div class="nhtu"><img src="../../assets/无订单-浅色.png">
                <p class="nhtu_p">{{$t('orderPageCurrentEntrustment.close_9')}}</p>
              </div>

            </li>
          </template>
<!--        </template>-->
      </ul>

    </div>

  </div>


  <!--  此账号未参与QQ交易挖矿-->
  <PopupArticle :switch="buyConfirmSuccess" @close="buyConfirmSuccessClose">

    <div slot="article" class="Internal_siding img_ConfirmSuccess">
      <img src="../../assets/量化_未报名_icon.png" alt="" >
      <p>{{$t('transactions')}}</p>
    </div>
    <div slot="footer">
      <!--      首页-->
      <div @click="goToHomePage" class="notice_but_1 pointer">
        {{$t('homePage')}}
      </div>
      <!--      立即参与-->
      <div @click="goToParticipateNow" class=" notice_but button-base btn_blue pointer">
        {{$t('participateNow')}}
      </div>

    </div>

  </PopupArticle>

</div>
