<div class="current-entrustment-container">
<!--  this.$route.name==currentEntrust?'current-entrustment-container':'current-entrustment-shiying'-->

  <ul class="" :class="$route.name == 'currentEntrust'?'detail':'detail-1'">
    <!-- 表头 begin -->
<!--    <li class="tr-th flex">-->
<!--      &lt;!&ndash;单号&ndash;&gt;-->
<!--      &lt;!&ndash;<div class="th td-order">{{$t('orderPageCurrentEntrustment.order')}}</div>&ndash;&gt;-->
<!--      &lt;!&ndash;委托时间&ndash;&gt;-->
<!--      <div class="th td-time txt-bold">{{$t('orderPageCurrentEntrustment.time')}}</div>-->
<!--      &lt;!&ndash;类别&ndash;&gt;-->
<!--      <div class="th td-category txt-bold">{{$t('orderPageCurrentEntrustment.category')}}</div>-->
<!--      &lt;!&ndash;市场&ndash;&gt;-->
<!--      <div class="th td-market txt-bold">{{$t('orderPageCurrentEntrustment.market')}}</div>-->
<!--      &lt;!&ndash;单价&ndash;&gt;-->
<!--      <div class="th td-price txt-bold">{{$t('orderPageCurrentEntrustment.price')}}</div>-->
<!--      &lt;!&ndash;数量&ndash;&gt;-->
<!--      <div class="th td-number txt-bold">{{$t('orderPageCurrentEntrustment.number')}}</div>-->
<!--      &lt;!&ndash;金额&ndash;&gt;-->
<!--      <div class="th td-amount txt-bold">{{$t('orderPageCurrentEntrustment.amount')}}</div>-->
<!--      &lt;!&ndash;成交率&ndash;&gt;-->
<!--      <div class="th td-turnover txt-bold">{{$t('orderPageCurrentEntrustment.turnover')}}</div>-->
<!--      &lt;!&ndash;全撤&ndash;&gt;-->
<!--      <div class="th td-operation txt-bold">-->
<!--        <span class="click-operation text_blue" v-if="loading || currentOrderComputed.length===0">{{$t('orderPageCurrentEntrustment.cancelAll')}}</span>-->
<!--        <span class="click-operation text_blue" v-if="!loading && currentOrderComputed.length!==0"-->
<!--              @click="cancelAllOrder">{{$t('orderPageCurrentEntrustment.cancelAll')}}</span>-->
<!--      </div>-->
<!--    </li>-->
    <li class="tr-th flex">
      <!--单号-->
      <!--<div class="th td-order">{{$t('orderPageCurrentEntrustment.order')}}</div>-->
      <!--委托时间-->
      <div class="th td-time">{{$t('time1')}}</div>
      <!--交易对-->
      <div class="th td-category">{{$t('TransactionPairs')}}</div>
      <!--类别-->
      <div class="th td-category-1">{{$t('type')}}</div>
      <!--方式-->
      <div class="th td-market">{{$t('price1')}}</div>
      <!--方向-->
      <div class="th td-market">{{$t('number')}}</div>
      <!--单价-->
      <div class="th td-price">{{$t('TotalEntrustedAmount')}}</div>
      <!--数量-->
      <div class="th td-number">{{$t('state')}}</div>

      <!--金额-->
<!--      <div class="th td-time">{{$t('orderPageCurrentEntrustment.close_1')}}</div>-->
<!--      &lt;!&ndash;交易对&ndash;&gt;-->
<!--      <div class="th td-category">{{$t('orderPageCurrentEntrustment.close_2')}}</div>-->
<!--      &lt;!&ndash;类别&ndash;&gt;-->
<!--      <div class="th td-category">{{$t('orderPageCurrentEntrustment.close_3')}}</div>-->
<!--      &lt;!&ndash;方式&ndash;&gt;-->
<!--      <div class="th td-market">{{$t('orderPageCurrentEntrustment.close_4')}}</div>-->
<!--      &lt;!&ndash;方向&ndash;&gt;-->
<!--      <div class="th td-market">{{$t('orderPageCurrentEntrustment.close_5')}}</div>-->
<!--      &lt;!&ndash;单价&ndash;&gt;-->
<!--      <div class="th td-price">{{$t('orderPageCurrentEntrustment.close_6')}}</div>-->
<!--      &lt;!&ndash;数量&ndash;&gt;-->
<!--      <div class="th td-number">{{$t('orderPageCurrentEntrustment.close_7')}}</div>-->
      <!--金额-->

<!--      <div class="th td-amount">详情</div>-->
<!--      &lt;!&ndash;成交率&ndash;&gt;-->
<!--      <div class="th td-turnover">触发条件<img src="../../assets/chufa.png" width="9.8px"> </div>-->
<!--      &lt;!&ndash;成交率&ndash;&gt;-->
<!--      <div class="th td-turnover">已成交 </div>-->
<!--      &lt;!&ndash;成交率&ndash;&gt;-->
<!--      <div class="th td-turnover">未成交 </div>-->
      <!--全撤-->
      <div class="th td-operation ">
        <span class="click-operation" v-if="loading || currentOrderComputed.length===0">{{$t('operation')}}</span>
<!--        <span class="click-operation" v-if="loading || currentOrderComputed.length===0">{{$t('orderPageCurrentEntrustment.close_8')}}</span>-->
        <span class="click-operation cancelAll" v-if="!loading && currentOrderComputed.length!==0"
              @click="cancelAllOrder">{{$t('orderPageCurrentEntrustment.cancelAll')}}</span>
      </div>
    </li>
    <!-- 表头 end -->
    <!-- 如果加载完成、已登录、有数据，则显示数据 begin -->
    <template v-if="!loading">
      <template v-if="userId && currentOrderComputed.length!==0">
        <transition-group name="fade">
          <li class="flex"
              :class="$route.name == 'currentEntrust'?'tr-td':'tr-td-col'"
              v-for="(order,index) in currentOrderComputed" :key="order.id">
            <!--单号-->
            <!--<div class="td td-order">{{order.id}}</div>-->
            <!--委托时间-->
            <div class="td td-time">{{$globalFunc.formatDateUitl(order.createdAt,'YYYY-MM-DD hh:mm:ss')}}</div>
            <!--类别-->
            <div class="td td-category">{{order.symbol.split('_')[0]}}/{{order.symbol.split('_')[1]}}</div>
            <!--市场-->
            <div class="td td-category-1" :class="order.type==='BUY_LIMIT'?'text_blue-3':'text_red-4'">
              {{order.type === 'BUY_LIMIT' && $t('orderPageCurrentEntrustment.buy') ||
              $t('orderPageCurrentEntrustment.sale')}}
            </div>
            <!--单价-->
            <div class="td td-market">{{toFixed(order.price, !!quoteScale_list[order.symbol] ? quoteScale_list[order.symbol].quoteScale : 8)}}</div>
            <!--数量-->
            <div class="td td-market">{{toFixed(order.amount, !!quoteScale_list[order.symbol] ? quoteScale_list[order.symbol].baseScale : 8)}}</div>
            <!--金额-->
            <div class="td td-price">{{toFixed(order.price * order.amount,8)}}</div>
            <!--成交率-->
            <div class="td td-number">{{((order.filledAmount / order.amount) * 100).toFixed(2) + '%'}}</div>
            <!--撤单-->
            <div class="td td-operation">
              <span class="click-operation chedanbutton text_blue-0" @click="cancelOrder(order)" v-if="!order.click">{{$t('orderPageCurrentEntrustment.cancel')}}</span>
              <span class="click-operating chedanbutton" v-else>{{$t('orderPageCurrentEntrustment.canceling')}}</span>
            </div>
          </li>
        </transition-group>
      </template>
      <!-- 如果加载完成、已登录、有数据，则显示数据 end -->

      <!-- 如果没加载完成、没登录、没数据，则显示'--' begin -->
      <template v-else>
        <li class="weit">
<!--          <div class="td td-order">&#45;&#45;</div>-->
<!--          <div class="td td-time">&#45;&#45;</div>-->
<!--          <div class="td td-category">&#45;&#45;</div>-->
<!--          <div class="td td-market">&#45;&#45;</div>-->
<!--          <div class="td td-price">&#45;&#45;</div>-->
<!--          <div class="td td-number">&#45;&#45;</div>-->
<!--          <div class="td td-amount">&#45;&#45;</div>-->
<!--          <div class="td td-turnover">&#45;&#45;</div>-->
<!--          <div class="td td-operation">&#45;&#45;</div>-->

          <div class="nhtu" v-if="$route.name == 'currentEntrust'"><img src="../../assets/noOrders.png"></div>
          <div class="nhtu" v-if="$route.name !== 'currentEntrust'"><img src="../../assets/noOrderDark.png"></div>
          <span>{{$t('orderPageCurrentEntrustment.close_9')}}</span>
        </li>
      </template>
      <!-- 如果没加载完成、没登录、没数据，则显示'--' begin -->
      <template v-if="!loading && userId && tradinghallLimit===10 && currentOrderComputed.length >= 10">
        <li class="loading-more seeMore" >
          <span class="text_blue pointer" @click="toCurrentHistory">{{$t('orderPageHistoricalEntrustment.close_12')}}</span>
        </li>
      </template>
    </template>
  </ul>
  <!-- 加载更多 begin -->
  <div class="" v-if="loading && userId">
    <Loading/>
  </div>
  <!-- 加载更多 end -->

  <!-- 是否全部撤单 begin -->
  <PopupWindow :switch="popOpen" v-on:close="closePop">
    <div slot="header"><span class="pop-header">{{$t('orderPageCurrentEntrustment.promptTitle')}}</span></div>
    <div slot="article" class="pop-article">
      <p>{{$t('orderPageCurrentEntrustment.promptArticle')}}</p>
    </div>
    <div slot="footer" class="pop-footer flex-center">
      <button @click="ensurePop" class="button-base  btn_blue pointer" v-if="!waitForCancel">
        {{$t('orderPageCurrentEntrustment.ensure')}}
      </button>
      <button class="button-base btn_grey" v-if="waitForCancel" disabled>{{waitForCancelTime}}</button>
      <button @click="closePop" class="button-base m-r btn_simple pointer">{{$t('orderPageCurrentEntrustment.close')}}
      </button>
    </div>

  </PopupWindow>
  <!-- 是否全部撤单 end -->

  <!-- 是否单个撤单 begin -->
  <PopupWindow :switch="cancelConfirm" @close="cancelConfirmClose">
    <div slot="header">{{$t('orderPageCurrentEntrustment.close_10')}}</div>
    <div slot="article">
      {{$t('orderPageCurrentEntrustment.close_11')}}
    </div>
    <div slot="footer" class="pop-footer flex">
      <button class="button-base" @click="clickToCancelConfirm" v-if="!waitForCancel">{{$t('orderPageCurrentEntrustment.close_10')}}</button>
      <button class="button-base button-grey" v-if="waitForCancel" disabled>{{waitForCancelTime}}s</button>
      <button class="button-base" @click="cancelConfirmClose">{{$t('orderPageCurrentEntrustment.close')}}</button>
    </div>
  </PopupWindow>
  <!-- 是否单个撤单 end -->


  <PopupPrompt :popType="promptType" :popOpen="promptOpen" :popClose="closePrompt"/>


</div>
