<!--<div class="OrderPageHistoricalEntrustmentDetail-container loading-min-height">-->
<div class="loading-min-height" :class="$route.name == 'historicalEntrust'?'OrderPageHistoricalEntrustmentDetail-container':'OrderPageHistoricalEntrustmentDetail-container-1'">
  <Loading v-if="loading"/>
  <template v-if="!loading">

    <div class="hidden-detail-container-total flex">
      <div class="exchange-total-amount">
        交易总量：
        <span class="text_black">{{totalAmount}} USDT</span>
      </div>

      <div class="exchange-total-amount">
        总盈亏：
        <span class="text_black">{{totalRealizedPnl}} USDT</span>
      </div>

      <div class="exchange-total-amount">
        总手续费：
        <span class="text_black">{{totalCommission}} USDT</span>
      </div>
    </div>

    <ul class="hidden-detail-container">
      <li class="hidden-detail-li hidden-detail-li-title flex">
        <!--时间-->
        <div class="hidden-detail-title">{{$t('时间')}}</div>
        <!--交易价格-->
        <div class="hidden-detail-title">{{$t('交易价格')}}</div>
        <!--成交数量-->
        <div class="hidden-detail-title">{{$t('orderPageHistoricalEntrustmentDetail.number')}}</div>
        <!--手续费-->
        <div class="hidden-detail-title">{{$t('手续费')}}</div>
        <!--盈亏 begin -->
        <div class="hidden-detail-title">
          {{$t('盈亏')}}
        </div>
        <!--盈亏 end -->
        <!--成交量 begin -->
        <div class="hidden-detail-title-1">
          {{$t('成交额')}}
        </div>
        <!--成交量 end -->
      </li>

      <li class="hidden-detail-li hidden-detail-li-article flex-center" v-for="(detail,index) in histortyOrderDetail"
          :key="index">
        <!--时间 begin -->
        <div class="hidden-detail-article">{{$globalFunc.formatDateUitl(detail.time,'YYYY-MM-DD hh:mm:ss')}}</div>
        <!--时间 end -->

        <!--交易价格 begin -->
        <div class="hidden-detail-article">{{toFixed(detail.price, !!quoteScale_list[symbol] ? quoteScale_list[symbol].quoteScale : 8)}} {{symbol.split('_')[1]}}</div>
        <!--交易价格 end -->

        <!--成交数量 begin -->
        <div class="hidden-detail-article">{{detail.qty}}</div>
        <!--成交数量 end -->

        <!--手续费 begin -->
        <div class="hidden-detail-article">{{toFixed(detail.commission, 8)}}
          {{detail.commissionAsset}}
        </div>
        <!--手续费 end -->

        <!--盈亏 begin -->
        <!--订单数量如果超过1并且没开抵扣，显示一条的 begin -->
        <div class="hidden-detail-article" v-if="histortyOrderDetail.length!==1">
          {{toFixed(detail.realizedPnl,8)}}
          {{detail.commissionAsset}}
        </div>
        <!--订单数量如果超过1并且没开抵扣，显示一条的 end -->

<!--        &lt;!&ndash;订单数量如果超过1并且开了抵扣，显示一条的 begin &ndash;&gt;-->
<!--        <div class="hidden-detail-article" v-if="histortyOrderDetail.length!==1 && replaced">-->
<!--          <p class="hidden-detail-article-box hidden-detail-article-original-currency flex-row">-->
<!--            <span class="hidden-detail-article-title hidden-detail-article-original-currency-title"-->
<!--                  :class="{'hidden-detail-article-title-en':lang!=='CH'}"-->
<!--            >{{$t('orderPageHistoricalEntrustmentDetail.originalCurrency')}}</span>-->
<!--            <span-->
<!--              class="hidden-detail-article-item hidden-detail-article-original-currency-item">{{toFixed(detail.fee,8)}} {{detail.feeCurrency}}</span>-->
<!--          </p>-->
<!--        </div>-->
<!--        &lt;!&ndash;订单数量如果超过1并且开了抵扣，显示一条的 end &ndash;&gt;-->

        <!--订单数量如果只有1条，显示为总计 begin -->

        <!--如果没开抵扣，显示原币种 begin -->
        <div class="hidden-detail-article" v-if="histortyOrderDetail.length==1 && !replaced">
            <span class="hidden-detail-article-item hidden-detail-article-original-currency-item">
              {{toFixed(detail.realizedPnl,8)}}
              {{detail.commissionAsset}}</span>
        </div>
        <!--如果没开抵扣，显示原币种 end -->


<!--        &lt;!&ndash;如果开抵扣了，显示抵扣 begin &ndash;&gt;-->
<!--        <div class="hidden-detail-article" v-if="histortyOrderDetail.length==1 && replaced">-->
<!--          <p class="hidden-detail-article-box hidden-detail-article-really-currency">-->
<!--            <span class="hidden-detail-article-item hidden-detail-article-really-currency-item"-->
<!--              v-if="originalFee !==refundedFee">-->
<!--              {{toFixed(accMinus(originalFee , refundedFee,8))}} {{originalCurrency}}-->
<!--            </span>-->
<!--            <span class="hidden-detail-article-item hidden-detail-article-really-currency-item"-->
<!--                  v-if="replacedFee !==0">-->
<!--              {{toFixed(replacedFee,8)}} {{replacedCurrency}}-->
<!--            </span>-->
<!--          </p>-->
<!--        </div>-->
<!--        &lt;!&ndash;如果开抵扣了，显示抵扣 end &ndash;&gt;-->
<!--        &lt;!&ndash;订单数量如果只有1条，显示为总计 end &ndash;&gt;-->
        <!--盈亏 end -->

        <!--成交量 begin -->
        <div class="hidden-detail-article-1" v-if="histortyOrderDetail.length !=0">
          {{toFixed(detail.quoteQty,8)}}
          {{detail.commissionAsset}}
        </div>
<!--        <div class="hidden-detail-article-1" v-if="histortyOrderDetail.length==1 && orderType">-->
<!--          {{!replaced ? toFixed(accMinus(filledPrice , totalFee),8) : toFixed(accMinus(filledPrice , accMinus(originalFee , refundedFee)),8)}}-->
<!--          {{orderType?symbol.split('_')[1]:symbol.split('_')[0]}}-->
<!--        </div>-->
        <div class="hidden-detail-article-1" v-if="histortyOrderDetail.length ==0">
          ---
        </div>
        <!--成交量 end -->
      </li>

      <li class="hidden-detail-li hidden-detail-li-article" v-if="loadingMoreShow">
        <span>{{$t('orderPageHistoricalEntrustmentDetail.loadingMore')}}</span>
      </li>

      <!--总计 begin -->
<!--      <li class="hidden-detail-li hidden-detail-li-article flex-center"-->
<!--          v-if="!loadingMoreShow && histortyOrderDetail.length!==0 && histortyOrderDetail.length!==1">-->
<!--        <div class="hidden-detail-article">{{$t('orderPageHistoricalEntrustmentDetail.total')}}</div>-->
<!--        <div class="hidden-detail-article">-->
<!--          {{toFixed(averagePrice, !!quoteScale_list[symbol] ? quoteScale_list[symbol].quoteScale : 8)}} {{symbol.split('_')[1]}}({{$t('orderPageHistoricalEntrustmentDetail.average')}})-->
<!--        </div>-->
<!--        <div class="hidden-detail-article">-->
<!--          {{toFixed(amount, !!quoteScale_list[symbol] ? quoteScale_list[symbol].baseScale : 8)}} {{symbol.split('_')[0]}}-->
<!--        </div>-->
<!--        <div class="hidden-detail-article">{{toFixed(filledPrice,8)}} {{symbol.split('_')[1]}}</div>-->

<!--        &lt;!&ndash;如果没开抵扣，显示原币种 begin &ndash;&gt;-->
<!--        <div class="hidden-detail-article" v-if="!replaced">-->
<!--          &lt;!&ndash;<p class="hidden-detail-article-box hidden-detail-article-original-currency">&ndash;&gt;-->
<!--            &lt;!&ndash;<span class="hidden-detail-article-title hidden-detail-article-original-currency-title"&ndash;&gt;-->
<!--                  &lt;!&ndash;:class="{'hidden-detail-article-title-en':lang!=='CH'}"&ndash;&gt;-->
<!--            &lt;!&ndash;&gt;{{$t('orderPageHistoricalEntrustmentDetail.originalCurrency')}}</span>&ndash;&gt;-->
<!--            <span-->
<!--              class="hidden-detail-article-item hidden-detail-article-original-currency-item">{{toFixed(totalFee,8)}} {{orderType?symbol.split('_')[1]:symbol.split('_')[0]}}</span>-->
<!--          &lt;!&ndash;</p>&ndash;&gt;-->
<!--          &lt;!&ndash;<p class="hidden-detail-article-box hidden-detail-article-really-currency">&ndash;&gt;-->
<!--            &lt;!&ndash;<span class="hidden-detail-article-title hidden-detail-article-really-currency-title"&ndash;&gt;-->
<!--                  &lt;!&ndash;:class="{'hidden-detail-article-title-en':lang!=='CH'}"&ndash;&gt;-->
<!--            &lt;!&ndash;&gt;{{$t('orderPageHistoricalEntrustmentDetail.reallyCurrency')}}</span>&ndash;&gt;-->
<!--            &lt;!&ndash;<span&ndash;&gt;-->
<!--              &lt;!&ndash;class="hidden-detail-article-item hidden-detail-article-really-currency-item"&ndash;&gt;-->
<!--            &lt;!&ndash;&gt;{{toFixed(totalFee,8)}} {{orderType?symbol.split('_')[1]:symbol.split('_')[0]}}</span>&ndash;&gt;-->
<!--          &lt;!&ndash;</p>&ndash;&gt;-->
<!--        </div>-->
<!--        &lt;!&ndash;如果没开抵扣，显示原币种 end &ndash;&gt;-->


<!--        &lt;!&ndash;如果开抵扣了，显示抵扣 begin &ndash;&gt;-->
<!--        <div class="hidden-detail-article" v-if="replaced">-->
<!--          &lt;!&ndash;<p class="hidden-detail-article-box hidden-detail-article-original-currency flex-row">&ndash;&gt;-->
<!--            &lt;!&ndash;<span class="hidden-detail-article-title hidden-detail-article-original-currency-title"&ndash;&gt;-->
<!--                  &lt;!&ndash;:class="{'hidden-detail-article-title-en':lang!=='CH'}"&ndash;&gt;-->
<!--            &lt;!&ndash;&gt;{{$t('orderPageHistoricalEntrustmentDetail.originalCurrency')}}</span>&ndash;&gt;-->
<!--            &lt;!&ndash;<span&ndash;&gt;-->
<!--              &lt;!&ndash;class="hidden-detail-article-item hidden-detail-article-original-currency-item">{{toFixed(originalFee,8)}} {{originalCurrency}}</span>&ndash;&gt;-->
<!--          &lt;!&ndash;</p>&ndash;&gt;-->
<!--          <p class="hidden-detail-article-box hidden-detail-article-really-currency flex-row">-->
<!--            <span class="hidden-detail-article-title hidden-detail-article-really-currency-title"-->
<!--                  :class="{'hidden-detail-article-title-en':lang!=='CH'}"-->
<!--            >{{$t('orderPageHistoricalEntrustmentDetail.reallyCurrency')}}</span>-->
<!--            <span-->
<!--              class="hidden-detail-article-item hidden-detail-article-really-currency-item"-->
<!--              v-if="originalFee !==refundedFee"-->
<!--            >{{toFixed(accMinus(originalFee , refundedFee),8)}} {{originalCurrency}}</span>-->
<!--            <span-->
<!--              class="hidden-detail-article-item hidden-detail-article-really-currency-item"-->
<!--              v-if="replacedFee !==0"-->
<!--            >{{toFixed(replacedFee,8)}} {{replacedCurrency}}</span>-->
<!--          </p>-->
<!--        </div>-->
<!--        &lt;!&ndash;如果开抵扣了，显示抵扣 end &ndash;&gt;-->

<!--        <div class="hidden-detail-article-1" v-if="!orderType">-->
<!--          {{!replaced ? toFixed(actualAccount,8) : toFixed(accMinus(amount ,symbol.split('_')[0] == "TT" ? replacedFee : accMinus(originalFee , refundedFee)),8)}}-->
<!--          {{orderType?symbol.split('_')[1]:symbol.split('_')[0]}}-->
<!--        </div>-->
<!--        <div class="hidden-detail-article-1" v-if="orderType">-->
<!--          {{!replaced ? toFixed(accMinus(filledPrice , totalFee),8) : toFixed(accMinus(filledPrice , accMinus(originalFee , refundedFee)),8)}}-->
<!--          {{orderType?symbol.split('_')[1]:symbol.split('_')[0]}}-->
<!--        </div>-->

<!--      </li>-->
      <!--总计 end -->
    </ul>
  </template>
</div>

