<div class="current-entrustment-container">
  <!--  this.$route.name==currentEntrust?'current-entrustment-container':'current-entrustment-shiying'-->
  <div v-if="loading">
    <Loading/>
  </div>
  <ul class="detail-1" >
    <li class="tr-th flex">
      <!--合约-->
      <div class="th td-time1">{{$t('合约')}}</div>
      <!--数量-->
      <div class="th td-number">{{$t('数量')}}</div>
      <!--开仓价格-->
      <div class="th td-category-1 ">
        <span class="border-dashed" @mouseenter="openPositionBox('open-position-box')" @mouseleave="closePositionBox('open-position-box')">{{$t('开仓价格')}}</span>
        <div class="open-position-box">持仓的平均买入/卖出成交价格。</div>
      </div>
      <!--标记价格-->
      <div class="th td-market">
        <span class="border-dashed" @mouseenter="openPositionBox('open-marked-price-box')" @mouseleave="closePositionBox('open-marked-price-box')">{{$t('标记价格')}}</span>
        <div class="open-marked-price-box">该合约的实时标记价格。此标记价格将用于计算盈亏及保证金，可能与合约最新成交价格有所偏差，以避免价格操纵。</div>
      </div>
      <!--强平价格-->
      <div class="th td-flat-price" @mouseenter="openPositionBox('open-flat-price-box')" @mouseleave="closePositionBox('open-flat-price-box')">
        <span class="border-dashed">{{$t('强平价格')}}</span>
        <div class="open-flat-price-box">若多仓的标记价格低于此强平价格，或是空仓的标记价格高于此强平价格，你的持仓将被强平。</div>
      </div>
      <!--保证金比率-->
      <div class="th td-price">
        <span class="border-dashed" @mouseenter="openPositionBox('open-price-box')" @mouseleave="closePositionBox('open-price-box')">{{$t('保证金比率')}}</span>
        <div class="open-price-box">保证金比率越低，仓位的风险相对较小。当保证金比率到达100%时，仓位将被强平。</div>
      </div>
      <!--保证金-->
      <div class="th td-deposit">
        <span class="border-dashed" @mouseenter="openPositionBox('open-security-deposit-box')" @mouseleave="closePositionBox('open-security-deposit-box')">{{$t('保证金')}}</span>
        <div class="open-security-deposit-box">仓位占用的保证金。</div>
      </div>
      <!--未实现盈亏（回报率）-->
      <div class="th td-return-rate">
        <span class="border-dashed" @mouseenter="openPositionBox('open-return-rate-box')" @mouseleave="closePositionBox('open-return-rate-box')">{{$t('未实现盈亏（回报率）')}}</span>
        <div class="open-return-rate-box">"采用标记价格计算得出的未实现盈亏，以及回报率。"</div>
      </div>
      <!--自动减仓-->
      <div class="th td-reduce-positions">
        <span class="border-dashed" @mouseenter="openPositionBox('open-educe-positions-box')" @mouseleave="closePositionBox('open-educe-positions-box')">{{$t('自动减仓')}}</span>
        <div class="open-educe-positions-box">此指标代表你在自动减仓序列中的排序。若指示灯全部亮起，发生平仓事件后，您的持仓可能被减少。</div>
      </div>
      <!--平仓-->
      <div class="th td-trigger">
        <span class="border-dashed" @mouseenter="openPositionBox('open-liquidation-box')" @mouseleave="closePositionBox('open-liquidation-box')" @click="closePositions">{{$t('平仓')}}</span>
        <div class="open-liquidation-box">你可以在此平仓，这将会根据你的选择向市场送出抵销目前仓位的市价单或限价单。</div>
      </div>
    </li>
    <!-- 表头 end -->
    <!-- 如果加载完成、已登录、有数据，则显示数据 begin -->
    <li class="flex tr-td" v-if="records.length != 0 && !loading" v-for="(item,index) in records" >
      <!--币对和杠杆-->
      <div class="td td-time1">
        <div class="td-time1-currency flex">
          <div :class="(item.positionAmt || 0) > 0 ?'td-time1-green':'td-time1-red'"></div>
          <div class="td-currency">{{item.symbol}}</div>
          <div class="td-currency-btn">{{$store.state.leverage}}X</div>
        </div>
      </div>
      <!--数量-->
      <div class="td td-number" :class="(item.positionAmt || 0) > 0 ?'text_blue-3':'text_red-4'">{{toFixed(item.positionAmt,3) || 0}}</div>
      <!--开仓价格-->
      <div class="td td-category-1">{{!!item.entryPrice && Number(item.entryPrice).toFixed(2) || '-'}}</div>
      <!--标记价格-->
      <div class="td td-market">{{!!markPrice && Number(markPrice).toFixed(2) || '-'}}</div>
      <!--强平价格-->
      <div class="td td-flat-price weigth-font">{{!!item.liquidationPrice && Number(item.liquidationPrice).toFixed(2) || '-'}}</div>
      <!--保证金比率-->
      <div class="td td-price">{{item.marginType == 'cross'?crossMaintMarginRate:item.maintMarginRate}}</div>
      <!--保证金-->
      <div class="td td-deposit">{{!!item.securityDeposit && Number(item.securityDeposit).toFixed(2) || '-'}} {{item.marginType == 'cross'?'(全仓)':'(逐仓)'}}
        <span class="modify-margin pointer" v-if="item.marginType == 'isolated'" @click="openModifyMargin(item)"></span>
      </div>


      <!--未实现盈亏（回报率）由于四舍五入，使用原生toFixed-->
      <div class="td td-return-rate" :class="item.unrealizedProfitPage>0?'text_blue-3':'text_red-4'">{{Number(item.unrealizedProfitPage || 0).toFixed(2) }} ({{item.responseRate}})</div>
      <!--自动减仓-->
      <div class="td td-reduce-positions">
        <img v-if="item.adlQuantile == undefined" src="../../assets/reduce_positions_0.png" alt="">
        <img v-if="item.adlQuantile == 0" src="../../assets/reduce_positions_0.png" alt="">
        <img v-if="item.adlQuantile == 1" src="../../assets/reduce_positions_1.png" alt="">
        <img v-if="item.adlQuantile == 2" src="../../assets/reduce_positions_2.png" alt="">
        <img v-if="item.adlQuantile == 3" src="../../assets/reduce_positions_3.png" alt="">
        <img v-if="item.adlQuantile == 4" src="../../assets/reduce_positions_4.png" alt="">
      </div>
<!--      &lt;!&ndash;平仓&ndash;&gt;v-if="item.positionSide == 'BOTH'"-->
      <div class="td td-trigger" >
        <div class="td-trigger-btn flex" v-if="priceCheck[item.positionSide] == 0">
          <div class="market-price margin-right" @click="openSplicedFrame(item,'市价','marketPrice')">市价</div>
<!--          <div class="market-price margin-right" v-if="marketPriceClick">市价</div>-->
          <div class="market-price margin-right" v-if="!checkPriceClick" @click="openSplicedFrame(item,'限价','checkPrice')">限价</div>
          <div class="market-price margin-right" v-if="checkPriceClick">限价</div>
          <input type="text" v-model="item.iptMarkPrice" onkeyup="value = value.match(/\d+(\.\d{0,2})?/) ? value.match(/\d+(\.\d{0,2})?/)[0] : ''">
        </div>
        <div class="flex" v-if="priceCheck[item.positionSide] != 0 && toFixed(item.entryPrice,2) != priceCheck[item.positionSide]">
          <div class="market-price-width">平仓委托在{{priceCheck[item.positionSide]}}</div>
          <div class="cencon market-price-width38" @click="cancelThePosition">取消</div>
        </div>
      </div>
    </li>
      <!-- 如果加载完成、已登录、有数据，则显示数据 end -->

      <!-- 如果没加载完成、没登录、没数据，则显示'--' begin -->
    <li class="weit" v-if="records.length == 0 && !loading">
      <div class="nhtu"><img src="../../assets/noOrderDark.png"></div>
      <span>{{$t('orderPageCurrentEntrustment.close_9')}}</span>
    </li>
      <!-- 如果没加载完成、没登录、没数据，则显示'--' begin -->
<!--      <template v-if="!loading && userId && tradinghallLimit===10 && computedRecord.length >= 10">-->
<!--        <li class="seeMore" >-->
<!--          <span class="text_blue pointer" @click="toCurrentHistory">{{$t('orderPageHistoricalEntrustment.close_12')}}</span>-->
<!--        </li>-->
<!--      </template>-->
  </ul>
  <!-- 加载更多 begin -->
<!--  <div v-if="loading">-->
<!--    <Loading/>-->
<!--  </div>-->
  <!-- 加载更多 end -->
  <PopupPrompt :popType="popType" :popText="popText" :popOpen="promptOpen" :popClose="closePrompt"></PopupPrompt>

  <PositionModeBulletBox :switch="modifyMarginOpen" @close="modifyMarginClose">
    <div slot="header" class="calculator-title flex">
      <div class="positionMode-tit pointer" :class="{'border-bottom':styleType == 1}" @click="selectType(1)">增加保证金</div>
      <div class="positionMode-tit pointer" :class="{'border-bottom':styleType == 2}" @click="selectType(2)">减少保证金</div>
    </div>
    <div slot="article" class="pop-article">
      <div v-if="styleType == 1">
        <div class="modify-margin-box">
          <div class="total-money">总额（USDT）</div>
          <div class="modify-margin-input flex">
            <input type="text" placeholder="输入金额" v-model="increaseAmount">
            <div class="modify-margin-text">最大：{{toFixed(availableBalance,2)}} USDT</div>
          </div>
          <div>{{AmountText}}</div>
        </div>
        <!--当前仓位保证金 USDT-->
        <div class="modify-margin-des flex">
          <div class="modify-margin-des-title">当前仓位保证金 USDT：</div>
          <div class="modify-margin-des-number">{{securityDeposit}} USDT</div>
        </div>
        <!--可用余额-->
        <div class="modify-margin-des flex">
          <div class="modify-margin-des-title">可用余额：</div>
          <div class="modify-margin-des-number">{{toFixed(availableBalance || 0,2)}} USDT</div>
        </div>
        <!--调整后强平价格-->
<!--        <div class="modify-margin-des flex">-->
<!--          <div class="modify-margin-des-title">调整后强平价格：</div>-->
<!--          <div class="modify-margin-des-number">{{toFixed(Number(liquidationPrice),2)}} USDT</div>-->
<!--        </div>-->
      </div>

      <div v-if="styleType == 2">
        <div class="modify-margin-box">
          <div class="total-money">总额（USDT）</div>
          <div class="modify-margin-input flex">
            <input type="text" placeholder="输入金额" v-model="reduceAmount">
            <div class="modify-margin-text">最大：{{reduceMostAmount1}} USDT</div>
          </div>
        </div>
        <!--当前仓位保证金 USDT-->
        <div class="modify-margin-des flex">
          <div class="modify-margin-des-title">当前仓位保证金 USDT：</div>
          <div class="modify-margin-des-number">{{securityDeposit}} USDT</div>
        </div>
        <!--最多可减少-->
        <div class="modify-margin-des flex">
          <div class="modify-margin-des-title">最多可减少：</div>
          <div class="modify-margin-des-number">{{reduceMostAmount1}} USDT</div>
        </div>
        <!--减少后强平价格-->
<!--        <div class="modify-margin-des flex">-->
<!--          <div class="modify-margin-des-title">减少后强平价格：</div>-->
<!--          <div class="modify-margin-des-number">{{toFixed(Number(liquidationPrice),2)}} USDT</div>-->
<!--        </div>-->
      </div>

    </div>
    <div slot="footer" class="pop-footer flex-center">
      <div class="modify-margin-commit" v-if="!controlType" @click="commitModifyMargin">确认</div>
      <div class="modify-margin-commit" v-if="controlType">确认中</div>
    </div>
  </PositionModeBulletBox>

  <!-- 是否全部平仓 begin -->
  <PopupWindow :switch="popOpen" v-on:close="closePop">
    <div slot="header"><span class="pop-header">提示</span></div>
    <div slot="article" class="pop-article">
<!--      <p>{{$t('orderPageCurrentEntrustment.promptArticle')}}</p>-->
      <p>请确认是否要以市价全部平仓？</p>
    </div>
    <div slot="footer" class="pop-footer flex-center">
      <button @click="ensurePop" class="button-base  btn_blue pointer" v-if="!closeMarketPrice">
        {{$t('orderPageCurrentEntrustment.ensure')}}
      </button>
      <button class="button-base btn_grey" v-if="closeMarketPrice" disabled>请求中</button>
      <button @click="closePop" class="button-base m-r btn_simple pointer">{{$t('orderPageCurrentEntrustment.close')}}
      </button>
    </div>
  </PopupWindow>
  <!-- 是否全部平仓 end -->
  <!-- 限价市价平仓弹窗 begin -->
  <PopupWindow :switch="showSplicedFrame" @close="closeFrame">
    <div slot="header"><span class="pop-header">提示</span></div>
    <div slot="article" class="pop-article">
      <!--      <p>{{$t('orderPageCurrentEntrustment.promptArticle')}}</p>-->
      <p>{{splicedFrameText}}</p>
    </div>
    <div slot="footer" class="pop-footer flex-center">
      <button @click="closeFrame" class="button-base btn_simple pointer">{{$t('orderPageCurrentEntrustment.close')}}
      </button>
      <button v-if="!marketPriceClick" @click="confirmFrame" class="button-base m-r btn_blue pointer">
        {{$t('orderPageCurrentEntrustment.ensure')}}
      </button>
      <button v-if="marketPriceClick" class="button-base m-r btn_blue pointer" disabled>
        请求中
      </button>

    </div>
  </PopupWindow>
  <!-- 是否全部平仓 end -->
</div>
