<div class="min-height">
  <div>
    <Loading v-if="loading" class="loading  border_radius"/>
    <template v-if="!loading">
      <div class="container">

        <!--    总资产-->
        <div class="container-top-title">
          <div class="container-total flex">
            <!--          总资产-->
            <div class="currency-total">
              <div class="currency-title">
                {{$t('totalAsset')}}：
              </div>
              <div class="currency-total-assets">
                <span class="total-assets">---- BTC</span>
                <span>≈ {{lang ==='CH'?'￥':'$'}}----</span>
              </div>
            </div>
            <!--          按钮-->
            <div>
              <button class="capital-transfer pointer" @click="openTransfer()">{{$t('capitalTransfer')}}</button>
            </div>
          </div>
        </div>

        <div class="container-content flex">
          <!--      我的钱包-->
          <div class="my-wallet pointer" @click="goToWallet()">
            <div class="my-wallet-title">
              <img src="../../assets/overviewOfAssets/wallet_icon.png" alt="">
              <span>{{$t('myWallet')}}</span>
            </div>
            <div class="my-wallet-number">
              <span>{{priceReady || initReady ? toFixed(total,8):'----'}}</span>
              <span>BTC</span>
            </div>
            <div class="my-wallet-CNY">
              {{(priceReady || initReady) ? $globalFunc.accFixedCny(valuation,2) : '----'}} CNY
            </div>
          </div>

          <!--      币币账户-->
          <div class="coin-account pointer" @click="goToBiBi()">
            <div class="my-wallet-title">
              <img src="../../assets/overviewOfAssets/bibi_icon.png" alt="">
              <span>{{$t('coinAccount')}}</span>
            </div>
            <div class="my-wallet-number">
              <span>0.000000</span>
              <span>BTC</span>
            </div>
            <div class="my-wallet-CNY">
              0.0000 CNY
            </div>
          </div>
        </div>
      </div>
      <div class="container-bottom">
        <div class="container-bottom-title">{{$t('transfer_describe')}}</div>

        <div class="container-bottom-content">
          <p>{{$t('transfer_describe1')}}</p>
          <p>{{$t('transfer_describe2')}}</p>
          <p>{{$t('transfer_describe3')}}</p>
        </div>
      </div>

    </template>


      <!--  内部划转-->
      <PopupT :switch="popWindowOpen1" @close="popWindowClose1">
        <div slot="header">
          <span class="pop-ei-ar">{{$t('capitalTransfer')}}</span>
        </div>
        <div slot="article" class="pop-article">
          <!--      钱包到账户-->
          <div class="wallet-to-account flex">
            <div class="wallet-to-account-left flex">
              <div class="wallet-account-change">
                <div>{{$t('from')}}</div>
                <img src="../../assets/myWallet/record_change_bottom_icon.png" alt="">
                <div>{{$t('reach')}}</div>
              </div>
            </div>
            <div class="wallet-to-account-content" :class="(assetAccountType == 'wallet') ? 'flex-colum':'flex-colum-reverse'">
              <div>我的钱包</div>
              <div class="wallet-to-account-content-line"/>
              <div>币币账户</div>
<!--              <input type="text" :placeholder='$t("coinAccount")' v-model="bibiAccount">-->
<!--              <input type="text" :placeholder='$t("myWallet")'  v-model="account">-->
            </div>
            <div class="wallet-to-account-right pointer flex" @click="changeAssetAccountType()">
              <img src="../../assets/myWallet/record_change_icon.png" alt="">
            </div>
          </div>

          <!--      币种-->
          <div class="currency block-input">
            <div class="block-input-title">{{$t('currency')}}</div>
            <el-select class="inputInner" value-key="currencyKey" v-model="currencyValue" filterable placeholder="" @change="changeTransferCurrency">
              <el-option
                v-if="serverT >= item.displayTime && !item.isUSDT2"
                v-for="item in accountsComputed"
                :key="item.currencyKey"
                :label="item.currency"
                :value="item.currency"
              >
                <!--            :remote-method="remoteMethod"-->
                <!--            :loading="loading">-->
              </el-option>
            </el-select>
            <div class="amount-not-empty">
              <span>{{transferCurrencyWA}}</span>
            </div>
          </div>

          <!--      数量-->
          <div class="amount block-input">
            <div class="block-input-title">
              <span>{{$t('amount')}}</span>
              <span class="available-right">{{$t('mentioning')}}可提：{{transferCurrencyAvailable}} {{currencyValue}}</span>
            </div>
            <div class="amount-input flex">
              <input type="text" placeholder="" class="amount-input-box" v-model="amountInput">
              <span class="amount-all pointer" @click="allMention">{{$t('allMention')}}</span>
            </div>
            <div class="amount-not-empty">
              <span>{{transferAmountWA}}</span>
            </div>
          </div>
        </div>
        <div slot="footer" class="pop-footer">
          <span class="pop-qu pointer" @click="click_rel_em">{{$t('cancel')}}</span>
          <button class="pop-qu-2 pointer" @click="transferCommit">{{$t('ensure')}}</button>
        </div>
      </PopupT>


    <!--   提示 弹窗-->
    <PopupWindow :switch="popWindowOpen" @close="popWindowClose">
      <div slot="header">
        <span class="header_xuzhi">{{popWindowTitle}}</span>
      </div>
      <div slot="article" class="pop-recharge">{{popWindowPrompt}}
        <p class="Consequences">{{popWindowPrompt1}}</p>
      </div>
      <div slot="footer" class="pop-recharge-bottom flex-center">
        <template v-if="popWindowStyle==0">
          <button @click="popWindowClose" class="button-base btn_simple pointer">
            {{$t('cancel')}}
          </button>
          <button @click="goToBindIdentity" class="button-base btn_blue pointer m-r">
            {{$t('verification')}}
          </button>
        </template>
        <template v-if="popWindowStyle==1">
          <button @click="popWindowClose" class="button-base btn_simple pointer">
            {{$t('cancel')}}
            <!--          {{$t('bindGa')}}-->
          </button>
          <button @click="goToSecurityCenter" class="button-base btn_blue pointer m-r">
            {{$t('beBinding')}}
            <!--          {{$t('bindMobile')}}-->
          </button>
        </template>
        <template v-if="popWindowStyle==2">
          <button @click="popWindowClose" class="button-base btn_simple pointer">
            {{$t('cancel')}}
            <!--          {{$t('bindGa')}}-->
          </button>
          <button @click="goToSecurityCenter" class="button-base btn_blue pointer m-r">
            {{$t('beBinding')}}
            <!--          {{$t('bindMobile')}}-->
          </button>
        </template>
        <template v-if="popWindowStyle==3">
          <button @click="popWindowClose" class="button-base btn_simple pointer">
            {{$t('cancel')}}
            <!--          {{$t('bindGa')}}-->
          </button>
          <button @click="goToSecurityCenter" class="button-base btn_blue pointer m-r">
            {{$t('beBinding')}}
            <!--          {{$t('bindMobile')}}-->
          </button>
        </template>
        <template v-if="popWindowStyle==4">
          <button @click="popWindowClose" class="button-base btn_simple pointer">
            {{$t('cancel')}}
            <!--          {{$t('bindGa')}}-->
          </button>
          <button @click="goToSecurityCenter" class="button-base btn_blue pointer m-r">
            {{$t('beBinding')}}
            <!--          {{$t('bindMobile')}}-->
          </button>
        </template>


        <!--      <template v-if="popWindowStyle==1">-->
        <!--        <button @click="goToBindGA" class="button-base btn_blue pointer">-->
        <!--          {{$t('bindGa')}}-->
        <!--        </button>-->
        <!--        <button @click="goToBindMobile" class="button-base btn_blue pointer">-->
        <!--          {{$t('bindMobile')}}-->
        <!--        </button>-->
        <!--      </template>-->
        <!--      <template v-if="popWindowStyle==2">-->
        <!--        <button @click="popWindowClose" class="button-base btn_blue pointer">-->
        <!--          {{$t('ensure')}}-->
        <!--        </button>-->
        <!--      </template>-->
        <!--      <template v-if="popWindowStyle==3">-->
        <!--        <button @click="goToBindEmail" class="button-base btn_blue pointer bangding">-->
        <!--          &lt;!&ndash;绑定邮箱&ndash;&gt;-->
        <!--          {{$t('bind_email_pop_button')}}-->
        <!--        </button>-->
        <!--      </template>-->
        <!--      <template v-if="popWindowStyle==4">-->
        <!--        <button @click="goToBindTransfer" class="button-base btn_blue pointer transfer4">-->
        <!--          &lt;!&ndash;绑定邮箱&ndash;&gt;-->
        <!--          {{$t('ITransfer')}}-->
        <!--        </button>-->
        <!--      </template>-->
      </div>

    </PopupWindow>

    <!-- 提示 start -->
    <PopupPrompt :popType="popupPromptType" :popText="popupPromptText" :popOpen="popupPromptOpen"
                 :popClose="closePopupPrompt"></PopupPrompt>
    <!-- 提示 end -->
    </div>
</div>
