<div class="PersonalCenterSecurityCenterManageApi">
  <div class="open_api_container release-container">
    <div class="release-title flex">
      <span></span>
      <span>{{user_name}}</span>
      <button class="btn_delete pointer border_radius btn_simple" @click="DELETE_API">{{$t('delete')}}</button>
    </div>

    <!-- 创建API key -->
    <div class="open_api_creating">
      <div class="open_api_body">
        <div class="manage_api_qrcode" style="display: none;">
          <!--二维码 begin-->
          <Qrcode class="download-container-img"
                  :size="qrsize"
                  :value="value"
                  :logo="logo"
                  :bgColor="bgColor"
                  :fgColor="fgColor"
          >
          </Qrcode>
          <!--二维码 end-->
        </div>
        <div class="manage_api_content">
          <div class="api_title">API Key</div>
          <div class="api_content">{{api_key}}</div>
          <div class="api_title">Secret Key</div>
          <div class="api_content">{{secret_key}}</div>
          <div class="api_notice">
            ✳{{$t('secret_key')}}
          </div>

          <div class="api_jurisdiction">
            <div class="api_title">{{$t('authority')}}:</div>
            <div class="api_content_1">
              <label class="pointer">
                <input type="checkbox" checked="checked" disabled="disabled">
                {{$t('information')}}
              </label>
              <label class="pointer">
                <input type="checkbox" checked="checked" disabled="disabled">
                {{$t('trading')}}
              </label>
              <!-- <label class="pointer">
                                <input type="checkbox" disabled="disabled">
                                开放提现
                            </label> -->
            </div>
          </div>
        </div>
        <div class="clear"></div>
        <div class="open_api_body_ip">
          <div class="ip_limit">
            <label class="api_title">
              IP访问限制:
            </label>
            <label for="">
              <input type="radio" name="" disabled="disabled">
              只限制对可信任ip的访问(推荐)
            </label>
            <label for="">
              <input type="radio" name="" checked="checked" disabled="disabled">
              不信任任何ip(安全等级低)
            </label>
          </div>
          <div class="api_notice api_ip">
            建议您添加可信的IP地址访问API Key
          </div>
        </div>
      </div>

    </div>
  </div>

  <!--弹窗-->
  <PopupWindow :switch="popWindowOpen" @close="popWindowClose">
    <div slot="header">
      <!-- <span class="">{{popWindowTitle}}</span> -->
    </div>
    <div slot="article" class="pop-article">{{popWindowPrompt}}</div>
    <div slot="footer" class="pop-footer flex-center">
      <template>
        <button @click="popWindowClose" class="button-base btn_blue pointer">
          {{$t('ensure')}}
        </button>
      </template>
    </div>
  </PopupWindow>

  <!-- 删除提示 -->
  <PopupWindow :switch="deletePopWindowOpen" @close="popWindowClose">
    <div slot="header">
      <span class="">{{deletePopWindowTitle}}</span>
    </div>
    <div slot="article" class="pop-article">{{deletePopWindowPrompt}}</div>
    <div slot="footer" class="pop-footer flex-center">
      <template>
        <button @click="deletePopWindowClose" class="button-base btn_blue pointer">
          {{$t('ensure')}}
        </button>
      </template>
    </div>
  </PopupWindow>

  <!-- 谷歌/短信验证 start -->
  <div class="ga_sms_container box_shadow" v-if="show_ga_sms_dialog">
    <div class="ga_sms_bg"></div>
    <div class="ga_sms_body">
      <div class="ga_sms_body_close cursor" @click="CLOSE_GA_SMS_DIALOG">×</div>
      <!--选择-->
      <div class="flex unit-input-container pick-one-type" v-if="showPicker">
        <div>
          <input type="radio" name="identify-type" id="ga" value="bindGA" v-model="picked">
          <label for="ga">{{$t("proveGa")}}</label>
        </div>
        <div>
          <input type="radio" name="identify-type" id="bindMobile" value="bindMobile" v-model="picked">
          <label for="bindMobile">{{$t("proveMo")}}</label>
        </div>
      </div>
      <!--<div class="unit-input-interval"></div>-->

      <!--谷歌验证码-->
      <div class="flex unit-input-container container-ga" v-if="picked==='bindGA'"
           :class="{'wrong-msg':GACodeWA!==''}"
      >
		    <span class="flex-center unit-input-container-title">
		      <img src="../../assets/谷歌验证码.png" alt="">
		    </span>
        <input type="text" :placeholder='$t("identifyingCodeGa")' class="unit-input input-ga"
               v-model="GACode" @blur="testGACode">
      </div>
      <div class="unit-input-interval txt-red" v-if="picked==='bindGA'">
        <span v-if="GACodeWA!==''">{{GACodeWA}}</span>
      </div>

      <!--手机验证码-->
      <div class="flex unit-input-container double-input-container" v-if="picked==='bindMobile'"
           :class="{'wrong-msg':verificationCodeWA!==''}"
      >
		    <span class="flex-center unit-input-container-title">
		      <img src="../../assets/手机.png" alt="">
		    </span>
        <input type="text" :placeholder='$t("identifyingCodeMo")'
               class="unit-input input-mobile" v-model="verificationCode"
               @blur="testVerificationCode">
        <span class="flex-center btn_blue" v-if="!getVerificationCode" @click="click_getVerificationCode">{{$t("achieve")}}</span>
        <span class="flex-center identifying-code-button-close btn_grey"
              v-if="getVerificationCode">{{getVerificationCodeCountdown}}</span>
      </div>
      <div class="unit-input-interval txt-red" v-if="picked==='bindMobile'">
        <span v-if="verificationCodeWA!==''">{{verificationCodeWA}}</span>
      </div>


      <!--确定-->
      <div class="unit-input-container container-button">
        <button class="set-button btn_blue" v-if="!sending" @click="click_send">
          {{$t("confirm")}}
        </button>
        <button class="set-button btn_grey" v-if="sending" disabled>{{$t('deleteing')}}</button>
      </div>
    </div>
  </div>
  <!-- 谷歌/短信验证 end -->
</div>
