<div class="container">
  <div class="title flex">
    <span></span>
    <span>设置资金密码</span>
  </div>
  <div class="article">
    <div class="input-password">

      <div class="detail-center">
        <span>资金安全密码:</span>
        <input type="password">
      </div>
    </div>
    <div class="confirm-password">

      <div class="detail-center">
        <span>确认资金安全密码:</span>
        <input type="password">
        <span>输入的不对啊</span>
      </div>
    </div>
    <div class="verification-code">

      <div class="detail-center">
        <span>短信验证码:</span>
        <input type="text">
        <button>发送验证码</button>
        <span>输入的不对啊</span>
      </div>
    </div>
    <div class="ensure">
      <div class="detail-center">
        <button>确定</button>
      </div>
    </div>
  </div>
</div>
