<div>
  <Loading v-if="loading"/>
  <div v-if="!loading" class="poster-activity-box">
    <div class="poster-activity-title">
      <div class="poster-activity-title-fl">即刻分享海报，邀请好友注册享好友交易手续费</div>
      <div class="poster-activity-title-sl">
        <span class="poster-activity-title-sl-blue">{{btActivity}}%</span>
        <span class="poster-activity-title-sl-white">返还BDB奖励</span>
      </div>
    </div>
    <div class="poster-activity-img-box" v-if="getImgFlag">
      <img class="poster-activity-img" :src="imgSrc" alt="">
    </div>
    <div class="poster-activity-footer">长按图片复制保存，邀请好友获返佣奖励</div>
  </div>
</div>
