<div class="container">
  <!--    个人信息-->
  <div class="personal-info">
    <div class="personal-container">
      <div class="currency_notice_bread">
        <router-link to="/index/personal/securityCenter" class="management">{{$t('personalCenterSecurityLog.management')}}  </router-link>
        <span> > </span>
        {{$t('personalCenterSecurityLog.information')}}
      </div>
    </div>
  </div>

  <div class="container-log">
    <div class="article border_radius">
      <div class="titlenew">
        <span></span>
        <span>{{$t('personalCenterSecurityLog.title')}}</span>
        <!--<span>*为了您的资产安全，重置登录密码修改24h以内不允许提现。</span>-->
      </div>
      <Loading v-if="loading"/>
      <template v-if="!loading">
        <div class="log-title flex">
          <span class="time">{{$t('personalCenterSecurityLog.time')}}</span>
          <span class="ip">{{$t('personalCenterSecurityLog.ip')}}</span>
          <span class="source">{{$t('personalCenterSecurityLog.source')}}</span>
          <span class="city">{{$t('personalCenterSecurityLog.city')}}</span>
        </div>

        <ul class="log-container">
          <li class="log-detail flex" v-for="(item,index) in logRecord" :key="index">
            <span class="time">{{formatDateUitl(item.createdAt)}}</span>
            <span class="ip">{{item.ip}}</span>
            <span class="source">{{item.source}}</span>
            <span class="city">{{item.address}}</span>
          </li>

        </ul>
        <template v-if="loadingMoreShow">
          <span class="loading-more pointer" v-if="!loadingMoreIng" @click="clickToLoadMore">{{$t('personalCenterSecurityLog.city_1')}}
            <span>
                <img src="../../assets/securityCenter/bottom_icon.png" alt="">
              </span>
          </span>
          <span class="loading-more pointer" v-else>{{$t('personalCenterSecurityLog.city_2')}}
          <img src="../../assets/securityCenter/bottom_icon.png" alt="">
          </span>
        </template>
      </template>
    </div>
  </div>

</div>
