<div class="">
<!--  最外层类名：影响打开弹框后页面变高  bind-mobile-container min-height border_radius-->

<!--  <Loading v-if="loading"/>-->
<!--  !loading &&-->
    <template v-if=" !isMobile">

      <PopupT :switch="show" @close="click_rel_em" v-if="!hiddenBindMObilePage">
<!--        绑定手机号码  begin-->
        <div slot="header">
          <span class="pop-ei-ar">{{$t('personalCenterSecurityCenterBindMobile.title')}}</span>
        </div>
<!--        绑定手机号码  end-->

        <div slot="article" class="pop-article">
<!--        登录密码  begin-->
          <div class="article-pop-1">
            <div class="article-pop-2">{{$t('personalCenterSecurityCenterBindMobile.psw')}}</div>
            <input class="input-pop" type="password" v-model="psw" :class="{'wrong-border':pswWA!==''}" @blur="testPsw">
            <span class="detail-prompt" v-if="pswWA!==''">{{pswWA}}</span>
          </div>
<!--          登录密码  end-->

<!--          输入手机号码及区号  begin-->
          <div class="article-pop-1">
            <div class="article-pop-2">{{$t('personalCenterSecurityCenterBindMobile.mobile')}}</div>

            <!--          下拉搜索框     -->
            <template>
              <el-select class="inputInner" placeholder="86" style="font-size:14px" v-model="searchResult">
                <input type="text" class="inputsize" placeholder="中国大陆地区" v-model="searchCities">
                <el-option
                  @click="clickItem(item.areaCode)"
                  class="widthInput"
                  v-for="item in (searchCities ? cityList :cities)"
                  :key="item.countryId"
                  :label="'+ ' + item.areaCode.slice(2)"
                  :value="item.areaCode">
                  <span style="float: left;">{{ item.nameCn }}</span>
                  <span style="float: right; color: #8994A5; font-size: 16px">{{ '+ ' + item.areaCode.slice(2) }}</span>
                </el-option>
              </el-select>
            </template>
            <!--          下拉搜索框    结束-->

            <input type="text" v-model="mobile" class="pop-input-1"  :class="{'wrong-border':mobileWA!==''}"
                   @blur="testMobile">
            <span class="detail-prompt" v-if="mobileWA!==''">{{mobileWA}}</span>
<!--            <input class="pop-input-1" type="text">-->
          </div>
<!--          输入手机号码及区号  end-->

<!--          获取验证码  begin-->
          <div class="article-pop-1">
            <div class="article-pop-2">{{$t('personalCenterSecurityCenterBindMobile.verificationCode')}}</div>
            <div class="input-pop" :class="{'wrong-border':verificationCodeWA!==''}">
              <input class="pop-input-3" type="text" v-model="verificationCode" @blur="testVerificationCode">
              <span class=" fl-ce-y" v-if="!getVerificationCode" @click="postVerificationCode">获取验证码</span>
              <span class="fl-ce-y-s" v-else disabled> {{getVerificationCodeCountdown}}s</span>
            </div>
            <div class="detail-prompt m-t3" v-if="verificationCodeWA">{{verificationCodeWA}}</div>
            <!--        <span class="flex-center identifying-code-button-close btn_grey"-->
            <!--              v-if="getVerificationCode">{{getVerificationCodeCountdown}}s 之后重新发送</span>-->
          </div>
<!--          获取验证码  end-->
        </div>

<!--          确认&#45;&#45;取消按钮  begin-->
        <div slot="footer" class="pop-footer">
          <span class="pop-qu pointer" @click="click_rel_em">{{$t('personalCenterSecurityCenterBindMobile.Cancel')}}</span>
          <button class="pop-qu-2 pointer btn_blue" @click="commit" v-if="!sending">{{$t('personalCenterSecurityCenterBindMobile.ensure')}}</button>
          <button disabled v-else class="pop-qu-2 pointer btn_blue">{{$t('personalCenterSecurityCenterBindMobile.binding')}}</button>
        </div>
<!--          确认&#45;&#45;取消按钮 end-->
      </PopupT>

      <div v-else>
        <div class="bind-mobile-title flex">
          <span></span>
          <span>{{$t('personalCenterSecurityCenterBindMobile.title')}}</span>
          <!--<span>*为了您的资产安全，重置登录密码修改24h以内不允许提现。</span>-->
        </div>
        <div class="bind-mobile-article">
          <!--输入登录密码 begin-->
          <div class="input-password input-container">
            <div class="detail-center">
              <span class="detail-title">{{$t('personalCenterSecurityCenterBindMobile.psw')}}</span>
              <input type="password" v-model="psw" class="unit-input" :class="{'wrong-border':pswWA!==''}" @blur="testPsw">
              <div class="wrong-msg detail-prompt" v-if="pswWA!==''">{{pswWA}}</div>
            </div>
          </div>
          <!--输入登录密码 end-->

          <!--输入手机号 begin-->
          <div class="phone-number input-container">
            <div class="detail-center">
              <span class="detail-title">{{$t('personalCenterSecurityCenterBindMobile.mobile')}}</span>

              <!--          下拉搜索框     -->
              <template>
                <el-select class="inputInner" placeholder="中国大陆地区" style="font-size:14px" v-model="searchResult">
                  <input type="text" class="inputsize" placeholder="中国大陆地区" v-model="searchCities">
                  <el-option
                    @click="clickItem(item.areaCode)"
                    class="widthInput"
                    v-for="item in (searchCities ? cityList :cities)"
                    :key="item.countryId"
                    :label="'+ ' + item.areaCode.slice(2)"
                    :value="item.areaCode">
                    <span style="float: left;">{{ item.nameCn }}</span>
                    <span style="float: right; color: #8994A5; font-size: 16px">{{ '+ ' + item.areaCode.slice(2) }}</span>
                  </el-option>
                </el-select>
              </template>
              <!--          下拉搜索框    结束-->

              <!--          <span class="phone-prompt">+86</span>-->
              <input type="text" v-model="mobile" class="unit-input phone-input input-phone" :class="{'wrong-border':mobileWA!==''}"
                     @blur="testMobile">
              <div class="wrong-msg detail-prompt" v-if="mobileWA!==''">{{mobileWA}}</div>
            </div>
          </div>
          <!--输入手机号 end-->

          <!--输入短信验证码 begin-->
          <div class="verification-code input-container double-input-container">
            <div class="detail-center">
              <span class="detail-title">{{$t('personalCenterSecurityCenterBindMobile.verificationCode')}}</span>
              <input type="text" v-model="verificationCode" class="unit-input"
                     :class="{'wrong-border':verificationCodeWA!==''}"
                     @blur="testVerificationCode"
              >
              <!--<template v-if="captchaReady">-->
              <button @click="postVerificationCode" class="btn_blue" v-if="!getVerificationCode">
                {{$t('personalCenterSecurityCenterBindMobile.send')}}
              </button>
              <button class="click-verification btn_grey" v-else disabled>
                {{getVerificationCodeCountdown}}
              </button>
              <!--</template>-->
              <!--<template v-else>-->
              <!--<button class="click-verification btn_grey" disabled>-->
              <!--{{$t('personalCenterSecurityCenterBindMobile.disabled')}}-->
              <!--</button>-->
              <!--</template>-->
              <span class="wrong-msg detail-prompt" v-if="verificationCodeWA">{{verificationCodeWA}}</span>
            </div>
          </div>
          <!--输入短信验证码 end-->

          <!--点击发送 begin-->
          <div slot="footer" class="pop-footer">
            <span class="pop-qu pointer" @click="click_rel_em()">取消</span>
            <button class="pop-qu-2 pointer btn_blue" @click="commit" v-if="!sending">确认</button>
            <button disabled v-else class="pop-qu-2 pointer btn_blue">{{$t('personalCenterSecurityCenterBindMobile.binding')}}</button>
          </div>
          <!--点击发送 end-->

        </div>
      </div>

    </template>


  <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>

  <template class="mobile-content" v-if="!loading && isMobile">
    <div class="unit-title flex-center">
      <span class="unit-title-line"></span>
      <span class="unit-title-text">{{$t('personalCenterSecurityCenterBindMobile.title')}}</span>
      <span class="unit-title-line"></span>
    </div>
    <div class="unit-container flex-center">
      <!--密码-->
      <div class="unit-input-container flex" :class="{'wrong-answer':pswWA!=''}">
        <span class="flex-center unit-input-container-title">
          <img class="unit-input-container-title-img" src="../../assets/h5form/psw.png" alt="">
        </span>
        <input type="password" :placeholder="$t('personalCenterSecurityCenterBindMobile.psw')" v-model="psw"
               @blur="testPsw"
               class="unit-input">
      </div>
      <div class="unit-input-interval txt-red">
        <span v-if="pswWA!=''">{{pswWA}}</span>
      </div>
      <!--手机号码-->
      <div class="unit-input-container flex" :class="{'wrong-answer':mobileWA!=''}">
        <span class="flex-center unit-input-container-title">
          +86
        </span>
        <input type="number" :placeholder="$t('personalCenterSecurityCenterBindMobile.mobile')" v-model="mobile"
               @blur="testVerificationCode"
               class="unit-input">
      </div>
      <div class="unit-input-interval txt-red">
        <span v-if="mobileWA!=''">{{mobileWA}}</span>
      </div>
      <!--发送验证码-->
      <div class="unit-input-container flex double-input-container"
           :class="{'wrong-answer':verificationCodeWA!=''}">
        <span class="flex-center unit-input-container-title">
          <img class="unit-input-container-title-img" src="../../assets/h5form/mobile_check.png" alt="">
        </span>
        <input type="text" :placeholder="$t('personalCenterSecurityCenterBindMobile.verificationCode')"
               v-model="verificationCode"
               @blur="testVerificationCode" class="unit-input">
        <div class="cutter-line flex-center">|</div>
        <template v-if="captchaReady">
          <span class="flex-center identifying-code-button-on" v-if="!getVerificationCode"
                @click="clickGeetest">{{$t('personalCenterSecurityCenterBindMobile.send')}}</span>
          <span class="flex-center identifying-code-button-close"
                v-if="getVerificationCode">{{getVerificationCodeCountdown}}</span>
        </template>
        <template v-else>
           <span class="flex-center identifying-code-button-close">
             {{$t('personalCenterSecurityCenterBindMobile.disabled')}}
           </span>
        </template>
      </div>
      <div class="unit-input-interval txt-red">
        <span v-if="verificationCodeWA!=''">{{verificationCodeWA}}</span>
      </div>
      <!--按钮-->
      <div class="unit-input-container container-button">
        <button @click="commit" class="set-button before-register-button" v-if="!sending">
          {{$t('personalCenterSecurityCenterBindMobile.ensure')}}
        </button>
        <button disabled class="set-button registering-button" v-else>
          {{$t('personalCenterSecurityCenterBindMobile.binding')}}
        </button>
      </div>
    </div>
  </template>
</div>
