<div class="auth-state-container border_radius">
  <Loading v-if="loading"/>
  <template v-else>

    <!--pc端样式 begin-->
    <!--内容 begin-->
    <div v-if="!isMobile" class="article border_radius">

      <!--    个人信息-->
      <div class="personal-info">
        <div class="personal-container">
          <div class="currency_notice_bread">
            <router-link to="/index/personal/securityCenter" class="management">{{$t('management')}}</router-link>
            <span> > </span>
            {{$t('title')}}
          </div>
        </div>
      </div>


<!--      <div class="background"></div>-->

      <div class="article-detail">

        <!--头像 begin-->
<!--        <div class="portrait margin">-->
<!--          <img src="" alt=""  style="width: 105px;">-->
<!--          <div class="change-portrait"></div>-->
<!--        </div>-->
<!--        内容 begin-->
      <div class="article-container">
        <!--标题 begin-->
        <div v-if="!isMobile" class="title flex">
          <span></span>
          <span>{{$t('title')}}</span>
        </div>
        <!--标题 end-->

        <!--头像 end-->
        <div class="title_art" v-if="authState==='2'"><img src="../../assets/authentication/identity_passed_icon.png">{{$t('authenticated1')}}</div>
        <div class="title_art" v-if="authState==='0'"><img src="../../assets/authentication/identity_audit_icon.png">{{$t('authenticated2')}}</div>
        <!--账户信息-->
        <div class="account-info-container margin">
          <!--email begin-->
          <!--          <div class="email flex-center info-detail account-info">-->
          <!--            {{email || '*****@***.***'}}-->
          <!--          </div>-->
          <!--email end-->

<!--//  TODO:认证状态 -->
          <!--认证图标 begin-->
<!--          <div class="flex-center info-detail account-info">-->

<!--            &lt;!&ndash;审核中 begin&ndash;&gt;-->
<!--            &lt;!&ndash;            <span class="button in-review border_radius"&ndash;&gt;-->
<!--            &lt;!&ndash;                  v-if="authState==='0'"&ndash;&gt;-->
<!--            &lt;!&ndash;            >{{$t('review')}}</span>&ndash;&gt;-->
<!--            &lt;!&ndash;审核中 end&ndash;&gt;-->

<!--            &lt;!&ndash; 被驳回 begin&ndash;&gt;-->
<!--            <router-link class="button reject border_radius pointer"-->
<!--                         :to="{name:'authenticate'}"-->
<!--                         v-if="authState==='1'"-->
<!--            >{{$t('reject')}}-->
<!--            </router-link>-->
<!--            &lt;!&ndash;被驳回 end&ndash;&gt;-->

<!--            &lt;!&ndash;已认证 begin&ndash;&gt;-->
<!--            <span class="button authenticated "-->
<!--                  v-if="authState==='2'"-->
<!--            >{{$t('authenticated')}}</span>-->
<!--            &lt;!&ndash;已认证 end&ndash;&gt;-->

<!--            &lt;!&ndash;未认证 begin&ndash;&gt;-->
<!--            <span class="button identification border_radius pointer btn_simple"-->
<!--                  v-if="authState==='3'"-->
<!--                  @click="link_to_authenticate">-->
<!--              {{$t('toAuth')}}-->
<!--            </span>-->
<!--            &lt;!&ndash;未认证 end&ndash;&gt;-->

<!--            &lt;!&ndash;已失效 begin&ndash;&gt;-->
<!--            <span class="button in-review border_radius"-->
<!--                  v-if="authState==='4'"-->
<!--            >-->
<!--              &lt;!&ndash;已失效&ndash;&gt;-->
<!--              {{$t('expired')}}-->
<!--            </span>-->
<!--            &lt;!&ndash;已失效 end&ndash;&gt;-->

<!--            &lt;!&ndash;审核中 begin&ndash;&gt;-->
<!--            <span class="button in-review border_radius"-->
<!--                  v-if="authState==='5'"-->
<!--            >{{$t('review')}}</span>-->
<!--            &lt;!&ndash;审核中 end&ndash;&gt;-->


<!--            &lt;!&ndash;进行中 begin&ndash;&gt;-->
<!--            <span class="button in-review border_radius pointer"-->
<!--                  v-if="authState==='6'"-->
<!--                  @click="openFacePopupWindow"-->
<!--            >-->
<!--              &lt;!&ndash;进行中&ndash;&gt;-->
<!--              {{$t('processing')}}-->
<!--            </span>-->
<!--            &lt;!&ndash;进行中 end&ndash;&gt;-->

<!--          </div>-->
          <!--认证图标 begin-->


          <!--使用bdb折扣开关 begin-->
          <!--<div class="flex-center info-detail account-info info-detail-bdb-box">-->
          <!--<span class="check-bt-bonus-box">-->
          <!--&lt;!&ndash;{{$t('accountInfo',{btReward:btReward})}}&ndash;&gt;-->
          <!--{{$t('accountInfo')}}-->

          <!--&lt;!&ndash;查看收益 begin&ndash;&gt;-->
          <!--&lt;!&ndash;<router-link :to="{name:'burnBDBProfit'}" class="check-bt-bonus text_blue">&ndash;&gt;-->
          <!--&lt;!&ndash;查看收益&ndash;&gt;-->
          <!--&lt;!&ndash;{{$t('checkProfit')}}&ndash;&gt;-->
          <!--&lt;!&ndash;</router-link>&ndash;&gt;-->
          <!--&lt;!&ndash;查看收益 end&ndash;&gt;-->
          <!--</span>-->
          <!--&lt;!&ndash;<input type="checkbox">&ndash;&gt;-->

          <!--&lt;!&ndash;<a href="#" class="toggle"&ndash;&gt;-->
          <!--&lt;!&ndash;:class="{'toggle&#45;&#45;off':!BDBInfo,'toggle&#45;&#45;on':BDBInfo,'toggle&#45;&#45;moving':BDBChanging}"&ndash;&gt;-->
          <!--&lt;!&ndash;@click="clickToggle($event)"></a>&ndash;&gt;-->

          <!--&lt;!&ndash;<div class="bdb-button-box"&ndash;&gt;-->
          <!--&lt;!&ndash;:class="BDBInfo ? 'bdb-button-box-open':'bdb-button-box-close'"&ndash;&gt;-->
          <!--&lt;!&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="bdb-button-toggle"&ndash;&gt;-->
          <!--&lt;!&ndash;:class="BDBInfo ? 'bdb-button-toggle-open':'bdb-button-toggle-close'"&ndash;&gt;-->
          <!--&lt;!&ndash;@click="clickToggle($event)"></div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->

          <!--&lt;!&ndash;BDB折扣开关 begin&ndash;&gt;-->
          <!--<Toggle :toggleOpen="BDBInfo" :switchFunc="clickToggle"/>-->
          <!--&lt;!&ndash;BDB折扣开关 end&ndash;&gt;-->


          <!--</div>-->
          <!--使用bdb折扣开关 end-->

        </div>
        <!--具体信息-->
        <table class="info margin">
          <tr class="info-tr">
            <td class="info-td-title">
              <!--              <span class="info-li-dot"></span>-->
              <span class="info-li-title">{{$t('authenticated3')}}</span>
            </td>
            <td class="info-td-content">
              <span class="info-li-article">{{email || '*****@***.***'}}</span>
            </td>

          </tr>
          <tr class="info-tr">
            <td class="info-td-title">
              <!--              <span class="info-li-dot"></span>-->
              <span class="info-li-title">UID</span>
            </td>
            <td class="info-td-content">
              <span class="info-li-article">{{uid}}</span>
            </td>
            <!--            <td class="info-td-title-second">-->
            <!--              <span class="info-li-dot"></span>-->
            <!--              <span class="info-li-title">{{$t('total')}}</span>-->
            <!--            </td>-->
            <!--            <td class="info-td-content"-->
            <!--                @mouseenter="get_now_price((accountReady && (priceReady || initReady )? toFixed(total,8):'&#45;&#45;&#45;&#45;'), 1)"-->
            <!--                @mouseleave="hide_now_price">-->
            <!--              <span-->
            <!--                class="info-li-article">{{accountReady && (priceReady || initReady )? toFixed(total,8):'&#45;&#45;&#45;&#45;'}} BTC</span>-->
            <!--              <span class="show_tips" :class="{'show': show_key == 1}">-->
            <!--                  {{change_price}}-->
            <!--                  <font></font>-->
            <!--                </span>-->
            <!--            </td>-->
          </tr>
          <tr class="info-tr">
            <td class="info-td-title">
              <!--              <span class="info-li-dot"></span>-->
              <span class="info-li-title">{{$t('name')}}</span>
            </td>
            <td class="info-td-content">
              <span class="info-li-article">{{name || '---'}}</span>
            </td>
            <!--            <td class="info-td-title-second">-->
            <!--              <span class="info-li-dot"></span>-->
            <!--              <span class="info-li-title">{{$t('available')}}</span>-->
            <!--            </td>-->
            <!--            <td class="info-td-content"-->
            <!--                @mouseenter="get_now_price((accountReady && (priceReady|| initReady )? toFixed(available,8) : '&#45;&#45;&#45;&#45;'), 2)"-->
            <!--                @mouseleave="hide_now_price">-->
            <!--              <span class="info-li-article">{{accountReady && (priceReady|| initReady )? toFixed(available,8) : '&#45;&#45;&#45;&#45;'}} BTC</span>-->
            <!--              <span class="show_tips" :class="{'show': show_key == 2}">-->
            <!--                  {{change_price}}-->
            <!--                  <font></font>-->
            <!--                </span>-->
            <!--            </td>-->
          </tr>
          <tr class="info-tr">
            <td class="info-td-title">
              <!--              <span class="info-li-dot"></span>-->
              <span class="info-li-title">{{$t('idCode')}}</span>
            </td>
            <td class="info-td-content">
              <span class="info-li-article">{{idCode || '**********'}}</span>
            </td>
            <!--            <td class="info-td-title-second">-->
            <!--              <span class="info-li-dot"></span>-->
            <!--              <span class="info-li-title">{{$t('frozen')}}</span>-->
            <!--            </td>-->
            <!--            <td class="info-td-content"-->
            <!--                @mouseenter="get_now_price((accountReady && (priceReady || initReady)? toFixed(frozen,8) : '&#45;&#45;&#45;&#45;'), 3)"-->
            <!--                @mouseleave="hide_now_price">-->
            <!--              <span class="info-li-article">{{accountReady && (priceReady || initReady)? toFixed(frozen,8) : '&#45;&#45;&#45;&#45;'}} BTC</span>-->
            <!--              <span class="show_tips" :class="{'show': show_key == 3}">-->
            <!--                  {{change_price}}-->
            <!--                  <font></font>-->
            <!--                </span>-->
            <!--            </td>-->
          </tr>
          <tr class="info-tr">
            <td class="info-td-title">
              <!--              <span class="info-li-dot"></span>-->
              <span class="info-li-title">{{$t('time')}}</span>
            </td>
            <td class="info-td-content">
              <span class="info-li-article" v-if="authState==='2'">{{$globalFunc.formatDateUitl(passedTime || 0,'YYYY-MM-DD hh:mm:ss')}}</span>
            </td>
          </tr>

        </table>
        <ul class="info margin">
          <!-- <li class="info-li">
            <span class="info-li-dot"></span>
            <span class="info-li-title">UID:</span>
            <span class="info-li-article">{{uid}}</span>
          </li>
          <li class="info-li">
            <span class="info-li-dot"></span>
            <span class="info-li-title">{{$t('total')}}</span>
            <span class="info-li-article">{{accountReady && (priceReady || initReady )?total:'----'}} BTC</span>
          </li> -->
          <br>
          <!-- <li class="info-li">
            <span class="info-li-dot"></span>
            <span class="info-li-title">{{$t('name')}}</span>
            <span class="info-li-article">{{name || '---'}}</span>
          </li>
          <li class="info-li">
            <span class="info-li-dot"></span>
            <span class="info-li-title">{{$t('available')}}</span>
            <span class="info-li-article">{{accountReady && (priceReady|| initReady )? available : '----'}} BTC</span>
          </li> -->
          <br>
          <!-- <li class="info-li">
            <span class="info-li-dot"></span>
            <span class="info-li-title">{{$t('idCode')}}</span>
            <span class="info-li-article">{{idCode || '**********'}}</span>
          </li>
          <li class="info-li">
            <span class="info-li-dot"></span>
            <span class="info-li-title">{{$t('frozen')}}</span>
            <span class="info-li-article">{{accountReady && (priceReady || initReady)? frozen : '----'}} BTC</span>
          </li> -->
        </ul>
        <div class="clear"></div>

      </div>
<!--        内容 end-->
      </div>
      <!--内容 end-->

    </div>
    <!--pc端样式 end-->

    <!--2018.10.16 face++ app端正在申请提示 begin-->
    <BasePopupWindow
      :open="facePopupWindow"
      :close="closeFacePopupWindow"
    >
      <div slot="header">
        <!--提示-->
        {{$t('face_pop_header')}}
      </div>
      <div slot="article">
        <div class="face-pop-article">
          <p>
            <!--是否从APP中退出身份认证流程？-->
            {{$t('face_pop_article_1')}}
          </p>
          <p>
            <!--退出后，进行中的数据将被清空-->
            {{$t('face_pop_article_2')}}
          </p>
        </div>
      </div>
      <div slot="footer" class="face-pop-footer-container flex">
        <button class="btn_base  btn-face-quit pointer"
                @click="facePopupWindowConfirm"
                v-if="!faceExiting"
        >
          <!--退出-->
          {{$t('exit')}}
        </button>
        <button class="btn_base  btn-face-quit pointer"
                v-else
        >
          <!--退出中-->
          {{$t('exiting')}}
        </button>
        <button class="btn_base  btn_simple pointer"
                @click="closeFacePopupWindow"
        >
          <!--取消-->
          {{$t('cancel')}}
        </button>
      </div>
    </BasePopupWindow>
    <!--2018.10.16 face++ app端正在申请提示 end-->


    <!--手机端样式 begin-->
    <div v-if="isMobile" class="mobile-article">
      <div v-if="isMobile && popShow" class="toast-prompt">
        <!--<div v-if="isMobile" class="toast-prompt">-->
        <div class="toast-prompt-box">
          <div class="toast-prompt-box-close" @click="closeClick"></div>
          <input type="text" id="moblieCopy" v-model="shareUrl" class="toast-prompt-box-input"/>
          <div class="toast-prompt-box-all-pick" @click="copyShareUrl"></div>
        </div>
      </div>

      <div class="user-info-box">
        <div class="user-info-photo">
        </div>
        <div class="user-info-mail">
          {{email || '*****@***.***'}}
        </div>
        <!--<div class="user-info-phone">-->
        <!--UID: {{uid}}-->
        <!--</div>-->
      </div>
      <!--<div class="info-detail account-info">-->
        <!--<span class="account-info-text">使用BDB支付交易手续费（7折）</span>-->
        <!--&lt;!&ndash;BDB折扣开关 begin&ndash;&gt;-->
        <!--<div class="account-info-toggle">-->
        <!--<Toggle :toggleOpen="BDBInfo" :switchFunc="clickToggle"/>-->
        <!--</div>-->
        <!--&lt;!&ndash;BDB折扣开关 end&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="account-info-right">&ndash;&gt;-->
          <!--&lt;!&ndash;查看收益&ndash;&gt;-->
          <!--&lt;!&ndash;<img class="mobile-auth-iden-get-more " src="" alt="">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</div>-->


      <div class="mobile-info-box">
        <!--<router-link :to="{name: 'MobileBTActivityHomePage'}" class="mobile-change-psw-box">-->
          <!--<span class="mobile-change-psw-img-box">-->
            <!--<img src="" alt="">-->
          <!--</span>-->
          <!--<span class="mobile-auth-text">挖矿收益</span>-->
          <!--<span class="mobile-auth-bt">-->
            <!--<div class="mobile-auth-bt-text">-->
              <!--<div class="mobile-auth-bt-text-first">今日平台交易手续费折合:</div>-->
              <!--<div class="mobile-auth-bt-text-second">{{toFixed(btNum,8)}} USDT</div>-->
            <!--</div>-->
            <!--<img class="mobile-auth-iden-get-more " src="" alt="">-->
          <!--</span>-->
        <!--</router-link>-->

        <!--<router-link to="/index/personal/H5Recommend" class="mobile-change-psw-box">-->
          <!--<span class="mobile-change-psw-img-box">-->
            <!--<img src="" alt="">-->
          <!--</span>-->
          <!--<span class="mobile-auth-text">我的推荐</span>-->
          <!--<span class="mobile-auth-recommend">-->
            <!--UID:{{uid}}-->
            <!--<img class="mobile-auth-iden-get-more " src="" alt="">-->
          <!--</span>-->
        <!--</router-link>-->

        <div class="mobile-auth-box">
          <span class="mobile-auth-img-box">
            <img src="../../assets/h5personelcenter/IDCard.png" alt="">
          </span>
          <span class="mobile-auth-text">{{$t('authentication')}}</span>
          <span class="mobile-auth-iden" v-if="authState==='3'"
                @click="link_to_authenticate">{{$t('uncertified')}}</span>
          <span class="mobile-auth-iden mobile-auth-iden-ensure" v-if="authState==='0' || authState==='6'">{{$t('inAudit')}}</span>
          <span class="mobile-auth-iden mobile-auth-iden-ensure" v-if="authState==='2'">{{$t('passed')}}</span>
          <span class="mobile-auth-iden mobile-auth-iden-ensure" v-if="authState==='1'">{{$t('beDismissed')}}</span>
          <span class="mobile-auth-iden mobile-auth-iden-ensure" v-if="authState==='4'">{{$t('failure')}}</span>
        </div>
        <router-link to="/index/personal/securityCenter/modifyLoginPassword" class="mobile-change-psw-box">
          <span class="mobile-change-psw-img-box">
            <img src="../../assets/h5personelcenter/psw.png" alt="">
          </span>
          <span class="mobile-auth-text">{{$t('changePsw')}}</span>
        </router-link>
        <!--如果是手机用户 绑定邮箱-->
        <div class="mobile-mobile-box" v-if="userType === 0">
          <span class="mobile-mobile-img-box">
            <img src="../../assets/h5personelcenter/mobile.png" alt="">
          </span>
          <span class="mobile-auth-text">{{$t('mailbox')}}</span>
          <span class="mobile-auth-iden" v-if="!bindEmail" @click="click_bind_email">{{$t('noAuth')}}</span>
          <span class="mobile-auth-iden mobile-auth-iden-ensure" v-if="bindEmail" @click="click_release_email">{{$t('yesAuth')}}</span>
        </div>
        <!--如果是邮箱用户 绑定手机-->
        <div class="mobile-mobile-box" v-if="userType === 1">
          <span class="mobile-mobile-img-box">
            <img src="../../assets/h5personelcenter/phone.png" alt="">
          </span>
          <span class="mobile-auth-text">{{$t('phone')}}</span>
          <span class="mobile-auth-iden" v-if="!bindPhone" @click="click_bind_mobile">{{$t('noAuth')}}</span>
          <span class="mobile-auth-iden mobile-auth-iden-ensure" v-if="bindPhone" @click="click_release_mobile">{{$t('yesAuth')}}</span>
        </div>
        <div class="mobile-google-box">
          <span class="mobile-google-img-box">
            <img src="../../assets/h5personelcenter/google.png" alt="">
          </span>
          <span class="mobile-auth-text">{{$t('gaCode')}}</span>
          <span class="mobile-auth-iden" v-if="!bindGA" @click="click_bind_GA">{{$t('noAuth')}}</span>
          <span class="mobile-auth-iden mobile-auth-iden-ensure" v-if="bindGA" @click="click_release_GA">{{$t('yesAuth')}}</span>
        </div>

        <!--<router-link to="/index/help/H5WordOrder" class="mobile-wordorder-box">-->
          <!--<span class="mobile-wordorder-img-box">-->
            <!--<img src="" alt="">-->
          <!--</span>-->
          <!--<span class="mobile-auth-text">提交工单</span>-->
          <!--<img class="mobile-wordorder-img-right" src="" alt="">-->
        <!--</router-link>-->

      </div>
      <!--<div class="mobile-invide-box">-->
      <!--<span class="mobile-invide-img-box">-->
      <!--<img src="" alt="">-->
      <!--</span>-->
      <!--<span class="mobile-auth-text">{{$t('gaCode')}}</span>-->
      <!--<span class="mobile-auth-iden" @click="click_bind_GA">邀请好友得币</span>-->
      <!--</div>-->


      <div class="mobile-quit-button" @click="loginOff">
        {{$t('logout')}}
      </div>
    </div>
    <!--<PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText">-->
    <!--<div slot="pop-detail" class="pop-detail">-->
    <!--<img class="pop-detail-img" src="../../assets/mobile_computer.png" alt="">-->
    <!--<div class="pop-detail-text">请前往PC端登录二零二零官网</div>-->
    <!--<div class="pop-detail-text">{{$t('promptArticle_1')}}</div>-->
    <!--<div class="pop-detail-text">{{popWindowText}}</div>-->
    <!--<div class="pop-detail-btn" @click="popClose">{{$t('promptEnsure')}}</div>-->
    <!--</div>-->
    <!--</PopupPrompt>-->
    <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"></PopupPrompt>

    <!--弹窗-->
    <div v-if="popIdenOpen" class="lock-position-confirm-toast">
      <div class="lock-position-confirm-toast-window">
        <!--关闭按钮-->
        <div class="lock-position-confirm-toast-close-btn" @click="popIdenClose">
          <img class="lock-position-confirm-toast-close-btn-img"
               src="../../assets/mobile_img/mobile_asset_commen/h5_toast_close_btn.png" alt="">
        </div>
        <!--顶部标题-->
        <div class="lock-position-confirm-toast-title">{{$t('face_pop_header')}}</div>
        <div class="lock-position-confirm-toast-list">
          <div class="lock-position-confirm-toast-item">
            {{$t('goToCertification')}}
          </div>
        </div>
        <div class="lock-position-confirm-toast-btns">
          <div class="lock-position-confirm-toast-btn-confirm" @click="popIdenClose">{{$t('promptEnsure')}}</div>
          <!--<div class="lock-position-confirm-toast-btn-close" @click="popIdenClose">取消</div>-->
          <!--<a class="lock-position-confirm-toast-btn-confirm" :href="staticUrl+'/AppDownload/'" target="_blank">下载app</a>-->
        </div>
      </div>
    </div>


    <!-- 实名认证提示 start -->
    <!-- <PopAlert :switch="popShow" @close="closeClick" v-if="!isMobile"></PopAlert> -->
    <!-- 实名认证提示 end -->

    <!--手机端样式 end-->

  </template>

</div>
