

<div class="to-auth-container border_radius">
  <Loading v-if="loading"/>
  <template v-if="!loading">
    <!--    个人信息-->
    <div class="personal-info">
      <div class="personal-container">
        <div class="currency_notice_bread">
          <router-link to="/index/personal/securityCenter" class="management">{{$t('management')}}</router-link>
          <span> > </span>
          {{$t('title')}}
        </div>
      </div>
    </div>

    <!--请选择证件类型 bin-->
    <!--<div class="chose-commit-type-container">-->
      <!--<div class="chose-commit-type-title">-->
        <!--&lt;!&ndash;请选择证件类型：&ndash;&gt;-->
        <!--{{$t('chose_type')}}-->
      <!--</div>-->
      <!--<div class="chose-commit-type-detail-container flex">-->
        <!--<div class="chose-commit-type-detail flex pointer">-->
          <!--<input type="radio" name="commit-type" class="pointer" id="commit-type-0" value="0" v-model="commitType">-->
          <!--<label for="commit-type-0" class="chose-commit-type-label pointer">-->
            <!--&lt;!&ndash;大陆二代身份证&ndash;&gt;-->
            <!--{{$t('chose_type_1')}}-->
          <!--</label>-->
        <!--</div>-->
        <!--<div class="chose-commit-type-detail flex ">-->
          <!--<input type="radio" name="commit-type" class="pointer" id="commit-type-1" value="1" v-model="commitType">-->
          <!--<label for="commit-type-1" class="chose-commit-type-label pointer">-->
            <!--&lt;!&ndash;其他&ndash;&gt;-->
            <!--{{$t('chose_type_2')}}-->
          <!--</label>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--请选择证件类型 end-->


<!--    <template v-if="commitType==0">-->

<!--      <div class="go-to-app-container flex">-->
<!--        <div class="title flex">-->
<!--          <span></span>-->
<!--          <span>{{$t('title')}}</span>-->
<!--        </div>-->
<!--        <div class="go-to-app-title">-->
<!--          &lt;!&ndash;亲爱的为蜜们，为了大家的资金安全，请使用手机进行安全验证～&ndash;&gt;-->
<!--          {{$t('go_to_app_title')}}-->
<!--        </div>-->
<!--        <div class="go-to-app-qr-code-container flex">-->
<!--          <Qrcode class="download-container-img"-->
<!--                  :size="size"-->
<!--                  :value="value"-->
<!--                  :logo="logo"-->
<!--                  :bgColor="bgColor"-->
<!--                  :fgColor="fgColor"-->
<!--          >-->
<!--          </Qrcode>-->
<!--          <div class="go-to-app-qr-code-prompt">-->
<!--            &lt;!&ndash;请准备好本人二代身份证，并用微信扫码，每日仅限三次&ndash;&gt;-->
<!--            {{$t('go_to_app_prompt')}}-->
<!--          </div>-->
<!--        </div>-->
<!--        <ul class="go-to-app-prompt-container">-->
<!--          <li class="go-to-app-prompt">-->
<!--            {{$t('go_to_app_prompt_li_1')}}-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </template>-->

    <template v-if="commitType==1">

      <div class="article">
<!--        身份认证标题-->
<!--        <div class="title flex">-->
<!--          <span></span>-->
<!--          <span>{{$t('title')}}</span>-->
<!--        </div>-->

        <div class="input-container">
<!--          第一步-->
          <div class="one">
            <div class="one-background">1</div>
            <div class="one-text">{{$t('information')}}</div>
          </div>

          <div class="input-unify">
            <!--选择地区-->
            <div class="title-bottom">
              <span>{{$t('country')}}</span>
            </div>
<!--            <div>{{$store.state.lang}}</div>-->
            <div class="input-input-container flex country">
              <template>
<!--                <el-select v-model="country"  name="country" placeholder="中国大陆地区" class="selectstyle diqu">-->
<!--                  <el-option-->
<!--                    v-for="item in options"-->
<!--                    :key="item.value"-->
<!--                    :label="item.label"-->
<!--                    :value="item.value">-->
<!--                  </el-option>-->
<!--                </el-select>-->

                <el-select class="inputInner" name="country" :placeholder= '$t("wrong_message_222")' style="font-size:14px"
                           v-model="searchResult" popper-class="el-popper select-down-box">
                  <input type="text" class="inputsize" :placeholder='$t("wrong_message_22")' v-model="searchCities">
                    <el-option
                      v-for="item in (searchCities ? cityList :cities)"
                      :key="item.countryId"
                      :label="($store.state.lang == 'CH' || $store.state.lang == 'CHT')? item.nameCn : item.nameEn"
                      :value="item.nameCn"></el-option>
                  </el-select>
              </template>
              <!--<input type="text" class="input-input">-->
<!--              <input type="radio" name="country" id="china" value="0" v-model="country">-->
<!--              <label for="china" class="flex-center">-->
<!--                <img src="" alt="">-->
<!--                {{$t('country_china')}}-->
<!--              </label>-->
<!--              <input type="radio" name="country" id="other" value="1" v-model="country">-->
<!--              <label for="other" class="flex-center">-->
<!--                <img src="" alt="">-->
<!--                {{$t('country_other')}}-->
<!--              </label>-->
            </div>
            <span class="input-prompt" v-if="country==='0'">
<!--            <span v-if="countryWA_0==='1'" class="prompt-span flex-center wrong-msg"><img-->
<!--              src=""-->
<!--              alt="">{{$t('noPass')}}</span>-->
<!--            <span v-if="countryWA_0==='2'" class="prompt-span flex-center right-msg"><img-->
<!--              src=""-->
<!--              alt="">{{$t('pass')}}</span>-->
            <span v-if="countryWA_0 ==='0'" class="prompt-span flex-center wrong-msg">{{countryMsg_0}}</span>
          </span>
            <span class="input-prompt" v-else>
<!--            <span v-if="countryWA_1==='1'" class="prompt-span flex-center wrong-msg"><img-->
<!--              src=""-->
<!--              alt="">{{$t('noPass')}}</span>-->
<!--            <span v-if="countryWA_1==='2'" class="prompt-span flex-center right-msg"><img-->
<!--              src=""-->
<!--              alt="">{{$t('pass')}}</span>-->
            <span v-if="countryWA_1==='0'" class="prompt-span flex-center wrong-msg">{{countryMsg_1}}</span>
          </span>
            <!--国家提示-->
            <div class="input-unify1">
              <span class="input-title"></span>
              <div class="input-input-container mm">
                <span>{{$t('country_prompt')}}</span>
              </div>
              <div class="input-prompt"></div>
            </div>

          </div>


          <!--选择性别-->
          <div class="input-unify">
            <div class="title-bottom">
              <span>{{$t('gender')}}</span>
            </div>

            <div class="input-input-container sex">
              <template>
                <el-select v-model="valuegender" name="gender" :placeholder='$t("genderMsg")' class="input-inner-gender">
                  <el-option
                    v-for="item in optionsgender"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value"
                  >
                  </el-option>
                </el-select>
              </template>
<!--              <input type="radio" name="gender" id="male" value="0" v-model="gender" @click="testGender"><label-->
<!--              for="male">{{$t('gender_1')}}</label>-->
<!--              <input type="radio" name="gender" id="female" value="1" v-model="gender" @click="testGender"><label-->
<!--              for="female">{{$t('gender_2')}}</label>-->
            </div>
            <div class="input-prompt" v-if="country==='0'">
<!--            <span v-if="genderWA_0==='1'" class="prompt-span flex-center wrong-msg"><img src=""-->
<!--                                                                                         alt="">{{$t('noPass')}}</span>-->
<!--            <span v-if="genderWA_0==='2'" class="prompt-span flex-center right-msg"><img src=""-->
<!--                                                                                         alt="">{{$t('pass')}}</span>-->
            <span v-if="genderWA_0==='0'" class="prompt-span flex-center wrong-msg">{{genderMsg_0}}</span>
          </div>
            <div class="input-prompt" v-else>
<!--            <span v-if="genderWA_1==='1'" class="prompt-span flex-center wrong-msg"><img src=""-->
<!--                                                                                         alt="">{{$t('noPass')}}</span>-->
<!--            <span v-if="genderWA_1==='2'" class="prompt-span flex-center right-msg"><img src=""-->
<!--                                                                                         alt="">{{$t('pass')}}</span>-->
            <span v-if="genderWA_1==='0'" class="prompt-span flex-center wrong-msg">{{genderMsg_1}}</span>
          </div>

          </div>

          <!--填写姓名-->
          <!--中国-->
          <template v-if="country==='0'">
            <div class="input-unify">
              <div class="title-bottom">
                <span>{{$t('name')}}</span>
              </div>
              <div class="input-input-container">
                <input type="text" class="input-input"
                       :class="{'wrong-border':nameWA_0==='0' && nameMsg_0!==''}"
                       v-model="name_0" :key="1" @blur="testName_0">
                <div class="input-prompt">
<!--              <span v-if="nameWA_0==='1'" class="prompt-span flex-center wrong-msg"><img src=""-->
                  <!--                                                                                         alt="">{{$t('noPass')}}</span>-->
                  <!--              <span v-if="nameWA_0==='2'" class="prompt-span flex-center right-msg"><img src=""-->
                  <!--                                                                                         alt="">{{$t('pass')}}</span>-->
              <span v-if="nameWA_0==='0'" class="prompt-span  wrong-msg">{{nameMsg_0}}</span>
            </div>
              </div>

            </div>

            <!--填写身份证号-->
            <div class="input-unify">
              <div class="title-bottom">
                <span>{{$t('idCode_china')}}</span>
              </div>

              <div class="input-input-container">
                <input type="text" class="input-input"
                       :class="{'wrong-border':idCodeWA_0==='0' && idCodeMsg_0!==''}"
                       v-model="idCode_0" :key="2" @blur="testIdCode_0">
              </div>
              <div class="input-prompt">
<!--              <span v-if="idCodeWA_0==='1'" class="prompt-span flex-center wrong-msg"><img-->
<!--                src=""-->
<!--                alt="">-->
<!--                {{$t('noPass')}}-->
<!--              </span>-->
<!--              <span v-if="idCodeWA_0==='2'" class="prompt-span flex-center right-msg"><img-->
<!--                src=""-->
<!--                alt="">-->
<!--                {{$t('pass')}}-->
<!--              </span>-->
              <span v-if="idCodeWA_0==='0'" class="prompt-span  wrong-msg">
                {{idCodeMsg_0}}
              </span>
            </div>
            </div>
          </template>
          <!--海外-->
          <template v-else>
            <div class="input-unify">
              <!--名字-->
              <div class="title-bottom">
                <span>{{$t('name')}}</span>
              </div>

              <div class="input-input-container">
                <input type="text" class="input-input" v-model="name_1" :key="3" @blur="testName_1">
              </div>
              <span class="input-prompt">
<!--                <span v-if="nameWA_1==='1'" class="prompt-span flex-center wrong-msg"><img src=""-->
<!--                                                                                           alt="">{{$t('noPass')}}</span>-->
<!--                <span v-if="nameWA_1==='2'" class="prompt-span flex-center right-msg"><img src=""-->
<!--                                                                                           alt="">{{$t('pass')}}</span>-->
                <span v-if="nameWA_1 ==='0'" class="prompt-span flex-center wrong-msg">{{nameMsg_1}}</span>
              </span>
            </div>
            <!--姓氏-->
<!--            <div class="input-unify">-->
<!--              <div class="title-bottom">-->
<!--                <span>{{$t('surname')}}</span>-->
<!--              </div>-->
<!--              <div class="input-input-container">-->
<!--                <input type="text" class="input-input" v-model="surname_1" :key="4" @blur="testSurName_1">-->
<!--              </div>-->
<!--              <span class="input-prompt">-->
<!--&lt;!&ndash;               <span v-if="surnameWA_1==='1'" class="prompt-span flex-center wrong-msg"><img&ndash;&gt;-->
<!--&lt;!&ndash;                 src=""&ndash;&gt;-->
<!--&lt;!&ndash;                 alt="">{{$t('noPass')}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;              <span v-if="surnameWA_1==='2'" class="prompt-span flex-center right-msg"><img&ndash;&gt;-->
<!--&lt;!&ndash;                src=""&ndash;&gt;-->
<!--&lt;!&ndash;                alt="">{{$t('pass')}}</span>&ndash;&gt;-->
<!--              <span v-if="surnameWA_1 ==='0'"-->
<!--                    class="prompt-span flex-center wrong-msg">{{surnameMsg_1}}</span></span>-->
<!--            </div>-->
            <!--填写身份证号-->
            <div class="input-unify">
              <div class="title-bottom">
                <span>{{$t('idCode_other')}}</span>
              </div>
              <div class="input-input-container">
                <input type="text" class="input-input" v-model="idCode_1" :key="5" @blur="testIdCode_1">
              </div>
              <span class="input-prompt">
<!--              <span v-if="idCodeWA_1==='1'" class="prompt-span flex-center wrong-msg"><img-->
<!--                src=""-->
<!--                alt="">{{$t('noPass')}}</span>-->
<!--              <span v-if="idCodeWA_1==='2'" class="prompt-span flex-center right-msg"><img-->
<!--                src=""-->
<!--                alt="">{{$t('pass')}}</span>-->
              <span v-if="idCodeWA_1 ==='0'" class="prompt-span flex-center wrong-msg">{{idCodeMsg_1}}</span>
            </span>
            </div>
          </template>
        </div>


        <!--提示-->
<!--        <div class="prompt">-->
<!--          <template v-if="country==='0'">-->
<!--            <div class="prompt_ttl" >{{$t('title_1')}}</div>-->
<!--            <div class="prompt-detail" >-->
<!--              <div class="allinfo11_update">-->
<!--                <div >-->
<!--                  <img class="imgsrc" src="../../assets/身份认证-未选中.png" v-if="register" @click="toggleRadios" alt="">-->
<!--                  <img class="imgsrc" src="../../assets/身份认证-选中.png" v-if="!register" @click="toggleRadios" alt="">-->
<!--                </div>-->
<!--              </div>  {{$t('title_2')}}</div>-->
<!--            <div class="prompt-detail" >-->
<!--              <div class="allinfo11_update">-->
<!--                <img class="imgsrc" src="../../assets/身份认证-未选中.png" v-if="!register" @click="toggleRadios" alt="">-->
<!--                <img class="imgsrc" src="../../assets/身份认证-选中.png" v-if="register" @click="toggleRadios" alt="">-->
<!--              </div>{{$t('title_3')}}</div>-->
<!--          </template>-->


          <!--审核未通过提示-->
<!--          <div class="prompt-fail" v-if="identityAuthWAReason_0!=='' && country === '0'">-->
<!--            <span>{{$t('prompt_reason')}}{{this.identityAuthWAReason_0}}</span>-->
<!--          </div>-->
<!--          <div class="prompt-fail" v-if="identityAuthWAReason_1!=='' && country === '1'">-->
<!--            <span>{{$t('prompt_reason')}}{{this.identityAuthWAReason_1}}</span>-->
<!--          </div>-->
<!--        </div>-->
        <!--          第二步-->
        <div class="two">
          <div class="two-background">2</div>
          <div class="two-text">{{$t('certificates')}}</div>
        </div>

        <!--选择上传身份证-->
        <div class="image-container flex-center">
          <!--传身份证-->
<!--          <template v-if="(country =='0' && register)">-->
          <template v-if="(country =='0')">

            <div class="image-unify flex-center" :key="1">
              <div class="image-show " id="imgFrontContainer_0" @click="click_front">

                <template v-if="certificate_positive_url_0===''"></template>

                <img :src="certificate_positive_url_0" alt="" class="re_img" v-else>
              </div>
              <input type="file" ref="imgFront_0" v-on:change="frontOnChange" class="display-none imgFront_0" id="imgFront_0">
              <div class="image-prompt">
<!--              <span v-if="frontImgWA_0==='1'" class="prompt-span flex-center wrong-msg"><img-->
<!--                src=""-->
<!--                alt="">{{$t('noPass')}}</span>-->
<!--                <span v-if="frontImgWA_0==='2'" class="prompt-span flex-center right-msg"><img-->
<!--                  src=""-->
<!--                  alt="">{{$t('pass')}}</span>-->
                <span v-if="frontImgWA_0 ==='0'" class="wrong-msg">{{frontImgMsg_0}}</span>
              </div>
                <span class="image-title">{{$t('front_china')}}</span>
              </div>

            <div class="image-unify flex-center" :key="2">

              <div class="image-show flex-center" id="imgBackContainer_0" @click="click_back">
                <template v-if="certificate_negative_url_0===''">
                </template>
                <img :src="certificate_negative_url_0" alt="" v-else class="re_img">
              </div>
              <input type="file" ref="imgBack_0" v-on:change="backOnChange" class="display-none imgBack_0"
                     id="imgBack_0">
              <div class="image-prompt">
<!--              <span v-if="backImgWA_0==='1'" class="prompt-span flex-center wrong-msg"><img-->
<!--                src=""-->
<!--                alt="">{{$t('noPass')}}</span>-->
<!--                <span v-if="backImgWA_0==='2'" class="prompt-span flex-center right-msg"><img-->
<!--                  src=""-->
<!--                  alt="">{{$t('pass')}}</span>-->
                <span v-if="backImgWA_0==='0'" class="prompt-span flex-center wrong-msg">{{backImgMsg_0}}</span>
              </div>

              <span class="image-title">{{$t('back_china')}}</span>

            </div>

            <div class="image-unify flex-center" :key="3">

              <div class="image-show flex-center" id="imgHoldContainer_0" @click="click_hold">
                <template v-if="held_certificate_url_0===''">
                </template>
                <img :src="held_certificate_url_0" alt="" class="re_img" v-else>
              </div>
              <input type="file" ref="imgHold_0" v-on:change="holdOnChange" class="display-none imgHold_0"
                     id="imgHold_0">
              <div class="image-prompt">
<!--              <span v-if="holdImgWA_0==='1'" class="prompt-span flex-center wrong-msg"><img-->
<!--                src=""-->
<!--                alt="">{{$t('noPass')}}</span>-->
<!--                <span v-if="holdImgWA_0==='2'" class="prompt-span flex-center right-msg"><img-->
<!--                  src=""-->
<!--                  alt="">{{$t('pass')}}</span>-->
                <span v-if="holdImgWA_0==='0'" class="prompt-span flex-center wrong-msg">{{holdImgMsg_0}}</span>
              </div>
              <span class="image-title">{{$t('hold_china')}}</span>
            </div>
          </template>

          <!--传护照-->
          <template v-else-if="country =='1'">
            <div class="image-unify flex-center" :key="4">

              <div class="image-show flex-center" id="imgFrontContainer_1" @click="click_front">
                <template v-if="certificate_positive_url_1===''">
                </template>
                <img :src="certificate_positive_url_1" alt="" v-else class="re_img">

              </div>
              <input type="file" ref="imgFront_1" v-on:change="frontOnChange" class="display-none imgFront_1"
                     id="imgFront_1">
              <div class="image-prompt">
<!--              <span v-if="frontImgWA_1==='1'" class="prompt-span flex-center wrong-msg"><img-->
<!--                src=""-->
<!--                alt="">{{$t('noPass')}}</span>-->
<!--                <span v-if="frontImgWA_1==='2'" class="prompt-span flex-center right-msg"><img-->
<!--                  src=""-->
<!--                  alt="">{{$t('pass')}}</span>-->
                <span v-if="frontImgWA_1==='0'" class="prompt-span flex-center wrong-msg">{{frontImgMsg_1}}</span>
              </div>
              <span class="image-title">{{$t('front_other')}}</span>
            </div>

            <div class="image-unify flex-center" :key="5">

              <div class="image-show flex-center" id="imgBackContainer_1" @click="click_back">
                <template v-if="certificate_negative_url_1===''">
                </template>
                <img :src="certificate_negative_url_1" alt="" v-else class="re_img">
              </div>
              <input type="file" ref="imgBack_1" v-on:change="backOnChange" class="display-none imgBack_1"
                     id="imgBack_1">
              <div class="image-prompt">
<!--              <span v-if="backImgWA_1==='1'" class="prompt-span flex-center wrong-msg"><img-->
<!--                src=""-->
<!--                alt="">{{$t('noPass')}}</span>-->
<!--                <span v-if="backImgWA_1==='2'" class="prompt-span flex-center right-msg"><img-->
<!--                  src=""-->
<!--                  alt="">{{$t('pass')}}</span>-->
                <span v-if="backImgWA_1==='0'" class="prompt-span flex-center wrong-msg">
                {{backImgMsg_1}}</span>
              </div>
              <span class="image-title">{{$t('back_other')}}</span>
            </div>

            <div class="image-unify flex-center" :key="6">

              <div class="image-show flex-center" id="imgHoldContainer_1" @click="click_hold">
                <template v-if="held_certificate_url_1===''">
                </template>
                <img :src="held_certificate_url_1" alt="" class="re_img" v-else>

              </div>
              <input type="file" ref="imgHold_1" v-on:change="holdOnChange" class="display-none imgHold_1"
                     id="imgHold_1">
              <div class="image-prompt">
<!--              <span v-if="holdImgWA_1==='1'" class="prompt-span flex-center wrong-msg"><img-->
<!--                src=""-->
<!--                alt="">{{$t('noPass')}}</span>-->
<!--                <span v-if="holdImgWA_1==='2'" class="prompt-span flex-center right-msg"><img-->
<!--                  src=""-->
<!--                  alt="">{{$t('pass')}}</span>-->
                <span v-if="holdImgWA_1==='0'" class="prompt-span flex-center wrong-msg">{{holdImgMsg_1}}</span>
              </div>
              <span class="image-title">{{$t('hold_other')}}</span>
            </div>
          </template>
        </div>



        <!--           身份证自动认证-->
<!--        <template v-if="(country === '0' && !register)">-->
<!--          <div class="automatic-authentication">-->
<!--            {{$t('title_4')}}-->
<!--            <div class="qrcode">-->
<!--              <div class="tdown5">-->
<!--                <div class="download-left-download-item-erwma">-->
<!--                  <div class="download-left-download-item-qrcode-img">-->
<!--                    <Qrcode-->
<!--                      :size="size"-->
<!--                      :value="'https://download.2020.exchange/'"-->
<!--                      :logo="logo"-->
<!--                      :bgColor="bgColor"-->
<!--                      :fgColor="fgColor"-->
<!--                    >-->
<!--                    </Qrcode>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <p class="pl">{{$t('title_5')}}</p>-->
<!--            <p class="pl">{{$t('title_6')}}</p>-->
<!--          </div>-->
<!--        </template>-->

<!--        <template v-if="country =='1' || (country =='0' && register)">-->



        <template v-if="country =='1' || country =='0'">

        <div class="prompt-detaill" v-if="country == '0' ">
          <div class="prompt-detail2" >{{$t('prompt_detail_china_1')}}</div>
          <div class="prompt-detail2" >{{$t('prompt_detail_china_2')}}</div>
        </div>
        <div class="prompt-detaill" v-if="country == '1' ">
            <div class="prompt-detail2" >{{$t('prompt_detail_china_1s')}}</div>
            <div class="prompt-detail2" >{{$t('prompt_detail_china_2s')}}</div>
          </div>

        <!--提交-->
        <div class="commit-container flex-center">
          <button class="commit-button pointer" v-if="!sending" @click="commit">{{$t('commit')}}
          </button>
          <button class="commit-button" v-else disabled>{{$t('committing')}}</button>
        </div>
          </template>

      </div>

    </template>

    <!-- 实名认证提示 start -->
    <!-- <PopAlert :switch="popShow" @close="closeClick"></PopAlert> -->
    <!-- 实名认证提示 end -->


    <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>

    <PopupWindow
      :switch="popWindowOpen"
      @close="popWindowClose"
    >
      <div slot="header" class="pop-header">
        {{$t('popWindowTitle')}}
      </div>
      <div slot="article" class="popWindow-article">
        {{popWindowWord}}
      </div>
      <div slot="footer" style="height: 0">
        <!--<button class="button-base" @click="goToCustomerService">{{$t('goToWordOrder')}}</button>-->
        <!--<button class="button-base" @click="popWindowClose">{{$t('notGoToWordOrder')}}-->
        <!--</button>-->
      </div>
    </PopupWindow>


  </template>
</div>
