<div class="container">
  <div class="title flex">
    <span></span>
    <span>{{$t('foundPassword')}}</span>
    <span>{{$t('resetPassword_describe')}}</span>
  </div>
  <div class="article">
    <div class="input-password input-container">
      <div class="detail-center">
        <span>{{$t('loginPassword')}}:</span>
        <input type="password">
        <span>输入的不对啊</span>
      </div>
    </div>
    <div class="confirm-password input-container">
      <div class="detail-center">
        <span>{{$t('newCapitalPassword')}}:</span>
        <input type="password">
      </div>
    </div>
    <div class="confirm-password input-container">
      <div class="detail-center">
        <span>{{$t('repeatCapitalPassword')}}:</span>
        <input type="password">
        <span>输入的不对啊</span>
      </div>
    </div>
    <div class="verification-code input-container">
      <div class="detail-center">
        <span>{{$t('message')}}:</span>
        <input type="text">
        <button>{{$t('sendVerificationCode')}}</button>
        <span>输入的不对啊</span>
      </div>
    </div>
    <div class="ensure input-container">
      <div class="detail-center">
        <button>{{$t('ensure')}}</button>
      </div>
    </div>
  </div>
</div>
