<div class="release-container border_radius">
  <Loading v-if="loading"/>
  <template v-if="!loading && !isMobile && hiddenReleaseMObilePage">
    <div class="release-title flex">
      <span></span>
      <span>{{$t('personalCenterSecurityCenterReleaseMobile.title')}}</span>
      <!--<span>*为了您的资产安全，重置登录密码修改24h以内不允许提现。</span>-->
    </div>

    <div class="release-article">

      <!--输入登录密码 begin-->
      <div class="input-password input-container">
        <div class="detail-center">
          <span class="detail-center-title">{{$t('personalCenterSecurityCenterReleaseMobile.psw')}}</span>
          <input type="password"
                 class="unit-input"
                 :class="{'wrong-border':pswWA!==''}"
                 v-model="psw"
                 @blur="testPsw"
          >
          <span class="detail-center-prompt wrong-msg" v-if="pswWA!==''">{{pswWA}}</span>
        </div>
      </div>
      <!--输入登录密码 end-->

      <!--输入手机号 begin-->
      <div class="phone-number input-container">
        <div class="detail-center">
          <span class="detail-center-title">{{$t('personalCenterSecurityCenterReleaseMobile.sms')}}</span>
          <span class="phone-prompt">+86</span>
          <input type="text"
                 class="unit-input phone-input"
                 :class="{'wrong-border':mobileWA!==''}"
                 @blur="testMobile"
                 v-model="mobile"
          >
          <span class="detail-center-prompt wrong-msg" v-if="mobileWA!==''">{{mobileWA}}</span>
        </div>
      </div>
      <!--输入手机号 end-->

      <!--发送验证码 begin-->
      <div class="verification-code input-container double-input-container">
        <div class="detail-center">
          <span class="detail-center-title">{{$t('personalCenterSecurityCenterReleaseMobile.verificationCode')}}</span>
          <input type="text"
                 class="unit-input"
                 :class="{'wrong-border':verificationCodeWA!==''}"
                 v-model="verificationCode"
                 @blur="testVerificationCode"
          >
          <button @click="getVerificationCodeFunc" v-if="!getVerificationCode" class="btn_blue">
            {{$t('personalCenterSecurityCenterReleaseMobile.sendVerificationCode')}}
          </button>
          <button @click="getVerificationCodeFunc" class="click-verification btn_grey" v-else disabled>
            {{getVerificationCodeCountdown}}s
          </button>
          <span class="detail-center-prompt wrong-msg" v-if="verificationCodeWA!==''">{{verificationCodeWA}}</span>
        </div>
      </div>
      <!--发送验证码 end-->

      <!--确定 begin-->
      <div class="ensure input-container">
        <div class="detail-center">
          <button v-if="!sending" @click="commit" class="btn_blue">
            {{$t('personalCenterSecurityCenterReleaseMobile.ensure')}}
          </button>
          <button v-else class="btn_grey">{{$t('personalCenterSecurityCenterReleaseMobile.releasing')}}</button>
        </div>
      </div>
      <!--确定 end-->

    </div>

  </template>

  <PopupT :switch="show" :close="click_rel_em" v-if="!hiddenReleaseMObilePage">

    <!--        解绑手机号码  begin-->
    <div slot="header">
      <span class="pop-ei-ar">{{$t('personalCenterSecurityCenterReleaseMobile.title')}}</span>
    </div>
    <!--        解绑手机号码  end-->

    <div slot="article" class="pop-article">
      <!--        登录密码  begin-->
      <div class="article-pop-1">
        <div class="article-pop-2">{{$t('personalCenterSecurityCenterReleaseMobile.psw')}}</div>

        <input class="input-pop" type="password" v-model="psw" :class="{'wrong-border':pswWA!==''}" @blur="testPsw">
        <span class="detail-prompt wrong-msg" v-if="pswWA!==''">{{pswWA}}</span>
      </div>
      <!--          登录密码  end-->


      <!--          输入手机号码及区号  begin-->
      <div class="article-pop-1">
        <div class="article-pop-2">{{$t('personalCenterSecurityCenterReleaseMobile.sms')}}</div>
        <span class="phone-prompt-areaCode">+86</span>
        <input type="text"
               class="input-pop-area"
               :class="{'wrong-border':mobileWA!==''}"
               @blur="testMobile"
               v-model="mobile"
        >
        <span class="detail-prompt wrong-msg" v-if="mobileWA!==''">{{mobileWA}}</span>

<!--        <div class="article-pop-2">{{$t('personalCenterSecurityCenterBindMobile.mobile')}}</div>-->
<!--        &lt;!&ndash;          下拉搜索框     &ndash;&gt;-->
<!--        <template>-->
<!--          <el-select class="inputInner" placeholder="86" style="font-size:14px" v-model="searchResult">-->
<!--            <input type="text" class="inputsize" placeholder="中国大陆地区" v-model="searchCities">-->
<!--            <el-option-->
<!--              @click="clickItem(item.areaCode)"-->
<!--              class="widthInput"-->
<!--              v-for="item in (searchCities ? cityList :cities)"-->
<!--              :key="item.countryId"-->
<!--              :label="'+ ' + item.areaCode.slice(2)"-->
<!--              :value="item.areaCode">-->
<!--              <span style="float: left;">{{ item.nameCn }}</span>-->
<!--              <span style="float: right; color: #8994A5; font-size: 16px">{{ '+ ' + item.areaCode.slice(2) }}</span>-->
<!--            </el-option>-->
<!--          </el-select>-->
<!--        </template>-->
        <!--          下拉搜索框    结束-->

<!--        <input type="text" v-model="mobile" class="pop-input-1"  :class="{'wrong-border':mobileWA!==''}"-->
<!--               @blur="testMobile">-->
<!--        <span class="detail-prompt" v-if="mobileWA!==''">{{mobileWA}}</span>-->
        <!--            <input class="pop-input-1" type="text">-->
      </div>
      <!--          输入手机号码及区号  end-->

      <!--          获取验证码  begin-->
      <div class="article-pop-1">

          <div class="article-pop-2">{{$t('personalCenterSecurityCenterBindMobile.verificationCode')}}</div>
        <div class="input-pop" :class="{'wrong-border':verificationCodeWA!==''}">
          <input type="text"
                 class="pop-input-3"
                 v-model="verificationCode"
                 @blur="testVerificationCode"
          >
          <span class=" fl-ce-y" v-if="!getVerificationCode" @click="getVerificationCodeFunc">获取验证码</span>
          <span class="fl-ce-y-s" v-else disabled> {{getVerificationCodeCountdown}}s</span>
        </div>
        <div class="detail-prompt m-t3 wrong-msg" v-if="verificationCodeWA">{{verificationCodeWA}}</div>
        <!--        <span class="flex-center identifying-code-button-close btn_grey"-->
        <!--              v-if="getVerificationCode">{{getVerificationCodeCountdown}}s 之后重新发送</span>-->
      </div>
      <!--          获取验证码  end-->
    </div>

    <!--          确认--取消按钮  begin-->
    <div slot="footer" class="pop-footer">
      <span class="pop-qu pointer" @click="click_rel_em()">取消</span>
      <button class="pop-qu-2 pointer btn_blue" @click="commit" v-if="!sending">确认</button>
      <button disabled v-else class="pop-qu-2 pointer btn_blue">{{$t('personalCenterSecurityCenterBindMobile.binding')}}</button>
    </div>
    <!--          确认--取消按钮 end-->
  </PopupT>

  <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>

  <template v-if="!loading && isMobile">
    <div class="unit-title flex-center">
      <span class="unit-title-line"></span>
      <span class="unit-title-text">{{$t('personalCenterSecurityCenterReleaseMobile.title')}}</span>
      <span class="unit-title-line"></span>
    </div>
    <div class="unit-container flex-center">
      <!--密码-->
      <div class="unit-input-container flex" :class="{'wrong-answer':pswWA!=''}">
        <span class="flex-center unit-input-container-title">
          <img class="unit-input-container-title-img" src="../../assets/h5form/mobile_passward.png" alt="">
        </span>
        <input type="password" :placeholder="$t('personalCenterSecurityCenterReleaseMobile.psw')"
               v-model="psw" @blur="testPsw" class="unit-input">
      </div>
      <div class="unit-input-interval txt-red">
        <span v-if="pswWA!=''">{{pswWA}}</span>
      </div>
      <!--手机号码-->
      <div class="unit-input-container flex" :class="{'wrong-answer':mobileWA!=''}">
        <span class="flex-center unit-input-container-title">
          +86
        </span>
        <input type="number" :placeholder="$t('personalCenterSecurityCenterReleaseMobile.sms')" v-model="mobile"
               @blur="testVerificationCode"
               class="unit-input">
      </div>
      <div class="unit-input-interval txt-red">
        <span v-if="mobileWA!=''">{{mobileWA}}</span>
      </div>
      <!--发送验证码-->
      <div class="unit-input-container flex double-input-container"
           :class="{'wrong-answer':verificationCodeWA!=''}">
        <span class="flex-center unit-input-container-title">
          <img class="unit-input-container-title-img" src="../../assets/h5form/mobile_check.png" alt="">
        </span>
        <input type="text" :placeholder="$t('personalCenterSecurityCenterBindMobile.verificationCode')"
               v-model="verificationCode"
               @blur="testVerificationCode" class="unit-input">
        <div class="cutter-line flex-center">|</div>
        <span class="flex-center identifying-code-button-on" v-if="!getVerificationCode"
              @click="getVerificationCodeFunc">{{$t('personalCenterSecurityCenterBindMobile.send')}}</span>
        <span class="flex-center identifying-code-button-close"
              v-if="getVerificationCode">{{getVerificationCodeCountdown}}</span>
      </div>
      <div class="unit-input-interval txt-red">
        <span v-if="verificationCodeWA!=''">{{verificationCodeWA}}</span>
      </div>
      <!--按钮-->
      <div class="unit-input-container container-button">
        <button @click="commit" class="set-button before-register-button" v-if="!sending">
          {{$t('personalCenterSecurityCenterBindMobile.ensure')}}
        </button>
        <button disabled class="set-button registering-button" v-else>
          {{$t('personalCenterSecurityCenterBindMobile.binding')}}
        </button>
      </div>
    </div>
  </template>

</div>
