<div class="modify-psw-container min-height border_radius">
  <Loading v-if="loading"/>
  <template v-if="!loading && !isMobile">
    <div class="modify-psw-title flex">
      <span></span>
      <span>{{$t('personalCenterSecurityCenterModifyLoginPassword.title')}}</span>
      <!--<span>*为了您的资产安全，重置登录密码修改24h以内不允许提现。</span>-->
    </div>

    <div class="modify-psw-article ">

      <!--原密码 begin-->
      <div class="input-password input-container">
        <div class="detail-center">
          <span class="input-title">{{$t('personalCenterSecurityCenterModifyLoginPassword.oldPsw')}}</span>
          <input type="password" class="input-input" v-model="oldPsw" :class="{'wrong-border':oldPswWA!==''}">
          <span class="input-prompt txt-red" v-if="oldPswWA!==''">{{oldPswWA}}</span>
        </div>
      </div>
      <!--原密码 end-->

      <!--新密码 begin-->
      <div class="phone-number input-container">
        <div class="detail-center">
          <span class="input-title">{{$t('personalCenterSecurityCenterModifyLoginPassword.psw')}}</span>
          <input type="password" class="input-input" v-model="psw" :class="{'wrong-border':pswWA!==''}">
          <span class="input-prompt txt-red" v-if="pswWA!==''">{{pswWA}}</span>
        </div>
      </div>
      <!--新密码 end-->


      <!--重复新密码 begin-->
      <div class="confirm-password input-container">
        <div class="detail-center">
          <span class="input-title">{{$t('personalCenterSecurityCenterModifyLoginPassword.confirmPsw')}}</span>
          <input type="password" class="input-input" v-model="pswConfirm" :class="{'wrong-border':pswConfirmWA!==''}">
          <span class="input-prompt txt-red" v-if="pswConfirmWA!==''">{{pswConfirmWA}}</span>
        </div>
      </div>
      <!--重复新密码 end-->


      <!--暂时不用的验证 begin-->
      <div class="input-container" v-if="showVerificationType">
        <div class="detail-center flex-center verification-type">
          <div class="verification-type-container">
            <input type="radio" id="gaCode" name="verificationType" value="0" v-model="verificationType"
                   class="verification-input">
            <label for="gaCode">{{$t('personalCenterSecurityCenterModifyLoginPassword.ga')}}</label>
          </div>
          <div class="verification-type-container">
            <input type="radio" id="mobile" name="verificationType" value="1" v-model="verificationType"
                   class="verification-input">
            <label for="mobile">{{$t('personalCenterSecurityCenterModifyLoginPassword.sms')}}</label>
          </div>
        </div>
      </div>
      <div class="google-verification input-container" v-if="verificationType==='0'">
        <div class="detail-center ">
          <span class="input-title">{{$t('personalCenterSecurityCenterModifyLoginPassword.gaCode')}}</span>
          <input type="text" class="input-input" v-model="GACode" :class="{'wrong-border':GACodeWA!==''}">
          <span class="input-prompt txt-red" v-if="GACodeWA!==''">{{GACodeWA}}</span>
        </div>
      </div>
      <div class="verification-code input-container double-input-container" v-if="verificationType==='1'">
        <div class="detail-center">
          <span class="input-title">{{$t('personalCenterSecurityCenterModifyLoginPassword.smsCode')}}</span>
          <input type="text" class="input-input" v-model="verificationCode"
                 :class="{'wrong-border':verificationCodeWA!==''}">
          <button class="pointer">{{$t('personalCenterSecurityCenterModifyLoginPassword.sendSmsCode')}}</button>
          <span class="input-prompt txt-red" v-if="verificationCodeWA!==''">{{verificationCodeWA}}</span>
        </div>
      </div>
      <!--暂时不用的验证 end-->


      <!--确定 begin-->
      <div class="ensure input-container">
        <div class="detail-center">
          <button class="pointer btn_blue" @click="commit">
            {{$t('personalCenterSecurityCenterModifyLoginPassword.ensure')}}
          </button>
        </div>
      </div>
      <!--确定 end-->

    </div>
    <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>
  </template>


  <template v-if="!loading && isMobile">
    <div class="unit-title flex-center">
      <span></span>
      <span>{{$t('personalCenterSecurityCenterModifyLoginPassword.title')}}</span>
      <span></span>
    </div>
    <div class="unit-container flex-center">
      <div class="flex unit-input-container container-new-psw" :class="{'wrong-msg':oldPswWA!==''}">
        <span class="flex-center unit-input-container-title">
          <img class="unit-input-container-title-img" src="../../assets/h5form/psw.png" alt="">
        </span>
        <input type="password" :placeholder="$t('personalCenterSecurityCenterModifyLoginPassword.oldPsw')"
               class="unit-input input-new-psw" v-model="oldPsw" @blur="testOldPsw">
      </div>
      <div class="unit-input-interval">
        <span class="input-prompt txt-red" v-if="oldPswWA!==''">{{oldPswWA}}</span>
      </div>

      <div class="flex unit-input-container container-new-psw" :class="{'wrong-msg':pswWA!==''}">
        <span class="flex-center unit-input-container-title">
          <img class="unit-input-container-title-img" src="../../assets/h5form/psw.png" alt="">
        </span>
        <input type="password" :placeholder="$t('personalCenterSecurityCenterModifyLoginPassword.psw')"
               class="unit-input input-new-psw" v-model="psw" @blur="testPswPc">
      </div>
      <div class="unit-input-interval">
        <span class="input-prompt txt-red" v-if="pswWA!==''">{{pswWA}}</span>
      </div>

      <div class="flex unit-input-container container-new-psw" :class="{'wrong-msg':pswConfirmWA!==''}">
        <span class="flex-center unit-input-container-title">
          <img class="unit-input-container-title-img" src="../../assets/h5form/psw.png" alt="">
        </span>
        <input type="password" :placeholder="$t('personalCenterSecurityCenterModifyLoginPassword.confirmPsw')"
               class="unit-input input-new-psw" v-model="pswConfirm" @blur="testPswConfirm">
      </div>
      <div class="unit-input-interval">
        <span class="input-prompt txt-red" v-if="pswConfirmWA!==''">{{pswConfirmWA}}</span>
      </div>

      <div class="input-container" v-if="showVerificationType">
        <!--<div class="input-container">-->
        <div class="detail-center flex-center verification-type">
          <div class="verification-type-container">
            <input type="radio" name="verificationType" value="0" v-model="verificationType" class="verification-input">
            <label for="gaCode">{{$t('personalCenterSecurityCenterModifyLoginPassword.ga')}}</label>
          </div>
          <div class="verification-type-container">
            <input type="radio" name="verificationType" value="1" v-model="verificationType" class="verification-input">
            <label for="mobile">{{$t('personalCenterSecurityCenterModifyLoginPassword.sms')}}</label>
          </div>
        </div>
      </div>

      <!--谷歌验证码-->
      <div class="flex unit-input-container container-ga" v-if="verificationType==='0'"
           :class="{'wrong-msg':GACodeWA!==''}"
      >
        <span class="flex-center unit-input-container-title">
          <img class="unit-input-container-title-img" src="../../assets/h5form/mobile_google.png" alt="">
        </span>
        <input type="text" :placeholder="$t('personalCenterSecurityCenterModifyLoginPassword.gaCode')"
               class="unit-input input-ga" v-model="GACode" @blur="testGACode">
      </div>
      <div class="unit-input-interval" v-if="verificationType==='0'">
        <span v-if="GACodeWA!==''">{{GACodeWA}}</span>
      </div>

      <!--手机验证码-->
      <div class="flex unit-input-container double-input-container" v-if="verificationType==='1'"
           :class="{'wrong-msg':verificationCodeWA!==''}">
        <span class="flex-center unit-input-container-title">
          <img class="unit-input-container-title-img" src="../../assets/h5form/mobile_phone.png" alt="">
        </span>
        <input type="text" :placeholder="$t('personalCenterSecurityCenterModifyLoginPassword.smsCode')"
               v-model="verificationCode"
               @blur="testVerificationCode">
        <div class="cutter-line flex-center">|</div>
        <span class="flex-center" @click="getVerificationCodeFunc" v-if="!getVerificationCode">
          {{$t('personalCenterSecurityCenterModifyLoginPassword.sendSmsCode')}}
        </span>
        <span class="flex-center click-verification" @click="getVerificationCodeFunc" v-else disabled>
          {{getVerificationCodeCountdown}}
        </span>
      </div>
      <div class="unit-input-interval" v-if="verificationType==='1'">
        <span v-if="verificationCodeWA!==''">{{verificationCodeWA}}</span>
      </div>
      <div class="mobile-button-box unit-input-container input-container">
        <button class="set-button" @click="commit" v-if="!sending">
          {{$t('personalCenterSecurityCenterModifyLoginPassword.ensure')}}
        </button>
        <button disabled v-else>{{$t('personalCenterSecurityCenterReleaseMobile.ensure')}}</button>
      </div>


    </div>

  </template>
</div>
