<div class="container">
  <div class="title flex">
    <span></span>
    <span>{{$t('personalCenterSecurityStrategy.title')}}</span>
    <!--<span>*为了您的资产安全，重置登录密码修改24h以内不允许提现。</span>-->
  </div>
  <div class="article">
    <!--登录验证-->
    <div class="article-detail flex">
      <div class="detail-top flex">
        <div class="detail-left">
          <img src="../../assets/密码SecurityStrategy.png" alt="">
        </div>
        <div class="detail-right flex">{{$t('personalCenterSecurityStrategy.login')}}</div>
      </div>
      <div class="detail-button flex">
        <div class="detail-left"></div>
        <div class="detail-right flex">
          <div class="detail-input">
            <input type="radio" name="validate-logon" id="validateLogon1" value="1" v-model="validateLogon">
            <label for="validateLogon1">{{$t('personalCenterSecurityStrategy.login_1')}}</label>
          </div>
          <div class="detail-input">
            <input type="radio" name="validate-logon" id="validateLogon2" value="2" v-model="validateLogon">
            <label for="validateLogon2">{{$t('personalCenterSecurityStrategy.login_2')}}</label>
          </div>
          <div class="detail-input">
            <input type="radio" name="validate-logon" id="validateLogon3" value="3" v-model="validateLogon">
            <label for="validateLogon3">{{$t('personalCenterSecurityStrategy.login_3')}}</label>
          </div>
          <div class="detail-input">
            <input type="radio" name="validate-logon" id="validateLogon4" value="4" v-model="validateLogon">
            <label for="validateLogon4">{{$t('personalCenterSecurityStrategy.login_4')}}</label>
          </div>
        </div>
      </div>
    </div>
    <!--登录密码修改验证-->
    <div class="article-detail flex">
      <div class="detail-top flex">
        <div class="detail-left">
          <img src="../../assets/登录密码修改验证SecurityStrategy.png" alt="">
        </div>
        <div class="detail-right flex">{{$t('personalCenterSecurityStrategy.resetLoginPsw')}}</div>
      </div>
      <div class="detail-button flex">
        <div class="detail-left"></div>
        <div class="detail-right flex">
          <div class="detail-input">
            <input type="radio" name="modify-password" id="modifyPassword1" value="1" v-model="modifyPassword">
            <label for="modifyPassword1">{{$t('personalCenterSecurityStrategy.resetLoginPsw_1')}}</label>
          </div>
          <div class="detail-input">
            <input type="radio" name="modify-password" id="modifyPassword2" value="2" v-model="modifyPassword">
            <label for="modifyPassword2">{{$t('personalCenterSecurityStrategy.resetLoginPsw_2')}}</label>
          </div>
          <div class="detail-input">
            <input type="radio" name="modify-password" id="modifyPassword3" value="3" v-model="modifyPassword">
            <label for="modifyPassword3">{{$t('personalCenterSecurityStrategy.resetLoginPsw_3')}}</label>
          </div>
        </div>
      </div>
    </div>

    <!--资金密码修改-->
    <div class="article-detail flex">
      <div class="detail-top flex">
        <div class="detail-left">
          <img src="../../assets/密码SecurityStrategy.png" alt="">
        </div>
        <div class="detail-right flex">{{$t('personalCenterSecurityStrategy.assetPsw')}}</div>
      </div>
      <div class="detail-button flex">
        <div class="detail-left"></div>
        <div class="detail-right flex">
          <div class="detail-input">
            <input type="radio" name="modifyAssetsPsw" id="modifyAssetsPsw1" value="1" v-model="modifyAssetsPsw">
            <label for="modifyAssetsPsw1">{{$t('personalCenterSecurityStrategy.assetPsw_1')}}</label>
          </div>
          <div class="detail-input">
            <input type="radio" name="modifyAssetsPsw" id="modifyAssetsPsw2" value="2" v-model="modifyAssetsPsw">
            <label for="modifyAssetsPsw2">{{$t('personalCenterSecurityStrategy.assetPsw_2')}}</label>
          </div>
        </div>
      </div>
    </div>

    <!--交易验证-->
    <div class="article-detail flex">
      <div class="detail-top flex">
        <div class="detail-left">
          <img src="../../assets/密码SecurityStrategy.png" alt="">
        </div>
        <div class="detail-right flex">{{$t('personalCenterSecurityStrategy.trade')}}</div>
      </div>
      <div class="detail-button flex">
        <div class="detail-left"></div>
        <div class="detail-right flex">
          <div class="detail-input">
            <input type="radio" name="transactionVerification" id="transactionVerification1" value="1"
                   v-model="transactionVerification">
            <label for="transactionVerification1">{{$t('personalCenterSecurityStrategy.trade_1')}}</label>
          </div>
          <div class="detail-input">
            <input type="radio" name="transactionVerification" id="transactionVerification2" value="2"
                   v-model="transactionVerification">
            <label for="transactionVerification2">{{$t('personalCenterSecurityStrategy.trade_2')}}</label>
          </div>
          <div class="detail-input">
            <input type="radio" name="transactionVerification" id="transactionVerification3" value="3"
                   v-model="transactionVerification">
            <label for="transactionVerification3">{{$t('personalCenterSecurityStrategy.trade_3')}}</label>
          </div>
        </div>
      </div>
    </div>

    <!--提现验证-->
    <div class="article-detail flex">
      <div class="detail-top flex">
        <div class="detail-left">
          <img src="../../assets/密码SecurityStrategy.png" alt="">
        </div>
        <div class="detail-right flex">{{$t('personalCenterSecurityStrategy.withdrawals')}}</div>
      </div>
      <div class="detail-button flex">
        <div class="detail-left"></div>
        <div class="detail-right flex">
          <div class="detail-input">
            <input type="radio" name="withdrawalsVerification" id="withdrawalsVerification1" value="1"
                   v-model="withdrawalsVerification">
            <label for="withdrawalsVerification1">{{$t('personalCenterSecurityStrategy.withdrawals_1')}}</label>
          </div>
          <div class="detail-input">
            <input type="radio" name="withdrawalsVerification" id="withdrawalsVerification2" value="2"
                   v-model="withdrawalsVerification">
            <label for="withdrawalsVerification2">{{$t('personalCenterSecurityStrategy.withdrawals_2')}}</label>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
