<div class="my-super-bee-container border_radius">
  <Loading v-if="superStateLoading"/>
  <template v-if="!superStateLoading">
    <div class="">
      <div class="title flex">
        <span></span>
        <span>
        <!--我的为蜜-->
        {{$t('my_super_bee')}}
      </span>
      </div>

      <div class="article-container">
        <div class="detail-title flex">
          <!--我的为蜜 begin-->
          <div class="title-tab flex-center box_shadow tab-item-first pointer"
               :class="tag===1 ? 'selected text_blue':''"
               @click="changeTag(1)"
          >
            <!--我的为蜜-->
            {{$t('tab_my_super_bee')}}
          </div>
          <!--我的为蜜 end-->

          <!-- 收益记录 begin -->
          <div
            class="title-tab flex-center margin-a-little box_shadow tab-item-last pointer"
            :class="tag===2 ? 'selected text_blue':''"
            @click="changeTag(2)"
          >
            <!--收益记录-->
            {{$t('tab_my_record')}}
          </div>
          <!-- 收益记录 end -->
        </div>
        <div class="article-detail-container">
          <template v-if="tag === 1">
            <ul class="list-container box_shadow border-box">
              <li class="list-title-container flex">
                <!--序号 begin-->
                <div class="number">
                  <!--序号-->
                  {{$t('number')}}
                </div>
                <!--序号 end-->

                <!--为蜜名称 begin-->
                <div class="name">
                  <!--为蜜名称-->
                  {{$t('name')}}
                </div>
                <!--为蜜名称 end-->

                <!--申请为蜜方式 begin-->
                <div class="bee-method">
                  <!--申请为蜜方式-->
                  {{$t('method')}}
                </div>
                <!--申请为蜜方式 end-->

                <!--申请日期 begin-->
                <div class="bee-date">
                  <!--申请日期-->
                  {{$t('date')}}
                </div>
                <!--申请日期 end-->

                <!--推荐币种 begin-->
                <div class="currency">
                  <!--推荐币种-->
                  {{$t('currency')}}
                </div>
                <!--推荐币种 end-->

                <!--推荐上币方式 begin-->
                <div class="currency-method">
                  <!--推荐上币方式-->
                  {{$t('currency_method')}}
                </div>
                <!--推荐上币方式 end-->

                <!--上币日期 begin-->
                <div class="bee-date">
                  <!--上币日期-->
                  {{$t('currency_date')}}
                </div>
                <!--上币日期 end-->

                <!--为蜜状态 begin-->
                <div class="bee-state">
                  <!--为蜜状态-->
                  {{$t('bee_state')}}
                </div>
                <!--为蜜状态 end-->

                <!--交易对状态 begin-->
                <div class="symbol-state">
                  <!--交易对状态-->
                  {{$t('symbol_state')}}
                </div>
                <!--交易对状态 end-->

                <!--&lt;!&ndash;冻结BT begin&ndash;&gt;-->
                <!--<div class="bt-frozen">-->
                <!--冻结BT-->
                <!--</div>-->
                <!--&lt;!&ndash;冻结BT end&ndash;&gt;-->

                <!--&lt;!&ndash;冻结BDB begin&ndash;&gt;-->
                <!--<div class="bdb-frozen">-->
                <!--冻结BDB-->
                <!--</div>-->
                <!--&lt;!&ndash;冻结BDB end&ndash;&gt;-->

                <!--操作 begin-->
                <div class="handle">
                  <!--操作-->
                  {{$t('handle')}}
                </div>
                <!--操作 end-->
              </li>
              <li class="bee-loading-container flex" v-if="myBeeListLoading">
                <Loading/>
              </li>
              <template v-if="!myBeeListLoading">
                <li class="list-detail-container border-top flex"
                    v-if="myBeeListLength>0"
                    v-for="item in myBeeList"
                >
                  <!--序号 begin-->
                  <div class="number">
                    {{item.id}}
                  </div>
                  <!--序号 end-->

                  <!--为蜜名称 begin-->
                  <div class="name">
                    {{item.name}}
                  </div>
                  <!--为蜜名称 end-->

                  <!--申请为蜜方式 begin-->
                  <div class="bee-method">
                    {{item.lockType}}{{item.amount}}
                  </div>
                  <!--申请为蜜方式 end-->

                  <!--申请日期 begin-->
                  <div class="bee-date">
                    {{formatDateUtils(item.createdAt)}}
                  </div>
                  <!--申请日期 end-->

                  <!--推荐币种 begin-->
                  <div class="currency">
                    {{item.currency || '--'}}
                  </div>
                  <!--推荐币种 end-->

                  <!--推荐上币方式 begin-->
                  <div class="currency-method">
                    {{item.recommendType || '--'}}
                  </div>
                  <!--推荐上币方式 end-->

                  <!--上币日期 begin-->
                  <div class="bee-date">
                    {{item.recreatedAt ? formatDateUtils(item.recreatedAt) : '--'}}
                  </div>
                  <!--上币日期 end-->

                  <!--为蜜状态 begin-->
                  <div class="bee-state">
                    {{beeState(item.status)}}
                  </div>
                  <!--为蜜状态 end-->

                  <!--交易对状态 begin-->
                  <div class="symbol-state">
                    {{symbolState(item.symbolStatus)}}
                  </div>
                  <!--交易对状态 end-->

                  <!--&lt;!&ndash;冻结BT begin&ndash;&gt;-->
                  <!--<div class="bt-frozen">-->
                  <!--600万-->
                  <!--</div>-->
                  <!--&lt;!&ndash;冻结BT end&ndash;&gt;-->

                  <!--&lt;!&ndash;冻结BDB begin&ndash;&gt;-->
                  <!--<div class="bdb-frozen">-->
                  <!--30万-->
                  <!--</div>-->
                  <!--&lt;!&ndash;冻结BDB end&ndash;&gt;-->

                  <!--操作 begin-->
                  <div class="handle pointer text_blue"
                       @click="openReleasePopupWindow(item)"
                       v-if="item.status===0"
                  >
                    <!--解锁-->
                    {{$t('unlock')}}
                  </div>
                  <div class="handle"
                       v-else
                  >
                    --
                  </div>
                  <!--操作 end-->
                </li>
                <li v-if="myBeeListLength<=0" class="empty-li flex">
                  <img src="../../assets/personalCenter/empty-icon.png" alt="" class="empty-icon">
                  <span class="empty-prompt">
                  <!--暂无记录-->
                  {{$t('no_record')}}
                </span>
                </li>
              </template>
            </ul>
            <PageBar
              v-if="!myBeeListLoading && myBeeMaxPage>1"
              class="page-bar-container"
              :maxPage="myBeeMaxPage"
              :clickChangePage="clickChangeMyBeePage"
              :selectIndex="myBeeSelectIndex"
            />
          </template>
          <template v-if="tag === 2">
            <ul class="list-container box_shadow border-box">
              <li class="list-title-container flex">
                <!--序号 begin-->
                <div class="number-2">
                  <!--序号-->
                  {{$t('number_2')}}
                </div>
                <!--序号 end-->

                <!--结算周期 begin-->
                <div class="cycle-2">
                  <!--结算周期-->
                  {{$t('cycle_2')}}
                </div>
                <!--结算周期 end-->

                <!--币种 begin-->
                <div class="currency-2">
                  <!--币种-->
                  {{$t('currency_2')}}
                </div>
                <!--币种 end-->

                <!--交易对 begin-->
                <div class="symbol-2">
                  <!--交易对-->
                  {{$t('symbol_2')}}
                </div>
                <!--交易对 end-->

                <!--&lt;!&ndash;交易量 begin&ndash;&gt;-->
                <!--<div class="volume-2">-->
                <!--交易量-->
                <!--</div>-->
                <!--&lt;!&ndash;交易量 end&ndash;&gt;-->

                <!--手续费收入 begin-->
                <div class="fee-2">
                  <!--手续费收入-->
                  {{$t('fee_income_2')}}
                </div>
                <!--手续费收入 end-->

                <!--&lt;!&ndash;为蜜状态 begin&ndash;&gt;-->
                <!--<div class="bee-state-2">-->
                <!--为蜜状态-->
                <!--</div>-->
                <!--&lt;!&ndash;为蜜状态 end&ndash;&gt;-->

                <!--&lt;!&ndash;操作 begin&ndash;&gt;-->
                <!--<div class="handle-2">-->
                <!--操作-->
                <!--</div>-->
                <!--&lt;!&ndash;操作 end&ndash;&gt;-->

              </li>
              <li class="bee-loading-container flex" v-if="myRecordListLoading">
                <Loading/>
              </li>
              <template v-if="!myRecordListLoading">
                <li class="list-detail-container border-top flex"
                    v-if="myRecordListLength>0"
                    v-for="item in myRecordList"
                >
                  <!--序号 begin-->
                  <div class="number-2">
                    {{item.id}}
                  </div>
                  <!--序号 end-->

                  <!--结算周期 begin-->
                  <div class="cycle-2">
                    {{item.month}}
                  </div>
                  <!--结算周期 end-->

                  <!--币种 begin-->
                  <div class="currency-2">
                    {{item.currency}}
                  </div>
                  <!--币种 end-->

                  <!--交易对 begin-->
                  <div class="symbol-2">
                    {{item.symbol}}
                  </div>
                  <!--交易对 end-->

                  <!--&lt;!&ndash;交易量 begin&ndash;&gt;-->
                  <!--<div class="volume-2">-->
                  <!--12345678-->
                  <!--</div>-->
                  <!--&lt;!&ndash;交易量 end&ndash;&gt;-->

                  <!--手续费收入 begin-->
                  <div class="fee-2">
                    <!--{{item.fee}} {{item.currency}}-->
                    {{toFixed(item.fee,8)}} {{item.currency}}
                  </div>
                  <!--手续费收入 end-->

                  <!--&lt;!&ndash;为蜜状态 begin&ndash;&gt;-->
                  <!--<div class="bee-state-2">-->
                  <!--正常-->
                  <!--</div>-->
                  <!--&lt;!&ndash;为蜜状态 end&ndash;&gt;-->

                  <!--&lt;!&ndash;操作 begin&ndash;&gt;-->
                  <!--<div class="handle-2 text_blue pointer">-->
                  <!--下载交易明细-->
                  <!--</div>-->
                  <!--&lt;!&ndash;操作 end&ndash;&gt;-->
                </li>
                <li v-if="myRecordListLength<=0" class="empty-li flex">
                  <img src="../../assets/personalCenter/empty-icon.png" alt="" class="empty-icon">
                  <span class="empty-prompt">
                  <!--暂无记录-->
                  {{$t('no_record')}}
                </span>
                </li>
              </template>
            </ul>
            <PageBar
              v-if="!myRecordListLoading && myRecordMaxPage>1"
              class="page-bar-container"
              :maxPage="myRecordMaxPage"
              :clickChangePage="clickChangeMyRecordPage"
              :selectIndex="myRecordSelectIndex"
            />
          </template>
        </div>
      </div>
    </div>
  </template>

  <PopupWindow :open="releasePopupWindow"
               :close="closeReleasePopupWindow"
  >
    <div slot="header" class="release-bee-header">
      <!--申请解锁为蜜资格-->
      {{$t('apply_release')}}
    </div>
    <div slot="article" class="release-bee-article">
      <!--您正在发起解锁-->
      {{$t('release_description_1')}}
      <span class="text_blue">{{releaseName}}</span>
      <!--的为蜜资格，解锁后，您将不能推荐上币，您被冻结的资产将于明天开始释放，分三次释放完，每次释放比例依次是：20%、40%、40%。是否确定要解锁？-->
      {{$t('release_description_2')}}
    </div>
    <div slot="footer" class="release-bee-footer flex">
      <button class="release-btn btn_cancel  border_radius pointer"
              @click="closeReleasePopupWindow"
      >
        <!--取消-->
        {{$t('cancel')}}
      </button>
      <button class="release-btn btn_confirm btn_blue border_radius pointer"
              @click="confirmReleaseBee"
              v-if="!releaseIng"
      >
        <!--确定-->
        {{$t('confirm')}}
      </button>
      <button class="release-btn btn_confirm btn_blue border_radius pointer"
              v-else>
        <!--解锁中-->
        {{$t('release_ing')}}
      </button>

    </div>
  </PopupWindow>


</div>
