<div class="container">
  <div class="title flex">
    <span></span>
    <span>找回资金密码</span>
    <span>*为了您的资产安全，重置登录密码修改24h以内不允许提现。</span>
  </div>
  <div class="article">
    <div class="input-password input-container">
      <div class="detail-center">
        <span>登录密码:</span>
        <input type="password">
        <span>输入的不对啊</span>
      </div>
    </div>
    <div class="confirm-password input-container">
      <div class="detail-center">
        <span>新资金密码:</span>
        <input type="password">
      </div>
    </div>
    <div class="confirm-password input-container">
      <div class="detail-center">
        <span>重复新密码:</span>
        <input type="password">
        <span>输入的不对啊</span>
      </div>
    </div>
    <div class="verification-code input-container">
      <div class="detail-center">
        <span>短信验证码:</span>
        <input type="text">
        <button>发送验证码</button>
        <span>输入的不对啊</span>
      </div>
    </div>
    <div class="ensure input-container">
      <div class="detail-center">
        <button>确定</button>
      </div>
    </div>
  </div>
</div>
