<div class="mobile-recommend-box">
  <Loading v-if="loading"/>
  <div v-if="!loading">
    <!--顶部banner-->
    <div class="container-banner">
      <img class="container-banner-img" src="" alt="">
      <div class="container-banner-text">{{toFixed(accMul(headerRate,100),0)}}%</div>
    </div>
    <!--我的推荐id和我的推荐链接-->
    <div class="container-recommend-link">
      <div class="container-recommend-link-title">
        <span class="container-recommend-link-title-left">我的推荐ID</span>
        <span class="container-recommend-link-title-right" @click="openQrCodeFlag()">
        <img class="container-recommend-link-title-right-img" src="" alt="">
        推荐二维码
      </span>
      </div>
      <div class="container-recommend-link-id-box">
        <div class="container-recommend-link-id-box-left">
          <div class="container-recommend-link-id">{{userId}}</div>
          <div class="container-recommend-link-id-btn" data-clipboard-target=".container-recommend-link-id" @click="copyUserId">复制</div>
        </div>
        <div class="container-recommend-link-id-box-right" @click="jumpToPoster()">我的专属邀请海报</div>
      </div>
      <div class="container-recommend-link-second-title">我的推荐链接</div>
      <div class="container-recommend-link-address-box">
        <div class="container-recommend-link-address">{{shareUrl}}</div>
        <img class="container-recommend-link-address-btn" src="" @click="openShareFlag()">
      </div>
    </div>
    <!--我的推荐玩家，我的推荐获取币-->
    <div class="container-recommend-reward">
      <div class="container-recommend-reward-person-box">
        <div class="container-recommend-reward-person-num">{{size}}</div>
        <div class="container-recommend-reward-person-info">已推荐朋友（个）</div>
      </div>
      <!--<div class="container-recommend-reward-price-box">-->
        <!--<div class="container-recommend-reward-price-num">{{toFixed(totalPrice,8)}}</div>-->
        <!--<div class="container-recommend-reward-price-info">已获得奖励（BT）</div>-->
      <!--</div>-->
    </div>
    <!--活动细则-->
    <div class="container-recommend-rule">
      <div class="container-recommend-rule-title">
        <div class="container-recommend-rule-title-side"></div>
        <div class="container-recommend-rule-title-center">活动细则</div>
        <div class="container-recommend-rule-title-side"></div>
      </div>
      <ul class="container-recommend-rule-list">
        <li class="container-recommend-rule-list-item">
          1. 邀请人可享受好友上月交易手续费{{toFixed(accMul(headerRate,100),0)}}%的BDB奖励，自注册成功之日生效。<br/>
          举例：如好友2019年1月1日注册成功， 当月交易并产生交易手续费100BDB，则次月邀请人即可获得{{toFixed(accMul(headerRate,100),0)}}枚BDB奖励。
        </li>
        <li class="container-recommend-rule-list-item">
          2. 邀请人当月获得奖励于次月8日由TwentyTwenty统一进行发放。
        </li>
        <li class="container-recommend-rule-list-item">
          3. TwentyTwenty拥有邀请返佣比例调整的权力，如有调整请以TwentyTwenty公告为准。
        </li>
      </ul>
    </div>

    <!--专属推荐二维码弹窗-->
    <div v-if="qrCodeFlag" class="prompt-qrcode">
      <div class="prompt-qrcode-box">
        <div class="prompt-qrcode-box-close-btn-box" @click="closeQrCodeFlag()">
          <img class="prompt-qrcode-box-close-btn" src="" alt="">
        </div>
        <div class="prompt-qrcode-box-title">专属推荐二维码</div>
        <Qrcode class="prompt-qrcode-box-img"
                :size="qrsize"
                :value="value"
                :logo="logo"
                :bgColor="bgColor"
                :fgColor="fgColor"
        >
        </Qrcode>
        <div class="prompt-qrcode-box-info">邀请好友得返利</div>
      </div>
    </div>

    <!--分享到弹窗-->
    <div v-show="shareFlag" class="prompt-share">
      <div class="prompt-share-box">
        <div class="prompt-share-box-title">分享到</div>

        <div class="prompt-share-box-icon-box">
          <a class="prompt-share-box-icon-item" :href="'https://service.weibo.com/share/share.php?url=' + shareConfig.url + '&title=' + shareConfig.title + '&pic=' + shareConfig.image + '&appkey=TwentyTwenty'" target="_blank">
            <img class="prompt-share-box-icon-item-img" src="" alt="">
            <span class="prompt-share-box-icon-item-text">新浪微博</span>
          </a>
          <a class="prompt-share-box-icon-item" :href="'https://www.facebook.com/sharer/sharer.php?u=' + shareConfig.url" target="_blank">
            <img class="prompt-share-box-icon-item-img" src="" alt="">
            <span class="prompt-share-box-icon-item-text">Facebook</span>
          </a>
          <a class="prompt-share-box-icon-item" :href="'https://twitter.com/intent/tweet?text=' + shareConfig.title + '&url=' + shareConfig.url + '&via=' + shareConfig.origin" target="_blank">
            <img class="prompt-share-box-icon-item-img" src="" alt="">
            <span class="prompt-share-box-icon-item-text">Twitter</span>
          </a>
        </div>
        <div class="prompt-share-box-icon-box">
          <div class="prompt-share-box-icon-item prompt-share-box-icon-item-copy" data-clipboard-target=".container-recommend-link-address" @click="copyUserAddress">
            <img class="prompt-share-box-icon-item-img" src="" alt="" target="_blank">
            <span class="prompt-share-box-icon-item-text">复制链接</span>
          </div>
        </div>

        <div class="prompt-share-box-cancel-btn" @click="closeShareFlag()">取消</div>
      </div>
    </div>




  </div>












  <!--弹窗-->
  <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>
</div>





