<div class="popup-prompt-container" v-if="pub_lic">
  <div class="popup-prompt-background"></div>
  <div class="prompt-detail" v-if="pub_lic_if">
    <div class="pop-pub">
      {{$t("title")}}
      <img src="../../assets/弹窗-取消-icon@2x.png" alt="" class="prompt-detail-img" @click="btnCancle">
    </div>

    <div class="pop-pub-ail">

      <!--        </div>-->
      <div v-if="bindMobile && bindGA">
        <!--谷歌验证-->
        <div class="G-pop" @click="open_mob(2)"
             :class="picked == 2?'mob-button-select':''"
        >{{$t("proveGa")}}</div>
        <!--手机验证-->
        <div class="G-pop" @click="open_mob(1)"
             :class="picked ==1?'mob-button-select':''"
        >{{$t("proveMo")}}</div>
      </div>


      <!--手机验证码-->
      <div class="pop-mob-lic" v-if="picked == 1">
        {{$t("identifyingCodeMo")}}
      </div>
      <!--谷歌验证码-->
      <div class="pop-mob-lic" v-if="picked == 2">
        {{$t("identifyingCodeGa")}}
      </div>
      <!--邮箱验证码-->
      <div class="pop-mob-lic" v-if="picked == 3">
        {{$t("email")}}
      </div>

      <div class="H-pop-lic">
        <input class="input-h" type="text" v-model="code">

        <div class="rig-ht">
          <!--获取验证码-->
          <span class="span-h" v-if="!getVerificationCode && picked != 2" @click="click_getVerificationCode">{{$t("get")}}</span>
          <span class="span-h-1" v-if="getVerificationCode && picked != 2">{{getVerificationCodeCountdown}}s</span>
         </div>
      </div>

      <!--手机验证码的错误提示-->
      <div class="H-pop-lic-1" v-if="picked == 1">
        <span v-if="verificationCodeWA!==''" class="txt-red">{{verificationCodeWA}}</span>
      </div>
      <!--谷歌验证码的错误提示-->
      <div class="H-pop-lic-1" v-if="picked == 2">
        <span v-if="GACodeWA!==''" class="txt-red">{{GACodeWA}}</span>
      </div>
      <!--邮箱验证码的错误提示-->
      <div class="H-pop-lic-1" v-if="picked == 3">
        <span v-if="emailVerificationCodeWA!==''" class="txt-red">{{emailVerificationCodeWA}}</span>
      </div>

      <!--操作按钮-->
      <div class="pop-footer">
        <span class="pop-qu" @click="btnCancle">{{$t("cancle")}}</span>
        <button class="pop-qu-2 btn_blue" @click="btnConfirm">{{$t("confirm")}}</button>
      </div>
    </div>
  </div>
</div>

