<div class="ProgressBar-container">


  <div class="progress-bar-main">
    <!--触发价格-->
    <div v-if="isHasModule('triggerPrice')" class="flex flex-between pro-bar-input-box">
      <div class="progress-bar-input-title" :class="{'progress-bar-price-en':lang!='CH'&&lang!='CHT'}">
        <span/>
        <span>触发价</span>
      </div>
      <label :for="'pro-bar-trigger-price'+ orderType" class="progress-bar-price flex-row border_radius"
             :class="{'focus-color-green':inputColor=='triggerPrice'+orderType && !orderType,'focus-color-red':inputColor=='triggerPrice'+orderType && orderType}"
      >
        <input :id="'pro-bar-trigger-price' + orderType" class="txt-small txt-light" type="text" v-model="triggerPrice"
               @focus="changeColor('triggerPrice' + orderType)"
               @blur="changeColor(0)"
               @keyup="keyBoard('pro-bar-trigger-price' + orderType)"
               autocomplete="off"
        >
        <!-- @keyup="keyBoard('pro-bar-price' + orderType)" -->
        <!-- <span class="pro-bar-price-tit txt-small txt-light">{{orderType && $t("progressBar.salePrice") + this.$store.state.symbol.split('_')[1] || $t("progressBar.buyPrice") + this.$store.state.symbol.split('_')[1]}}</span> -->
        <span class="pro-bar-price-tit txt-small txt-light">{{orderType && this.$store.state.symbol.split('_')[1] || this.$store.state.symbol.split('_')[1]}}</span>
        <span class="buy_sall_tips" :class="!orderType ? 'buy' : 'sall'" v-show="inputColor=='triggerPrice'+orderType">
          <em class="arrow"></em>
          {{changeTriggerPrice}}
        </span>
        <!-- <div class="progress_up_down">
          <ul>
            <li @click="plusNum('price')">⌃</li>
            <li @click="reduceNum('price')">⌃</li>
          </ul>
        </div> -->
      </label>
    </div>
    <!--价格-->
    <div v-if="isHasModule('price')" class="flex flex-between pro-bar-input-box">
      <div class="progress-bar-input-title" :class="{'progress-bar-price-en':lang!='CH'&&lang!='CHT'}">
<!--        <span v-if="!orderType">{{$t("BuyingPrice")}}</span>-->
<!--        <span v-if="orderType">{{$t("SellingPrice")}}</span>-->
        <span>价<span style="color: transparent">一</span>格</span>
      </div>
      <label :for="'pro-bar-price'+ orderType" class="progress-bar-price flex-row border_radius"
             :class="{'focus-color-green':inputColor=='price'+orderType && !orderType,'focus-color-red':inputColor=='price'+orderType && orderType}"
      >
        <input :id="'pro-bar-price' + orderType" class="txt-small txt-light" type="text" v-model="price"
               @focus="changeColor('price' + orderType)"
               @blur="changeColor(0)"
               @keyup="keyBoard('pro-bar-price' + orderType)"
               autocomplete="off"
        >
        <!-- @keyup="keyBoard('pro-bar-price' + orderType)" -->
        <!-- <span class="pro-bar-price-tit txt-small txt-light">{{orderType && $t("progressBar.salePrice") + this.$store.state.symbol.split('_')[1] || $t("progressBar.buyPrice") + this.$store.state.symbol.split('_')[1]}}</span> -->
        <span class="pro-bar-price-tit txt-small txt-light">{{orderType && this.$store.state.symbol.split('_')[1] || this.$store.state.symbol.split('_')[1]}}</span>
<!--        TODO:去掉价格显示 小框 -->
<!--        <span class="buy_sall_tips" :class="!orderType ? 'buy' : 'sall'" v-show="inputColor=='price'+orderType">-->
<!--          <em class="arrow"></em>-->
<!--          {{change_price}}-->
<!--        </span>-->

        <!-- <div class="progress_up_down">
          <ul>
            <li @click="plusNum('price')">⌃</li>
            <li @click="reduceNum('price')">⌃</li>
          </ul>
        </div> -->
      </label>
    </div>
    <!--数量-->
    <div class="flex flex-between pro-bar-input-box">
      <div class="progress-bar-input-title" :class="{'progress-bar-price-en':lang!='CH'&&lang!='CHT'}">
<!--        <span v-if="!orderType">{{$t("BuyingVolume")}}</span>-->
<!--        <span v-if="orderType">{{$t("SellingVolume")}}</span>-->
        <span>数<span style="color: transparent">一</span>量</span>
      </div>
      <label :for="'pro-bar-amount' + orderType" class="progress-bar-amount flex-row border_radius"
             :class="{'focus-color-green':inputColor=='amount'+orderType && !orderType,'focus-color-red':inputColor=='amount'+orderType && orderType}"
      >
        <input :id="'pro-bar-amount' + orderType" :ref="'buy_sall_amount_' + orderType" class="txt-small txt-light" type="text" v-model="amount"
               @focus="changeColor('amount' + orderType)"
               @blur="changeColor(0)"
               @keyup="keyBoard('pro-bar-amount' + orderType)"
               autocomplete="off"
        >

        <!--币对-->
        <span class="pro-bar-price-tit txt-small txt-light">{{orderType && this.$store.state.symbol.split('_')[0] || this.$store.state.symbol.split('_')[0]}}
      </span>


      </label>
    </div>


    <div class="body">

      <div class="block" v-if="pendingOrderType == 'limitPrice'">
          <!-- <span class="demonstration">默认</span> -->
          <p :class="orderType ? 'radiusa_red' : 'radiusa_green'" v-if="value>=0" @click="value=0" style="cursor:pointer"></p>
          <p :class="orderType ? 'radiusb_red' : 'radiusb_green'" v-if="value>=25"@click="value=25" style="cursor:pointer"></p>
          <p :class="orderType ? 'radiusc_red' : 'radiusc_green'" v-if="value>=50"@click="value=50" style="cursor:pointer"></p>
          <p :class="orderType ? 'radiusd_red' : 'radiusd_green'" v-if="value>=75"@click="value=75" style="cursor:pointer"></p>
          <el-slider
            v-model="value"
            :class="orderType ? 'el-slider_green' : 'el-slider_red'"
            :marks="marks"
            :format-tooltip="formatTooltip"
            >
          </el-slider>
      </div>

      <div class="block" v-if="pendingOrderType == 'marketPrice'">
        <!-- <span class="demonstration">默认</span> -->
        <p :class="orderType ? 'radiusa_red' : 'radiusa_green'" v-if="value>=0" @click="value=0" style="cursor:pointer"></p>
        <p :class="orderType ? 'radiusb_red' : 'radiusb_green'" v-if="value>=25"@click="value=25" style="cursor:pointer"></p>
        <p :class="orderType ? 'radiusc_red' : 'radiusc_green'" v-if="value>=50"@click="value=50" style="cursor:pointer"></p>
        <p :class="orderType ? 'radiusd_red' : 'radiusd_green'" v-if="value>=75"@click="value=75" style="cursor:pointer"></p>
        <el-slider
          v-model="value"
          :class="orderType ? 'el-slider_green' : 'el-slider_red'"
          :marks="marks"
          :format-tooltip="formatTooltip"
        >
        </el-slider>
      </div>

      <div class="block" v-if="pendingOrderType == 'limitProfitStopLoss'">
        <!-- <span class="demonstration">默认</span> -->
        <p :class="orderType ? 'radiusa_red' : 'radiusa_green'" v-if="value>=0" @click="value=0" style="cursor:pointer"></p>
        <p :class="orderType ? 'radiusb_red' : 'radiusb_green'" v-if="value>=25"@click="value=25" style="cursor:pointer"></p>
        <p :class="orderType ? 'radiusc_red' : 'radiusc_green'" v-if="value>=50"@click="value=50" style="cursor:pointer"></p>
        <p :class="orderType ? 'radiusd_red' : 'radiusd_green'" v-if="value>=75"@click="value=75" style="cursor:pointer"></p>
        <el-slider
          v-model="value"
          :class="orderType ? 'el-slider_green' : 'el-slider_red'"
          :marks="marks"
          :format-tooltip="formatTooltip"
        >
        </el-slider>
      </div>

      <div class="block" v-if="pendingOrderType == 'marketPriceProfitStopLoss'">
        <!-- <span class="demonstration">默认</span> -->
        <p :class="orderType ? 'radiusa_red' : 'radiusa_green'" v-if="value>=0" @click="value=0" style="cursor:pointer"></p>
        <p :class="orderType ? 'radiusb_red' : 'radiusb_green'" v-if="value>=25"@click="value=25" style="cursor:pointer"></p>
        <p :class="orderType ? 'radiusc_red' : 'radiusc_green'" v-if="value>=50"@click="value=50" style="cursor:pointer"></p>
        <p :class="orderType ? 'radiusd_red' : 'radiusd_green'" v-if="value>=75"@click="value=75" style="cursor:pointer"></p>
        <el-slider
          v-model="value"
          :class="orderType ? 'el-slider_green' : 'el-slider_red'"
          :marks="marks"
          :format-tooltip="formatTooltip"
        >
        </el-slider>
      </div>

    </div>



    <!--保证金-->
    <div class="progress-security-deposit-box flex-between">
      <div v-if="isHasModule('securityDeposit')" class="security-deposit flex-between">
<!--        orderType-->
        <div v-if="!orderType" class="security-deposit-text border-dashed"
             @mouseenter="openPositionBox('security-deposit-block')"
             @mouseleave="closePositionBox('security-deposit-block')"
        >保证金</div>
        <div v-if="orderType" class="security-deposit-text border-dashed"
             @mouseenter="openPositionBox('security-deposit-block-buy')"
             @mouseleave="closePositionBox('security-deposit-block-buy')"
        >保证金</div>
<!--        <span class="security-deposit-text border-dashed">保证金</span>-->
<!--        <div class="security-deposit-amount">{{securityDeposit}} USDT</div>-->
        <div class="security-deposit-amount" v-if="!orderType">{{securityDeposit}} USDT</div>
        <div class="security-deposit-amount" v-if="orderType">{{securityDeposit}} USDT</div>
      </div>


      <div class="can-be-opened flex-between">
        <span v-if="isHasModule('kaipingType') == 1" class="security-deposit-text">可开</span>
        <span v-if="isHasModule('kaipingType') == 2" class="security-deposit-text">可平</span>
        <span class="security-deposit-amount" v-if="isHasModule('kaipingType') == 1 && positionModeFirst == 'doubleWarehouseMode'">{{orderType ? toFixed(canBeOpened,3):toFixed(canBeOpened,3)}} BTC</span>
        <span class="security-deposit-amount" v-if="isHasModule('kaipingType') == 1 && positionModeFirst == 'singleWarehouseMode'">{{orderType ? toFixed(canMore,3):toFixed(canMore,3)}} BTC</span>
        <span class="security-deposit-amount" v-if="isHasModule('kaipingType') == 2">{{orderType ? Math.abs(positionAmtLong) : Math.abs(positionAmtShort)}} BTC</span>
      </div>
    </div>


    <!--    sss 屏蔽-->
    <!--交易按钮 begin-->
    <div class="progress-bar-btn-wrap">
<!--      @click="tradeMarket(true,orderType)" :class="btn_click ? 'progress-bar-active' : ''"-->
      <!--单仓  限价  市价 postOrdersCreate-->
      <div class="progress-bar-btn txt-nomal border_radius" @click="openSplicedFrame(orderType && '卖出/做空'  || '买入/做多','postOrdersCreate')"
           :class="orderType?'progress-bar-redbtn btn_red_box_shadow':'progress-bar-greenbtn btn_green_box_shadow'"
           v-if="$store.state.authState.userId  && isHasModule('buttonType') == 1 && (pendingOrderType == 'limitPrice' || pendingOrderType == 'marketPrice')">
        {{orderType && '卖出/做空'  || '买入/做多' }}
      </div>

      <!--单仓  限价止盈止损  市价止盈止损 postFullStop-->
      <div class="progress-bar-btn txt-nomal border_radius" @click="openSplicedFrame(orderType && '卖出/做空'  || '买入/做多' ,'postFullStop')"
           :class="orderType?'progress-bar-redbtn btn_red_box_shadow':'progress-bar-greenbtn btn_green_box_shadow'"
           v-if="$store.state.authState.userId && isHasModule('buttonType') == 1 && (pendingOrderType == 'limitProfitStopLoss' || pendingOrderType == 'marketPriceProfitStopLoss')">
        {{orderType && '卖出/做空'  || '买入/做多' }}
      </div>

      <!--双仓 开仓  限价  市价 postOrdersCreate-->
      <div class="progress-bar-btn txt-nomal border_radius" @click="openSplicedFrame(orderType && '开空' || '开多','postOrdersCreate')"
           :class="orderType?'progress-bar-redbtn btn_red_box_shadow':'progress-bar-greenbtn btn_green_box_shadow'"
           v-if="$store.state.authState.userId  && isHasModule('buttonType') == 2 && (pendingOrderType == 'limitPrice' || pendingOrderType == 'marketPrice')">
        {{orderType && '开空' || '开多'}}
      </div>

      <!--双仓 开仓  限价止盈止损  市价止盈止损 postFullStop-->
      <div class="progress-bar-btn txt-nomal border_radius" @click="openSplicedFrame(orderType && '开空' || '开多','postFullStop')"
           :class="orderType?'progress-bar-redbtn btn_red_box_shadow':'progress-bar-greenbtn btn_green_box_shadow'"
           v-if="$store.state.authState.userId && isHasModule('buttonType') == 2 && (pendingOrderType == 'limitProfitStopLoss' || pendingOrderType == 'marketPriceProfitStopLoss')">
        {{orderType && '开空' || '开多'}}
      </div>

      <!--双仓 平仓  限价  市价 postOrdersPosition-->
      <div class="progress-bar-btn txt-nomal border_radius" @click="openSplicedFrame(orderType && '平多' || '平空','postOrdersPosition')"
           :class="orderType?'progress-bar-redbtn btn_red_box_shadow':'progress-bar-greenbtn btn_green_box_shadow'"
           v-if="$store.state.authState.userId && isHasModule('buttonType') == 3 && (pendingOrderType == 'limitPrice' || pendingOrderType == 'marketPrice')">
        {{orderType && '平多' || '平空'}}
      </div>


      <!--双仓 平仓  限价止盈止损  市价止盈止损 postFullStop-->
      <div class="progress-bar-btn txtvalue-nomal border_radius" @click="openSplicedFrame(orderType && '平多' || '平空','postFullStop')"
           :class="orderType?'progress-bar-redbtn btn_red_box_shadow':'progress-bar-greenbtn btn_green_box_shadow'"
           v-if="$store.state.authState.userId && isHasModule('buttonType') == 3 && (pendingOrderType == 'limitProfitStopLoss' || pendingOrderType == 'marketPriceProfitStopLoss')">
        {{orderType && '平多' || '平空'}}
      </div>

      <div :class="orderType?'security-deposit-block':'security-deposit-block-buy'">仓位占用的保证金。</div>
      <!--<div class="progress-bar-btn progress-bar-nologin-btn ptxt-nomal"-->
           <!--v-if="$store.state.authMessage.userId && (!symbol_transaction || !symbol_transaction_diy)">-->
        <!--{{$t('progressBar.unavailable')}}-->
      <!--</div>-->

      <div class="progress-bar-btn progress-bar-nologin-btn ptxt-nomal" v-if="!$store.state.authState.userId">
        <span style="cursor: pointer" class="text_blue" @click="goLogin">{{$t("progressBar.login")}}</span> 或 <span
        class="text_blue" style="cursor: pointer" @click="goRegister">{{$t("progressBar.register")}}</span>
      </div>
    </div>


  </div>


  <PopupPrompt :popType="popType" :popText="popText" :popOpen="promptOpen" :popClose="closePrompt"></PopupPrompt>
  <!-- 提示信息 end -->


  <!-- 账号存在异常 begin -->
  <PopupWindow :switch="popWindowOpen" v-on:close="popWindowClose">
    <div slot="header" class="=">
      {{$t('progressBar.popWindowTitle_0')}}
    </div>
    <div slot="article">
      <p>{{$t('progressBar.popWindowArticle_0')}}</p>
      <p>{{$t('progressBar.popWindowArticle_1')}}</p>
      <p>{{$t('progressBar.popWindowArticle_2')}}</p>
    </div>
    <div slot="footer" class="pop-footer flex">
      <button class="button-base button-pop-window btn_blue" @click="goToCustomerService">
        {{$t('progressBar.popWindowButton_0')}}
      </button>
      <button class="button-base button-pop-window btn_simple" @click="popWindowClose">
        {{$t('progressBar.popWindowButton_1')}}
      </button>
    </div>

  </PopupWindow>

  <PopupWindow :switch="popWindowOpen1" v-on:close="popWindowClose1">
    <div slot="header" class="pop-header">
      风险提示
    </div>
    <div slot="article" class="pop-article">
      <p>{{priceCont}}</p >
    </div>
    <div slot="footer" class="pop-footer flex">
      <button class="button-base button-pop-window btn_blue" @click="popIdenComfirms()">
        确定
      </button>
      <button class="button-base button-pop-window btn_simple" @click="popWindowClose1">
        取消
      </button>
    </div>

  </PopupWindow>

<!--  下单弹框-->
  <PopupWindow :switch="showSplicedFrame" v-on:close="closeFrame">
    <div slot="header" class="pop-header">
      提示
    </div>
    <div slot="article" class="pop-article">
      <p>{{splicedFrameText}}</p >
    </div>
    <div slot="footer" class="pop-footer flex">
      <button class="button-base button-pop-window btn_simple" @click="closeFrame()">
        取消
      </button>
      <button class="button-base button-pop-window btn_blue" @click="confirmFrame()">
        确定
      </button>
    </div>

  </PopupWindow>


  <Loading v-if="loading" class="loadingProgressBar" style="width: 15%; height: 6%; top: 75%"/>
</div>
