<div class="container">
  <div class="container-title flex">
      <!--    充值记录打开-->
        <router-link to="/index/asset/record/rechargeRecord" class="title-tab flex-center template-close"
                     active-class="selected">
          {{$t('assetPage.rechargeRecord')}}
        </router-link>
        <!--      充值记录 关闭-->

        <!--提现记录打开 begin-->
        <router-link to="/index/asset/record/withdrawalsRecord" class="title-tab flex-center margin-a-little"
                     :class="lang!='CH'?'title-tab-en':''"
                     active-class="selected text_blue">{{$t('assetPage.withdrawalRecord')}}
        </router-link>
        <!--提现记录打开 end-->

        <!--划转记录 暂时屏蔽 begin-->
        <router-link to="/index/asset/record/transferRecords" class="title-tab flex-center margin-a-little"
                     :class="lang!='CH'?'title-tab-en':''"
                     active-class="selected text_blue">
          <!--        划转记录-->
          <!--        Transfer record-->
          {{$t('assetPage.transferRecord')}}
        </router-link>
        <!--划转记录 end-->

        <!--转账记录 begin-->
        <router-link to="/index/asset/record/transferRecord" class="title-tab flex-center margin-a-little"
                     :class="lang!='CH'?'title-tab-en':''"
                     active-class="selected text_blue">
          <!--        转账记录-->
          <!--        Transfer record-->
          {{$t('assetPage.transferRecords')}}
        </router-link>
        <!--转账记录 end-->

<!--        &lt;!&ndash;    锁仓记录 begin&ndash;&gt;-->
<!--        <router-link to="/index/asset/record/lockingRecord" class="title-tab flex-center margin-a-little"-->
<!--                     :class="lang!='CH'?'title-tab-en':''"-->
<!--                     active-class="selected text_blue">-->
<!--          &lt;!&ndash;        锁仓记录&ndash;&gt;-->
<!--          &lt;!&ndash;        Transfer record&ndash;&gt;-->
<!--          {{$t('assetPage.lockingRecord')}}-->
<!--        </router-link>-->
        <!--    锁仓记录 end-->

        <!-- 挖矿奖励 begin -->
        <router-link :to="{name:'miningReward'}" class="title-tab flex-center margin-a-little tab-item-last"
                     :class="lang!='CH'?'title-tab-en':''"
                     active-class="selected text_blue">
          {{$t('assetPage.miningReward')}}
        </router-link>
        <!-- 挖矿奖励 end -->

        <!-- 平台奖励 begin -->
        <router-link :to="{name:'platformReward'}" class="title-tab flex-center margin-a-little tab-item-last"
                     :class="lang!='CH'?'title-tab-en':''"
                     active-class="selected text_blue">
          {{$t('assetPage.platformReward')}}
        </router-link>
        <!-- 平台奖励 end -->

        <!-- 平台奖励 begin -->
        <router-link :to="{name:'fundAward'}" class="title-tab flex-center margin-a-little tab-item-last"
                     :class="lang!='CH'?'title-tab-en':''"
                     active-class="selected text_blue">
          {{$t('assetPage.fundManagement')}}
        </router-link>
        <!-- 平台奖励 end -->


    </div>

  <div class="detail-container">
    <router-view></router-view>
  </div>
</div>
