<div class="ResetPsw-container">
  <Loading v-if="loading"/>
  <!--topbar pc begin-->
  <RegisterTopBar v-if="!loading && !isMobile" type=2 :title='$t("resetPsw")' :warningText='$t("info")'/>
  <!--topbar pc end-->
  <template v-if="!loading && !isMobile">
    <div class="all-container border_radius">
      <!--标题-->
      <!--<div class="unit-title flex-center">-->
        <!--<span class="unit-title-line"></span>-->
        <!--<span class="unit-title-text">{{$t("resetPsw")}}</span>-->
        <!--<span class="unit-title-line"></span>-->
      <!--</div>-->

      <div class="unit-container flex-center">
        <!--输入新密码-->
        <div class="flex-colum unit-input-container-pc container-new-psw"
             :class="{'wrong-msg':pswWA!==''}"
        >

        <!--<span class="flex-center unit-input-container-title">-->
          <!--&lt;!&ndash;<img src="" alt="">&ndash;&gt;-->
          <!--<span class="input-icon psw-icon"></span>-->
        <!--</span>-->
          <div class="placeholder-title-box">
            <div v-show="(!pswPlaceholderShow || psw !='')" class="placeholder-title">{{$t("signNewPsw")}}</div>
          </div>

          <input type="password" :placeholder='pswPlaceholderShow && $t("signNewPsw") || ""' class="unit-input input-new-psw"
                 v-model="psw" @focus="closePlaceholder('psw')" @blur="testPsw">
        </div>

        <div class="unit-input-interval txt-red">
          <span v-if="pswWA!==''">{{pswWA}}</span>
        </div>

        <!--确认密码-->
        <div class="flex-colum unit-input-container-pc container-confirm"
             :class="{'wrong-msg':pswConfirmWA!==''}"
        >
        <!--<span class="flex-center unit-input-container-title">-->
        <!--&lt;!&ndash;<img src="" alt="">&ndash;&gt;-->
          <!--<span class="input-icon psw-icon"></span>-->
        <!--</span>-->
          <div class="placeholder-title-box">
            <div v-show="(!pswConfirmPlaceholderShow || pswConfirm !='')" class="placeholder-title">{{$t("confirmNewPsw")}}</div>
          </div>

          <input type="password" :placeholder='pswConfirmPlaceholderShow && $t("confirmNewPsw") || ""'
                 class="unit-input input-confirm" v-model="pswConfirm" @focus="closePlaceholder('pswConfirm')"
                 @blur="testPswConfirm">
        </div>
        <div class="unit-input-interval txt-red">
          <span v-if="pswConfirmWA!==''">{{pswConfirmWA}}</span>
        </div>

        <!--选择-->
        <!--<div class="flex unit-input-container-pc pick-one-type" v-if="showPicker">-->


          <!--&lt;!&ndash;谷歌验证 begin&ndash;&gt;-->
          <!--<div>-->
            <!--<input type="radio" name="identify-type" id="ga" value="bindGA" v-model="picked">-->
            <!--<label-->
              <!--for="ga">{{$t("proveGa")}}-->
            <!--</label>-->
          <!--</div>-->
          <!--&lt;!&ndash;谷歌验证 end&ndash;&gt;-->


          <!--&lt;!&ndash;邮箱验证 begin&ndash;&gt;-->
          <!--<div v-if="loginType ===0">-->
            <!--<input type="radio" name="identify-type" id="bindEmail" value="bindEmail" v-model="picked">-->
            <!--<label for="bindEmail">-->
              <!--&lt;!&ndash;邮箱验证&ndash;&gt;-->
              <!--{{$t('emailVerify')}}-->
            <!--</label>-->
          <!--</div>-->
          <!--&lt;!&ndash;邮箱验证 end&ndash;&gt;-->


          <!--&lt;!&ndash;手机验证 begin&ndash;&gt;-->
          <!--<div v-if="loginType ===1">-->
            <!--<input type="radio" name="identify-type" id="bindMobile" value="bindMobile" v-model="picked">-->
            <!--<label for="bindMobile">-->
              <!--{{$t("proveMo")}}-->
            <!--</label>-->
          <!--</div>-->
          <!--&lt;!&ndash;手机验证 end&ndash;&gt;-->


        <!--</div>-->

        <!--谷歌验证码-->
        <!--<template v-if="picked==='bindGA'">-->
          <!--<div class="flex unit-input-container-pc container-ga"-->
               <!--:class="{'wrong-msg':GACodeWA!==''}"-->
          <!--&gt;-->
        <!--&lt;!&ndash;<span class="flex-center unit-input-container-title">&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<img src="../../assets/谷歌验证码.png" alt="">&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="input-icon ga-icon"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
            <!--<input type="text" :placeholder='$t("identifyingCodeGa")' class="unit-input input-ga"-->
                   <!--v-model="GACode" @blur="testGACode">-->
          <!--</div>-->
          <!--<div class="unit-input-interval txt-red">-->
            <!--<span v-if="GACodeWA!==''">{{GACodeWA}}</span>-->
          <!--</div>-->
        <!--</template>-->

        <!--手机验证码-->
        <!--<template v-if="picked==='bindMobile'">-->
          <!--<div class="flex unit-input-container-pc double-input-container"-->
               <!--:class="{'wrong-msg':verificationCodeWA!==''}"-->
          <!--&gt;-->
        <!--&lt;!&ndash;<span class="flex-center unit-input-container-title">&ndash;&gt;-->
          <!--&lt;!&ndash;&lt;!&ndash;<img src="../../assets/手机.png" alt="">&ndash;&gt;&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="input-icon mobile-icon"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
            <!--<span/>-->
            <!--<input type="text" :placeholder='$t("identifyingCodeMo")'-->
                   <!--class="unit-input input-mobile" v-model="verificationCode"-->
                   <!--@blur="testVerificationCode">-->
            <!--<span class="flex-center" v-if="!getVerificationCode" @click="click_getVerificationCode">{{$t("achieve")}}</span>-->
            <!--<span class="flex-center identifying-code-button-close"-->
                  <!--v-if="getVerificationCode">{{getVerificationCodeCountdown}}</span>-->
          <!--</div>-->
          <!--<div class="unit-input-interval txt-red">-->
            <!--<span v-if="verificationCodeWA!==''">{{verificationCodeWA}}</span>-->
          <!--</div>-->
        <!--</template>-->

        <!--邮箱验证码-->
        <!--<template v-if="picked==='bindEmail'">-->
          <!--<div class="flex unit-input-container-pc double-input-container"-->
               <!--:class="{'wrong-msg':emailVerificationCodeWA!==''}"-->
          <!--&gt;-->
        <!--&lt;!&ndash;<span class="flex-center unit-input-container-title">&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="input-icon email-icon"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
            <!--<span/>-->
            <!--<input type="text" :placeholder="$t('emailVerificationCode')"-->
                   <!--class="unit-input input-mobile" v-model="emailVerificationCode"-->
                   <!--@blur="testEmailVerificationCode">-->
            <!--<span class="flex-center btn_blue_ss" v-if="!getEmailVerificationCode" @click="click_getEmailVerificationCode">{{$t("achieve")}}</span>-->
            <!--<span class="flex-center identifying-code-button-close"-->
                  <!--v-if="getEmailVerificationCode">{{getEmailVerificationCodeCountdown}}</span>-->
          <!--</div>-->
          <!--<div class="unit-input-interval txt-red">-->
            <!--<span v-if="emailVerificationCodeWA!==''">{{emailVerificationCodeWA}}</span>-->
          <!--</div>-->
        <!--</template>-->

        <!--确定-->
        <div class="unit-input-container container-button">
          <button class="set-button set-button-margin btn_blue" v-if="!sending" @click="click_send">
            {{$t("confirm")}}
          </button>
          <button class="set-button set-button-margin set-ing-button" v-if="sending" disabled>{{$t("changing")}}</button>
        </div>

      </div>
    </div>

    <!--PC二次验证专用弹窗-->
    <!--第一步通过手机找回-->
    <PopPublic v-if="loginType === 0 && verificationOpen && bindEmail"
               :bindEmail="bindEmail"
               :popClose="closePopPublic"
               :popConfrim="confrimPopPublic"
               :popGetCode="click_getEmailVerificationCode"
               :emailVerificationCodeWA="emailVerificationCodeWA"
               :loading="loading"
    />
    <!--第一步通过邮箱找回-->
    <PopPublic v-if="loginType === 1 && verificationOpen && (bindGA || bindMobile)"
               :bindGA="bindGA"
               :bindMobile="bindMobile"
               :popClose="closePopPublic"
               :popConfrim="confrimPopPublic"
               :popGetCode="click_getVerificationCode"
               :GACodeWA="GACodeWA"
               :verificationCodeWA="verificationCodeWA"
               :loading="loading"
    />

  </template>

  <template v-if="!loading && isMobile">
    <div class="unit-container flex-center">
      <!--输入新密码-->
      <div class="flex unit-input-container container-new-psw" :class="newPswFocus===true?'unit-input-container-activity':''">
        <!--<span class="flex-center unit-input-container-title">-->
          <!--<img class="unit-input-container-title-img-password" src="../../assets/mobile_img/mobile_input_icon/password_icon.png" alt="">-->
        <!--</span>-->

        <input type="password" placeholder='请输入密码' class="unit-input input-new-psw" v-model="psw" @blur="testPsw" @focus="focusPsw">
      </div>

      <div v-if="pswWA!==''" class="unit-input-interval text_blue">
        <span>{{pswWA}}</span>
      </div>

      <!--确认密码-->
      <div class="flex unit-input-container container-confirm" :class="newConfirmPswFocus===true?'unit-input-container-activity':''">
        <!--<span class="flex-center unit-input-container-title">-->
          <!--<img class="unit-input-container-title-img-confirm-password" src="../../assets/mobile_img/mobile_input_icon/confirm_password_icon.png" alt="">-->
        <!--</span>-->
        <input type="password" placeholder='请再次确认密码' class="unit-input input-confirm"
               v-model="pswConfirm" @blur="testPswConfirm" @focus="focusPswConfirm">
      </div>
      <div v-if="pswConfirmWA!==''" class="unit-input-interval text_blue">
        <span>{{pswConfirmWA}}</span>
      </div>

      <!--选择-->
      <div class="flex unit-select-container pick-one-type" v-if="showPicker">
        <div class="select-type-item">
          <MobileCheckbox :agreement="picked === 'bindGA'" :changeAgreement='changeSelectItemGa'></MobileCheckbox>
          <span @click="changeSelectItemGa">谷歌验证</span>
        </div>
        <div class="select-type-item" v-if="loginType === 0">
          <MobileCheckbox :agreement="picked === 'bindEmail'" :changeAgreement='changeSelectItemEmail'></MobileCheckbox>
          <span @click="changeSelectItemEmail">邮箱验证</span>
        </div>
        <div class="select-type-item" v-if="loginType === 1">
          <MobileCheckbox :agreement="picked === 'bindMobile'" :changeAgreement='changeSelectItemMobile'></MobileCheckbox>
          <span @click="changeSelectItemMobile">手机验证</span>
        </div>
      </div>
      <!--<div class="unit-input-interval"></div>-->

      <!--谷歌验证码-->
      <div class="flex unit-input-container container-ga unit-input-container-verify" v-if="picked==='bindGA'" :class="gaCodeFocus===true?'unit-input-container-activity':''">
        <!--<span class="flex-center unit-input-container-title">-->
          <!--<img class="unit-input-container-title-img-google" src="../../assets/mobile_img/mobile_input_icon/google_icon.png" alt="">-->
        <!--</span>-->
        <input type="text" :placeholder='$t("identifyingCodeGa")' class="unit-input input-ga"
               v-model="GACode" @blur="testGACode" @focus="focusGACode">
      </div>
      <div class="unit-input-interval" v-if="picked==='bindGA' && GACodeWA!==''">
        <span>{{GACodeWA}}</span>
      </div>

      <!--手机验证码-->
      <div class="flex unit-input-container double-input-container unit-input-container-verify" v-if="picked==='bindMobile'" :class="verificationFocus===true?'unit-input-container-activity':''">
        <!--<span class="flex-center unit-input-container-title">-->
          <!--<img class="unit-input-container-title-img-mobile" src="../../assets/mobile_img/mobile_input_icon/mobile_icon.png" alt="">-->
        <!--</span>-->
        <span/>
        <input type="text" :placeholder='$t("identifyingCodeMo")' class="unit-input input-mobile"
               v-model="verificationCode"
               @blur="testVerificationCode" @focus="focusVerificationCode">
        <div class="cutter-line flex-center">|</div>
        <span class="flex-center identifying-code-button-on" v-if="!getVerificationCode"
              @click="click_getVerificationCode">获取验证码</span>
        <span class="flex-center identifying-code-button-close"
              v-if="getVerificationCode">{{getVerificationCodeCountdown}}</span>
      </div>
      <div class="unit-input-interval" v-if="picked==='bindMobile' && verificationCodeWA!==''">
        <span>{{verificationCodeWA}}</span>
      </div>

      <!--邮箱验证码-->
      <div class="flex unit-input-container double-input-container unit-input-container-verify" v-if="picked==='bindEmail'" :class="emailVerificationFocus===true?'unit-input-container-activity':''">
        <!--<span class="flex-center unit-input-container-title">-->
          <!--<img class="unit-input-container-title-img-mail" src="../../assets/mobile_img/mobile_input_icon/email_icon.png" alt="">-->
        <!--</span>-->
        <span/>
        <input type="text" placeholder='邮箱验证码' class="unit-input input-mobile"
               v-model="emailVerificationCode"
               @blur="testEmailVerificationCode" @focus="focusEmailVerificationCode">
        <div class="cutter-line flex-center">|</div>
        <span class="flex-center identifying-code-button-on" v-if="!getEmailVerificationCode" @click="click_getEmailVerificationCode">获取验证码</span>
        <span class="flex-center identifying-code-button-close"
              v-if="getEmailVerificationCode">{{getEmailVerificationCodeCountdown}}</span>
      </div>
      <div class="unit-input-interval" v-if="picked==='bindEmail' && emailVerificationCodeWA!==''">
        <span>{{emailVerificationCodeWA}}</span>
      </div>


      <!--确定-->
      <div class="unit-btn-container container-button">
        <button class="set-button" v-if="!sending" @click="click_send">{{$t("confirm")}}</button>
        <button class="set-button" v-if="sending" disabled>{{$t("changing")}}</button>
      </div>
    </div>

  </template>
</div>
