<div class="StockCrossItems-container" :style="excuteStye(transactionType,type)">

    <ul :class="(transactionType == 3)?'flex-colum1':'flex-colum'"
        :style="excuteStye(transactionType,type)"
    >
        <li class="flex-row"
            v-for="(item,index) in depth_list"
            :class="transactionType?(item.is_select ? 'StockCrossItems-li1 is_select' : 'StockCrossItems-li1'):(item.is_select ? 'StockCrossItems-li2 is_select' : 'StockCrossItems-li2')"
            >
            <!-- <div class="stockcrossitem-type">{{transactionType&&'买'||'卖'}}{{index + 1}}</div> -->
            <div class="stockcrossitem-price" @click="updatePrice(transactionType, formatnumber(item.price,quoteScale))">

                <!--<span v-if="transactionType"  :style="item.is_select ? 'color: #76A9F1' : highPrice(list, item, index)?'color:#08D0AC':''">{{item.price == '-' ? '-' : $globalFunc.accFixed(item.price,quoteScale)}}</span>-->
                <!--<span v-if="!transactionType" :style="item.is_select ? 'color: #76A9F1' : highPrice(list, item, index)?'color: #EF5656':''">{{item.price == '-' ? '-' : $globalFunc.accFixed(item.price,quoteScale)}}</span>-->

                <span v-if="transactionType"  :style="item.is_select ? 'color: #76A9F1' : ''?'color:#08D0AC':''">{{item.price == '-' ? '-' : $globalFunc.accFixed(item.price,quoteScale)}}</span>
                <span v-if="!transactionType" :style="item.is_select ? 'color: #76A9F1' : ''?'color: #EF5656':''">{{item.price == '-' ? '-' : $globalFunc.accFixed(item.price,quoteScale)}}</span>

            </div>
            <span class="amount_volume" @click="updateAmount(transactionType, index, formatnumber(item.price, quoteScale), formatnumber(item.amount, baseScale), baseScale)">
                <div class="stockcrossitem-amount">{{item.amount == '-' ? '-' : $globalFunc.accFixed(item.amount,baseScale)}}</div>
                <div class="stockcrossitem-volum">{{item.perAmount == '-' ? '-' : $globalFunc.accFixed(item.perAmount,baseScale)}}</div>
            </span>

            <!--<div class="stockcrossitem-shadow"//原来的深度计算方法-->
                 <!--:style="[{width:(transactionType ? (item.amount/deep.buy_deeps > 100 ? 100 : item.amount/deep.buy_deeps) : (item.amount/deep.sall_deeps > 100 ? 100 : item.amount/deep.sall_deeps)) +'%'},{'background-color':transactionType?'#edf9ea':'#ffeeed'}]"></div>-->
            <div v-show="dMaxTotalAmount > 0.0001" class="stockcrossitem-shadow"
                 :style="[{width:((item.perAmount * 100 / dMaxTotalAmount) || 0) +'%'},{'background-color':transactionType?'#08D0AC':'#EF5656'}]"></div>
            <!--<span class="show_tips" :class="{'show': index == show_key}">{{change_price}}-->
              <!--<font></font>-->
            <!--</span>-->
        </li>
    </ul>
</div>
