<!--cc 兑换茶币页面-->
<div class="TeaCoinActivities">

<!--    cc 版心-->
    <div class="tae_coin_activities_body">
<!--      cc  title-->
      <div class="tea_coin_title">茶叁茶源（剩余：0）</div>
<!--      cc  contain -->
      <div class="tae_coin_activities_contain flex">
        <!--      cc 版心居左-->
        <div class="tae_coin_activities_body-left">
<!--      cc  申请表格-->
          <div class="tae_coin_form">
            <p>申请表格</p>
            <ul>
              <li>
                <p>电子邮件：</p>
                <input type="text" class="">
              </li>
              <li>
                <p>配套：</p>
                <input type="text" class="">
              </li>
              <li>
                <p>邀请人邮箱：</p>
                <input type="text" class="">
              </li>
            </ul>
          </div>
          <div class="tae_coin_data">
<!--           cc 所需数据-->
            <div class="tae_coin_data_left float_left">
              <p>所需数据：</p>
             <div class="tea_tea_coin">
               <span class="tea_coin">GRC:</span>
               <span>60000.0000</span>
             </div>

              <div class="tea_tea_coin1">
                <span class="tea_coin">WCG:</span>
                <span>60000.0000</span>
              </div>
            </div>
<!--            cc 账号余额-->
            <div class="tae_coin_data_left float_left">
              <p>账号余额：</p>
              <div class="tea_tea_coin">
                <span class="tea_coin">GRC:</span>
                <span>60000.0000</span>
              </div>
              <div class="tea_tea_coin1">
                <span class="tea_coin">WCG:</span>
                <span>60000.0000</span>
              </div>
            </div>
          </div>
<!--         cc 按钮-->
          <bottom class="exchange">兑换</bottom>
        </div>


        <!--      cc 版心居右-->
        <div class="tae_coin_activities_body-right">
          <!--      cc  申请表格-->
          <div class="tae_coin_right_form">
            <p>兑换记录</p>
            <div class="tae_coin_right_form_title">
              <span>配套</span>
              <span>兑换配套于</span>
            </div>
            <div class="tae_coin_right_form_content">
              <ul>
                <li>
                  <span>60,000 GRC + 200 WCG</span>
                  <span>2019-09-19</span>
                </li>
                <li>
                  <span>60,000 GRC + 200 WCG</span>
                  <span>2019-09-19</span>
                </li>
                <li>
                  <span>60,000 GRC + 200 WCG</span>
                  <span>2019-09-19</span>
                </li>
                <li>
                  <span>60,000 GRC + 200 WCG</span>
                  <span>2019-09-19</span>
                </li>
                <li>
                  <span>60,000 GRC + 200 WCG</span>
                  <span>2019-09-19</span>
                </li>
                <li>
                  <span>60,000 GRC + 200 WCG</span>
                  <span>2019-09-19</span>
                </li>
                <li>
                  <span>60,000 GRC + 200 WCG</span>
                  <span>2019-09-19</span>
                </li>
                <li>
                  <span>60,000 GRC + 200 WCG</span>
                  <span>2019-09-19</span>
                </li>
              </ul>
              <el-pagination
                background
                pager-count="3"
                layout="prev, pager, next"
                :total="50">
              </el-pagination>
            </div>




        </div>

      </div>

    </div>
  </div>

</div>
