<div class="teaSource">
  <div class="teaSourceAuto">
   <div class="teaSer">
     <div class="teaSerLogo">
       <img src="../../assets/茶币logo.png" alt="">
     </div>
     <div class="teaSourceLogo">
      <div class="teaSourceP">茶叁茶源</div>
      <div class="teaSourceP1"><span>账号：</span> <span>sunjiahui0905@qq.com</span></div>
     </div>
  </div>

            <!-- 今日进度-->
    <div class="TodaysProgress">
      <div class="Progress">
        <span class="Progress1">今日进度</span>
        <span class="Progress2">(13/11 4:32)</span></div>
      <div class="freed1">
      <div class="freed">
        <p class="p1">预计释放：</p>
        <p><span class="p2">0.00</span><span class="p3">CHA3</span></p>
      </div>
      <div class="freed">
        <p class="p1">任务1：量化（7 pm-11pm）</p>
        <p><span class="p2">0.00</span><span class="p3">CHA3</span></p>
      </div>
      <div class="freed">
        <p class="p1">任务2：持有（第二天7 am-11am）</p>
        <p><span class="p2">0.00</span><span class="p3">CHA3</span></p>
      </div>
      </div>
    </div>

           <!--个人收益-->

    <div class="TodaysProgress1">
      <div class="Progress">
        <span class="Progress1">个人收益</span>
      </div>
      <div class="freed1">
        <div class="freed">
          <p class="p">配套：<span class="p">1000</span> <span class="p">CHA3</span></p>
          <p class="p">茶源释放：<span class="p">100</span> <span class="p">CHA3/10,000</span></p>
          <p class="p">茶叁商城：<span class="p">1000000</span> <span class="p">CHA3/10,000</span></p>

        </div>
        <div class="circliful">

        </div>
      </div>
    </div>

    <!--封顶收益-->

    <div class="TodaysProgress2">
      <div class="Progress">
        <span class="Progress1">封顶收益</span>
      </div>
      <div class="freed2">
        <div class="freed3"></div>
        <div class="freed4">1</div>
        <div class="freed4">2</div>
        <div class="freed4">3</div>
        <div class="freed4">4</div>
        <div class="freed4">5</div>
        <div class="freed4">6</div>
        <div class="freed4">7</div>
        <div class="freed4">周封顶收益</div>
        <div class="freed4">月封顶收益</div>
        <div class="freed4">总封顶收益</div>
      </div>
      <div class="freesss">日封顶收益</div>
      <div class="riqi">
        <div class="shouyi">
          <div class="shouyiriqi">
            <p class="shouyiriqi1">16/10</p>
            <p class="shouyiriqi2">567</p>
          </div>
          <div class="shouyiriqi">
            <p class="shouyiriqi1">16/10</p>
            <p class="shouyiriqi2">567</p>
          </div> <div class="shouyiriqi">
          <p class="shouyiriqi1">16/10</p>
          <p class="shouyiriqi2">567</p>
        </div> <div class="shouyiriqi">
          <p class="shouyiriqi1">16/10</p>
          <p class="shouyiriqi2">567</p>
        </div> <div class="shouyiriqi">
          <p class="shouyiriqi1">16/10</p>
          <p class="shouyiriqi2">567</p>
        </div> <div class="shouyiriqi">
          <p class="shouyiriqi1">16/10</p>
          <p class="shouyiriqi2">567</p>
        </div> <div class="shouyiriqi">
          <p class="shouyiriqi1">16/10</p>
          <p class="shouyiriqi2">567</p>
        </div> <div class="shouyiriqi">
          <p class="shouyiriqi1">16/10</p>
          <p class="shouyiriqi2">567</p>
        </div> <div class="shouyiriqi">
          <p class="shouyiriqi1">16/10</p>
          <p class="shouyiriqi2">567</p>
        </div> <div class="shouyiriqi">
          <p class="shouyiriqi1">16/10</p>
          <p class="shouyiriqi2">567</p>
        </div>


        </div>
        <div class="shouyi"></div>
        <div class="shouyi"></div>
        <div class="shouyi"></div>
      </div>
    </div>

    <!--个人交易记录-->

    <div class="TodaysProgress66">
      <div class="Progress">
        <span class="Progress1">个人交易记录</span>
      </div>
      <div class="freed111">
      <div class="riqijilu">日期</div>
      <div class="riqijilu">量化(CHA3)</div>
      <div class="riqijilu">持有(CHA3)</div>
      <div class="riqijilu">总封顶收益(CHA3)</div>
      <div class="riqijilu">释放(CHA3)</div>
      <div class="riqijilu">茶叁商城(CHA3)</div>
      <div class="riqijilu">茶叁余额(CHA3)</div>
      <div class="riqijilu">释放编号</div>
    </div>
      <div class="freed112">
        <div class="riqijilu1">12/11/2019</div>
        <div class="riqijilu1">8,000.00</div>
        <div class="riqijilu1">10.51</div>
        <div class="riqijilu1">8,000.00</div>
        <div class="riqijilu1">8,000.00</div>
        <div class="riqijilu1">8,000.00</div>
        <div class="riqijilu1">8,000.00</div>
        <div class="riqijilu1 qingdianji">
          <a href="#">请点击名单</a></div>
      </div>
      <div class="freed112">
        <div class="riqijilu1">12/11/2019</div>
        <div class="riqijilu1">8,000.00</div>
        <div class="riqijilu1">10.51</div>
        <div class="riqijilu1">8,000.00</div>
        <div class="riqijilu1">8,000.00</div>
        <div class="riqijilu1">8,000.00</div>
        <div class="riqijilu1">8,000.00</div>
        <div class="riqijilu1 qingdianji">
          <a href="#">请点击名单</a></div>
      </div>
      <div class="freed112">
        <div class="riqijilu1">12/11/2019</div>
        <div class="riqijilu1">8,000.00</div>
        <div class="riqijilu1">10.51</div>
        <div class="riqijilu1">8,000.00</div>
        <div class="riqijilu1">8,000.00</div>
        <div class="riqijilu1">8,000.00</div>
        <div class="riqijilu1">8,000.00</div>
        <div class="riqijilu1 qingdianji">
          <a href="#">请点击名单</a></div>
      </div>
      </div>


    <!--社区长分红记录-->

    <div class="TodaysProgress66">
      <div class="Progress">
        <span class="Progress1">社区长分红记录</span>
      </div>
      <div class="freed111">
        <div class="riqiji1">日期</div>
        <div class="riqiji2">每日社区总收益(CHA3)</div>
        <div class="riqiji3">分红(CHA3)</div>
        <div class="riqiji4">累计分红(CHA3)</div>
        <div class="riqiji5">分红释放(70%)(CHA3)</div>
        <div class="riqiji6">茶叁商城(30%)(CHA3)</div>
        <div class="riqiji7">释放编号</div>
        <div class="riqiji8">参与採茶活动</div>
        <div class="riqiji9">参与採茶活动</div>
        <div class="riqiji10">未与採茶活动</div>
      </div>

      <div class="freed110">
        <div class="riqiji1 color8994A5 ">12/11/2019</div>
        <div class="riqiji2 color8994A5">8,000.00</div>
        <div class="riqiji3 color8994A5">10.51</div>
        <div class="riqiji4 color8994A5">8,000.00</div>
        <div class="riqiji5 color8994A5">8,000.00</div>
        <div class="riqiji6 color8994A5">8,000.00</div>
        <div class="riqiji7 color8994A5">8,000.00</div>
        <div class="riqiji8 color8994A5">8,000.00</div>
        <div class="riqiji9 color8994A5">8,000.00动</div>
        <div class="riqiji10 qingdianji"><a href="#">未与採茶活动</a></div>
      </div>
      <div class="freed110">
        <div class="riqiji1 color8994A5 ">12/11/2019</div>
        <div class="riqiji2 color8994A5">8,000.00</div>
        <div class="riqiji3 color8994A5">10.51</div>
        <div class="riqiji4 color8994A5">8,000.00</div>
        <div class="riqiji5 color8994A5">8,000.00</div>
        <div class="riqiji6 color8994A5">8,000.00</div>
        <div class="riqiji7 color8994A5">8,000.00</div>
        <div class="riqiji8 color8994A5">8,000.00</div>
        <div class="riqiji9 color8994A5">8,000.00动</div>
        <div class="riqiji10 qingdianji"><a href="#">未与採茶活动</a></div>
      </div>
      <div class="freed110">
        <div class="riqiji1 color8994A5 ">12/11/2019</div>
        <div class="riqiji2 color8994A5">8,000.00</div>
        <div class="riqiji3 color8994A5">10.51</div>
        <div class="riqiji4 color8994A5">8,000.00</div>
        <div class="riqiji5 color8994A5">8,000.00</div>
        <div class="riqiji6 color8994A5">8,000.00</div>
        <div class="riqiji7 color8994A5">8,000.00</div>
        <div class="riqiji8 color8994A5">8,000.00</div>
        <div class="riqiji9 color8994A5">8,000.00动</div>
        <div class="riqiji10 qingdianji"><a href="#">未与採茶活动</a></div>
      </div>
      </div>

    </div>

    </div>


 </div>
</div>
