<div class="TraddingHall-container" v-if="!isMobile">

<!--  <div class="HeaderTitle-wrap">-->
<!--    <Loading v-show="trade_loading"/>-->
<!--    <HeaderTitle v-show="!trade_loading" :currency_list="marketSymbolList" :socket_tick="socket_tick"-->
<!--                 :socket_snap_shot="socket_snap_shot"-->
<!--                 :socket_price="socket_price" :btc_eth_rate="btc_eth_rate" :buy_sale_list="buy_sale_list"/>-->
<!--  </div>-->

  <div class="traddinghall-main-wrap flex-row  ">
    <!--左侧 货币对 和 饼图-->
    <div class="traddinghall-market-wrap">
      <div class="MarketPrice-wrap" style="border-bottom: 0">
        <MarketPrice :marketSymbolList="marketSymbolList" :socket24hrTicker="socket24hrTicker" :btc_eth_rate="btc_eth_rate"
                     :socket_tick="socket_tick"/>
      </div>
    </div>
    <!--交易页市场的右侧-->
    <div class="traddinghall-main-right flex-colum">

      <div class="traddinghall-main-right-top flex-between">

        <div class="centertop">
          <div class="cen1" @mouseenter="showInfo()" @mouseleave="closeInfo()">{{symbol.split('_')[0]}}{{symbol.split('_')[1]}}</div>
<!--            <em class="txt_light">/</em>-->

          <div class="cen2"><div class="cen21" :class="direction"> {{toFixed(isNowPrice || 0,quoteScale)}}</div>
            <!--<div class="cen22"><em class="txt_light">≈</em>{{isCnyPrice}}</div>-->
          </div>
          <div class="cen2">
            <div class="cen31 border-dashed" @mouseenter="openPositionBox('marked-price')" @mouseleave="closePositionBox('marked-price')">标记价格</div>
            <div class="marked-price">该合约的实时标记价格。此标记价格将用于计算盈亏及保证金，可能与合约最新成交价格有所偏差，以避免价格操纵。</div>
            <div class="cen32"><span class="txt detail_txt">{{toFixed(markPrice || 0,quoteScale)}}</span></div>
          </div>
          <div class="cen2">
            <div class="cen31"><span class="capital-rate border-dashed" @mouseenter="openPositionBox('capital-rate-block')" @mouseleave="closePositionBox('capital-rate-block')">资金费率/每八小时</span></div>
            <div class="capital-rate-block">买方及卖方在下个资金时段要交换的资金费率。</div>
            <div class="cen32"><span class="txt detail_txt txt-blue">{{toFixed((lastFundingRate * 100) || 0,4)}} %</span>
              <span class="txt detail_txt border-dashed" @mouseenter="openPositionBox('residual-time')" @mouseleave="closePositionBox('residual-time')">
                {{$globalFunc.timeCountdown(new Date().getTime(),nextFundingTime,':h')}}
                <!--{{toNextFundingTime}}-->
              </span>
            </div>
            <div class="residual-time">直到下个资金时段的剩余时间。</div>
          </div>
          <div class="cen2">
            <div class="cen31">24H{{$t('Change')}}</div>
            <div class="cen32">
                <span class="txt" :class="priceChangePercent > 0 ? 'txt-price' : (priceChangePercent == 0 ? '' : 'txt-price-red')">
                  <span style="font-size: 1.4rem">{{priceChangePercent > 0 ? '+' : ''}}{{toFixed(priceChangePercent || 0,2) || 0}}%</span>
                  <em class="up_down_icon" :class="priceChangePercent > 0 ? 'up_icon' : (priceChangePercent == 0 ? '' : 'down_icon')"></em>
                </span>
            </div>
          </div>
          <div class="cen2">
            <div class="cen31"> {{$t('High')}} </div>
            <div class="cen32"><span class="txt detail_txt">{{highPrice || 0}}</span></div>
          </div>
          <div class="cen2">
            <div class="cen31"> {{$t('Low')}}</div>
            <div class="cen32"><span class="txt detail_txt">{{lowPrice || 0}}</span></div>
          </div>
          <div class="cen2">
            <div class="cen31"> {{$t('Volum')}}</div>
            <div class="cen32"><span class="txt detail_txt">{{volume || 0}}&nbsp;{{symbol.split('_')[0]}}</span></div>
          </div>
        </div>

<!--        <div class="position-mode-box flex-row" @click="turnOnLocationMode">-->
<!--          <img class="position-mode-icon" src="../../assets/position_mode_setting.png" alt="">-->
<!--          <div class="position-mode-text">仓位模式</div>-->
<!--        </div>-->


      </div>

      <div class="traddinghall-main-right-bottom flex-row">
        <!--中路 K线 和 买卖-->
        <div class="traddinghall-mid-wrap">
          <!--币种资料-->
          <!--<div class="bizhonginfo"    @mouseenter="showInfo()" @mouseleave="closeInfo()" v-if="showinfo">-->
          <!--<div src="../../assets/sanjiao.png" class="sanjimg"/>-->
          <!--<CurrencyIntroduction/>-->
          <!--</div>-->
          <!--币种资料 end-->
          <!--<div class="centertop">-->
            <!--<div class="cen1"    @mouseenter="showInfo()" @mouseleave="closeInfo()">{{symbol.split('_')[0]}}<em class="txt_light">/</em>{{symbol.split('_')[1]}}</div>-->
            <!--<div class="cen2"><div class="cen21"> {{isNowPrice}}</div><div class="cen22"><em class="txt_light">≈</em>{{isCnyPrice}}</div></div>-->
            <!--<div class="cen2">-->
              <!--<div class="cen31"> {{$t('Change')}}</div>-->
              <!--<div class="cen32">-->
                <!--<span class="txt" :class="diff24 > 0 ? 'txt-price' : (diff24 == 0 ? '' : 'txt-price-red')">-->
                  <!--<span style="font-size: 1.4rem">{{diff24 > 0 ? '+' : ''}}{{diff24Ratio}}%</span>-->
                  <!--<em class="up_down_icon" :class="diff24 > 0 ? 'up_icon' : (diff24 == 0 ? '' : 'down_icon')"></em>-->
                <!--</span>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="cen2">-->
              <!--<div class="cen31"> {{$t('High')}} </div>-->
              <!--<div class="cen32"><span class="txt detail_txt">{{high24}}</span></div>-->
            <!--</div>-->
            <!--<div class="cen2">-->
              <!--<div class="cen31"> {{$t('Low')}}</div>-->
              <!--<div class="cen32"><span class="txt detail_txt">{{low24}}</span></div>-->
            <!--</div>-->
            <!--<div class="cen2">-->
              <!--<div class="cen31"> {{$t('Volum')}}</div>-->
              <!--<div class="cen32"><span class="txt detail_txt">{{volume}}&nbsp;{{symbol.split('_')[0]}}</span></div>-->
            <!--</div>-->
          <!--</div>-->
          <!--K线-->
          <div class="TradingView-wrap">
            <TradeContainer :topic_bar="topic_bar"/>
          </div>
          <!--交易挂单区域-->
          <div class="trading-wrap">
            <!--双仓模式下开启此项-->
            <div v-if="positionModeFirst == 'doubleWarehouseMode'" class="progress-bar-position-title-box traddinghall-border-bottom relative flex-row">
              <div class="progress-bar-position-title" :class="positionModeSecond == 'openWarehouse' ? 'progress-bar-position-title-sel':''" @click="changePositionModeSecond('openWarehouse')">开仓</div>
              <div class="progress-bar-position-title" :class="positionModeSecond == 'closeWarehouse' ? 'progress-bar-position-title-sel':''" @click="changePositionModeSecond('closeWarehouse')">平仓</div>
            </div>

            <!--交易类型和资产-->
            <div class="progress-bar-title traddinghall-border-bottom relative flex-between">
              <!--交易类型-->
              <div class="progress-bar-title-left">
                <div class="progress-bar-title-brand-default" style="margin-left: 15px" :class="pendingOrderType == 'limitPrice' ? 'progress-bar-title-brand':''" @click="changePendingOrderType('limitPrice')">
                  {{$t("fixedPrice")}}
                </div>
                <div class="progress-bar-title-brand-default" :class="pendingOrderType == 'marketPrice' ? 'progress-bar-title-brand':''" @click="changePendingOrderType('marketPrice')">
                  市价
                </div>
                <div class="progress-bar-title-brand-default" v-if="positionModeSecond == 'openWarehouse' && positionModeFirst == 'doubleWarehouseMode'" :class="pendingOrderType == 'limitProfitStopLoss' ? 'progress-bar-title-brand':''" @click="changePendingOrderType('limitProfitStopLoss')">
                  触发限价
                  <img class="pointer"
                       @mouseenter="openPositionBox('limit-profit-stop-loss')"
                       @mouseleave="closePositionBox('limit-profit-stop-loss')"
                       src="../../assets/contract/restricted_introduction.png" alt="">
                </div>
                <div class="progress-bar-title-brand-default" v-else :class="pendingOrderType == 'limitProfitStopLoss' ? 'progress-bar-title-brand':''" @click="changePendingOrderType('limitProfitStopLoss')">
                  限价止盈止损
                  <img class="pointer"
                       @mouseenter="openPositionBox('limit-profit-stop-loss')"
                       @mouseleave="closePositionBox('limit-profit-stop-loss')"
                       src="../../assets/contract/restricted_introduction.png" alt="">
                </div>
                <div class="limit-profit-stop-loss" v-if="positionModeSecond == 'openWarehouse' && positionModeFirst == 'doubleWarehouseMode'">
                  <div>触发限价：</div>
                  当设定的价格被触发时， 触发限价委托会自动触发。交易者需要设定一个价格去触发该类型委托。该类委托可以应用于设置限价开仓。请注意，当保证金不足或仓位超过上限时系统会自动撤销执行该委托。                </div>
                <div class="limit-profit-stop-loss" v-else >
                  <div>限价止盈止损：</div>
                  当设定的价格被触发时，限价止盈止损委托会自动触发。交易者需要设定一个价格去触发该类型委托。该类委托可以应用于设置限价止损和限价止盈委托。请注意，当保证金不足或仓位超过上限时系统会自动撤销执行该委托。
                </div>
                <div class="progress-bar-title-brand-default" v-if="positionModeSecond == 'openWarehouse' && positionModeFirst == 'doubleWarehouseMode'" :class="pendingOrderType == 'marketPriceProfitStopLoss' ? 'progress-bar-title-brand':''" @click="changePendingOrderType('marketPriceProfitStopLoss')">
                  触发市价
                  <img class="pointer"
                       @mouseenter="openPositionBox('market-price-profit-stop-loss-1')"
                       @mouseleave="closePositionBox('market-price-profit-stop-loss-1')"
                       src="../../assets/contract/restricted_introduction.png" alt="">
                </div>
                <div class="progress-bar-title-brand-default" v-else :class="pendingOrderType == 'marketPriceProfitStopLoss' ? 'progress-bar-title-brand':''" @click="changePendingOrderType('marketPriceProfitStopLoss')">
                  市价止盈止损
                  <img class="pointer"
                       @mouseenter="openPositionBox('market-price-profit-stop-loss')"
                       @mouseleave="closePositionBox('market-price-profit-stop-loss')"
                       src="../../assets/contract/restricted_introduction.png" alt="">
                </div>

                <div class="market-price-profit-stop-loss-1" v-if="positionModeSecond == 'openWarehouse' && positionModeFirst == 'doubleWarehouseMode'">
                  <div>触发市价：</div>
                  当设定的价格被触发时， 触发市价委托会自动触发。交易者需要设定一个价格去触发该类型委托。该类委托可以应用于设置市价开仓。请注意，当保证金不足或仓位超过上限时系统会自动撤销执行该委托。                </div>
                <div class="market-price-profit-stop-loss" v-else>
                  <div>市价止盈止损：</div>
                  当设定的价格被触发时，市价止盈止损委托会自动触发。交易者需要设定一个价格去触发该类型委托。该类委托可以应用于设置市价止损和市价止盈委托。请注意，当保证金不足或仓位超过上限时系统会自动撤销执行该委托。
                </div>
                <div class="contract-bottle-opener" @click="openBottleOpener()">
                  <img src="../../assets/bottle_opener.png" alt="">
                  开平器
                </div>
              </div>
              <!---->
              <!--可用资产余额-->

              <div class="progress-bar-title-right flex-row">
                <img src="../../assets/progress_bar_title_assets.png" class="progress-bar-title-assets-icon">
                <div class="progress-bar-title-assets-available">{{toFixed(availableBalance,2)}} USDT</div>
                <img src="../../assets/pc-transfer-icon@2x.png" class="progress-bar-title-assets-transfer-icon" @click="goToTransfer">
                <div class="progress-bar-title-vertical-line"/>
                <img src="../../assets/progress_bar_title_calculator.png" class="progress-bar-title-assets-calculator pointer" @click="openCalculatorWindow">
              </div>
            </div>

            <!--多种业务类型选择-->
            <div class="service-type-selection-box flex-between">
              <!--类型选择左侧-->
              <div class="service-type-selection-left flex-row">
                <div v-if="isHasModule('passiveDelegation')" class="passive-delegation flex-row" @click="priceLimitSelection(1)">
                  <img v-if="checkPrice == 1" class="passive-delegation-icon" src="../../assets/contract/contract_selected.png" alt="">
                  <img v-if="checkPrice == 2" class="passive-delegation-icon" src="../../assets/contract/contract_no_selected.png" alt="">
                  <div class="passive-delegation-text border-dashed" @mouseenter="openPositionBox('passive-delegation-block')" @mouseleave="closePositionBox('passive-delegation-block')">被动委托</div>
                </div>
                <!--被动委托解释-->
                <div class="passive-delegation-block">订单不会立即在市场成交，否则将被取消。</div>
                <div v-if="isHasModule('effectiveTime')" class="effective-time flex-row">
                  <div @click="priceLimitSelection(2)" class="flex-row">
                    <img v-if="checkPrice == 2" class="passive-delegation-icon" src="../../assets/contract/contract_selected.png" alt="">
                    <img v-if="checkPrice == 1 && pendingOrderType == 'limitProfitStopLoss'" class="passive-delegation-icon" src="../../assets/contract/contract_selected.png" alt="">
                    <img v-if="checkPrice == 1 && pendingOrderType != 'limitProfitStopLoss'" class="passive-delegation-icon" src="../../assets/contract/contract_no_selected.png" alt="">
                    <div class="passive-delegation-text border-dashed"
                         @mouseenter="openPositionBox('effectiveTimeModule')"
                         @mouseleave="closePositionBox('effectiveTimeModule')">生效时间</div>
                  </div>
                  <div class="">
                    <div class="effective-time-select" @mouseenter="openDropDownTime()" @mouseleave="closeDropDownTime()">
                      <div class="effective-time-select23">{{effectiveTime}}<img class="drop-down" src="../../assets/drop_down.png" alt=""></div>
                      <div class="effective-time-drop-down">
                        <div class="effective-time-drop-down-gtc" :class="effectiveTime=='GTC'?'effective-time-drop':''" @click="goToGtc">GTC</div>
                        <div class="effective-time-drop-down-ioc" :class="effectiveTime=='IOC'?'effective-time-drop':''" @click="goToIoc">IOC</div>
                        <div class="effective-time-drop-down-fok" :class="effectiveTime=='FOK'?'effective-time-drop':''" @click="goToFok">FOK</div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--生效时间解释 限价-->
                <div class="effective-time-block">
                  <div>• GTC (有效直到取消): 此种订单将持续有效直到完全成交或被取消。</div>
                  <div>• IOC (立即成交或取消): 此种订单将会立即成交全部或部分订单，并且取消剩余未成交的部分。</div>
                  <div>• FOK (全部成交或取消): 此种订单必须立即全部成交，否则将被全部取消。</div>
                </div>
                <!--生效时间解释 止损-->
                <div class="effective-time-block-box">
                  <div>• GTC (有效直到取消): 此种订单将持续有效直到完全成交或被取消。</div>
                  <div>• IOC (立即成交或取消): 此种订单将会立即成交全部或部分订单，并且取消剩余未成交的部分。</div>
                  <div>• FOK (全部成交或取消): 此种订单必须立即全部成交，否则将被全部取消。</div>
                </div>
                <div v-if="isHasModule('reducePositions')" class="reduce-positions flex-row">
                  <!--限价-------只减仓 -->

                    <img v-if="reducePositionsSelected" class="reduce-positions-icon" src="../../assets/contract/check_box_selected.png" @click="changeReducePositions()" alt="">
                    <img v-else class="reduce-positions-icon" src="../../assets/contract/check_box_no_selected.png" @click="changeReducePositions()" alt="">
                    <div class="passive-delegation-text border-dashed"
                          @mouseenter="openPositionBox('reducePositionsModule')"
                          @mouseleave="closePositionBox('reducePositionsModule')">只减仓</div>

<!--                  <div v-if="pendingOrderType == 'marketPrice'">-->
<!--                    <img v-if="reducePositionsSelected" class="reduce-positions-icon" src="../../assets/contract/check_box_selected.png" @click="changeReducePositions()" alt="">-->
<!--                    <img v-else class="reduce-positions-icon" src="../../assets/contract/Check_box_no_selected.png" @click="changeReducePositions()" alt="">-->
<!--                    <div class="passive-delegation-text border-dashed"-->
<!--                         @mouseenter="openPositionBox('reducePositionsModule')"-->
<!--                         @mouseleave="closePositionBox('reducePositionsModule')">只减仓</div>-->
<!--                  </div>-->


                  <div class="lighten-up-positions">只减仓订单仅允许减少仓位的委托，确保你的仓位不会增加。</div>
                  <!--市价-------只减仓 -->
                  <div class="lighten-up-positions-market-price">只减仓订单仅允许减少仓位的委托，确保你的仓位不会增加。</div>
                  <!--限价止盈止损-------只减仓 -->
                  <div class="lighten-up-positions-full-stop">只减仓订单仅允许减少仓位的委托，确保你的仓位不会增加。</div>
                  <!--市价止盈止损-------只减仓 -->
                  <div class="lighten-up-positions-market-price-stop">只减仓订单仅允许减少仓位的委托，确保你的仓位不会增加。</div>
                </div>



                <div v-if="isHasModule('triggerType')" class="trigger-type flex-row">
                  <div class="passive-delegation-text border-dashed"
                       @mouseenter="openPositionBox('triggerTypeModule')"
                       @mouseleave="closePositionBox('triggerTypeModule')">触发类型</div>

                  <div class="trigger-type-block">请选择触发此订单的价格。</div>
                  <div class="trigger-type-block-market-price">请选择触发此订单的价格。</div>

                  <div class="letes-price" @mouseenter="openLatestPrice()" @mouseleave="closeLatestPrice()">
                    <div class="effective-time-select-pic">{{latestPrice}}<img class="drop-down" src="../../assets/drop_down.png" alt=""></div>
                    <div class="effective-time-drop-down-pic">
                      <div class="latest-price-select" :class="latestPrice=='最新价格'?'latest-price-drop':''" @click="goToLatestPrice">最新价格</div>
                      <div class="marked-price-select" :class="latestPrice=='标记价格'?'latest-price-drop':''" @click="goToMarkedPrice">标记价格</div>
                    </div>
                  </div>
                </div>
              </div>
              <!--类型选择右侧-->
              <div class="service-type-selection-right flex-row">
<!--                        <div class="position-mode-box flex-row" @click="turnOnLocationMode">-->
<!--                          <img class="position-mode-icon" src="../../assets/position_mode_setting.png" alt="">-->
<!--                          <div class="position-mode-text">仓位模式</div>-->
<!--                        </div>-->

                <div class="margin-mode-btn pointer" @click="turnOnLocationMode" v-if="positionModeFirst == 'singleWarehouseMode'">单向</div>
                <div class="margin-mode-btn pointer" @click="turnOnLocationMode" v-if="positionModeFirst == 'doubleWarehouseMode'">双向</div>
<!--                <div class="margin-mode-btn pointer" @click="turnOnLocationMode" v-if="positionModeFirstTemp == 'doubleWarehouseMode'">双向</div>-->

                <div class="margin-mode-btn pointer lever-num" @click="openSecurityDepositMode" v-if="marginModeType == 'quanCang'">全仓</div>
                <div class="margin-mode-btn pointer lever-num" @click="openSecurityDepositMode" v-if="marginModeType == 'zhuCang'">逐仓</div>
                <div class="margin-mode-btn lever-num pointer" @click="openLever">{{leverage}}X</div>
              </div>
            </div>

            <div class="flex-row" style="margin: auto">
              <div class="ProgressBar-wrap">
                <!--买-->
                <ProgressBar :orderType='0' :fee="BDBInfo" :btc_eth_rate="btc_eth_rate" :socket_price="socket_price"
                             :symbol_config_times="symbol_config_times" :positionModeFirst = "positionModeFirst"
                             :positionModeSecond = "positionModeSecond" :pendingOrderType = "pendingOrderType"
                             :effectiveTime = 'effectiveTime' :reducePositionsSelected = 'reducePositionsSelected'
                             :latestPrice = 'latestPrice' :latestPriceVal = 'latestPriceVal' :availableBalance = 'availableBalance'
                             :markPrice="markPrice" :marginType="marginType" :currentLength="currentLength"/>
              </div>
              <div class="ProgressBar-wrap">
                <!--卖-->
                <ProgressBar :orderType='1' :fee="BDBInfo" :btc_eth_rate="btc_eth_rate" :socket_price="socket_price"
                             :symbol_config_times="symbol_config_times" :positionModeFirst = "positionModeFirst"
                             :positionModeSecond = "positionModeSecond" :pendingOrderType = "pendingOrderType"
                             :effectiveTime = 'effectiveTime' :reducePositionsSelected = 'reducePositionsSelected'
                             :latestPrice = 'latestPrice' :latestPriceVal = 'latestPriceVal' :availableBalance = 'availableBalance'
                             :markPrice="markPrice" :marginType="marginType" :currentLength="currentLength"/>
              </div>
            </div>
          </div>

        </div>
        <!--右侧实时买卖-->
        <div class="traddinghall-mid-left">
          <div class="pankou"><span @click="showStockFunc" :class="(!latestDealSpread && stockShow)?'text_blue':''" >{{$t("Handicap")}}</span>
            <span class="sscj"  v-show="!latestDealSpread"  :class="(!latestDealSpread && !stockShow)?'text_blue':''" @click="showLatestDeal">{{$t("RealTime")}}</span></div>
          <div class="StockCross-wrap" v-show="stockShow">
            <StockCross :trade_loading="trade_loading" :buy_sale_list="buy_sale_list" :socket_snap_shot="socket_snap_shot"
                        :socket_tick="socket_tick" :btc_eth_rate="btc_eth_rate" :socket_price="socket_price"
                        :currency_list="marketSymbolList" :isNowPrice="isNowPrice" :direction="direction" :markPrice="markPrice"/>
          </div>
          <div class="AssetOverview-wrap" v-show="!stockShow">
            <LatestDeal :tradeLoading="trade_loading" :socketTickArr="socketTickArr"
                        :socketTickObj="socketTickObj"/>
          </div>

        </div>
        <!--右侧展开后的实时成交-->
        <div class="traddinghall-right-wrap" style="margin-left: 6px" v-show="latestDealSpread">
          <div class="pankou">{{$t("RealTime")}}</div>
          <div class="AssetOverview-wrap">
            <LatestDeal :tradeLoading="trade_loading" :socketTickArr="socketTickArr"
                        :socketTickObj="socketTickObj"/>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="traddinghall-order-wrap">

    <div class="flex-row traddinghall-order-wrap-title">
<!--      <div class="tradinghall-order-tab tab-item-first  tradinghall-order-tab-first">{{$t("now")}}111-->
<!--      </div>-->

      <!--仓位（4）-->
      <div class="tradinghall-order-tab txt-bold"
           :class="isNow==4?'tradinghall-order-activetab':'tradinghall-order-tab3'"
           @click="clickTab(4)">{{$t("仓位")}} ({{recordsIndex}})
      </div>
      <!--当前委托-->
      <div class="tradinghall-order-tab txt-bold"
           :class="isNow==0?'tradinghall-order-activetab':'tradinghall-order-tab3'"
           @click="clickTab(0)">{{$t("now")}}({{currentLength}})
      </div>
      <!--历史委托-->
      <div class="tradinghall-order-tab txt-bold"
           :class="isNow==1?'tradinghall-order-activetab':'tradinghall-order-tab3'"
           @click="clickTab(1)">{{$t("history")}}
      </div>
      <!--历史成交-->
      <div class="tradinghall-order-tab txt-bold"
           :class="isNow==2?'text_blue tradinghall-order-activetab':''"
           @click="clickTab(2)">
        {{$t('历史成交')}}
      </div>
      <!--保证金余额-->
      <div class="tradinghall-order-tab txt-bold"
           :class="isNow==5?'tradinghall-order-activetab':'tradinghall-order-tab3'"
           @click="clickTab(5)">{{$t("保证金余额")}}
      </div>
      <!--资金流水-->
      <div class="tradinghall-order-tab tab-item-last"
           :class="isNow==3?'text_blue tradinghall-order-activetab':''"
           @click="clickTab(3)"
      >
        <!--资金流水-->
        {{$t('资金流水')}}
      </div>
      <!--资金流水-->
      <div class="tradinghall-order-tab tab-item-last"
           :class="isNow==6?'text_blue tradinghall-order-activetab':''"
           @click="clickTab(6)"
      >
        <!--资金流水-->
        {{$t('资产快照')}}
      </div>
    </div>

    <div v-if="isNow === 4" class="trading-hall-order-box-detail">
      <OrderPosition :tradinghallLimit="tradinghallLimit" :latestPriceVal = 'latestPriceVal'
                     :effectiveTime = 'effectiveTime' :availableBalance='availableBalance'
                     :markPrice = 'markPrice' @getPositionRisk="getIndex"
                     :positionModeFirst = "positionModeFirst"/>
    </div>
    <div v-if="isNow === 5" class="trading-hall-order-box-detail">
      <OrderMarginBalance :tradinghallLimit="tradinghallLimit"/>
    </div>
    <div v-if="isNow === 0" class="trading-hall-order-box-detail">
      <orderCurrent :tradinghallLimit="tradinghallLimit" @getcurrentOrdersLength="getOrdersLength"/>
    </div>
    <div v-if="isNow === 1" class="trading-hall-order-box-detail">
      <orderHistory :tradinghallLimit="tradinghallLimit"/>
    </div>
    <div v-if="isNow === 2" class="trading-hall-order-box-detail">
      <HistoricalTransaction/>
    </div>
    <div v-if="isNow === 3" class="trading-hall-order-box-detail">
      <CapitalFlow/>
    </div>
    <div v-if="isNow === 6" class="trading-hall-order-box-detail">
      <AssetSnapshot/>
    </div>
  </div>


  <PopupPrompt :popType="popType" :popText="popText" :popOpen="promptOpen" :popClose="closePrompt"></PopupPrompt>
  <!-- 提示信息 end -->

  <!--  仓位模式Strat-->
  <PositionModeBulletBox :switch="popWindowPositionModeBulletBox" @close="popWindowClosePositionModeBulletBox" >
    <div slot="header">
      <div class="position-mode-tit">仓位模式</div>
    </div>
    <div slot="article"class="pop-lock-house">
      <div class="risk-alert">
        若有合约存在持仓或者挂单，不允许调整仓位模式。仓位模式调整对所有合约统一生效。
      </div>
      <div class="flex pointer" @click="positionModeSelected('singleWarehouseMode')">
        <img class="single-position-img" src="../../assets/contract/contract_selected.png" alt="" v-if="positionModeFirstTemp == 'singleWarehouseMode'">
        <img class="single-position-img" src="../../assets/contract/contract_no_selected.png" alt="" v-else>
        <div class="">
          <div class="selected-positions-cod" :class="{'selected_cardType':positionModeFirstTemp == 'singleWarehouseMode'}">单向持仓</div>
          <div class="position-explanation">单向持仓模式下，一个合约只允许持有一个方向的仓位</div>
        </div>
      </div>
      <div class="flex pointer" @click="positionModeSelected('doubleWarehouseMode')">
        <img class="single-position-img" src="../../assets/contract/contract_selected.png" alt="" v-if="positionModeFirstTemp == 'doubleWarehouseMode'">
        <img class="single-position-img" src="../../assets/contract/contract_no_selected.png" alt="" v-else>
        <div class="">
          <div class="selected-positions" :class="{'selected_cardType':positionModeFirstTemp == 'doubleWarehouseMode'}">双向持仓</div>
          <div class="position-explanation">双向持仓模式下，一个合约可允许同时持有多空两个方向的仓位，并且同一合约下不同方向仓位风险对冲</div>
        </div>
      </div>
    </div>
    <div slot="footer" class="lock-house-footer">
      <div class="day-surplus" @click="positionModeSelectedConfirm">
        {{$t('确认')}}
      </div>
    </div>
  </PositionModeBulletBox>
  <!--  仓位模式End-->

  <!--  保证金模式 Strat-->
  <PositionModeBulletBox :switch="popWindowSecurityDepositMode" @close="popWindowCloseSecurityDepositMode" >
    <div slot="header">
      <div class="position-mode-tit">{{capitalSymbol}}保证金模式</div>
    </div>
    <div slot="article"class="pop-lock-house">
      <div class="flex">
        <div class="selected-mode selected-cardType-left" :class="{'selected-cardType-mode':marginModeTypeTemp == 'quanCang'}" @click="securityDepositMode('quanCang')">全仓</div>
        <div class="selected-mode" :class="{'selected-cardType-mode':marginModeTypeTemp == 'zhuCang'}" @click="securityDepositMode('zhuCang')">逐仓</div>
      </div>
      <div class="mode-only">· 调整保证金模式仅对当前合约生效。</div>
      <div class="mode-error" v-if="!isHasOrders">当前合约存在持仓和挂单，不支持调整保证金模式</div>
      <div class="money-confirmation" @click="marginModeConfirm">确认</div>
      <!--确认不可点击状态-->
<!--      <div class="money-confirmation-ash">确认</div>-->
      <div class="money-explanation">
        <div class="money-explanation-one">什么是全仓和逐仓模式？</div>
        <div class="money-explanation-two">全仓保证金模式: 所有仓位共用合约账户中的保证金来避免仓位被强平。在强平事件中，交易者可能会损失所有的保证金和仓位。</div>
        <div class="money-explanation-three">逐仓保证金模式: 一定数量保证金被分配到仓位上。如果仓位保证金亏损到低于维持保证金的水平，仓位将被强平。在逐仓模式下，您可以为这个仓位添加和减少保证金。</div>
      </div>
    </div>
  </PositionModeBulletBox>
  <!--  保证金模式 End-->

  <!--  调整杠杆 Strat-->
  <PositionModeBulletBox :switch="popWindowAdjustingLever" @close="popWindowCloseAdjustingLever" >
    <div slot="header">
      <div class="position-mode-tit">调整杠杆</div>
    </div>
    <div slot="article"class="pop-lock-house">
      <div class="body">
        <div class="block"  style="margin: 4px auto">
          <!-- <span class="demonstration">默认</span> -->
          <p :class="'radiusa_blu1'" v-if="value>=0" @click="value=0" style="cursor:pointer"></p>
          <p :class="'radiusa_blu2'" v-if="value>=25"@click="value=25" style="cursor:pointer"></p>
          <p :class="'radiusa_blu3'" v-if="value>=50"@click="value=50" style="cursor:pointer"></p>
          <p :class="'radiusa_blu4'" v-if="value>=75"@click="value=75" style="cursor:pointer"></p>
          <p :class="'radiusa_blu5'" v-if="value>=100"@click="value=100" style="cursor:pointer"></p>
          <p :class="'radiusa_blu6'" v-if="value>=125"@click="value=125" style="cursor:pointer"></p>
          <el-slider
            v-model="value"
            :class="'el-slider_blu'"
            :marks="marks"
            show-input
            :max="125"
            :min="1"
            :format-tooltip="formatTooltip"
          >
          </el-slider>
        </div>
      </div>
      <div class="mode-only-lever">· 当前杠杆倍数最高可持有头寸：{{maxPosition}} USDT</div>
<!--      <div class="mode-error">当前合约存在持仓和挂单，不支持调整保证金模式</div>-->
      <div class="mode-only-lever-super txt-price-red" v-if="value > 20">· 当前杠杆倍数较高，请注意风险。</div>
      <div class="mode-only-lever-high" v-else></div>
      <div class="mode-only-lever-super txt-price-red" v-if="popTextLeverage">· {{popTextLeverage}}</div>
      <div class="money-confirmation" @click="postLevelrage">确认</div>
      <!--确认不可点击状态-->
      <!--      <div class="money-confirmation-ash">确认</div>-->
    </div>
  </PositionModeBulletBox>
  <!--  调整杠杆 End-->

  <!--计算器组件-->
  <CalculatorBommbBox :switch="openCalculator" @close="closeCalculatorWindow" :pop_width="true"></CalculatorBommbBox>

  <!--  开平器弹窗-->
  <KaipingqiPopWindow :switch="openOpener" @close="closeBottleOpener" :isNowPrice ="isNowPrice" :positionModeFirst="positionModeFirst"
                      :positionList="positionList" :baseScale="baseScale"
  ></KaipingqiPopWindow>
  <!-- 开平器弹窗 -->
<!--  <PositionModeBulletBox :switch="openOpener" @close="closeBottleOpener" :pop_width="true">-->
<!--    <div slot="header" class="bottle-opener-header">开平器</div>-->
<!--    <div slot="article" class="bottle-opener-article">-->
<!--        &lt;!&ndash;单开双开切换&ndash;&gt;-->
<!--        <div class="opener-article-title flex">-->
<!--          <div class="opener-article-title-but opener-title-but-left  pointer" :class="openerType == 1 ?'opener-btn-slt':''" @click="changeOpenerType(1)">单开</div>-->
<!--          <div class="opener-article-title-but opener-title-but-right pointer" :class="openerType == 2 ?'opener-btn-slt':''" @click="changeOpenerType(2)">双开</div>-->
<!--        </div>-->
<!--        &lt;!&ndash;开仓&ndash;&gt;-->
<!--        <div class="opener-article-opening">-->
<!--          <div class="opener-article-opening-tit">-->
<!--            <img src="../../assets/opening_icon.png" alt="">-->
<!--            <span>开仓</span>-->
<!--          </div>-->

<!--          <div class="opener-article-opening-con">-->
<!--            <div class="opener-opening-long-short">-->
<!--              <span class="opener-opening-con-tit pointer" :class="longOrShortType==1?'opening-con-tit-slt':''" @click="changeLongShort(1)">开多</span>-->
<!--              <span class="opener-opening-con-tit pointer" :class="longOrShortType==2?'opening-con-tit-slt':''" @click="changeLongShort(2)">开空</span>-->
<!--            </div>-->
<!--            <div class="opener-opening-markprice flex-between">-->
<!--              <div>-->
<!--                <span class="mr-tempty">当前市价</span>-->
<!--                <span class="markprice-text">123456</span>-->
<!--              </div>-->
<!--              <div>-->
<!--                <span class="mr-tempty">开仓数量</span>-->
<!--                <input class="markprice-ipt" type="text" placeholder="0">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->

<!--        &lt;!&ndash;平仓&ndash;&gt;-->
<!--        <div class="opener-article-closing">-->
<!--          &lt;!&ndash;平仓标题&ndash;&gt;-->
<!--          <div class="opener-article-opening-tit">-->
<!--            <img src="../../assets/closing_icon.png" alt="">-->
<!--            <span>平仓</span>-->
<!--          </div>-->

<!--          <div class="opener-article-closing-con flex-between">-->
<!--            &lt;!&ndash;止盈计划-&#45;&#45;平仓止盈&ndash;&gt;-->
<!--            <div class="opener-article-closing-left">-->
<!--              <div class="opener-article-closing-left-top">-->
<!--                &lt;!&ndash;平仓止盈&ndash;&gt;-->
<!--                <div class="opener-article-closing-stop-tit ">-->
<!--                  <img src="../../assets/label_icon.png" alt="">-->
<!--                  平仓止盈-->
<!--                </div>-->
<!--                &lt;!&ndash;平仓止盈内容&ndash;&gt;-->
<!--                <div class="opener-article-closing-stop-cont flex">-->
<!--                  <div class="closing-stop-cont-title">可盈总量</div>-->
<!--                  <div>100BTC</div>-->
<!--                </div>-->
<!--                <div class="opener-article-closing-stop-cont flex">-->
<!--                  <div class="closing-stop-cont-title">当前均价</div>-->
<!--                  <div>12000-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="opener-article-closing-stop-cont flex">-->
<!--                  <span class="closing-stop-cont-title">止盈点数</span>-->
<!--                  <input class="closing-stop-cont-ipt" type="text" placeholder="0">-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="opener-article-closing-left-bottom">-->
<!--                <div class="opener-stop-plan flex-between">-->
<!--                  <div class="opener-stop-plan-tit">止盈计划</div>-->
<!--                  <div class="opener-stop-plan-con flex">-->
<!--                    <div class="opener-stop-plan-btn pointer m-r" :class="isStepType==1?'opener-stop-plan-btn-select':''" @click="changeIsStepType(1)">全部</div>-->
<!--                    <div class="opener-stop-plan-btn pointer" :class="isStepType==2?'opener-stop-plan-btn-select':''" @click="changeIsStepType(2)">分步</div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash;止盈计划内容&ndash;&gt;-->
<!--                <div class="opener-stop-plan-con-con">-->
<!--                  &lt;!&ndash;分步部分需要&ndash;&gt;-->
<!--                  <div class="openter-step flex-between">-->
<!--                    <div class="openter-step-step flex">-->
<!--                      <div class="openter-step-step-tex">分成</div>-->
<!--                      <div class="openter-step-step-line"></div>-->
<!--                      <input class="openter-step-ipt" type="text" placeholder="0" v-model="takeProfitStep">步-->
<!--                    </div>-->
<!--                    <div class="openter-step-step flex">-->
<!--                      <div class="openter-step-step-tex">间隔</div>-->
<!--                      <div class="openter-step-step-line"></div>-->
<!--                      <input class="openter-step-ipt" type="text" placeholder="0" v-model="takeProfitPoint">点-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  &lt;!&ndash;标题&ndash;&gt;-->
<!--                  <div class="opener-stop-plan-con-tit flex-between">-->
<!--                    <div class="opener-price-t">价格</div>-->
<!--                    <div class="opener-amount-t">数量</div>-->
<!--                  </div>-->
<!--                  &lt;!&ndash;内容&ndash;&gt;-->
<!--                  <div class="opener-stop-plan-con-text flex">-->
<!--                    <div class="opener-stop-plan-tex-yuan">-->
<!--                      <div class="blue-yuan flex">-->
<!--                        <div class="white-yuan"></div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="opener-text flex">-->
<!--                      <div class="opener-price">12312</div>-->
<!--                      <div class="opener-amount-t">12</div>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash;止盈计划&#45;&#45;清仓止损&ndash;&gt;-->
<!--            <div class="opener-article-closing-right">-->
<!--              <div class="opener-article-closing-left-top">-->
<!--                &lt;!&ndash;平仓止盈&ndash;&gt;-->
<!--                <div class="opener-article-closing-stop-tit ">-->
<!--                  <img src="../../assets/label_icon.png" alt="">-->
<!--                  清仓止损-->
<!--                </div>-->
<!--                &lt;!&ndash;平仓止盈内容&ndash;&gt;-->
<!--                <div class="opener-article-closing-stop-cont flex">-->
<!--                  <div class="closing-stop-cont-title">可损总量</div>-->
<!--                  <div>100BTC</div>-->
<!--                </div>-->
<!--                <div class="opener-article-closing-stop-cont flex">-->
<!--                  <div class="closing-stop-cont-title">当前均价</div>-->
<!--                  <div>12300</div>-->
<!--                </div>-->
<!--                <div class="opener-article-closing-stop-cont flex">-->
<!--                  <span class="closing-stop-cont-title">止损点数</span>-->
<!--                  <input class="closing-stop-cont-ipt" type="text" placeholder="0">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="opener-article-closing-left-bottom">-->
<!--                <div class="opener-stop-plan flex-between">-->
<!--                  <div class="opener-stop-plan-tit">止盈计划</div>-->
<!--                  <div class="opener-stop-plan-con flex">-->
<!--                    <div class="opener-stop-plan-btn pointer m-r" :class="isStepTypeClose == 1 ? 'opener-stop-plan-btn-select':''" @click="changeStepClose(1)">全部</div>-->
<!--                    <div class="opener-stop-plan-btn pointer" :class="isStepTypeClose == 2 ? 'opener-stop-plan-btn-select':''" @click="changeStepClose(2)">分步</div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                &lt;!&ndash;止盈计划内容&ndash;&gt;-->
<!--                <div class="opener-stop-plan-con-con">-->
<!--                  &lt;!&ndash;分步部分需要&ndash;&gt;-->
<!--                  <div class="openter-step flex-between">-->
<!--                    <div class="openter-step-step flex">-->
<!--                      <div class="openter-step-step-tex">分成</div>-->
<!--                      <div class="openter-step-step-line"></div>-->
<!--                      <input class="openter-step-ipt" type="text" placeholder="0" v-model="fullStopStep">步-->
<!--                    </div>-->
<!--                    <div class="openter-step-step flex">-->
<!--                      <div class="openter-step-step-tex">间隔</div>-->
<!--                      <div class="openter-step-step-line"></div>-->
<!--                      <input class="openter-step-ipt" type="text" placeholder="0" v-model="fullStopPoint">点-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  &lt;!&ndash;标题&ndash;&gt;-->
<!--                  <div class="opener-stop-plan-con-tit flex-between">-->
<!--                    <div class="opener-price-t">价格</div>-->
<!--                    <div class="opener-amount-t">数量</div>-->
<!--                  </div>-->
<!--                  &lt;!&ndash;内容  遍历出来比较好&ndash;&gt;-->
<!--                  <div class="opener-stop-plan-con-text flex" v-for="(v,index) in 2" >-->
<!--                    <div class="opener-stop-plan-tex-yuan">-->
<!--                      <div class="blue-yuan flex">-->
<!--                        <div class="white-yuan"></div>-->
<!--                      </div>-->
<!--                      <div class="opener-stop-plan-tex-line" v-if="index != 1"></div>-->
<!--                    </div>-->
<!--                    <div class="opener-text flex">-->
<!--                      <div class="opener-price">12312</div>-->
<!--                      <div class="opener-amount-t">12</div>-->
<!--                    </div>-->
<!--                  </div>-->

<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--    </div>-->

<!--    <div slot="other" class="bottle-opener-footer flex-between">-->
<!--      <div class="cancel-btn pointer" @click="closeBottleOpener()">取消</div>-->
<!--      <div class="confirm-btn pointer" @click="comitBottleOpener()">确定</div>-->
<!--    </div>-->
<!--  </PositionModeBulletBox>-->


  <!--  合约风险提示-->
  <ContractRiskWarning :switch="popWindowContractRiskWarning">
    <div slot="article" class="popWindow-article-input">
      <div calss="yqm">邀请码(非必填)</div>
      <input class="yqm-input"
             type="text"
             placeholder="请输入邀请码"
             v-model="invitreCodeInput">
      <div class="hig">
        <span class="prompt-span wrong-msg">{{name_0}}</span>
      </div>
    </div>

    <div slot="footer" class="flex footer-btn">
      <div class="popWindow-article2" @click="popCloseTemporarilyClosed">暂不开通</div>
      <div class="popWindow-btn" @click="openAContract">开通</div>
<!--      <div class="popWindow-btn" @click="openAContract">开通</div>-->
    </div>
  </ContractRiskWarning>
</div>

<div class="TraddingHall-container" v-else>
  <MobileTradingHall/>
</div>
