<div class="TraddingHall-container" v-if="!isMobile">

<!--  <div class="HeaderTitle-wrap">-->
<!--    <Loading v-show="trade_loading"/>-->
<!--    <HeaderTitle v-show="!trade_loading" :currency_list="currency_list" :socket_tick="socket_tick"-->
<!--                 :socket_snap_shot="socket_snap_shot"-->
<!--                 :socket_price="socket_price" :btc_eth_rate="btc_eth_rate" :buy_sale_list="buy_sale_list"/>-->
<!--  </div>-->

  <div class="traddinghall-main-wrap flex-row  ">
    <!--左侧 货币对 和 饼图-->
    <div class="traddinghall-market-wrap">
      <div class="MarketPrice-wrap" style="border-bottom: 0">
        <MarketPrice :currency_list="currency_list" :socket_price="socket_price" :btc_eth_rate="btc_eth_rate"
                     :socket_tick="socket_tick"/>
      </div>
    </div>
    <!--交易页市场的右侧-->
    <div class="traddinghall-main-right flex-colum">

      <div class="traddinghall-main-right-top flex-between">

        <div class="centertop">
          <div class="cen1"    @mouseenter="showInfo()" @mouseleave="closeInfo()">{{symbol.split('_')[0]}}<em class="txt_light">/</em>{{symbol.split('_')[1]}}</div>
          <div class="cen2"><div class="cen21"> {{isNowPrice}}</div><div class="cen22"><em class="txt_light">≈</em>{{isCnyPrice}}</div></div>
          <div class="cen2">
            <div class="cen31 border-dashed"> 标记价格 </div>
            <div class="cen32"><span class="txt detail_txt">{{high24}}</span></div>
          </div>
          <div class="cen2">
            <div class="cen31"><span class="capital-rate border-dashed">资金费率/每八小时</span></div>
            <div class="cen32"><span class="txt detail_txt txt-blue">{{high24}}</span> <span class="txt detail_txt border-dashed">{{high24}}</span></div>
          </div>
          <div class="cen2">
            <div class="cen31"> {{$t('Change')}}</div>
            <div class="cen32">
                <span class="txt" :class="diff24 > 0 ? 'txt-price' : (diff24 == 0 ? '' : 'txt-price-red')">
                  <span style="font-size: 1.4rem">{{diff24 > 0 ? '+' : ''}}{{diff24Ratio}}%</span>
                  <em class="up_down_icon" :class="diff24 > 0 ? 'up_icon' : (diff24 == 0 ? '' : 'down_icon')"></em>
                </span>
            </div>
          </div>
          <div class="cen2">
            <div class="cen31"> {{$t('High')}} </div>
            <div class="cen32"><span class="txt detail_txt">{{high24}}</span></div>
          </div>
          <div class="cen2">
            <div class="cen31"> {{$t('Low')}}</div>
            <div class="cen32"><span class="txt detail_txt">{{low24}}</span></div>
          </div>
          <div class="cen2">
            <div class="cen31"> {{$t('Volum')}}</div>
            <div class="cen32"><span class="txt detail_txt">{{volume}}&nbsp;{{symbol.split('_')[0]}}</span></div>
          </div>
        </div>

        <div class="position-mode-box flex-row" @click="turnOnLocationMode">
          <img class="position-mode-icon" src="../../assets/position_mode_setting.png" alt="">
          <div class="position-mode-text">仓位模式</div>
        </div>


      </div>

      <div class="traddinghall-main-right-bottom flex-row">
        <!--中路 K线 和 买卖-->
        <div class="traddinghall-mid-wrap">
          <!--币种资料-->
          <!--<div class="bizhonginfo"    @mouseenter="showInfo()" @mouseleave="closeInfo()" v-if="showinfo">-->
          <!--<div src="../../assets/sanjiao.png" class="sanjimg"/>-->
          <!--<CurrencyIntroduction/>-->
          <!--</div>-->
          <!--币种资料 end-->
          <!--<div class="centertop">-->
            <!--<div class="cen1"    @mouseenter="showInfo()" @mouseleave="closeInfo()">{{symbol.split('_')[0]}}<em class="txt_light">/</em>{{symbol.split('_')[1]}}</div>-->
            <!--<div class="cen2"><div class="cen21"> {{isNowPrice}}</div><div class="cen22"><em class="txt_light">≈</em>{{isCnyPrice}}</div></div>-->
            <!--<div class="cen2">-->
              <!--<div class="cen31"> {{$t('Change')}}</div>-->
              <!--<div class="cen32">-->
                <!--<span class="txt" :class="diff24 > 0 ? 'txt-price' : (diff24 == 0 ? '' : 'txt-price-red')">-->
                  <!--<span style="font-size: 1.4rem">{{diff24 > 0 ? '+' : ''}}{{diff24Ratio}}%</span>-->
                  <!--<em class="up_down_icon" :class="diff24 > 0 ? 'up_icon' : (diff24 == 0 ? '' : 'down_icon')"></em>-->
                <!--</span>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="cen2">-->
              <!--<div class="cen31"> {{$t('High')}} </div>-->
              <!--<div class="cen32"><span class="txt detail_txt">{{high24}}</span></div>-->
            <!--</div>-->
            <!--<div class="cen2">-->
              <!--<div class="cen31"> {{$t('Low')}}</div>-->
              <!--<div class="cen32"><span class="txt detail_txt">{{low24}}</span></div>-->
            <!--</div>-->
            <!--<div class="cen2">-->
              <!--<div class="cen31"> {{$t('Volum')}}</div>-->
              <!--<div class="cen32"><span class="txt detail_txt">{{volume}}&nbsp;{{symbol.split('_')[0]}}</span></div>-->
            <!--</div>-->
          <!--</div>-->
          <!--K线-->
          <div class="TradingView-wrap">
            <TradeContainer :topic_bar="topic_bar"/>
          </div>
          <!--交易挂单区域-->
          <div class="trading-wrap">
            <!--双仓模式下开启此项-->
            <div class="progress-bar-position-title-box traddinghall-border-bottom relative flex-row">
              <div class="progress-bar-position-title" :class="positionModeSecond == 'openWarehouse' ? 'progress-bar-position-title-sel':''" @click="changePositionModeSecond('openWarehouse')">开仓</div>
              <div class="progress-bar-position-title" :class="positionModeSecond == 'closeWarehouse' ? 'progress-bar-position-title-sel':''" @click="changePositionModeSecond('closeWarehouse')">平仓</div>
            </div>

            <!--交易类型和资产-->
            <div class="progress-bar-title traddinghall-border-bottom relative flex-between">
              <!--交易类型-->
              <div class="progress-bar-title-left">
                <div class="progress-bar-title-brand-default" style="margin-left: 15px" :class="pendingOrderType == 'limitPrice' ? 'progress-bar-title-brand':''" @click="changePendingOrderType('limitPrice')">
                  {{$t("fixedPrice")}}
                </div>
                <div class="progress-bar-title-brand-default" :class="pendingOrderType == 'marketPrice' ? 'progress-bar-title-brand':''" @click="changePendingOrderType('marketPrice')">
                  市价
                </div>
                <div class="progress-bar-title-brand-default" :class="pendingOrderType == 'limitProfitStopLoss' ? 'progress-bar-title-brand':''" @click="changePendingOrderType('limitProfitStopLoss')">
                  限价止盈止损
                </div>
                <div class="progress-bar-title-brand-default" :class="pendingOrderType == 'marketPriceProfitStopLoss' ? 'progress-bar-title-brand':''" @click="changePendingOrderType('marketPriceProfitStopLoss')">
                  市价止盈止损
                </div>
              </div>
              <!---->
              <!--可用资产余额-->

              <div class="progress-bar-title-right flex-row">
                <img src="../../assets/progress_bar_title_assets.png" class="progress-bar-title-assets-icon">
                <div class="progress-bar-title-assets-available">10591.00 USDT</div>
                <div class="progress-bar-title-vertical-line"/>
                <img src="../../assets/progress_bar_title_calculator.png" class="progress-bar-title-assets-calculator pointer" @click="openCalculatorWindow">
              </div>
              <!--<div class="service_charge ">-->
                <!--<span>-->
                  <!--{{$t("serverCharge")}}: <em :class="{'delete' : BDBInfo}">0.2%</em> <em-->
                  <!--:class="{'delete' : !BDBInfo}"> 0.14%</em>-->
                  <!--&lt;!&ndash;{{$t('useBtMining',{btReward:btReward})}}&ndash;&gt;-->
                  <!--<font class="use_bob_fire">-->
                    <!--{{$t("serverUser")}}-->
                    <!--<router-link to="/index/help/rateStandard" class="text_blue"-->
                                 <!--:class="{'bdb_gray': !BDBInfo}">BDB</router-link>-->
                    <!--{{$t("serverFire")}}-->
                  <!--</font>-->
                <!--</span>-->
                <!--<a href="#" class="toggle account-info-toggle"-->
                <!--:class="{'toggle&#45;&#45;off':!BDBInfo,'toggle&#45;&#45;on':BDBInfo,'toggle&#45;&#45;moving':BDBChanging}"-->
                <!--@click="clickToggle($event)"></a>-->
                <!--BDB折扣开关 begin-->
                <!--<div class="toggle-box vertical-middle">-->
                  <!--<Toggle :toggleOpen="BDBInfo" :switchFunc="clickToggle"/>-->
                <!--</div>-->
                <!--BDB折扣开关 end-->
              <!--</div>-->
            </div>

            <!--多种业务类型选择-->
            <div class="service-type-selection-box flex-between">
              <!--类型选择左侧-->
              <div class="service-type-selection-left flex-row">
                <div v-if="isHasModule('passiveDelegation')" class="passive-delegation flex-row">
                  <img class="passive-delegation-icon" src="../../assets/contract/contract_selected.png" alt="">
                  <div class="passive-delegation-text border-dashed">被动委托</div>
                </div>
                <div v-if="isHasModule('effectiveTime')" class="effective-time flex-row">
                  <img class="passive-delegation-icon" src="../../assets/contract/contract_selected.png" alt="">
                  <div class="passive-delegation-text border-dashed">生效时间</div>
                  <div class="">
                    <div class="effective-time-select" @mouseenter="openDropDownTime()" @mouseleave="closeDropDownTime()">
                      <div class="effective-time-select23">{{effectiveTime}}<img class="drop-down" src="../../assets/drop_down.png" alt=""></div>
                      <div class="effective-time-drop-down">
                        <div class="effective-time-drop-down-gtc" :class="effectiveTime=='GTC'?'effective-time-drop':''" @click="goToGtc">GTC</div>
                        <div class="effective-time-drop-down-ioc" :class="effectiveTime=='IOC'?'effective-time-drop':''" @click="goToIoc">IOC</div>
                        <div class="effective-time-drop-down-fok" :class="effectiveTime=='FOK'?'effective-time-drop':''" @click="goToFok">FOK</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-if="isHasModule('reducePositions')" class="reduce-positions flex-row">
                  <img class="reduce-positions-icon" src="../../assets/contract/check_box_selected.png" alt="">
                  <div class="passive-delegation-text border-dashed">只减仓</div>
                </div>
                <div v-if="isHasModule('triggerType')" class="trigger-type flex-row">
                  <div class="passive-delegation-text border-dashed">触发类型</div>
                  <div class="letes-price" @mouseenter="openLatestPrice()" @mouseleave="closeLatestPrice()">
                    <div class="effective-time-select-pic">{{latestPrice}}<img class="drop-down" src="../../assets/drop_down.png" alt=""></div>
                    <div class="effective-time-drop-down-pic">
                      <div class="latest-price-select" :class="latestPrice=='最新价格'?'latest-price-drop':''" @click="goToLatestPrice">最新价格</div>
                      <div class="marked-price-select" :class="latestPrice=='标记价格'?'latest-price-drop':''" @click="goToMarkedPrice">标记价格</div>
                    </div>
                  </div>

                </div>
              </div>
              <!--类型选择右侧-->
              <div class="service-type-selection-right flex-row">
                <div class="margin-mode-btn pointer" @click="openSecurityDepositMode">全仓</div>
                <div class="margin-mode-btn lever-num">10X</div>
              </div>
            </div>

            <div class="flex-row" style="margin: auto">
              <div class="ProgressBar-wrap">
                <!--买-->
                <ProgressBar :orderType='0' :fee="BDBInfo" :btc_eth_rate="btc_eth_rate" :socket_price="socket_price"
                             :symbol_config_times="symbol_config_times"/>
              </div>
              <div class="ProgressBar-wrap">
                <!--卖-->
                <ProgressBar :orderType='1' :fee="BDBInfo" :btc_eth_rate="btc_eth_rate" :socket_price="socket_price"
                             :symbol_config_times="symbol_config_times"/>
              </div>
            </div>
          </div>

        </div>
        <!--右侧实时买卖-->
        <div class="traddinghall-mid-left">
          <div class="pankou"><span @click="showStockFunc" :class="(!latestDealSpread && stockShow)?'text_blue':''" >{{$t("Handicap")}}</span>
            <span class="sscj"  v-show="!latestDealSpread"  :class="(!latestDealSpread && !stockShow)?'text_blue':''" @click="showLatestDeal">{{$t("RealTime")}}</span></div>
          <div class="StockCross-wrap" v-show="stockShow">
            <StockCross :trade_loading="trade_loading" :buy_sale_list="buy_sale_list" :socket_snap_shot="socket_snap_shot"
                        :socket_tick="socket_tick" :btc_eth_rate="btc_eth_rate" :socket_price="socket_price"
                        :currency_list="currency_list"></StockCross>
          </div>
          <div class="AssetOverview-wrap" v-show="!stockShow">
            <LatestDeal :trade_loading="trade_loading" :socket_tick_arr="socket_tick_arr"
                        :socket_tick_obj="socket_tick_obj"/>
          </div>

        </div>
        <!--右侧展开后的实时成交-->
        <div class="traddinghall-right-wrap" style="margin-left: 6px" v-show="latestDealSpread">
          <div class="pankou">{{$t("RealTime")}}</div>
          <div class="AssetOverview-wrap">
            <LatestDeal :trade_loading="trade_loading" :socket_tick_arr="socket_tick_arr"
                        :socket_tick_obj="socket_tick_obj"/>
          </div>
        </div>
      </div>
    </div>

  </div>



  <div class="traddinghall-order-wrap">

    <div class="flex-row traddinghall-order-wrap-title">
<!--      <div class="tradinghall-order-tab tab-item-first  tradinghall-order-tab-first">{{$t("now")}}111-->
<!--      </div>-->

      <!--仓位（4）-->
      <div class="tradinghall-order-tab txt-bold"
           :class="isNow==4?'tradinghall-order-activetab':'tradinghall-order-tab3'"
           @click="clickTab(4)">{{$t("仓位（4）")}}
      </div>
      <!--保证金余额-->
      <div class="tradinghall-order-tab txt-bold"
           :class="isNow==5?'tradinghall-order-activetab':'tradinghall-order-tab3'"
           @click="clickTab(5)">{{$t("保证金余额")}}
      </div>
      <!--当前委托-->
      <div class="tradinghall-order-tab txt-bold"
           :class="isNow==0?'tradinghall-order-activetab':'tradinghall-order-tab3'"
           @click="clickTab(0)">{{$t("now")}}
      </div>
      <!--历史委托-->
      <div class="tradinghall-order-tab txt-bold"
           :class="isNow==1?'tradinghall-order-activetab':'tradinghall-order-tab3'"
           @click="clickTab(1)">{{$t("history")}}
      </div>
      <!--历史成交-->
      <div class="tradinghall-order-tab txt-bold"
           :class="isNow==2?'text_blue tradinghall-order-activetab':''"
           @click="clickTab(2)">
        {{$t('历史成交')}}
      </div>
      <!--资金流水-->
      <div class="tradinghall-order-tab tab-item-last box_shadow"
           :class="isNow==3?'text_blue tradinghall-order-activetab':''"
           @click="clickTab(3)"
      >
        <!--资金流水-->
        {{$t('资金流水')}}
      </div>
    </div>

    <div v-if="isNow === 4" class="trading-hall-order-box-detail">
      <OrderPosition :tradinghallLimit="tradinghallLimit"/>
    </div>
    <div v-if="isNow === 5" class="trading-hall-order-box-detail">
      <OrderMarginBalance :tradinghallLimit="tradinghallLimit"/>
    </div>
    <div v-if="isNow === 0" class="trading-hall-order-box-detail">
      <orderCurrent :tradinghallLimit="tradinghallLimit"/>
    </div>
    <div v-if="isNow === 1" class="trading-hall-order-box-detail">
      <orderHistory :tradinghallLimit="tradinghallLimit"/>
    </div>
    <div v-if="isNow === 2" class="trading-hall-order-box-detail">
      <HistoricalTransaction/>
    </div>
    <div v-if="isNow === 3" class="trading-hall-order-box-detail">
      <CapitalFlow/>
    </div>
  </div>
<!--  <div class="traddinghall-order-wrap">-->
<!--    <div class="flex-row traddinghall-order-wrap-title">-->
<!--            <div class="tradinghall-order-tab2">{{$t("history")}}222-->
<!--&lt;!&ndash;              <span>({{$t("InTheLastWeek")}})</span>&ndash;&gt;-->
<!--            </div>-->
<!--      &lt;!&ndash;      <div class="tradinghall-order-tab txt-bold"&ndash;&gt;-->
<!--      &lt;!&ndash;           :class="isNow==2?'text_blue tradinghall-order-activetab':''"&ndash;&gt;-->
<!--      &lt;!&ndash;           @click="clickTab(2)">&ndash;&gt;-->
<!--      &lt;!&ndash;        {{$t('currencyInfo')}}&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->
<!--      &lt;!&ndash;<div class="tradinghall-order-tab tab-item-last box_shadow"&ndash;&gt;-->
<!--      &lt;!&ndash;:class="isNow==3?'text_blue tradinghall-order-activetab':''"&ndash;&gt;-->
<!--      &lt;!&ndash;@click="clickTab(3)"&ndash;&gt;-->
<!--      &lt;!&ndash;v-if="showSuperBeeIntroduction"&ndash;&gt;-->
<!--      &lt;!&ndash;&gt;&ndash;&gt;-->
<!--      &lt;!&ndash;&lt;!&ndash;为蜜简介&ndash;&gt;&ndash;&gt;-->
<!--      &lt;!&ndash;{{$t('bee_introduction')}}&ndash;&gt;-->
<!--      &lt;!&ndash;</div>&ndash;&gt;-->
<!--    </div>-->


<!--        <div v-if="1=== 1" class="trading-hall-order-box-detail">-->
<!--          <orderHistory :tradinghallLimit="tradinghallLimit"/>-->
<!--        </div>-->
<!--    &lt;!&ndash;    <div v-if="isNow === 2" class="trading-hall-order-box-detail">&ndash;&gt;-->
<!--    &lt;!&ndash;      <CurrencyIntroduction/>&ndash;&gt;-->
<!--    &lt;!&ndash;    </div>&ndash;&gt;-->
<!--    &lt;!&ndash;    <div v-if="isNow === 3" class="trading-hall-order-box-detail">&ndash;&gt;-->
<!--    &lt;!&ndash;      <SuperBeeIntroduction/>&ndash;&gt;-->
<!--    &lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->


  <PopupPrompt :popType="popType" :popText="popText" :popOpen="promptOpen" :popClose="closePrompt"></PopupPrompt>
  <!-- 提示信息 end -->

  <!--  仓位模式Strat-->
  <PositionModeBulletBox :switch="popWindowPositionModeBulletBox" @close="popWindowClosePositionModeBulletBox" >
    <div slot="header">
      <div class="position-mode-tit">仓位模式</div>
    </div>
    <div slot="article"class="pop-lock-house">
      <div class="risk-alert">
        若有合约存在持仓或者挂单，不允许调整仓位模式。仓位模式调整对所有合约统一生效。
      </div>
      <div class="flex" @click="positionModeSelected(1)">
        <img class="single-position-img" src="../../assets/contract/contract_no_selected.png" alt="" v-if="cardType == 2">
        <img class="single-position-img" src="../../assets/contract/contract_selected.png" alt="" v-if="cardType == 1">
        <div class="">
          <div class="selected-positions-cod" :class="{'selected_cardType':cardType == 1}">单项持仓</div>
          <div class="position-explanation">单向持仓模式下，一个合约只允许持有一个方向的仓位</div>
        </div>
      </div>
      <div class="flex" @click="positionModeSelected(2)">
        <img class="single-position-img" src="../../assets/contract/contract_no_selected.png" alt="" v-if="cardType == 1">
        <img class="single-position-img" src="../../assets/contract/contract_selected.png" alt="" v-if="cardType == 2">
        <div class="">
          <div class="selected-positions" :class="{'selected_cardType':cardType == 2}">双向持仓</div>
          <div class="position-explanation">双向持仓模式下，一个合约可允许同时持有多空两个方向的仓位，并且同一合约下不同方向仓位风险对冲</div>
        </div>
      </div>
    </div>
    <div slot="footer" class="lock-house-footer">
      <div class="day-surplus">
        {{$t('确认')}}
      </div>
    </div>
  </PositionModeBulletBox>
  <!--  仓位模式End-->

  <!--  保证金模式 Strat-->
  <PositionModeBulletBox :switch="popWindowSecurityDepositMode" @close="popWindowCloseSecurityDepositMode" >
    <div slot="header">
      <div class="position-mode-tit">BTCUSDT保证金模式</div>
    </div>
    <div slot="article"class="pop-lock-house">
      <div class="flex">
        <div class="selected-mode selected-cardType-left" :class="{'selected-cardType-mode':cardType == 1}" @click="positionModeSelected(1)">全仓</div>
        <div class="selected-mode" :class="{'selected-cardType-mode':cardType == 2}" @click="positionModeSelected(2)">逐仓</div>
      </div>
      <div class="mode-only">· 调整保证金模式仅对当前合约生效。</div>
      <div class="mode-error">当前合约存在持仓和挂单，不支持调整保证金模式</div>
      <div class="money-confirmation" @click="">确认</div>
      <!--确认不可点击状态-->
<!--      <div class="money-confirmation-ash">确认</div>-->
      <div class="money-explanation">
        <div class="money-explanation-one">什么是全仓和逐仓模式？</div>
        <div class="money-explanation-two">全仓保证金模式: 所有仓位共用合约账户中的保证金来避免仓位被强平。在强平事件中，交易者可能会损失所有的保证金和仓位。</div>
        <div class="money-explanation-three">逐仓保证金模式: 一定数量保证金被分配到仓位上。如果仓位保证金亏损到低于维持保证金的水平，仓位将被强平。在逐仓模式下，您可以为这个仓位添加和减少保证金。</div>
      </div>
    </div>
  </PositionModeBulletBox>
  <!--  保证金模式 End-->

  <!--  调整杠杆 Strat-->
  <PositionModeBulletBox :switch="popWindowAdjustingLever" @close="popWindowCloseAdjustingLever" >
    <div slot="header">
      <div class="position-mode-tit">调整杠杆</div>
    </div>
    <div slot="article"class="pop-lock-house">
      <div class="body">
        <div class="block"  style="margin: 4px auto">
          <!-- <span class="demonstration">默认</span> -->
          <p :class="'radiusa_blu1'" v-if="value>=0" @click="value=0" style="cursor:pointer"></p>
          <p :class="'radiusa_blu2'" v-if="value>=15"@click="value=15" style="cursor:pointer"></p>
          <p :class="'radiusa_blu3'" v-if="value>=30"@click="value=30" style="cursor:pointer"></p>
          <p :class="'radiusa_blu4'" v-if="value>=45"@click="value=45" style="cursor:pointer"></p>
          <p :class="'radiusa_blu5'" v-if="value>=60"@click="value=60" style="cursor:pointer"></p>
          <p :class="'radiusa_blu6'" v-if="value>=75"@click="value=75" style="cursor:pointer"></p>
          <el-slider
            v-model="value"
            :class="'el-slider_blu'"
            :marks="marks"
            show-input
            :max="75"
            :min="1"
            :format-tooltip="formatTooltip"
          >
          </el-slider>
        </div>
      </div>
      <div class="mode-only-lever">· 当前杠杆倍数最高可持有头寸： 5,000,000 USDT</div>
<!--      <div class="mode-error">当前合约存在持仓和挂单，不支持调整保证金模式</div>-->
      <div class="mode-only-lever-super">· 持仓和当前委托价值超过 1,000,000 USDT, 您的最大可用杠杆是 50x</div>
      <div class="money-confirmation" @click="">确认</div>
      <!--确认不可点击状态-->
      <!--      <div class="money-confirmation-ash">确认</div>-->
    </div>
  </PositionModeBulletBox>
  <!--  调整杠杆 End-->

  <!--计算器组件-->
  <CalculatorBommbBox :switch="openCalculator" @close="closeCalculatorWindow" :pop_width="true"></CalculatorBommbBox>
</div>

<div class="TraddingHall-container" v-else>
  <MobileTradingHall/>
</div>
