<div class="recharge-record-container">
  <Loading v-if="loading" class="min-height-all recharge-record-loading-container border_radius"/>


  <div class="border_box border_radius">

    <!--充值记录title begin-->
    <div class="detail-header flex">
      <!--时间-->
      <span class="time">{{$t('time')}}</span>

      <!--币种-->
      <span class="currency">{{$t('currency')}}</span>

      <!--类型-->
      <span class="type">{{$t('type')}}</span>

      <!--数量-->
      <span class="total">{{$t('amount')}}</span>

      <!--状态-->
      <span class="state">{{$t('state')}}</span>

<!--      &lt;!&ndash;地址&ndash;&gt;-->
<!--      <span class="address">{{$t('address')}}</span>-->

      <!--备注-->
      <!--<span class="th-prompt">{{$t('remarks')}}</span>-->
    </div>
    <!--充值记录title end-->

    <template v-if="!loading">

      <!--充值记录具体 begin-->
      <ul class="detail-container" >
        <!--各条记录 begin-->
        <li class="detail-li" v-for="(item,index) in computedTransferList" :key="item.id">
          <div class="li-container flex">

            <!--时间 begin-->
            <span class="time">{{$globalFunc.formatDateUitl(item.updatedAt,'YYYY-MM-DD hh:mm:ss')}}</span>
            <!--时间 end-->

            <!--币种 begin-->
            <span class="currency">{{item.currency == 'USDT2' ? 'USDT' :item.currency}}</span>
            <!--币种 end-->

            <!--类型-->
            <span class="type">{{item.transferFrom == 'OTC' ? '从法币到钱包':'从钱包到法币'}}</span>

            <!--数量 begin-->
            <span class="total">{{toFixed(item.amount,8)}}</span>
            <!--数量 end-->

            <!--状态 begin-->
            <span class="state">
              <span class="state_text">{{item.done=='SUCCESS' ? '成功': '失败'}}</span>
            </span>
            <!--状态 end-->

<!--            &lt;!&ndash;地址 begin&ndash;&gt;-->
<!--            <div class="address address-detail flex">-->
<!--              <div class="address-detail-item flex">-->
<!--                <span class="address-title">{{$t('rechargeAddress')}}:</span>-->
<!--                <span>{{item.toAddress}}</span>-->
<!--              </div>-->
<!--              <div class="address-detail-item flex" v-if="item.memoAddress">-->
<!--                <span class="address-title">memo:</span>-->
<!--                <span class="memo-input">{{item.memoAddress}}</span>-->
<!--              </div>-->
<!--              <div class="relative address-detail-item flex">-->
<!--                <span class="address-title">TXID:</span>-->
<!--                &lt;!&ndash;<span class="uniqueId-text txt-green pointer" :ref="item.id">{{item.uniqueId}}</span>&ndash;&gt;-->
<!--                <input type="text" readonly :value="item.uniqueId" class="uniqueId-input unit-input pointer text_blue"-->
<!--                       :ref="item.id" @click="clickCheck(item)">-->
<!--                <span class="copy-btn text_blue pointer"-->
<!--                      @click="clickCopy(item.id)">{{$t('copy')}}</span>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash;地址 end&ndash;&gt;-->


            <!--备注 begin-->
            <!--<span class="th-prompt">-&#45;&#45;</span>-->
            <!--备注 end-->
          </div>
        </li>
        <!--各条记录 begin-->


        <!--如果没有记录 begin-->
        <li class="detail-li-no-data" v-if="computedTransferList.length===0">
          <div class="no-data-content">
            <img src="../../assets/assetPageRecord/no-order-light.png" alt="">
            <div class="no-record">{{$t('noRecord')}}</div>
          </div>

<!--          <div class="li-container flex">-->
<!--            <span class="currency">-&#45;&#45;</span>-->
<!--            <span class="time">-&#45;&#45;</span>-->
<!--            <span class="total">-&#45;&#45;</span>-->
<!--            <span class="address address-detail flex">-->
<!--            &lt;!&ndash;<span>&ndash;&gt;-->
<!--              &lt;!&ndash;<span class="address-title">{{$t('rechargeAddress')}}:</span>&ndash;&gt;-->
<!--              &lt;!&ndash;<span>-&#45;&#45;</span>&ndash;&gt;-->
<!--              &lt;!&ndash;&lt;!&ndash;<input type="text" readonly :value="item.toAddress" class="toAddress-input unit-input">&ndash;&gt;&ndash;&gt;-->
<!--              &lt;!&ndash;</span>&ndash;&gt;-->
<!--              &lt;!&ndash;<div class="relative">&ndash;&gt;-->
<!--              &lt;!&ndash;<span>&ndash;&gt;-->
<!--              &lt;!&ndash;&lt;!&ndash;<span class="address-title">TXID:</span>&ndash;&gt;&ndash;&gt;-->
<!--              &lt;!&ndash;&lt;!&ndash;<span class="uniqueId-text txt-green pointer">-&#45;&#45;</span>&ndash;&gt;&ndash;&gt;-->
<!--              &lt;!&ndash;&lt;!&ndash; -&#45;&#45;&ndash;&gt;&ndash;&gt;-->
<!--              &lt;!&ndash;</span>&ndash;&gt;-->
<!--              &lt;!&ndash;</div>&ndash;&gt;-->
<!--            -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--          </span>-->
<!--            <span class="state">-&#45;&#45;</span>-->
<!--            &lt;!&ndash;            <span class="th-prompt">-&#45;&#45;</span>&ndash;&gt;-->
<!--          </div>-->
        </li>
        <!--如果没有记录 end-->


      </ul>
      <!--充值记录具体 end-->

      <!--加载更多 begin-->
      <div class="loading-more" v-if="loadingMoreShow">
        <span v-if="!loadingMoreShowing" @click="loadingMore">{{$t('loadingMore')}}</span>
        <span v-if="loadingMoreShowing"><Loading/></span>
      </div>
      <!--加载更多 end-->


    </template>
  </div>
  <!--<Loading v-if="loading"/>-->

  <PopupPrompt :popOpen="popOpen" :popClose="popClose" :popType="popType" :popText="popText"/>


</div>
