<div class="workorderinfo-wrap min-width ">

  <div class="workorderinfo-linklist-box txt-big txt-light">
    <span><router-link class="" :to="{ path: '/index/help/wordOrder'}"
                       style="color: #4a4d54">{{$t('title')}}</router-link></span>
    <span> > </span>
    <span><router-link class="" :to="{ path: '/index/help/workOrderList'}"
                       style="color: #4a4d54">{{$t('myRequest')}}</router-link></span>
    <span> > </span>
    <span>{{$t('myActivite')}}</span>

  </div>


  <div class="workorderinfo-timelist-box flex-colum txt-small txt-light">
    <span>{{$t('orderCreated')}}:{{$globalFunc.formatDateUitl(orderInfo.createTime,'YYYY-MM-DD hh:mm:ss') }}</span>
    <span>{{$t('lastActivity')}}:{{orderInfo.comments >0 &&$globalFunc.formatDateUitl(orderInfo.comments[0].timestamp,'YYYY-MM-DD hh:mm:ss') || ''}}</span>
  </div>

  <div class="workorderinfo-box flex-colum txt-nomal txt-light">

    <div class="workorderinfo-userinfo-box flex-row">
      <div class="workorderinfo-userinfo-imgname flex-row">
        <div class="userinfo-imgname-img">
          <img src="" alt="" width="60" height="60">
        </div>
        <div class="flex-colum userinfo-imgname-name">
          <span>{{$t('userName')}} : {{userEmail}}</span>
          <span>{{$t('userId')}} : {{userId}}</span>
        </div>
      </div>
      <div class="flex-colum">
        <div class="workorderinfo-paidui-box flex-row">
          <span class="workorderinfo-paidui">
            {{orderInfo.status == 1 && $t('Submitted') || ''}}
            {{orderInfo.status == 5 && $t('Pending') || ''}}
            {{orderInfo.status == 10 && $t('Processing') || ''}}
            {{orderInfo.status == 20 && $t('Processed') || ''}}
          </span>
        </div>

        <div style="margin-top: 12px;">
          <span class="workorderinfo-ordernum">{{$t('orderId')}}:{{orderInfo.id}}</span>
        </div>
      </div>
    </div>


    <div class="workorderinfo-case">{{orderInfo.title}}</div>

    <div class="workorderinfo-miaoshu">{{$t('form_descript')}}:</div>
    <div class="workorderinfo-neirong">{{orderInfo.content}}</div>

    <template v-if="custom" v-for="item in custom">
      <div class="workorderinfo-miaoshu">{{item.name === 'C2C' ? $t('c2cOrder') :item.name}}:</div>
      <div class="workorderinfo-case workorderinfo-case-detail">{{item.value}}</div>
    </template>

    <div class="workorderinfo-miaoshu2 flex-row">


      <div>
        {{$t('file')}}:&nbsp;&nbsp;
      </div>


      <div v-for=" wj in orderInfo.attachments">
        <div><a :href='wj.url+"?download="+wj.name'>{{wj.name}}</a>&nbsp;&nbsp;</div>
      </div>

    </div>


    <!--<ul v-for=" wj in orderInfo.attachments">-->
    <!--<li><a :href="wj.url">{{wj.name}}</a></li>-->
    <!--</ul>-->


    <!--<div class="workorderinfo-case" v-for=" wj in orderInfo.attachments">-->
    <!--<a :href="wj.url">{{wj.name}}</a>-->
    <!--</div>-->


    <ul style="width: 67.03%;height: 300px;overflow-y: auto;border: 1px solid #f2f2f2">
      <li style="width: 100%;" v-for="item in history">

        <div class="workorderinfo-EUNEX" :class="item.staffId !== 231029 &&'txt-green'||''">{{item.staffId !== 231029 &&
          'EUNEX：' || '我：'}}
        </div>

        <div :class="item.staffId !== 226491&&'workorderinfo-btcre txt-green'||'workorderinfo-medores'">
          {{item.comment}}
        </div>


      </li>
    </ul>
    <div class="workorderinfo-add txt-green" @click="addDialogue">+{{$t('addtalk')}}</div>

    <div class="workorder_add_hide" v-if="textArea">
      <textarea v-model="comment" class="help-text-area" maxlength="240"></textarea>
      <!--<div class="forms_group">-->
      <!--<label>{{$t('file')}}</label>-->
      <!--<div class="update_file">-->
      <!--<span @click="updateFile"><img src="../../assets/update-2.png">{{$t('file_descript_1')}}</span>{{$t('file_descript_2')}}-->
      <!--</div>-->
      <!--<input ref="update" class="display_none" type="file" name="file" @change="changeUpdate">-->
      <!--</div>-->
      <!--<div class="forms_group">-->
      <!--<font>{{$t('file_descript_3')}}</font>-->
      <!--<ul class="updata_list">-->
      <!--<li v-for="item in file_names">{{item.name}}</li>-->
      <!--</ul>-->
      <!--</div>-->
    </div>


    <div class="workorderinfo-submit-btn" v-on:click="replyOrder()">
      {{$t('submit')}}
    </div>
    <PopupPrompt :popType="popType" :popText="popText" :popOpen="promptOpen" :popClose="closePrompt"></PopupPrompt>
  </div>


</div>

