<div class="fund-container">
  <div class="fund-title">
    <div class="fund-title-img flex">
      <img src="../assets/PC_fund_banner.png" alt="" class="fund-title-img">
    </div>
    <div class="fund-title-content">
      <div class="fund-title-center">
        <!--基金产品 begin-->
        <router-link to="/index/financialFund/fundProducts" class="fund-products" active-class="text-yellow">
         {{$t('product')}}
        </router-link>
        <!--基金产品 end-->
        <!--基金理财 begin-->
        <router-link to="/index/financialFund/fundAssets" class="fund-products" active-class="text-yellow">
         {{$t('assets')}}
        </router-link>
        <!--基金理财 end-->
      </div>
    </div>
    <div class="fund-detail">
      <router-view></router-view>
    </div>
  </div>
</div>
