<div class="fund-asset-container">
  <Loading v-if="loading"></Loading>
  <div class="fund-asset-content" v-if="!loading">
    <!--背景图-->
    <div class="fund-asset-background"></div>

    <div class="fund-asset-income-content">
      <!--累计收益图-->
      <div class="fund-asset-income flex">
        <div class="fund-asset-total-income">
          <div class="fund-asset-total-incom-title">{{$t('totalIncome')}}</div>
          <div class="fund-asset-total-incom-amount">{{$globalFunc.accFixed(accAdd(totalBalance ,newQuantity),4)}} USDT</div>
        </div>
        <div class="fund-asset-total-income">
          <div class="fund-asset-total-incom-title">{{$t('cumulativeTotalRevenue')}}</div>
          <div class="fund-asset-total-incom-amount">{{$globalFunc.accFixed(newQuantity,4)}} USDT</div>
        </div>
        <!--最新收益-->
        <div class="fund-asset-total-income">
          <div class="fund-asset-total-incom-title">{{$t('latestEarnings')}}</div>
          <div class="fund-asset-total-incom-amount">{{$globalFunc.accFixed(newQuantity,4)}} USDT</div>
        </div>
      </div>

      <!--空隙-->
      <div class="fund-asset-null"></div>

      <!--基金收益状态-->
      <div class="fund-asset-status">
        <!--状态title-->
        <div class="fund-asset-status-title flex">
          <div class="fund-asset-status-subscription pointer" :class="{'selected':selectedType===1}" @click="getAssetStatus(1)">{{$t('underSubscription')}}</div>
          <div class="fund-asset-status-subscription pointer" :class="{'selected':selectedType===2}" @click="getAssetStatus(2)">{{$t('revenue')}}</div>
          <div class="fund-asset-status-subscription pointer" :class="{'selected':selectedType===3}" @click="getAssetStatus(3)">{{$t('hasEnded')}}</div>
        </div>

        <!--申购中-->
        <div class="fund-asset-status-containter pointer flex" v-if="selectedType === 1" @click="gotoDetails(item)" v-for="(item,index) in purchaseList" :key="index">
          <div class="fund-asset-status-containter-left flex">
            <div class="fund-asset-status-nper">{{$t('blockLove')}}{{item.drawCNName}}-{{Number(item.period)}}{{$t('period')}}</div>
            <div class="fund-asset-status-acount">
              <span class="fund-asset-status-text">{{$t('numberOfCopiesPurchased')}}</span>
              <span class="fund-asset-status-number">{{item.successed}}</span>
            </div>
          </div>
          <div class="fund-asset-status-containter-right flex">
            <div class="sub-scription">{{$t('goToPurchase')}}</div>
            <div><img src="../assets/go_detail.png" alt="" class="go-detail"></div>
          </div>
        </div>

        <!--收益中-->
        <div class="fund-asset-status-containter pointer flex" v-if="selectedType === 2" @click="gotoDetails(item)" v-for="(item,index) in incomeList" :key="index">
          <div class="fund-asset-status-containter-left flex">
            <div class="fund-asset-status-nper">{{$t('blockLove')}}{{item.drawCNName}}-{{Number(item.period)}}{{$t('period')}}</div>
            <div class="fund-asset-status-acount">
              <span class="fund-asset-status-text">{{$t('numberOfCopiesPurchased')}}</span>
              <span class="fund-asset-status-number">{{item.successed}}</span>

            </div>
          </div>
          <div class="fund-asset-status-containter-right flex">
            <div class="sub-scription">{{$t('revenue')}}</div>
            <div><img src="../assets/go_detail.png" alt="" class="go-detail"></div>
          </div>
        </div>

        <!--已结束-->
        <div class="fund-asset-status-containter pointer flex" v-if="selectedType === 3" @click="gotoDetails(item)" v-for="(item,index) in hasEndedList" :key="index">
          <div class="fund-asset-status-containter-left flex">
            <div class="fund-asset-status-nper">{{$t('blockLove')}}{{item.drawCNName}}-{{Number(item.period)}}{{$t('period')}}</div>
            <div class="fund-asset-status-acount">
              <span class="fund-asset-status-text">{{$t('numberOfCopiesPurchased')}}</span>
              <span class="fund-asset-status-number">{{item.successed}}</span>
            </div>
          </div>
          <div class="fund-asset-status-containter-right flex">
            <div class="sub-scription">{{$t('hasEnded')}}</div>
            <div><img src="../assets/go_detail.png" alt="" class="go-detail"></div>
          </div>
        </div>
      </div>
    </div>

    <!--参与详情弹框-->
    <PopupWindow :switch="openFundDitail" @close="closeFundDitail">
      <div slot="header" class="fund-details-title">{{$t('detailsOfParticipation')}}</div>
      <div slot="article" class="fund-details-article">
        <div class="fund-text-content">
          <!--本期收益-->
          <div class="fund-current-income" v-if="selectedType == 3">
            <div>{{$t('currentIncome')}}（USDT）</div>
            <div class="fund-current-income-amount">123456765432</div>
          </div>
          <!--中奖号码-->
          <div class="fund-text flex" v-if="dataList.projectId == 1">
            <div class="text">{{$t('winningNumber')}}：</div>
            <div class="content-status">{{selectedType == 1 && nonce?  $t('notExtracted'): nonce}}
              <span class="content-status-inspection" v-if="dataList.projectId == 1 && selectedType != 1">{{$t('immediateInspection')}}</span>
            </div>
          </div>
          <!--抽签号码-->
          <div class="fund-text flex" v-if="dataList.projectId == 1">
            <div class="text">{{$t('drawNumbers')}}：</div>
            <div class="content">{{drawNumbers.toString().replace(/,/ig,'、') || '--'}}</div>
          </div>
          <!--申购时间-->
          <div class="fund-text flex">
            <div class="text">{{$t('purchaseTime')}}：</div>
            <div class="content">{{formatDateUitl(dataList.purchaseTime)}}</div>
          </div>
          <!--参与份数-->
          <div class="fund-text flex">
            <div class="text">{{$t('numberOfParticipants')}}：</div>
            <div class="content">{{dataList.successed}}</div>
          </div>
<!--          &lt;!&ndash;项目编号&ndash;&gt;-->
<!--          <div class="fund-text flex">-->
<!--            <div class="text">项目编号:</div>-->
<!--            <div class="content">BT0000008</div>-->
<!--          </div>-->
          <!--期数-->
          <div class="fund-text flex">
            <div class="text">{{$t('nper')}}：</div>
            <div class="content">{{$t('No')}} {{Number(dataList.period)}} {{$t('period')}}</div>
          </div>
        </div>
        <div class="fund-current-see pointer" @click="goTopPriodDetails()">
          {{$t('viewCurrentSubscription')}}
          <img src="../assets/see_details.png" alt="">
        </div>
      </div>
    </PopupWindow>

    <!--本期申购弹框-->
    <PopupWindow :switch="openFundPurchase" @close="closeFundPurchase">
      <div slot="header" class="fund-details-title">{{$t('currentSubscription')}}</div>
      <div slot="article" class="fund-details-article">
        <div class="fund-text-content">
          <!--顶部title-->
          <div class="fund-current flex">
            <div class="type">{{$t('subscriptionTime')}}</div>
            <div class="amount">{{$t('numberOfSubscriptions')}}</div>
            <div class="detail" v-if="projectId == 1">{{$t('lotteryNumber')}}</div>
            <div class="num">UID</div>
          </div>
          <!--无数据-->
          <div class="no-data-box" v-if="currentBuyList.length === 0">
            <img class="no-data-img" src="" alt="">
            <!-- ../assets/mobileForecastRecord/no_record_img.png-->
            <div class="no-data-text">{{$t('noPurchaseRecord')}}~</div>
          </div>
          <!--有数据-->
          <div v-if="currentBuyList.length != 0">

            <div class="fund-data-list">
              <div class="forecast-record-item"
                   v-for="(v,index) in currentBuyList" :key="index">
                <div class="type">{{$globalFunc.formatDateUitl(v.purchaseTime,'MM-DD hh:mm:ss')}}</div>
                <div class="amount">{{v.amount}}</div>
                <div class="detail" v-if="projectId == 1">{{v.presaleNo}}</div>
                <div class="num">
                <span >
                    <span class="mobile-record-winning" v-if="v.type=='FIRST'">
                     <img src="../assets/one_star.png" alt="">
                  </span>
                  <span class="mobile-record-winning" v-if="v.type=='SECOND'">
                     <img src="../assets/two_star.png" alt="">
                  </span>
                  <span class="mobile-record-winning" v-if="v.type=='THIRD'">
                     <img src="../assets/three_star.png" alt="">
                  </span>
                </span>
                  {{v.userId}}
                </div>
              </div>
              <div v-if="currentBuyList.length !== 0 && isShowGetMoreRecord === true && !ajaxWithdrawFlag" class="withdraw-list-btn-get-more pointer" @click="getTkfTickets">{{$t('loadMore')}}</div>
              <div class="withdraw-list-no-more" v-if="currentBuyList.length !== 0 && isShowGetMoreRecord === false">{{$t('haveBeenCompleted')}}</div>

            </div>
            <!--    <div v-if="ajaxWithdrawFlag" class="mobile-forecast-record-loading">-->
            <!--      <Loading/>-->
            <!--    </div>-->
          </div>

        </div>

      </div>
<!--      <div slot="footer"></div>-->
    </PopupWindow>
  </div>

</div>
