<div class="fund-buy-activity">
  <Loading v-if="loading"/>
  <!--非ios头部-->
  <div v-show="!isApp" class="fund-buy-header-title">
    <div class="fund-buy-header-title-back-icon" @click="jumpToBack()">
      <img class="fund-buy-header-title-back-icon-img" src="../../LuckyDraw/assets/mobileForecastHomePage/back_icon.png" alt="">
    </div>
    <div class="fund-buy-header-title-text">基金申购</div>
  </div>



  <!--主体部分-->
  <div class="fund-buy-main" :class="isApp ? 'fund-buy-main-app' : ''" v-if="!loading">

    <div class="fund-buy-input-box">

      <div class="fund-buy-input-title">购买份数</div>
      <div class="fund-buy-input-item flex-between">
        <input class="fund-buy-input-item-left" v-model="inputUserCopies" @input="inputUserCopiesInput"  placeholder="请输入购买份数">
        <div class="fund-buy-input-item-account flex-between">{{inputUserCopies ? toFixed(accMul((period.quota || 0),(inputUserCopies||0)),0):''}}<span class="buy-currency">{{'USDT'}}</span>
        </div>
      </div>
      <div class="fund-buy-input-desc">剩余份数{{remainingCopies}}</div>
    </div>
    <div class="fund-buy-section-title">基金说明</div>
    <div class="fund-description-info">
      <div class="fund-description-info-item">
        <div class="fund-description-info-left">基金名称</div>
        <div class="fund-description-info-right">{{drawCNName}}</div>
      </div>
      <div class="fund-description-info-item">
        <div class="fund-description-info-left">每份额度</div>
        <div class="fund-description-info-right">{{period.quota}} USDT</div>
      </div>
      <div class="fund-description-info-item">
        <div class="fund-description-info-left">发行份数</div>
        <div class="fund-description-info-right">{{period.copies}} 份</div>
      </div>
      <div class="fund-description-info-item">
        <div class="fund-description-info-left">基金周期</div>
        <div class="fund-description-info-right">{{period.cycle}} 天</div>
      </div>
      <div class="fund-description-info-item">
        <div class="fund-description-info-left">基金开始</div>
        <div class="fund-description-info-right">{{formatDateUitl(period.startTime)}}</div>
      </div>
      <div class="fund-description-info-item">
        <div class="fund-description-info-left">基金结束</div>
        <div class="fund-description-info-right">{{formatDateUitl(period.endTime)}}</div>
      </div>
      <div class="fund-description-info-item">
        <div class="fund-description-info-left">收益类型</div>
        <div class="fund-description-info-right">{{remainingType == 'BREAKEVEN' ? '保本型' : '非保本型'}}</div>
      </div>
      <div class="fund-description-info-item" v-if="$route.query.id == 1">
        <div class="fund-description-info-left">策略确定</div>
        <div class="fund-description-info-right">{{'申购时获随机购买编号，赎回时根据以太坊区块 Nonce 值与购买编号的绝对差值大小，确定理财策略星级。'}}</div>
      </div>
    </div>
    <div class="fund-buy-section-title">策略种类</div>
    <div class="fund-buy-type-of-strategy">
      <!--每种产品一张图片-->
      <!--一见倾心-->
      <img class="fund-buy-type-of-strategy-img" v-if="$route.query.id == 1 " src="../assets/first_one_pic.png" alt="">
      <!--三生三生-->
      <img class="fund-buy-type-of-strategy-img" v-if="$route.query.id == 2 "  src="../assets/three_two_pic.png" alt="">
      <!--风雨同路-->
      <img class="fund-buy-type-of-strategy-img" v-if="$route.query.id == 3 " src="../assets/same_way_three.png" alt="">
      <!--天长地久-->
      <img class="fund-buy-type-of-strategy-img" v-if="$route.query.id == 4 " src="../assets/forever_four.png" alt="">
    </div>
  </div>

  <!--底部按钮-->
  <div class="fund-buy-btn-box" v-if="!loading">
    <div class="fund-buy-btn" v-if="subscription" @click="toBuyFund()">
      申购
    </div>
    <div v-if="!subscription" class="fund-buy-btn">
      申购中
    </div>
  </div>

  <PopupPrompt :popOpen="popOpen" :popClose="closePop" :popType="popType" :popText="popText" :waitTime="waitTime" />
</div>
