<div class="fund-buy-activity">
  <Loading v-if="loading"/>

  <div v-if="!loading">
    <div class="record-container2">
      <div class="header">
        <router-link :to="{name:'fundProducts'}" class="header-title">
          <!--区块恋首页-->
          {{$t('HomePage')}}
        </router-link>
        <span class="spanbf">></span>
        <!--我的参与记录-->
        {{drawCNName}}—{{period}}{{$t('Period')}}
      </div>
    </div>



    <div class="fund-buy-name">
      <div class="fund-buy-draw">{{drawCNName}}-{{period}}{{$t('Period')}}</div>
      <div class="fund-buy-con">
        <div>
          <div class="flex">
            <div class="fund-buy-per">
              <!--            每份额度-->
              <p class="fund-buy-input-desc">{{$t('share')}}</p>
              <p class="fund-buy-p">{{period1.quota}} USDT</p>
            </div>
            <div class="fund-buy-per">
              <!--            发行份数-->
              <p class="fund-buy-input-desc">{{$t('copies')}}</p>
              <p class="fund-buy-p">{{period1.copies}} {{$t('Part')}}</p>
            </div>
            <div class="none-border">
              <!--            基金周期-->
              <p class="fund-buy-input-desc">{{$t('cycle')}}</p>
              <p class="fund-buy-p">{{period1.cycle}} {{$t('day')}}</p>
            </div>
          </div>

          <div>
            <div class="fund-status flex">
              <!--            基金开始-->
              <div class="fund-with">
                <span class="fund-bak">{{$t('FundStart')}}</span>
                <span class="fund-cc">{{formatDateUitl(period1.startTime)}}</span>
              </div>
              <!--            基金结束-->
              <div>
                <span class="fund-bak">{{$t('EndOfFund')}}</span>
                <span class="fund-cc">{{formatDateUitl(period1.endTime)}}</span>
              </div>
            </div>
            <!--收益类型-->
            <div class="fund-shou">
              <span class="fund-bak">{{$t('IncomeType')}}</span>
              <span class="fund-cc">{{remainingType == 'BREAKEVEN' ? $t('guaranteed') : $t('preservation')}}</span>
            </div>
            <!--          策略确定-->
            <div class="fund-shou">
              <span class="fund-bak">{{$t('determination')}}</span>
              <span class="fund-cc">{{$t('purchasing')}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="fund-buy-con-right">

        <!--      购买份数-->
        <div class="fund-fen">{{$t('purchased')}}</div>

        <div class="input-div flex-between">
          <input class="fund-buy-input-item-left" v-model="inputUserCopies" @input="inputUserCopiesInput"  :placeholder='$t("enter")'>
          <div class="fund-buy-input-item-account flex-between">{{inputUserCopies ? toFixed(accMul((period1.quota || 0),(inputUserCopies||0)),0):''}}<span class="buy-currency">{{'USDT'}}</span></div>
        </div>
        <!--剩余份数-->
        <div class="fund-buy-input-desc">{{$t('Remaining')}}<span class="buy-currency-fen">{{remainingCopies}}</span></div>

        <!--底部按钮-->
        <!--      申购-->
        <div class="purchase-div" v-if="subscription" @click="toBuyFund()">{{$t('Purchase')}}</div>
        <!--      申购中-->
        <div v-if="!subscription" class="purchase-div">{{$t('subscription')}}</div>
      </div>

    </div>

    <div class="fund-buy-se">
      <!--    策略种类-->
      <div class="fund-buy-section-title">{{$t('Under')}}</div>
      <div class="fund-buy-type-of-strategy">
        <!--每种产品一张图片-->
        <!--一见倾心-->
        <img class="fund-buy-type-of-strategy-img" v-if="$route.query.id == 1 " src="../assets/onePC.png" alt="">
        <!--三生三生-->
        <img class="fund-buy-type-of-strategy-img" v-if="$route.query.id == 2 "  src="../assets/twoPC.png" alt="">
        <!--风雨同路-->
        <img class="fund-buy-type-of-strategy-img" v-if="$route.query.id == 3 " src="../assets/threePC.png" alt="">
        <!--天长地久-->
        <img class="fund-buy-type-of-strategy-img" v-if="$route.query.id == 4 " src="../assets/fourPC.png" alt="">
      </div>
    </div>

  </div>





  <PopupPrompt :popOpen="popOpen" :popClose="closePop" :popType="popType" :popText="popText" :waitTime="waitTime" />
</div>
