
<div class="pc-products">
  <div class="fund-products-pc">
    <div>
      <Loading v-if="loading"/>
      <div class="product-name flex">
<!--        一见倾心-->
        <div class="produc-selected" :class="{'h5-item-selected':recordType===0}"
             @click="changeTag(0)">{{$t('loveat')}}</div>
        <!--      <div class="product-vertical">|</div>-->
<!--        三生三世-->
        <div class="produc-selected" :class="{'h5-item-selected':recordType===1}"
             @click="changeTag(1)">{{$t('Three')}}</div>
        <!--      <div class="product-vertical">|</div>-->
<!--        风雨同路-->
        <div class="produc-selected" :class="{'h5-item-selected':recordType===2}"
             @click="changeTag(2)">{{$t('unmatchable')}}</div>
        <!--      <div class="product-vertical">|</div>-->
<!--        天长地久-->
        <div class="produc-selected" :class="{'h5-item-selected':recordType===3}"
             @click="changeTag(3)">{{$t('universe')}}</div>
      </div>


      <ul v-if="recordType===0">
        <li>
        <li v-for="(item,index) in computedPeriodList">
          <div class="TKF-take-the-lead">
            <div class="TKF-take-the">{{firstList.drawCNName}}-{{Number(item.period)}}{{$t('Period')}}</div>
            <div class="flex">
              <div class="pc-limit flex">
                <div class="TKF-take-the-box">
<!--                  每份额度-->
                  <span class="each-copy color-a8">{{$t('share')}}</span>
                  <span class="each-copy padding-top color-bik">{{firstList.quota}}<span class="TKF-usdt">{{firstList.currency}}</span></span>
                </div>
<!--                发行份数-->
                <div class="TKF-take-the-box">
                  <span class="each-copy color-a8">{{$t('copies')}}</span>
                  <span class="each-copy padding-top color-bik">{{firstList.totalCopies}}</span>
                </div>
<!--                基金周期-->
                <div class="TKF-take-the-box">
                  <span class="each-copy color-a8">{{$t('cycle')}}</span>
                  <span class="each-copy padding-top color-bik">{{firstList.cycle}} {{$t('day')}}</span>
                </div>
              </div>


              <div class="pc-Income1">
<!--                理财策略（年化收益率)-->
                <span class="strategy">{{$t('Strategy')}}</span>

                <div class="pc-Income flex">

                  <div class="TKF-take-the-box-lv">
                    <span class="each-copy color-bik-pc" v-if="JSON.parse(item.extra).FIRST.yield != '99900'">{{JSON.parse(item.extra).FIRST.yield * 10 * 10}}%</span>
                    <span class="each-copy color-bik-pc" v-if="JSON.parse(item.extra).FIRST.yield == '99900'">999 {{$t('times')}}</span>
                    <span class="each-copy color-a8">{{JSON.parse(item.extra).FIRST.copies}} {{$t('Part')}}</span>
                  </div>
                  <div class="TKF-take-the-box-lv">
                    <span class="each-copy color-bik-pc">{{JSON.parse(item.extra).SECOND.yield * 10 * 10}}%</span>
                    <span class="each-copy color-a8">{{JSON.parse(item.extra).SECOND.copies}} {{$t('Part')}}</span>
                  </div>
                  <div class="TKF-take-the-box-lv">
                    <span class="each-copy color-bik-pc">{{JSON.parse(item.extra).THIRD.yield * 10 * 10}}%</span>
                    <span class="each-copy color-a8">{{JSON.parse(item.extra).THIRD.copies}} {{$t('Part')}}</span>
                  </div>
                </div>
              </div>
              <div>
                <!--                  <div class="TKF-purchase" @click="goToPurchase(firstList,item.period)">申购</div>-->
<!--                去申购-->
                <div class="TKF-purchase" v-if="firstList.surplus != 0 && Number(nowTime) < Number(item.startTime)" @click="goToPurchase(firstList.id, firstList.currency, item.period)">{{$t('purchase')}}</div>
<!--                售罄-->
                <div class="TKF-purchase1" v-if="firstList.surplus == 0 || Number(nowTime) >= Number(item.startTime)">{{$t('soldOut')}}</div>
                <!--                  <div class="TKF-purchase1" v-if="Number(nowTime) >= Number(endTime1)">售罄</div>-->
              </div>

            </div>
          </div>
        </li>
        </li>

      </ul>

      <ul v-if="recordType===1">
        <li>
        <li v-for="(item,index) in computedPeriodListQ">
          <div class="TKF-take-the-lead">
            <div class="TKF-take-the">{{secondList.drawCNName}}-{{Number(item.period)}}{{$t('Period')}}</div>
            <div class="flex">
              <div class="pc-limit flex">
                <div class="TKF-take-the-box">
                  <span class="each-copy color-a8">{{$t('share')}}</span>
                  <span class="each-copy padding-top color-bik">{{secondList.quota}}<span class="TKF-usdt">{{secondList.currency}}</span></span>
                </div>
                <div class="TKF-take-the-box">
                  <span class="each-copy color-a8">{{$t('copies')}}</span>
                  <span class="each-copy padding-top color-bik">{{secondList.totalCopies}}</span>
                </div>
                <div class="TKF-take-the-box">
                  <span class="each-copy color-a8">{{$t('cycle')}}</span>
                  <span class="each-copy padding-top color-bik">{{secondList.cycle}} {{$t('day')}}</span>
                </div>
              </div>


              <div class="pc-Income1">
                <span class="strategy">{{$t('Strategy')}}</span>

                <div class="pc-Income flex">

                  <div class="TKF-take-the-box-lv">
                    <span class="each-copy color-bik-pc">{{JSON.parse(item.extra).FIRST.yield * 10 * 10}}%</span>
                    <span class="each-copy color-a8">{{JSON.parse(item.extra).FIRST.copies}} {{$t('Part')}}</span>
                  </div>
                  <div class="TKF-take-the-box-lv">
                    <span class="each-copy color-bik-pc">{{JSON.parse(item.extra).SECOND.yield * 10 * 10}}%</span>
                    <span class="each-copy color-a8">{{JSON.parse(item.extra).SECOND.copies}} {{$t('Part')}}</span>
                  </div>
                  <div class="TKF-take-the-box-lv">
                    <span class="each-copy color-bik-pc">{{JSON.parse(item.extra).THIRD.yield * 10 * 10}}%</span>
                    <span class="each-copy color-a8">{{JSON.parse(item.extra).THIRD.copies}} {{$t('Part')}}</span>
                  </div>
                </div>
              </div>
              <div>
                <!--                  <div class="TKF-purchase" @click="goToPurchase(firstList,item.period)">申购</div>-->
                <div class="TKF-purchase" v-if="secondList.surplus != 0 && Number(nowTime) < Number(item.startTime)" @click="goToPurchase(secondList.id, secondList.currency, item.period)">{{$t('purchase')}}</div>
                <div class="TKF-purchase1" v-if="secondList.surplus == 0 || Number(nowTime) >= Number(item.startTime)">{{$t('soldOut')}}</div>
                <!--                  <div class="TKF-purchase1" v-if="Number(nowTime) >= Number(endTime1)">售罄</div>-->
              </div>

            </div>
          </div>
        </li>
        </li>

      </ul>


      <ul v-if="recordType===2">
        <li>
        <li v-for="(item,index) in computedThirdListB">
          <div class="TKF-take-the-lead">
            <div class="TKF-take-the">{{thirdList.drawCNName}}-{{Number(item.period)}}{{$t('Period')}}</div>
            <div class="flex">
              <div class="pc-limit flex">
                <div class="TKF-take-the-box">
                  <span class="each-copy color-a8">{{$t('share')}}</span>
                  <span class="each-copy padding-top color-bik">{{thirdList.quota}}<span class="TKF-usdt">{{thirdList.currency}}</span></span>
                </div>
                <div class="TKF-take-the-box">
                  <span class="each-copy color-a8">{{$t('copies')}}</span>
                  <span class="each-copy padding-top color-bik">{{thirdList.totalCopies}}</span>
                </div>
                <div class="TKF-take-the-box">
                  <span class="each-copy color-a8">{{$t('cycle')}}</span>
                  <span class="each-copy padding-top color-bik">{{thirdList.cycle}} {{$t('day')}}</span>
                </div>
              </div>


              <div class="pc-Income1">
                <span class="strategy">{{$t('Strategy')}}</span>

                <div class="pc-Income flex">

                  <div class="TKF-take-the-box-lv">
                    <span class="each-copy color-bik-pc">{{JSON.parse(item.extra).FIRST.yield * 10 * 10}}%</span>
                    <span class="each-copy color-a8">{{JSON.parse(item.extra).FIRST.copies}} {{$t('Part')}}</span>
                  </div>
                  <div class="TKF-take-the-box-lv">
                    <span class="each-copy color-bik-pc">{{JSON.parse(item.extra).SECOND.yield * 10 * 10}}%</span>
                    <span class="each-copy color-a8">{{JSON.parse(item.extra).SECOND.copies}} {{$t('Part')}}</span>
                  </div>
                  <div class="TKF-take-the-box-lv">
                    <span class="each-copy color-bik-pc">{{JSON.parse(item.extra).THIRD.yield * 10 * 10}}%</span>
                    <span class="each-copy color-a8">{{JSON.parse(item.extra).THIRD.copies}} {{$t('Part')}}</span>
                  </div>
                </div>
              </div>
              <div>
                <!--                  <div class="TKF-purchase" @click="goToPurchase(firstList,item.period)">申购</div>-->
                <div class="TKF-purchase" v-if="thirdList.surplus != 0 && Number(nowTime) < Number(item.startTime)" @click="goToPurchase(thirdList.id, thirdList.currency, item.period)">{{$t('purchase')}}</div>
                <div class="TKF-purchase1" v-if="thirdList.surplus == 0 || Number(nowTime) >= Number(item.startTime)">{{$t('soldOut')}}</div>
              </div>

            </div>
          </div>
        </li>
        </li>

      </ul>

      <ul v-if="recordType===3">
        <li>
        <li v-for="(item,index) in computedFourthList">
          <div class="TKF-take-the-lead">
            <div class="TKF-take-the">{{fourthList.drawCNName}}-{{Number(item.period)}}{{$t('Period')}}</div>
            <div class="flex">
              <div class="pc-limit flex">
                <div class="TKF-take-the-box">
                  <span class="each-copy color-a8">{{$t('share')}}</span>
                  <span class="each-copy padding-top color-bik">{{fourthList.quota}}<span class="TKF-usdt">{{fourthList.currency}}</span></span>
                </div>
                <div class="TKF-take-the-box">
                  <span class="each-copy color-a8">{{$t('copies')}}</span>
                  <span class="each-copy padding-top color-bik">{{fourthList.totalCopies}}</span>
                </div>
                <div class="TKF-take-the-box">
                  <span class="each-copy color-a8">{{$t('cycle')}}</span>
                  <span class="each-copy padding-top color-bik">{{fourthList.cycle}} {{$t('day')}}</span>
                </div>
              </div>


              <div class="pc-Income1">
                <span class="strategy">{{$t('Strategy')}}</span>

                <div class="pc-Income flex">

                  <div class="TKF-take-the-box-lv">
                    <span class="each-copy color-bik-pc">{{JSON.parse(item.extra).FIRST.yield * 10 * 10}}%</span>
                    <span class="each-copy color-a8">{{JSON.parse(item.extra).FIRST.copies}} {{$t('Part')}}</span>
                  </div>
                  <div class="TKF-take-the-box-lv">
                    <span class="each-copy color-bik-pc">{{JSON.parse(item.extra).SECOND.yield * 10 * 10}}%</span>
                    <span class="each-copy color-a8">{{JSON.parse(item.extra).SECOND.copies}} {{$t('Part')}}</span>
                  </div>
                  <div class="TKF-take-the-box-lv">
                    <span class="each-copy color-bik-pc">{{JSON.parse(item.extra).THIRD.yield * 10 * 10}}%</span>
                    <span class="each-copy color-a8">{{JSON.parse(item.extra).THIRD.copies}} {{$t('Part')}}</span>
                  </div>
                </div>
              </div>
              <div>
                <!--                  <div class="TKF-purchase" @click="goToPurchase(firstList,item.period)">申购</div>-->
                <div class="TKF-purchase" v-if="fourthList.surplus != 0 && Number(nowTime) < Number(item.startTime)" @click="goToPurchase(fourthList.id, fourthList.currency, item.period)">{{$t('purchase')}}</div>
                <div class="TKF-purchase1" v-if="fourthList.surplus == 0 || Number(nowTime) >= Number(item.startTime)">{{$t('soldOut')}}</div>
                <!--                  <div class="TKF-purchase1" v-if="Number(nowTime) >= Number(endTime1)">售罄</div>-->
              </div>

            </div>
          </div>
        </li>
        </li>

      </ul>

    </div>
  </div>
</div>

