<div class="mobile-fund-container">
<!--  <Loading v-if="loading"></Loading>-->
  <!--本期购买顶部-->
  <div v-if="!isApp" class="mobile-fund-top flex">
    <div class="mobile-fund-image" @click="returnFundDetails">
      <img src="../../LuckyDraw/assets/mobileForecastHomePage/back_icon.png" alt="" class="mobile-fund-top-img">
    </div>
    <div class="mobile-fund-top-title">本期申购</div>
  </div>

  <!--本期购买 中奖编号-->
<!--  <div class="examine flex" >-->
<!--    <div>本期中奖号码:12</div>-->
<!--    <div class="examine-img">-->
<!--      <span class="examine-text">立即查验</span>-->
<!--      <img src="../assets/go_detail.png" alt="">-->
<!--    </div>-->
<!--  </div>-->
  <!--无数据-->
  <div class="no-data-box" v-if="currentBuyList.length === 0">

    <img class="no-data-img" src="" alt="">
    <!-- ../assets/mobileForecastRecord/no_record_img.png-->
    <div class="no-data-text">暂无购买记录~</div>
  </div>
  <!--有数据-->
  <div class="mobile-fund-current flex">
    <div class="type">认购时间</div>
    <div class="amount">认购数量</div>
    <div class="detail">抽奖号码</div>
    <div class="num">UID</div>
  </div>
  <!--数据内容-->
  <div v-if="currentBuyList.length != 0">

    <div class="mobile-forecast-record-item"
         v-for="(v,index) in currentBuyList" :key="index">
      <div class="type">{{formatDateUitl(v.createdAt)}}</div>
      <div class="amount">{{v.amount}}</div>
      <div class="detail">{{v.presaleNo}}</div>
      <div class="num">
<!--        <span class="mobile-record-winning">-->
<!--           <img src="../assets/one_star.png" alt="">-->
<!--        </span>-->
        {{v.userId}}</div>
    </div>

    <div v-if="c" class="mobile-forecast-record-loading">
      <Loading/>
    </div>

    <div class="withdraw-list-no-more" v-if="currentBuyList.length !== 0 && isShowGetMoreRecord">已经全部加载完毕</div>
  </div>
  <div v-if="currentBuyList.length !== 0 && isShowGetMoreRecord === false && !ajaxWithdrawFlag" class="withdraw-list-btn-get-more" @click="getTkfTickets">加载更多</div>
  </div>
</div>
