<div class="mobile-fund-container">

<!--  TKF顶部-->
  <div v-if="!isApp" class="mobile-fund-top flex">
    <div class="mobile-fund-image" @click="returnNewH5homePage">
      <img src="../../LuckyDraw/assets/mobileForecastHomePage/back_icon.png" alt="" class="mobile-fund-top-img">
    </div>
    <div class="mobile-fund-top-title">区块恋</div>
  </div>

  <div class="mobile-fund-title">
    <div class="mobile-fund-title-img">
      <img src="../assets/fund_banner.png" alt="" class="mobile-fund-title-img">
    </div>
    <div class="mobile-fund-title-content flex">
      <!--基金产品 begin-->
      <router-link to="/index/mobileFinancialFund/mobileFundProducts" class="fund-products flex-center" active-class="text-white">
        产品
      </router-link>
      <!--基金产品 end-->
      <!--基金理财 begin-->
      <router-link to="/index/mobileFinancialFund/mobileFundAssets" class="fund-products flex-center" active-class="selected text-white">
        理财
      </router-link>
      <!--基金理财 end-->
    </div>
    <div class="mobile-fund-detail">
      <router-view></router-view>
    </div>
  </div>
<!--  <div class="clear"></div>-->
</div>
