<div class="mobile-fund-container">
  <!--详情顶部-->
  <div v-if="!isApp" class="mobile-fund-top flex">
    <div class="mobile-fund-image" @click="returnMobileFundAssets">
      <img src="../../LuckyDraw/assets/mobileForecastHomePage/back_icon.png" alt="" class="mobile-fund-top-img">
    </div>
    <div class="mobile-fund-top-title">详情</div>
  </div>

  <!--空隙-->
  <div v-if="!isApp" class="mobile-fund-null"/>

  <div class="mobile-fund-content">
    <!--标题及状态-->
    <div class="mobile-fund-content-title flex">
      <div>区块恋之{{fundPeriods.drawCNName}}-{{Number(fundPeriods.period)}}期</div>
      <div v-if="$route.query.selectedType == 1">申购中</div>
      <div v-if="$route.query.selectedType == 2">收益中</div>
      <div v-if="$route.query.selectedType == 3">已结束</div>

    </div>

    <div class="mobile-fund-content-content">
      <!--已结束-->
      <div class="mobile-fund-income" v-if="$route.query.selectedType == 3">本期收益（USDT）
        <div class="mobile-fund-income-number">700,123.25</div>
      </div>
      <!--中间内容-->
      <div class="mobile-fund-income-cont">
        <div class="mobile-fund-text-content">
          <!--份数-->
          <div class="mobile-fund-text flex">
            <div class="text">份数</div>
            <div class="content">{{JSON.parse(this.$route.query.item).successed}}</div>
          </div>
          <!--每份-->
          <div class="mobile-fund-text flex">
            <div class="text">每份</div>
            <div class="content">{{prices}}</div>
          </div>
          <!--申购时间-->
          <div class="mobile-fund-text flex">
            <div class="text">申购时间</div>
            <div class="content">{{(JSON.parse(this.$route.query.item).purchaseTime)}}</div>
          </div>
          <!--中奖号码-->
          <div class="mobile-fund-text flex">
            <div class="text">中奖号码</div>
            <div class="content">{{$route.query.selectedType == 1 ? '未抽取':''}}</div>
          </div>
          <!--抽签号码-->
          <div class="mobile-fund-text flex">
            <div class="text">抽签号码</div>
            <div class="content">{{drawNumbers}}</div>
          </div>
        </div>
      </div>
      <!--跳转本期申购-->
<!--      <div class="mobile-fund-income-foot" @click="gotoFundCurrent">-->
<!--        查看本期申购-->
<!--        <img src="../assets/see_details.png" alt="">-->
<!--      </div>-->
    </div>
  </div>


</div>
