<div class="mobile-fund-container">
<!--  <Loading v-if="loading"></Loading>-->
  <!--本期购买顶部-->
  <div v-if="!isApp" class="mobile-fund-top flex">
    <div class="mobile-fund-image" @click="returnFundDetails">
      <img src="../../LuckyDraw/assets/mobileForecastHomePage/back_icon.png" alt="" class="mobile-fund-top-img">
    </div>
    <div class="mobile-fund-top-title">本期申购</div>
  </div>

  <!--本期购买 中奖编号-->
  <div class="examine flex" v-if="JSON.parse($route.query.item).projectId == 1 && $route.query.selectedType != 1">
    <div>本期中奖号码：{{nonce}}</div>
    <div class="examine-img" @click="gotoNonce()">
      <span class="examine-text">立即查验</span>
      <img src="../assets/go_detail.png" alt="">
    </div>
  </div>
  <!--无数据-->
  <div class="no-data-box" v-if="currentBuyList.length === 0">

    <img class="no-data-img" src="" alt="">
    <!-- ../assets/mobileForecastRecord/no_record_img.png-->
    <div class="no-data-text">暂无购买记录~</div>
  </div>
  <!--有数据-->
  <div class="mobile-fund-current flex">
    <div :class="JSON.parse($route.query.item).projectId == 1? 'type':'type1'">认购时间</div>
    <div class="amount">认购数量</div>
    <div class="detail" v-if="JSON.parse($route.query.item).projectId == 1">抽奖号码</div>
    <div class="num">UID</div>
  </div>
  <!--数据内容-->
  <div v-if="currentBuyList.length != 0">

    <div class="mobile-forecast-record-item"
         :class="v.userId == userId ? 'background-orange':''"
         v-for="(v,index) in currentBuyList" :key="index"
         >
      <div :class="JSON.parse($route.query.item).projectId == 1? 'type':'type1'">{{formatDateUitl(v.purchaseTime)}}</div>
      <div class="amount">{{v.amount}}</div>
      <div class="detail" v-if="JSON.parse($route.query.item).projectId == 1">{{v.presaleNo}}</div>
      <div class="num">
       <span v-if="JSON.parse($route.query.item).projectId == 1">
          <span class="mobile-record-winning" v-if="v.type=='FIRST'">
           <img src="../assets/one_star.png" alt="">
        </span>
        <span class="mobile-record-winning" v-if="v.type=='SECOND'">
           <img src="../assets/two_star.png" alt="">
        </span>
        <span class="mobile-record-winning" v-if="v.type=='THIRD'">
           <img src="../assets/three_star.png" alt="">
        </span>
       </span>
        <span>{{v.userId}}</span>
      </div>
    </div>

<!--    <div v-if="ajaxWithdrawFlag" class="mobile-forecast-record-loading">-->
<!--      <Loading/>-->
<!--    </div>-->

  </div>
  <div v-if="currentBuyList.length !== 0 && isShowGetMoreRecord === true && !ajaxWithdrawFlag" class="withdraw-list-btn-get-more" @click="getTkfTickets">加载更多</div>
  <div class="withdraw-list-no-more" v-if="currentBuyList.length !== 0 && isShowGetMoreRecord === false">已经全部加载完毕</div>
  </div>
</div>
